@model QuickSoft.Models.States
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Emirate</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "State", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.StateID)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.StateCode, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.StateCode, new { @class = "form-control", autofocus = "autofocus", })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.StateName, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", autofocus = "autofocus", @required = "required" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Country", null, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("CountryID", (SelectList)ViewBag.States, "", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}

