
@model QuickSoft.Models.protaskdashbordorder
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Item Size</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "taskdashboardorder", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.protaskdashboardid)

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.task, new { @class = "control-label" }) *
            @Html.DropDownListFor(m => m.task, (SelectList)ViewBag.statuses)
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.dashboardposition, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.dashboardposition, (SelectList)ViewBag.position)
        </div>
    </div>
    <div class="col-md-12">
        <div class="bootstrap-timepicker">
            @Html.LabelFor(m => m.duration, new { @class = "control-label" })*
            <div class="input-group">
                @Html.TextBoxFor(m => m.duration, new { @class = "form-control timepicker", @autocomplete = "off", @value = "", @type = "number", @style = "width:150px" })

            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
