@model QuickSoft.ViewModel.BOMViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Bill Of Material</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bill Of Material</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("BOM Name:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.BOMName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item To Produce :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Quantity :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Quantity)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Unit Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemUnitName)
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr class="bg-gray">
                                    <th>Item</th>
                                    <th>Item Unit</th>
                                    <th>Quantity</th>
                                    <th>Account</th>
                                </tr>
                                @foreach (var salesum in Model.BOMItemvmodel)
                                {
                                    <tr>
                                        <td>@salesum.ItemName</td>
                                        <td>@salesum.ItemUnit</td>
                                        <td>@salesum.Quantity</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>