@model QuickSoft.ViewModel.DeveloperViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Developer</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "Developer", FormMethod.Post, new { id = "createform" }))
            {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.Section)
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.DeveloperCode, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.DeveloperCode, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.DeveloperName, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.DeveloperName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Developer Name", tabindex = 2 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alias", tabindex = 15 } })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Contact Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 10 })
            </div>
            @if (@ViewBag.CityCheck == 0)
                {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.City, (SelectList)ViewBag.SCity, "", new { id = "ddlCity", @class = "form-control select2", tabindex = 11 })
                        <span class="input-group-btn">
                            <a href="/City/Create" class="modal-create btn btn-success btn-flat" title="Add New City"><i class="fa fa-1x fa-plus-circle"></i></a>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 11 } })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm statss", @name = "State", tabindex = 12 })

                @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State", tabindex = 12 } })*@
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 13 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 14 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 15 } })
            </div>
            @*<div class="form-group col-md-4">
                      @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                      @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 16 } })
                </div>*@
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax", tabindex = 17 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", tabindex = 18 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference", tabindex = 19 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ContactPerson", tabindex = 20 } })
            </div>
            <div class="form-group col-md-4">
                <div id="mobiles"></div>
            </div>
        </div>

        <div class="box-body">
            <div id="DocDetails"></div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Bank Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 21 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 22 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 23 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 24 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 25 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                <div class="input-group">
                    @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @value = 0, @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 26 } })
                    <div class="input-group-addon no-padding dcwidth">
                        @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 27 })
                    </div>
                </div>
            </div>
            
        </div>

        <div class="box-header with-border">
            <h5 class="box-title">Other Details</h5>
        </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TaxRegNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TaxRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax RegNo", tabindex = 3 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditLimit, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 4 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditPeriod, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Period", tabindex = 5 } })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-flat">Days</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Location", tabindex = 6 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Sales Person", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Empl, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 7 })
                </div>
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" tabindex="27" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" tabindex="28" />
                </div>
            </div>

            @*@section scripts{
                @Scripts.Render("~/js/jqueryval")
                @Scripts.Render("~/js/bootstrap-datepicker")
                @Scripts.Render("~/js/Mobile")
                @Scripts.Render("~/js/docexp")*@


        <script>
            $(".Employ").select2({
                placeholder: 'Search by Name ',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "empty"

                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            $(".txtype").select2();
            $(".statss").select2();
            AddMobile();
            Adddoctypeexp();
        </script>
    }
</div>