@{
    ViewBag.Title = "Till Date";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";

}
<style>
    .datepicker {
        border-radius: 0px !important;
        /*height:30px!important;*/
    }

    .input-sm {
        height: 30px !important;
    }

    .fa-calendar {
        margin-left: -5px !important;
    }
</style>
<div class="box box-default" style="display:none;">
    <div class="box-header with-border">
        <h3 class="box-title">Search Stock Report</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />

            <div class="form-group col-md-3">
                @Html.Label("Date", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("OnDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            @if (@ViewBag.EnableMCcheck == 0)
            {
                <div class="form-group col-md-3">
                    @Html.Label("Material Center", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { id = "ddlMC", @class = "form-control input-sm" })
                </div>
            }
            <div class="form-group col-md-2">
                <br />

                <label class="control-label"><input type="checkbox" value="true" name="stockable" id="stockable" />  Include non-stockable Items</label>

            </div>
            <div class="form-group col-md-4">
                <br />

                <label class="control-label"><input type="checkbox" value="true" name="zerostockitem" id="zerostockitem" checked="checked" />  Hide Zero Stock Items</label>

            </div>
            <div class="form-group col-md-12 lblpadding">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    <div class="box-header with-border">
        <h3 class="box-title">Stock Report</h3>
    </div>
    <div class="box-body">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <input type="hidden" id="itemname" value="@ViewBag.ItemName" />
        <input type="hidden" id="PoNo" value="@ViewBag.PartNoCheck" />
        <input type="hidden" id="mcname" value="@ViewBag.MCSName" />

        <div class="box-body">
            <table class="display table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1" class="text-left">S/N</td>
                        <td data-priority="1" class="text-left">Item</td>
                        @*<td data-priority="5" class="headeralign">Stock In</td>
                            <td data-priority="5" class="headeralign">Stock Out</td>*@

                        <td data-priority="5" class="text-right">Primary Stock</td>
                        <td data-priority="5" class="text-right">Primary Unit</td>
                        <td data-priority="5" class="text-right">Secondary Stock</td>
                        <td data-priority="5" class="text-right">Secondary Unit</td>
                        <td data-priority="5" class="text-right">Cost</td>
                        <td data-priority="5" class="text-right">Stock Value</td>
                        <td data-priority="1" class="text-right">Sale Rate</td>
                        <td data-priority="5" class="text-right">Sale Value</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        @*<th></th>
                            <th></th>*@
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
    $('.date').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        allowInputToggle: true
    });
    $(document).ready(function () {
       // $('#StockReport').hide();
        CallMC();
        $('#OnDate').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#OnDate').datepicker('setDate', today);

    });
        $('#ddlMC').change(function () {

        });

    function searchData(data) {
        data.stockable = $('input[name="stockable"]').prop('checked');
        data.zerostockitem = $('input[name="zerostockitem"]').prop('checked');
        data.ddmc = getQueryString1('ddmc');
        data.todatte = $("#OnDate").val();
        data.srctxt = getQueryString1('srctxt');
        data.category = getQueryString1('category');
        data.itemid = getQueryString1('itemid');
        data.brandid = getQueryString1('brandid');
    }

        function showdatatable(){
            oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar,
                "destroy": true,
                "language": {
                    'loadingRecords': '&nbsp;',
                    'processing': '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading..n.</span>'
                },
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                //"deferLoading": 0, // disable default ajax loading
                "bLengthChange": false,
                "paging": true,
                "responsive": true,
                "pageLength": 5000,
                "timeout": 300000,
                "ordering": true,
                "columnDefs": [{
                    "targets": [6],
                    "sClass": "numberright"
                }],
                "ajax": {
                    "url": '/Inventory/GetStockmcwise',
                    "data": function (data) {
                        data = searchData(data);
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "IItemID", "name": "IItemID",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "name": "IItemName", "data": function (data) {
                            return data.IItemCode + " - " + data.IItemName;
                        }
                    },
                    {
                        "name": "ITotalQty", "data": function (data) {
                            return data.ITotalQty * data.IConFactor;
                        }, render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright"

                    },
                    { "data": "ISubUnitName", "name": "IItemUnitName", "sClass": "numberright" },
                    { "data": "ITotalQty", "name": "ITotalQty", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "IItemUnitName", "name": "ISubUnitName", "sClass": "numberright" },

                    { "data": "ITotalCost", "name": "ITotalCost", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "ITotalStockValue", "name": "ITotalStockValue", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "ISellingPrice", "name": "ISellingPrice", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    {
                        "data": function (data) {
                            if (data.IKeepStock == true) {
                                var cfactor = data.IConFactor || 1;
                                var total = (data.ITotalQty / cfactor) * data.ISellingPrice;
                                return total.toFixed(2);
                            }
                            else
                                return "";
                        },render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright"
                    },

                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        extend: 'print',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Stock Report (Item Wise)';
                        },
                        message: function () {
                            var head = '<table class="tblcompact table table-bordered"><thead>' +
                                ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Stock Report (Till Date)</h4></th></tr>' +
                                ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> </span></th></tr></thead><tbody><tr><td>';
                            return head;
                        },
                        customize: function (win) {
                            // $(win.document.body)
                            //.css('font-size', '10pt')
                            //.css('padding', '1px');
                            $(win.document.body).find('table, th,tr, td ')
                                // .css('border', 'inherit')
                                .css('font-size', '10pt')
                                .css('padding', '5px')
                                .addClass('compact');
                            $(win.document.body).append('</td></tr></tbody>')

                        }
                    }, 'copy', 'csv', //'excel',
                    {
                        extend: 'excel',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Stock Report (Item Wise)';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' Stock Report (Till Date) \n';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                    },
                    {
                        extend: 'pdf',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Stock Report (Item Wise)';
                        },
                        message: function () {

                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' Stock Report (Till Date) \n' +
                                ' Material Center - ' + $("#ddlMC option:selected").text() + ' \n';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        customize: function (doc) {
                            doc.pageMargins = [10, 10, 10, 10];
                            doc.defaultStyle.fontSize = 10;
                            doc.styles.tableHeader.fontSize = 10;
                            doc.styles.title.fontSize = 12;
                            // Header font and bg color
                            doc.styles.tableHeader.fillColor = '#d3d3d3';
                            doc.styles.tableHeader.color = 'black';
                            // Remove spaces around page title
                            doc.content[0].text = doc.content[0].text.trim();

                            //doc.styles['td:nth-child(2)'] = {
                            //    width: '100%',
                            //    'max-width': '100%'
                            //}

                            doc.content[1].table.widths = [
                                '8%',
                                '25%',
                                '10%',
                                '14%',
                                '14%',
                                '14%',
                                '14%'
                            ]


                            var objLayout = {};
                            // Horizontal line thickness
                            objLayout['hLineWidth'] = function (i) { return .5; };
                            // Vertikal line thickness
                            objLayout['vLineWidth'] = function (i) { return .5; };
                            //// Horizontal line color
                            //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                            //// Vertical line color
                            //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                            // Left padding of the cell
                            objLayout['paddingLeft'] = function (i) { return 4; };
                            // Right padding of the cell
                            objLayout['paddingRight'] = function (i) { return 4; };
                            // Inject the object in the document
                            doc.content[1].layout = objLayout;
                            // Footer font and bg color
                            doc.styles.tableFooter.fillColor = '#d3d3d3';
                            doc.styles.tableFooter.color = 'black';
                        }


                    },
                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(2).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );



                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );



                    // Total over all pages
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );


                    total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );
                    //// Total over all pages
                    total = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(8, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //// Update footer
                    $(api.column(8).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );

                    total = api
                        .column(9)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //// Update footer
                    $(api.column(9).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );
                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
        }
        var flag = 0;
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            if (flag == 0) {
                showdatatable();
                flag = 0;
        }
            else
                oTable.draw();

            $('#StockReport').show();
        });
        showdatatable();

    function reload_table() {
        oTable.clear().draw();
        oTable.ajax.reload(null, false);
    }

    $('#UserTable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            oTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $(this).addClass('dataTables_row');
        }
    });
    </script>
}
