
@{
    ViewBag.Title = "Till Date";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";

}
<style>
    .datepicker {
        border-radius: 0px !important;
        /*height:30px!important;*/
    }

    .input-sm {
        height: 30px !important;
    }

    .fa-calendar {
        margin-left: -5px !important;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Upload Product</h3>
    </div>
    <div class="box-body">
        <form action="/Inventory/uploadwordpress" method="post">
        @Html.AntiForgeryToken()
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />

            <div class="form-group col-md-12">
                @Html.Label("WordPress Url", null, new { @class = "control-label" })
           
                    @Html.TextBox("WordPressUrl","",  new { @class = "form-control", @autocomplete = "off" ,@style="width:100%"})
                 
            </div>
        
         
            <div class="form-group col-md-12 lblpadding">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Upload</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
    $('.date').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        allowInputToggle: true
    });
    $(document).ready(function () {
        $('#StockReport').hide();
        CallMC();
        $('#OnDate').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#OnDate').datepicker('setDate', today);

    });








    </script>
}