@using QuickSoft.Models
@model QuickSoft.ViewModel.ProjectDetailViewModel
@{
    ViewBag.Title = "Project Details";
    ViewBag.SubTitle = "Project Details";
    ViewBag.Active = "Master";

    var Loc = "";
    Uri uriResult;
}
@if (Model.Location != null || Model.Location != "")
{
    Loc = "<iframe src=\"" + Model.Location + "\" width=\"100%\" height=\"150\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.ProjectName)</h3>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Project List"))
            {
                <a class="btn btn-success no-border" href="/Project">
                    <i class="fa fa-fw fa-history"></i> Project List
                </a>
            }
        </div>
    </div>
    <div class="box-body">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Project"))
                    {
                        <div class="col-md-3">

                            <a class="btn btn-info no-border btn-block" href="/Project/Create">
                                <i class="glyphicon glyphicon-plus"></i> Project
                            </a>
                        </div>
                    }
                    @if (User.IsInRole("Dev") || User.IsInRole("Quotation Entry"))
                    {
                        <div class="col-md-3">

                            <a class="btn btn-info no-border btn-block" href="/Quotation/Create">
                                <i class="glyphicon glyphicon-plus"></i> Quotation
                            </a>

                        </div>
                    }
                    @if (User.IsInRole("Dev") || User.IsInRole("Deliverynote Entry"))
                    {
                        <div class="col-md-3">

                            <a class="btn btn-info no-border btn-block" href="/Deliverynote/Create">
                                <i class="glyphicon glyphicon-plus"></i> Delivery Note
                            </a>

                        </div>
                    }
                </div>

                <div class="col-md-3 lblpadding">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <span> <b>Code</b> : <a class="pull-right">@Html.DisplayFor(m => m.ProCode)</a> </span>
                            <ul class="list-group list-group-unbordered">
                                @if (Model.Note != null)
                                {
                                    <li class="list-group-item">
                                        @Model.Note
                                    </li>
                                }
                                @if (Model.Details != null)
                                {
                                    <li class="list-group-item">
                                        @Html.Raw(Model.Details)
                                    </li>
                                }
                                <li class="list-group-item">
                                    <b>Project Type</b> : <a class="pull-right"> @Html.DisplayFor(m => m.TypeName) </a>
                                </li>

                                <li class="list-group-item">
                                    <b>Project Status</b> : <a class="pull-right"> @Html.DisplayFor(m => m.ProStatus) </a>
                                </li>
                                <li class="list-group-item">
                                    <b><i class="fa fa-address-book margin-r-5"></i> @Html.DisplayFor(m => m.CustType) </b>
                                    <br />
                                    @Html.DisplayFor(m => m.CustomerName)
                                    <br />
                                    <span>Code : @Html.DisplayFor(m => m.CustomerCode)</span>
                                    <br />
                                    @if (Model.Contact != null)
                                    {
                                        if (Model.Contact.EmailId != null)
                                        {
                                            <span>Email : @Html.DisplayFor(m => m.Contact.EmailId)</span>
                                        }
                                        <br />
                                        if (Model.Contact.Phone != null)
                                        {
                                            <span> Phone : @Html.DisplayFor(m => m.Contact.Phone)</span>
                                            if (Model.Contact.Mobile != null)
                                            {
                                                <span> , @Html.DisplayFor(m => m.Contact.Mobile)</span>
                                            }
                                            <br />
                                        }
                                        else
                                        {
                                            if (Model.Contact.Mobile != null)
                                            {
                                                <span>@Html.DisplayFor(m => m.Contact.Mobile)</span>
                                            }
                                        }
                                    }
                                </li>
                                @if (!string.IsNullOrEmpty(Model.ContactPerson) && !string.IsNullOrWhiteSpace(Model.ContactPerson))
                                {
                                    <li class="list-group-item">
                                        <b><i class="fa fa-user margin-r-5"></i> Contact Person</b> :<a class="pull-right"> @Html.DisplayFor(m => m.ContactPerson)</a>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.ContactNumber) && !string.IsNullOrWhiteSpace(Model.ContactNumber))
                                {
                                    <li class="list-group-item">
                                        <b><i class="fa fa-phone margin-r-5"></i> Contact Number</b> :<a class="pull-right"> @Html.DisplayFor(m => m.ContactNumber) </a>
                                    </li>
                                }
                                <li class="list-group-item">
                                    <b><i class="fa fa-user-circle margin-r-5"></i> Sales Person</b> : <a class="pull-right"> @Html.DisplayFor(m => m.SalesPersonName) </a>
                                    <br />
                                    @if (Model.SContact != null)
                                    {
                                        if (Model.SContact.EmailId != null)
                                        {
                                            <span>Email : @Html.DisplayFor(m => m.SContact.EmailId)</span>
                                        }
                                        <br />
                                        if (Model.SContact.Phone != null)
                                        {
                                            <span> Phone : @Html.DisplayFor(m => m.SContact.Phone)</span>
                                            if (Model.SContact.Mobile != null)
                                            {
                                                <span> , @Html.DisplayFor(m => m.SContact.Mobile)</span>
                                            }
                                            <br />
                                        }
                                        else
                                        {
                                            if (Model.SContact.Mobile != null)
                                            {
                                                <span>@Html.DisplayFor(m => m.SContact.Mobile)</span>
                                            }
                                        }
                                    }
                                </li>
                                @if (Model.SalesContact != null)
                                {
                                    <li class="list-group-item">
                                        <b><i class="fa fa-user-circle-o margin-r-5"></i> Sales Reference</b> : @Html.DisplayFor(m => m.SalesContact)
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.Location) && !string.IsNullOrWhiteSpace(Model.Location))
                                {
                                    <li class="list-group-item">
                                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location : </strong>
                                        @if (Uri.TryCreate(Model.Location, UriKind.Absolute, out uriResult) && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps))
                                        {
                                        <p class="text-muted">@Html.Raw(Loc)</p>
                                        }
                                        else
                                        {
                                        <span class="pull-right">
                                            <a href="">@Html.DisplayFor(m => m.Location)</a>
                                        </span>
                                        }
                                    </li>
                                }

                                @if (Model.StartDate != null)
                                {
                                    <li class="list-group-item">
                                        <strong><i class="fa fa-clock-o margin-r-5"></i> Start Date :</strong>
                                        <span class="text-muted"> <a class="pull-right"> @Convert.ToString(string.Format("{0:dd-MM-yyyy hh:mm:ss tt}", Model.StartDate)) </a></span>
                                    </li>
                                }
                                @if (Model.EndDate != null)
                                {
                                    <li class="list-group-item">
                                        <strong><i class="fa fa-clock-o margin-r-5"></i> End Date :</strong>
                                        <span class="text-muted"><a class="pull-right"> @Convert.ToString(string.Format("{0:dd-MM-yyyy hh:mm:ss tt}", Model.EndDate)) </a></span>
                                    </li>
                                }
                            </ul>
                            @if (User.IsInRole("Dev") || User.IsInRole("Edit Project"))
                            {
                                <a class="btn btn-info btn-block" href="/Project/Edit/@Model.ProjectId">
                                    <i class="fa fa-edit"></i> <b>Edit</b>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9 lblpadding">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            @if (Model.CustType == "No Customer")
                            {
                                <li class="active"><a href="#customer" data-toggle="tab">@Html.DisplayFor(m => m.CustType)</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#customer" data-toggle="tab">@Html.DisplayFor(m => m.CustType)  Details</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="customer">
                                <div class="post">
                                    <div class="user-block">
                                        <h3 class="box-title"> @Html.DisplayFor(m => m.Customers.CustomerName)</h3>
                                        <span>Code : @Html.DisplayFor(m => m.Customers.CustomerCode)</span><br />
                                        <span>TaxRegNo : @Html.DisplayFor(m => m.Accounts.TRN)</span>
                                        <hr>
                                        <div class="row">
                                            <div class="box-body">
                                                <div class="col-sm-4 form-group">
                                                    @Html.Label("Credit Limit :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Customers.CreditLimit)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Credit Period :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Customers.CreditPeriod)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Location :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Customers.Location)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Sales Person :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.custSalePerson)
                                                </div>

                                                @if (Model.FieldMap != null && Model.FieldMap.Count > 0)
                                                {
                                                    for (int i = 0; i < Model.FieldMap.Count; i++)
                                                    {
                                                        var fmap = "";
                                                        if (Model.FieldMap[i].Field == "Ref1")
                                                        {
                                                            fmap = Model.Ref1;
                                                        }
                                                        if (Model.FieldMap[i].Field == "Ref2")
                                                        {
                                                            fmap = Model.Ref2;
                                                        }
                                                        if (Model.FieldMap[i].Field == "Ref3")
                                                        {
                                                            fmap = Model.Ref3;
                                                        }
                                                        if (Model.FieldMap[i].Field == "Ref4")
                                                        {
                                                            fmap = Model.Ref4;
                                                        }
                                                        if (Model.FieldMap[i].Field == "Ref5")
                                                        {
                                                            fmap = Model.Ref5;
                                                        }
                                                        if (@Model.FieldMap[i].FieldName != null && @fmap != null)
                                                        {
                                                            <div class="form-group col-sm-2">
                                                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                                                @fmap
                                                            </div>
                                                        }
                                                    }
                                                }

                                                @if (Model.Customers != null && !string.IsNullOrEmpty(Model.Customers.Remark) && !string.IsNullOrWhiteSpace(Model.Customers.Remark))
                                                {
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Remark :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Customers.Remark)
                                                    </div>
                                                }
                                            </div>
                                            <div class="box-header with-border">
                                                <h4 class="box-title">Contact Details</h4>
                                            </div>
                                            <div class="box-body">
                                                @if (Model.Contact != null)
                                                {
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Address :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Address)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("City  :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.City)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Emirate :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.State)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Country :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Country)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Zip :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Zip)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Phone :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Phone)
                                                    </div>
                                                    if (Model.mob.Count() > 0)
                                                    {
                                                        bool first = true;
                                                        var mval = "";
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Mobile :", null, new { @class = "control-label" })
                                                            @foreach (var upd in Model.mob)
                                                            {
                                                                mval += (first == true) ? @upd.Num : "," + @upd.Num;
                                                                first = false;
                                                            }
                                                            @mval
                                                        </div>
                                                    }
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Fax :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Fax)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Email Id :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.EmailId)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Reference :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.Reference)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Contact Person :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Contact.ContactPerson)
                                                    </div>
                                                }
                                            </div>

                                            @if (Model.Customers != null && (Model.Customers.BankName != null || Model.Customers.AccountNo != null || Model.Customers.IbanNo != null || Model.Customers.BranchName != null || Model.Customers.Swift != null))
                                            {
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">Bank Details</h4>
                                                </div>
                                                <div class="box-body">
                                                    @if (Model.Customers.BankName != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Bank Name :", null, new { @class = "control-label" })
                                                            @Html.DisplayFor(m => m.Customers.BankName)
                                                        </div>
                                                    }
                                                    @if (Model.Customers.AccountNo != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Account No :", null, new { @class = "control-label" })
                                                            @Html.DisplayFor(m => m.Customers.AccountNo)
                                                        </div>
                                                    }
                                                    @if (Model.Customers.IbanNo != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Iban No :", null, new { @class = "control-label" })
                                                            @Html.DisplayFor(m => m.Customers.IbanNo)
                                                        </div>
                                                    }
                                                    @if (Model.Customers.BranchName != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Branch Name :", null, new { @class = "control-label" })
                                                            @Html.DisplayFor(m => m.Customers.BranchName)
                                                        </div>
                                                    }
                                                    @if (Model.Customers.Swift != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            @Html.Label("Swift :", null, new { @class = "control-label" })
                                                            @Html.DisplayFor(m => m.Customers.Swift)
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>
@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {

        });

        /* function for view detail popup */
        $('#UserTable').on('click', 'a.details', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })
        /* function for view detail popup */
        $('#UserTable').on('click', 'a.viewdetails', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })



        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('#UserTable').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        /* function for delete popup */
        $('#UserTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

        $('.table').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container2');
            $(this).attr('data-toggle', 'modal');
        });
        $('.table').on('click', '.modal-close-btn', function () {
            $('#modal-container2').modal('hide');
            $('#modal-container2').removeData('bs.modal');
        });
        $('#modal-container2').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        // on call task updation
        $("#modal-edit").on('shown', function () {
            alert("Shown!");
        });

        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

    </script>
}

