@model QuickSoft.Models.Vehicleupdateviewmodal
@{
    ViewBag.Title = "Vehicle Hand over";
    ViewBag.SubTitle = "Vehicle update";
    ViewBag.Active = "Utility";
    string partialconfig = "";
    string check = "";
    string strImage = "";


    int di = 0;

}
<head>

    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <style>
        #loadingImg {
            display: none;
        }
    </style>
</head>

<div class="box box-info">
    <div class="pull-right">


    

    </div>
    <br />
    @using (Html.BeginForm("Updatetransfer", "VehicleUpdates", FormMethod.Post, new { @class = "dropzone", id = "createform", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Vehicle Hand Over</h3>
            <div class="pull-right">


            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <input type="hidden" class="form-control" id="documentRowcount" value="0" placeholder="">
        <input type="hidden" class="form-control" id="MultidocumentRowcount" value="0" placeholder="">
        <div class="row">
            @if (User.IsInRole("editvehicleemployee"))
            {
                <div class="col-md-4 col-sm-4 col-xs-12 form-group" style="">
                    @Html.Label("Using Employee From", null, new { @class = "control-label temp2" })

                    @Html.DropDownList("fromemployee", (SelectList)ViewBag.Cashier, new { id = "ddlEmployee", @class = "form-control select2" })

                </div>

            }
            else
            {
                <div class="col-md-4 col-sm-4 col-xs-12 form-group" style="pointer-events:none">
                    @Html.Label("Using Employee From", null, new { @class = "control-label temp2" })

                    @Html.DropDownList("fromemployee", (SelectList)ViewBag.Cashier, new { id = "ddlEmployee", @class = "form-control select2" })

                </div>
            }
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                @Html.Label("Vehicle", null, new { @class = "control-label temp2" })

                @Html.DropDownList("vehicleid", (SelectList)ViewBag.vehicle, "", new { id = "ddlvehicle", @class = "form-control select2" })

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                @Html.Label("To Employee", null, new { @class = "control-label temp2" })

                @Html.DropDownList("toemployee", (SelectList)ViewBag.Cashier, new { id = "ddlEmployee2", @class = "form-control select2" })

            </div>




        </div>

       


        <div class="row">
            <div class="form-group ">
                <button type="submit" id="Save" class="btn btn-success">
                    <span class="glyphicon"></span> Save
                </button>
                @*  <button type="button" class="btn btn-warning" onclick="@("window.location.href='/FileDocument/Index'");">Cancel</button>*@
            </div>

        </div>
    }
</div>

@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/wysihtml5")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/wysihtml5")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
    @Scripts.Render("~/js/Mobile")


    <script type="text/javascript">





        $(document).ready(function () {

            $("#ddlvehicle").select2({});
            $("#ddlEmployee2").select2({
                placeholder: 'Search by Name ',
                minimumInputLength: 0,
                ajax: {
                    //url: "/Employee/SearchEmployee",
                    url: "/Employee/SearchEmployeeUser",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "empty"

                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            CallEmployee();
            var max_fields = 2; //maximum input boxes allowed
            var wrapper3 = $(".input_fields_wrap3"); //Fields wrapper
            var add_button = $(".add_field_button3"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed


                    var rowno = document.getElementById('documentRowcount').value;

                    //paste here

                    x++;

                    rowno++;
                    document.getElementById('documentRowcount').value = rowno;
                }
            });
        });
        $(document).ready(function () {


        });
        var date = new Date();
        date.setDate(date.getDate());
       // $('#QuotDate').datepicker('setDate', date,);
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            setDate:date,

        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }


        /* Create function for File Document */
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });

        $('#createform').on('submit', function (e) {
            e.preventDefault();
            if ($("#createform").valid()) {
                var url = $('#createform')[0].action;
                var formData = new FormData(this);

                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });


        Dropzone.autoDiscover = false;


        Dropzone.autoDiscover = false;
        // Dropzone class:
        var myDropzone = new Dropzone(".dropzone", {
            //url: "/file/post",
            acceptedFiles: ".jpeg,.jpg,.png,.gif,.pdf",
            uploadMultiple: false,
            createImageThumbnails: true,
            addRemoveLinks: true,
            maxFiles: 10,
            maxfilesexceeded: function (file) {
                this.removeAllFiles();
                this.addFile(file);
            }, init: function () {
                this.on('error', function (file, errorMessage) {
                    var mypreview = document.getElementsByClassName('dz-error');
                    mypreview = mypreview[mypreview.length - 1];
                    mypreview.classList.toggle('dz-error');
                    mypreview.classList.toggle('dz-success');
                });
            }

        });
    </script>
}


