@model QuickSoft.Models.LeadLevel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Lead Level</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "LeadLevel", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormColor').removeData("validator");
            $('form#popupFormColor').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormColor'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.LevelId)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Level, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Level, new { @class = "form-control", autofocus = "autofocus", @placeholder = "Enter Lead Type", @required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}



