@{
    ViewBag.Title = "Search Ledger";
    ViewBag.SubTitle = "Ledger Report";
    ViewBag.Active = "Accounts";

}
<div class="box box-default" hidden>
    <div class="box-header with-border">
        <h3 class="box-title">Customer Ledger Report</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("GetLedger", "MyReports", FormMethod.Post, new { id = "fileupload", @class = "form-horizontal" }))
        {

            <div class="form-group" style="display:none">
                <label class="control-label col-md-4">Accounts Group</label>
                <div class="col-sm-4">
                    <select id="AccGroup" name="AccGroup" class="form-control select2">

                        <option value="12">Customer</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Account</label>
                <div class="col-sm-4">
                    @Html.DropDownList("AccId", (SelectList)ViewBag.Account, new { @class = "form-control input-sm select2", @required = "required", @onchange = "showsalesman(this)" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-12" id="salesman" style="text-align:center;font-weight:bold;">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">From</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("fromdate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">To</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("todate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Include PDC Entries</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="checkbox" name="pdc" id="pdc" value="true" />
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                @*<button class="btn btn-default" type="Reset" id="btnreset">Reset</button>*@
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")

    <script type="text/javascript">
        function showsalesman(obj) {
            var custid = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/Customer/getsalesman",
                data: { "id": custid },
                success: function (data) {

                    $("#salesman").text("Sales Man : "+data);
                }

            });
        }
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            //for set default date
            $('#todate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#fromdate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(new Date().getFullYear(), 11, 31);
            var priordate = new Date(new Date().getFullYear(), 0, 1);
            $('#todate').datepicker('setDate', today);
            $('#fromdate').datepicker('setDate', priordate);
            $("#AccGroup").select2({
                placeholder: 'Search Account Group By Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchGroup",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0 ,
                         //   x: "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            //$('body').on('change', '#AccGroup', function (e) {
            //    if ($(this).val() != "-1") {
            //        $("#AccId").prop('required', true);
            //    }
            //    else {
            //        $("#AccId").prop('required', false);
            //    }
            //});

            $('body').on('change', '#AccType', function (e) {
                $("#AccId").select2("val", "");
            });

            setTimeout(function () {
                $('#fileupload').submit();
            }, 0.1);

            $("#AccId").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/AccountsByType",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: ($('#AccGroup').val() != null) ? $('#AccGroup').val() : "All",
                            stt : "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
        });
    </script>
}
