@model QuickSoft.ViewModel.SupplierSubmitViewModel
@{
    int ci = 0;
    int di = 0;
    int si = 0;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Supplier</h4>
</div>
<div class="modal-body">
    <input type="hidden" class="form-control" id="RowCount" value="0" placeholder="">
    @using (Html.BeginForm("AddSupplier", "Supplier", FormMethod.Post, new { id = "createform" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            @*<div class="box-header with-border">
                    <h5 class="box-title">Customer Details</h5>
                </div>*@
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SupplierCode, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Code", @required = "required", tabindex = 1 } })
                </div>
                <div class="form-group  col-md-4">
                    @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Name", @required = "required", tabindex = 2 } })
                </div>
                <div class="form-group  col-md-4">
                    @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Alias", tabindex = 2 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TaxRegNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TaxRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax RegNo", tabindex = 3 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditLimit, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 4 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditPeriod, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Period", tabindex = 5 } })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-flat">Days</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TaxType, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.TaxType, "Select", new { @class = "form-control", tabindex = 30 })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 6 })
                </div>
            </div>
            <div class="box-header with-border">
                <h5 class="box-title">Contact Details</h5>
            </div>
            <div class="box-body">
                <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw add_field_button">Add Contact &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <br><br>

                <div class="form-group input_fields_wrap">

                    <table class="table table-condensed table-hover" id="contactTbl">

                        @{


                            if (Model != null && Model.LstContacts != null && Model.LstContacts.Count > 0)
                            {
                                List<QuickSoft.Models.Country> CountryCodelist = ViewBag.CountryCodes;

                                foreach (var item in Model.LstContacts.ToList())
                                {
                                    <div class="row" style="margin-top: 1rem;">
                                        <div class="col-md-2" hidden>
                                            <label class="control-label">id</label>
                                            <div class="input-group">
                                                <input type="text" value="@item.ContactID" name="LstContacts[@ci].ContactID" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">TypeOfContact </label>
                                            <div class="input-group">
                                                @*<input type="hidden" name="LstContacts[@(di)].ContactId" value="@item.ContactID" id="docu" />*@
                                                <select id="Type" class="form-control" name="LstContacts[@ci].ContactTypeID">
                                                    @{
                                                        List<QuickSoft.Models.ContactType> typelist = ViewBag.TypeList;

                                                        foreach (var data in typelist)
                                                        {
                                                            if (data.ContactId == item.ContactTypeID)
                                                            {
                                                                <option value="@data.ContactId" selected="selected">@data.Type</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@data.ContactId">@data.Type</option>
                                                            }
                                                        }
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <label class="control-label">First Name</label>'
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].FirstName" class="form-control" value="@item.FirstName" required>'

                                            </div>

                                        </div>
                                        <div class="col-md-3">

                                            <label class="control-label">Last Name</label>
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].LastName" class="form-control" value="@item.LastName">

                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Company Name</label>'
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].Name" class="form-control" value="@item.Name">

                                            </div>

                                        </div>

                                    </div>


                                    <div class="row" style="margin-top: 1rem;">
                                        <div class="col-md-2">
                                            <label class="control-label">Country Code</label>
                                            <div class="input-group">
                                                <select id="Type" class="form-control" name="LstContacts[@ci].CountryID">
                                                    @{
                                                        foreach (var data in CountryCodelist)
                                                        {
                                                            if (data.CountryID == item.CountryID)
                                                            {
                                                                <option value="@data.CountryID" selected="selected">@data.CountryName (@data.CountryCode)</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@data.CountryID">@data.CountryName (@data.CountryCode)</option>
                                                            }
                                                        }
                                                    }

                                                </select>
                                                @*<input type="text" value="@item.Country" name="LstContacts[@ci].Country" class="form-control">*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Mobile</label>
                                            <div class="input-group">
                                                <input type="text" value="@item.Mobile" name="LstContacts[@ci].Mobile" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Email Id</label>
                                            <div class="input-group">
                                                <input type="email" value="@item.EmailId" name="LstContacts[@ci].EmailId" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Website</label>
                                            <div class="input-group">
                                                <input type="text" value="@item.Website" name="LstContacts[@ci].Website" class="form-control">
                                            </div>
                                        </div>
                                        <a href="javascript:void(0);" class="remove_button"><i style="color:red; top: 1.3rem; position: relative; " class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>

                                    ci++;

                                }
                            }
                        }
                    </table>


                </div>
            </div>
            <div class="box-header with-border">
                <h5 class="box-title">Bank Details</h5>
            </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 19 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 20 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 21 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 22 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 23 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group">
                        @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 24 } })
                        <div class="input-group-addon no-padding dcwidth">
                            @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 25 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" tabindex=26 />
                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" tabindex="27" />
            </div>
        </div>
    }
    <script>
        $("#TaxType").select2();
        $("#State").select2();

        var Countrys = '<option value="0">--Select--</option>';

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Customer/GetCountryCode",
                data: "{}",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        Countrys += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                    }
                }
            });
        });



        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count

            var s = '<option value="0">--Select--</option>';

            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/Customer/GetContactTypes",
                    data: "{}",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                        }
                    }
                });
            });

            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed

                    var rowno = document.getElementById('RowCount').value;



                    //paste here
                    $(wrapper).append(
                        '<div class="remove">' +
                        '<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Contact Type</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control"  name="LstContacts[' + rowno + '].ContactTypeID" tabindex="30" id="ContactTypeID' + rowno + '">' + s +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">First Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].FirstName" class="form-control"  tabindex="31"  required id="firstname' + rowno + '" > ' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Last Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].lastname" class="form-control" id="lastname' + rowno + '"  tabindex="32">' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Company Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].Name" class="form-control"  id="Name' + rowno + '"  tabindex="33">' +
                        '</div>' +
                        ' </div>' +
                        '</div>' +
                        '<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Country Code</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control"  name="LstContacts[' + rowno + '].CountryID" tabindex="30"  id="CountryID' + rowno + '"  tabindex="34">' + Countrys +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Mobile Number</label>' +
                        '<div class="input-group">' +
                        '<input type="number"  name="LstContacts[' + rowno + '].Mobile" class="form-control mobilenumber select2"  required onkeypress="checkmob(this)" >' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Email Id</label>' +
                        '<div class="input-group">' +
                        '<input type="email"  name="LstContacts[' + rowno + '].EmailId" class="form-control" required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Website</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].Website" class="form-control"  id="Website' + rowno + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<a href="javascript:void(0);" class="remove_button "><i style="color:red;margin-top: 32px;margin-left: 20px; " class="fa fa-trash " aria-hidden="true"></i></a>' +
                        '</div>' +
                        '</div>' +

                        '</div>');



                    x++;

                    rowno++;
                    document.getElementById('RowCount').value = rowno;
                    callselect();



                }
            });
            $(wrapper).on('click', '.remove_button', function (e) {
                e.preventDefault();

                $(this).closest('.remove').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
    </script>
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">

    </script>
}
