@model QuickSoft.ViewModel.SupplierSubmitViewModel
@{
    ViewBag.Title = "Supplier Details";
    ViewBag.SubTitle = "Details";
    ViewBag.Active = "Master";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.SupplierName)</h3>
        <div class="pull-right col-md-2">
            @if (User.IsInRole("Dev") || User.IsInRole("Create Supplier"))
            {
                <a class="btn btn-info no-border btn-block" href="/Supplier/Create">
                    <i class="glyphicon glyphicon-plus"></i>Create
                </a>
            }
        </div>
        <div class="pull-right col-md-2">
            @if (User.IsInRole("Dev") || User.IsInRole("Supplier"))
            {
                <a class="btn btn-success no-border btn-block" href="/Supplier/">
                    <i class="fa fa-fw fa-history"></i>List
                </a>
            }
        </div>
    </div>
    <div class="box-body ">
        <section class="content">
            <style>
                .text-right {
                    display: list-item;
                    word-wrap: break-word;
                }
            </style>

            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="row">
                        <!-- Details-->
                        <div class="box-header with-border" style="text-align:center" ;>
                            <h3 class="box-title">Basic Details</h3>
                        </div>
                        <!--BankDetails-->
                        <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                <li class="list-group-item">
                                    <b>Code</b>
                                    <a class="text-right">@Html.DisplayFor(m => m.SupplierCode)</a>
                                </li>
                                @if (Model.SupplierName != null)
                                {
                                    <li class="list-group-item">
                                        <b>Name </b>
                                        <a class="text-right">@Html.DisplayFor(m => m.SupplierName)</a>
                                    </li>
                                }
                                @if (Model.Alias != null)
                                {
                                    <li class="list-group-item">
                                        <b>Alias </b>
                                        <a class="text-right">@Html.DisplayFor(m => m.Alias)</a>
                                    </li>
                                }
                                @if (Model.TaxRegNo != "")
                                {
                                    <li class="list-group-item">
                                        <b>TRN </b>
                                        <a class="text-right">@Html.DisplayFor(m => m.TaxRegNo)</a>
                                    </li>
                                }
                                @if (Model.TaxType != null)
                                {
                                    <li class="list-group-item">
                                        <b>TaxType </b>
                                        <a class="text-right">@Html.DisplayFor(m => m.TaxType)</a>
                                    </li>
                                }
                                <li class="list-group-item">
                                    <b>Credit Limit </b>
                                    <a class="text-right">@Html.DisplayFor(m => m.CreditLimit)</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Credit Period</b>
                                    <a class="text-right">@Html.DisplayFor(m => m.CreditPeriod)</a>
                                </li>
                                @if (Model.Remark != null)
                                {
                                    <li class="list-group-item">
                                        <b>Remark </b>
                                        <a class="text-right"> @Html.DisplayFor(m => m.Remark)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!--Contact Details-->
                        <div class="box box-primary">
                            <!--Contact Details-->
                            <div class="row">
                                <div class="box-header with-border" style="text-align:center" ;>
                                    <h3 class="box-title">Contact Details</h3>
                                </div>
                                <div class="box-body box-profile">
                                    <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                        @if (Model.Address != null)
                                        {
                                            <li class="list-group-item ">
                                                <b>Address</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.Address)</a>
                                            </li>
                                        }
                                        @if (Model.City != null)
                                        {
                                            <li class="list-group-item ">
                                                <b>City</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.City)</a>
                                            </li>
                                        }
                                        @if (Model.State != null)
                                        {
                                            <li class="list-group-item">
                                                <b>State</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.State)</a>

                                            </li>
                                        }
                                        @if (Model.Country != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Country</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.Country)</a>
                                            </li>
                                        }
                                        <li class="list-group-item">
                                            <b>Zip</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Zip)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Phone</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Phone)</a>
                                        </li>
                                        <li class="list-group-item">
                                            @if (Model.mobmodel != null)
                                            {

                                                <table style="width:50px" class="table table-bordered table-hover">
                                                    <tr>
                                                        <th>Mobile </th>
                                                        <th>Name </th>
                                                    </tr>
                                                    @foreach (var itemss in Model.mobmodel)
                                                    {
                                                        if (@itemss.Num != null)
                                                        {
                                                            <tr>
                                                                <td>@itemss.Num</td>
                                                                <td>@itemss.Name</td>
                                                            </tr>
                                                        }
                                                    }
                                                </table>

                                            }
                                        </li>
                                        <li class="list-group-item">
                                            <b>Fax</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Fax)</a>

                                        </li>
                                        <li class="list-group-item ">
                                            <b>Email Id</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.EmailId)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Reference</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Reference)</a>
                                        </li>
                                        @if (Model.ContactPerson != null)
                                        {
                                            <li class="list-group-item">
                                                <b>ContactPerson</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.ContactPerson)</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!--BankDetails-->
                        <div class="box box-primary">
                            <!--BankDetails-->
                            <div class="row">
                                @if (Model.BankName != null)
                                {
                                    <div class="box-header with-border" style="text-align:center" ;>
                                        <h3 class="box-title">Bank Details</h3>
                                    </div>
                                    <div class="box-body box-profile">
                                        <ul class="list-group list-group-unbordered" style="list-style-type: none;">

                                            <li class="list-group-item ">
                                                <b>Bank Name</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.BankName)</a>
                                            </li>
                                            <li class="list-group-item ">
                                                <b>Account No</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.AccountNo)</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Iban No</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.IbanNo)</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Swift</b>
                                                <a class="text-right">@Html.DisplayFor(m => m.Swift)</a>
                                            </li>
                                        </ul>

                                    </div>
                                }

                            </div>

                        </div> <!--BankDetailsClosing-->
                        <!--Account Table-->
                        <div class="box box-primary">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title" style="text-align:center">Account Details </h4>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body p-0">
                                        <table class="table table-striped">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div id="accbalancefrm" class="form-group  " style="display:none">
                                                            <label> Current Balance</label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" style="color: #3c8dbc" id="accdetailsfrm"></td>
                                                    <td style="color: #3c8dbc" id="type"></td>

                                                </tr>
                                                <tr>
                                                    <td><strong> Opening Balance</strong></td>
                                                    <!--Add table  Row data-->
                                                    <td class="text-right" style="color: #3c8dbc">@Html.DisplayFor(m => m.OpnBalance)</td>
                                                    <td style="color: #3c8dbc" id="ddlDCname">@Html.DisplayFor(m => m.DCname)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" id="refernceTable" style="font-family: 'IBM Plex Sans', sans-serif;font-weight: 400; border:none">
                                            <thead>

                                                <tr>
                                                    <th class='text-center'><strong>Invoice No</strong></th>
                                                    <th class='text-center'><strong>Date</strong></th>
                                                    <th class='text-center'><strong>Amount</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot id="posfoot">

                                                <tr class="tabletitle" style="border-top: 1px solid #898989 !important;"></tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>   <!-- End Row -->
                </div>
            </div>
            <!--Table Tab-->
            <div class="col-md-9">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                            @if (User.IsInRole("Dev") || User.IsInRole("PurchaseQuotation List"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-PQuote" data-toggle="pill" href="#Con-PQuote" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">PurchaseQuotation</a>
                                </li>
                            }
                            @if (User.IsInRole("Dev") || User.IsInRole("Purchase List"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-PEntry" data-toggle="pill" href="#Con-PEntry" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">PurchaseEntry</a>
                                </li>
                            }
                            @if (User.IsInRole("Dev") || User.IsInRole("PurchaseOrder List"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-POrder" data-toggle="pill" href="#Con-POrder" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">PurchaseOrder</a>
                                </li>
                            }
                            @if (User.IsInRole("Dev") || User.IsInRole("Purchase Return List"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-PReturn" data-toggle="pill" href="#Con-PReturn" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">PurchaseReturn</a>
                                </li>
                            }
                            @if (User.IsInRole("Dev") || User.IsInRole("POrder Outstanding"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-POrderOutstanding" data-toggle="pill" href="#Con-POrderOutstanding" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Purchase Outstanding</a>
                                </li>
                            }

                            @if (User.IsInRole("Dev") || User.IsInRole("Payable Outstanding"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-PayableOut" data-toggle="pill" href="#Con-PayableOut" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false"> Payable Outstanding</a>
                                </li>
                            }
                            @if (User.IsInRole("Dev") || User.IsInRole("Recievable Outstanding"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-Recievable" data-toggle="pill" href="#Con-Recievable" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false"> Recievable Outstanding</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
                            <div class="tab-pane fade" id="Con-PQuote" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                Purchase Quotation List
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" style="width:100px" id="PQuotTable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td data-priority="2">S/N</td>
                                                    <td data-priority="1">No</td>
                                                    <td data-priority="2">Date</td>
                                                    <td data-priority="4">Project</td>
                                                    <td data-priority="2" class="headeralign">Amount</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Con-PEntry" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                Purchase Entry List
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="PEntryTable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td data-priority="2">S/N</td>
                                                    <td data-priority="1">Invoice No</td>
                                                    <td data-priority="2">Date</td>
                                                    <td data-priority="2" class="headeralign">Total Amount</td>
                                                    <td data-priority="2" class="headeralign">Paid Amount</td>
                                                    <td data-priority="2" class="headeralign">Balance Amount</td>
                                                    <td data-priority="5">MC</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Con-POrder" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                Purchase Order List
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="POrderTable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td data-priority="2">S/N</td>
                                                    <td data-priority="1">P No</td>
                                                    <td data-priority="2">Date</td>
                                                    <td data-priority="2" class="headeralign">Amount</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="Con-PReturn" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="box-body">
                                    Purchase Return List
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="PReturn">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td data-priority="2">S/N</td>
                                                    <td data-priority="1">Voucher No</td>
                                                    <td data-priority="2">Date</td>
                                                    <td data-priority="2" class="headeralign">Total Amount</td>
                                                    <td data-priority="2" class="headeralign">Return Amount</td>
                                                    <td data-priority="2" class="headeralign">Balance Amount</td>
                                                    <td data-priority="5">Material Center</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="Con-POrderOutstanding" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="box-body">
                                    Purchase Order Outstanding Report
                                    <div class="table-responsive">
                                        <table class="table no-margin" id="POutstandingTable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td>S/N</td>
                                                    <td>Invoice No</td>
                                                    <td>Date</td>
                                                    <td>Item Details</td>
                                                    <td>Total Qty</td>
                                                    <td>Pending Qty</td>
                                                    <td>Due Date</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="Con-PayableOut" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                Payable Outstanding Report
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover dtable" id="PayableOutTable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td>S/N</td>
                                                    <td>Invoice No</td>
                                                    <td>Date</td>
                                                    <td class="headeralign">Amount</td>
                                                    <td>Days</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Con-Recievable" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                Recievable Outstanding Report
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover dtable" id="Recievable">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td>S/N</td>
                                                    <td>Invoice No</td>
                                                    <td>Date</td>
                                                    <td class="headeralign">Amount</td>
                                                    <td>Days</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--EndBody-->
                </div>
            </div>
            @*add here*@
        </section>
    </div>
    <!---END OF BODY-->
    <div class="box-body">
        <section class="content">
            @Html.HiddenFor(model => model.SupplierID)
            @Html.HiddenFor(m => m.AccountsID)
            @Html.HiddenFor(m => m.DCname)
            <div class="row">
                @*Tables*@
            </div>
        </section>
    </div>
</div>


@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/adminlte")

    <script type="text/javascript">
        $(document).ready(function () {

            var accid = $('#AccountsID').val();
            accbalancefrm(accid);

            var DC = $('#DCname').val();
            var EntryID = getQueryString('');
            $("#refernceTable").hide();

            if (EntryID != null) {
                $.ajax({
                    url: '/Supplier/GetSupplierAccRef',
                    dataType: 'json',
                    data: { EntryID: EntryID },
                    cache: true,
                    success: function (data) {
                        if (data != "") {

                            if (DC == 'Cr.') {
                                var str = "";
                                $.each(data, function (i, item) {

                                    str += "<tr class='text-center'style='color: #3c8dbc'>";
                                    str += '<td><h5><strong>' + item.BillNo + '<strong></h5></td>';

                                    str += '<td><h5>' + convertToDate(item.Date) + '</h5></td>';
                                    str += '<td><h5>' + item.Amount + '</h5></td>';

                                    str += '</tr>';
                                });
                                $("#refernceTable").show();
                                $('#posfoot').append(str);
                            }
                            else if ((DC == 'Dr.') || (DC == null)) {
                                $("#refernceTable").hide();
                            }

                        }
                    }
                });
            }

        });
        //Quotation Table
        var pQTable = $('#PQuotTable').DataTable({
            //"draw": 1,
            //"recordsTotal": 10,
            //"recordsFiltered": 10,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "bLengthChange": false,

            responsive: true,

            "ajax": {
                "url": '/PurchaseQuotation/GetPurchaseQuotation',
                "data": function (data) {
                    data.FromDate = "";
                    data.ToDate = "";
                    data.supplier = $('#SupplierID').val();
                    data.salesperson = "0";
                },
                "type": "POST",
                "datatype": "json"

            },

            "columns": [
                     {
                         "data": "PQuotationId", "name": "PQuotationId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;

                         }
                     },
                { "data": "BillNo", "name": "BillNo" },
                { "data": "PQuotDate", "name": "PQuotDate", "render": function (data) { return convertToDate(data); } },
                { "data": "ProjectName", "name": "ProjectName" },
                { "data": "PQuotGrandTotal", "name": "PQuotGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },

            ],
            "drawCallback": function (settings) {
                var table = $('#PQuotTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        //Purchase Entry Table
        var peTable = $('#PEntryTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "bLengthChange": false,
            responsive: true,

            "ajax": {
                "url": '/PurchaseEntry/GetPurchaseEntry',
                "data": function (data) {
                    data.FromDate = "";
                    data.ToDate = "";
                    data.supplier = $('#SupplierID').val();
                    data.salesperson = "0";
                },
                "type": "POST",
                "datatype": "json"

            },
            "columns": [
                     {
                         "data": "PurchaseEntryId", "name": "PurchaseEntryId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "BillNo", "name": "BillNo" },
                { "data": "PEDate", "name": "PEDate", "render": function (data) { return convertToDate(data); } },

                { "data": "PEGrandTotal", "name": "PEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "PEPaidAmount", "name": "PEPaidAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "BalanceAmt", "name": "BalanceAmt", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "MC", "name": "MaterialCenter" },

            ],
            "drawCallback": function (settings) {
                var table = $('#PQuotTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        //Purchase Order Table
        var poTable = $('#POrderTable').DataTable({
            "draw": 1,
            "recordsTotal": 10,
            "recordsFiltered": 10,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "bLengthChange": false,
            responsive: true,
            "ajax": {
                "url": '/PurchaseOrder/GetPurchaseOrder',
                "data": function (data) {
                    data.FromDate = "";
                    data.ToDate = "";
                    data.supplier = $('#SupplierID').val();
                    data.salesperson = "0";
                },
                "type": "POST",
                "datatype": "json"

            },

            "columns": [
                     {
                         "data": "PurchaseOrderId", "name": "PurchaseOrderId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "BillNo", "name": "BillNo" },
                { "data": "PODate", "name": "PODate", "render": function (data) { return convertToDate(data); } },
                { "data": "POGrandTotal", "name": "POGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },

            ],
            "drawCallback": function (settings) {
                var table = $('#PQuotTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        //Purchase Return
        var PRTable = $('#PReturn').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "bLengthChange": false,
            responsive: true,
            "ajax": {
                "url": '/PurchaseReturn/GetPurchaseReturn',
                "data": function (data) {
                    data.FromDate = "";
                    data.ToDate = "";
                    data.supplier = $('#SupplierID').val();
                    data.salesperson = "0";
                },
                "type": "POST",
                "datatype": "json"
            },
            "order": [[1, "desc"]],
            "columnDefs": [{
                "targets": [4, 5],
                "orderable": false
            }],
            "columns": [
                     {
                         "data": "PurchaseReturnId", "name": "PurchaseReturnId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "BillNo", "name": "BillNo" },
                { "data": "PRDate", "name": "PRDate", "render": function (data) { return convertToDate(data); } },

                { "data": "PRGrandTotal", "name": "PRGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "PReturnAmount", "name": "PReturnAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "BalanceAmt", "name": "BalanceAmt", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "MC", "name": "MaterialCenter" },

            ], "drawCallback": function (settings) {
                var table = $('#PRTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        //Purchase Outstanding
        var ptTable = $('#POutstandingTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paging": true,
            // "bStateSave": true,
            "bLengthChange": false,
            "pageLength": 50,
            //"deferLoading": 0,
            "ordering": false,
            Responsive: true,
            "ajax": {
                "url": '/MyReports/GetPOrderOutstanding',
                "data": function (data) {
                    data.fromdate = "";
                    data.todate = "";
                    data.supp = $('#SupplierID').val();
                },
                "type": "POST",
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columns": [
                 {
                     "data": "", "name": "",
                     "render": function (data, type, row, meta) {
                         return meta.row + meta.settings._iDisplayStart + 1;
                     }
                 },
              { "data": "Invoice", "name": "Invoice" },
              { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
              { "data": "ItemName", "name": "ItemName" },

              //{ "data": "TotQty", "name": "TotQty" },
              {
                  "data": function (data) {
                      var total;
                      if (data.total % data.ConFactor == 0) {
                          total = (data.total / data.ConFactor) + " " + data.PriUnit;
                      }
                      else {
                          var p = parseInt(((data.total / data.ConFactor) * 100) / 100);
                          var sub = (data.total % data.ConFactor).toFixed(0);
                          total = p + " " + data.PriUnit + ", " + sub + " " + data.SubUnit
                      }
                      return total;
                  }
              },
              {
                  "data": function (data) {
                      var total;
                      if (data.ptotal > 0) {
                          if (data.ptotal % data.ConFactor == 0) {
                              total = (data.ptotal / data.ConFactor) + " " + data.PriUnit;
                          }
                          else {
                              var p = parseInt(((data.ptotal / data.ConFactor) * 100) / 100);
                              var sub = (data.ptotal % data.ConFactor).toFixed(0);
                              total = p + " " + data.PriUnit + ", " + sub + " " + data.SubUnit
                          }
                      } else {
                          total = 0;
                      }
                      return total;
                  }
              },
              { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
            ],
        });

        ///PayableOutTable
        var poTable = $('#PayableOutTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paging": true,
            // "bStateSave": true,
            "bLengthChange": false,
            "pageLength": 50,
            //"deferLoading": 0,
            "ordering": true,
            Responsive: true,
            "ajax": {
                "url": '/MyReports/GetPayable',
                "data": function (data) {
                    data.CSType = "Sup";
                    data.Sups = $('#SupplierID').val();
                    data.Cuss = "0";
                    data.fromdate = "";
                    data.todate = "";
                    data.agedays = "";
                    data.TTtype = "0";
                },
                "type": "POST",
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columns": [
                 {
                     "data": "", "name": "",
                     "render": function (data, type, row, meta) {
                         return meta.row + meta.settings._iDisplayStart + 1;
                     }
                 },
              { "data": "Invoice", "name": "Invoice" },
              { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },

              { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
              { "data": "Days", "name": "Days" }
            ],
        });

        //Recievable
        var roTable = $('#Recievable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paging": true,
            // "bStateSave": true,
            "bLengthChange": false,
            "pageLength": 50,
            //"deferLoading": 0,
            "ordering": true,
            Responsive: true,
            "ajax": {
                "url": '/MyReports/GetReceivable',
                "data": function (data) {
                    data.CSType = "Sup";
                    data.Sups = $('#SupplierID').val();
                    data.Cuss = "0";
                    data.fromdate = "";
                    data.todate = "";
                    data.agedays = "";
                    data.TTtype = "0";

                },
                "type": "POST",
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columns": [
                 {
                     "data": "", "name": "",
                     "render": function (data, type, row, meta) {
                         return meta.row + meta.settings._iDisplayStart + 1;
                     }
                 },
              { "data": "Invoice", "name": "Invoice" },
              { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },

              { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
              { "data": "Days", "name": "Days" }
            ],
        });

        //Account Balance
        function accbalancefrm(accid) {
            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Accounts/ChekPurchase",
                data: JSON.stringify({ id: accid }),
                success: function (data) {
                    var amount = data.balance.amount.toFixed(2)
                    var type = data.balance.type
                    $('#accdetailsfrm').text(amount);
                    $('#type').text(type);
                    $('#accbalancefrm').show();
                    $('#type').show();
                }
            });
        }
        //Project Check
        if ('@ViewBag.ProjCheck' == "active") {

            var column1 = pQTable.column(4);
            column1.visible(true);

        }
        else {
            var column1 = pQTable.column(4);
            column1.visible(false);
        }
        function reload_table() {
            pQTable.clear().draw();
            pQTable.ajax.reload(null, false); //reload datatable ajax

        }

    </script>
}