@model QuickSoft.ViewModel.SupplierSubmitViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Supplier";
    ViewBag.Active = "Master";
    string check = "";
    string strImage = "";
    string partialconfig = "";

    int ci = 0;
    int di = 0;

}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*<link rel="stylesheet" href="~/Content/css/shared/style.css">*@
    <!-- endinject -->
    <!-- Layout styles -->
    @*<link rel="stylesheet" href="~/Content/css/demo_1/style.css">*@
    <!-- End Layout styles -->

    <style>
    </style>
</head>
<div style="padding-top:0.8rem !important; ">
    <div class="box padding-box" style=" box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;">
        @using (Html.BeginForm("Edit", "Supplier", FormMethod.Post, new { id = "editform", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="box-header with-border">
                <h3 class="box-title custom-title">EDIT SUPPLIER</h3>
                <div class="pull-right">
                    @if (@ViewBag.preEntry != 0)
                    {
                        if (User.IsInRole("Dev") || User.IsInRole("Edit Supplier"))
                        {
                            <a class="btn bg-black no-border" href="/Supplier/Edit/@ViewBag.preEntry">
                                <i class="fa fa-step-backward"></i>
                            </a>
                        }
                    }
                    @if (@ViewBag.nxtEntry != 0)
                    {
                        if (User.IsInRole("Dev") || User.IsInRole("Edit Supplier"))
                        {
                            <a class="btn bg-black no-border" href="/Supplier/Edit/@ViewBag.nxtEntry">
                                <i class="fa fa-step-forward"></i>
                            </a>
                        }
                    }
                    else
                    {
                        if (User.IsInRole("Dev") || User.IsInRole("Create Supplier"))
                        {
                            <a class="btn bg-black no-border" href="/Supplier/Create">
                                <i class="fa fa-step-forward"></i>
                            </a>
                        }
                    }
                    @if (User.IsInRole("Dev") || User.IsInRole("Supplier"))
                    {
                        <a class="btn btn-success no-border" href="/Supplier" style="background-color: rgb(0 135 255 / 0.92);">
                            <i class="fa fa-fw fa-history"></i> List
                        </a>
                    }
                </div>
            </div>
            <input type="hidden" class="form-control" id="RowCount" value="0" placeholder="">
            <input type="hidden" class="form-control" id="documentRowcount" value="0" placeholder="">
            <div class="box-body">
                @Html.HiddenFor(model => model.SupplierID)
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SupplierCode, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Code", @required = "required", tabindex = 1 } })
                </div>
                <div class="form-group  col-md-4">
                    @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Name", @required = "required", tabindex = 2 } })
                </div>
                <div class="form-group  col-md-4">
                    @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Name", tabindex = 3 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TaxRegNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TaxRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax RegNo", tabindex = 4 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditLimit, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 5 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditPeriod, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Period", tabindex = 6 } })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-flat">Days</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TaxType, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.TaxType, new { @class = "form-control", tabindex = 7 })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Addres, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Addres, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 8 })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remarks", tabindex = 9 })
                </div>
            </div>

            <div class="box-header with-border">
                <h5 class="box-title">Contact Details</h5>
            </div>
            <br>
            <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw add_field_button" tabindex = 10 id="click"> Add Contact &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            <br><br>

            <div class="form-group input_fields_wrap">

                <table class="table table-condensed table-hover" id="contactTbl">

                    @{


                        if (Model != null && Model.LstContacts != null && Model.LstContacts.Count > 0)
                        {
                            List<QuickSoft.Models.Country> CountryCodelist = ViewBag.CountryCodes;

                            foreach (var item in Model.LstContacts.ToList())
                            {
                                <div class=" remove" style=" border: 1px solid rgba(0,0,0,0.12); border-radius: 30px; margin-top:10px;Padding:10px;">

                                    <div class="col-md-1" hidden>
                                        <label class="control-label">id</label>
                                        <div class="input-group">
                                            <input type="text" value="@item.ContactID" name="LstContacts[@ci].ContactID" class="form-control" tabindex = 11>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="control-label">Contact Type</label>
                                            <div class="input-group">

                                                <select id="Type" class="form-control" name="LstContacts[@ci].ContactTypeID">
                                                    @{
                                                        List<QuickSoft.Models.ContactType> typelist = ViewBag.TypeList;

                                                        foreach (var data in typelist)
                                                        {
                                                            if (data.ContactId == item.ContactTypeID)
                                                            {
                                                                <option value="@data.ContactId" selected="selected">@data.Type</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@data.ContactId">@data.Type</option>
                                                            }
                                                        }
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <label class="control-label">First Name</label>
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].FirstName" class="form-control" value="@item.FirstName" required>

                                            </div>

                                        </div>
                                        <div class="col-md-3">

                                            <label class="control-label">Last Name</label>
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].LastName" class="form-control" value="@item.LastName">

                                            </div>

                                        </div>
                                        <div class="col-md-3">

                                            <label class="control-label">Company Name</label>
                                            <div class="input-group">

                                                <input type="text" name="LstContacts[@ci].Name" class="form-control" value="@item.Name">

                                            </div>

                                        </div>

                                    </div>


                                    <div class="row" style="margin-top: 1rem;">
                                        <div class="col-md-2">
                                            <label class="control-label">Country Code</label>
                                            <div class="input-group">
                                                <select id="Type" class="form-control" name="LstContacts[@ci].CountryID">
                                                    @{
                                                        foreach (var data in CountryCodelist)
                                                        {
                                                            if (data.CountryID == item.CountryID)
                                                            {
                                                                <option value="@data.CountryID" selected="selected">@data.CountryName (@data.CountryCode)</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@data.CountryID">@data.CountryName (@data.CountryCode)</option>
                                                            }
                                                        }
                                                    }

                                                </select>
                                                @*<input type="text" value="@item.Country" name="LstContacts[@ci].Country" class="form-control">*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Mobile Number</label>
                                            <div class="input-group">
                                                <input type="text" value="@item.Mobile" name="LstContacts[@ci].Mobile" id="Mobile[@ci]" class="form-control" placeholder="5xxxxxxxx" onchange="CheckMobileNo('', @ci)">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Email Id</label>
                                            <div class="input-group">
                                                <input type="email" value="@item.EmailId" name="LstContacts[@ci].EmailId" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Website</label>
                                            <div class="input-group">
                                                <input type="text" value="@item.Website" name="LstContacts[@ci].Website" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="javascript:void(0);" class="remove_button"><i style="color:red; margin-top: 25px;margin-left: -20px;  position: relative; " class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                    </div>

                                </div>

                                ci++;

                            }
                        }
                    }

                </table>

            </div>

            <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw add_field_button3">Documents Attach &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            <br>
            <br>
            <div class="form-group input_fields_wrap3">
                <table class="table table-condensed table-hover" id="tblDcmnt">
                    @{


                        if (Model != null && Model.SuppliDocumentviewmodel != null && Model.SuppliDocumentviewmodel.Count > 0)
                        {
                            foreach (var item in Model.SuppliDocumentviewmodel.ToList())
                            {
                                List<QuickSoft.Models.DocumentType> doclist = ViewBag.DocList;

                                <div class="row remove" style=" border: 1px solid rgba(0,0,0,0.12); border-radius: 30px; margin-top: 10px; Padding: 10px;">
                                    <div class="col-md-1" hidden>
                                        <label class="control-label">Document id</label>
                                        <div class="input-group">
                                            <input type="text" value="@item.DocumnetId" name="SuppliDocumentviewmodel[@di].DocumnetId" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Document Type</label>
                                        <div class="input-group">
                                            <select id="Type" class="form-control" name="SuppliDocumentviewmodel[@(di)].DocumentTypeID"  tabindex="30">
                                                @{
                                                    foreach (var data in doclist)
                                                    {
                                                        if (data.ID == item.DocumentTypeID)
                                                        {
                                                            <option value="@data.ID" selected="selected">@data.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.ID">@data.Name</option>
                                                        }
                                                    }
                                                }

                                            </select>
                                            @*<input type="text" value="@item.DoucumentType" name="LstCutomerDocument[@di].DoucumentType" class="form-control">*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Expiry</label>
                                        <div class="input-group">
                                            <input type="date" value="@item.Expiry.ToString("yyyy-MM-dd")" name="SuppliDocumentviewmodel[@di].Expiry" class="form-control" tabindex="31">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Notes</label>
                                        <div class="input-group">
                                            <input type="text" value="@item.Notes" name="SuppliDocumentviewmodel[@di].Notes" class="form-control" tabindex="32">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-9">
                                        <label class="control-label">Choose Image</label>
                                        <div class="input-group">
                                            <input type="file" value="@item.FilePath" title="@item.FilePath" name="SuppliDocumentviewmodel[@di].FilePath" class="form-control file-upload-info" tabindex="33">
                                            <input type="hidden" value="@item.filenamelead" title="@item.filenamelead" name="SuppliDocumentviewmodel[@di].filenamelead">

                                        </div>
                                    </div>
                                    <div class="col-md-1 col-3" style="padding-top: 1.5rem;">
                                        <a href="/uploads/supplierdocuments/@item.filenamelead" value="@item.filenamelead" name="SuppliDocumentviewmodel[@di].filenamelead" target="_new" style="width:3rem; margin-left:0rem;">Open</a>
                                        <a href="javascript:void(0);" class="remove_button"><i style="color:red; margin-bottom:0px; " class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </div>






                                di++;

                            }
                        }
                    }


                </table>
            </div>


            <div class="box-body" style="display:none;">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 31 })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 32 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State", tabindex = 33 })

                    @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State", tabindex = 9} })*@
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 35 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 36 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 37 } })
                </div>
                @*<div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 13 } })
                    </div>*@

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax", tabindex = 39 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", tabindex = 40 } })
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference", tabindex = 41 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Person", tabindex = 42 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.SalesPMob, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.SalesPMob, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Person Mobile", tabindex = 43 } })
                </div>
                <div class="form-group col-md-4">
                    <div id="mobiles"></div>
                </div>
            </div>

            //Item Details
            <div class="box-header with-border" style="margin-bottom:8px; margin-top:-20px;">
                <h5 class="box-title">Product Details</h5>
            </div>

            <div class="row">

                <div class="form-group col-md-4 col-xs-12">
                    @Html.Label("Item", null, new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.ListBoxFor(m => m.SupplierItems, (MultiSelectList)ViewBag.SupplierItem, new { @class = "form-control select2 ", @name = "SupplierItemAll[]", @multiple = "multiple", @style = "width:100%", tabindex = 50 })
                        <span class="input-group-btn">
                            <a href="/Item/AddItem" class="modal-create-lg btn btn-default" tabindex="51" title="Add Category"><i class="glyphicon glyphicon-plus"></i></a>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-4 col-xs-12">
                    @Html.Label("Category", null, new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.ListBoxFor(m => m.SupplierCategories, (MultiSelectList)ViewBag.SupplierCategorys, new { @class = "form-control select2 ", @name = "SupplierCategoryAll[]", @multiple = "multiple", @style = "width:100%", tabindex = 52 })
                        <span class="input-group-btn">
                            <a href="/ItemCategory/Create" class="btn btn-default btncategoryAdd" tabindex="53" title="Add Category"><i class="glyphicon glyphicon-plus" ></i></a>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-4 col-xs-12">
                    @Html.Label("Brand", null, new { @class = "control-label" })
                    <div class="input-group input-group-sm">
                        @Html.ListBoxFor(m => m.SupplierBrands, (MultiSelectList)ViewBag.SupplierBrand, new { @class = "form-control select2 ", @name = "SupplierBrandAll[]", @multiple = "multiple", @style = "width:100%", tabindex = 54 })
                        <span class="input-group-btn">
                            <a href="/ItemBrand/Create" class="btn btn-default btnbrandAdd" tabindex="55" title="Add Brand"><i class="glyphicon glyphicon-plus"></i></a>
                        </span>
                    </div>
                </div>

            </div>

            <div class="box-header with-border">
                <h5 class="box-title">Bank Details</h5>
            </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 56 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 57 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 58 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 59 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 60 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group">
                        @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 61 } })
                        <div class="input-group-addon no-padding dcwidth">
                            @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 62 })
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="table-responsive" id="refdiv"><hr /></div>
                </div>
            </div>

            <div class="box-footer clearfix text-center">
                <button type="submit" id="save" class="btn btn-success" tabindex="70">
                    <span class="glyphicon glyphicon-floppy-disk"></span> update
                </button>
                <button type="button" class="btn btn-default" tabindex="71" onclick="@("window.location.href='/Supplier/Index'");">Cancel</button>
            </div>


        }
    </div>
</div>

<div id="modal-container-category" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal-container-brand" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
@Html.Partial("../Common/_ModeItemCreate")

@section style{

    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
 <script type="text/javascript">
    $(document).ready(function () {

        $("#SupplierItems").select2({
            placeholder: 'Search Item',
            minimumInputLength: 0,
            ajax: {
                url: "/Item/Search",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                    };
                },
                results: function (data) {
                    return { results: data };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;
                    return {
                        results: data,
                        pagination: {
                            //more: (params.page * 10) < 50
                            more: true
                        }
                    };
                },
                cache: true
            },

        });

        //Category
        $("#SupplierCategories").select2({
            placeholder: 'Search Item Category',
            minimumInputLength: 0,
            ajax: {
                url: "/ItemCategory/SearchCategory",
                dataType: 'json',
                type: "POST",
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        //Brand
        $("#SupplierBrands").select2({
            placeholder: 'Search Item Brand',
            minimumInputLength: 0,
            ajax: {
                url: "/ItemBrand/SearchBrand",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
    });

       $(document).ready(function () {

            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
                var add_button = $("#click"); //Add button ID



                var Countrys = '<option value="0">--Select--</option>';

            var x = 1; //initlal text box count
            var s = '<option value="0">--Select--</option>';

                $.ajax({
                    type: "GET",
                    url: "/Customer/GetContactTypes",
                    data: "{}",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                        }
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/Customer/GetCountryCode",
                    data: "{}",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            Countrys += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                        }
                    }
                });


                $(add_button).click(function (e) { //on add input button click

                    e.preventDefault();

             if (x < max_fields) { //max input box allowed
                  if (document.getElementById('RowCount').value < @ci) {
                        var rowno = @ci;
                    }
                    else {
                        var rowno = document.getElementById('RowCount').value;
                    }
                 $(wrapper).append(

                     '<div class="remove" style=" border: 1px solid rgba(0,0,0,0.12); border-radius: 30px; margin-top:10px;Padding:10px;">' +
                     '<div class="row" style="">' +
                     '<div class="col-md-2">' +
                     '<label class="control-label">Contact Type</label>' +
                     '<div class="input-group">' +
                     '<select class="form-control"  name="LstContacts[' + rowno + '].ContactTypeID" tabindex="20" id="ContactTypeID' + rowno + '">' + s +
                     '</select>' +
                     '</div>' +
                     '</div>' +
                     '<div class="col-md-3">' +
                     '<label class="control-label">First Name</label>' +
                     '<div class="input-group">' +
                     '<input type="text"  name="LstContacts[' + rowno + '].FirstName" class="form-control"  tabindex="21"  required id="firstname' + rowno + '" > ' +
                     '</div>' +
                     '</div>' +
                     '<div class="col-md-3">' +
                     '<label class="control-label">Last Name</label>' +
                     '<div class="input-group">' +
                     '<input type="text"  name="LstContacts[' + rowno + '].lastname" class="form-control" id="lastname' + rowno + '"  tabindex="22">' +
                     ' </div>' +
                     '</div>' +
                     '<div class="col-md-3">' +
                     '<label class="control-label">Company Name</label>' +
                     '<div class="input-group">' +
                     '<input type="text"  name="LstContacts[' + rowno + '].Name" class="form-control"  id="Name' + rowno + '"  tabindex="23">' +
                     '</div>' +
                     ' </div>' +
                     '</div>' +
                     '<div class="row" style="margin-top: 1rem;">' +
                     '<div class="col-md-2">' +
                     '<label class="control-label">Country Code</label>' +
                     '<div class="input-group">' +
                     '<select class="form-control"  name="LstContacts[' + rowno + '].CountryID" tabindex="30"  id="CountryID' + rowno + '"  tabindex="24">' + Countrys +
                     '</select>' +
                     '</div>' +
                     '</div>' +
                     '<div class="col-md-3">' +
                     '<label class="control-label">Mobile Number</label>' +
                     '<div class="input-group">' +
                     '<select  name="LstContacts[' + rowno + '].Mobile" class="form-control mobilenumber select2"  required onchange="loadcontact(' + rowno + ',this)"  id="Mobile' + rowno + '"  tabindex="25" ></select>' +
                     ' </div>' +
                     '</div>' +
                     '<div class="col-md-3">' +
                     '<label class="control-label">Email Id</label>' +
                     '<div class="input-group">' +
                     '<select   name="LstContacts[' + rowno + '].EmailId" class="form-control select2 emailid" id="EmailId' + rowno + '" onchange="loadcontactemail(' + rowno + ',this)"></select>' +
                     '</div>' +
                     '</div>' +
                     '<div class="col-md-3 col-11">' +
                     '<label class="control-label">Website</label>' +
                     '<div class="input-group">' +
                     '<input type="text"  name="LstContacts[' + rowno + '].Website" class="form-control" required id="Website' + rowno + '">' +
                     '</div>' +
                     '</div ">' +
                     '<div class="col-md-1 col-1">' +
                     '<a href="javascript:void(0);" class="remove_button "><i style="color:red;margin-top: 25px;margin-left: -20px; " class="fa fa-trash " aria-hidden="true"></i></a>' +
                     '</div>' +
                     '</div>' +

                     '</div>');



                        x++;

                        rowno++;
                        document.getElementById('RowCount').value = rowno;
                        callselect();



                    }
                });
                $(wrapper).on('click', '.remove_button', function (e) {
                    e.preventDefault();

                    $(this).closest('.remove').remove(); //Remove field html
                    x--; //Decrement field counter
                });
       });

            function loadcontact(i, obj) {
                $('.mobilenumber').select2('destroy');
                var s = $("#Mobile" + i).val();
                s = s.replace(/^0+/, '');
                var opt = '<option value="' + s + '" selected>' + s + '</option>'
                $("#Mobile" + i).append(opt);
                mobileload();
                $.ajax({
                    url: "/Supplier/getcontactsbymobile",
                    type: "GET",
                    dataType: "JSON",
                    data: { mobile: obj.value },
                    success: function (result) {

                        $("#firstname" + i).val(result[0].FirstName);
                        $("#lastname" + i).val(result[0].LastName);
                        $("#Website" + i).val(result[0].Website);
                        $('.emailid').select2('destroy');
                        var opt = '<option value="' + result[0].EmailId + '" selected>' + result[0].EmailId + '</option>'
                        $("#EmailId" + i).append(opt);

                        $("#EmailId" + i).val(result[0].EmailId);

                       // $("#Mobile" + i).val(result[0].MobileNum);
                        $("#CountryID" + i).val(result[0].CountryID);
                        $("#Name" + i).val(result[0].Name + "," + result[0].Address);
                        $("#ContactTypeID" + i).val(result[0].ContactTypeID);

                        emailload();
                    }
                });

                //Function to check correct format for Mobile Number
                CheckMobileNo(s, i);
            }

            function loadcontactemail(i, obj) {
                $.ajax({
                    url: "/Customer/getcontactsbyemail",
                    type: "GET",
                    dataType: "JSON",
                    data: { email: obj.value },
                    success: function (result) {

                        $("#firstname" + i).val(result[0].FirstName);
                        $("#Website" + i).val(result[0].Website);
                        $("#EmailId" + i).val(result[0].EmailId);
                        $('.mobilenumber').select2('destroy');
                        var opt = '<option value="' + result[0].MobileNum + '" selected>' + result[0].MobileNum + '</option>'
                        $("#Mobile" + i).append(opt);

                        //$("#Mobile" + i).val(result[0].MobileNum);
                        $("#CountryID" + i).val(result[0].CountryID);
                        $("#Name" + i).val(result[0].Name + "," + result[0].Address);
                        $("#lastname" + i).val(result[0].LastName);
                        $("#ContactTypeID" + i).val(result[0].ContactTypeID);

                        mobileload();
                    }
                });
            }

            function callselect() {
                mobileload();
                emailload();
            }

            function mobileload() {
                $('.mobilenumber').select2({
                    tags: true,
                    placeholder: '5xxxxxxxx',
                    minimumInputLength: 0,
                    ajax: {
                        url: "/Customer/SearchMobilecontact",
                        dataType: 'json',
                        delay: 50,
                        data: function (params) {
                            return {
                                q: params.term || "",
                                x: "All",
                                page: params.page || 0,
                            };
                        },

                        processResults: function (data, params) {



                            params.page = params.page || 1;

                            return {

                                results: data
                            };

                        },
                        cache: true
                    },
                });
            }
            function emailload() {
                $('.emailid').select2({
                    tags: true,


                    minimumInputLength: 0,
                    ajax: {
                        url: "/Customer/SearchEmailcontact",
                        dataType: 'json',
                        delay: 50,
                        data: function (params) {
                            return {
                                q: params.term || "",
                                x: "All",
                                page: params.page || 0,
                            };
                        },

                        processResults: function (data, params) {



                            params.page = params.page || 1;

                            return {

                                results: data
                            };

                        },
                        cache: true
                    },
                });
            }


        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }





            var EntryID = getQueryString('');
            if (EntryID != null && '@ViewBag.BillToPayment' == '0') {
                $.ajax({
                    url: '/Supplier/GetSupplierAccRef',
                    dataType: 'json',
                    data: { EntryID: EntryID },
                    cache: true,
                    success: function (data) {

                        if (data != "") {
                            bindAccRef("supp");
                            $('#addinvoiceItem').html('');
                            $.each(data, function (i, item) {
                                addrowref('addinvoiceItem', 'foredit', item.BillNo, item.Amount, item.Date, "supp");
                            });
                            addrowref('addinvoiceItem', 'new', '', '0.00', '', "supp");
                            $("#refdiv").show();
                        } else {
                            var DC = $("#DC").val();
                            if (DC == 1) {
                                $("#refdiv").show();
                                bindAccRef("supp");
                            } else {
                                $("#refdiv").hide();
                            }
                        }
                    }
                });
            }

            if (EntryID != null) {
                $.ajax({
                    url: '/Supplier/GetMobile',
                    dataType: 'json',
                    data: { CnId: EntryID },
                    cache: true,
                    success: function (data) {
                        //$('#addchecklist').html('');
                        leng = data.length;
                        $.each(data, function (i, item) {
                            AddMobile(item.Mob, item.Name);
                        });
                        (data.length == 0)
                        {
                            AddMobile();
                        }

                    }
                });
            }
            $("#State").select2();
        });

        $('body').on('change', '#DC', function (e) {
            if ($(this).val() == 1 && '@ViewBag.BillToPayment' == '0') {//debit
                $("#refdiv").show();
                bindAccRef("supp");
            } else {
                $("#refdiv").hide();
            }
        });

        /* function for Create popup */
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        })
        $('body').on('change', '#SupplierName', function (e) {
            var suppname = $('#SupplierName').val();//CustomerCheck
            var suppid = $('#SupplierID').val();//CustomerCheck

            $.ajax({
                url: '/Supplier/SupplierCheck',
                type: "GET",
                dataType: "JSON",
                data: { Supplier: suppname, supid: suppid },
                success: function (rslt) {
                    if (rslt == true) {
                        alert("Supplier Name already Exists")
                        $('#SupplierName').val('');
                    }
                }
            });

        });
 </script>

  <script type="text/javascript">

        var s = '<option value="0">--Select--</option>';

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Customer/GetDocTypes",
                data: "{}",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                    }
                }
            });
        });


        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper3 = $(".input_fields_wrap3"); //Fields wrapper
            var add_button = $(".add_field_button3"); //Add button ID

            var x = 1; //initlal text box count



            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed

                    if (document.getElementById('documentRowcount').value < @di) {
                        var rowno = @di;
                    }
                    else {
                        var rowno = document.getElementById('documentRowcount').value;
                    }

                    //paste here
                    $(wrapper3).append('<div class="remove row" style=" border: 1px solid rgba(0,0,0,0.12); border-radius: 30px; margin-top:10px;Padding:10px;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Document Type</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control" id="DocumentTypeID" name="SuppliDocumentviewmodel[' + rowno + '].DocumentTypeID" tabindex="35">' + s +
                        '</select>' +
                      /*  '<input type="text" name="LstCutomerDocument[' + rowno + '].DoucumentType" class="form-control" placeholder="Document Type" required>' +*/
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Expiry</label>' +
                        '<div class="input-group">' +
                        '<input type="date" name="SuppliDocumentviewmodel[' + rowno + '].Expiry" class="form-control" placeholder="Expiry" required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Notes</label>' +
                        '<div class="input-group">' +
                        '<input type="text" name="SuppliDocumentviewmodel[' + rowno + '].Notes" class="form-control" placeholder="Notes" required>' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3 col-11">' +
                        '<label class="control-label">Choose image</label>' +
                        ' <div class="input-group">' +
                        '<input type="file" name="SuppliDocumentviewmodel[' + rowno + '].FilePath" class="form-control file-upload-info"  placeholder="Choose image" required>' +

                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1 col-1">' +
                        '<a href="javascript:void(0);" class="remove_button"><i style="color:red; margin-top:1.5rem;" class="fa fa-trash" aria-hidden="true"></i></a></div>');
                    '</div>' +
                        '</div>' +
                    x++;

                    rowno++;
                    document.getElementById('documentRowcount').value = rowno;
                }
            });
            $(wrapper3).on('click', '.remove_button', function (e) {
                e.preventDefault();

                $(this).closest('.remove').remove();  //Remove field html
                x--; //Decrement field counter
            });
        });

      //Category Pop-Up
      $('div').on('click', '.btncategoryAdd', function (e) {
          e.preventDefault();
          $(this).attr('data-target', '#modal-container-category');
          $(this).attr('data-toggle', 'modal');
      });

      //Brand Pop-Up
      $('div').on('click', '.btnbrandAdd', function (e) {
          e.preventDefault();
          $(this).attr('data-target', '#modal-container-brand');
          $(this).attr('data-toggle', 'modal');
      });

      //Category Close
      $('body').on('click', '.modal-close-btn', function () {
          $('#modal-container-category').modal('hide');
          $('#modal-container-category').removeData('bs.modal');
      });

      //Brand Close
      $('body').on('click', '.modal-close-btn', function () {
          $('#modal-container-brand').modal('hide');
          $('#modal-container-brand').removeData('bs.modal');
      });

      //clear modal cache, so that new content can be loaded;
      $('#modal-container-brand').on('hidden.bs.modal', function () {
          $(this).removeData('bs.modal');
      });

      $('#modal-container-category').on('hidden.bs.modal', function () {
          $(this).removeData('bs.modal');
      });

      //Item Pop-Up
      $('span').on('click', '.modal-create-lg', function (e) {
          e.preventDefault();
          var url = $(this).attr('href');
          modalshow(url, '#modal-create-lg');
      });

      $('#modal-create-lg').on('shown.bs.modal', function (e) {

          //Item Category
          ItemCategory();
          ItemBrand();

          $('#KeepStock').click(function () {
              clickstock();
          });
          //ItemTax();
          //ItemUnit();
          //ItemSubUnit();
          Itemtype();

          //var ItemName =
          addbatsaleItem('addbatchItem', 'sale', ItemName, "0.00", "0.00", "");
          // alert()
      });

      //Item Submit
      $('#modal-create-lg').on('submit', '#createitemform', function (e) {
          e.preventDefault();
          var url = $('#createitemform')[0].action;
          var data = $('#createitemform').serialize();
          createajax(url, data, '#modal-create-lg');
      });

      //Category Submit
      $('#modal-container-category').on('submit', '#createform', function (e) {
          e.preventDefault();
          var url = $('#createform')[0].action;
          var data = $('#createform').serialize();
          createajax(url, data, '#modal-container-category');
      });

      //Brand Submit
      $('#modal-container-brand').on('submit', '#createform', function (e) {
          e.preventDefault();
          var url = $('#createform')[0].action;
          var data = $('#createform').serialize();
          createajax(url, data, '#modal-container-brand');
      });

      //Function to check correct format for Mobile Number
      //MobileNo is not passed in fetched rows(Edit Mode Rows)
      function CheckMobileNo(MobileNo, i) {
          var Mobile;

          if (MobileNo == "") {
              Mobile = document.getElementById("Mobile[" + i + "]").value;
              Mobile = Mobile.replace(/^0+/, '');
              document.getElementById("Mobile[" + i + "]").value = Mobile;
          }
          else
              Mobile = MobileNo;

          var NumbersOnly = /[^0-9]/g;
          var NewMob = (Mobile.replace(NumbersOnly, ""));

          if (Mobile != NewMob) {
              alert("Please Select Correct Format For Mobile..(Numbers Only)");

              if (MobileNo == "") {
                  document.getElementById("Mobile[" + i + "]").value = "";
                  document.getElementById("Mobile[" + i + "]").focus();
              }
              else {
                  var opt = '<option value="" selected>5xxxxxxxx</option>'
                  $("#Mobile" + i).append(opt);
                  mobileload();
              }
          }
          else if (Mobile.length > 9) {
              alert("Only 9 numbers are allowed...")

              if (MobileNo == "") {
                  document.getElementById("Mobile[" + i + "]").value = "";
                  document.getElementById("Mobile[" + i + "]").focus();
              }
              else {
                  var opt = '<option value="" selected >5xxxxxxxx</option>'

                  $("#Mobile" + i).append(opt);
                  mobileload();
              }
          }
      }
  </script>
}



