@model QuickSoft.Models.BillSundry
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Bill Sundry</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "BillSundry", FormMethod.Post, new { id = "createform" }))
            {
        <script type="text/javascript">
            $('form#createform').removeData("validator");
            $('form#createform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group  col-md-12">
                    @Html.Label("Name", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.BSName, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus", @required = "required" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Type", null, new { @class = "control-label" }) *
                    @Html.EnumDropDownListFor(model => model.BSType, new { @class = "form-control"})
                </div>
                @*<div class="form-group col-md-6">
                    @Html.Label("Bill Sundry Nature", null, new { @class = "control-label" }) *
                    @Html.DropDownListFor(m => m.BSNature, (SelectList)ViewBag.Nature,"", new { @class = "form-control input-sm" })
                </div>*@
                <div class="form-group col-md-6">
                    @Html.Label("Amount Type", null, new { @class = "control-label" }) *
                    @Html.EnumDropDownListFor(model => model.AmountType, new { @class = "form-control" ,@onchange="changeAmtType"})       
                 </div>
                <div class="form-group  col-md-6">
                    @Html.Label("Default Value", null, new { @class = "control-label" }) 
                    @Html.EditorFor(model => model.DefaultValue, new { htmlAttributes = new { @class = "form-control input-sm"} })
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Status", null, new { @class = "control-label" }) *
                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Account In Sale", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SAccount, (SelectList)ViewBag.SetAccount, new { @class = "form-control select2", @required = "required" })
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Account In Purchase ", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.PAccount, (SelectList)ViewBag.SetAccount, new { @class = "form-control select2", @required = "required" })
                </div>
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="row">
                        <div class="form-group col-sm-6">
                            @Html.Label("Branch", null, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                        </div>
                    </div>
                }

            </div>
        </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-footer">
                            @*<button type="submit" class="btn btn-info col-sm-offset-4">Save</button>*@
                            <button type="submit" id="save" class="btn btn-success col-sm-offset-4" tabindex="26">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
    }
</div>
<script>
    $("#SAccount").select2({});
    $("#PAccount").select2({});
</script>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
