@model QuickSoft.ViewModel.ItemCategoryViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Item Category</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "ItemCategory", FormMethod.Post, new { id = "createform" }))
            {
        <script type="text/javascript">
            $('form#popupFormCategory').removeData("validator");
            $('form#popupFormCategory').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormCategory'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemCategoryName, htmlAttributes: new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.ItemCategoryName, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @required = "required" } })

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Size Description" })
                </div>
            </div>
            <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Parent, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Parent, (SelectList)ViewBag.ParentModules,"", new {@class = "form-control select2" })
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    @*<input type="submit" value="Save" class="btn btn-info col-sm-offset-4" />*@
                    <button type="submit" id="save" class="btn btn-success col-sm-offset-4" tabindex="26">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
