@model QuickSoft.ViewModel.CustomerViewModel
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = "Create Customer";
    ViewBag.SubTitle = "Customer";
    ViewBag.Active = "Master";}
<div class="box box-info">
    @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { id = "createForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Customer</h3>
            <div class="pull-right">
                @if (User.IsInRole("Dev") || User.IsInRole("Customer"))
                {
                    <a class="btn btn-success no-border" href="/app/customer/index.html">
                        <i class="fa fa-fw fa-history"></i> Customer List
                    </a>
                }
            </div>
        </div>
        
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })


        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Customer Name", @required = "required", tabindex = 2 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.TaxRegNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TaxRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax RegNo", tabindex = 3 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CreditLimit, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 4 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CreditPeriod, htmlAttributes: new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Period", tabindex = 5 } })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-flat">Days</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Location", tabindex = 6 } })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Sales Person", null, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Empl, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 7 })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.TaxType, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.TaxType, new { @class = "form-control", tabindex = 30 })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Contact Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 10 })
            </div>
            <div class="input-group col-md-4">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 11 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State", @required = "required", tabindex = 12 })

               
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 13 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 14 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 15 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 16 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax", tabindex = 17 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", tabindex = 18 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference", tabindex = 19 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ContactPerson", tabindex = 20 } })
            </div>
        </div>
            <div class="box-header with-border">
                <h5 class="box-title">Bank Details</h5>
            </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 21 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 22 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 23 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 24 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 25 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group">
                        @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 26 } })
                        <div class="input-group-addon no-padding dcwidth">
                            @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 27 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix text-center">
                <button type="submit" id="save" class="btn btn-info" tabindex="28">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
    }
</div>

