
@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase" || Model.Type == "LPO") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();

    string myclass = "";
    string saleclass = Model.Type == "Sale" ? "class=\"hidden\"" : "";
    string lpoclass = Model.Type == "LPO" ? "class=\"hidden\"" : "";
    
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <div style="max-height:270px; font-size: 15px;">
                        <div class="text-center" id="comHeader">
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }
                        </div>
                        <div class="text-center">
                            @Html.Raw(Model)
                            <style type="text/css">
                                @@media print {
                                    body, .print {
                                        border: 0px !important;
                                    }

                                    body, .print {
                                        border: 1px !important;
                                    }

                                    .table-bordered td, .table-bordered th {
                                        border: 1px solid #898989 !important;
                                    }
                                }

                                body .print {
                                    font-size: 12px;
                                }

                                .print .table-nob tr th {
                                    width: 40%;
                                }

                                .caps {
                                    text-transform: uppercase;
                                }

                                .hfont {
                                    font-size: 13px;
                                }
                            </style>
                            <h4 style="margin-bottom: 1px;">
                                <strong class="caps">@title.Value @title.Lang</strong>
                                @if (@ViewBag.CTaxRegNo != null)
                                {
                                    <span class="hfont"><br />TRN: @ViewBag.CTaxRegNo</span>
                                }
                            </h4>
                        </div>
                        <table class="table table-noborder">
                            <tr class="hfont" style="border-top: 1px solid #898989;">
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989;">
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th><i><b>@Customer.Value @Customer.Lang</b></i></th>
                                        </tr>
                                        <tr>
                                            <td><label id="lblParty"></label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="lbladdress"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                TRN : <label id="lbltrn"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 3px;">
                                    <table id="Cust_de" class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th>@InvoiceNo.Value @InvoiceNo.Lang</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>@Date.Value @Date.Lang</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        <tr @Html.Raw(lpoclass)>
                                            <th>PO No.</th>
                                            <td>: <label id="lblPONo"></label></td>
                                        </tr>

                                        @{
                                            myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="empSet" @Html.Raw(myclass)>
                                            <th>@SalesExecutive.Value<br /> @SalesExecutive.Lang</th>
                                            <td>: <label id="lblEmployee"></label></td>
                                        </tr>

                                        @{
                                            myclass = (PaymentType.Status == Status.inactive || (Model.Type == "Purchase Order" || Model.Type == "Purchase" || Model.Type == "LPO")) ? "class=\"hidden\"" : "";
                                        }
                                        <tr @Html.Raw(myclass) id="Mpaytype" @Html.Raw(saleclass)>
                                            <th>@PaymentType.Value</th>
                                            <td>: <label id="lblpaytype"></label></td>
                                        </tr>
                                        @{
                                            myclass = (Cust_Credit_Period.Status == Status.inactive || (Model.Type == "Purchase Order" || Model.Type == "Purchase" || Model.Type == "LPO")) ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="crperiod" @Html.Raw(myclass) @Html.Raw(saleclass)>
                                            <th>@Cust_Credit_Period.Value</th>
                                            <td>:<label id="lblcperiod"></label></td>
                                        </tr>
                                        <tr id="divAgstInvoice" @Html.Raw(saleclass)>
                                            <th>Against Invoice</th>
                                            <td>:<label id="agstInvoice"></label></td>
                                        </tr>
                                        <tr id="divpayterm" @Html.Raw(saleclass)>
                                            <th>Payment Terms</th>
                                            <td>:<label id="lblPayTerm"></label></td>
                                        </tr>
                                        <tr id="divconvFrom" @Html.Raw(saleclass)>
                                            <th><b><label id="IblConvFrom"></label></b></th>
                                            <td>: <label id="IblConvBill"></label></td>
                                        </tr>



                                        @* field mapping *@
                                        <tr id="divRef1" hidden>
                                            <th id="IblRef1"></th>
                                            <td>: <label id="IblRef1Val"></label></td>
                                        </tr>
                                        <tr id="divRef2" hidden>
                                            <th id="IblRef2"></th>
                                            <td>: <label id="IblRef2Val"></label></td>
                                        </tr>
                                        <tr id="divRef3" hidden>
                                            <th id="IblRef3"></th>
                                            <td>: <label id="IblRef3Val"></label></td>
                                        </tr>
                                        <tr id="divRef4" hidden>
                                            <th id="IblRef4"></th>
                                            <td>: <label id="IblRef4Val"></label></td>
                                        </tr>
                                        <tr id="divRef5" hidden>
                                            <th id="IblRef5"></th>
                                            <td>: <label id="IblRef5Val"></label></td>
                                        </tr>
                                        <tr id="divAppBy" hidden>
                                            <th>Approved By</th>
                                            <td>: <label id="IblAppBy"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:295px;border-left: 1px solid #898989;border-right: 1px solid #898989;">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>S/N </th>
                                    <th id="PoNo">Part No</th>
                                    <th>Item </th>
                                    <th class="makehide">Make</th>
                                    <th>Unit </th>
                                    <th>Qty</th>
                                    <th class="itemdata">Unit Price </th>
                                    <th class="itemdata">Amount </th>
                                    <th class="itemdata">Tax Amount </th>
                                    <th class="itemdata">Total </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>item 1</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>item 2</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class='border-top'>
                                    <td colspan='6'><strong> Amount In Words</strong></td>
                                    <td id="Bill_Amount">
                                        @Bill_Amount.Value @Bill_Amount.Lang
                                    </td>
                                    <td class='text-right'></td>
                                </tr>
                                <tr class='border-top'>
                                    <td colspan='6' rowspan='3'>
                                        <strong>
                                            <span id="Terms">
                                                @Terms.Value @Terms.Lang
                                            </span>
                                        </strong>
                                    </td>
                                    <td id="Bill_Discount">
                                        @Bill_Discount.Value @Bill_Discount.Lang
                                    </td>
                                    <td id='discountprint' class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <td id="Bill_Tax">
                                        @Bill_Tax.Value @Bill_Tax.Lang
                                    </td>
                                    <td class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <th id="Bill_Total">
                                        @Bill_Total.Value
                                        @Bill_Total.Lang
                                        <span style='direction:ltr'>(AED)</span>
                                    </th>
                                    <th class='text-right'></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" style="width:50%;padding-top:100px;">
                                @Foot_1.Value :<br />
                                @Foot_1.Lang
                            </td>
                            <td colspan="3" rowspan="3" style="padding-top:100px;">
                                @Foot_2.Value.Replace("{company}", ViewBag.CName)<br />
                                @Foot_2.Lang

                                @{
                                    myclass = (Terms.Status == Status.inactive) ? "hide" : "";
                                }
                                <span id="termsactive" class="hidden">@myclass</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <div class="text-center">
                        @Html.Partial("../Common/_CompanyFooter")
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>