
@model QuickSoft.ViewModel.AccountsViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Account Details</h4>
</div>
<div class="modal-body">
    <div class="box box-default">
        <div class="box-body">
            @*<div class="form-group col-md-4">
                    @Html.Label("Contact Group :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Group)
                </div>*@
            <div class="form-group col-md-4">
                @Html.Label("Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Name)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Account Group :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.GroupName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Alias  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Alias)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Tax Reg NO :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.TRN)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Status :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Statusname)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Note :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Note)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Opening Balance :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.opbal)
            </div>
            
        </div>
    </div>
</div>
