
@model QuickSoft.ViewModel.PayrollUnitViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Payroll Unit</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("UpdatePayunit", "PayrollUnit", FormMethod.Post, new { id = "editform" }))
    {
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("Type", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Simple", Value="Simple"},
                        new SelectListItem() {Text = "Compound", Value="Compound"},
                    }, "Value", "Text"), new { @onchange = "Typechange();", @class = "form-control input-sm", @name = "Type", tabindex = 12, @required = "true" })
                </div>
                <div id="simp">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Symbol, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.Symbol, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Unit Name", null, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div id="comp">
                    <div class="form-group">
                        @Html.Label("First Unit", null, new { @class = "control-label col-sm-4" })
                        @Html.DropDownListFor(m => m.first, (SelectList)ViewBag.firs, "", new { id = "ddlfirst", @onchange = "unitchange();", @class = "form-control select2 fir" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Convertion", null, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.convertion, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Second Unit", null, new { @class = "control-label col-sm-4" })
                        @Html.DropDownListFor(m => m.second, (SelectList)ViewBag.secnd, "", new { id = "ddlSecond", @class = "form-control select2 sec" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <button type="submit" class="btn btn-info col-sm-offset-4">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    $(document).ready(function () {
        
        Typechange();
        CallFirstUnit();
        CallSecondUnit();
        if ($('#Type').val() == "Compound") {
            $('#simp').hide();
            $('#comp').show();
        } else {
            $('#comp').hide();
            $('#simp').show();
        }
           
            
        });
</script>
