@model QuickSoft.ViewModel.SalesEntryViewModel
@{
Layout = null;
}
<style>
    @@media only screen and (min-width: 800px) {
        .sh-width2{
             width: 250px;
        }
        .sh-width {
            width: 1200px !important;
            margin-left:-300px !important;
        }

       table {
            border-collapse: collapse;
            width: !important;
        }


        /*th, td {
            padding: 5px 0;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }*/
    }
    
  



</style>
<div class="sh-width">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Sales Entry Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                @Html.HiddenFor(m => m.CustomerType)
                @Html.HiddenFor(m => m.SENo)
                <div class="col-sm-2 form-group">
                    @Html.Label("Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.SaleTypeName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.BillNo)
                </div>
                @if (Model.ConvertType != null && Model.ConvertNo != null)
                {
                    <div class="col-sm-2 form-group ">
                        <b>@Html.DisplayFor(m => m.ConvertType) No:</b>
                        @Html.DisplayFor(m => m.ConvertNo)
                    </div>
                }
                <div class="col-sm-2 form-group ">
                    @Html.Label("PO No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PONo)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Bill Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.SEDate))
                    @*@Html.DisplayFor(m => m.SEDate)*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Sales Executive :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.EmployeeName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CustomerName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Payment Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PayType)
                </div>
                @if (@ViewBag.EnableMCcheck == 0)
                {
                    <div class="col-md-2 form-group">
                        @Html.Label("Material Center : ", null, new { @class = "control-label" })
                        @Html.DisplayFor(m => m.MCName)
                    </div>
                }
                <div class="col-sm-2 form-group">
                    @Html.Label("Location :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Location)
                </div>
               
                <div class="col-sm-2 form-group">
                    @Html.Label("Sale Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.SalesTypeName)
                </div>

                <div class="col-sm-2 form-group">
                    @Html.Label("HSCode :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.HSCode)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Payment Terms :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PaymentTerms)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Email Id :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.EmailId)
                </div>

                @if (Model.SaleTypeName == "Hire")
                {
                <div class="col-sm-2 form-group">
                    @Html.Label("Hire Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.HType)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Start Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.StartDate))
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("End Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.EndDate))
                </div>
                }

                <div class="col-sm-12 form-group">
                    @if (Model.Emp != null && Model.Emp.Count() > 0)
                    {
                        @Html.Label("Approved By:", null, new { @class = "control-label" })
                        bool CHECK = true;
                        foreach (var Ext in Model.Emp)
                        {
                            var EmpName = "";
                            if (CHECK == true)
                            {
                                EmpName = @Ext.EmpName;
                                CHECK = false;
                            }
                            else
                            {
                                EmpName = ", " + @Ext.EmpName;
                            }

                            @Html.Label(@EmpName, new { @style = "font-weight:normal" })
                        }
                    }
                </div>



                <div class="col-sm-12 form-group">
                    @if (Model.ConvModel != null)
                    {
                        int i = 0;
                        @Html.Label("Extended Invoices:", null, new { @class = "control-label" })
                        foreach (var Ext in Model.ConvModel)
                        {
                            if (Ext.ConvertFrom == "SaleExtend")
                            {
                                var BillNo = "";
                                if (@Ext.BillNo != "")
                                {
                                    BillNo = @Ext.BillNo;
                                }
                                @Html.Label(Ext.BillNo +", ", new { @style = "font-weight:normal" })
                            }
                        }                        
                    }
                </div>
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        <div class="form-group col-sm-2">
                          
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref1")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref1)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref2")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref2)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref3")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref3)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref4")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref4)
                            }
                            @if (Model.FieldMap[i].FieldName != "" &&  Model.FieldMap[i].Field == "Ref5")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref5)
                            }
                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr class="bg-gray">
                                    @if (@ViewBag.PartNoCheck == 0)
                                    {
                                        <th>Part No</th>
                                    }
                                    <th class="sh-width2">Item</th>
                                    <th>Item Unit</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Tax</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                </tr>
                                @foreach (var salesum in Model.SEItem)
                                {
                                    var itemnote = "";
                                    if (@salesum.itemNote != "")
                                    {
                                        itemnote = "<br /><small>" + @salesum.itemNote + "</small>";
                                    }
                                    if (@salesum.bundleitem != null && @salesum.bundleitem.Count() > 0)
                                    {
                                        var desc = "<br/>[<span class='descr' data-name='itemNote'>";
                                        foreach (var saleitem in @salesum.bundleitem)
                                        {
                                            desc += saleitem.ItemCode + " - " + saleitem.ItemName;
                                            desc += " - " + saleitem.ItemQuantity + " ";
                                            desc += (saleitem.ItemUnit != null) ? saleitem.ItemUnit : "";
                                            desc += "<br/>";
                                        }
                                        desc += "</span>]";
                                        itemnote = itemnote + desc;
                                    }
                                    if (@salesum.ItemList != null && @salesum.ItemList.Count() > 0)
                                    {
                                        var desc = "<br/>S/N : - <span class='descr' data-name='itemNote'>";
                                        foreach (var saleitem in @salesum.ItemList)
                                        {
                                            desc += saleitem.batch;
                                            desc += " , ";
                                        }
                                        desc += "</span>";
                                        itemnote = itemnote + desc;
                                    }
                                    <tr>
                                        @if (@ViewBag.PartNoCheck == 0)
                                        {
                                            <td >@salesum.PartNumber</td>
                                        }
                                        <td class="sh-width2">@salesum.ItemCode - @salesum.ItemName @Html.Raw(itemnote.Replace(Environment.NewLine, "<br/>"))</td>
                                        <td>@salesum.ItemUnit</td>
                                        <td>@salesum.ItemUnitPrice</td>
                                        <td>@salesum.ItemQuantity</td>
                                        <td>@salesum.ItemSubTotal</td>
                                        <td>@salesum.ItemTax</td>
                                        <td>@salesum.ItemTaxAmount</td>
                                        <td>@salesum.ItemTotalAmount</td>
                                    </tr>
                                }
                                @*<tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>@Html.DisplayFor(m => m.SETotal)</td>
                                    </tr>*@
                            </table>
                        </div>
                </div>
                <div class="row">
                    @if (Model.SEbs.Any())
                    {
                        <div class="col-md-12">
                            <div class="table-responsive">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Bill Sundry</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-hover">
                                            <tr class="bg-gray">
                                                <th>Bill Sundry</th>
                                                <th>Value</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                            </tr>
                                            @foreach (var bs in Model.SEbs)
                                            {
                                                <tr>
                                                    <td>@bs.Type : @bs.BillSundry</td>
                                                    <td>@bs.BsValue</td>
                                                    <td>@bs.AmtType</td>
                                                    <td>@bs.BsAmount</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Remarks </strong><br />
                            @Html.Raw(Model.Remarks)
                        </div>
                        <div class="form-group">
                            <strong>Terms And Conditions </strong><br />
                            @Html.Raw(Model.SENote)
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<div class="form-group col-md-6 no-paddingleft">
                                @Html.Label("Discount :", null, new { @class = "control-label" })
                                @Html.DisplayFor(m => m.SEDiscount)
                            </div>*@
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Grand Total :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEGrandTotal)
                        </div>
                        <div class="form-group col-md-6 no-paddingleft" id="paidamt">
                            @Html.Label("Paid Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEPaidAmount)
                        </div>
                        <div class="form-group col-md-6 no-padding" id="dueamt">
                            @Html.Label("Due Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEDueAmount)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var custtype = $('#CustomerType').val();
            //if (custtype == 0) {
            //    $('#paidamt').show();
            //    $('#dueamt').show();
            //}
            //if (custtype == 1) {
            //    $('#paidamt').hide();
            //    $('#dueamt').hide();
            //}
        });
    </script>
}
