@model QuickSoft.ViewModel.ItemBundleViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Item Bundle</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Item Bundle</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item Code:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemCode)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item Name:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Category Name:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CategoryName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Tax:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.TaxName)
                </div>
                @*<div class="col-sm-2 form-group ">
                    @Html.Label("Barcode:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Barcode)
                </div>*@
                <div class="col-sm-2 form-group ">
                    @Html.Label("Actual Cost:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ActualCost)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Actual Price:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ActualPrice)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Selling Price:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.SellingPrice)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Keep Stock:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.StockKeep)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Stock Quantity:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.StockQuantity)
                </div>

                <div class="col-sm-2 form-group ">
                    @Html.Label("Start Date:", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.SDate))
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("End Date:", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.EDate))
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Created By:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CreatedBy)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Bundle Type:", null, new { @class = "control-label" })
                    @{ 
                        var btype = Model.BundleType == "GroupedItem" ? "Grouped Item" : "Combo Item";
                    }
                    @btype
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items Details</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr style="background-color: #d2d6de">
                                    <th>Item</th>
                                    <th>Item Unit</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Tax</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                </tr>
                                @foreach (var itemss in Model.bundleitemvmodel)
                                {
                                    <tr>
                                        <td>@itemss.ItemCode - @itemss.ItemName</td>
                                        <td>@itemss.ItemUnit</td>
                                        <td>@itemss.ItemUnitPrice</td>
                                        <td>@itemss.ItemQuantity</td>
                                        <td>@itemss.ItemSubTotal</td>
                                        <td>@itemss.ItemTax</td>
                                        <td>@itemss.ItemTaxAmount</td>
                                        <td>@itemss.ItemTotalAmount</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Note </strong><br />
                            @Model.Note
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
