<style>
    .blink {
        animation: blinker 1.5s linear infinite;
        color: red;
        font-family: sans-serif;
    }

    @@keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home", new {area="" })" class="logo">
        <span class="logo-mini"><b>BOS</b></span>
        <span class="logo-lg"><b>BOS</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <h3 class="title">
            @Html.Action("Company", "Home", new { area = "" })
        </h3>
        <div id="remainter" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="drag">
                    <div class="modal-header" id="dragheader">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="post">
                            <div class="user-block">
                                <div class="row">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">Reminders</h4>
                                        <div class="form-group col-md-12">
                                            @*@Html.DisplayFor(m => m.TaskDetails)*@
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-hover" id="RemindInfoo">
                                            <thead>
                                                <tr class="bg-gray">
                                                    <td>SI No</td>

                                                    <td>Note</td>

                                                    <td>Acion</td>


                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* Top-bar utility actions as icons (2026-06-15): replaced the plain text labels
                   (D.bkp / Att / ch.pwd / OTP) with FontAwesome icons. hrefs/onclick kept identical so
                   the actions + the tooltip init in _QuickLayout (by selector) keep working. *@
                <li class="hidden-xs">
                    <a href="/BackUpRestore/BackUpdone" title="Data Backup"><i class="fa fa-database"></i></a>
                </li>
                <li class="hidden-lg">
                    <a href="/Employeeattendance/create" title="Attendance"><i class="fa fa-calendar-check-o"></i></a>
                </li>
                <li>
                    <a href="/Users/UpdateProfile" title="Change Password"><i class="fa fa-lock"></i></a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="reqotp()" title="Request OTP"><i class="fa fa-mobile"></i></a>
                </li>

                <li>
                    <a id="bulb" class="" data-toggle="modal" data-dismiss="modal" data-target="#remainter" data-backdrop="false">
                        <i class="fa-lg fa fa-bell-o"></i><span id="newnotification" style="        color: red;
        font-weight: bold;
        font-size: 26px;
"></span>
                    </a>
                </li>
                <li><a href="/users/resize" class="modal-create"><i class="fa fa-file-image-o"></i></a></li>
                @*short cut section*@
                <li class="dropdown tasks-menu shortcut">
                    <a href="#" class="dropdown-toggle bg-aqua" data-toggle="dropdown"><i class="fa fa-plus-square"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="menu" id="shortcutmenu">
                                @*@if (User.IsInRole("Dev") || User.IsInRole("Sales Entry"))
                                    {
                                        <li class="footer"><a href="@Url.Action("Create", "CreditSale")"><i class="fa fa-tags text-aqua"></i> &nbsp;Sales Entry</a></li>
                                    }
                                    @if (User.IsInRole("Dev") || User.IsInRole("Purchase Entry"))
                                    {
                                        <li class="footer"><a href="@Url.Action("Create", "PurchaseEntry")"><i class="fa fa-shopping-cart text-aqua"></i>  &nbsp;Purchase Entry</a></li>
                                    }
                                    @if (User.IsInRole("Dev") || User.IsInRole("Create Payment"))
                                    {
                                        <li class="footer"><a href="@Url.Action("Create", "Payment")"><i class="fa fa-money text-aqua"></i>  &nbsp;Payment</a></li>
                                    }
                                    @if (User.IsInRole("Dev") || User.IsInRole("Create Receipt"))
                                    {
                                        <li class="footer"><a href="@Url.Action("Create", "Receipt")"><i class="fa fa-money text-aqua"></i>  &nbsp;Receipt</a></li>
                                    }
                                    @if (User.IsInRole("Dev") || User.IsInRole("Database Backup"))
                                    {
                                        <li class="footer"><a href="@Url.Action("BackUp", "BackUpRestore")"><i class="fa fa-database text-aqua"></i>  &nbsp;Database Backup</a></li>
                                    }
                                    @if (User.IsInRole("Dev") || User.IsInRole("All Sales"))
                                    {
                                        <li class="footer"><a href="@Url.Action("Index", "SalesReport")"><i class="fa fa-line-chart text-aqua"></i>  &nbsp;Sales Report</a></li>
                                    }*@
                            </ul>
                        </li>
                    </ul>
                </li>
                @*short cut section*@
                @*Help SectionK*@
                @*<li class="dropdown tasks-menu shortcut bg-aqua">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question-circle"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    <li><a href="#" data-toggle="modal" data-target="#quicknet"><i class="fa fa-tags text-aqua"></i> &nbsp;About Us</a></li>
                                    <li><a href="https://quicksoft.me" target="_blank"><i class="fa fa-tags text-aqua"></i> &nbsp;Contact Us</a></li>
                                    <li><a href="http://doc.quicksoft.me/" target="_blank"><i class="fa fa-tags text-aqua"></i> &nbsp;Documentation</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
                @*Help SectionK*@
                @*<li><a onClick="FullScreen();" class="bg-blue" href="#"><i class="fa fa-arrows-alt"></i></a></li>*@
                <li><a onClick="Reload();" class="bg-orange hidden-xs" href="#"><i class="fa fa-refresh"></i></a></li>
                <li><a onClick="logoff();" class="bg-red" href="#"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </nav>
</header>


<script>
    $('div').on('click', '.modal-create', function (e) {
        e.preventDefault();

        var url = $(this).attr('href');
        modalshow(url, '#modal-create');
    });

</script>

