@model QuickSoft.ViewModel.AccntDashboardViewModel
@{var Model2 = "";
    int ci = 1;}

<style>
    .sh-bg1 {
        background-image: linear-gradient(to bottom right,rgba(138, 196, 238), rgb(0 148 255));
    }

    .sh-bg2 {
        background-image: linear-gradient(to bottom right,rgba(132, 243, 197), rgba(8, 176, 106));
    }

    .sh-bg3 {
        background-image: linear-gradient(to bottom right,rgba(238, 132, 187), rgba(164, 16, 138));
    }

    .sh-bg4 {
        background-image: linear-gradient(to bottom right,rgba(190, 217, 181),rgba(63, 113, 47));
    }

    .sh-bg5 {
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 10px 0px;
        border-radius: 5px;
    }

        .card-box:hover {
            text-decoration: none;
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            transform: scale(1.01);
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        .card-box p {
            font-size: 15px;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 10px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
            border-radius: 0px 0px 5px 5px;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

        .card-box .sh-title-align {
            background-image: linear-gradient(to bottom right,rgba(184, 220, 245, 1), rgb(0 148 255));
            padding: 1px 0px 1px 10px;
            margin-top: -10px !important;
            border-radius: 5px 5px 0px 0px;
        }

        .card-box h4 {
            text-shadow: 2px 2px 4px #000000;
        }

    .sh-row-design {
        background-color: white;
    }


    @@media only screen and (min-width: 800px) {
    }

    @@media only screen and (min-width: 1250px) {
    }

    @@media only screen and (max-width: 400px) {
    }

    .box.box-info {
        height: 200px;
        overflow: scroll-y;
    }
</style>
<div class="row sh-row-design" style="margin:10px;padding:10px;">


    <div class="row">
        <div class="col-md-2">
            <div class="box box-info top-10">
                <h3 class="box-title"><center>Last Updated Expiry</center></h3>
                <div class="box-body">
                    <center>
                        <strong>
                            <a href="/MyReports/ViewAmountReceivablePayable?exp=1&pdc=True" target="_blank"> Count : @ViewBag.updateddateexpirty</a>
                        </strong>
                    </center>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-info top-10">
                <h3 class="box-title"><center>Next Date Expiry</center></h3>
                <div class="box-body">
                    <center>
                        <strong>
                            <a href="/MyReports/ViewAmountReceivablePayable?exp=3&pdc=True" target="_blank"> Count : @ViewBag.nextdateexpirty</a>
                        </strong>
                    </center>
                </div>

            </div>
        </div>

        <div class="col-md-2">
            <div class="box box-info top-10">
                <h3 class="box-title"><center>Not Updated</center></h3>
                <div class="box-body">
                    <center>
                        <strong>
                            <a href="/MyReports/ViewAmountReceivablePayable?exp=2&pdc=True" target="_blank"> Count : @ViewBag.notupdated</a>
                        </strong>
                    </center>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            @Html.Label("From", null, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            @Html.Label("To", null, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="box-footer col-md-2">
            <input type="submit" class="btn btn-info " onclick="loadsalesbyso();" value="Submit" />
        </div>
    </div>

        <div class="row">

            @{
                if (Model != null && Model.AccountMapUpdatess != null && Model.AccountMapUpdatess.Count > 0)
                {
                    foreach (var item in Model.AccountMapUpdatess.ToList())
                    {

                        <div class="col-md-3 col-sm-6">
                            <div class="card-box sh-bg1">
                                <div class="inner">
                                    <span>AED</span><h3>@item.ClosingBalance</h3>
                                    <p>@item.Name</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                </div>
                                <a href="/MyReports/GetLedger?AccId=@item.Accntid&fromdate=@item.FromDate&todate=@item.toDate" target="_blank" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>

                            </div>
                        </div>
                        ci++;
                    }
                }
            }

        </div>
    </div>
@Html.Partial("../Common/_ModalCreate", @Model2)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")

<script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            var totd = '@ViewBag.todt';
            var frmdt = '@ViewBag.frmdt';

            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowIngputToggle: true
            });
            @*var totd = '@ViewBag.todt';
            var frmdt = '@ViewBag.frmdt';
            var toDate = new Date(totd);
            var fromDate = new Date(frmdt);
            var formattedtodate = new Date(toDate.getFullYear(), toDate.getMonth(), toDate.getDate());
            var formattedfromdate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate());
            //alert(formattedfromdate);
            $('#To').datepicker('setDate', formattedtodate);
            $('#From').datepicker('setDate', formattedfromdate);*@
            var toDateParts = totd.split('-');
            var fromDateParts = frmdt.split('-');

            // Construct the Date objects with the correct order (year, month - 1, day)
            var toDate = new Date(toDateParts[2], toDateParts[1] - 1, toDateParts[0]);
            var fromDate = new Date(fromDateParts[2], fromDateParts[1] - 1, fromDateParts[0]);

            // You can proceed with the rest of your code as before
            var formattedtodate = new Date(toDate.getFullYear(), toDate.getMonth(), toDate.getDate());
            var formattedfromdate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate());

            $('#To').datepicker('setDate', formattedtodate);
            $('#From').datepicker('setDate', formattedfromdate);
        });
        function loadsalesbyso() {
            var fromdate = $('#From').val();
            var todate = $('#To').val();
            window.location.href = "/Accounts/accountsdashboard?fromdate=" + fromdate + "&todate=" + todate;
        }
</script>
}