
@using QuickSoft.Models
@model QuickSoft.ViewModel.ProTaskViewModel
@{
    ViewBag.Title = "List";
    ViewBag.SubTitle = "Task List";
    ViewBag.Active = "Master";
    string actEdit = "";
    string actDelete = "";
    string actData = "";
    string actDatas = "";
    string actImg = "";
    string delchk = "";
    bool userRole = false;
    string deleteBTn = "";
    string assignBtn = "";

    if (User.IsInRole("Dev") || User.IsInRole("Delete ProTask"))
    {
        userRole = true;
    }


    var rowCount1 = 19;
    var rowCount2 = 20;

    var Ref1 = 0;
    var Ref2 = 0;
    var Ref3 = 0;
    var Ref4 = 0;
    var Ref5 = 0;
    if (Model.FieldMap != null && Model.FieldMap.Count > 0)
    {
        for (int i = 0; i < Model.FieldMap.Count; i++)
        {
            if (@Model.FieldMap[i].Field == "Ref1")
            {
                Ref1 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref2")
            {
                Ref2 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref3")
            {
                Ref3 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref4")
            {
                Ref4 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref5")
            {
                Ref5 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
        }
    }
}

<style type="text/css">

    .form-group {
        margin-bottom: 20px !important;
    }

    /* .btn {
        border-radius: 4px !important;
        border: none !important;

    }*/

    .box.box-info a.btn.btn-info.no-border {
        padding: 6px 0px !important;
    }

    .search-box .btn.btn-submit {
        margin: 0px !important;
    }

    div #advsearchlist {
        margin: 0px !important;
    }

    .box-body.search-box {
        position: initial !important;
    }

    /*  .temp2 {
        position: absolute !important;
        background-color: white !important;
        display: table;
        z-index: 1 !important;
        top: -13px !important;
        font-size: 11px !important;
        transition: 0.2s;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        left: 17px;
        padding-left: 3px !important;
        padding-right: 3px !important;
        letter-spacing: 0.5px !important;
    }*/

    /* table.dataTable thead td {
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
    }*/

    /*.dt-button {
        background-image: linear-gradient(to bottom,#eaf2fd,#c0d8f9) !important;
        box-shadow: -1px 1px 1px rgba(0,0,0,.3);
        color: #2059a5 !important;
        border: none !important;
    }*/
    .bukassgnbtn {
        background-image: linear-gradient(to bottom,#0d83dd,#325b84 ) !important;
        border: none !important;
        color: white !important;
    }

    .form-control {
        /*height: 25px !important;*/
        height: 34px !important;
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
    }

    .box.box-info .select2-container--default .select2-selection--single {
        height: 34px !important;
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
    }

    .date {
        height: 34px !important;
        border-radius: 4px !important;
    }

    /*.ribbon4 {
        width: auto;
        position: absolute;
        left: -25px !important;
        top: -10px;
        padding: 5px 20px 5px 10px;
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
        box-shadow: -1px 2px 3px rgba(0,0,0,.3);
        color: white;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
    }

        .ribbon4:before, .ribbon4:after {
            content: "";
            position: absolute;
        }

        .ribbon4:before {
            width: 10px;
            height: 117%;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
            border-radius: 6px 0 0 5px;
        }

        .ribbon4:after {
            width: 10px;
            height: 8px;
            bottom: -8px;
            left: -5px;
            background: #095b9a;
            border-radius: 5px 0 0 5px;
        }*/

    .dropdown-check-list .anchor {
        border: 1px solid #0d83dd !important;
    }

    .dropdown-check-list {
        display: inline-block;
        /*  position: absolute;*/
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
            width: 236px;
            background: #fff;
            text-align: center;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 0px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 9;
            width: 236px;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 340px;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
                background: #fff;
                padding: 5px;
                width: 236px;
            }

    .add-btn-item {
        border-radius: 23px;
        padding: 6px 20px;
    }

    .dropdown-check-list.visible .anchor {
        color: #0094ff;
    }

    .dropdown-check-list.visible .items {
        display: block;
    }

    @@media only screen and (max-width: 400px) {
        .top3 {
            margin-top: 27px;
        }

        .adv-search-height {
            margin-left: 10px !important;
        }

        .responsive-search {
            padding: 0px 0px 0px 0px !important;
        }

        .btn-close {
            background-color: red !important;
            width: 150px !important;
        }

        .task-name-center {
            text-align: center !important;
        }
    }

    @@media only screen and (min-width: 800px) {
        .top3 {
            margin-top: 10px;
        }

        .adv-search-height {
            top: -30px !important;
            margin-left: 13px;
        }

        .responsive-search {
            padding: 20px 0px 0px 50px !important;
        }

        .btn-close {
            background-color: red !important;
        }
    }
</style>

<div class="box box-info">
    <div class="box-header with-border">

        <div class="row ">
            <div class="col-md-8 col-xs-4">
                <div class="ribbon">
                    <div class="ribbon4"><h3 class="box-title">&nbsp;&nbsp;Task &nbsp;&nbsp;</h3></div>
                </div>
            </div>
            @*<div class="col-md-10 col-xs-12 task-name-center ">
                    <h3 class="box-title" style="font-size:x-large;">Task</h3>
                </div>*@
            <div class="col-md-4 col-xs-8 pull-right" style="padding: 0px; margin: 10px 0px 0px 0px;">
                @if (User.IsInRole("Dev") || User.IsInRole("Create ProTask"))
                {

                    <div class="col-md-4 col-xs-6 pull-right" style="padding:0px;">
                        <a class="btn btn-info no-border" @*style="background-image: linear-gradient(to bottom,#0d83dd,#325b84 ); border: none!important"*@ href="/ProTask/MyTask">
                            <i class="glyphicon glyphicon-plus" style="color: #325b84"></i> My Task
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 pull-right" style="padding:0px;">
                        <a class="btn btn-info no-border" @*style="background-image: linear-gradient(to bottom,#0d83dd,#325b84 ); border: none!important"*@ href="/ProTask/Create">
                            <i class="glyphicon glyphicon-plus" style="color: #325b84"></i> Create
                        </a>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-10 mx-auto" id="taskchecklist" style="padding:0px; margin:0px;">

        <div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor" style="z-index:9;">Select Fields</span>
            <ul class="items">
                <li><input type="checkbox" id="litaskname" class="liname" />Task Name </li>
                @*---------------- For Optional Fields ----------------*@
                @if (Model.FieldMap != null && Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        if (Model.FieldMap[i].Field == "Ref1")
                        {
                            <li><input type="checkbox" id="liOptionalField1" />@Model.FieldMap[i].FieldName</li>
                        }
                        if (Model.FieldMap[i].Field == "Ref2")
                        {
                            <li><input type="checkbox" id="liOptionalField2" />@Model.FieldMap[i].FieldName</li>
                        }
                        if (Model.FieldMap[i].Field == "Ref3")
                        {
                            <li><input type="checkbox" id="liOptionalField3" />@Model.FieldMap[i].FieldName</li>
                        }
                        if (Model.FieldMap[i].Field == "Ref4")
                        {
                            <li><input type="checkbox" id="liOptionalField4" />@Model.FieldMap[i].FieldName</li>
                        }
                        if (Model.FieldMap[i].Field == "Ref5")
                        {
                            <li><input type="checkbox" id="liOptionalField5" />@Model.FieldMap[i].FieldName</li>
                        }
                    }
                }
                <li><input type="checkbox" id="litaskstatus" />Task Status</li>
                <li><input type="checkbox" id="liOpnCls" />Open / Close</li>
                <li><input type="checkbox" id="limobile" />Mobile</li>
                <li><input type="checkbox" id="lilocation" />Location</li>
                <li><input type="checkbox" id="lifromdate" />From Date</li>
                <li><input type="checkbox" id="litodate" />To Date</li>
                <li><input type="checkbox" id="litasktype" />Task Type</li>
                <li><input type="checkbox" id="lileadpipelncust" />Lead/Pipeline/Customer</li>
                <li><input type="checkbox" id="liprojects" />Projects</li>
                <li><input type="checkbox" id="licreatedby" />Created By</li>
                <li><input type="checkbox" id="lipriority" />Priority</li>
                <li><input type="checkbox" id="lisalesperson" />Sales Person</li>
                <li><input type="checkbox" id="lireminderdate" />Reminder Date</li>
                <li><input type="checkbox" id="lireminderstatus" />Reminder Status</li>
                <li><input type="checkbox" id="lilastupdated" />Last Updated</li>
                <li><input type="checkbox" id="liassignedto" />Assigned To</li>
                <li><input type="checkbox" id="liInvnoremarks" />Invoice No / Remarks</li>
                @if (@ViewBag.BusiType == "Workshop")
                {
                    <li><input type="checkbox" id="liWorkshop" />Work Shop</li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-9 col-xs-12">

        <div class="box-body search-box adv-search-height" id="advsearchlist">

            <div class="search-body responsive-search " style="background:none; ">

                <form id="search-form">

                    <div class="row">

                        <input type="hidden" id="protaskId" />
                        <div class="form-group col-md-2  col-xs-12" id="searchtaskname" hidden>
                            @Html.Label("Task Name", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlTaskName", (SelectList)ViewBag.TaskName, new { @class = "form-control input-sm select2" })
                        </div>
                        @*----------------- For Optional Fields -----------------*@
                        @if (Model.FieldMap.Count > 0)
                        {
                            for (int i = 0; i < Model.FieldMap.Count; i++)
                            {
                                if (Model.FieldMap[i].Type == "Dropdown")
                                {
                                    if (Model.FieldMap[i].Field == "Ref1")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField1" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef1, "All", new { @id = "Ref1", @class = "form-control input-sm select2 ref" })
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref2")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField2" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef2, "All", new { @id = "Ref2", @class = "form-control input-sm select2 ref" })
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref3")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField3" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef3, "All", new { @id = "Ref3", @class = "form-control input-sm select2 ref" })
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref4")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField4" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef4, "All", new { @id = "Ref4", @class = "form-control input-sm select2 ref" })
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref5")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField5" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef5, "All", new { @id = "Ref5", @class = "form-control input-sm select2 ref" })
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (Model.FieldMap[i].Field == "Ref1")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField1" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref2")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField2" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref3")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField3" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref4")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField4" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                        </div>
                                    }
                                    if (Model.FieldMap[i].Field == "Ref5")
                                    {
                                        <div class="form-group col-md-2 col-xs-12 " id="searchOptionalField5" style="display: none;">
                                            <label class="control-label temp2" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                            <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                        </div>
                                    }
                                }
                            }
                        }
                        <div class="form-group col-md-2 col-xs-12" id="searchtaskstatus" hidden>
                            @Html.Label("Task Status", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("TaskStatus", (SelectList)ViewBag.TStat, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchmobile" hidden>
                            @Html.Label("Mobile", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlmobile", (SelectList)ViewBag.Mobile, new { @class = "form-control input-sm select2" })
                        </div>

                        <div class="form-group col-md-2 col-xs-12 select2-box" id="searchlocation" hidden>
                            @Html.Label("Location", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlLocation", (SelectList)ViewBag.Locat, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchfromdate" hidden>
                            @Html.Label("From Date", null, new { @class = "control-label temp2" })
                            <div class="input-group date">
                                @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchtodate" hidden>
                            @Html.Label("To Date", null, new { @class = "control-label temp2" })
                            <div class="input-group date">
                                @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchtasktype" hidden>
                            @Html.Label("Task Type", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlTaskType", (SelectList)ViewBag.TaskType, new { @class = "form-control input-sm select2" })
                        </div>

                        <div class="form-group col-md-2 col-xs-12" id="searchcustomer" hidden>
                            @Html.Label("Customer", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchproject" hidden>
                            @Html.Label("Projects", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlProject", (SelectList)ViewBag.Projects, new { @class = "form-control input-sm select2" })
                        </div>

                        <div class="form-group col-md-2 col-xs-12" id="searchcreatedby" hidden>
                            @Html.Label("Created By", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlCreatedBy", (SelectList)ViewBag.User, new { @class = "form-control input-sm select2" })
                        </div>

                        <div class="form-group col-md-2 col-xs-12" id="searchpriority" hidden>
                            @Html.Label("Priority", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("Priority", new SelectList(new List<SelectListItem>
                            {
                            new SelectListItem() {Text = "All", Value="0"},
                            new SelectListItem() {Text = "Low", Value="1"},
                            new SelectListItem() {Text = "Medium", Value="2"},
                            new SelectListItem() {Text = "High", Value="3"},
                              new SelectListItem() {Text = "MaterialUpdation", Value="4"}
                            }, "Value", "Text"), new { @class = "form-control input-sm", @name = "Priority" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchsalesperson" hidden>
                            @Html.Label("Sales Person", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.SalesExecutive, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchremdate" hidden>
                            @Html.Label("Reminder Date", null, new { @class = "control-label temp2" })
                            <div class="input-group date">
                                @Html.TextBox("ReminderDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchremstatus" hidden>
                            @Html.Label("Reminder Status", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("RemStatus", new SelectList(new List<SelectListItem>
                            {
                            new SelectListItem() {Text = "All", Value="0"},
                            new SelectListItem() {Text = "Upcoming", Value="Upcoming"},
                            new SelectListItem() {Text = "Expired", Value="Expired"},
                            }, "Value", "Text"), new { @class = "form-control input-sm", @name = "RemStatus" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchlastupdtd" hidden>
                            @Html.Label("Last Updated", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("LastUpdated", new SelectList(new List<SelectListItem>
                            {
                               new SelectListItem(){ Text = "All", Value="0"},
                                new SelectListItem() {Text = "1 Day Ago", Value="1"},
                                new SelectListItem() {Text = "7 Days Ago", Value="7"},
                                new SelectListItem() {Text = "1 Month Ago", Value="30"},
                                new SelectListItem() {Text = "3 Months Ago", Value="90"},
                                new SelectListItem() {Text = "6 Months Ago", Value="180"},
                                new SelectListItem() {Text = "1 Year Ago", Value="360"},
                            }, "Value", "Text"), new { @class = "form-control input-sm", @name = "LastUpdated", tabindex = 7 })
                        </div>
                        <div class="form-group col-md-2 col-xs-12 select2-box" id="searchassgnto" hidden>
                            @Html.Label("Assigned To", null, new { @class = "control-label temp2" })
                            @Html.DropDownListFor(m => m.AssignedMembers, (SelectList)ViewBag.Employee, new { @id = "AssignedUsers", @class = "form-control select2 porder" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchinvnoremarks" hidden>
                            @Html.Label("Invoice No/Remarks", null, new { @class = "control-label temp2" })
                            @Html.TextBox("Remarks", "", "", new { @class = "form-control ", @autocomplete = "off" })
                        </div>

                        <div class="form-group col-md-2 col-xs-12" id="searchVehicleType" hidden>
                            @Html.Label("Vehicle Type", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlVehicleType", (SelectList)ViewBag.VehicleTypes, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchVehicleManu" hidden>
                            @Html.Label("Manufacturer", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlVehicleManu", (SelectList)ViewBag.VehicleManu, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2 col-xs-12" id="searchVehicleModel" hidden>
                            @Html.Label("Model", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlVehicleModel", (SelectList)ViewBag.VehicleModels, new { @class = "form-control input-sm select2" })
                        </div>
                        <div class="form-group col-md-2" id="searchOpnCls" hidden>
                            @Html.Label("Open / Close", null, new { @class = "control-label temp2" })
                            @Html.DropDownList("ddlOpnCls", new SelectList(new List<SelectListItem>
                                {
                                new SelectListItem() {Text = "All", Value=""},
                                new SelectListItem() {Text = "Open", Value="0"},
                                new SelectListItem() {Text = "Closed", Value="1"}
                                }, "Value", "Text"), new { @class = "form-control input-sm" })
                        </div>

                        <div class="form-group col-md-2 col-xs-6 text-center" id="search">
                            <input type="submit" class="btn btn-submit" @*style=" background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);border-radius:4px!important;border:none;"*@ value="Submit" />
                        </div>
                        <div class="form-group col-md-2 col-xs-6 " id="close">
                            <input type="button" class="btn btn-close" @*style="background-image: linear-gradient(to bottom,#eaf2fd,#c0d8f9); box-shadow: -1px 1px 1px rgba(0,0,0,.3); color: #2059a5 !important; "*@ value="Close" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-xs-2 text-right top3" style="">
        <a href="~/ProTask/taskcal" target="_new">

            <img src="~/Content/img/calendar.jpg" height="40" />
        </a>
    </div>
    @*<div class="col-md-2">
            <a type='button' href='/ProTask/bulkAssign' onclick="setItem()" class='modal-create-lg btn btn-success btn-flat'><i class='fa fa-1x fa-search-plus'></i>Search</a>
        </div>*@
    @using (Html.BeginForm("DeleteAllTask", "ProTask", FormMethod.Post, new { id = "payform", role = "form" }))
    {

        <div class="box-body">
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1"><div style="width: 10px !important">SI No</div></td>
                       
                        <td data-priority="1"><div style="width:60px !important">Task Name</div></td>
                   
                        <td data-priority="4"><div style="width:200px">Customer</div></td>
                        <td data-priority="4"><div style="width:100px">Mobile</div></td>
                        </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        @*if (User.IsInRole("Dev") || User.IsInRole("Delete ProTask"))
            {
                <div class="box-footer text-right col-md-12" id="sub">
                    <button type="submit" id="save" data-confirm="Are u sure want to delete?" class="btn btn-danger">Delete</button>
                </div>
            }*@
    }

    <div id="modal-container3" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Remarks </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" id="modelview">
                        <table class="table table-bordered table-hover" id="RemarkInfo">
                            <thead>
                                <tr class="bg-gray">
                                    <td>#</td>
                                    <td>Date & times</td>
                                    <td>Employee</td>
                                    <td>Remark</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Reminder/Index")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@Html.Partial("../Common/_ModeItemCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-piexif")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")

    <script type="text/javascript">
        $(document).on('click', '.modal-create-lg', function (e) {
            e.preventDefault();
            var t = 0;
            var data = 0;
            var cnt = 0;
            var rowno = 0;
            var values = new Array();
            $("input[class='checkbox']:checked").each(function () {
                rowno++;
                data = $(this).val();
                values.push(data);
                cnt++;
            });
            var url = "/ProTask/bulkAssign?Items=" + values;
            modalshow(url, '#modal-create-lg');
        });
        var chkflag = 0;
        var date = new Date();
        date.setDate(date.getDate());
        $('.date').datepicker({
          //  startDate: date,
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $(".timepicker").timepicker({
            showInputs: true,
            defaultTime: false,
            format: 'dd-mm-yyyy'
        });
        $(document).ready(function () {

            TaskStatusName();
            SearchTaskMobile();

            $('#checklist').hide();

            $('#advsearchlist').hide();

            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            $('#ReminderDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            CallEmployee();
            CallLeadPipeCustAll();
            CallProject();

            $(".ref").select2({});

            CallTaskName();
            CallTaskType();
            $("#AssignedUser").select2({
                placeholder: 'Search Employees by Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            //assignedto
            //$("#ddlEmployee").select2({
            //    placeholder: 'Search Employee by Name ',
            //    minimumInputLength: 0,
            //    ajax: {
            //        url: "/Employee/SearchEmployeeForTask",
            //        dataType: 'json',
            //        delay: 50,
            //        data: function (params) {
            //            return {
            //                q: params.term,
            //                page: params.page,
            //                x: "empty"
            //            };
            //        },
            //        processResults: function (data, params) {
            //            params.page = params.page || 1;

            //            return {
            //                results: data
            //            };
            //        },
            //        cache: true
            //    },
            //});
            //ddlCreatedBy
            CallSearchUser();
            GetTaskLocation();

            $("#ddlVehicleType").select2({
                placeholder: 'Select Vehicle Type',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/SearchVehicleType",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select Vehicle Type"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlVehicleManu").select2({
                placeholder: 'Select Manufacturer',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/getVehiManufacturer",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,

                            page: params.page,
                            x: " Select Manufacturer"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlVehicleModel").select2({
                placeholder: 'Select the Model',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/getVehiModel",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select Model"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $("#AssignedUsers").select2({
                placeholder: 'Search Employees by Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });

        /************* Function to display/hide fields while clicking on checkboxes (Select Fields) **************/
        $("ul li input:checkbox").click(function () {
            var _show = 0;

            //Task Name
            if ($("#litaskname").prop("checked") == true) {
                $("#searchtaskname").show();
                _show = 1;
            }
            else {
                $('#ddlTaskName').val(0).trigger("change");
                $("#searchtaskname").hide();

            }

            //Task Status
            if ($("#litaskstatus").prop("checked") == true) {
                $("#searchtaskstatus").show();
                _show = 1;
            }
            else {
                $('#TaskStatus').val(0).trigger("change");
                $("#searchtaskstatus").hide();

            }
            //open close
            if ($("#liOpnCls").prop("checked") == true) {
                $("#searchOpnCls").show();
                _show = 1;
            }
            else {
                $('#ddlOpnCls').val("").trigger("change");
                $("#searchOpnCls").hide();
                //oTable.draw();
            }
            //Mobile
            if ($("#limobile").prop("checked") == true) {
                $("#searchmobile").show();
                _show = 1;
            }
            else {
                $('#ddlmobile').val("All").trigger("change");
                $("#searchmobile").hide();

            }

            //Location
            if ($("#lilocation").prop("checked") == true) {
                $("#searchlocation").show();
                _show = 1;
            }
            else {
                $('#ddlLocation').val("0").trigger("change");
                $("#searchlocation").hide();

            }
            //workshop
            if ($("#liWorkshop").prop("checked") == true) {
                $("#searchVehicleType").show();
                $("#searchVehicleManu").show();
                $("#searchVehicleModel").show();
                _show = 1;
            }
            else {
                $('#ddlVehicleType').val("0").trigger("change");
                $('#ddlVehicleManu').val("0").trigger("change");
                $('#ddlVehicleModel').val("0").trigger("change");
                $("#searchVehicleType").hide();
                $("#searchVehicleManu").hide();
                $("#searchVehicleModel").hide();

            }


            //From Date
            if ($("#lifromdate").prop("checked") == true) {
                $("#searchfromdate").show();
                _show = 1;
            }
            else {
                $('#From').val(null);
                $("#searchfromdate").hide();

            }

            //To Date
            if ($("#litodate").prop("checked") == true) {
                $("#searchtodate").show();
                _show = 1;
            }
            else {
                $('#To').val(null);
                $("#searchtodate").hide();

            }

            //Task Type
            if ($("#litasktype").prop("checked") == true) {
                $("#searchtasktype").show();
                _show = 1;
            }
            else {
                $('#ddlTaskType').val(0).trigger("change");
                $("#searchtasktype").hide();

            }

            //Lead/Pipeline/Customer
            if ($("#lileadpipelncust").prop("checked") == true) {
                $("#searchcustomer").show();
                _show = 1;
            }
            else {
                $('#ddlCustomer').val(0).trigger("change");
                $("#searchcustomer").hide();

            }

            //Project
            if ($("#liprojects").prop("checked") == true) {
                $("#searchproject").show();
                _show = 1;
            }
            else {
                $('#ddlProject').val(0).trigger("change");
                $("#searchproject").hide();

            }

            //Created By
            if ($("#licreatedby").prop("checked") == true) {
                $("#searchcreatedby").show();
                _show = 1;
            }
            else {
                $('#ddlCreatedBy').val("All").trigger("change");
                $("#searchcreatedby").hide();

            }

            //Priority
            if ($("#lipriority").prop("checked") == true) {
                $("#searchpriority").show();
                _show = 1;
            }
            else {
                $('#Priority').val(0).trigger("change");
                $("#searchpriority").hide();

            }

            //Sales Person
            if ($("#lisalesperson").prop("checked") == true) {
                $("#searchsalesperson").show();
                _show = 1;
            }
            else {
                $('#ddlEmployee').val(0).trigger("change");
                $("#searchsalesperson").hide();

            }

            //Reminder Date
            if ($("#lireminderdate").prop("checked") == true) {
                $("#searchremdate").show();
                _show = 1;
            }
            else {
                $("#ReminderDate").val("");
                $("#searchremdate").hide();

            }

            //Reminder Status
            if ($("#lireminderstatus").prop("checked") == true) {
                $("#searchremstatus").show();
                _show = 1;
            }
            else {
                $('#RemStatus').val(0);
                $("#searchremstatus").hide();

            }

            //Last Updated
            if ($("#lilastupdated").prop("checked") == true) {
                $("#searchlastupdtd").show();
                _show = 1;
            }
            else {
                $('#LastUpdated').val(0);
                $("#searchlastupdtd").hide();

            }

            //Assigned To
            if ($("#liassignedto").prop("checked") == true) {
                $("#searchassgnto").show();
                _show = 1;
            }
            else {
                $('#AssignedUsers').val(0).trigger("change");
                $("#searchassgnto").hide();

            }

            //InvoiceNo/Remarks
            if ($("#liInvnoremarks").prop("checked") == true) {
                $("#searchinvnoremarks").show();
                _show = 1;
            }
            else {
                $("#Remarks").val("");
                $("#searchinvnoremarks").hide();

            }

            //Optional Field1
            if ($("#liOptionalField1").prop("checked") == true) {
                $("#searchOptionalField1").show();
                _show = 1;
            }
            else {
                $('#Ref1').val(null).trigger("change");
                $("#searchOptionalField1").hide();

            }

            //Optional Field2
            if ($("#liOptionalField2").prop("checked") == true) {
                $("#searchOptionalField2").show();
                _show = 1;
            }
            else {
                $('#Ref2').val(null).trigger("change");
                $("#searchOptionalField2").hide();

            }

            //Optional Field3
            if ($("#liOptionalField3").prop("checked") == true) {
                $("#searchOptionalField3").show();
                _show = 1;
            }
            else {
                $('#Ref3').val(null).trigger("change");
                $("#searchOptionalField3").hide();

            }
            //Optional Field4
            if ($("#liOptionalField4").prop("checked") == true) {
                $("#searchOptionalField4").show();
                _show = 1;
            }
            else {
                $('#Ref4').val(null).trigger("change");
                $("#searchOptionalField4").hide();

            }

            //Optional Field5
            if ($("#liOptionalField5").prop("checked") == true) {
                $("#searchOptionalField5").show();
                _show = 1;
            }
            else {
                $('#Ref5').val(null).trigger("change");
                $("#searchOptionalField5").hide();

            }

            //If anyone checked, show Search division
            if (_show == 1) {
                $('#advsearchlist').show();
            }
            else {
                $('#advsearchlist').hide();
            }
        });

        var oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "paging": false,//Dont want paging                
            "bPaginate": false,//Dont want paging
            stateSave: true,
            responsive: true,
            "bLengthChange": false,
            "ajax": {
                "url": '/ProTask/GetAllTaskContact',
                "data": function (data) {
                    data.taskname = $('#ddlTaskName').val();
                    data.tasktype = $('#ddlTaskType').val();
                    data.customer = $('#ddlCustomer').val();
                    data.projects = $('#ddlProject').val();
                    data.assignedto = $('#ddlEmployee').val();
                    data.createdby = $('#ddlCreatedBy').val();
                    // data.status = $('#Status').val();
                    data.priority = $("#Priority").val();
                    data.fromdate = $('#From').val();
                    data.todate = $('#To').val();
                    data.taskstat = $('#TaskStatus').val();
                    data.empl = $('#ddlEmployee').val();
                    data.txtremarks = $("#Remarks").val();
                    data.ref1 = $('#Ref1').val();
                    data.ref2 = $('#Ref2').val();
                    data.ref3 = $('#Ref3').val();
                    data.ref4 = $('#Ref4').val();
                    data.ref5 = $('#Ref5').val();

                    data.VType=$('#ddlVehicleType').val();
                    data.Vmanu = $('#ddlVehicleManu').val();
                    data.Vmod = $('#ddlVehicleModel').val();
                    data.OpnCls = $('#ddlOpnCls').val();
                    data.remdate = $('#ReminderDate').val();
                    data.remstatus = $('#RemStatus').val();
                    data.local = $('#ddlLocation').val();
                    data.Mobile = $('#ddlmobile').val();
                    data.LastUpdDays = $('#LastUpdated').val();
                    data.AssTo = $('#AssignedUsers').val();
                    data.flag = chkflag;
                },
                "type": "POST",
                "datatype": "json"
            },
         
            
            "columns": [
                 {
                     "data": "ProTaskId", "name": "ProTaskId",
                     "render": function (data, type, row, meta) {
                         return meta.row + meta.settings._iDisplayStart + 1;
                     }
                 },
               
                {
                    "name": "TaskName", "data": function (data) {
                        @{
                            if (User.IsInRole("Dev") || User.IsInRole("View ProTask"))
                            {
                                actData += "'<a href=\"/ProTask/Details/'+ data.ProTaskId +'\"  target=\"_new\">'+ data.TaskName +'</a>' ";
                            }
                            else
                            {
                                actData += "data.TaskName";
                            }
                        }
                        return @Html.Raw(actData);
                    }
                },
                { "data": "CustomerName", "name": "CustomerName" },
             
                {
                    "name": "Mobile", "data": "mobmodel"
                }
              
            ],
            buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                 'colvis',
                 {
                     extend: 'print',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Task';
                     },
                     columnDefs: [
                         { width: 400, targets: 2 }
                     ],
                     exportOptions: {
                         columns: ':visible'
                     },
                     message: function () {
                         var head = '<table class="tblcompact table table-bordered"><thead>' +
                         ' <tr><th class="text-center"><h3 style="margin-top: 0px;"><h4>Task</h4></th></tr>';
                         return head;
                     },
                     customize: function (win) {
                         // $(win.document.body)
                         //.css('font-size', '10pt')
                         //.css('padding', '1px');
                         $(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
                         $(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
                             .css('font-size', '10pt')
                             .css('padding', '5px')
                             .addClass('compact');
                         $(win.document.body).find('.dataTable tr th:nth-child(3)')
                             .css('min-width', '80px');
                         //$(win.document.body).find('.tblcompact tbody td:nth- child(2)')
                         //    .css('padding', '0px');
                         $(win.document.body).append('</td></tr></tbody>')

                     }
                 }, 'copy', 'csv', //'excel',
                 //Excel
                 {
                     extend: 'excel',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Task';
                     },
                     message: function () {
                         var head = 'Task';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                 },
                 {
                     extend: 'pdf',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Task';
                     },
                     message: function () {
                         var head = 'Task';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                     customize: function (doc) {
                         doc.pageMargins = [10, 10, 10, 10];
                         doc.defaultStyle.fontSize = 10;
                         doc.styles.tableHeader.fontSize = 10;
                         doc.styles.title.fontSize = 12;
                         // Header font and bg color
                         doc.styles.tableHeader.fillColor = '#d3d3d3';
                         doc.styles.tableHeader.color = 'black';
                         // Remove spaces around page title
                         doc.content[0].text = doc.content[0].text.trim();


                         doc.styles['td:nth-child(2)'] = {
                             width: '100%',
                             'max-width': '100%'
                         }

                         var objLayout = {};
                         // Horizontal line thickness
                         objLayout['hLineWidth'] = function (i) { return .5; };
                         // Vertikal line thickness
                         objLayout['vLineWidth'] = function (i) { return .5; };
                         //// Horizontal line color
                         //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                         //// Vertical line color
                         //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                         // Left padding of the cell
                         objLayout['paddingLeft'] = function (i) { return 4; };
                         // Right padding of the cell
                         objLayout['paddingRight'] = function (i) { return 4; };
                         // Inject the object in the document
                         doc.content[1].layout = objLayout;
                         // Footer font and bg color
                         doc.styles.tableFooter.fillColor = '#d3d3d3';
                         doc.styles.tableFooter.color = 'black';

                     }
                },

            ],
            sDom: "lBfr<'datatable-scroll't>ip",
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "drawCallback": function (settings) {
                var table = $('#UserTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        
        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }

        //Button Close
        $('#srch, .search-box .btn-close').on('click', function (e) {
            $('#advsearchlist').toggle();

            /*******  To uncheck all the checkboxes in the Select List  ************/
            var checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (Checkbox) {
                Checkbox.checked = false;
            });

            if ($('#srch').hasClass('btn-primary')) {
                $('#srch').addClass('btn-danger');
                $('#srch').removeClass('btn-primary');
            }
            else {
                if ($('#srch').hasClass('btn-danger')) {
                    $('#srch').addClass('btn-primary');
                    $('#srch').removeClass('btn-danger');
                    //location.reload();
                }
                /*******  To clear all the data entered  *********/
                $('#ddlTaskName').val(0).trigger("change");
                $('#TaskStatus').val(0).trigger("change");
                $('#ddlmobile').val("All").trigger("change");
                $('#ddlLocation').val("0").trigger("change");
                $('#From').val(null);
                $('#To').val(null);
                $('#ddlTaskType').val(0).trigger("change");
                $('#ddlCustomer').val(0).trigger("change");
                $('#ddlProject').val(0).trigger("change");
                $('#ddlCreatedBy').val("All").trigger("change");
                $('#Priority').val(0).trigger("change");
                $('#ddlEmployee').val(0).trigger("change");
                $('#ReminderDate').val("");
                $('#RemStatus').val(0);
                $('#LastUpdated').val(0);
                $('#AssignedUsers').val(0).trigger("change");
                $("#Remarks").val("");
                $('#Ref1').val(null).trigger("change");
                $('#Ref2').val(null).trigger("change");
                $('#Ref3').val(null).trigger("change");
                $('#Ref4').val(null).trigger("change");
                $('#Ref5').val(null).trigger("change");

                $('#ddlVehicleType').val(0).trigger("change");
                $('#ddlVehicleManu').val(0).trigger("change");
                $('#ddlVehicleModel').val(0).trigger("change");
                oTable.draw();
            }

            var minDate = $("#Start").val();
            var maxDate = $("#End").val();
            $('#FromDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });
            $('#ToDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            //$('#ToDate').datepicker('setDate', today);
            //$('#FromDate').datepicker('setDate', priordate);
            TaskStatusName();
            CallLeadPipeCustAll();
            CallEmployee();
            CallProject();
            CallTaskName();
            CallTaskType();
            CallSearchUser();
        });

        //To clear dropdown 'Project' while selecting value on 'Lead/Pipeline/Customer'
        $('body').on('change', '#ddlCustomer', function (e) {
            $('#ddlProject').val(null).trigger('change');
            CallProject();
        });

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            oTable.draw();
        });

        //select all checkboxes
        $('body').on('change', '#select_all', function () {
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('body').on('change', '.checkbox', function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            isTicked();
        });
        isTicked();

        /* function for view detail popup */
        $('#UserTable').on('click', 'a.modal-image', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })

        /* function for view detail popup */
        $('#UserTable').on('click', 'a.viewdetails', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });

        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });

        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');

            detailsRemind($("#protaskId").val());
        });

        /* function for delete popup */
        $('div').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
            detailsRemind($("#protaskId").val());
        });

        $('.table').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container2');
            $(this).attr('data-toggle', 'modal');
        });

        $('.table').on('click', '.modal-close-btn', function () {
            $('#modal-container2').modal('hide');
            $('#modal-container2').removeData('bs.modal');
        });

        $('#modal-container2').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('.table').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container3');
            $(this).attr('data-toggle', 'modal');
        });

        function detailsRemark(d) {
            var oTable1 = $('#RemarkInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "sortable": true,
                "ordering": true,
                "searching": true,
                "ajax": {
                    "url": '/ProTask/GetAllRemarks',
                    "type": "POST",
                    "datatype": "json",
                    "data": { TaskId: d }
                },
                "order": [[0, "desc"]],

                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                     { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                  { "data": "empnae", "name": "empnae" },
                  { "data": "Remark", "name": "Remark" },
                ],
            });
            oTable1.destroy();
        }

        $('div').on('click', 'a.UpdationRe', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerRe');
            $(this).attr('data-toggle', 'modal');
        });
        /* function for Edit popup */

        //$('div').on('click', '.modal-edit', function (e) {
        //    e.preventDefault();
        //    var url = $(this).attr('href');
        //    modalshow(url, '#modal-edit');
        //});
        //$('#modal-edit').on('submit', '#editform', function (e) {
        //    e.preventDefault();
        //    var url = $('#editform')[0].action;
        //    var data = $('#editform').serialize();
        //    createajax(url, data, '#modal-edit');
        //    oTable1.draw(false);
        //});

        //function reload_table() {
        //    oTable1.clear().draw();
        //    oTable1.ajax.reload(null, false); //reload datatable ajax
        //    isTicked();
        //}

        function detailsRemind(d) {
            if (d != "") {
                $("#protaskId").val(d);
                var oTable1 = $('#RemindInfo').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "bStateSave": true,
                    "paging": false,
                    "sortable": true,
                    "ordering": true,
                    "searching": true,
                    "ajax": {
                        "url": '/Reminder/GetAllReminder',
                        "type": "POST",
                        "datatype": "json",
                        "data": { Id: d, type: "Task" }
                    },
                    "order": [[0, "desc"]],

                    "columns": [
                         {
                             "data": "ReminderId", "name": "ReminderId",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                      { "data": "Note", "name": "Note" },
                     { "data": "RDate", "name": "RDate", "render": function (data) { if (data != null && data != "") { return convertDateTime(data); } else { return "" } } },
                                //{
                      //    "name": "AssignedTo", "data": function (data) {
                      //        var datas = "";
                      //        $.each(data.AssignedTo, function (i, item) {
                      //            if (datas != "") {
                      //                datas += ", ";
                      //            }
                      //            datas += item.FirstName + " " + item.LastName;
                      //        })
                      //        return datas;
                      //    }
                      //},
                      //{ "data": "RequestBy", "name": "RequestBy" },
                      { "data": "CreatedBy", "name": "CreatedBy" },
                      { "data": "RStatus", "name": "RStatus" },
                      {
                          "name": "ReminderId", "data": function (data) {
                              var rest = "";
                              @{
                          actData = "";
                          actDatas = "<a class=\"modal-edit btn btn-icons btn-rounded btn-edit\"  href=\"/Reminder/Edit/'+ data.ReminderId +'\" title=\"Edit Reminder\"><i class=\"fa fa-pencil\" ></i></a> ";
                          }
                              rest += '@Html.Raw(actDatas)';

                              if (data.CheckUser == true) {
                                  @{
                              actData = "";
                              actDatas = "<a class=\"modal-delete btn btn-icons btn-rounded btn-delete\" href=\"/Reminder/Delete/'+ data.ReminderId +'\" title=\"Delete Reminder\"><i class=\"fa fa-trash\" ></i></a> ";
                          }
                                  rest += '@Html.Raw(actDatas)';
                              }

                              return rest;
                          }
                      }
                    ],
                });
                oTable1.destroy();
            }
        }

        $('#modal-create').on('shown.bs.modal', function (e) {
            var date = new Date();
            date.setDate(date.getDate());
            $('.datepicker').datepicker({
                startDate: date,
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }
            $(".timepicker").timepicker({
                showInputs: true,
                defaultTime: false,
                format: 'dd-mm-yyyy'
            });
            $("#ddlAssignedTo").select2({
                placeholder: 'Search User',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployeeUser",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });

        /* function for delete popup */
        $('div').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });

        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

        var checkList = document.getElementById('list1');

        /******* Function to list and hide dropdown checklist while clicking on 'Select Fields' *******/
        checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
            chkflag = 1;
            if (checkList.classList.contains('visible'))
                checkList.classList.remove('visible');
            else
                checkList.classList.add('visible');
        }

        /******* Function to hide dropdown checklist while clicking outside it ********/
        $(document).on("click", function (event) {

            var element1 = $("#list1");

            if (element1 !== event.target && !element1.has(event.target).length) {
                checkList.classList.remove('visible');
            }
        });

        //For Optional Fields Dropdowns
        $(".ref").select2({
        });

    </script>
}

