@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel

@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();


    string myclass = "";
}

<div id="printit" class="hidden" style="border:1px solid gray;">
    <style>


        body {
            padding: 15px;
        }

        #pageborder {
            position: fixed;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
            border: 1px double black;
        }

        @@media print {
            @@page {
                size: A4;
                margin: 20px !important;
            }
        }

        #comHeader {
            display: table-header-group;
            height: 50px !important;
        }

        @@media print {
            .pagebreak {
                page-break-before: always;
            }
            /* page-break-after works, as well */
        }

        #content:after {
            display: block;
            content: "";
            margin-bottom: 300mm; /* must be larger than largest paper size you support */
        }

        .bg-blue {
            background-color: rgb(255 216 0) !important;
            -webkit-print-color-adjust: exact;
        }

        .quicknet-title {
            font-size: x-large !important;
        }

        .quote-height {
            height: 30px;
            padding: 0px;
            margin-top: 20px;
        }

        .quote-title {
            margin-left: 13px;
            margin-top: 7px;
            text-transform: uppercase;
            background-color: red;
            -webkit-print-color-adjust: exact;
        }

        .bg-header {
            background-color: rgb(58 107 196 / 0.88) !important;
            -webkit-print-color-adjust: exact;
            margin-left: 40px !important;
        }

        .table-top-border th{
            background: black !important;
            background:transparent;
            -webkit-print-color-adjust: exact;
            margin-top: 5px !important;
        }

        .text-blue {
            background: grey !important;
            -webkit-print-color-adjust: exact;
            color: white !important;
        }
        #blktop {
            background: grey !important;
            -webkit-print-color-adjust: exact;
        }
        #stripes tr:nth-child(even) td {
            background: rgb(255 255 255) !important;
            -webkit-print-color-adjust: exact;
        }
        #stripes tr:nth-child(odd) td {
            background: rgb(242 242 242) !important;
            -webkit-print-color-adjust: exact;
        }

        .aligquote2 tr {
            border-top: 3px solid transparent !important;
            border-bottom: 3px solid transparent !important;
            border-left: 1px solid black !important;
        }
            .aligquote2 tr:nth-child(odd) td {
                background: rgb(242 242 242) !important;
            }
            .aligquote2 tr:nth-child(even) td {
                background: rgb(242 242 242) !important;
            }
        .customerfont {
            font-family: sans-serif !important;
            font-style:normal !important;
            font-size: 18px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin-bottom: 30px !important;
        }
        .black-bg-tb {
            background: grey !important;
            background: transparent;
            -webkit-print-color-adjust: exact;
            margin-top: 5px !important;
        }
        .black-bg-tb th:nth-child(even) {
            background: rgb(255 216 0) !important;
            background: transparent;
            -webkit-print-color-adjust: exact;
            margin-top: 5px !important;
           font-size:larger;
        }
    </style>
    <!-- Main content -->
    <table class="invoice print ">
        <thead>
            <div id="pageborder">

                <!-- title row -->
                <tr class="row " id="header">
                    <th class="col-xs-12" style="">
                        @*<div style="max-height:270px">*@
                        <div>
                            <div class="text-center " id="comHeader">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="width: 10cm; float: left;">
                                                <img src="/logos/LOGO.jpg" width="50" style="float:left;margin-top:25px; margin-left:20px;" />

                                                <div class="" style=" text-align: left; padding-left: 5px; float: left; margin-top: 30px;">
                                                    <h4>
                                                        <strong class="quicknet-title">Quick Net Computers</strong>
                                                    </h4>

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="" style=" text-align: left;  float: right; margin-left:130px;margin-top:10px;">
                                                Mussafah, Shabia ME-11<br />
                                                Abu Dhabi, UAE<br />
                                                www.quicknet.me<br />
                                                Our TRN: 100378421000003
                                            </div>
                                        </td>
                                        @*<td>
                                            <div style="width: -2cm; float: left;"></div>
                                        </td>*@

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-8 bg-blue quote-height" style="margin-left: -10px; "></div>
                            <div class="col-xs-2 quote-height">
                                <h4 class="quote-title">
                                    <strong>@title.Value </strong>
                                </h4>
                            </div>
                            <div class="col-xs-2 bg-blue quote-height " style="position:relative; left:20px;"></div>

                        </div>

            </div>

        </thead>

        <tbody id="content">


            <!-- Table row -->
            <tr class="row">


                <td class=" table-responsive">


                    <div id="itemSection">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px; ">
                            <thead style="display:contents">
                                <tr>
                                    <td colspan="14">
                                        <div class="row">
                                            <div class="col-xs-7 float-right " style="padding-top:22px;">
                                                <table class="table table-bordered" id="itemtable" style="font-size: 15px;border-collapse:separate !important; border-spacing:7px !important;">
                                                    <thead style="display:contents">
                                                        <tr>
                                                            <td colspan="6" class="customerfont"><i><b>@Customer.Value </b></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="padding-bottom: 0px; padding-top: 0px"><label style="font-size: 15px; " id="lblParty"></label></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="padding-bottom: 0px; padding-top: 0px">
                                                                <label id="lbladdress"></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="padding-bottom: 10px; padding-top: 0px">
                                                                TRN : <label id="lbltrn"></label>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="col-xs-5 " style="padding-top:15px;">
                                                <table class="table table-bordered" id="itemtable" style="   font-size: 12px; float: right; ">
                                                    <thead class="aligquote2" style="display:contents; ">
                                                        <tr>
                                                            <th>@InvoiceNo.Value </th>
                                                            <td>: <label id="lblBillNo"></label></td>
                                                        </tr>
                                                        <tr>
                                                            <th>@Date.Value </th>
                                                            <td>: <label id="lblDate"></label></td>
                                                        </tr>
                                                        @{
                                                            if (PO_No != null)
                                                            {
                                                                myclass = PO_No.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                                <tr id="ponoSet" @Html.Raw(myclass)>
                                                                    <th>@PO_No.Value</th>
                                                                    <td>: <label id="lblPONo"></label></td>
                                                                </tr>
                                                            }
                                                        }
                                                        @{
                                                            myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                        }
                                                        <tr id="empSet" @Html.Raw(myclass)>
                                                            <th>Sales Exe.</th>
                                                            <td>: <label id="lblEmployee" style="font-size:12px;"></label></td>
                                                        </tr>
                                                        @{
                                                            myclass = DeliveryNote.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                        }
                                                        <tr id="dvnSet" @Html.Raw(myclass)>
                                                            <th>@DeliveryNote.Value</th>
                                                            <td>: <label id="lbldvn"></label></td>
                                                        </tr>
                                                        @{
                                                            myclass = PaymentType.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                        }
                                                        <tr @Html.Raw(myclass) id="Mpaytype">
                                                            <th>@PaymentType.Value</th>
                                                            <td>: <label id="lblpaytype"></label></td>
                                                        </tr>
                                                        @{
                                                            myclass = Cust_Credit_Period.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                        }
                                                        <tr id="crperiod" @Html.Raw(myclass)>
                                                            <th>@Cust_Credit_Period.Value</th>
                                                            <td>: <label id="lblcperiod"></label></td>
                                                        </tr>
                                                        <tr id="divproject" style="display:none;">
                                                            <th>Project</th>
                                                            <td>: <label id="lblProject"></label></td>
                                                        </tr>
                                                        <tr id="divAgstInvoice">
                                                            <th>Against Invoice</th>
                                                            <td><label id="agstInvoice"></label></td>
                                                        </tr>
                                                        <tr id="divconvert">
                                                            <th id="IblMReqTitle"></th>
                                                            <td><label id="lblMReqNo"></label></td>
                                                        </tr>
                                                        <tr id="divsconvert">
                                                            <th id="IblPQTitle"></th>
                                                            <td><label id="lblPQNo"></label></td>
                                                        </tr>
                                                        <tr id="divtconvert">
                                                            <th id="IblPOTitle"></th>
                                                            <td><label id="lblPOrNo"></label></td>
                                                        </tr>
                                                        <tr id="divfconvert">
                                                            <th id="IblMRNTitle"></th>
                                                            <td><label id="lblMRNNo"></label></td>
                                                        </tr>

                                                        <tr id="divpayterm">
                                                            <th>Payment Terms</th>
                                                            <td><label id="lblPayTerm"></label></td>
                                                        </tr>
                                                        <tr id="divcontact">
                                                            <th>Contact No.</th>
                                                            <td><label id="IblContactNo"></label></td>
                                                        </tr>
                                                        <tr id="divemail">
                                                            <th>e-Mail</th>
                                                            <td><label id="Iblemail"></label></td>
                                                        </tr>

                                                        <tr id="divconvFrom">
                                                            <th><b><label id="IblConvFrom"></label></b></th>
                                                            <td>: <label id="IblConvBill"></label></td>
                                                        </tr>

                                                        @* field mapping *@
                                                        <tr id="divRef1" hidden>
                                                            <th id="IblRef1"></th>
                                                            <td>: <label id="IblRef1Val"></label></td>
                                                        </tr>
                                                        <tr id="divRef2" hidden>
                                                            <th id="IblRef2"></th>
                                                            <td>: <label id="IblRef2Val"></label></td>
                                                        </tr>
                                                        <tr id="divRef3" hidden>
                                                            <th id="IblRef3"></th>
                                                            <td>: <label id="IblRef3Val"></label></td>
                                                        </tr>
                                                        <tr id="divRef4" hidden>
                                                            <th id="IblRef4">/th>
                                                            <td>: <label id="IblRef4Val"></label></td>
                                                        </tr>
                                                        <tr id="divRef5" hidden>
                                                            <th id="IblRef5"></th>
                                                            <td>: <label id="IblRef5Val"></label></td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </td>
                                </tr>




                </td>



            <tr class="table-top-border " id="blktop">
                <th bgcolor="black" class="text-blue" width="6%">S/N </th>
                <th class="text-blue" id="PoNo">Part No</th>
                <th class="text-blue" width="54%">Item</th>
                <th class="makehide text-blue">Make</th>
                <th class="text-blue">Unit</th>
                <th class="text-blue">Qty</th>
                <th class="itemdata text-blue" style="text-align:right">U.Price</th>
                <th class="itemdata text-blue" style="display:none;">Total </th>
                <th class="itemdata text-blue" style="display:none;"> </th>
                <th class="itemdata text-blue" style="text-align:right">Total </th>
            </tr>
            </thead>
        <tbody id="stripes">
            <tr>
                <th>item 1</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>item 2</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class='border-top '>
                <td colspan='6'><strong> Amount In Words</strong></td>
                <td id="Bill_Amount">
                    @Bill_Amount.Value
                </td>
                <td class='text-right'></td>
            </tr>

            <tr class='border-top'>
                <td colspan='6' rowspan='3'>
                    <strong>
                        <span id="Terms">
                            @Terms.Value
                        </span>
                    </strong>
                </td>

                <td id="Bill_Discount">
                    @Bill_Discount.Value
                </td>
                <td id='discountprint' class='text-right'>0.00</td>
            </tr>
            <tr class='border-top '>
                <td id="Bill_Tax">
                    @Bill_Tax.Value
                </td>
                <td class='text-right'>0.00</td>
            </tr>
            <tr class='border-top '>
                <th id="Bill_Total">
                    @Bill_Total.Value

                    <span style='direction:ltr'>(AED)</span>
                </th>
                <th class='text-right'></th>
            </tr>

        </tbody>
    </table>
    <tr class="row " >
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="wordHtml">
                <tbody class="black-bg-tb"></tbody>
            </table>
        </td>
    </tr>
    <tr class="row ">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="billsundry">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    <tr class="row ">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="itemtable1">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    <br/>
</div>
                </td>
            </tr>



        </tbody>
<tfoot class="global-footer">
    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered second-table"></table>
        </td>
    </tr>
    <tr class="row" id="footer">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered">
                @*<tr>
                        <td rowspan="3" style="width:50%;">
                            @Foot_1.Value :<br />
                            @Foot_1.Lang

                        </td>
                        <td colspan="3" rowspan="3">
                            @Foot_2.Value.Replace("{company}", ViewBag.CName)<br />
                           @Foot_2.Lang
                        </td>
                    </tr>*@
            </table>
        </td>
    </tr>

    <tr class="row">
        <td>
            <div class="text-center">
                <img src="/logos/zeal.jpg" width="130" id="zeal" />
                <img src="/logos/footer.png" width="100%" style="margin-bottom:12px" />
            </div>
        </td>
    </tr>
</tfoot>
    </table>
</div>
@*@Styles.Render("~/css/css")
    @Styles.Render("~/css/print")*@

