@model QuickSoft.ViewModel.BRSViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Enter Clear Date</h4>
</div>
<div class="modal-body">
    
    @using (Html.BeginForm("UpdateBRS", "BRS", FormMethod.Post, new { id = "editform" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.Type);
        <div class="form-group col-md-4">
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.ClearDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required", onclick = "cal();", @autocomplete = "off" })
                <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Enter" class="btn btn-danger col-sm-offset-4" />
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")

}
