@model QuickSoft.ViewModel.ContactViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Contact Details</h4>
</div>
<div class="modal-body">
    <div class="box box-default">
        <div class="box-body">
            @*<div class="form-group col-md-4">
                @Html.Label("Contact Group :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Group)
            </div>*@
            <div class="form-group col-md-4">
                @Html.Label("Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Name)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Group :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.GroupName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Address  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Address)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("City :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.City)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("State :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.State)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Country :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Country)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Zip Code :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Zip)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Phone :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Phone)

            </div>
            @*<div class="form-group col-md-4">
                @Html.Label("Mobile :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Mobile)
            </div>*@
            <div class="form-group col-md-4">
                @Html.Label("Fax :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Fax)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Email :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.EmailId)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Reference :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Reference)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Contact Person :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.ContactPerson)
            </div>
            <div class="form-group col-md-4">
                @if (Model.mobmodel != null)
                {
                    @Html.Label("Mobile:", null, new { @class = "control-label" })
                    foreach (var Ext in Model.mobmodel)
                    {
                        @Html.Label(Ext.Num + ", ", new { @style = "font-weight:normal" })

                    }
                }
            </div>

        </div>
    </div>
</div>

