@model QuickSoft.ViewModel.PaymentViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Payment";
    ViewBag.Active = "Transactions";
    string check = "";
    string strImage = "";
    string partialconfig = "";
    string Override = "inactive";
    long EmpId = @ViewBag.EmployeeId;
}
@*@if (User.IsInRole("Dev") || User.IsInRole("Override Payment Approval"))
{
    Override = "active";
}*@
@using (Html.BeginForm("Edit", "PRApprovals", FormMethod.Post, new { id = "payform", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Payment Approval<label id="AlertEditable" class="text-red"></label></h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Payment"))
                    {
                        <a class="btn bg-black no-border" href="/PRApprovals/Edit/@ViewBag.preEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Payment"))
                    {
                        <a class="btn bg-black no-border" href="/PRApprovals/Edit/@ViewBag.nxtEntry">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                else
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Create Payment"))
                    {
                        <a class="btn bg-black no-border" href="/PRApprovals/Create">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Payment List"))
                {
                    <a class="btn btn-success no-border" href="/PRApprovals">
                        <i class="fa fa-fw fa-history"></i>List
                    </a>
                }
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="box-body">
            <input type="hidden" id="VoucherType" value="Payment" />
            <input type="hidden" id="SelApprovedBy" />
            <input type="hidden" id="PaymentId" value="@ViewBag.PaymentId" />
            <input type="hidden" id="Override" value="@Override" />
            <div class="row">
                <input type="hidden" id="chkPdc" value='@ViewBag.chkPdc' />
                <input type="hidden" id="PdcDate" value='@Model.PDCDate' />

                <div class="col-sm-2 form-group ">
                    <input type="hidden" />
                    @Html.LabelFor(model => model.VoucherNo, new { @class = "control-label" }) *
                    @if (ViewBag.EditVoucher == 0)
                    {
                        @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly", tabindex = 1 } })
                    }
                </div>


                <div class="col-sm-2 form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })*
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.Date, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required", tabindex = 2 })
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(model => model.MOPayment, new { @class = "control-label" }) *
                    @Html.EnumDropDownListFor(model => model.MOPayment, new { @id = "MoPay", @class = "form-control", @onchange = "modechange()", tabindex = 3 })
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("PDCDate", null, htmlAttributes: new { @class = "control-label", @id = "PDC", })
                    @Html.Label("CDCDate", null, htmlAttributes: new { @class = "control-label", @id = "CDC", })*
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.PDCDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required", tabindex = 4 })
                    </div>
                </div>
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="form-group col-sm-2">
                        @Html.Label("Branch", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                    </div>
                }
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.PayFrom, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Bank Accounts"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", tabindex = 5 })
                            <span class="input-group-btn">
                                <button type="button" href="/Master/BankAccountscreate" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>

                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", tabindex = 5 })
                    }
                    <div id="accbalancefrm" class="form-group" style="display:none">
                        <div class="input-group input-group-sm">
                            <label class="text-danger" id="accdetailsfrm"></label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2 form-group">
                    <label id="acctype" class="hidden">@ViewBag.acctype</label>
                    @Html.LabelFor(m => m.PayTo, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Expense Account"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.PayTo, (SelectList)ViewBag.PaidTo, new { id = "ddlpayto", @class = "form-control select2", tabindex = 7, @onchange = "changeApproval()" })
                            <span class="input-group-btn">
                                <button type="button" href="/Master/ExpenseTypecreate" class="modal-edit btn btn-success btn-flat" tabindex="8"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.PayTo, (SelectList)ViewBag.PaidTo, new { id = "ddlpayto", @class = "form-control select2", tabindex = 7, @onchange = "changeApproval()" })
                    }
                    <div id="accbalance" class="form-group" style="display:none">
                        <label>Account Summary</label>
                        <div class="input-group input-group-sm">
                            <label class="text-danger" id="accdetails"></label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2 form-group" id="checkno">
                    @Html.LabelFor(model => model.CheckNo, new { @class = "control-label" })
                    @Html.EditorFor(model => model.CheckNo, new { htmlAttributes = new { @class = "form-control", @required = "required", data_msg_required = "Check Number is Required", tabindex = 8 } })
                </div>
                <div class="form-group col-sm-2" id="bank">
                    @Html.LabelFor(model => model.Bank, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", tabindex = 9 } })
                </div>
                <div id="divproject" hidden>
                    @if (@ViewBag.ProjChk == 0)
                    {
                        <div class="form-group col-sm-2">
                            @Html.LabelFor(m => m.Project, new { @class = "control-label" })
                            @if (User.IsInRole("Dev") || User.IsInRole("Create Project"))
                            {
                                <div class="input-group input-group-sm">
                                    @Html.DropDownListFor(m => m.Project, (SelectList)ViewBag.getProj, "", new { id = "ddlProject", @class = "form-control select2" })
                                    <span class="input-group-btn">
                                        <a href="/Project/AddProject" class="modal-project btn btn-success btn-flat" title="Add Project"><i class="fa fa-1x fa-plus-circle"></i></a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.Project, (SelectList)ViewBag.getProj, "", new { id = "ddlProject", @class = "form-control select2" })
                            }
                        </div>
                        <div class="form-group col-sm-2">
                            @Html.LabelFor(m => m.ProTask, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.ProTask, (SelectList)ViewBag.getProTask, "", new { id = "ddlProTask", @class = "form-control select2" })
                        </div>
                    }
                </div>
                @if (User.IsInRole("Enable Invoice Expense Entry In Voucher"))
                {
                    <div class="col-sm-2 form-group ">
                        @Html.LabelFor(m => m.InvoiceNo, new { @class = "control-label" })


                        @Html.DropDownListFor(m => m.InvoiceNo, (SelectList)ViewBag.InvoiceNo, new { id = "ddlInvoiceNo", @class = "form-control select2", tabindex = 7 })

                    </div>
                }

                @if (@Override == "inactive" && @ViewBag.MlPayment == 0)
                {
                    <div class="form-group col-sm-2" style="display:none">
                        @Html.Label("Approved By", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlApprovedBy", (MultiSelectList)ViewBag.ApproveBy, new { @class = "form-control select2", @name = "ddlApprovedBy[]", @multiple = "multiple" })
                    </div>

                    <div class="form-group col-sm-2">
                        @Html.Label("Payment Status", null, new { @class = "control-label" })
                        @Html.DropDownList("PaymentStatus", (IEnumerable<SelectListItem>)ViewBag.PurchaseStatus, new { @class = "form-control" })
                    </div>
                }

                <div class="form-group col-sm-12 no-padding" style="display:none;">
                    @Html.Label("Attachment", null, new { @class = "control-label" })
                    <input type="file" class="form-control Attache" id="RecieptDoc" name="RecieptDoc" placeholder="Enter Attachments" />
                    <a href="/uploads/RecieptDoc/@ViewBag.fname" target="_new">Open Attachment</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        var fmap = "";
                        if (Model.FieldMap[i].Field == "Ref1")
                        {
                            fmap = Model.Ref1;
                        }
                        if (Model.FieldMap[i].Field == "Ref2")
                        {
                            fmap = Model.Ref2;
                        }
                        if (Model.FieldMap[i].Field == "Ref3")
                        {
                            fmap = Model.Ref3;
                        }
                        if (Model.FieldMap[i].Field == "Ref4")
                        {
                            fmap = Model.Ref4;
                        }
                        if (Model.FieldMap[i].Field == "Ref5")
                        {
                            fmap = Model.Ref5;
                        }

                        <div class="form-group col-sm-2">
                            <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                            <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="@fmap">
                        </div>
                    }
                }
            </div>
            <div>
                <div class="table-responsive hight-250" id="invoice"><hr /></div>
                <div class="row">
                    <div class="col-md-6">
                        @*----------------------For File Attachment----------------------------*@
                        <div class="form-group">
                            @Html.Label("Documents", null, new { @class = "control - label" })
                            <div class="file-loading">
                                <input id="input-24" name="input24[]" type="file" multiple>
                            </div>
                        </div>
                        @foreach (var arr in @ViewBag.Image)
                        {
                            check = "\"/uploads/PaymentDocuments/" + arr.FileName + "\"";

                            strImage += check + ',';

                            partialconfig += "{ key:" + arr.DocumentID + " }" + ',';
                        }
                        @*-----------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remarks", rows = "5", tabindex = 9 })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<div class="form-group col-md-6 col-md-offset-6 no-padding exp">
                                @Html.LabelFor(model => model.SubTotal, new { @class = "control-label" })
                                @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @id = "SubTotal", @class = "form-control text-right", @value = "0.00", tabindex = 10 } })
                            </div>
                            <div class="form-group col-md-6 no-paddingleft exp">
                                @Html.Label("Tax", null, new { @class = "control-label" })
                                @if (User.IsInRole("Dev") || User.IsInRole("Create Tax"))
                                {
                                    <div class="input-group input-group-sm">
                                        @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), "--Select Process--", new { @class = "form-control", @id = "taxpercentage", tabindex = 11 })
                                        <span class="input-group-btn">
                                            <a href="/Tax/Create" class="btn btn-default btntaxAdd" title="Add Tax" tabindex="12"><i class="glyphicon glyphicon-plus"></i></a>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), "--Select Process--", new { @class = "form-control", @id = "taxpercentage", tabindex = 11 })
                                }
                            </div>
                            <div class="form-group col-md-6 no-padding exp">
                                <input type="hidden" value="0.00" id="taxp" name="TaxPer" />
                                @Html.LabelFor(model => model.TaxAmount, new { @class = "control-label" })
                                @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "taxamount", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 13 } })
                            </div>*@
                        <div class="form-group col-md-6 col-md-offset-6 no-padding">
                            @Html.LabelFor(model => model.Discount, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @id = "Discount", @class = "form-control text-right", @value = "0.00", tabindex = 10 } })
                        </div>
                        <div class="form-group col-md-6  col-md-offset-6 no-padding">
                            @Html.LabelFor(model => model.GrandTotal, new { @class = "control-label" })
                            @Html.EditorFor(model => model.GrandTotal, new { htmlAttributes = new { @id = "GrandTotal", @class = "form-control text-right", @value = "0.00", @min = "0.01", tabindex = 14 } })
                        </div><br />
                        <div class="form-group col-md-6 col-md-offset-6 no-padding">
                            @Html.LabelFor(model => model.Paying, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Paying, new { htmlAttributes = new { @id = "Paying", @class = "form-control text-right", @value = "0.00", @min = "0.01", tabindex = 15 } })
                        </div>
                        <div class="form-group col-md-6 no-padding hidden">
                            @Html.LabelFor(model => model.Balance, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @id = "Balance", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 16 } })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr />
                    <div class="form-group pull-right">
                        <div class="form-group no-padding text-right">
                            <div class="checkbox-inline">
                                <input class="checkbox" data-val="true" id="hideheader" name="hideheader" type="checkbox" value="true">
                                <label class="control-label" for="hideheader">Hide Header In Print</label>
                            </div>
                        </div>
                        <input type="hidden" value="" name="submittype" id="submittype" />
                        <button type="submit" id="save" class="btn btn-info">
                            <span class="glyphicon glyphicon-floppy-disk" tabindex="17"></span> Update
                        </button>
                        <button type="submit" id="print" class="btn btn-success">
                            <span class="glyphicon glyphicon-print" tabindex="18"></span> Update And Print
                        </button>
                        <button type="button" tabindex="19" class="btn btn-warning" onclick="@("window.location.href='/PRApprovals/Index'");">Cancel</button>
                        <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                        <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-tax" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
@*@if (ViewBag.BusinessType == "Scaffold")
{
    @Html.Partial("_Voucher1")
}
@if (ViewBag.BusinessType == "ProjectBasedBusiness")
{
    @Html.Partial("_Voucher2")
}
else
{
    @Html.Partial("_Voucher")
}*@

@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModelProject")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @*@Scripts.Render("~/js/payment")*@
    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    <script src="~/Content/js/PaymentApproval2.js"></script>
    <script type="text/javascript">

        var minDate = $("#Start").val();
        var maxDate = $("#End").val();

        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxDate)
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            // modechange();

            GetBranch();
            $("#ddlApprovedBy").select2({
                placeholder: 'Search User',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployeeUser2",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#SelApprovedBy").val($("#ddlApprovedBy").val());

            $('#PDCDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var MOP = $('#MoPay').val();
            var hid = (MOP == 2) ? $('#CDC').show() && $('#PDC').hide() : ($('#PDC').show() && $('#CDC').hide());
            modechange();

            $('.sup').hide();

            //PaymentTo();
            //$("#ddlpayto").select2({
            //    placeholder: 'Search Account By Code or name',
            //    minimumInputLength: 0,
            //    ajax: {
            //        //url: "/Accounts/SearchAccounts",
            //        url: "/Accounts/SearchAccountsPayTo",
            //        dataType: 'json',
            //        delay: 50,
            //        data: function (params) {
            //            return {
            //                q: params.term || "",
            //                page: params.page || 0
            //            };
            //        },
            //        processResults: function (data, params) {
            //            params.page = params.page || 0;
            //            return {
            //                results: data,
            //                pagination: {
            //                    //more: (params.page * 10) < 50
            //                    more: true
            //                }
            //            };
            //        },
            //        cache: true
            //    },
            //    templateResult: SelectToGroup,
            //    templateSelection: ToSetFormatSelection,
            //});

            if (MOP == 0) { 
            // PaymentFrom(@EmpId);
        }
            else
                PayFromBankAccount();

             //Disable Print button if not override and approved
            if ("@Override" == "inactive" && "@ViewBag.MlPayment" == "active" && "@ViewBag.ChkApp" == "False")
            {
                //For showing Not - Editable Label
                chkEditEditable("@ViewBag.ChkApp");
                $("#print").attr('disabled', 'disabled');
            }

            InvoiceNo();
            var accid = $('#ddlpayfrom').val();
            accbalancefrm(accid);

            var accts = $('#ddlpayto').val();
            chkacctype(accts);

            //acctypecheck();
            CallProjectAll();
            CallTask();

            //acctypecheck();
            //cashBalance();
            //GetBranch();
            //$('#PDCDate').datepicker({
            //    format: 'dd-mm-yyyy',
            //    autoclose: true,
            //    allowInputToggle: true
            //});

            ////$('#PDCDate').prop('disabled', false);
            //// $('.sup').hide();
            //// paid from with select 2
            ////$('#PDCDate').prop('disabled', true);
            ////$('#checkno').hide();
            //PaymentFrom();
            //PaymentTo();

            //modechange();
            //var accid = $('#ddlpayto').val();
            //accbalance(accid);

            searchInvoice();

            var entry = getQueryString('');
            if (entry != null) {
                $.ajax({
                    url: '/PRApprovals/GetPaymentBill',
                    dataType: 'json',
                    data: { entry: entry },
                    cache: true,
                    success: function (data) {
                        if (data != "") {
                            bindinvoiceNew();
                            $('#addinvoiceItem').html('');
                            $.each(data, function (i, item) {
                                //var amt = item.Balance < item.Amount ? item.Balance : item.Amount;
                                addrows('addinvoiceItem', 'edit', item.id, item.BillNo, item.Date, item.Balance, item.Amount, item.type, item.NewRefName, item.Type);
                            });
                            addrows('addinvoiceItem', 'edit', '', '', '', '0.00', '0.00');
                            RowTotal();
                            cashBalance();
                        }
                    }
                });
            }

        });

        $('body').on('change', '#ddlApprovedBy', function (e) {
            $("#SelApprovedBy").val($(this).val());
        });

        function SelectionInvoice(repo) {

            return repo.id;

        }
        function changeApproval() {
            var payto = $("#ddlpayto").val();

            $.ajax({
                url: '/PRApprovals/GetApprovalby',
                dataType: 'json',
                data: { pt: payto },
                cache: true,
                success: function (data) {
                    //$("#ddlApprovedBy").multiselect('refresh');//.multiselect('refresh');
                    $("#ddlApprovedBy").val("");
                    $("#ddlApprovedBy").removeClass("select2");
                    var values = new Array();
                    $.each(data, function (i, item) {
                        values.push(item.ID);
                        //  $('#ddlApprovedBy option[value=' + item.ID + ']').attr('selected', true);


                    });
                    $('#ddlApprovedBy').val(values).trigger("change");
                    $("#ddlApprovedBy").select2({
                        placeholder: 'Search User',
                        minimumInputLength: 0,
                        ajax: {
                            url: "/Employee/SearchEmployeeUser2",
                            dataType: 'json',
                            delay: 50,
                            data: function (params) {
                                return {
                                    q: params.term,
                                    page: params.page
                                };
                            },
                            processResults: function (data, params) {
                                params.page = params.page || 1;
                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                    });
                    //var tempCust = $("#ddlCustomer2").val();

                    //$('#addinvoiceItem').html('');
                    //$.each(data, function (i, item) {
                    //    addrow('addinvoiceItem', 'foredit', item.Unit, item.Quantity, item.Price, item.Amount, item.Item, item.ItemName, item.ItemWithCode, item.ItemNote, item, item.ConFactor);
                    //    var j = i + 1;
                    //    $("#unit_name_" + j).val(item.Unit);
                    //});
                    //addrow('addinvoiceItem', 'sales', '', '0.00', '0.00', '0');
                }
            });
        }
        function InvoiceNo() {
            // paid to atribute
            $("#ddlInvoiceNo").select2({
                placeholder: 'Search InvoiceNo',
                minimumInputLength: 0,
                ajax: {
                    //url: "/Accounts/SearchAccounts",
                    url: "/JournalV/SearchInvoiceNo",
                    dataType: 'json',

                    delay: 50,

                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                /*templateResult: SelectToGroup,*/
                templateSelection: SelectionInvoice,
            });
        }
        function acctypecheck() {
            var acctype = $('#acctype').text();
            if (acctype != "Expense") {
                $('#invoice').html('<hr/>');
                $('.exp').hide();
                $('.sup').show();
            }
            else {
                $('#invoice').html('<hr/>');
                $('.exp').show();
                $('.sup').hide();
                grandTotal();
            }
        }

        $('body').on('change', '#Discount', function (e) {
            var totalPaid = $("#Paying").val();
            var discount = $("#Discount").val();
            if (parseFloat(discount) <= parseFloat(totalPaid)) {
                cashBalance();
            } else {
                $("#Discount").val("0.00");
                alert("Discount Should Less Than Amount..!!");
            }
        });

        // on change function of payto
        $('body').on('change', '#ddlpayto', function (e) {
            var accid = $(this).val();
            var accidfr = $("#ddlpayfrom").val();
            if (accid != accidfr) {
                accbalance(accid);
                chkacctype(accid);
            } else {
                alert("PayTo And PayFrom Should be Different..!!");
                $('#ddlpayto').val(null).trigger('change');
            }
        });

        $('body').on('change', '#ddlpayfrom', function (e) {
            var accid = $(this).val();
            var accidto = $("#ddlpayto").val();
            if (accid != accidto) {
                accbalancefrm(accid);
            } else {
                alert("PayTo And PayFrom Should be Different..!!");
                $('#ddlpayfrom').val(null).trigger('change');
            }
        });

        // on change function taxpercentage
        $('body').on('change', '#taxpercentage', function (e) {
            var taxid = $(this).val();
            Findtax(taxid);
        });

        // onchange function for paying
        $('body').on('change', '#Paying', function (e) {
            cashBalance();
        });

        // onchange function for paying
        $('body').on('change', '#SubTotal', function (e) {
            taxcalc();
        });
        // onchange function for modpaying
        $('body').on('change', '#MoPay', function (e) {
            var MOP = $('#MoPay').val();
            var hid = (MOP == 2) ? $('#CDC').show() && $('#PDC').hide() : ($('#PDC').show() && $('#CDC').hide());
            modechange();

            $('#ddlpayfrom').val("");
            $('#accdetailsfrm').text("");

            if (MOP == 0) {
               // PaymentFrom(@EmpId);
            }
             else
                PayFromBankAccount();
        });

        //
        $('#payform').on('submit', function (e) {
            e.preventDefault();
            if ($("#payform").valid()) {
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                $('#submittype').val(fnval);
                formsubmition(fnval);
            }
        });

        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        $('span').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });

        $('#modal-edit').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#modal-edit #createform')[0].action;
            var data = $('#modal-edit #createform').serialize();
            createajax(url, data, '#modal-edit');
        });

        $('body').on('change', '#ddlProject', function (e) {
            $('#ddlProTask').val(null).trigger('change');
            CallTask();
        });

        $('div').on('click', '.btntaxAdd', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-tax');
        });

        $('span').on('click', '.modal-project', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-project');
            //datepickerInit();
        });

        taxpopup();
        ProjectPopup();
    </script>

    <script type="text/javascript">
       $("#input-24").fileinput({
            initialPreview: [@Html.Raw(strImage)],
            maxFilePreviewSize: 10240,
            showUploadedThumbs: true,
            overwriteInitial: false,
            showUpload: false,
            enableResumableUpload: true,
            autoReplace: true,
            required: false,
            initialPreviewAsData: true,
            initialPreviewFileType: 'pdf',
            allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jfif", "jpeg", "doc", "docx", "pdf", "dwg", "pptx", "vsdx",
              'M4A', 'FLAC', 'MP3', 'MP4', 'WAV', 'WMA', 'AAC', 'ogg', 'opus', 'mpg', 'mpeg'],
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: true,
            },
            initialPreviewConfig: [
               @partialconfig
            ],

           deleteUrl: "/PaymentApproval/ImageDelete",
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        }).on('filebeforedelete', function () {
            var aborted = !window.confirm('Are you sure you want to delete this file?');
            if (aborted) {
                //window.alert('File deletion was aborted!');
            };
            return aborted;
        }).on('filedeleted', function () {
            setTimeout(function () {
                //window.alert('File deletion was successful!');
            }, 900);
        });

    </script>
}