@{
    ViewBag.Title = "Bulk Price Update";
    ViewBag.SubTitle = "Bulk Price Update";
    ViewBag.Active = "Reports";
    string actData = "";
    string assignBtn = "";
    //assignBtn = "{text: 'Bulk Price Update', className: 'modal-create-lg bukassgnbtn'},";
}
<style>
/*    .select2-container--default .select2-selection--multiple {
        border-radius: 4px;
        min-height: 30px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
        height: 30px !important;
    }

   

    .datepicker {
        border-radius: 4px !important;
    }

    .input-group-addon {
        border: none !important;
    }

    .form-control[disabled] {
        background-image: linear-gradient(to bottom,#ffffff,#e5e5e5);
    }

    .form-control[readonly] {
        background-image: linear-gradient(to bottom,#ffffff,#e5e5e5);
    }

    .input-sm {
        height: 30px !important;
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #a3a3a3 !important;
        border-right: 1px solid #a3a3a3 !important;
        border-left: 1px solid #b7b7b7 !important;
        border-top: 1px solid #b7b7b7 !important;
    }

    .fa-calendar {
        margin-left: -5px !important;
    }

    .ribbon4 {
        width: auto;
        position: absolute;
        left: -11px !important;
        top: -5px;
        padding: 5px 20px 5px 10px;
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
        box-shadow: -1px 2px 3px rgba(0,0,0,.3);
        color: white;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
    }

        .ribbon4:before, .ribbon4:after {
            content: "";
            position: absolute;
        }

        .ribbon4:before {
            width: 10px;
            height: 117%;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
            border-radius: 6px 0 0 5px;
        }

        .ribbon4:after {
            width: 10px;
            height: 8px;
            bottom: -8px;
            left: -5px;
            background: #095b9a;
            border-radius: 5px 0 0 5px;
        }

    .temp2 {
        position: absolute !important;
        background-color: white !important;
        display: table;
        z-index: 1 !important;
        top: -13px !important;
        font-size: 11px !important;
        transition: 0.2s;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        left: 17px;
        color: black !important;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

 

    .form-group {
        margin-bottom: 27px;
    }*/

    .btn {
        border-radius: 4px !important;
       
    }
    .form-control {
        height: 30px !important;
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
    }
    .select2-container--default .select2-selection--single {
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #a3a3a3 !important;
        border-right: 1px solid #a3a3a3 !important;
        border-left: 1px solid #b7b7b7 !important;
        border-top: 1px solid #b7b7b7 !important;
        height: 30px !important;
    }
    table.dataTable thead td {
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
    }

    .dt-button {
        background-image: linear-gradient(to bottom,#eaf2fd,#c0d8f9) !important;
        box-shadow: -1px 1px 1px rgba(0,0,0,.3);
        color: #2059a5 !important;
        border: none !important;
    }

    .btn-default {
        background-image: linear-gradient(to bottom,#eaf2fd,#c0d8f9);
        box-shadow: -1px 1px 1px rgba(0,0,0,.3);
        color: #2059a5 !important;
        border: none;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <div class="row" style="height:30px;">
            <div class="col-md-12 col-xs-12">
                <div class="ribbon">
                    <div class="ribbon4"><h3 class="box-title">Bulk Price Update</h3></div>
                </div>
            </div>
        </div>

    </div>
    <div class="box-body" style="margin-top:15px;">
        <form id="search-form">
            @using (Html.BeginForm("BulkPriceUpdate", "Item", FormMethod.Post, new { id = "popupForm", target = "_new" }))
            {
                <input type="hidden" id="cname" value="@ViewBag.CName" />
                <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
                <div class="form-group col-md-3 col-xs-12">
                    @Html.Label("Item Brand", null, new { @class = "control-label temp2" })
                    @Html.DropDownList("ddlBrand", (SelectList)ViewBag.Brand, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-3 col-xs-12" id="creditsale">
                    @Html.Label("Item Category", null, new { @class = "control-label temp2" })
                    @Html.DropDownList("ddlCategory", (SelectList)ViewBag.Category, new { @class = "form-control input-sm select2" })
                </div>
                <div class="col-md-3 col-xs-12 form-group">
                    @Html.Label("ItemName Contains", null, new { @class = "control-label temp2" })
                    @Html.TextBox("ItemWord", "", "", new { @class = "form-control", @autocomplete = "off" })
                </div>
                <div class="box-footer col-md-12 col-xs-12 text-center">
                    <input type="submit" class="btn btn-info" value="Submit" />
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/item/BulkPriceUpdate'");">Cancel</button>
                </div>
            }
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    @using (Html.BeginForm("SelectAllId", "Item", FormMethod.Post, new { id = "selectItemform", role = "form" }))
    {
        <div class="box-body">
            <div class="box-body">
                <table class="display table table-bordered" id="UserTable">
                    <thead>
                        <tr class="bg-gray">
                            <td data-priority="2">S/N</td>
                            <td data-priority="4">Item code</td>
                            <td data-priority="6">Item Name</td>
                            <td>Selling Price</td>
                            <td>Purchase Price</td>
                            <td><input type="button" class="btn btn-danger" id="submitbtn" onclick="setItem()" value="Select" /></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    }
    </div>
@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Reminder/Index")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@Html.Partial("../Common/_ModeItemCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        function setItem() {
            if ($('.checkbox1:checked').length > 0) {
                $('#selectItemform').submit();
            } else {
                alert('Please Select Rows..!!');
            }
           
        }
    $(document).on('click', '.modal-create-lg', function (e) {
        e.preventDefault();
        var t = 0;
        var data = 0;
        var cnt = 0;
        var rowno = 0;
        var values = new Array();
        $("input[class='checkbox1']:checked").each(function () {
            rowno++;
            data = $(this).val();
            values.push(data);
            cnt++;
        });
        //var serializedArray = JSON.stringify(values);
        //var url = "/Item/BulkItemPriceUpdate?Items=" + encodeURIComponent(serializedArray);
        //window.location.href = url;
      
        //var url = "/Item/bulkUpdate?Items=" + values;
        //window.location.href = "/Item/BulkItemPriceUpdate";
        //modalshow(url, '#modal-create-lg');
    });
        $(document).ready(function () {
            $("#StockReport").hide();
            //for set default date

            $("#ddlCategory").select2({
                placeholder: 'Search Item Category',
                minimumInputLength: 0,
                ajax: {
                    url: "/ItemCategory/SearchCategory",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlBrand").select2({
                placeholder: 'Search Item Brand',
                minimumInputLength: 0,
                ajax: {
                    url: "/ItemBrand/SearchBrand",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });



        function searchData(data) {
            data.brand = $('#ddlBrand').val();
            data.category = $('#ddlCategory').val();
            data.itemWord = $('#ItemWord').val();

        }

function showdatatable() {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "stateSave": true,
                "bDestroy": true,
                "bLengthChange": false,
                responsive: true,
                "paging": true,
                "pageLength": 25000,
                "ordering": false,
                "ajax": {
                    "url": '/Item/GetAddItemSearch2',

                    "data": function (data) {
                        data = searchData(data);
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "order": [[0, "desc"]],
                "columns": [
                    {
                        "width": "5%",
                        "data": "id", "name": "id",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "width": "10%",
                        "data": "ItemCode", "name": "ItemCode"
                    },

                    {
                     "name": "ItemName", "data": function (data) {

                   @{
                 var urls = "";
                 urls= "'<a class=\"Updati\" title=\"View Reminder\">'+ data.ItemName +'</a> '";
                // urls = "'<a href=\"/SalesReport/itemDetails?iditem='+  data.ItemID + '&customer=0&from='+fromdate+'&to='+todate+'&saletype='+saletype+'&ddmc='+ddlmc+'\" target=\"_new\">'+ data.Item +'</a>' ";

              }
            return @Html.Raw(urls);


                     }
                    },
                    {
                        "data": "SellingPrice", "name": "SellingPrice",
                        render: $.fn.dataTable.render.number(",", ".", 2),
                    },
                        {
        "name": "PurchasePrice", "data": function (datas) {
            var dat = datas;

           @{
               var rest = "";
               actData = "";


               if ( User.IsInRole("ItemPurchasePrice"))
               {
                   actData += "<aa   >'+datas.PurchasePrice.toFixed(2)+'</aa> ";
               }
               else
               {

                   actData = "";
               }
           }
            return rest = '@Html.Raw(actData)';


        },
                    },
   {
        "width": "5%",
        "name": "id", "data": function (data) {
            var rest = "";
            @{

                var delchk = "<input class=\"checkbox1\" type=\"checkbox\" checked name=\"bill[]\" value='+ data.id +'></input>";
                //onclick =\"setItem(' + data.ItemID + ')\"
            }
            return rest = '@Html.Raw(delchk)';
        }
    },


                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                'colvis',
                    {
                        extend: 'print',//
                        exportOptions: {
                            columns: ':visible'
                        },
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Purchase Report';
                        },
                        message: function()
                        {
                            var head = '<table class="tblcompact table table-bordered"><thead>' +
                            ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Purchase Report</h4></th></tr>' +
                            ' <tr><th><span class="text-left">Invoice No : ' + $('#invoiceno').val() + ' </span><span class="text-right pull-right"> From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>';
                            return head;
                        },
                        customize: function (win) {
                            // $(win.document.body)
                            //.css('font-size', '10pt')
                            //.css('padding', '1px');
                            $(win.document.body).find('table, th,tr, td ')
                               // .css('border', 'inherit')
                                .css('font-size', '10pt')
                                .css('padding', '5px')
                                .addClass('compact');
                            $(win.document.body).append('</td></tr></tbody>')

                        }
                    }, 'copy', 'csv', //'excel',
                    {
                        extend: 'excel',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Purchase Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                             '' + $('#caddress').val() + '\n' +
                             ' Purchase Report \n' +
                             'Invoice No : ' + $('#invoiceno').val() + '\n' +
                             'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },
                    {
                        extend: 'pdf',//
                        title: "",
                        orientation: 'landscape',
                        footer: true,
                        filename: function () {
                            return 'Purchase Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                             '' + $('#caddress').val() + '\n' +
                             ' Purchase Report \n' +
                             'Invoice No : ' + $('#invoiceno').val() + '\n' +
                             'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        },
                        customize: function (doc) {
                            doc.pageMargins = [10, 10, 10, 10];
                            doc.defaultStyle.fontSize = 10;
                            doc.styles.tableHeader.fontSize = 10;
                            doc.styles.title.fontSize = 12;
                            // Header font and bg color
                            doc.styles.tableHeader.fillColor = '#d3d3d3';
                            doc.styles.tableHeader.color = 'black';
                            // Remove spaces around page title
                            doc.content[0].text = doc.content[0].text.trim();

                            doc.styles['td:nth-child(2)'] = {
                                width: '100%',
                                'max-width': '100%'
                            }
                            //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                            //  doc.content[1].table.widths = [
                            //'10%',
                            //'10%',
                            //'10%',
                            //'10%',
                            //'15%',
                            //'10%',
                            //'10%',
                            //'10%',
                            //'15%'
                            //  ]

                            var objLayout = {};
                            // Horizontal line thickness
                            objLayout['hLineWidth'] = function (i) { return .5; };
                            // Vertikal line thickness
                            objLayout['vLineWidth'] = function (i) { return .5; };
                            //// Horizontal line color
                            //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                            //// Vertical line color
                            //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                            // Left padding of the cell
                            objLayout['paddingLeft'] = function (i) { return 4; };
                            // Right padding of the cell
                            objLayout['paddingRight'] = function (i) { return 4; };
                            // Inject the object in the document
                            doc.content[1].layout = objLayout;
                            // Footer font and bg color
                            doc.styles.tableFooter.fillColor = '#d3d3d3';
                            doc.styles.tableFooter.color = 'black';
                        }


                    },@*@Html.Raw(assignBtn),*@

                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };








                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }
                }

            });
            $('#search-form').on('submit', function (e) {

                e.preventDefault();
                oTable.draw();
                $('#SReport').show();
                $('#UserTable').show();
            });

            $('#UserTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).addClass('dataTables_row');
                }
            });
        }

    var flag = 0;
    $('#search-form').on('submit', function (e) {
        e.preventDefault();
        if (flag == 0) {

            showdatatable();
            flag = 0;
        }
        else
            oTable2.draw();

        $('#StockReport').show();
    });

    </script>
}


