@{
    ViewBag.Title = "Search Stock";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Item Wise</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ItemWise", "Item", FormMethod.Post, new { id = "popupForm" }))
        {
        <div class="form-group row">


            <div class="form-group col-md-4">
                @Html.Label("Material Center", null, new { @class = "control-label" })
                @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm", @multiple = "multiple", @name = "ddlMC[]" })
            </div>
            <div class="col-md-12">
                @Html.Label("Item", null, new { @class = "control-label col-md-12" })
                @Html.DropDownList("ddlItem", (SelectList)ViewBag.Item, new { @class = "form-control input-sm", @multiple = "multiple", @name = "ddlItem[]" })
            </div>
            @*<div class="col-md-4 lblpadding">
            <label class="control-label"><input type="checkbox" value="true" name="stockable" id="stockable" />  Include non-stockable Items</label>
        </div>*@
            <div class="col-md-4 lblpadding">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            ItemSearchable();
            CallRepMCUser();
        });
            //$('body').on('change', '#ddlMC', function (e) {
            //    CallRepMCUser();
            //});
    </script>
}
