@model QuickSoft.ViewModel.ContractorSubmitViewModel
@{
    ViewBag.Title = "Contractor Details";
    ViewBag.SubTitle = "Details";
    ViewBag.Active = "Master";
    string actData = "";
    bool urQuot = false;
    bool urSale = false;
    bool urPF = false;
    bool urSO = false;
    bool urSR = false;
    bool urDv = false;
    bool urSot = false;
    bool urPay = false;
    bool urRec = false;
    bool urPro = false;
    bool urTask = false;

}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.ContractorName)</h3>
        @*@if (User.IsInRole("Dev") || User.IsInRole("Create Contractor"))
            {*@
        <div class="pull-right col-md-2">
            <a class="btn btn-info no-border btn-block" href="/Property/Contractor/Create">
                <i class="glyphicon glyphicon-plus"></i>Create
            </a>
        </div>
        @*}
            @if (User.IsInRole("Dev") || User.IsInRole("Contractor"))
            {*@
        <div class="pull-right col-md-2">
            <a class="btn btn-success no-border btn-block" href="/Property/Contractor/">
                <i class="fa fa-fw fa-history"></i>List
            </a>
        </div>
        @*}*@
    </div>
    <div class="box-body ">
        <section class="content">
            <style>
                /*a{
                    display:list-item;
                    word-wrap:break-word;

                }*/
                .text-right {
                    display: list-item;
                    word-wrap: break-word;
                }
            </style>
            <!--Details-->
            <div class="col-md-3">
                <div class="box box-primary">
                    <input type="hidden" id="Scaffold" value="@ViewBag.BusinessType" />
                    <div class="row">
                        <!-- Details-->
                        <div class="box-header with-border" style="text-align:center" ;>
                            <h4 class="box-title">Basic Details</h4>
                        </div>
                        <!--Basic Detail-->
                        <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                <li class="list-group-item">
                                    <b>Code </b>
                                    <a class="pull-right">@Html.DisplayFor(m => m.ContractorCode)</a>
                                </li>
                                @if (Model.ContractorName != null)
                                {
                                    <li class="list-group-item">
                                        <b>Name </b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.ContractorName)</a>
                                    </li>
                                }
                                @if (Model.Alias != null)
                                {
                                    <li class="list-group-item">
                                        <b>Alias </b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Alias)</a>
                                    </li>
                                }

                                @*@if (Model.Type != null)
                                    {*@
                                <li class="list-group-item">
                                    <b>Type </b>
                                    <a class="pull-right">@Html.DisplayFor(m => m.Type)</a>
                                </li>
                                @*}*@

                                @if (Model.Remark != null)
                                {
                                    <li class="list-group-item">
                                        <b>Remark </b>
                                        <a class="pull-right"> @Html.DisplayFor(m => m.Remark)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!--Contact Details-->
                        <div class="box box-primary">
                            <div class="row">
                                <div class="box-header with-border" style="text-align:center" ;>
                                    <h4 class="box-title">Contact Details</h4>
                                </div>
                                <div class="box-body box-profile">
                                    <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                        <li class="list-group-item">
                                            <b>Address</b>
                                            <a class="text-right">
                                                @Html.DisplayFor(m => m.Address)
                                            </a>
                                            @*<a class="pull-right">@Html.DisplayFor(m => m.Address)</a>*@
                                        </li>
                                        <li class="list-group-item ">
                                            <b>City</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.City)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>State</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.State)</a>

                                        </li>
                                        <li class="list-group-item">
                                            <b>Country</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Country)</a>
                                        </li>

                                        <li class="list-group-item">
                                            <b>Zip</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Zip)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Phone</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Phone)</a>
                                        </li>
                                        <li class="list-group-item">
                                            @if (Model.mobmodel != null)
                                            {
                                                <table style="width:50px" class="table table-bordered table-hover">
                                                    <tr>
                                                        <th>Mobile </th>
                                                        <th>Name </th>
                                                    </tr>
                                                    @foreach (var itemss in Model.mobmodel)
                                                    {
                                                        if (@itemss.Num != null)
                                                        {
                                                            <tr>
                                                                <td>@itemss.Num</td>
                                                                <td>@itemss.Name</td>
                                                            </tr>
                                                        }
                                                    }
                                                </table>
                                            }
                                        </li>
                                        <li class="list-group-item">
                                            <b>Fax</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Fax)</a>

                                        </li>
                                        <li class="list-group-item">
                                            <b>Reference</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Reference)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>ContactPerson</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.ContactPerson)</a>
                                        </li>
                                        <li class="list-group-item ">
                                            <b>Email Id</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.EmailId)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Bank Details -->
                        <div class="box box-primary">
                            <!--BankDetails-->
                            <div class="row">
                                @if (Model.BankName != null)
                                {
                                <div class="box-header with-border" style="text-align:center" ;>
                                    <h4 class="box-title">Bank Details</h4>
                                </div>
                                <div class="box-body box-profile">
                                    <ul class="list-group list-group-unbordered " style="list-style-type: none;">
                                        <li class="list-group-item " style="border-top:none">
                                            <b>Bank Name</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.BankName)</a>
                                        </li>
                                        <li class="list-group-item ">
                                            <b>Account No</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.AccountNo)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Iban No</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.IbanNo)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Swift</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Swift)</a>
                                        </li>
                                    </ul>

                                </div>
                                }

                            </div>

                        </div>
                        <!--Other Details -->
                        <div class="box box-primary">
                            <!--OtherDetails-->
                            <div class="row">

                                <div class="box-header with-border" style="text-align:center" ;>
                                    <h4 class="box-title">Other Details</h4>
                                </div>
                                <div class="box-body box-profile">
                                    <ul class="list-group list-group-unbordered " style="list-style-type: none;">
                                        @if (Model.TaxRegNo != "")
                                        {
                                            <li class="list-group-item">
                                                <b>TRN </b>
                                                <a class="pull-right">@Html.DisplayFor(m => m.TaxRegNo)</a>
                                            </li>
                                        }
                                        <li class="list-group-item">
                                            <b>Credit Limit </b>
                                            <a class="pull-right">@Html.DisplayFor(m => m.CreditLimit)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Credit Period</b>
                                            <a class="pull-right">@Html.DisplayFor(m => m.CreditPeriod)</a>
                                        </li>
                                        @if (Model.Location != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Location</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m.Location)</a>
                                            </li>
                                        }
                                        @if (Model.SalesPersonName != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Sales Person</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m.SalesPersonName)</a>
                                            </li>
                                        }
                                    </ul>

                                </div>


                            </div>

                        </div>
                        <!--Account Details-->
                        <div class="box box-primary">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title" style="text-align:center">Account Details </h4>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body p-0">
                                        <table class="table table-striped">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div id="accbalanceto" class="form-group  " style="display:none">
                                                            <label> Current Balance</label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" style="color: #3c8dbc" id="accdetailsto"></td>
                                                    <td style="color: #3c8dbc" id="type"></td>
                                                </tr>
                                                <tr>

                                                    <td><strong> Opening Balance</strong></td>
                                                    <!--Add table  Row data-->
                                                    <td class="text-right" style="color: #3c8dbc">@Html.DisplayFor(m => m.OpnBalance)</td>
                                                    <td id="ddlDCname" style="color: #3c8dbc">@Html.DisplayFor(m => m.DCname)</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        @*<table class="table table-bordered" id="refernceTable" style="font-family: 'IBM Plex Sans', sans-serif;font-weight: 400; border:none">
                                                <thead>

                                                    <tr>
                                                        <th class='text-center'><strong>Invoice No</strong></th>
                                                        <th class='text-center'><strong>Date</strong></th>
                                                        <th class='text-center'><strong>Amount</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot id="posfoot">

                                                    <tr class="tabletitle" style="border-top: 1px solid #898989 !important;"></tr>
                                                </tfoot>
                                            </table>*@
                                    </div>

                                    <!-- /.card-body -->
                                </div>
                            </div>
                            @*@if (User.IsInRole("Dev") || User.IsInRole("Edit Contractor"))
                                {*@
                            <a class="btn btn-info btn-block" href="/Property/Contractor/Edit/@Model.ContractorID">
                                <i class="fa fa-edit"></i> <b>Edit</b>
                            </a>
                            @*}*@
                        </div>
                    </div>

                </div>
            </div>
            <!--Table Tab-->
            @*add here*@
        </section>
    </div>
    <!---END OF BODY-->
    <div class="box-body">
        <section class="content">

            @Html.HiddenFor(m => m.AccountsID)
            @Html.HiddenFor(m => m.ContractorID)
            @Html.HiddenFor(m => m.DCname)
            <input type="hidden" id="Scaffold" value="@ViewBag.BusinessType" />
            <div class="row">
                @*Tables*@

            </div>
        </section>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}

@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }
            var accid = $('#AccountsID').val();
            accbalanceto(accid);
            var EntryID = getQueryString('');
            var DC = $("#DCname").val();
            $("#refernceTable").hide();
            //if (EntryID != null) {
            //    $.ajax({
            //        url: '/Contractor/GetContractorAccRef',
            //        dataType: 'json',
            //        data: { EntryID: EntryID },
            //        cache: true,
            //        success: function (data) {
            //            if (data != "") {
            //                if (DC == 'Dr.') {
            //                    var str = "";
            //                    $.each(data, function (i, item) {

            //                        str += "<tr class='text-center'style='color: #3c8dbc'>";
            //                        str += '<td><h5><strong>' + item.BillNo + '<strong></h5></td>';

            //                        str += '<td><h5>' + convertToDate(item.Date) + '</h5></td>';
            //                        str += '<td><h5>' + item.Amount + '</h5></td>';

            //                        str += '</tr>';
            //                    });
            //                    $("#refernceTable").show();
            //                    $('#posfoot').append(str);

            //                }
            //                else if ((DC == 'Cr.') || (DC == null)) {
            //                    $("#refernceTable").hide();

            //                }

            //            }
            //        }
            //    });
            //}




            //Account Balance
            function accbalanceto(accid) {
                if (accid != null && accid != 0) {
                    $.ajax({
                        async: true,
                        cache: false,
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/Accounts/ChekSale",
                        data: JSON.stringify({ id: accid }),
                        success: function (data) {
                            var amount = data.balance.amount.toFixed(2)
                            var type = data.balance.type

                            $('#accdetailsto').text(amount);
                            $('#type').text(type);

                            $('#accbalanceto').show();
                            $('#type').show();
                        }
                    });
                }
            }

            @*if ('@ViewBag.ProjCheck' == "active") {
                var column1 = qTable.column(3);
                column1.visible(true);
            }
            else {
                var column1 = qTable.column(3);
                column1.visible(false);
            }*@

            function reload_table() {
                qTable.clear().draw();
                qTable.ajax.reload(null, false); //reload datatable ajax

            }


        });
    </script>
}