@model QuickSoft.ViewModel.ContractorSubmitViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Contractor";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    @using (Html.BeginForm("Update", "Contractor", FormMethod.Post, new { id = "ediForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Contractor</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit Contractor"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/Contractor/Edit/@ViewBag.preEntry">
                        <i class="fa fa-step-backward"></i>
                    </a>
                    //}
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit Contractor"))
                    // {
                    <a class="btn bg-black no-border" href="/Property/Contractor/Edit/@ViewBag.nxtEntry">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    //}
                }
                else
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Create Contractor"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/Contractor/Create">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    // }
                }

                @*@if (User.IsInRole("Dev") || User.IsInRole("Contractor"))*@
                @*{*@
                <a class="btn btn-success no-border" href="/Property/Contractor">
                    <i class="fa fa-fw fa-history"></i> Contractor
                </a>
                @*}*@
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.ContractorID)
        @Html.HiddenFor(model => model.Section)
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ContractorCode, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.ContractorCode, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.ContractorName, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.ContractorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contractor Name", tabindex = 2 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alias", tabindex = 15 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Contract Type", null, new { @class = "control-label" }) *
                @*@if (User.IsInRole("Dev") || User.IsInRole("Create Broker"))
            {*@
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.ContractType, (SelectList)ViewBag.ContraType, "", new { onclick = "ContType()", id = "ddlContractType", @class = "form-control select2", @required = "required" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/ContractType/Create" class="modal-Contract btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
                @*}
            else
            {
                @Html.DropDownListFor(m => m.Broker, (SelectList)ViewBag.Broker, "", new { id = "ddlBroker", @class = "form-control select2", @required = "required" })
            }*@
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Contact Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 10 })
            </div>
            @if (@ViewBag.CityCheck == 0)
                {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.City, (SelectList)ViewBag.SCity, "", new { id = "ddlCity", @class = "form-control select2", tabindex = 11 })
                        <span class="input-group-btn">
                            <a href="/City/Create" class="modal-create btn btn-success btn-flat" title="Add New City"><i class="fa fa-1x fa-plus-circle"></i></a>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 11 } })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State", tabindex = 12 })

                @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State", tabindex = 12 } })*@
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 13 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 14 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 15 } })
            </div>
            @*<div class="form-group col-md-4">
                      @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                      @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 16 } })
                </div>*@
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax", tabindex = 17 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", tabindex = 18 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference", tabindex = 19 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ContactPerson", tabindex = 20 } })
            </div>
            <div class="form-group col-md-4">
                <div id="mobiles"></div>
            </div>
        </div>

        <div class="box-body">
            <div id="DocDetails"></div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Bank Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 21 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 22 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 23 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 24 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 25 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                <div class="input-group">
                    @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 26 } })
                    <div class="input-group-addon no-padding dcwidth">
                        @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 27 })
                    </div>
                </div>
            </div>
            @*<div class="form-group col-md-12">
                    <div class="table-responsive" hidden id="refdiv"><hr /></div>
                </div>*@
        </div>

        <div class="box-header with-border">
            <h5 class="box-title">Other Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.TaxRegNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TaxRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax RegNo", tabindex = 3 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CreditLimit, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 4 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CreditPeriod, htmlAttributes: new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credit Period", tabindex = 5 } })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-flat">Days</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Location", tabindex = 6 } })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Sales Person", null, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Empl, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 7 })
            </div>
        </div>

            <div class="box-footer clearfix text-center">
                <button type="submit" id="save" class="btn btn-info" tabindex="27">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Update
                </button>
                <button type="button" class="btn btn-default" tabindex="28" onclick="@("window.location.href='/Property/Contractor/Index'");">Cancel</button>
            </div>
    }
</div>
<div id="modal-Contract" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/docexp")
    <script type="text/javascript">
        $(document).ready(function () {


            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }

            $("#ddlAccountGroup").select2();
            CallEmployee();
            $("#ddlCity").select2({
                placeholder: 'Search City by Name ',
                minimumInputLength: 0,
                ajax: {
                    url: "/City/SearchCity",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {

                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            SrcOfLead();

            var EntryID = getQueryString('');

            $.ajax({
                url: '/Property/Contractor/GetDocument',
                dataType: 'json',
                data: { CnId: EntryID ,purpose:'Contractor'},
                cache: true,
                success: function (data) {
                    //$('#addchecklist').html('');
                    leng = data.length;
                    if (leng > 0) {
                        $.each(data, function (i, item) {

                            Adddoctypeexp(item.Id,item.type, item.AttAch, item.Value, item.Id, item.Date, item.Purpose);
                        });
                    } else {
                        Adddoctypeexp();
                    }
                }
            });
            if (EntryID != null) {
                $.ajax({
                    url: '/Property/Contractor/GetMobile',
                    dataType: 'json',
                    data: { CnId: EntryID },
                    cache: true,
                    success: function (data) {
                        //$('#addchecklist').html('');
                        leng = data.length;
                        if (leng > 0) {
                            $.each(data, function (i, item) {
                                AddMobile(item.Mob, item.Name);
                            });
                        } else {
                            AddMobile();
                        }
                    }
                });
            }
            //if ($('#mobilebody tr').length == 0) {
            //    alert($('#mobilebody tr').length)
            //    addmobile('mobilebody', 'contact', "");
            //}
            SearchCustExists();
            $("#State").select2();

            ContType();
        });

        $('body').on('change', '#DC', function (e) {
            if ($(this).val() == 0 && '@ViewBag.BillToReceipt' == '0') {//debit
                $("#refdiv").show();
                bindAccRef("cust");
            } else {
                $("#refdiv").hide();
            }
        });

        /* function for Create popup */
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        })
        $('body').on('change', '#ContractorName', function (e) {
            var cusname = $('#ContractorName').val();//ContractorCheck
            var cus = $('#ContractorID').val();//ContractorCheck
            // alert(cusid)
            $.ajax({
                url: '/Property/Contractor/ContractorCheck',
                type: "GET",
                dataType: "JSON",
                data: { Contractor: cusname, cusid: cus },
                success: function (rslt) {
                    if (rslt == true) {
                        alert("Contractor Name already Exists")
                        $('#ContractorName').val('');
                    }
                }
            });
        });
        $('#modal-create').on('submit', '#createform', function (e) {
                       var text = $("#SrcName").val();
            $('#ddlSrcLead option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-create #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-create').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id);//.attr("selected", "selected");
                        newOption.html(text);
                        $('#ddlSrcLead').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            });

            e.preventDefault();
        });

        //submit function
        $('#ediForm').on('submit', function (e) {

            e.preventDefault();
            var url = $('#ediForm')[0].action;
            var formData = new FormData(this);
            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                processData: false,
                contentType: false,
                url: url,
                data: formData,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (e.status) {
                        $('.ajax_response', res_success).text(e.message);
                        $('.AlertDiv').prepend(res_success);
                        window.location.href = '@Url.Action("Create", "Contractor")';
                    }
                    else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button
                    }
                }
            });
        });

        $('span').on('click', '.modal-Contract', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-Contract');
        });
        $('#modal-Contract').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-Contract');
        });

        function ContType() {
            $("#ddlContractType").select2({
                placeholder: 'Search Contract Type by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/ContractType/SearchTypebasedContract",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "All",
                            Contractor: $('#ddlContractor').val()

                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
    </script>
}