@using QuickSoft.Models
@model QuickSoft.ViewModel.ItemViewModel
@{
    ViewBag.Title = "Item Details";
    ViewBag.SubTitle = "Details";
    ViewBag.Active = "Master";


    string TypeNames = "";
    if (Model.ItemType == 1)
    {
        TypeNames = "General";
    }
    else if (Model.ItemType == 2)
    {
        TypeNames = "Diamond";
    }
    else if (Model.ItemType == 3)
    {
        TypeNames = "Watch";
    }
    else
    {
        TypeNames = "Object";
    }

    var WarrName = "";
    if (Model.Warranty == 1)
    {
        WarrName = "Warranteed";
    }
    else if (Model.Warranty == 2)
    {
        WarrName = "Guaranteed";
    }
    else if (Model.Warranty == 3)
    {
        WarrName = "None";
    }
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.ItemName)</h3>
        <div class="pull-right col-md-2">
            @if (User.IsInRole("Dev") || User.IsInRole("Create Customer"))
            {
            <a class="btn btn-info no-border btn-block" href="/Item/Create">
                <i class="glyphicon glyphicon-plus"></i>Create
            </a>
            }
        </div>
        <div class="pull-right col-md-2">
            @if (User.IsInRole("Dev") || User.IsInRole("Customer"))
            {
            <a class="btn btn-success no-border btn-block" href="/Item/">
                <i class="fa fa-fw fa-history"></i>List
            </a>
            }
        </div>
    </div>
    @*<div class="box-body">*@
    <section class="content">
        @*<div class="col-md-12">*@
        <div class="col-md-3 lblpadding">
            <!-- Profile Image -->
            <div>
                
            </div>
            <div class="box box-primary">
                <div class="row">
                    <div style="text-align:center;">
                        <h4><u><b>Basic Details</b></u></h4>
                    </div>
                    <div class="box-body box-profile">
                        <span>Code : @Html.DisplayFor(m => m.ItemCode) </span>
                        <ul class="list-group list-group-unbordered">
                            @if (Model.ItemName != null)
                                    {
                                    <li class="list-group-item">
                                        @Html.Raw(Model.ItemName)
                                    </li>
                                    }
                            @if (Model.ItemTypeName != null)
                                    {
                                    <li class="list-group-item">
                                        @Html.Raw(Model.ItemTypeName)
                                    </li>
                                    }
                            <li class="list-group-item">
                                <b>Item Type</b> : @TypeNames
                            </li>

                            <li class="list-group-item">
                                <b><i class="fa fa-2x "></i> Category</b>

                                @Html.DisplayFor(m => m.CategoryName)
                                <br />
                                @*<span>Code : @Html.DisplayFor(m => m.ItemCategoryID)</span>
                                    <br />*@
                                @if (Model.CreatedBy != null)
                                        {
                                    <li class="list-group-item">
                                        <b><i class="fa fa-user-circle-o margin-r-5"></i> Added Person</b> : @Html.DisplayFor(m => m.CreatedBy)
                                    </li>
                                        }
                            </ul>
                        </div>
                    </div>




                    <div class="box box-primary">
                        <div class="row">
                            <div style="text-align:center;">
                                <h4> <u><b>General Details</b></u></h4>
                            </div>
                            <div class="box-body">
                                @*<div class="col-sm-6 form-group">
                                        @Html.Label("Item Code :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.ItemCode)
                                        @Html.HiddenFor(model => model.ItemCode)
                                        @Html.HiddenFor(model => model.HireTypes)
                                        @Html.HiddenFor(model => model.ItemID)
                                    </div>*@
                                @*@if (@ViewBag.BCEnable == 0)
                                    {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("BarCode :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.Barcode)
                                    </div>
                                    }*@
                                @*<div class="col-sm-6 form-group">
                                        @Html.Label("Category :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.CategoryName)
                                    </div>*@
                                <div class="col-sm-6 form-group">
                                    @Html.Label("Brand :", null, new { @class = "control-label" })
                                    @Html.DisplayFor(m => m.BrandName)
                                </div>
                                <div class="col-sm-6 form-group">
                                    @Html.Label("Tax :", null, new { @class = "control-label" })
                                    @Html.DisplayFor(m => m.TaxName)
                                </div>
                                @if (Model.KeepStock == true)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Opening Stock :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.OpeningStock)
                                    </div>
                                            <div class="col-sm-6 form-group">
                                                @Html.Label("Minimum Stock :", null, new { @class = "control-label" })
                                                @Html.DisplayFor(m => m.MinStock)
                                            </div>
                                }
                                @if (Model.PUnit != "")
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Primary Unit :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.PUnit)
                                    </div>
                                }
                                @if (Model.SUnit != "" || Model.SUnit != null)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Secondary Unit :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.SUnit)
                                    </div>
                                            <div class="col-sm-6 form-group">
                                                @Html.Label("Con Factor :", null, new { @class = "control-label" })
                                                @Html.DisplayFor(m => m.ConFactor)
                                            </div>
                                }
                                @if (Model.ItemSize != null)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Size :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.ItemSize)
                                    </div>
                                }
                                @if (Model.ItemColor != null)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Color :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.ItemColor)
                                    </div>
                                }
                                @if (Model.ItemArabic != null)
                                {
                                    <div class="col-sm-12 form-group">
                                        @Html.Label("Arabic Name :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.ItemArabic)
                                    </div>
                                }
                                @if (@ViewBag.EnableCurrency == 0)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Currency :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.CurrencyName)
                                    </div>
                                            <div class="col-sm-6 form-group">
                                                @Html.Label("Convertion Rate :", null, new { @class = "control-label" })
                                                @Html.DisplayFor(m => m.ConRate)
                                            </div>
                                }
                                @if (@ViewBag.PartNoCheck == 0)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Part Number :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.PartNumber)
                                    </div>
                                }
                                @if (@ViewBag.BranchCheck == 0)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Branch :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.BranchName)
                                    </div>
                                }
                                @if (Model.SupplierName == "")
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Supplier Name :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.SupplierName)
                                    </div>
                                }
                                @if (Model.SupplierRef == "")
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Supplier Reference :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.SupplierRef)
                                    </div>
                                }
                                @if (Model.Commission == 0)
                                {
                                    <div class="col-sm-6 form-group">
                                        @Html.Label("Commision :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.Commission)
                                    </div>
                                }
                                <div class="col-sm-6 form-group">
                                    @Html.Label("Status :", null, new { @class = "control-label" })
                                    @Html.DisplayFor(m => m.Status)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-body">
                                @if (Model.ItemDescription == "")
                                {
                                    <div class="col-sm-12 form-group">
                                        @Html.Label("Item Description :", null, new { @class = "control-label" })
                                        @Html.DisplayFor(m => m.ItemDescription)
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="row">
                                <div style="text-align:center;">
                                    <h4><u><b>Price Details</b></u></h4>
                                </div>
                                <div class="box-body">
                                    @if (Model.SellingPrice != 0)
                                    {
                                        <div class="col-sm-6 form-group">
                                            @Html.Label("Selling Price :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.SellingPrice)
                                        </div>
                                    }
                                    @if (Model.PurchasePrice != 0)
                                    {
                                        <div class="col-sm-6 form-group">
                                            @Html.Label("Purchase Price :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.PurchasePrice)
                                        </div>
                                    }
                                    @if (Model.BasePrice != 0)
                                    {
                                        <div class="col-sm-6 form-group">
                                            @Html.Label("Base Price :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.BasePrice)
                                        </div>
                                    }
                                    @if (Model.MRP != 0)
                                    {
                                        <div class="col-sm-6 form-group">
                                            @Html.Label("MRP :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.MRP)
                                        </div>
                                    }
                                    @if (Model.HireTypes != null)
                                    {
                                        @*<div style="text-align:center;">
                                                <u><b>Hire Rate Details</b></u>
                                            </div>*@
                                    foreach (var htype in Model.HireTypes)
                                    {
                                        <div class="col-sm-6 form-group">
                                            <b>@htype.TypeName</b>: @htype.Rate
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        @if (@ViewBag.JewCheck == 0 && Model.ItemType != 1)
                        {
                            <div class="row">
                                <div style="text-align:center;">
                                    <u><b>Jewellery Deatils</b></u>
                                </div>
                                <div class="box-body">
                                    @if (Model.ItemType != 1)
                                    {
                                        <div class="col-sm-6 form-group">
                                            @Html.Label("Type :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Type)
                                        </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("Jewellery Ref :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.SetRef)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("Country :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Country)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("Style :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Style)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("TagLine 1 :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Tagline1)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("TagLine 2 :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Tagline2)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("TagLine 3 :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Tagline3)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("TagLine 4 :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Tagline4)
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    @Html.Label("TagLine 5 :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Tagline5)
                                                </div>
                                    }
                                </div>
                            </div>
                            if (Model.ItemType == 2)
                            {
                                <div class="row">
                                    <div style="text-align:center;">
                                        <u><b>Diamond Deatils</b></u>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Design :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Design)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Flourescence :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Fluorescence)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Clarify :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Clarify)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Range :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Range)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Time :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Time)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Certificate No :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.CertificateNo)
                                        </div>
                                    </div>
                                </div>
                            }
                            if (Model.ItemType == 3)
                            {
                                <div class="row">
                                    <div style="text-align:center;">
                                        <u><b>Watch Deatils</b></u>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Ref No :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Refno)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Model No :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.ModelNo)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Model Name :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.ModelName)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Strap Type :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Straptype)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Dial Shape :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.DialShape)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Dial Color :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.DialColor)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Material :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Material)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Movement :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Movement)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Weight :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.Weight)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("stone Type :", null, new { @class = "control-label" })
                                            @Html.DisplayFor(m => m.StoneType)
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            @Html.Label("Warranty :", null, new { @class = "control-label" })
                                            @WarrName
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>


                </div>

            </div>

             @*list of last Sale,purchase & stock shows in right side*@

            <div class="col-md-9 col-sm-10 col-lg-8">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                            @if (User.IsInRole("Dev") || User.IsInRole("Sales Entry"))
                                    {
                                    <li class="nav-item">
                                        <a class="tablinks show active" id="tab-Sale" data-toggle="pill" href="#Con-Sale" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Sale</a>
                                    </li>
                                    }
                            @if (User.IsInRole("Dev") || User.IsInRole("Purchase List"))
                                    {
                                    <li class="nav-item">
                                        <a class="tablinks" id="tab-Purchase" data-toggle="pill" href="#Con-Purchase" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Purchase</a>
                                    </li>
                                    }
                            @if (User.IsInRole("Dev") || User.IsInRole("Stock Item Wise"))
                                    {
                                    <li class="nav-item">
                                        <a class="tablinks" id="tab-Stock" data-toggle="pill" href="#Con-Stock" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Stock</a>
                                    </li>
                                    }
                                    @*@if (ViewBag.BusinessType == "Scaffold")
                                        {
                                            if (User.IsInRole("Dev") || User.IsInRole("HireStock Item Wise"))
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-Hire" data-toggle="pill" href="#Con-Hire" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Hire</a>
                                                </li>
                                            }
                                        }*@

                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-one-tabContent">
                                    <div class="tab-pane fade" id="Con-Sale" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                        Last Sale Entries
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="table no-margin" id="UserTable">
                                                    <thead>
                                                        <tr class="bg-gray">
                                                            <td>S/N</td>

                                                            <td class="headeralign">Date</td>
                                                            <td class="headeralign">BillNo</td>
                                                            <td class="headeralign">Customer</td>
                                                            <td class="headeralign">Unit</td>
                                                            <td class="headeralign">Qty</td>
                                                            <td class="headeralign">Rate</td>
                                                            <td class="headeralign">Sub Total</td>
                                                            <td class="headeralign">Discount</td>
                                                            <td class="headeralign">Tax</td>
                                                            <td class="headeralign">Grand Total</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Con-Purchase" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                        Last Purchase Entries

                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="table no-margin" id="PurUserTable">
                                                    <thead>
                                                        <tr class="bg-gray">
                                                            <td>S/N</td>

                                                            <td class="headeralign">Date</td>
                                                            <td class="headeralign">BillNo</td>
                                                            <td class="headeralign">Supplier</td>
                                                            <td class="headeralign">Unit</td>
                                                            <td class="headeralign">Qty</td>
                                                            <td class="headeralign">Rate</td>
                                                            <td class="headeralign">Sub Total</td>
                                                            <td class="headeralign">Discount</td>
                                                            <td class="headeralign">Tax</td>
                                                            <td class="headeralign">Grand Total</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Con-Stock" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                        Stock Details
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="table no-margin" id="StUserTable">
                                                    <thead>
                                                        <tr class="bg-gray">
                                                            <td class="headeralign">StockIn</td>
                                                            <td class="headeralign">StockOut</td>
                                                            <td class="headeralign">Bal Stock</td>
                                                            <td class="headeralign">Cost</td>
                                                            <td class="headeralign">Stock Value</td>
                                                            <td class="headeralign">Sale Value</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="box-body">
                                                @if (ViewBag.BusinessType == "Scaffold")
                                                {
                                                <div class="table-responsive">
                                                    Hire Details
                                                    <table class="table no-margin" id="HireUserTable">
                                                        <thead>
                                                            <tr class="bg-gray">
                                                                <td class="headeralign">Stock In Shop</td>
                                                                <td class="headeralign">Stock OutSide Shop</td>
                                                                <td class="headeralign">Stock In Value</td>
                                                                <td class="headeralign">Stock OutSide Value</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="tab-pane fade" id="Con-Hire" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">


                                        </div>*@
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
            
             @*end*@
                   
        @*</div>*@






                    @*add here*@






                </section>
                @*</div>*@

                <div class="box-body">
                    <section class="content">
                        @Html.HiddenFor(model => model.ItemID)
                        <div class="row">
                            @*Tables*@

                        </div>
                    </section>
                </div>
            </div>


            @{var vModel = "modal-lg";}
            @Html.Partial("../Common/_ModalCreate", @vModel)
            @Html.Partial("../Common/_ModalEdit")
            @Html.Partial("../Common/_ModalDelete")
            @section style{
                @Styles.Render("~/css/bootstrap-datepicker")
            }
            @section scripts{
                @Scripts.Render("~/js/jqueryval")
                @Scripts.Render("~/js/bootstrap-datepicker")
                <script type="text/javascript">
                    $(document).ready(function () {
                       
                        var STable = $('#UserTable').DataTable({
                            "processing": true, // for show progress bar
                            "serverSide": true, // for process server side
                            "filter": false, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            "bStateSave": false,
                            'pageLength': 10,
                            
                                "ajax": {
                                    "url": '/Item/GetLastSales',
                                    "data": function (data) {
                                       
                                        data.ItemID = $('#ItemID').val();
                                       
                                    },
                                    "type": "POST",
                                    "datatype": "json"
                                },
                                "columns": [
                                    {
                                        "data": "SEItemsId", "name": "SEItemsId",
                                        "render": function (data, type, row, meta) {
                                            return meta.row + meta.settings._iDisplayStart + 1;
                                        }
                                    },
                                    {
                                        "data": "SEDate", "name": "SEDate",
                                        "render": function (data) {
                                            var date = convertToDate(data);
                                            return date.toString();
                                        }
                                    },
                                    { "data": "BillNo", "name": "BillNo", "sClass": "headeralign" },
                                    { "data": "CustomerName", "name": "CustomerName", "sClass": "headeralign" },
                                    { "data": "ItemUnit", "name": "ItemUnit", "sClass": "headeralign" },
                                    { "data": "ItemQuantity", "name": "ItemQuantity", "sClass": "headeralign" },
                                    { "data": "ItemUnitPrice", "name": "ItemUnitPrice", "sClass": "headeralign" },
                                    { "data": "ItemSubTotal", "name": "ItemSubTotal", "sClass": "headeralign" },
                                    { "data": "ItemDiscount", "name": "ItemDiscount", "sClass": "headeralign" },
                                    { "data": "ItemTax", "name": "ItemTax", "sClass": "headeralign" },
                                    { "data": "ItemTotalAmount", "name": "ItemTotalAmount", "sClass": "headeralign" },
                                ],
                            });

                        
                       

                            var PTable = $('#PurUserTable').DataTable({
                                "processing": true, // for show progress bar
                                "serverSide": true, // for process server side
                                "filter": false, // this is for disable filter (search box)
                                "orderMulti": false, // for disable multiple column at once
                                "bStateSave": false,
                                'pageLength': 10,
                                'responsive': true,

                                "ajax": {
                                    "url": '/Item/GetLastPurchase',
                                    "data": function (data) {
                                        data.ItemID = $('#ItemID').val();
                                    },
                                    "type": "POST",
                                    "datatype": "json"
                                },
                                "order": [1, 'desc'],
                                "columns": [
                                    {
                                        "data": "PEItemsId", "name": "PEItemsId",
                                        "render": function (data, type, row, meta) {
                                            return meta.row + meta.settings._iDisplayStart + 1;
                                        }
                                    },
                                    {
                                        "data": "PEDate", "name": "PEDate",
                                        "render": function (data) {
                                            var date = convertToDate(data);
                                            return date.toString();
                                        }
                                    },
                                    { "data": "BillNo", "name": "BillNo", "sClass": "headeralign" },
                                    { "data": "SupplierName", "name": "SupplierName", "sClass": "headeralign" },

                                    { "data": "ItemUnit", "name": "ItemUnit", "sClass": "headeralign" },
                                    { "data": "ItemQuantity", "name": "ItemQuantity", "sClass": "headeralign" },
                                    { "data": "ItemUnitPrice", "name": "ItemUnitPrice", "sClass": "headeralign" },
                                    { "data": "ItemSubTotal", "name": "ItemSubTotal", "sClass": "headeralign" },
                                    { "data": "ItemDiscount", "name": "ItemDiscount", "sClass": "headeralign" },
                                    { "data": "ItemTax", "name": "ItemTax", "sClass": "headeralign" },
                                    { "data": "ItemTotalAmount", "name": "ItemTotalAmount", "sClass": "headeralign" },
                                ],

                            });


                        var StTable = $('#StUserTable').DataTable({
                            //responsive: true,
                            "filter": false,
                            //"paging": false,

                            "bInfo": false,
                            "ordering": false,
                            "processing": true, // for show progress bar
                            "serverSide": true, // for process server side
                            "filter": false, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            // "bStateSave": true,
                            "bLengthChange": false,
                            "paging": true,
                            "pageLength": 5000,
                            responsive: true,
                            "ordering": false,
                            "ajax": {
                                "url": '/StockReport/GetItemWise',
                                "data": function (data) {
                                    data.ItemID = $('#ItemID').val();
                                },
                                "type": "POST",
                                "datatype": "json"
                            },
                            "paging": true,
                            "columns": [

                                {
                                    "name": "StockIn", "data": function (data) {
                                        var stock = (data.stockIn + data.OpeningStock);//- hireStock;
                                        var stockIn = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        return '<label>' + stockIn + '</label>';
                                    }
                                },
                                {
                                    "name": "Stockout", "data": function (data) {
                                        var stock = data.stockout;
                                        var stockout = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        return '<label>' + stockout + '</label>';
                                    }
                                },
                                {
                                    "name": "balstock", "data": function (data) {
                                        var stock = (data.stockIn + data.OpeningStock);//- hireStock;
                                        var stockIn = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        var stock = data.stockout;
                                        var stockout = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        var bal = stockIn - stockout;
                                        return '<label>' + bal + '</label>';
                                    }
                                },
                                { "data": "cost", "name": "cost", render: $.fn.dataTable.render.number(",", ".", 2) },

                                {
                                    "name": "stockvalue", "data": function (data) {
                                        //stock value

                                        //stock in
                                        var stockIn = (data.stockIn + data.OpeningStock);//- hireStock;

                                        //stock out
                                        var stockout = data.stockout;// - HS;
                                        var stockVal = stockIn - stockout;
                                        var stockval = (stockVal / data.ConFactor) * data.cost;
                                        return '<label>' + stockval.toFixed(2) + '<label>';
                                    }
                                },
                                {
                                    "name": "SaleValue", "data": function (data) {
                                        //var hireStock = (data.PriHDNote * data.ConFactor) + data.SubHDNote;
                                        var stock = data.stockout;//- hireStock;
                                        //var stockout = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        stock = stock * data.price;
                                        return '<label>' + stock.toFixed(2) + '</label>';
                                    }
                                },
                            ],
                        });

                        var HTable = $('#HireUserTable').DataTable({
                            //responsive: true,
                            "filter": false,
                            "bInfo": false,
                            "ordering": false,
                            "processing": true, // for show progress bar
                            "serverSide": true, // for process server side
                            "filter": false, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            // "bStateSave": true,
                            "bLengthChange": false,
                            "paging": true,
                            "pageLength": 5000,
                            responsive: true,
                            "ordering": false,
                            "ajax": {
                                "url": '/StockReport/GetItemWise',
                                "data": function (data) {
                                    data.ItemID = $('#ItemID').val();
                                },
                                "type": "POST",
                                "datatype": "json"
                            },
                            "columns": [

                                {
                                    "name": "stockinshop", "data": function (data) {
                                        //stock in shop

                                        //stock in
                                        var hireStockP = (data.PriRetNote + data.PriHireMiss) * data.ConFactor;
                                        var hireStockS = data.SubRetNote + data.SubHireMiss;
                                        var hireStock = hireStockP + hireStockS;
                                        var stockIn = (data.stockIn + data.OpeningStock) - hireStock;


                                        //stock out
                                        var HStock = (data.PriHDNote * data.ConFactor) + data.SubHDNote;
                                        var stockout = data.stockout - HStock;


                                        //stock outside
                                        var hireReturn = (data.PriRetNote * data.ConFactor) + data.SubRetNote;
                                        var hireMiss = (data.PriHireMiss * data.ConFactor) + data.SubHireMiss;
                                        var stockOutSide = HStock - (hireReturn + hireMiss);

                                        var stockval = stockIn - (stockOutSide + stockout);
                                        var unit = (data.SIUnitName == null) ? (data.PIUnitName) : (data.SIUnitName);
                                        var stockinshop = StockCalc(stockval, data.ConFactor, data.PriUnit, data.SubUnit);
                                        return '<label>' + stockinshop + '</label>';

                                    }
                                },
                                {
                                    "name": "stockoutside", "data": function (data) {
                                        //stock outside
                                        var hireStock = (data.PriHDNote * data.ConFactor) + data.SubHDNote;
                                        var hireReturn = (data.PriRetNote * data.ConFactor) + data.SubRetNote;
                                        var hireMiss = (data.PriHireMiss * data.ConFactor) + data.SubHireMiss;

                                        var stock = hireStock - (hireReturn + hireMiss);

                                        var stockoutside = StockCalc(stock, data.ConFactor, data.PriUnit, data.SubUnit);
                                        return '<label>' + stockoutside + '</label>';
                                    }
                                },

                                {
                                    "name": "stockinshopvalue", "data": function (data) {
                                        //stock inshop value

                                        //stock in
                                        var hireStockP = (data.PriRetNote + data.PriHireMiss) * data.ConFactor;
                                        var hireStockS = data.SubRetNote + data.SubHireMiss;
                                        var hireStock = hireStockP + hireStockS;
                                        var stockIn = (data.stockIn + data.OpeningStock) - hireStock;


                                        //stock out
                                        var HStock = (data.PriHDNote * data.ConFactor) + data.SubHDNote;
                                        var stockout = data.stockout - HStock;


                                        //stock outside
                                        var hireReturn = (data.PriRetNote * data.ConFactor) + data.SubRetNote;
                                        var hireMiss = (data.PriHireMiss * data.ConFactor) + data.SubHireMiss;
                                        var stockOutSide = HStock - (hireReturn + hireMiss);

                                        var stockval = stockIn - (stockOutSide + stockout);


                                        var inshopval = (stockval / data.ConFactor) * data.cost;

                                        return '<label>' + inshopval.toFixed(2) + '<label>';
                                    }
                                },
                                {
                                    "name": "stockoutsidevalue", "data": function (data) {
                                        var HStock = (data.PriHDNote * data.ConFactor) + data.SubHDNote;
                                        var hireReturn = (data.PriRetNote * data.ConFactor) + data.SubRetNote;
                                        var hireMiss = (data.PriHireMiss * data.ConFactor) + data.SubHireMiss;
                                        var stockOutSide = HStock - (hireReturn + hireMiss);

                                        var outsideval = (stockOutSide / data.ConFactor) * data.cost;

                                        return '<label>' + outsideval.toFixed(2) + '<label>';
                                    }
                                },

                            ],
                        });
                    });




                    /* function for view detail popup */
                    $('#UserTable').on('click', 'a.details', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        modalshow(url, '#modal-create');
                    })
                    /* function for view detail popup */
                    $('#UserTable').on('click', 'a.viewdetails', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        modalshow(url, '#modal-create');
                    })

                    $('#HStock').on('click', function (e) {
                        e.preventDefault();
                        var item = $('#ItemCode').val();
                        //ajax


                    })

                    /* function for Create popup */

                    $('div').on('click', '.modal-create', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        modalshow(url, '#modal-create');
                        //datepickerInit();
                    });
                    $('#modal-create').on('submit', '#createform', function (e) {
                        e.preventDefault();
                        var url = $('#createform')[0].action;
                        var data = $('#createform').serialize();
                        createajax(url, data, '#modal-create');
                    });


                    /* function for Edit popup */

                    $('#UserTable').on('click', '.modal-edit', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        modalshow(url, '#modal-edit');
                    });
                    $('#modal-edit').on('submit', '#editform', function (e) {
                        e.preventDefault();
                        var url = $('#editform')[0].action;
                        var data = $('#editform').serialize();
                        createajax(url, data, '#modal-edit');
                    });

                    /* function for delete popup */
                    $('#UserTable').on('click', '.modal-delete', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        modalshow(url, '#modal-delete');
                    });
                    $('#modal-delete').on('submit', '#deleteform', function (e) {
                        e.preventDefault();
                        var url = $('#deleteform')[0].action;
                        var data = $('#deleteform').serialize();
                        createajax(url, data, '#modal-delete');
                    });

                    $('.table').on('click', 'a.Updation', function (e) {
                        e.preventDefault();
                        $(this).attr('data-target', '#modal-container2');
                        $(this).attr('data-toggle', 'modal');
                    });
                    $('.table').on('click', '.modal-close-btn', function () {
                        $('#modal-container2').modal('hide');
                        $('#modal-container2').removeData('bs.modal');
                    });
                    $('#modal-container2').on('hidden.bs.modal', function () {
                        $(this).removeData('bs.modal');
                    });

                    // on call task updation
                    $("#modal-edit").on('shown', function () {
                        alert("Shown!");
                    });

                    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                        event.preventDefault();
                        $(this).ekkoLightbox();
                    });

                </script>
            }
