
@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();
    var Customer = Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();

    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();
    string myclass = "";
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print scaff">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <td class="col-xs-12">
                    <div style="max-height:250px">
                        <div class="text-center">
                            <style type="text/css">
                                @@media print {
                                    body, .print {
                                        border: 0px !important;
                                    }
                                }

                                body .print {
                                    border: 0px !important;
                                    font-family: Cambria;
                                }

                                .print .table-bordered tbody tr td, .print .table-bordered tbody tr th,
                                .print table, .print tr, .print td, .print th, .print .table-bordered {
                                    border-color: #d3d3d3 !important;
                                }

                                body .print table td {
                                    font-size: 13px;
                                }

                                #hscode {
                                    position: absolute;
                                    margin-top: -104px;
                                }

                                    #hscode p {
                                        margin-bottom: 0px;
                                        text-align: left;
                                    }

                                body .print img {
                                    max-height: unset;
                                }

                                @@page {
                                    @@bottom-right {
                                        content: counter(page) " of " counter(pages);
                                    }
                                }
                            </style>
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }
                        </div>
                        <div class="text-center">
                            <h4 style="margin-bottom: 1px;">
                                <strong style="border-bottom: 1px solid #d3d3d3;text-transform: uppercase;">@title.Value</strong>
                            </h4>
                            @if (@ViewBag.CTaxRegNo != null)
                            {
                                <h6 style="margin-bottom: 0px;margin-top: 4px;">TRN: @ViewBag.CTaxRegNo</h6>
                            }
                        </div>
                        <table class="table table-noborder">
                            <tr>
                                <td width="59%" style="padding: 2px 8px; border: 1px solid #d3d3d3;">
                                    <table class="table-nob noborder scaff-cus" style="border: 0px;width: 100%;" id="partyhead"></table>
                                </td>
                                <td width="1%" style="border:0px;padding: 0px;"></td>
                                <td width="40%" style="padding: 0px;border:0px;">
                                    <table id="Cust_de" class="table-nob noborder scaff-inv" style="border: 0px;width: 100%;border-right: 1px solid;">
                                        <tr>
                                            <td style="border: 1px solid #d3d3d3 !important;padding: 4px;">@InvoiceNo.Value</td>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;padding-bottom: 0px;padding-top: 0px;"><label id="lblBillNo" style="font-size: 20px;font-weight: 600;line-height: 20px;"></label></td>
                                            <td style="border: 1px solid #d3d3d3 !important;padding: 4px;">@Date.Value</td>
                                            <td style="border-top: 1px solid #d3d3d3 !important;padding: 4px;"><label id="lblDate"></label></td>
                                        </tr>
                                        @{
                                            myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr @Html.Raw(myclass)>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;">@SalesExecutive.Value</td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="lblEmployee"></label></td>
                                        </tr>
                                        @if (PO_No != null)
                                        {
                                            myclass = PO_No.Status == Status.inactive ? "class=\"hidden\"" : "";
                                            <tr id="lpoSet" @Html.Raw(myclass)>
                                                <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;">@PO_No.Value</td>
                                                <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="lblPONo"></label></td>
                                            </tr>
                                        }
                                        @{
                                            myclass = DeliveryNote.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="dvnSet" @Html.Raw(myclass)>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;">@DeliveryNote.Value</td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="lbldvn"></label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;">PAYMENT TERMS</td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"></td>
                                        </tr>
                                        <tr id="divproject">
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;">Project</td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="lblProject"></label></td>
                                        </tr>

                                        <tr id="divRef1" hidden>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><b><label id="IblRef1"></label></b></td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="IblRef1Val"></label></td>
                                        </tr>
                                        <tr id="divRef2" hidden>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><b><label id="IblRef2"></label></b></td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"> <label id="IblRef2Val"></label></td>
                                        </tr>
                                        <tr id="divRef3" hidden>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><b><label id="IblRef3"></label></b></td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"> <label id="IblRef3Val"></label></td>
                                        </tr>
                                        <tr id="divRef4" hidden>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><b><label id="IblRef4"></label></b></td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"> <label id="IblRef4Val"></label></td>
                                        </tr>
                                        <tr id="divRef5" hidden>
                                            <td colspan="2" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><b><label id="IblRef5"></label></b></td>
                                            <td colspan="3" style="border: 1px solid #d3d3d3 !important;padding: 4px;"><label id="IblRef5Val"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </th>
                    <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr id="HSubject">
                <td colspan="3" style="border: 1px solid #d3d3d3;margin-bottom: 5px;padding-left: 6px;" id="Subject"></td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:430px;">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead style="border-top: 1px solid #d3d3d3 !important;border-right: 1px solid #d3d3d3 !important;">
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;border-left: 1px solid #d3d3d3 !important;border-color: #d3d3d3 !important;">SN</th>
                                    <th class="text-center" id="PoNo" style="vertical-align: middle;border-color: #d3d3d3 !important;">Part No</th>
                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" colspan="2">Description of goods</th>
                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" width="6%">Wt (KG)</th>
                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" width="4%">CBM</th>
                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" width="8%">Qty</th>

                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" width="7%">Received</th>
                                    <th class="text-center" style="vertical-align: middle;border-right: 0px solid #d3d3d3 !important;border-color: #d3d3d3 !important;" width="9%">Damaged</th>
                                    <th class="text-center" style="vertical-align: middle;border-color: #d3d3d3 !important;" width="1%">Missing</th>
                                    <th class="text-center" style="vertical-align: middle;border-right: 0px solid #d3d3d3 !important;border-color: #d3d3d3 !important;" width="9%">Balance</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>item 1</th>
                                    <th colspan="2"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>item 2</th>
                                    <th colspan="2"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class='border-top'>
                                    <td colspan='6'><strong> Amount In Words</strong></td>
                                    <td id="Bill_Amount">
                                        @Bill_Amount.Value @Bill_Amount.Lang
                                    </td>
                                    <td class='text-right'></td>
                                </tr>
                                <tr class='border-top'>
                                    <td colspan='6' rowspan='3'>
                                        <strong>
                                            <span id="Terms">
                                                @Terms.Value @Terms.Lang
                                            </span>
                                        </strong>
                                    </td>
                                    <td id="Bill_Discount">
                                        @Bill_Discount.Value @Bill_Discount.Lang
                                    </td>
                                    <td id='discountprint' class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <td id="Bill_Tax">
                                        @Bill_Tax.Value @Bill_Tax.Lang
                                    </td>
                                    <td class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <th id="Bill_Total">
                                        @Bill_Total.Value
                                        @Bill_Total.Lang
                                        <span style='direction:ltr'>(AED)</span>
                                    </th>
                                    <th class='text-right'></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive" style="border: 1px solid;">
                    <table class="table table-noborder" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder hidden" id="termstable" style="margin-top: 10px;">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr>
                            <td class="text-center text-bold" style="width: 24%;">
                                <div>
                                    <div id="hscode">
                                        <p>HS CODE : <span id="HSCodeF">76109090</span></p>
                                        <p>U.A.E. ORIGIN</p>
                                        <p>MADE ACE</p>
                                    </div>
                                    <hr class="hrfoot" style="margin-top: 100px;" />
                                    CUSTOMER'S SIGNATURE
                                </div>
                            </td>
                            <td style="width: 56%;padding: 10px;">
                                <p class="text-center text-bold" style="margin: 0px;padding-top: 0px;">BANK DETAILS</p>
                                <table class="table-nob noborder scaff-cus" style="border: 1px solid;width: 100%;" id="partyhead">
                                    <tr>
                                        <td style="padding-left: 3px;"><b>Account Name</b></td>
                                        <td style="width:2%;">:</td>
                                        <td>ACE ALUMINIUM</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 3px;"><b>Bank Name</b></td>
                                        <td>:</td>
                                        <td> HABIB BANK AG ZURICH, AL FALAH BR, ABU DHABI</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 3px;"><b>Swift Code</b></td>
                                        <td>:</td>
                                        <td>HBZUAEADXXX</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 3px;"><b>IBAN</b></td>
                                        <td>:</td>
                                        <td>AE1602907203111050877735</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 3px;"><b>Account No</b></td>
                                        <td>:</td>
                                        <td>0203070203111050877735</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center text-bold" style="width: 24%;">
                                <div>
                                    <hr class="hrfoot" style="margin-top: 100px;" />
                                    @Foot_2.Value.Replace("{company}", ViewBag.CName)
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row hidden">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td>
                    <div class="text-center">
                        @Html.Partial("../Common/_CompanyFooter")
                    </div>
                    <div id="content">
                        <h3 class="first"></h3>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>