@model QuickSoft.Models.PriceCategory
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit PriceCategory</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "MasterPriceCategory", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormColor').removeData("validator");
            $('form#popupFormColor').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormColor'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.pricestratagyid)

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Description", null, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.description, new { @class = "form-control", autofocus = "autofocus", @placeholder = "Enter Desicrption", @required = "required" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Method", null, new { @class = "control-label" })
            <div class="input-group">
                @Html.DropDownListFor(model => model.method, new SelectList(new List<SelectListItem>
                    {
                    new SelectListItem() {Text = "Absolute", Value="1"},
                    new SelectListItem() {Text = "Percentage", Value="0"},
                    }, "Value", "Text"), new { @class = "form-control input-sm select2", @name = "" })
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Value", null, new { @class = "control-label", style = "" })
            @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control", @placeholder = "  ", type = "number", min = "0", step = "0.01" } })
        </div>
    </div>
    <div class="col-md-12">
        <div class="checkbox-inline">
            @Html.CheckBoxFor(model => model.active, new { @class = "checkbox", tabindex = 26 })
            @Html.Label("Default", null, new { @class = "control-label", style = "" })
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}




