@model QuickSoft.Models.vehiclemasterviewmodel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Vehicle</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "VehicleMaster", FormMethod.Post, new { id = "createform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Vehicle Name", null, htmlAttributes: new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.VechicleName, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = " ", @required = "required" } })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Registration Number", null, htmlAttributes: new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = " ", @required = "required" } })

                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Per KM Rate", null, htmlAttributes: new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.openingkelometer, new { htmlAttributes = new {@type="number", @step = ".01", @class = "form-control", autofocus = "autofocus", @placeholder = " ", @required = "required" } })

                </div>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Current KM", null, htmlAttributes: new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.currentkelometer, new { htmlAttributes = new { @type="number",@class = "form-control", autofocus = "autofocus"} })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "control-label" }) *
                    @Html.TextAreaFor(model => model.remarks,new { @class = "form-control", autofocus = "autofocus", @style = "width:100%" } )

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>



 
<script>
    $(document).ready(function () {
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
    })
</script>