@model QuickSoft.ViewModel.DrNoteViewModel
@{
    ViewBag.Title = "Edit Dr.Note";
    ViewBag.SubTitle = "Dr.Note";
    ViewBag.Active = "Transactions";
    var seltype = Model.DebitType;

}
@using (Html.BeginForm("UpdateDrNote", "DrNote", FormMethod.Post, new { id = "drform", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Dr.Note</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit DrNote"))
                    {
                        <a class="btn bg-black no-border" href="/DrNote/Edit/@ViewBag.preEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit DrNote"))
                    {
                        <a class="btn bg-black no-border" href="/DrNote/Edit/@ViewBag.nxtEntry">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                else
                {
                    if (User.IsInRole("Dev") || User.IsInRole("DrNote Entry"))
                    {
                        <a class="btn bg-black no-border" href="/DrNote/Create">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("DrNote List"))
                {
                    <a class="btn btn-success no-border" href="/DrNote">
                        <i class="fa fa-fw fa-history"></i> Dr.Note List
                    </a>
                }
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4 form-group ">
                    @Html.Label("Voucher No", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.BillNo, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    @Html.HiddenFor(model => model.DNNo)
                </div>
                <div class="col-sm-4 form-group">
                    @Html.LabelFor(model => model.DNDate, htmlAttributes: new { @class = "control-label" })*
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.DNDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                    </div>
                </div>
                @*<div class="form-group col-md-4">
                        @Html.Label("Debit Type", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlDebitType", new SelectList(new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "Cr.note Issued Against Sale", Value="2"},
                            new SelectListItem() {Text = "Dr.note Received Against Purchase", Value="1"},
                            new SelectListItem() {Text = "Not applicable", Value="0"},
                        }, "Value", "Text"), new { @class = "form-control input-sm", @id = "ddlDebitType", @name = "ddlDebitType" })
                    </div>*@
                <div class="col-sm-4 form-group">
                    @Html.LabelFor(m => m.PayTo, new { @class = "control-label" }) *
                    @Html.DropDownListFor(m => m.PayTo, (SelectList)ViewBag.PaidTo, new { id = "ddlpayto", @class = "form-control select2", @required = "required", tabindex = 5 })
                    <div id="Toaccbalance" class="form-group" style="display:none">
                        <label>Account Summary</label>
                        <div class="input-group input-group-sm">
                            <label class="text-danger" id="Toaccdetails"></label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    @Html.LabelFor(m => m.PayFrom, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Bank Accounts"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", @required = "required", tabindex = 7 })
                            <span class="input-group-btn">
                                <button type="button" href="/Master/BankAccountscreate" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", @required = "required", tabindex = 7 })
                    }
                    <div id="accbalance" class="form-group" style="display:none">
                        <label>Account Summary</label>
                        <div class="input-group input-group-sm">
                            <label class="text-danger" id="accdetails"></label>
                        </div>
                    </div>
                </div>
                @if (@ViewBag.CheckMail == 0)
                {
                    <div class="col-sm-4 form-group">
                        @Html.Label("Email Address", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.suppEmailId, new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks", @rows = 2 })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.DNNote, new { @class = "form-control", @placeholder = "Terms And Conditions", @rows = 4 })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-6 no-paddingleft exp" id="spacediv">
                    </div>
                    <div class="form-group col-md-6 no-padding exp">
                        @Html.Label("Amount", null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @id = "SubTotal", @class = "form-control text-right", @value = "0.00", tabindex = 11 } })
                    </div>
                    <div class="form-group col-md-6 no-paddingleft exp">
                        @Html.Label("Tax", null, new { @class = "control-label" })
                        @if (User.IsInRole("Dev") || User.IsInRole("Create Tax"))
                        {
                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), new { @class = "form-control", @id = "taxss", tabindex = 12 })
                                <span class="input-group-btn">
                                    <a href="/Tax/Create" class="btn btn-default btntaxAdd" title="Add Tax" tabindex="13"><i class="glyphicon glyphicon-plus"></i></a>
                                </span>
                            </div>
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), new { @class = "form-control", @id = "taxss", tabindex = 12 })
                        }
                    </div>
                    <div class="form-group col-md-6 no-padding exp">
                        <input type="hidden" value="0.00" id="taxp" name="TaxPer" />
                        @Html.LabelFor(model => model.TaxAmount, new { @class = "control-label" })
                        @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "TaxAmount", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 14 } })
                    </div>
                    <div class="form-group col-md-6  col-md-offset-6 no-padding">
                        @Html.LabelFor(model => model.GrandTotal, new { @class = "control-label" })
                        @Html.EditorFor(model => model.GrandTotal, new { htmlAttributes = new { @id = "GrandTotal", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 15, @required = "required" } })
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" id="save" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Update
                        </button>
                        <button type="submit" id="print" class="btn btn-success">
                            <span class="glyphicon glyphicon-print"></span> Update And Print
                        </button>
                        @if (@ViewBag.CheckMail == 0)
                        {
                            <button type="submit" id="sendmail" class="btn btn-success">
                                <span class="glyphicon glyphicon-envelope"></span> Update And Mail
                            </button>
                        }

                        <button type="button" class="btn btn-warning" onclick="@("window.location.href='/DrNote/Index'");">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-tax" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
@{
    var Models = "modal-lg";
    if (@ViewBag.CNBillAdj == 0)
    {
        @Html.Partial("../Common/_CNoteInvoiceList")
    }
}

@Html.Partial("../Common/_ModalCreate", @Models)
@Html.Partial("../Common/_ModalEdit", @Models)
@Html.Partial("../Common/_ModeItemCreate")
@Html.Partial("_Invoice")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
}
@section scripts{
    @Scripts.Render("~/js/JsBarcode")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/sale-invoice")
    @Scripts.Render("~/js/drnote")
    @Scripts.Render("~/js/num2words")
    <script type="text/javascript">
        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var id = href.substring(href.lastIndexOf('/') + 1);
            return id ? id : null;
        }

        var CNBillAdjust = '@ViewBag.CNBillAdj';//active

        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: '01-01-2011',
            endDate: '+30d'
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            var CNBillAdjust = '@ViewBag.CNBillAdj';//active

            //ItemCategory();
            //ItemBrand();
            GetBranch();

            //CallCustomer();
            //CallEmployee();
            //CallMC();

            var crtype = 1;//'@seltype';
            //$('#ddlDebitType').val(crtype);

            $('#ddlpayfrom').select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/AllAccountsExpStkAdj",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                templateResult: SelectToGroup,
                templateSelection: ToSetFormatSelection,
            });
            // paid to atribute
            $("#ddlpayto").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchAccountsCNote",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            ctype: crtype,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                templateResult: SelectToGroup,
                templateSelection: ToSetFormatSelection,
            });

            if (CNBillAdjust == "1") {
                $("#SubTotal").attr({ "min": .01 });
            }

            var accid = $('#ddlpayfrom').val();
            accbalance(accid);
            var accidTo = $('#ddlpayto').val();
            accbalanceTo(accidTo);

        });
        // on change function of payto
        $('body').on('change', '#ddlpayfrom', function (e) {
            var accid = $(this).val();
            var payto = $('#ddlpayto').val();
            if (accid == payto) {
                alert("Pay From and Pay To should be different..!!");
            } else {
                accbalance(accid);
            }
            getEmailId();
        });
        $('body').on('change', '#ddlpayto', function (e) {
            var accid = $(this).val();
            var payfrom = $('#ddlpayfrom').val();
            if (accid == payfrom) {
                alert("Pay From and Pay To should be different..!!");
            } else {
                accbalanceTo(accid);
            }
            getEmailId();

        });


        // onchange function for paying
        $('body').on('change', '#Paying', function (e) {
            cashBalance();
        });

        // onchange function for debit type
        $('body').on('change', '#ddlDebitType', function (e) {
            var crtype = $(this).val();
            $('#ddlpayto').val(null).trigger('change');
            // paid to atribute
            $("#ddlpayto").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchAccountsCNote",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            ctype: crtype,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                templateResult: SelectToGroup,
                templateSelection: ToSetFormatSelection,
            });
        });


        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        $('span').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        $('div').on('click', '.btntaxAdd', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-tax');
        });
        //taxpopup();

        // on change function debit amt
        $('body').on('change', '#SubTotal', function (e) {
            FindTaxNTotal();
        });
        // on change function taxss
        $('body').on('change', '#taxss', function (e) {
            FindTaxNTotal();
        });

        //cancel button for price updater
        $('#modal-invoiceList').on('hidden.bs.modal', function () {
            var fnval = $("#fnvalp").val();
            //$("#SubTotal").attr({ "min": .01 });
            //submitForm(fnval);
        });
        $('#modal-invoiceList').on('submit', '#PriceUpdater', function (e) {
            e.preventDefault();
            var url = $('#PriceUpdater')[0].action;
            var data = $('#PriceUpdater').serialize();

            $("#SubTotal").attr({ "min": .01 });
            var fnval = "invoice";
            submitForm(fnval);
        });


        $('#drform').on('submit', function (e) {
            e.preventDefault();
            if ($("#drform").valid()) {
                var CSEmail = $('#suppEmailId').val();
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                if (fnval == "sendmail" && CSEmail == "") {
                    $('.ajax_response', res_danger).text("Customer Email Address Not Found..!!");
                    $('.AlertDiv').prepend(res_danger);
                }
                else {
                    if (CNBillAdjust == "0") {//active
                        $('#invoiceList').html('');
                        bindTable();
                        InvoiceListTable(fnval);
                    }
                    else {
                        submitForm(fnval);
                    }
                }
            }
        });

        function bindTable() {
            var EntryID = getQueryString('');
            if (EntryID != null) {
                $.ajax({
                    url: '/DrNote/GetDNInvoice',
                    dataType: 'json',
                    data: { DrId: EntryID },
                    cache: true,
                    success: function (data) {
                        $('#invoiceList').html('');
                        $.each(data, function (i, item) {
                            addrow('invoiceList', '', item.InvoiceNo, item.SEBill, item.InvoiceDate, item.SubTotal, item.TaxAmount, item.GrandTotalS, item.DebitAmount, item.PaidAmountS, item.BalanceAmountS, item.TaxPer, item.CRGTotal, item.DebitAmounts, item.EntryNo, item.TransType);
                        });
                        addrow('invoiceList', '', '', '', '');
                        FindTaxNTotal();
                    }
                });
            }
        }

        function submitForm(fnval) {
            if ($("#drform").valid()) {
                var BillNo = $('#BillNo').val();
                var DNDate = $('#DNDate').val();
                var DebitType = 1; //$('#ddlDebitType').val();
                var payto = $('#ddlpayto').val();
                var payfrom = $('#ddlpayfrom').val();
                var Remarks = $('#Remarks').val();
                var DNNote = $('#CNNote').val();
                var SubTotal = $('#SubTotal').val();
                var Tax = $('#taxss').val();
                var taxpercentage = $('#taxp').val();
                var TaxAmount = $('#TaxAmount').val();
                var GrandTotal = $('#GrandTotal').val();
                var DREntryID = getQueryString('');

                //var HTMLtbl = {
                //    getData: function (table) {
                //        var data = [];
                //        table.find('tr').not(':first').not('.item_').each(function (rowIndex, r) {
                //            var cols = [];
                //            $(this).find('input,textarea,select').each(function (colIndex, c) {
                //                cols.push($(this).val());
                //            });
                //            data.push(cols);
                //        });
                //        return data;
                //    }
                //}
                var parameters = {};
                var DNEntry = [BillNo, DNDate, DebitType, payfrom, payto,
                    DNNote, Remarks,
                    SubTotal, Tax, taxpercentage, TaxAmount, GrandTotal, fnval, DREntryID]

                parameters.dndata = DNEntry;

                //var data = HTMLtbl.getData($('#cninvoiceList'));
                //parameters.array = data;



                if (fnval == "save" || fnval == "invoice" || fnval == "print") {
                    submitForms(fnval, parameters);
                } else if (fnval == "sendmail") {
                    if ($('#custEmailId').val() != "") {
                        submitForms(fnval, parameters);
                    } else {
                        $('.ajax_response', res_danger).text("Customer Email Address Not Found..!!");
                        $('.AlertDiv').prepend(res_danger);
                    }
                }
            }
        }


        function submitForms(fnval, parameters) {
            var fnvalold = $("#fnvalp").val();

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/DrNote/UpdateDrNote",
                data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (fnval == "invoice") {
                        submitInvoice(e.CNId, fnvalold);
                    } else {
                        if (e.status == true) {
                            if (fnval == "print") {
                                //var titlename = "DrNote";
                                PrintInvoice(e.summary);
                            }
                            else {
                                $('.ajax_response', res_success).text(e.message);
                                $('.AlertDiv').prepend(res_success);
                            }
                            location.reload();
                            //window.location.href = '@Url.Action("Create", "DrNote", new { id = "", type = "" })';
                        } else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                }
            });

        }
        function submitInvoice(CNId, fnval) {

            var HTMLtbl = {
                getData: function (table) {
                    var data = [];
                    table.find('tr').not(':first').not('.item_').each(function (rowIndex, r) {
                        var cols = [];
                        $(this).find('input,textarea,select').each(function (colIndex, c) {
                            cols.push($(this).val());
                        });
                        data.push(cols);
                    });
                    return data;
                }
            }
            var parameters = {};
            var data = HTMLtbl.getData($('#cninvoiceList'));
            parameters.array = data;
            parameters.cnId = CNId;
            parameters.action = fnval;

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/DrNote/UpdatePayTransEdit",
                data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (data) {
                    if (data.status) {
                        if (fnval == "print") {
                            PrintInvoice(data.summary);
                        } else {
                            $('.ajax_response', res_success).text(data.message);
                            $('.AlertDiv').prepend(res_success);
                        }
                        location.reload();
                        //window.location.href = '@Url.Action("Create", "DrNote", new { id = "", type = "" })';
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button
                    }
                }
            });
        }
    </script>
}
