@using QuickSoft.Models
@model QuickSoft.ViewModel.EmployeeDetailViewModel
@{
    ViewBag.Title = "Employee Details";
    ViewBag.SubTitle = "Employee Details";
    ViewBag.Active = "Employee";
    var doc = 1;
    decimal? Salary = 0;
}
<script>

</script>
<div class="box">
    <div class="box-header">
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Employee List"))
            {
                <a class="btn btn-success no-border" href="/Employee">
                    <i class="fa fa-fw fa-history"></i> Employee List
                </a>
            }

            @if (User.IsInRole("Dev") || User.IsInRole("Create Employee"))
            {
                <a class="btn btn-info no-border" href="/Employee/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create Employee
                </a>
            }
        </div>
    </div>
    <div class="box-body">
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="~/uploads/profile/@Model.ImgFileName" alt="User profile picture">
                            <h4 class="profile-username text-center"><b> @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.MiddleName) @Html.DisplayFor(m => m.LastName)</b></h4>
                            <h4 class="text-center">Emp Code : <span class="label label-info">@Html.DisplayFor(m => m.EMPCode)</span></h4>
                            <p class="text-muted text-center">@Html.DisplayFor(m => m.Gender)</p>
                            <h4 class="text-center">Phone : <span class="label label-info">@Html.DisplayFor(m => m.PhoneNumber)</span></h4>
                            @if (Model.mob.Count() > 0)
                            {
                                bool first = true;
                                var mval = "";
                                <h5 class="text-center">
                                    <b>Mobile</b>
                                    @foreach (var upd in Model.mob)
                                    {
                                        mval += (first == true) ? @upd.Num : "," + @upd.Num;
                                        first = false;
                                    }
                                    @Html.Display(mval)
                                </h5>
                            }
                            <ul class="list-group list-group-unbordered">
                                @if (Model.Email != null)
                                {
                                    <li class="list-group-item">
                                        <b>Email</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Email)</a>
                                    </li>
                                }
                                @if (Model.DOB != null)
                                {
                                    <li class="list-group-item">
                                        <b>DOB</b>
                                        <a class="pull-right">@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.DOB))</a>
                                    </li>
                                }
                                @if (Model.MaritalStatus != null)
                                {
                                    <li class="list-group-item">
                                        <b>Marital Status</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.MaritalStatus)</a>
                                    </li>
                                }
                                @if (Model.BloodGroup != null)
                                {
                                    <li class="list-group-item">
                                        <b>Blood Group</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.BloodGroup)</a>
                                    </li>
                                }
                                @if (Model.PassportNo != null)
                                {
                                    <li class="list-group-item">
                                        <b>Passport No</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.PassportNo)</a>
                                    </li>
                                }
                                @if (Model.OtherIdNo != null)
                                {
                                    <li class="list-group-item">
                                        <b>Other Id No</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.OtherIdNo)</a>
                                    </li>
                                }
                                @if (Model.Department != null)
                                {
                                    <li class="list-group-item">
                                        <b>Department</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Department)</a>
                                    </li>
                                }
                                @if (Model.Designation != null)
                                {
                                    <li class="list-group-item">
                                        <b>Designation</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Designation)</a>
                                    </li>
                                }

                                @*<li class="list-group-item">
                                        <b>Note</b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Note)@Model.</a>
                                    </li>*@
                                @*@if (Model.FieldMap != null && Model.FieldMap.Count > 0)
                                    {
                                        for (int i = 0; i < Model.FieldMap.Count; i++)
                                        {
                                            var fmap = "";
                                            if (Model.FieldMap[i].Field == "Ref1")
                                            {
                                                fmap = Model.Ref1;
                                            }
                                            if (Model.FieldMap[i].Field == "Ref2")
                                            {
                                                fmap = Model.Ref2;
                                            }
                                            if (Model.FieldMap[i].Field == "Ref3")
                                            {
                                                fmap = Model.Ref3;
                                            }
                                            if (Model.FieldMap[i].Field == "Ref4")
                                            {
                                                fmap = Model.Ref4;
                                            }
                                            if (Model.FieldMap[i].Field == "Ref5")
                                            {
                                                fmap = Model.Ref5;
                                            }
                                            if (@Model.FieldMap[i].FieldName != null && @fmap != null)
                                            {
                                                <li class="list-group-item">
                                                    <b> @Model.FieldMap[i].FieldName : </b> @fmap
                                                </li>
                                            }
                                        }
                                    }*@


                            </ul>
                            @if (User.IsInRole("Dev") || User.IsInRole("Edit Employee"))
                            {
                                <a class="btn btn-info btn-block" href="/Employee/Edit/@Model.EmployeeId">
                                    <i class="fa fa-edit"></i> <b>Edit</b>
                                </a>
                            }

                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#personal" data-toggle="tab">Details</a></li>
                            @*<li><a href="#edu" data-toggle="tab">Educational Details</a></li>
                                <li><a href="#prof" data-toggle="tab">Professional Experience</a></li>*@
                            <li><a href="#document" data-toggle="tab">Document Details</a></li>
                            @*<li><a href="#bankacc" data-toggle="tab">Bank Account Details</a></li>*@
                            <li><a href="#work" data-toggle="tab">Work Details</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="personal">
                                <div class="post">
                                    <div class="user-block">
                                        @*<h4 class="profile-username text-center"><b> @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.MiddleName) @Html.DisplayFor(m => m.LastName)</b></h4>*@

                                        <div class="row post">
                                            <div class="table-responsive">
                                                <table class="table no-margin">
                                                    <tr>
                                                        <td>
                                                            <h5 class="box-title">Permanent Address</h5>
                                                            @Model.Address<br />
                                                            @if (Model.City != null)
                                                            {
                                                                @Model.City<br />
                                                            }
                                                            @if (Model.State != null)
                                                            {
                                                                @Model.State<br />
                                                            }
                                                            @if (Model.Country != null)
                                                            {
                                                                @Model.Country<br />
                                                            }@if (Model.Zip != null)
                                                            {
                                                                @Model.Zip
                                                            }
                                                        </td>
                                                        <td>
                                                            <h5 class="box-title">Current Address</h5>
                                                            @Model.Address<br />
                                                            @if (Model.CCity != null)
                                                            {
                                                                @Model.CCity<br />
                                                            }
                                                            @if (Model.CState != null)
                                                            {
                                                                @Model.CState<br />
                                                            }
                                                            @if (Model.CCountry != null)
                                                            {
                                                                @Model.CCountry<br />
                                                            }@if (Model.CZip != null)
                                                            {
                                                                @Model.CZip
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>


                                            @*<div class="box-header with-border col-md-6">
                                                    <h5 class="box-title">Permanent Address</h5>
                                                </div>
                                                <div class="box-header with-border col-md-6">
                                                    <h5 class="box-title">Current Address</h5>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <p style="white-space: pre-line">@Model.Address</p>
                                                    <p style="white-space: pre-line">@Model.City</p>
                                                    <p style="white-space: pre-line">@Model.State</p>
                                                    <p style="white-space: pre-line">@Model.Country</p>
                                                    <p style="white-space: pre-line">@Model.Zip</p>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <p style="white-space: pre-line">@Model.CAddress</p>
                                                    <p style="white-space: pre-line">@Model.CCity</p>
                                                    <p style="white-space: pre-line">@Model.CState</p>
                                                    <p style="white-space: pre-line">@Model.CCountry</p>
                                                    <p style="white-space: pre-line">@Model.CZip</p>
                                                </div>*@

                                        </div>
                                        <div class="row post">
                                            <div class="box-header with-border  col-md-12">
                                                <h5 class="box-title">Professional Details</h5>
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.Label("Join Date :", null, new { @class = "control-label" })
                                                @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.JoinDate))
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.Label("Job Status :", null, new { @class = "control-label" })
                                                @Html.DisplayFor(m => m.Jobstatus)
                                            </div>
                                            @if (Model.Jobstatus == "Resigned")
                                            {
                                                <div class="form-group col-md-6">
                                                    @Html.Label("Leaving Date :", null, new { @class = "control-label" })
                                                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.LeavingDate))
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.Label("Reason For Leaving :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.ReasonForLeaving)
                                                </div>
                                            }
                                        </div>

                                        @foreach (var upd in Model.edumodel)
                                        {
                                            if (upd.Course != null)
                                            {
                                                <div class="row post">
                                                    <div class="box-header with-border  col-md-12">
                                                        <h5 class="box-title">Educational Details</h5>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Course :", null, new { @class = "control-label" })
                                                        @upd.Course
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Specialization :", null, new { @class = "control-label" })
                                                        @upd.Specialization
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Institute :", null, new { @class = "control-label" })
                                                        @upd.Institute
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Board/University :", null, new { @class = "control-label" })
                                                        @upd.University
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Passing Year :", null, new { @class = "control-label" })
                                                        @upd.PassingYear
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Percentage :", null, new { @class = "control-label" })
                                                        @upd.Percentage
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @foreach (var upd in Model.promodel)
                                        {
                                            if (upd.Organization != null)
                                            {
                                                <div class="row post">
                                                    <div class="box-header with-border  col-md-12">
                                                        <h5 class="box-title">Professional Details</h5>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Organization :", null, new { @class = "control-label" })
                                                        @upd.Organization
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Designation :", null, new { @class = "control-label" })
                                                        @upd.Designation
                                                    </div>
                                                    @if (@upd.FromDate != "")
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("From Date :", null, new { @class = "control-label" })
                                                            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(@upd.FromDate)))
                                                        </div>
                                                    }
                                                    @if (@upd.ToDate != "")
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("To Date :", null, new { @class = "control-label" })
                                                            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(@upd.ToDate)))
                                                        </div>
                                                    }
                                                    @if (@upd.Responsibility != null)
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Responsibility :", null, new { @class = "control-label" })
                                                            @upd.Responsibility
                                                        </div>
                                                    }
                                                    @if (@upd.Skills != null)
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Skills :", null, new { @class = "control-label" })
                                                            @upd.Skills
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        }
                                        <div class="row post">
                                            @if (Model.BankName != null)
                                            {
                                                <div class="box-header with-border  col-md-12">
                                                    <h5 class="box-title">Bank Details</h5>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    @Html.Label("Bank Name :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.BankName)
                                                </div>
                                            }
                                            @if (Model.AccountNo != null)
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Account No:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.AccountNo)
                                                </div>
                                            }
                                            @if (Model.IbanNo != null)
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Iban No :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.IbanNo)
                                                </div>
                                            }
                                            @if (Model.BranchName != null)
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Branch Name :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.BranchName)
                                                </div>
                                            }
                                            @if (Model.Swift != null)
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Swift :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Swift)
                                                </div>
                                            }
                                        </div>
                                        @if (Model.SalModel != null)
                                        {
                                            <div class="row post">
                                                <div class="box-header with-border  col-md-12">
                                                    <h5 class="box-title">Salary Structure</h5>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    @foreach (var upd in Model.SalModel)
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Payhead :", null, new { @class = "control-label" })
                                                            @upd.Payhead
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Amount :", null, new { @class = "control-label" })
                                                            @upd.Amount
                                                        </div>
                                                        Salary = Salary + @upd.Amount;
                                                    }
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Total Salary :", null, new { @class = "control-label" })
                                                        @Salary
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            @*<div class="tab-pane" id="edu">
                                    <div class="post">
                                        <div class="user-block">
                                            @if (Model.edumodel.Count > 0)
                                            {
                                                foreach (var upd in Model.edumodel)
                                                {
                                                    <div class="row post">
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Course :", null, new { @class = "control-label" })
                                                            @upd.Course
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Specialization :", null, new { @class = "control-label" })
                                                            @upd.Specialization
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Institute :", null, new { @class = "control-label" })
                                                            @upd.Institute
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Board/University :", null, new { @class = "control-label" })
                                                            @upd.University
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Passing Year :", null, new { @class = "control-label" })
                                                            @upd.PassingYear
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("Percentage :", null, new { @class = "control-label" })
                                                            @upd.Percentage
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="tab-pane" id="prof">
                                    <div class="post">
                                        <div class="user-block">
                                            @foreach (var upd in Model.promodel)
                                            {
                                                <div class="row post">
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Organization :", null, new { @class = "control-label" })
                                                        @upd.Organization
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Designation :", null, new { @class = "control-label" })
                                                        @upd.Designation
                                                    </div>
                                                    @if (@upd.FromDate != "")
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("From Date :", null, new { @class = "control-label" })
                                                            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(@upd.FromDate)))
                                                        </div>
                                                    }
                                                    @if (@upd.ToDate != "")
                                                    {
                                                        <div class="form-group col-md-6">
                                                            @Html.Label("To Date :", null, new { @class = "control-label" })
                                                            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(@upd.ToDate)))
                                                        </div>
                                                    }
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Responsibility :", null, new { @class = "control-label" })
                                                        @upd.Responsibility
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Skills :", null, new { @class = "control-label" })
                                                        @upd.Skills
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>*@

                            <div class="tab-pane" id="document">
                                <div class="post">
                                    <div class="user-block">
                                        <div class="row post">

                                            @foreach (var upd in Model.docmodel)
                                            {
                                                if (upd.DocumentName != null)
                                                {
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Document Name :", null, new { @class = "control-label" })
                                                        @upd.DocumentName
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Document No :", null, new { @class = "control-label" })
                                                        @upd.DocumentNo
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Issue Date :", null, new { @class = "control-label" })
                                                        @Convert.ToString(string.Format("{0:dd-MM-yyyy}", @upd.IssueDate))
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Expiry Date :", null, new { @class = "control-label" })
                                                        @Convert.ToString(string.Format("{0:dd-MM-yyyy}", @upd.ExpiryDate))
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.Label("Note :", null, new { @class = "control-label" })
                                                        @upd.Note
                                                    </div>
                                                    if (@upd.Attachments != null && @upd.Attachments != "")
                                                    {
                                                        var x = @upd.Attachments.Split('.');
                                                        var extn = x[1];
                                                        var filename = x[0].Substring(0, x[0].Length) + "." + extn;
                                                        <div class="form-group col-md-6 thumblimit">
                                                            @Html.Label("Attachments:", null, new { @class = "control-label" })
                                                            <a href="~/uploads/empdocuments/@Model.EmployeeId/@upd.Attachments" ID="ImgBtn1" data-lightbox='@upd.Attachments' data-title='@filename' width="100" height="100">
                                                                <img width="100" height="100" style="width:100px;" alt="@upd.Attachments" title="Click to Open" src="~/uploads/empdocuments/@Model.EmployeeId/@upd.Attachments" ID="ImgBtn1" class="img-responsive img-fluid thumblimit" />
                                                            </a>
                                                            <a href="~/uploads/empdocuments/@Model.EmployeeId/@upd.Attachments" ID="ImgBtn1" download class="btn btn-primary btn-xs" style="width:100px;"> download</a>
                                                        </div>
                                                    }
                                                    doc++;
                                                }
                                            }
                                            @if (doc == 1)
                                            {
                                                <p>No documents to display..</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="tab-pane" id="bankacc">
                                    <div class="post">
                                        <div class="user-block">
                                            <div class="row post">
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Bank Name :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.BankName)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Account No:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.AccountNo)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Iban No :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.IbanNo)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Branch Name :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.BranchName)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Swift :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Swift)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="tab-pane" id="work">
                                <div class="post">
                                    <div class="user-block">
                                        <div class="row post">
                                            @if (Model.SalaryMode != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Salary Mode :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.SalaryMode)
                                                </div>
                                            }
                                            @if (Model.WorkShift != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Work Shift:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.WorkShift)
                                                </div>
                                            }
                                            @if (Model.BonusApplicable != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Bonus Applicable:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.BonusApplicable)
                                                </div>
                                            }
                                            @if (Model.OTApplicable != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("OverTime Applicable:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.OTApplicable)
                                                </div>
                                            }
                                            @if (Model.SpecifyLoanAccount != "0")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Loan Account:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.SpecifyLoanAccount)
                                                </div>
                                            }
                                            @if (Model.LoanAccount != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Loan Account:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.LoanAccount)
                                                </div>
                                            }
                                            @if (Model.SpecifyAdvanceAccount != null)
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Advance Account:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.SpecifyAdvanceAccount)
                                                </div>
                                            }
                                            @if (Model.AdvanceAccount != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Advance Account:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.AdvanceAccount)
                                                </div>
                                            }
                                            @if (Model.EmployeeGrade != "")
                                            {
                                                <div class="form-group col-md-4">
                                                    @Html.Label("Employee Grade:", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.EmployeeGrade)
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </section>
    </div>
    <!-- /.row -->

</div>


@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/lightbox")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/lightbox")
    <script type="text/javascript">

    </script>
}