@model QuickSoft.ViewModel.PEPaymentViewModel
@{
    ViewBag.Title = "Payment";
    ViewBag.SubTitle = "Payment";
    ViewBag.Active = "PaymentCreate";
}
<div class="box box-info">
    @using (Html.BeginForm("Payment", "PurchaseEntry", FormMethod.Post, new { id = "createform" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">PurchaseEntry-Payment</h3>
            <div class="pull-right">
                <a class="btn btn-success no-border" href="/PurchaseEntry">
                    <i class="fa fa-fw fa-history"></i> PurchaseEntry List
                </a>
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.Label("PE No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PENo)
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("PE Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.PEDate))
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Customer :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.SupplierName)
                </div>
                <h4>Payment Details</h4>
                <hr />
                <div class="form-group col-sm-6">
                    @Html.Label("Payment Date", null, new { @class = "control-label" })
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.PEEntryDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    @Html.Label("Total Bill Amount", null, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PEBillAmount, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.Label("Amount Paid", null, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PEPaidAmount, new { @class = "form-control input-sm", @readonly = "readonly" })

                </div>
                <div class="form-group col-sm-6">
                    @Html.Label("Balance Amount", null, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PEBalanceAmount, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.Label("Enter Amount", null, new { @class = "control-label" })
                    @*@Html.TextBoxFor(m => m.PEPayAmount, new { @class = "form-control input-sm", @max = Model.PEBalanceAmount, @min = 0.01 })*@
                    @Html.EditorFor(m => m.PEPayAmount, new { htmlAttributes = new { @class = "form-control input-sm", @min = "0.01", @max = Model.PEBalanceAmount } })
                    @*@Html.TextBoxFor(m => m.PEPayAmount, new {@type="number", @class = "form-control input-sm", @min = 0.01, @max = Model.PEBalanceAmount })*@
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" tabindex=2 />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                    </div>
                </div>
            </div>

    }
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/sale-invoice")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}
