@model QuickSoft.ViewModel.RentalViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Rental Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Voucher No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.VoucherNo)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Tenant :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.TenantName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.Date))
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Property :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PropertyName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Unit :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.UnitName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Amount :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Amount)
                </div>
                @if (Model.AdditionalFieldVieModels != null)
                {
                    foreach (var arr in Model.AdditionalFieldVieModels)
                    {
                        if (arr.Entrydata != "0")
                        {
                            <div class="col-sm-2 form-group">
                                @Html.Label(arr.Name + " :", new { @class = "control-label" })
                                @arr.Entrydata
                            </div>
                        }
                    }

                }
            </div>
        
            <div>
                <div class="row">
                    <div class="col-md-6">
                        @if (Model.Remark != null)
                        {
                            <div class="form-group">
                                <strong>Remarks </strong><br />
                                @Html.Raw(Model.Remark)
                            </div>
                        }
                        @if (Model.Note != null)
                        {
                            <div class="form-group">
                                <strong>Note </strong><br />
                                @Html.Raw(Model.Note)
                            </div>
                        }
                        @if (Model.TermsCondition != null)
                        {
                            <div class="form-group">
                                <strong>Terms And Conditions </strong><br />
                                @Html.Raw(Model.TermsCondition)
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var custtype = $('#CustomerType').val();
            //if (custtype == 0) {
            //    $('#paidamt').show();
            //    $('#dueamt').show();
            //}
            //if (custtype == 1) {
            //    $('#paidamt').hide();
            //    $('#dueamt').hide();
            //}
        });
    </script>
}
