@model QuickSoft.Models.RemarkCheque
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Remark</h4>
    <p>@ViewBag.ErrorMessage</p>
</div>
<div class="modal-body">
    @using (Html.BeginForm("addpdcremark", "PDCRegularise", FormMethod.Post, new { id = "createForm", role = "form" }))
    {
        <script type="text/javascript">
            $('form#createForm').removeData("validator");
            $('form#createForm').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createForm'));
        </script>
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        
<div class="row">
    <div class="col-md-12">
        <div class="form-group col-md-12">

            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })*
            @Html.DropDownListFor(m => m.status, (SelectList)ViewBag.statusname,"", new { @class = "form-control input-sm select2", @placeholder = "Enter Location", @required = "required",@id="statustwo" })
            <span class="input-group-btn">
                <a href="/LeadLevel/Indexchequestatus" class="" target="_new" title="Add SalesPerson" style="font-size:6px;"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

            </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-12">
            @Html.HiddenFor(model => model.pdcid)
            @Html.HiddenFor(model => model.createdby)
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })*
            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 10 })
        </div>
    </div>
</div>

        <div class="row">
            
           
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Save" class="btn btn-info col-sm-offset-4" tabindex="30" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" tabindex="40" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $("#Remark").focus();


    $("#statustwo").select2({
        placeholder: 'Search Status',
        minimumInputLength: 0,
        ajax: {
            url: "/PDCRegularise/SearchStatus",
            dataType: 'json',
            delay: 50,
            data: function (params) {
                return {
                    q: params.term || "",
                    x: "All",
                    page: params.page || 0
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 0;

                return {
                    results: data,
                    pagination: {
                        //more: (params.page * 10) < 50
                        more: true
                    }
                };
            },
            cache: true
        },
    });
</script>

@section scripts{


}

