@model QuickSoft.Models.Accounts

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Expense Account</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ExpenseTypeEdit", "Master", FormMethod.Post, new { id = "editform" }))
            {
        <script type="text/javascript">
            $('form#editform').removeData("validator");
            $('form#editform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#editform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.AccountsID)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group  col-md-12">
                    @Html.Label("Name", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus", @required = "required" } })
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Note", null, new { @class = "control-label" }) *
                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control input-sm", autofocus = "autofocus" })
                </div>
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="form-group col-sm-6">
                        @Html.Label("Branch", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                    </div>
                }
                <div class="form-group col-md-6">
                    @Html.Label("Status", null, new { @class = "control-label" }) *
                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Update" class="btn btn-info col-sm-offset-4"/>
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}


