@model QuickSoft.ViewModel.MaintenanceViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Maintenance Contract Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ID)
                </div>
                <div class="col-sm-4 form-group ">
                    @Html.Label("Contractor :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ContractorName)
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.CreatedDate))
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Property :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PropertyName)
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Start Date :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.StartDate)
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("End Date :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.EndDate)
                </div>
                <div class="col-sm-5 form-group">
                    @Html.Label("Contract Amount :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ContractAmount)
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Payment Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Payment)
                </div>
                @if (Model.AdditionalFieldVieModels != null)
                {
                    foreach (var arr in Model.AdditionalFieldVieModels)
                    {
                        if (arr.Entrydata != "0")
                        {
                            <div class="col-sm-2 form-group">
                                @Html.Label(arr.Name + " :", new { @class = "control-label" })
                                @arr.Entrydata
                            </div>
                        }
                    }

                }
            </div>
            <div>
                <div class="col-sm-12 form-group">
                    @if (Model.cheqmodel != null && Model.Payment == "Cheque")
                    {
                        @*<h4 id="doc" class="box-title">Document Details</h4>*@
                        <div class="box-header with-border">
                            <h3 class="box-title">Cheque Details</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr class="bg-gray">
                                    <th>Cheque No </th>
                                    <th>Expiry Date </th>
                                    <th>Amount </th>
                                </tr>
                                @foreach (var itemss in Model.cheqmodel)
                                {
                                    <tr>
                                        <td>@itemss.ChequeNo</td>
                                        <td>@Convert.ToString(string.Format("{0:dd-MM-yyyy}", @itemss.ViewDate))</td>
                                        <td>@itemss.Amount</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                </div>

                <div class="clearfix"></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        @if (Model.Remark != null)
                        {
                            <div class="form-group">
                                <strong>Remarks </strong><br />
                                @Html.Raw(Model.Remark)
                            </div>
                        }
                        @if (Model.Note != null)
                        {
                            <div class="form-group">
                                <strong>Note </strong><br />
                                @Html.Raw(Model.Note)
                            </div>
                        }
                        @if (Model.TermsCondition != null)
                        {
                            <div class="form-group">
                                <strong>Terms And Conditions </strong><br />
                                @Html.Raw(Model.TermsCondition)
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var custtype = $('#CustomerType').val();
            //if (custtype == 0) {
            //    $('#paidamt').show();
            //    $('#dueamt').show();
            //}
            //if (custtype == 1) {
            //    $('#paidamt').hide();
            //    $('#dueamt').hide();
            //}
        });
    </script>
}
