@model QuickSoft.ViewModel.MaintenanceViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Maintenance Contract";
    ViewBag.Active = "Master";
    var TimeOut = @ViewBag.TMOut;
}
@using (Html.BeginForm("Edit", "Maintenance", FormMethod.Post, new { id = "updateForm", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Maintenance</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/Maintenance/Edit/@ViewBag.preEntry">
                        <i class="fa fa-step-backward"></i>
                    </a>
                    //}
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/Maintenance/Edit/@ViewBag.nxtEntry">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    //}
                }
                else
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Create PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/Maintenance/Create">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    //}
                }

                <a class="btn btn-success no-border" href="/Property/Maintenance">
                    <i class="fa fa-fw fa-history"></i> List
                </a>
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(m => m.ID)
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Voucher No", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date", null, new { @class = "control-label" }) *
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.Date, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Property, new { @class = "control-label" }) *
                    @*@if (User.IsInRole("Dev") || User.IsInRole("Create Property"))
                        {*@
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Property/PropertyMain/AddProperty" class="modal-property btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                    @*}
                        else
                        {
                            @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                        }*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Contractor, new { @class = "control-label" }) *
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.Contractor, (SelectList)ViewBag.Contracto, "", new { id = "ddlContractor", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Property/Contractor/AddContractor" class="modal-Contractor btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                </div>
                  <div class="col-sm-2 form-group">
                    @Html.Label("Contract Type", null, new { @class = "control-label" }) *
                    @*@if (User.IsInRole("Dev") || User.IsInRole("Create Broker"))
                        {*@
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.ContractType, (SelectList)ViewBag.ContraType, "", new { onclick="ContType()", id = "ddlContractType", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Property/ContractType/Create" class="modal-Contract btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                    @*}
                        else
                        {
                            @Html.DropDownListFor(m => m.Broker, (SelectList)ViewBag.Broker, "", new { id = "ddlBroker", @class = "form-control select2", @required = "required" })
                        }*@
                </div>
                <div class="form-group  col-md-3">
                    @Html.Label("Start Date", null, new { @class = "control-label" }) *
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required", data_msg_required = "The Start Date field is required" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group  col-md-3">
                    @Html.Label("End Date", null, new { @class = "control-label" }) *
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required", data_msg_required = "The End Date field is required" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div style="">
                    <div class="col-sm-2 form-group">
                        @Html.Label("Contract Amount", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ContractAmount, new { @class = "form-control input-sm", tabindex = 7 })
                    </div>
                    <div class="col-sm-2 form-group">
                        @Html.Label("Payment Type", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PaymentType, (SelectList)ViewBag.PaymentTypes, "", new { id = "ddlPaymentType", @class = "form-control select2", tabindex = 5 })
                    </div>
                </div>
                <div class="col-md-12 box-body">
                    <div id="CheqDetails"></div>
                </div>
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="row">
                        <div class="form-group col-sm-2">
                            @Html.Label("Branch", null, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                        </div>
                    </div>
                }
              @for (int i = 0; i < Model.AdditionalField.Count; i++)
                {
                    string myrate = Model.AdditionalFieldVieModels.Where(a => a.Field == Model.AdditionalField[i].ID).Select(a => a.Entrydata).FirstOrDefault();
                    var ratev = (myrate != null) ? myrate : "";
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="SellingPrice"> @Model.AdditionalField[i].Name</label>
                        <input type="hidden" id="ID@i" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                        <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" type="text" value="@ratev">
                    </div>
                }
            </div>
            <div class="col-md-12 pull-right">
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm textarea", rows = 8 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remarks", @rows = 2 })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.TermsCondition, new { @class = "form-control", @placeholder = "Terms And Condition", @rows = 2 })
                </div>
                <div class="form-group pull-right">
                    <button type="submit" id="save" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Update
                    </button>
                    <button type="submit" id="print" class="btn btn-success">
                        <span class="glyphicon glyphicon-print"></span> Update And Print
                    </button>
                    <button type="button" class="btn btn-warning" onclick="@("window.location.href='/Property/Maintenance/Index'");">Cancel</button>
                    <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                    <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
                </div>
            </div>
        </div>
    </div>

}
<div id="modal-develop" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-property" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-Contractor" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-Contract" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-owner" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
@{
    var Modelv = "modal-lg";
}
@Html.Partial("_Voucher")
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit", @Modelv)
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/property")
    @Scripts.Render("~/js/cheque")
    @Scripts.Render("~/js/docexp")

    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: '01-01-2011',
            endDate: '+30d'
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            GetBranch();
            GetDeveloper(0);
            GetOwner(0);
            GetProperty(0);
            GetBroker(0);
            GetContractor(0);
            $('#ddlContractType').select2();
            ContType();
            //var EntryID = getQueryString('');
            //if (EntryID != null) {
            //    $.ajax({
            //        url: '/Property/Maintenance/GetCheque',
            //        dataType: 'json',
            //        data: { CnId: EntryID },
            //        cache: true,
            //        success: function (data) {
            //            //$('#addchecklist').html('');
            //            leng = data.length;
            //            if (leng > 0) {
            //                $.each(data, function (i, item) {
            //                    AddCheq(item.Amt, item.No, item.Date, item.AttAch, item.Id, item.Bank, item.BankName);
            //                });
            //            } else {
            //            }
            //        }
            //    });
            //}

            Adddoctypeexp();
            Deppaychange();
        });

        function Deppaychange() {
            var com = $('#ddlPaymentType').val();
            var EntryID = $('#ID').val();
            if (com == "1") {
                $('#CheqDetails').hide();
                $(".docSet").remove();
            } else {

                $.ajax({
                    url: '/Property/Maintenance/GetCheque',
                    dataType: 'json',
                    data: { CnId: EntryID },
                    cache: true,
                    success: function (data) {
                        //$('#addchecklist').html('');
                        leng = data.length;
                        if (leng > 0) {
                            $.each(data, function (i, item) {
                                AddCheq(item.ID,item.Amt, item.No, item.Date, item.AttAch, item.Id, item.Bank, item.BankName);
                            });
                        } else {
                        }
                    }
                });

                $('#CheqDetails').show();
                searchBankName();
            }
        }
        function ContType() {
            $("#ddlContractType").select2({
                placeholder: 'Search Contract Type by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/ContractType/SearchTypebasedContract",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "All",
                            Contractor: $('#ddlContractor').val()

                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
        //submit function
        $('#updateForm').on('submit', function (e) {
            if ($("#updateForm").valid()) {
                e.preventDefault();
                var url = $('#updateForm')[0].action;
                var formData = new FormData(this);
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                formData.append('fnval', fnval);
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                             if (fnval == "save") {
                                location.reload();
                            }
                            if (fnval == "print") {
                                Mainprint(e); location.reload();
                            }
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });


        /* function for Create popup */
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        $('span').on('click', '.modal-develop', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-develop');
        });
        $('#modal-develop').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-develop');
        });

        $('span').on('click', '.modal-property', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-property');
        });
        $('#modal-property').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-property');
        });
        $('span').on('click', '.modal-broker', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-broker');
        });
        $('#modal-broker').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-broker');
        });
        $('span').on('click', '.modal-owner', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-owner');
        });
        $('#modal-owner').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-owner');
        });
        $('span').on('click', '.modal-Contract', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-Contract');
        });
        $('#modal-Contract').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-Contract');
        });
        $('span').on('click', '.modal-Contractor', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-Contractor');
        });
        $('#modal-Contractor').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-Contractor');
        });
        PropertyPopup();
        $('body').on('change', '#ddlPaymentType', function (e) {
            var com = $(this).val();
            if (com == "1") {
                $('#CheqDetails').hide();
                $(".depSet").remove();
            } else {
                AddCheq();
                $('#CheqDetails').show();
                searchBankName();
            }

        });
        function Mainprint(e) {
            var dat = convertToDate(e.Data.Date);
            $("#lblBillNo").text(e.Data.VoucherNo);
            $("#lblDate").text(dat);

            $("#lblproperty").text(e.Data.Property);
            $("#lblContractor").text(e.Data.Contractor);
            $("#lblStart").text(e.Data.StartDate);
            $("#lblEnd").text(e.Data.EndDate);
            $("#lblAmount").text(e.Data.Amount);
            $("#lblPayment").text(e.Data.PaymentType);

            var adcount = 1;
            $.each(e.additionalfield, function (i, item) {
                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.Field + '</td>';
                str += '<td>' + ' ' + dat + '</td>';
                str += '</tr>';
                if (dat != "" && dat != 0) {
                    $('#addfield').append(str);
                    adcount++;
                }
            });
            var cqcount = 1;
            $.each(e.cheque, function (i, item) {
                var expdat = convertToDate(item.Date);
                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.chequeno + '</td>';
                str += '<td>' + item.Amount + '</td>';
                str += '<td>' + expdat + '</td>';
                str += '</tr>';
                if (expdat != "") {
                    cqcount++;
                    $('#cheqfield').append(str);
                }

            });
            if (cqcount == 1) {
                $("#cheqfield").hide();
            }
            else {
                $("#cheqfield").show();
            }
            if (adcount == 1) {
                $("#addfield").hide();
            }
            else {
                $("#addfield").show();
            }

            if (e.ComHeadCheck == 0) {
                $("#ComHeadCheck").hide();
            }
            else {
                $("#ComHeadCheck").show();
            }


            if ($('#hideheader').prop('checked') == true) {
                $('#ComHeadCheck').hide();
                $('#ComfootCheck').hide();
                //$(".invoice.print").css("margin-top", "100px");
                $("#comHeader").css("margin-top", "100px");
            }
            else {
                $('#ComHeadCheck').show();
                $('#ComfootCheck').show();
            }

            var originalpage = document.body.innerHTML;
            var printContent = $('#printit').html();
            $('title').html("Maintenance Voucher - " + e.Data.VoucherNo);
            $('body').html(printContent);
            window.print();
        }
    </script>
}
