@model QuickSoft.ViewModel.SVViewModel
@{
    Layout = null;
    var count = 1;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Stock Verification </h4>
</div>
<div class="modal-body">
    <div class="box box-info">     
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Voucher)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}",Convert.ToDateTime(Model.Date)))
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr class="bg-gray">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="2">Computer Stock</th>
                                    <th colspan="2">Physical Stock</th>
                                    <th colspan="2">Stock Difference</th>
                                </tr>
                                <tr class="bg-gray">
                                    <th>S.N.</th>
                                    <th>Code</th>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Pcs</th>
                                    <th>Quantity</th>
                                    <th>Pcs</th>
                                    <th>Quantity</th>
                                    <th>Pcs</th>
                                    <th>Quantity</th>
                                </tr>
                                @foreach (var salesum in Model.svItemzz)
                                {
                                    
                                    <tr>
                                        <td>@count</td>
                                        <td>@salesum.ItemCode</td>
                                        <td>@salesum.ItemName</td>
                                        <td>@salesum.ItemUnit</td>
                                        <td>@salesum.CSPcs</td>
                                        <td>@salesum.CSqty</td>
                                        <td>@salesum.PSPcs</td>
                                        <td>@salesum.PSqty</td>
                                        <td>@salesum.SDPcs</td>
                                        <td>@salesum.SDqty</td>
                                    </tr>
                                    count++;
                                }
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
