
@using QuickSoft.Models
@model List<QuickSoft.ViewModel.EmployeeDetailViewModel>
@{
    ViewBag.Title = "Employee Details";
    ViewBag.SubTitle = "Employee Details";
    ViewBag.Active = "Employee";
    var doc = 1;
    decimal? Salary = 0;
}
<script>

</script>
<div class="box">
    <div class="box-header">

    </div>
    <div class="box-body">
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                   
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Request For Approval</h2>
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <img class="profile-user-img img-responsive img-circle" src="~/uploads/profile/@Model[0].ImgFileName" alt="User profile picture">
                                    <h4 class="profile-username text-center"><b> @Html.DisplayFor(m => m[0].FirstName) @Html.DisplayFor(m => m[0].MiddleName) @Html.DisplayFor(m => m[0].LastName)</b></h4>
                                    <h4 class="text-center">Emp Code : <span class="label label-info">@Html.DisplayFor(m => m[0].EMPCode)</span></h4>
                                    <p class="text-muted text-center">@Html.DisplayFor(m => m[0].Gender)</p>
                                    <h4 class="text-center">Phone : <span class="label label-info">@Html.DisplayFor(m => m[0].PhoneNumber)</span></h4>


                                    <ul class="list-group list-group-unbordered">

                                        @if (Model[0].PEmail != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Email</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].PEmail)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Email</b>

                                            </li>
                                        }
                                        @if (Model[0].PPhoneNumber != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Phone</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].PhoneNumber)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Email</b>

                                            </li>
                                        }
                                        @if (Model[0].Address != null)
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Permanant Address</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].Address)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Permanant Address</b>

                                            </li>
                                        }
                                        @if (Model[0].CAddress != null)
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Current Address</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].CAddress)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Current Address</b>

                                            </li>
                                        }
                                        @if (Model[0].DOB != null)
                                        {
                                            <li class="list-group-item">
                                                <b>DOB</b>
                                                <a class="pull-right">@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model[0].DOB))</a>
                                            </li>
                                        }
                                        else
                                        {

                                            <li class="list-group-item">
                                                <b>DOB</b>
                                            </li>
                                        }
                                        @if (Model[0].MaritalStatus != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Marital Status</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].MaritalStatus)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Marital Status</b>
                                            </li>
                                        }
                                        @if (Model[0].BloodGroup != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Blood Group</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].BloodGroup)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Blood Group</b>

                                            </li>
                                        }
                                        @if (Model[0].PassportNo != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Passport No</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].PassportNo)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Passport No</b>
                                            </li>
                                        }

                                        @if (Model[0].JoinDate != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Joing Date</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[0].JoinDate)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Joing Date</b>

                                            </li>
                                        }





                                    </ul>



                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Existing</h2>
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <img class="profile-user-img img-responsive img-circle" src="~/uploads/profile/@Model[1].ImgFileName" alt="User profile picture">
                                    <h4 class="profile-username text-center"><b> @Html.DisplayFor(m => m[1].FirstName) @Html.DisplayFor(m => m[1].MiddleName) @Html.DisplayFor(m => m[1].LastName)</b></h4>
                                    <h4 class="text-center">Emp Code : <span class="label label-info">@Html.DisplayFor(m => m[1].EMPCode)</span></h4>
                                    <p class="text-muted text-center">@Html.DisplayFor(m => m[1].Gender)</p>
                                    <h4 class="text-center">Phone : <span class="label label-info">@Html.DisplayFor(m => m[1].PhoneNumber)</span></h4>

                                    <ul class="list-group list-group-unbordered">
                                    
                                        @if (Model[1].PEmail != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Email</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].PEmail)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Email</b>

                                            </li>
                                        }
                                        @if (Model[1].PPhoneNumber != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Personal Phone</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].PhoneNumber)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Email</b>

                                            </li>
                                        }
                                        @if (Model[1].Address != null)
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Permanant Address</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].Address)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Permanant Address</b>

                                            </li>
                                        }
                                        @if (Model[1].CAddress != null)
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Current Address</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].CAddress)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item" style="height:100px">
                                                <b>Current Address</b>

                                            </li>
                                        }
                                        @if (Model[1].DOB != null)
                                        {
                                            <li class="list-group-item">
                                                <b>DOB</b>
                                                <a class="pull-right">@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model[1].DOB))</a>
                                            </li>
                                        }
                                        else
                                        {

                                            <li class="list-group-item">
                                                <b>DOB</b>
                                            </li>
                                        }
                                        @if (Model[1].MaritalStatus != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Marital Status</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].MaritalStatus)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Marital Status</b>
                                                    </li>
                                        }
                                        @if (Model[1].BloodGroup != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Blood Group</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].BloodGroup)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Blood Group</b>

                                            </li>
                                        }
                                        @if (Model[1].PassportNo != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Passport No</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].PassportNo)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Passport No</b>
                                            </li>
                                        }

                                        @if (Model[1].JoinDate != null)
                                        {
                                            <li class="list-group-item">
                                                <b>Joing Date</b>
                                                <a class="pull-right">@Html.DisplayFor(m => m[1].JoinDate)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                <b>Joing Date</b>

                                            </li>
                                        }





                                    </ul>



                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
            </div>

            <!-- /.col -->
        </section>
    </div>
    <!-- /.row -->
    <div class="modal-body">
        @using (Html.BeginForm("approvecompain", "Employee", FormMethod.Post, new { id = "createform" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <center>
                            <input type="radio" name="approve" value="1" /><b>Approve</b> <br />
                            <input type="radio" name="approve" value="2" /><b>Reject</b><br />
                            <input type="hidden" value="@Model[0].EmployeeId" name="empid" />
                        <b>Reason If Rejected</b>
                            <textarea style="width:50%" name="reason">

</textarea>
                        </center>
                    </div>
                </div>




            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/lightbox")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/lightbox")
    <script type="text/javascript">

    </script>
}