@model QuickSoft.ViewModel.UserDetailViewModel
@{
    ViewBag.Title = "Profile";
    ViewBag.SubTitle = "Profile";
    ViewBag.Active = "UserSettings";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">My Profile</h3>
    </div>
    <div class="box-body">
        <div class="col-sm-12">
            @*<img class="profile-user-img img-responsive" src="/favicon.ico" alt="User profile picture">*@
            <img class="profile-user-img img-responsive"  width="200" height="200" alt="@Html.DisplayFor(model=> model.ImgFileName)"
                 title="Click to Open" src="~/uploads/profile/@Html.DisplayFor(model => model.ImgFileName)" id="ImageButton11" />
            <h3 class="profile-username text-center text-bold">@Html.DisplayFor(m => m.Name)</h3>
            <p class="text-muted text-center">@Html.DisplayFor(m => m.Designation)</p>
        </div>
        <div class="col-sm-6">
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Email</b> <span class="pull-right">@Html.DisplayFor(m => m.Email)</span>
                </li>
                <li class="list-group-item">
                    <b>Department</b> <a class="pull-right">@Html.DisplayFor(m => m.Department)</a>
                </li>
                @*<li class="list-group-item">
                    <b>Role</b> <a class="pull-right">@Html.DisplayFor(m => m.UserRoles)</a>
                </li>*@
                <li class="list-group-item">
                    <b>Branch</b> <a class="pull-right">@Html.DisplayFor(m => m.Branch)</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Phone</b> <a class="pull-right">@Html.DisplayFor(m => m.PhoneNumber)</a>
                </li>
                <li class="list-group-item">
                    <b>Address</b> <a class="pull-right">@Html.DisplayFor(m => m.Address)</a>
                </li>
                <li class="list-group-item">
                    <b>Country</b> <a class="pull-right">@Html.DisplayFor(m => m.Country)</a>
                </li>
                <li class="list-group-item">
                    <b>State</b> <a class="pull-right">@Html.DisplayFor(m => m.State)</a>
                </li>
                <li class="list-group-item">
                    <b>City</b> <a class="pull-right">@Html.DisplayFor(m => m.City)</a>
                </li>
                <li class="list-group-item">
                    <b>PostalCode</b> <a class="pull-right">@Html.DisplayFor(m => m.PostalCode)</a>
                </li>
            </ul>
        </div>
    </div>
</div>




