@model QuickSoft.ViewModel.PaymentViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Payment";
    ViewBag.Active = "Transactions";
}
@using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { id = "payform", role = "form", enctype = "multipart/form-data" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Payment</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Payment"))
                    {
                        <a class="btn bg-black no-border" href="/Payment/Edit/@ViewBag.LastEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Payment List"))
                {
                    <a class="btn btn-success no-border" href="/Payment">
                        <i class="fa fa-fw fa-history"></i>List
                    </a>
                }
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    <div class="box-body">
        <input type="hidden" id="VoucherType" value="Payment" />
        <div class="row">
            <div class="col-sm-2 form-group ">
                @Html.LabelFor(model => model.VoucherNo, new { @class = "control-label" }) *
                @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>



            <div class="col-sm-2 form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })*
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.Date, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required", tabindex = 2 })
                </div>
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(model => model.MOPayment, new { @class = "control-label" }) *
                @Html.EnumDropDownListFor(model => model.MOPayment, new { @id = "MoPay", @class = "form-control", @onchange = "modechange()", tabindex = 3 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("PDCDate", null, htmlAttributes: new { @class = "control-label", @id = "PDC", })
                @Html.Label("CDCDate", null, htmlAttributes: new { @class = "control-label", @id = "CDC", })*

                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.PDCDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                </div>
            </div>
            @if (@ViewBag.BranchCheck == 0)
            {
                <div class="form-group col-sm-2">
                    @Html.Label("Branch", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                </div>
            }
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.PayFrom, new { @class = "control-label" }) *
                @if (User.IsInRole("Dev") || User.IsInRole("Create Bank Accounts"))
                {
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", tabindex = 5 })
                        <span class="input-group-btn">
                            <button type="button" href="/Master/BankAccountscreate" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                }
                else
                {
                    @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { id = "ddlpayfrom", @class = "form-control select2", tabindex = 5 })
                }
                <div id="accbalancefrm" class="form-group" style="display:none">
                    <div class="input-group input-group-sm">
                        <label class="text-danger" id="accdetailsfrm"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.PayTo, new { @class = "control-label" }) *
                @if (User.IsInRole("Dev") || User.IsInRole("Create Expense Account"))
                {
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.PayTo, (SelectList)ViewBag.PaidTo, new { id = "ddlpayto", @class = "form-control select2", tabindex = 7 })
                        <span class="input-group-btn">
                            <button type="button" href="/Master/ExpenseTypecreate" class="modal-edit btn btn-success btn-flat" tabindex="8"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                }
                else
                {
                    @Html.DropDownListFor(m => m.PayTo, (SelectList)ViewBag.PaidTo, new { id = "ddlpayto", @class = "form-control select2", tabindex = 7 })
                }
                <div id="accbalance" class="form-group" style="display:none">
                    <label>Account Summary</label>
                    <div class="input-group input-group-sm">
                        <label class="text-danger" id="accdetails"></label>
                    </div>
                </div>
            </div>

           

        </div>
        
        <div class="row">
            <div class="col-sm-2 form-group" id="checknoo">
                @Html.LabelFor(model => model.CheckNo, new { @class = "control-label" })
                @Html.EditorFor(model => model.CheckNo, new { htmlAttributes = new { @class = "form-control",  data_msg_required = "Check Number is Required", tabindex = 9 } })
            </div>
            <div class="form-group col-sm-2" id="bank">
                @Html.LabelFor(model => model.Bank, new { @class = "control-label" })
                @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", tabindex = 10 } })
            </div>
            <div id="divproject" hidden>
                @if (@ViewBag.ProjChk == 0)
                {
                    <div class="form-group col-sm-2">
                        @Html.LabelFor(m => m.Project, new { @class = "control-label" })
                        @if (User.IsInRole("Dev") || User.IsInRole("Create Project"))
                        {
                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(m => m.Project, (SelectList)ViewBag.getProj, "", new { id = "ddlProject", @class = "form-control select2" })
                                <span class="input-group-btn">
                                    <a href="/Project/AddProject" class="modal-project btn btn-success btn-flat" title="Add Project"><i class="fa fa-1x fa-plus-circle"></i></a>
                                </span>
                            </div>
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Project, (SelectList)ViewBag.getProj, "", new { id = "ddlProject", @class = "form-control select2" })
                        }
                    </div>
                    <div class="form-group col-sm-2">
                        @Html.LabelFor(m => m.ProTask, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.ProTask, (SelectList)ViewBag.getProTask, "", new { id = "ddlProTask", @class = "form-control select2" })
                    </div>
                }
            </div>

            @if (User.IsInRole("Enable Invoice Expense Entry In Voucher"))
            {
         <div class="col-sm-2 form-group ">
            @Html.LabelFor(m => m.InvoiceNo, new { @class = "control-label" })


            @Html.DropDownListFor(m => m.InvoiceNo, (SelectList)ViewBag.InvoiceNo, new { id = "ddlInvoiceNo", @class = "form-control select2", tabindex = 7 })

         </div>
             }


                



                <div class="form-group col-sm-12 no-padding" style="display:none;">
                    @Html.Label("Attachment", null, new { @class = "control-label" })
                    <input type="file" class="form-control Attache" id="RecieptDoc" name="RecieptDoc" placeholder="Enter Attachments" />

                    <a href="/uploads/RecieptDoc/@ViewBag.fname" target="_new">Open Attachment</a>


                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                            <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                        </div>
                    }
                }
            </div>
            <div>
                <div class="table-responsive hight-250" id="invoice"><hr /></div>
                <div class="row">
                    <div class="col-md-6">
                        @*----------------------For File Attachment----------------------------*@
                <div class="form-group">
                    @Html.Label("Documents", null, new { @class = "control-label" })
                    <div class="file-loading">
                        <input id="input-24" name="input24[]" type="file" multiple>
                    </div>
                </div>
                @*---------------------------------------------------------------------*@
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remarks", rows = "5", tabindex = 10 })
                </div>

            </div>
                <div class="col-md-6">
                    <div class="form-group col-md-6 col-md-offset-6 no-padding" id="LblDiscount">
                        @Html.LabelFor(model => model.Discount, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @id = "Discount", @class = "form-control text-right", @value = "0.00", tabindex = 10 } })
                    </div>

                    <div class="form-group col-md-6 col-md-offset-6 no-padding exp">
                        @Html.LabelFor(model => model.SubTotal, new { @class = "control-label" })
                        @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @id = "SubTotal", @class = "form-control text-right", @value = "0.00", tabindex = 11 } })
                    </div>
                    <div class="form-group col-md-6 no-paddingleft exp">
                        @Html.Label("Tax", null, new { @class = "control-label" })
                        @if (User.IsInRole("Dev") || User.IsInRole("Create Tax"))
                        {
                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), new { @class = "form-control", @id = "taxpercentage", tabindex = 12 })
                                <span class="input-group-btn">
                                    <a href="/Tax/Create" class="btn btn-default btntaxAdd" title="Add Tax" tabindex="13"><i class="glyphicon glyphicon-plus"></i></a>
                                </span>
                            </div>
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.Tax, new SelectList(Model.Taxs, "TaxID", "TaxName"), new { @class = "form-control", @id = "taxpercentage", tabindex = 12 })
                        }
                    </div>
                    <div class="form-group col-md-6 no-padding exp">
                        <input type="hidden" value="0.00" id="taxp" name="TaxPer" />
                        @Html.LabelFor(model => model.TaxAmount, new { @class = "control-label" })
                        @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "taxamount", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 14 } })
                    </div>
                    <div class="form-group col-md-6  col-md-offset-6 no-padding">
                        @Html.LabelFor(model => model.GrandTotal, new { @class = "control-label" })
                        @Html.EditorFor(model => model.GrandTotal, new { htmlAttributes = new { @id = "GrandTotal", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", @min = "0.01", tabindex = 15 } })
                    </div><br />

                    <div class="form-group col-md-6 col-md-offset-6 no-padding">
                        @Html.LabelFor(model => model.Paying, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Paying, new { htmlAttributes = new { @id = "Paying", @class = "form-control text-right", @value = "0.00", @min = "0.01", tabindex = 16 } })
                    </div>

                    <div class="form-group col-md-6 no-padding hidden">
                        @Html.LabelFor(model => model.Balance, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @id = "Balance", @class = "form-control text-right", @value = "0.00", @readonly = "readonly", tabindex = 17 } })
                    </div>
                    

                    @*<div class="col-sm-2 form-group ">
            @Html.Label("Invoice No", null, new { @class = "control-label" })

            @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control", tabindex = 1 } })

        </div>*@
                </div>
            </div>
            <div class="col-md-12">
                <hr />
                <div class="form-group pull-right">
                    <div class="form-group no-padding text-right">
                        <div class="checkbox-inline">
                            <input class="checkbox" data-val="true" id="hideheader" name="hideheader" type="checkbox" value="true">
                            <label class="control-label" for="hideheader">Hide Header In Print</label>
                        </div>
                    </div>
                    <input type="hidden" value="" name="submittype" id="submittype" />
                    <button type="submit" id="save" class="btn btn-info" tabindex="18">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="submit" id="print" class="btn btn-success" tabindex="19">
                        <span class="glyphicon glyphicon-print"></span> Save And Print
                    </button>
                    <button type="button" class="btn btn-warning" tabindex="20" onclick="@("window.location.href='/Payment/Index'");">Cancel</button>
                    <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                    <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
                    <input type="hidden" value="Create" name="Mode" id="Mode">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="modal-tax" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
@if (ViewBag.BusinessType == "Scaffold")
{
    @Html.Partial("_Voucher1")
}
@if (ViewBag.BusinessType == "ProjectBasedBusiness")
{
    @Html.Partial("_Voucher2")
}
else
{
    @Html.Partial("_Voucher")
}
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModelProject")


@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/payment")
    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/bootstrap-fileinput")

    <script type="text/javascript">

        var minDate = $("#Start").val();
        var maxDate = $("#End").val();

        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxDate)
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            $('#PDCDate').prop('disabled', true);
            $('#checkno').hide();
            $('#bank').hide();

            modechange();
            GetBranch();
            CallProjectAll();
            CallTask();

            //$('#MoPay').prop("disabled", true);
            // modechange();
            $('.sup').hide();
            // paid from with select 2
            PaymentFrom();
            PaymentTo();
            InvoiceNo();

            var accid = $('#ddlpayfrom').val();
            accbalancefrm(accid);
            $('#CDC').hide();
        });
        function PaymentTo() {
            // paid to atribute
            $("#ddlpayto").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    //url: "/Accounts/SearchAccounts",
                    url: "/Accounts/SearchAccountsPayTo",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                templateResult: SelectToGroup,
                templateSelection: ToSetFormatSelection,
            });
        }
        function SelectionInvoice(repo)
        {
         
            return repo.id;

        }
        function InvoiceNo() {
            // paid to atribute
            $("#ddlInvoiceNo").select2({
                placeholder: 'Search InvoiceNo',
                minimumInputLength: 0,
                ajax: {
                    //url: "/Accounts/SearchAccounts",
                    url: "/JournalV/SearchInvoiceNo",
                    dataType: 'json',

                    delay: 50,
                    
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                /*templateResult: SelectToGroup,*/
                templateSelection: SelectionInvoice,
            });
        }


        // on change function of payto
        $('body').on('change', '#ddlpayto', function (e) {
            var accid = $(this).val();
            var accidfr = $("#ddlpayfrom").val();
            if (accid != accidfr) {
                var chkPayment=@ViewBag.BillToPayment;
                accbalance(accid,chkPayment);
                chkacctype(accid);
            }else{
                alert("PayTo And PayFrom Should be Different..!!");
                $('#ddlpayto').val(null).trigger('change');
            }
        });

        $('body').on('change', '#ddlpayfrom', function (e) {
            var accid = $(this).val();
            var accidto = $("#ddlpayto").val();
            if(accid!=accidto){
                accbalancefrm(accid);
            }else{
                alert("PayFrom And PayTo Should be Different..!!");
                $('#ddlpayfrom').val(null).trigger('change');
            }
        });

        // on change function taxpercentage
        $('body').on('change', '#taxpercentage', function (e) {
            var taxid = $(this).val();
            Findtax(taxid);
        });

        // onchange function for paying
        $('body').on('change', '#Paying', function (e) {
            cashBalance();
        });

        // onchange function for paying
        $('body').on('change', '#SubTotal', function (e) {
            taxcalc();
        });

        // onchange function for modpaying
        $('body').on('change', '#MoPay', function (e) {
            var MOP=$('#MoPay').val();
            //var hid=(MOP==2)?($('#CDC').show() && $('#PDC').hide()) :($('#PDC').show() && $('#CDC').hide());
            modechange();
        });

        $('body').on('change', '#ddlProject', function (e) {
            $('#ddlProTask').val(null).trigger('change');
            CallTask();
        });
        //
        $('body').on('change', '#Discount', function (e) {

            var totalPaid = $("#Paying").val();
            var discount = $("#Discount").val();
            if (parseFloat(discount) <= parseFloat(totalPaid)) {
                cashBalance();
            } else {
                $("#Discount").val("0.00");
                alert("Discount Should Less Than Amount..!!");
            }
            //var disc=$('#Discount').val();
            //var GT=$('#GrandTotal').val();
            //var Amount=$('#Paying').val();
            //GT=GT-disc-Amount;
            //$('#Balance').val(GT);
        });

        $('#payform').on('submit', function (e) {
            e.preventDefault();
            if ($("#payform").valid()) {
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                $('#submittype').val(fnval);
                formsubmition(fnval);
            }
        });

        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        $('span').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });

        $('#modal-edit').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#modal-edit #createform')[0].action;
            var data = $('#modal-edit #createform').serialize();
            createajax(url, data, '#modal-edit');
        });
        $('span').on('click', '.modal-project', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-project');
            //datepickerInit();
        });

        /* function for create popup */
        $('div').on('click', '.btntaxAdd', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-tax');
        });

        taxpopup();
        ProjectPopup();

    </script>

    <script type="text/javascript">

        //To attach files
        $("#input-24").fileinput({
            maxFilePreviewSize: 10240,
            autoReplace: true,
            maxFileCount: 20,
            showUploadedThumbs: true,
            showUpload: false,
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreviewFileType: 'image',

            allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jfif", "jpeg", "doc", "docx", "pdf", "dwg", "pptx", "vsdx",
                'M4A', 'FLAC', 'MP3', 'MP4', 'WAV', 'WMA', 'AAC', 'ogg', 'opus', 'mpg', 'mpeg'],
            fileActionSettings: {
                showUpload: false,
            },
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        });

    </script>
}
