@model QuickSoft.ViewModel.BOMViewModel
@{
    ViewBag.Title = "Create Bill Of Material";
    ViewBag.SubTitle = "Bill Of Material";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    @using (Html.BeginForm("Create", "BOM", FormMethod.Post, new { id = "createForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Bill Of Material</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit BOM"))
                    {
                        <a class="btn bg-black no-border" href="/BOM/Edit/@ViewBag.LastEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("BOM List"))
                {
                <a class="btn btn-success no-border" href="/BOM">
                    <i class="fa fa-fw fa-history"></i> Bill Of Material List
                </a>
                }
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.BOMName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.BOMName, new { htmlAttributes = new { @class = "form-control", @placeholder = "BOM Name", @required = "required" } })
                </div>
                <div class="form-group col-md-2">
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Item"))
                    {
                        @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.ItemId, (SelectList)ViewBag.Item, "", new { id = "ddlItem", @class = "form-control select2", @required = "required" })
                            <span class="input-group-btn">
                                <button type="button" href="/Item/AddItem" class="modal-create-lg btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.ItemId, (SelectList)ViewBag.Item, "", new { id = "ddlItem", @class = "form-control select2", @required = "required" })
                    }
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })*
                    <div class="input-group">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @type = "number", @Value = "1.00", @class = "form-control", @required = "required", @placeholder = "Enter Item Quantity" } })
                        <div class="input-group-addon no-padding">
                            <select name="Unit" id="Unit"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("Production Cost", null, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.Expense, new { htmlAttributes = new { @type = "number", @Value = "0.00",@onchange= "CalculateTotal()", @class = "form-control", @placeholder = "Enter Expense" } })
                        <span class="input-group-btn">
                            <button type="button" id="PrUnit" class="btn btn-flat"></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("Labour Cost", null, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.Labourcost, new { htmlAttributes = new { @type = "number", @Value = "0.00", @onchange = "CalculateTotal()",@class = "form-control", @placeholder = "Enter Expense" } })
                        <span class="input-group-btn">
                            <button type="button" id="PrUnit" class="btn btn-flat"></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("Material Cost", null, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.meterialcost, new { htmlAttributes = new { @type = "number", @Value = "0.00",  @class = "form-control", @placeholder = "Enter Expense",@readonly="readonly" } })
                        <span class="input-group-btn">
                            <button type="button" id="PrUnit" class="btn btn-flat"></button>
                        </span>
                    </div>
                </div>
                @if (@ViewBag.BusinessType == "ProjectBasedBusiness")
                {
                    <div class="col-sm-2 form-group">
                        @Html.LabelFor(model => model.BOMDate, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            @Html.TextBoxFor(m => m.BOMDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                        </div>
                    </div>
                }
                @if (@ViewBag.EnableMCcheck == 0 && @ViewBag.BusinessType == "ProjectBasedBusiness")
                {
                    <div class="form-group col-md-2">
                        @Html.Label("Material Center", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                    </div>
                }
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="row">
                        <div class="form-group col-sm-2">
                            @Html.Label("Branch", null, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                        </div>
                    </div>
                }

            </div>

            <div>
                <div class="table-responsive bomtable">
                    <hr>
                    <table class="table table-bordered table-hover" id="bomtable">
                        <thead>
                            <tr>
                                <th class="text-center">S/N</th>
                                <th class="text-center">Item <i class="text-danger">*</i></th>
                                <th class="text-center">Unit</th>
                                <th class="text-center">Quantity <i class="text-danger">*</i></th>
                                <th class="text-center">Cost </th>
                                <th class="text-center">Total </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="addbomitem"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    Total
                                </td>
                                <td class="text-right">
                                    <label id="ItemQty2"></label>
                                </td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <label id="Total2"></label>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer text-center clearfix">
            @*<button type="submit" id="save" class="btn btn-info">
            Save
            </button>*@
            <button type="submit" id="save" class="btn btn-success" tabindex="26">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="button" class="btn btn-default" onclick="@("window.location.href='/BOM/Index'");">Cancel</button>
            <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
            <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
        </div>
    }

</div>
@Html.Partial("../Common/_ModeItemCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/bom")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            ////startDate: new Date(minDate),
            ////endDate: new Date(maxDate)
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            $("#PrUnit").text("");
            GetBranch();

            addbomitem('addbomitem', '', '0');

            $("#ddlItem").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Search",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });

        });
        $('body').on('change', '#ddlItem', function (e) {
            var itemId = $(this).val();
            $.ajax({
                url: '/Item/GetItem',
                type: "GET",
                dataType: "JSON",
                data: { itemID: itemId },
                success: function (data) {
                    var newOption = $('<option></option>');
                    if ((data.PriUnit != data.SubUnit) && data.SubUnitId != null) {
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        var newOption1 = $('<option></option>');
                        newOption1.val(data.SubUnitId).html(data.SubUnit);
                        if (data.ItemUnit) {
                            if (data.ItemUnit == data.ItemUnitID)
                                newOption.attr("selected", "selected");
                            if (data.ItemUnit == c.SubUnitId)
                                newOption1.attr("selected", "selected");
                        }
                        $('#Unit').html('');
                        $('#Unit').append(newOption);
                        $('#Unit').append(newOption1);

                    } else {
                        $('#Unit').html('');
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        $('#Unit').append(newOption);
                    }
                    $("#PrUnit").text("/ " + data.PriUnit);
                }
            });
        });

        $('body').on('change', '#Unit', function (e) {
            var textvalue = $("#Unit option:selected").text();
            $("#PrUnit").text("/ " + textvalue);
        });

        $('body').on('change', '#BOMDate', function (e) {
            var bomdate = $(this).val();
            var MC = $("#ddlMC").val();
            searchbomItem(bomdate, MC);
        });
        $('body').on('change', '#ddlMC', function (e) {
            var MC = $(this).val();
            var bomdate = $("#BOMDate").val();
            searchbomItem(bomdate, MC);
        });

        AddItemPopUp();
        ItemCategory();
        ItemBrand();
        //On Modal Create

        $('#modal-create-lg').on('shown.bs.modal', function (e) {
            //Item Category
            ItemCategory();
            ItemBrand();

            $('#KeepStock').click(function () {
                clickstock();
            });
            //ItemTax();
            //ItemUnit();
            //ItemSubUnit();
            Itemtype();

            //var ItemName =
            addbatsaleItem('addbatchItem', 'sale', ItemName, "0.00", "0.00", "");
        });
        // form submit
        $('#createForm').on('submit', function (e) {
            e.preventDefault();
            var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
            if ($("#createForm").valid()) {
                BOMSubmit(fnval);
            }
            else {
                $('.alert').prepend('<button type="button" class="close" data-hide="alert">×</button>');
            }
        });

        $('span').on('click', '.modal-create-lg', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create-lg');
        });
        //$('#modal-create-lg').on('submit', '#createitemform', function (e) {
        //    e.preventDefault();
        //    var url = $('#createitemform')[0].action;
        //    var data = $('#createitemform').serialize();
        //    createajax(url, data, '#modal-create-lg');
        //});

    </script>
}


