@{
    ViewBag.Title = "CrossHire Stock Report";
    ViewBag.SubTitle = "CrossHire Stock Report";
    ViewBag.Active = "Reports";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search CrossHire Stock Report</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />            
            <div class="form-group col-md-2">
                @Html.Label("To Date", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("ToDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2" id="creditPurchaseReturn">
                @Html.Label("Supplier", null, new { @class = "control-label" })
                @Html.DropDownList("ddlSupplier", (SelectList)ViewBag.Supplier, new { @class = "form-control input-sm select2" })
            </div>
            <div class="col-md-3">
                @Html.Label("Category", null, new { @class = "control-label col-md-4" })
                @Html.DropDownList("ddlCategory", (SelectList)ViewBag.Category, new { @class = "form-control input-sm" })
            </div>
            <div class="col-md-3">
                @Html.Label("Item", null, new { @class = "control-label col-md-4" })
                @Html.DropDownList("ddlItem", (SelectList)ViewBag.Item, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-10">
                <label class="control-label fa-pull-left"><input type="checkbox" name="stockable" id="stockable" />  Do not display zero balance items</label>
            </div>
            @*<div class="form-group col-md-4">
                <label class="control-label"><input type="checkbox" value="true" name="stockable" id="stockable" />  Include non-stockable Items</label>
            </div>*@
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    <div class="box-header with-border">
        <h3 class="box-title">CrossHire Stock Report</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1">S/N</td>
                        <td data-priority="1">Item</td>
                        <td data-priority="5" class="headeralign">Stock In</td>
                        <td data-priority="5" class="headeralign">Stock Out</td>
                        <td data-priority="2" class="headeralign">Balance</td>
                        <td data-priority="2" class="headeralign">Cost Rate</td>
                        <td data-priority="2" class="headeralign">Cost Value</td>
                        <td data-priority="2" class="headeralign">Sale Rate</td>
                        <td data-priority="2" class="headeralign">Sale Value</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        $(document).ready(function () {
            $('#StockReport').hide();
            CallRepMCUser();
            CallRepSupplier();
            ItemSearchable();

            $("#ddlCategory").select2({
                placeholder: 'Search Item Category',
                minimumInputLength: 0,
                ajax: {
                    url: "/ItemCategory/SearchCategory",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });

        jQuery(function ($) {

            oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "deferLoading": 0, // disable default ajax loading
                "bLengthChange": false,
                "paging": true,
                "pageLength": 5000,
                "ordering": false,
                "columnDefs": [{
                    "targets": [6],
                    "sClass": "numberright"
                }],
                "ajax": {
                    "url": '/HireStockReport/GetCrosshire',
                    "data": function (data) {
                        data.Category = $('#ddlCategory').val();
                        data.Supplier = $('#ddlSupplier').val();
                        data.Todate = $('#ToDate').val();
                        data.Item = $('#ddlItem').val();
                        data.Stock = $('input[name="stockable"]').prop('checked');
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                     {
                         "data": "ItemID", "name": "ItemID",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                    {
                        "name": "ItemName", "data": function (data) {
                            return data.ItemCode + " - " + data.ItemName;
                        }
                    },
                    {
                        "name": "stockIn", "data": "stockIn"
                        
                    },
                    {
                        "name": "stockOut", "data": "stockOut"

                    },
                    {
                        "name": "balance", "data": "balance"

                    },
                    {
                        "name": "Cost rate", "data": "costrate"

                    },
                    {
                        "name": "Cost Value", "data": "costvalue"

                    },
                    {
                        "name": "Sale rate", "data": "salerate"

                    },
                    {
                        "name": "Sale Value", "data": "salevalue"

                    },
                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
              {
                  extend: 'print',//
                  title: "",
                  footer: true,
                  filename: function () {
                      return 'CrossHire-Stock Report';
                  },
                  exportOptions: {
                      columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10]
                  },
                  message: function () {
                      var head = '<table class="tblcompact table table-bordered"><thead>' +
                      ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>CrossHire Stock Report (Till Date)</h4></th></tr>' +
                      ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> </span></th></tr></thead><tbody><tr><td>';
                      return head;
                  },
                  customize: function (win) {
                      // $(win.document.body)
                      //.css('font-size', '10pt')
                      //.css('padding', '1px');
                      $(win.document.body).find('table, th,tr, td ')
                         // .css('border', 'inherit')
                          .css('font-size', '10pt')
                          .css('padding', '5px')
                          .addClass('compact');
                      $(win.document.body).append('</td></tr></tbody>')

                  }
              }, 'copy', 'csv', //'excel',
              {
                  extend: 'excel',//
                  title: "",
                  footer: true,
                  filename: function () {
                      return 'CrossHire Stock Report';
                  },
                  message: function () {
                      var head = '' + $('#cname').val() + '\n' +
                         '' + $('#caddress').val() + '\n' +
                         'CrossHire Stock Report \n';
                      return head;
                  },
                  pageSize: 'A4',
                  exportOptions: {
                      columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10]
                  },
              },
              {
                  extend: 'pdf',//
                  title: "",
                  footer: true,
                  filename: function () {
                      return 'CrossHire Stock Report';
                  },
                  message: function () {
                      var head = '' + $('#cname').val() + '\n' +
                         '' + $('#caddress').val() + '\n' +
                         'CrossHire Stock Report \n';
                      return head;
                  },
                  pageSize: 'A4',
                  exportOptions: {
                      columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10]
                  },
                  customize: function (doc) {
                      doc.pageMargins = [10, 10, 10, 10];
                      doc.defaultStyle.fontSize = 10;
                      doc.styles.tableHeader.fontSize = 10;
                      doc.styles.title.fontSize = 12;
                      // Header font and bg color
                      doc.styles.tableHeader.fillColor = '#d3d3d3';
                      doc.styles.tableHeader.color = 'black';
                      // Remove spaces around page title
                      doc.content[0].text = doc.content[0].text.trim();

                      //doc.styles['td:nth-child(2)'] = {
                      //    width: '100%',
                      //    'max-width': '100%'
                      //}

                      doc.content[1].table.widths = [
                      '5%',
                      '20%',
                      '8%',
                      '8%',
                      '8%',
                      '8%',
                      '8%',
                      '8%',
                      '8%',
                      ]


                      var objLayout = {};
                      // Horizontal line thickness
                      objLayout['hLineWidth'] = function (i) { return .5; };
                      // Vertikal line thickness
                      objLayout['vLineWidth'] = function (i) { return .5; };
                      //// Horizontal line color
                      //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                      //// Vertical line color
                      //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                      // Left padding of the cell
                      objLayout['paddingLeft'] = function (i) { return 4; };
                      // Right padding of the cell
                      objLayout['paddingRight'] = function (i) { return 4; };
                      // Inject the object in the document
                      doc.content[1].layout = objLayout;
                      // Footer font and bg color
                      doc.styles.tableFooter.fillColor = '#d3d3d3';
                      doc.styles.tableFooter.color = 'black';
                  }


              },
                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };


                    // Total over all pages
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );

                    // Total over all pages
                    total = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(8, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(8).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );



                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                oTable.draw();
                $('#StockReport').show();
            });
            //var column1 = oTable.column(3);
            //column1.visible(false);
        });
        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false);
        }

        //$('#UserTable tbody').on('click', 'tr', function () {
        //    var data = oTable.row(this).data();
        //    var url = "/HireStockReport/Details?iditem=" + data.ItemID + "&ddmc=" + $('#ddlMC').val();
        //    $(location).attr('href', url);
        //});
    </script>
}