@{
    ViewBag.Title = "Hand Over  Approval";
    ViewBag.SubTitle = "User";
    ViewBag.Active = "Users";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Hand Over Approval </h3>

    </div>
    @using (Html.BeginForm("handoverapprovals", "POSRES", FormMethod.Post, new { id = "UserCreateForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "alert alert-danger" })


        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.Label("Amount : ", null, htmlAttributes: new { @class = "control-label " })
                    @Html.Label("txtamount", (string)ViewBag.accountamount)
                </div>
                <div class="form-group col-md-2" id="Employee1">
                    @Html.Label("Transfer from :", null, htmlAttributes: new { @class = "control-label " })
                    @Html.Label("transferfrom",(string)ViewBag.transferfrom )
                </div>
            </div>
            @Html.Hidden("transid", (string)ViewBag.reqid)
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Approve" id="btnSubmit" />
                    <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='" + @Url.Action("copypermission", "Users") + "'");" />
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#emp2").select2({});

        })

    </script>
}