@model QuickSoft.Models.POSOrder
@{
    ViewBag.Title = "POS Order List";
    ViewBag.SubTitle = "POS Order List";
    ViewBag.Active = "POS";
    string actData = "";
    string delchk = "";
    bool userRole = false;
    if (User.IsInRole("Dev") || User.IsInRole("VoidBill Delete"))
    {
        userRole = true;
    }
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">POS Orders</h3>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("POS Entry"))
            {
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-info no-border" href="/POS/Create">
                    <i class="glyphicon glyphicon-plus"></i> POS
                </a>
            }
        </div>
    </div>
@using (Html.BeginForm("DeleteAllVoidBill", "Order", FormMethod.Post, new { id = "delallform", role = "form" }))
{
    <div class="box-body">
        <table class="table table-bordered table-hover" id="SalesTable">
            <thead>
                <tr class="bg-gray">
                    <td data-priority="1">SI No</td>
                    <td data-priority="1">Order No</td>
                    <td>Order Date</td>
                    <td data-priority="3">Order Type</td>
                    <td data-priority="3">Customer</td>
                    <td data-priority="4">Tax Amount</td>
                    <td data-priority="5">Discount</td>
                    <td data-priority="6">Total Amount</td>
                    <td data-priority="5">Created By</td>
                    <td data-priority="2">Action</td>
                    <td data-priority="1"><input type="checkbox" id="select_all" /></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    if (User.IsInRole("Dev") || User.IsInRole("VoidBill Delete"))
    {
        <div class="box-footer text-right col-md-12" id="sub">
            <button type="submit" id="save" data-confirm="Are u sure want to delete?" class="btn btn-danger">Delete</button>
        </div>
    }
}
</div>
@{var Model = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalChange")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-confirm]').click(function (e) {
                if ($('.checkbox:checked').length > 0) {
                    if (!confirm(jQuery(this).attr("data-confirm"))) {
                        e.preventDefault();
                    }
                } else {
                    alert("Please Select Checkbox..!!");
                    e.preventDefault();
                }
            });
        });
        var oTable = $('#SalesTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            responsive: true,
            "ajax": {
                "url": '/Order/GetVoidBills',
                "type": "POST",
                "datatype": "json"

            },
            "order": [[1, "desc"]],
            "columnDefs": [{
                "targets": [9,10],
                "orderable": false
            }],
            "columns": [
                     {
                         "data": "POSOrderId", "name": "POSOrderId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "OrderNo", "name": "OrderNo" },
                { "data": "OrderDate", "name": "OrderDate", "render": function (data) { return convertToDate(data); } },
                 {
                     "name": "OrderType",
                     "data": function (data) {
                         if (data.OrderType == 0) {
                             return "Take Away";
                         } else if (data.OrderType == 1) {
                             return "Delivery";
                         } else if (data.OrderType == 2) {
                             return "Dine In";
                         } else {
                             return "";
                         }
                     }
                 },
                 {
                     "name": "Customer",
                     "data": function (data) {
                         if (data.CustomerType == 0) {
                             return data.Customer;
                         } else if (data.CustomerType == 1) {
                             return data.CustomerName;
                         } else {
                             return "";
                         }
                     }
                 },
                { "data": "TaxAmount", "name": "TaxAmount", render: $.fn.dataTable.render.number(",", ".", 2) },
                { "data": "Discount", "name": "Discount", render: $.fn.dataTable.render.number(",", ".", 2) },
                { "data": "NetPayable", "name": "NetPayable", render: $.fn.dataTable.render.number(",", ".", 2) },
                { "data": "user", "name": "user" },
                {
                    "name": "POSOrderId", "data": function (data) {
                        var rest = "";

                        @{
                            if (User.IsInRole("Dev") || User.IsInRole("View VoidBill"))
                            {
                                actData += "<a class=\"details\" href=\"/Order/Details/'+ data.POSOrderId +'\" title=\"View Order\"><i class=\"fa fa-lg fa-search-plus\"></i></a> ";
                            }
                            if (User.IsInRole("Dev") || User.IsInRole("VoidBill Delete"))
                            {
                                actData += "<a class=\"modal-delete\" href=\"/Order/Delete/'+ data.POSOrderId +'\" title=\"Delete Order\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                            }
                        }
                        return rest = '@Html.Raw(actData)';
                    }
                },
                {
                    "name": "POSOrderId", "data": function (data) {
                        var rest = "";
                        @{
                            if (User.IsInRole("Dev") || User.IsInRole("VoidBill Delete"))
                            {
                                delchk = "<input class=\"checkbox\" type=\"checkbox\" name=\"bill[]\" value='+ data.POSOrderId +'></input>";
                            }
                        }
                        return rest = '@Html.Raw(delchk)';
                    }
                },
            ], "drawCallback": function (settings) {
                var table = $('#SalesTable').DataTable();
                if (!table.data().any()) {
                    $("#sub").hide();
                } else {
                    $("#sub").show();
                }
            }
        });

        var chkcol = '@userRole';
        if (chkcol == "True") {
            var column1 = oTable.column(10);
            column1.visible(true);
        } else {
            var column1 = oTable.column(10);
            column1.visible(false);
        }

        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }
        //select all checkboxes
        $('body').on('change', '#select_all', function () {
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('body').on('change', '.checkbox', function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            isTicked();
        });
        function isTicked() {
            //check "select all" if all checkbox items are checked
            if ($('.checkbox:checked').length == $('.checkbox').length && ($('.checkbox:checked').length > 0)) {
                $("#select_all").prop('checked', true);
            }
            else {
                $("#select_all").prop('checked', false);
            }
        }

        /* function for view detail popup */
        $('#SalesTable').on('click', 'a.details', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })

        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        /* function for delete popup */
        $('#SalesTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

    </script>
}
