@model QuickSoft.ViewModel.CompanyViewModel
@{
    ViewBag.Title = "Settings";
    ViewBag.SubTitle = "Company Settings";
    ViewBag.Active = "Settings";

}
<div class="box box-info">
    @using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { id = "createForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <div class="box-header with-border">
            <h3 class="box-title">Company Settings</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group  col-md-4">
                    @Html.HiddenFor(model => model.Company.CompanyID)
                    @Html.LabelFor(model => model.Company.CPName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.Company.CPName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name", @required = "required" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.TRN, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.TRN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter TRN" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPEmail, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.CPEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPPhone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.CPPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPMobile, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.CPMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile Number" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPFax, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.CPFax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax Number" } })
                </div>

                @*<div class="form-group col-md-4">
            @Html.LabelFor(model => model.Company.CPMainBranch, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Company.CPMainBranch, (SelectList)ViewBag.Branch, new { @class = "form-control", @id = "DrpBranch" })
        </div>*@
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Company.CPAddress, new { @class = "form-control", @placeholder = "Enter Address" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPLogo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Company.CPLogo, new { htmlAttributes = new { type = "file" } })
                    <img class="img-responsive editclogo" alt="@Html.DisplayFor(model=> model.Company.CPLogo)" src="~/uploads/company/@Html.DisplayFor(model => model.Company.CPLogo)" id="ImageButton11" />
                </div>
                @if (Model.Company.CPLogo != null)
                {
                    <div class="form-group col-md-4">
                        <div class="checkbox-inline chkpadding">
                            @Html.CheckBoxFor(m => m.RemoveLogo, new { @class = "checkbox" })
                            @Html.LabelFor(m => m.RemoveLogo, new { @class = "control-label" })
                        </div>
                    </div>
                }
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DbBackUpPath, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DbBackUpPath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Database BackUp Folder Path" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Company.CPWebsite, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Company.CPWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Website" } })
                </div>
                @if (ViewBag.EnablePayroll == 0)
                {
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            <h4 class="box-title">Set Payroll Start date</h4>
                            <hr />
                        </div>
                        <div class="col-sm-2 form-group">
                            @Html.LabelFor(m => m.Payrolldate, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                @Html.TextBoxFor(m => m.Payrolldate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.BusinessType != "Property")
                {
                    <div class="form-group col-md-12">
                        <h4 class="box-title">Code/Invoice Prefix</h4>
                        <hr />
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.InvoicePrefix, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.InvoicePrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Invoice Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.TaxExempt, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TaxExempt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Tax Except Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PurchasePrefix, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PurchasePrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Purchase Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.QuotationPrefix, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.QuotationPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Quotation Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Deliverynote, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Deliverynote, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Deliverynote Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PReturn, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PReturn, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Purchase Return Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SReturn, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SReturn, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Return Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ProFormaPrefix, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ProFormaPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Return Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POrder, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.POrder, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Purchase Order Prefix" } })
                    </div>
                    if (@ViewBag.BusinessType == "Scaffold")
                    {
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.HireInvoicePrefix, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HireInvoicePrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire Invoice Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.HireSalesOrderPrefix, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HireSalesOrderPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire SalesOrder Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.HireQuotationPrefix, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HireQuotationPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire Quotation Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.HireProformaPrefix, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HireProformaPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire Proforma Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.HireReturn, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HireReturn, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire Return Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CrossHireInvoicePrefix, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CrossHireInvoicePrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hire Invoice Prefix" } })
                        </div>
                    }
                    else if (@ViewBag.BusinessType == "ProjectBasedBusiness")
                    {
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MR, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.MR, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Material Requisition Prefix" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MRNote, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.MRNote, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Material Receive Note Prefix" } })
                        </div>
                    }
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Payment, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Payment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Payment Code Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Reciept, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Reciept, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reciept Code Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Customer Code Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Supplier Code Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Employee, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Employee, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Employee Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Item, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Item Code Prefix" } })
                    </div>
                    @*<div class="form-group col-md-4">
                @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Code Prefix" } })
            </div>*@
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Packinglist, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Packinglist, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Packing List Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Production, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Production, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Production Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Unassemble, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Unassemble, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Unassemble Prefix" } })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PQuotation, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PQuotation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Purchase Quotation Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Journal, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Journal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Journal Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.JobCard, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.JobCard, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter JobCard Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MC, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Material Center Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Project, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Project, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Project Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Task, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Task, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Task Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SalesOrder, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SalesOrder, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Order Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.StockAdjustment, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.StockAdjustment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter StockAdjustment Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.StockJournal, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.StockJournal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter StockJournal Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.StockTransfer, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.StockTransfer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Stock Transfer Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.StockVerification, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.StockVerification, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter StockVerification Prefix" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.BankAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.BankAccount, (SelectList)ViewBag.BankAcc, "", new { @class = "form-control select2 ddlBankAccount" })
                    </div>
                    <div class="form-group col-md-4">
                        <label>System Code</label>
                        <input name="SystemCode" id="SystemCode" class="form-control input-sm" value="@ViewBag.SystemCode" type="text" disabled />
                    </div>
                }

            </div>
            @if (@ViewBag.BusinessType != "Property")
            {
                <div class="row">
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.SaleAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.SaleAccount, (SelectList)ViewBag.SaleAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.PurchaseAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PurchaseAccount, (SelectList)ViewBag.PurAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.SReturnAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.SReturnAccount, (SelectList)ViewBag.SRetAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.PReturnAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PReturnAccount, (SelectList)ViewBag.PRetAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.SalaryAccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.SalaryAccount, (SelectList)ViewBag.SalAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Broker, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Broker, (SelectList)ViewBag.AccGrp, "", new { @class = "form-control select2 ddlAccountGrp" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Contractor, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Contractor, (SelectList)ViewBag.AccGrp, "", new { @class = "form-control select2 ddlAccountGrp" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Developer, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Developer, (SelectList)ViewBag.AccGrp, "", new { @class = "form-control select2 ddlAccountGrp" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Landlord, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Landlord, (SelectList)ViewBag.AccGrp, "", new { @class = "form-control select2 ddlAccountGrp" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Tenant, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Tenant, (SelectList)ViewBag.AccGrp, "", new { @class = "form-control select2 ddlAccountGrp" })
                    </div>

                    @*Tranc Account*@
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.tenancycontractaccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.tenancycontractaccount, (SelectList)ViewBag.TCAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.tenancycontractSecurityDepositaccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.tenancycontractSecurityDepositaccount, (SelectList)ViewBag.TCSAcc, new { @class = "form-control select2 ddlAccount" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.RentalIncomeaccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.RentalIncomeaccount, (SelectList)ViewBag.RentalAcc, new { @class = "form-control select2 ddlAccountIncome" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Regdepositaccount, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Regdepositaccount, (SelectList)ViewBag.RegAcc, new { @class = "form-control select2 ddlAccountIncome" })
                    </div>
                </div>
            }
        <div class="row">
            <div class="form-group col-md-12">
                <h4 class="box-title">Header And Footer</h4>
                <hr />
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Header, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Header, new { @class = "form-control input-sm", type = "file" })
                <h6 class="text-blue"> (Width X Height: 2480px X 525px, Size: > 100 KB)</h6>
                <img class="img-responsive editclogo" alt="@Html.DisplayFor(model=> model.Header)" src="~/uploads/companyheader/header/@Html.DisplayFor(model => model.Header)" id="ImageButton1" />
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Footer, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Footer, new { @class = "form-control input-sm", type = "file" })
                <h6 class="text-blue"> (Width X Height: 2480px X 300px, Size: > 100 KB)</h6>
                <img class="img-responsive editclogo" alt="@Html.DisplayFor(model=> model.Footer)" src="~/uploads/companyheader/footer/@Html.DisplayFor(model => model.Footer)" id="ImageButton2" />
            </div>
            <div class="form-group col-md-4">
                <div class="checkbox-inline chkpadding">
                    @Html.CheckBoxFor(m => m.RemoveHeaderFooter, new { @class = "checkbox" })
                    @Html.LabelFor(m => m.RemoveHeaderFooter, new { @class = "control-label" })
                </div>
            </div>
            <div class="form-group col-md-12">
                <h4 class="box-title">SMTP Mail Settings</h4>
                <hr />
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.SMTPEmail, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.SMTPEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPEmail" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.SMTPHost, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.SMTPHost, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPHost" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.SMTPUsername, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.SMTPUsername, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPUsername" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.SMTPPassword, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.SMTPPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPPassword" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.SMTPPort, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.SMTPPort, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPPort" } })
            </div>
            <div class="form-group col-md-4">
                <div class="checkbox-inline chkpadding">
                    @Html.CheckBoxFor(m => m.Company.EnableSsl, new { @class = "checkbox" })
                    @Html.LabelFor(m => m.Company.EnableSsl, new { @class = "control-label" })
                </div>
            </div>
            <div class="form-group col-md-12">
                <h4 class="box-title">SMS Settings/whatsapp settengs</h4>
                <hr />
            </div>
            <hr />
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.smssenderid, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.smssenderid, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMS Sender Name" } })
            </div>


            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.username, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMS username" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Company.password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Company.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMS password" } })
            </div>
            <div class="form-group col-md-12">
                <h4 class="box-title">Purchase Bill Payment Request Settings</h4>
                <hr />
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.AssignedTo, new { @class = "control-label" }) *
                @Html.ListBoxFor(m => m.AssignedToo, (MultiSelectList)ViewBag.Employees, new { @id = "AssignedUsers", @class = "form-control select2 porder", @name = "AssignedToo[]", @multiple = "multiple", @style = "width:100%" })
            </div>
            <hr />
            <div class="form-group col-md-4">
                <div class="checkbox-inline chkpadding">
                    @Html.CheckBoxFor(m => m.CheckboxFinYear, new { @class = "checkbox" })
                    @Html.Label("Add Financial Year", null, new { @class = "control-label" })
                </div>
            </div>
            <div class="box-body hiden" id="FinYearSection">
                <div class="form-group col-md-12">
                    <h4 class="box-title">Set Financial Year</h4>
                    <hr />
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.StartDate, htmlAttributes: new { @class = "control-label" })<span id="pcdfor" class="text-danger">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                    </div>
                </div>
            </div>
            @*<div class="form-group col-md-4">
            <div class="checkbox-inline chkpadding">
                @Html.CheckBoxFor(m => m.Custominvoice, new { @class = "checkbox" })
                @Html.Label("Customized invoice", null, new { @class = "control-label" })
            </div>
        </div>
        <div class="box-body hiden" id="InvoiceSection">
            <div class="form-group col-md-12">
                <h4 class="box-title">Set Financial Year</h4>
                <hr />
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.StartDate, htmlAttributes: new { @class = "control-label" })<span id="pcdfor" class="text-danger">*</span>
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                </div>
            </div>
        </div>*@
        </div>
        </div>
        <div class="box-footer clearfix text-center">
            <button type="submit" id="save" class="btn btn-info">
                <span class="glyphicon glyphicon-floppy-disk"></span> Update
            </button>
            <button type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("", "") + "'");">Cancel</button>
            <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
            <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
        </div>
    }
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}


@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxmDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxmDate)
        });

        var d = new Date();
        var maxdate = (d.getDate() + 30) + '-' + (d.getMonth() + 1) + '-' + d.getFullYear();

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            $('#CheckboxFinYear').prop('checked', false);
            $('#Custominvoice').prop('checked', false);
            $('#CheckboxFinYear').show();

            $(".ddlAccount").select2({
                placeholder: 'Search Account',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchAllAccounts",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $(".ddlAccountIncome").select2({
                placeholder: 'Search Account',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchIncomeAccount",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $(".ddlAccountGrp").select2({
                placeholder: 'Search Accounts Group',
                minimumInputLength: 0,
                ajax: {
                    url: "/Master/SearchAllAccountsGroup",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $(".ddlBankAccount").select2({
                placeholder: 'Search Bank Account',
                minimumInputLength: 0,
                ajax: {
                    url: "/Master/SearchBankAccounts",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });
        $('#CheckboxFinYear').click(function () {
            if ($('#CheckboxFinYear').prop('checked') == true) {
                $('#FinYearSection').show();
            }
            else {
                $('#FinYearSection').hide();
            }
        });
        $('#Custominvoice').click(function () {
            if ($('#Custominvoice').prop('checked') == true) {
                $('#InvoiceSection').show();
            }
            else {
                $('#InvoiceSection').hide();
            }
        });
        $('body').on('change', '#Payrolldate', function (e) {
            var selectdate = $(this).val();
            checkdate(selectdate);
        });
        function checkdate(selectdate) {
            $.ajax({
                url: '/Company/CheckPayrollDate',
                dataType: 'json',
                data: { Date: selectdate },
                cache: true,
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        $('#Payrolldate').val(null);
                    }
                }
            });
            
        };
        $("#AssignedUsers").select2({
            placeholder: 'Search Employees by Name',
            minimumInputLength: 0,
            ajax: {
                url: "/Employee/SearchEmployee",
                dataType: 'json',
                type: "POST",
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
    </script>
}