@{
    ViewBag.Title = "Sales Reciept Report";
    ViewBag.SubTitle = "Sales Report";
    ViewBag.Active = "Reports";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Sales</h3>
    </div>

    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <div class="form-group col-md-2">
                @Html.Label("Invoice No", null, new { @class = "control-label" })
                @Html.TextBox("InvoiceNo", "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Customer", null, new { @class = "control-label" })
                @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, new { @class = "form-control input-sm select2" })
            </div>
            <div class="form-group col-md-2">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    <div class="box-header with-border">
        <h3 class="box-title">View Sales Receipt Report</h3>
    </div>
    <div class="box-body">
        

        <div class="box-body">
            <table class="display table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Invoice No</td>
                        <td>Date</td>
                        <td>Customer</td>
                        <td class="headeralign">Amount</td>
                        <td class="headeralign">Receipt No</td>
                        <td>Date</td>
                        <td>Cash</td>
                        <td>Cheque</td>
                        <td>Balance</td>
                        <td>PDC Date</td>
                        <td>Check No</td>
                        <td>CBD</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th colspan="4"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---
            //still hide the datadable before pressing the submit button
            $('#StockReport').hide();

            CallRepCustomer();
            $("#ddlBranch").select2({
                placeholder: 'Search Branch by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Branch/SearchBranch",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

        });
        function searchData(data) {

            data.vno = $('#InvoiceNo').val();
            data.customer = $('#ddlCustomer').val();
            data.fromdate = $('#From').val();
            data.todate = $('#To').val();

        }

        function showdatatable() {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "stateSave": true,
                "bDestroy": true,
                "bLengthChange": false,
                responsive: true,
                "paging": true,
                "pageLength": 5000,
                "ordering": false,
                "ajax": {
                    "url": '/SalesReport/GetSaleReceiptSummary',
                    /*function for capturing the datas*/
                    "data": function (data) {
                        data = searchData(data);
                    },
                    /*  end*/
                    "type": "POST",
                    "datatype": "json"

                },
                "order": [[0, "desc"]],
                "columns": [
                    {
                        "data": "id", "name": "id",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "BillNo", "name": "BillNo" },
                    { "data": "SEDate", "name": "SEDate", "render": function (data) { return convertToDate(data); } },
                    { "data": "Customer", "name": "Customer" },
                    { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    {
                        "name": "RecieptNo", "data": function (data) {
                            data.rc.length;
                            var rst = "";
                            $.each(data.rc, function (i, item) {
                                rst += " " + item.RecieptNo;
                            });
                            return rst;
                        }
                    },
                    {
                        "name": "Date", "data": function (data) {
                            data.rc.length;
                            var rst = "";
                            $.each(data.rc, function (i, item) {
                                rst += " " + convertToDate(item.Date);
                            });
                            return rst;
                        }
                    },
                    {
                        "name": "Cash", "data": function (data) {
                            var rst = 0;
                            $.each(data.rc, function (i, item) {
                                if (item.Type == 0)
                                    rst += item.amt;
                            });
                            if (rst == 0) {
                                return "";
                            } else {
                                return rst.toFixed(2);
                            }
                        }
                    },
                    {
                        "name": "Cheque", "data": function (data) {
                            var rst = 0;
                            $.each(data.rc, function (i, item) {
                                if (item.Type == 1 || item.Type == 2)
                                    rst += item.amt;
                            });
                            if (rst == 0) {
                                return "";
                            } else {
                                return rst.toFixed(2);
                            }
                        }
                    },
                    { "data": "Balance", "name": "Balance", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    {
                        "name": "PDCDate", "data": function (data) {
                            var rst = "";
                            $.each(data.rc, function (i, item) {
                                if (item.PDCDate != null)
                                    rst += " " + convertToDate(item.PDCDate);
                            });
                            return rst;
                        }
                    },
                    {
                        "name": "CheckNo", "data": function (data) {
                            var rst = "";
                            $.each(data.rc, function (i, item) {
                                if (item.CheckNo != null)
                                    rst += " " + item.CheckNo;
                            });
                            return rst;
                        }
                    },
                    {
                        "name": "CBD", "data": function (data) {
                            var rst = "";
                            $.each(data.rc, function (i, item) {
                                if (item.CBD != null)
                                    rst += " " + item.CBD;
                            });
                            return rst;
                        }
                    }
                ],
                buttons: [
                    {
                        extend: 'print',
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'SalesReceiptSummary-Report';
                        },
                        message: function () {
                            var head = '<table class="tblcompact table table-bordered"><thead>' +
                                ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Sales Receipt Summary Report</h4></th></tr>' +
                                ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                            return head;
                        },
                        customize: function (win) {
                            $(win.document.body).find('table, th,tr, td ')
                                .css('font-size', '10pt')
                                .css('padding', '5px')
                                .addClass('compact');
                            $(win.document.body).append('</td></tr></tbody>')

                        }
                    }, 'copy', 'csv', //'excel',
                    {
                        extend: 'excel',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'SalesReceiptSummary-Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' Sales Receipt Summary Report \n' +
                                //   'Invoice No : ' + $('#InvoiceNo').val() + '\n' +
                                'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        },
                    },
                    {
                        extend: 'pdf',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'SalesReceiptSummary-Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' Sales Receipt Report \n' +
                                //   'Invoice No : ' + $('#InvoiceNo').val() + '\n' +
                                'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        },
                        customize: function (doc) {
                            doc.pageMargins = [10, 10, 10, 10];
                            doc.defaultStyle.fontSize = 10;
                            doc.styles.tableHeader.fontSize = 10;
                            doc.styles.title.fontSize = 12;
                            // Header font and bg color
                            doc.styles.tableHeader.fillColor = '#d3d3d3';
                            doc.styles.tableHeader.color = 'black';
                            // Remove spaces around page title
                            doc.content[0].text = doc.content[0].text.trim();



                            doc.content[1].table.widths = [
                                '5%',
                                '8%',
                                '10%',
                                '12%',
                                '10%',
                                '8%',
                                '10%',
                                '10%',
                                '10%',
                                '10%',
                                '8%',
                            ]


                            var objLayout = {};
                            // Horizontal line thickness
                            objLayout['hLineWidth'] = function (i) { return .5; };
                            // Vertikal line thickness
                            objLayout['vLineWidth'] = function (i) { return .5; };
                            //// Horizontal line color
                            //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                            //// Vertical line color
                            //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                            // Left padding of the cell
                            objLayout['paddingLeft'] = function (i) { return 4; };
                            // Right padding of the cell
                            objLayout['paddingRight'] = function (i) { return 4; };
                            // Inject the object in the document
                            doc.content[1].layout = objLayout;
                            // Footer font and bg color
                            doc.styles.tableFooter.fillColor = '#d3d3d3';
                            doc.styles.tableFooter.color = 'black';
                        }


                    },

                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };





                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );

                    // Total over all pages
                    total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(
                        pageTotal.toFixed(2)
                    );
                    // Total over all pages
                    total = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(8, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(8).footer()).html(
                        pageTotal.toFixed(2)
                    );
                    // Total over all pages
                    total = api
                        .column(9)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(9).footer()).html(
                        pageTotal.toFixed(2)
                    );


                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
            //for showing the datatable when click the submit button

            $('#search-form').on('submit', function (e) {

                e.preventDefault();
                oTable.draw();
                $('#SReport').show();
                $('#UserTable').show();



            });

            $('#UserTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).addClass('dataTables_row');
                }
            });
        }

        var flag = 0;
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            if (flag == 0) {
                showdatatable();
                flag = 0;
            }
            else
                oTable.draw();

            $('#StockReport').show();
        });


        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false);
        }

        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
    </script>
}