@model QuickSoft.ViewModel.AdditionalMCViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Additional Material centre</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "AdditionalMC", FormMethod.Post, new { id = "editform", @class = "form-horizontal" }))
    {
        <script type="text/javascript">
            $('form#editform').removeData("validator");
            $('form#editform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#editform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <div class="box-body">
            <div class="form-group">
                @Html.Label("Material Centre", null, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.McName, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                </div>
            </div>           
            <div class="form-group">
                @Html.Label("Employee", null, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.ListBoxFor(m => m.EmployeeMembers, (MultiSelectList)ViewBag.Employees, new { @class = "Employees form-control input-sm textwidth" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <button type="submit" class="btn btn-info col-sm-offset-4">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

<script>   

    $(".Employees").select2({
        placeholder: 'Search Employees by Name',
        minimumInputLength: 0,
        ajax: {
            url: "/AdditionalMC/SearchEmployee",
            dataType: 'json',
            type: "POST",
            delay: 50,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page,
                    lead: 1
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data
                };
            },
            cache: true
        },
    });

</script>

