@model QuickSoft.Models.HireType
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Hire Type</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "HireType", FormMethod.Post, new { id = "editform" }))
            {
        <script type="text/javascript">
            $('form#editform').removeData("validator");
            $('form#editform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#editform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.HireTypeId)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group  col-md-12">
                    @Html.Label("Name", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "GpName", @class = "form-control input-sm", @placeholder = "Enter Name", autofocus = "autofocus", @required = "required" } })
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Period, new { @class = "control-label col-md-12" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Enter Period", autofocus = "autofocus", @required = "required" } })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.PeriodType, (SelectList)ViewBag.PType, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Note, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm textarea", rows = 4 })
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control", tabindex = 30 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Update" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}