@model QuickSoft.ViewModel.StockTransferViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Edit StockTransfer";
    ViewBag.Active = "Transactions";
    var TimeOut = @ViewBag.TMOut;
    string IRateCheck = "inactive";
}
@if (User.IsInRole("Dev") || User.IsInRole("ReadOnly Item Rate"))
{
    IRateCheck = "active";
}
<style>
    .select2Box {
        width: 400px !important;
    }

    .labelColor {
        background-color: lightblue;
        color: blue;
    }

    .checkboxAlign {
        text-align: left !important;
        padding-left: 30px;
    }

    .select2-results {
        width: 100% !important;
    }

    .select2-results__options {
        width: 100% !important;
        /*width: auto;
        min-width: 230px !important;*/
    }

    #select2-item_name_1-results li {
        background-color: lightgray;
        border: 1px solid black;
    }

        #select2-item_name_1-results li:nth-child(2n) {
            background-color: silver;
            border: 1px solid black;
        }

    .select2-container--default #select2-item_name_1-results[aria-selected] {
        background-color: lightgray !important;
        border: 1px solid black;
    }

    .se-row {
        color: black !important;
    }

    #select2-ddlQuote-results, #select2-ddlApprovedBy-results, #select2-ddlCustomer-results, #select2-ddlEmployee-results {
        width: 342px !important;
    }



    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        /*width: 325px !important;*/
    }

    .select2-selection__rendered #select2-ddlCustomer-container {
        width: 80% !important;
    }

    .select2-search--dropdown {
        width: 232px !important;
    }

    @@media only screen and (max-width: 430px) {
        #select2-ddlCustomer-results li[role=treeitem] {
            width: 80% !important;
        }

        #select2-ddlEmployee-results li[role=treeitem] {
            width: 90% !important;
        }

        #select2-ddlApprovedBy-results li[role=treeitem] {
            width: 90% !important;
        }

        #select2-ddlMC-results li[role=treeitem] {
            width: 100% !important;
        }

        #select2-bsname-results li[role=treeitem] {
            width: 80% !important;
        }

        .select2-search__field {
            width: 92% !important;
        }

        .select2-results__options {
            width: 100% !important;
        }

        .select2-results__option {
            width: 100% !important;
        }

        .sh-mobi-hide {
            display: none;
        }

        button[id=sh-btn-dlt2] {
            position: relative;
            top: 17px !important;
            height: 34px !important;
        }

        button[id=sh-btn-dlt] {
            position: relative;
            height: 34px !important;
        }
        .sh-btn-style3 {
            height: 34px !important;
        }

        input[type=number] {
            text-align: center !important;
        }

        td {
            margin-bottom: 10px !important;
        }

        #sh-btn-add {
            width: 16px !important;
            padding-bottom: 9px !important;
        }

        #itmnote {
            padding-bottom: 15px !important;
            width: 15px !important;
            position: relative !important;
            top: -34px !important;
            right: -16px !important;
        }

        .input-group-sm {
            height: 35px !important;
        }

        .sh-icon1 {
            position: relative !important;
            left: -3px;
            top: 1px;
        }

        .sh-icon2 {
            position: relative !important;
            left: 3px;
            top: 3px;
        }

        .sh-bottom-align {
            margin-bottom: 10px;
        }

        .sh-plusIcon {
            position: relative;
            top: 3px;
        }

        .sh-headings-bg2 th {
            background: #eee linear-gradient( #009ffd 17%, #045de9 87%);
            border-width: 0 !important;
            color: white !important;
        }

        #addinvoiceItem tr {
            text-align: center !important;
            padding: 10px !important;
            border: 3px solid #045de9;
            font-size: 12px;
            letter-spacing: 1px;
        }

        button[id=save] {
            width: 47%;
            font-size: 12px;
            margin-bottom: 5px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        button[id=print] {
            width: 47%;
            font-size: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-bottom: 5px;
        }

        button[id=download] {
            width: 47%;
            font-size: 11px;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-bottom: 5px;
        }

        button[id=sendmail] {
            width: 47%;
            font-size: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-bottom: 5px;
        }

        .sh-cancel {
            font-size: 13px;
            width: 47%;
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 5px;
        }

        .select2-container--default .select2-selection--multiple {
            border-radius: 0px !important;
        }

        .box.box-info .input-group.date {
            border-radius: 0px !important;
        }

        .datepicker {
            border-radius: 0px !important;
        }

        .label-float-down {
            margin-bottom: 0px !important;
        }
        /*bill sandry*/
        #addbillsundry tr {
            padding: 10px 0px 0px 30px !important;
            text-align: center !important;
            border: 3px solid #045de9;
            font-size: 11px;
            letter-spacing: 1px;
        }

        #addbillsundry #sh-btn-dlt {
            position: relative;
            top: 16px !important;
        }
    }

    .row {
        letter-spacing: 1px !important;
    }

    .sh-headings-bg {
        background: #eee linear-gradient( #009ffd 17%, #045de9 87%);
        border: none !important;
        color: white !important;
    }

    .box.box-info .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px !IMPORTANT;
        height: 34px !important;
    }

    .box.box-info .table th {
        color: #08c;
        min-width: 80px;
    }

    input, button, select {
        border-radius: 0px !important;
    }

    .input-group-btn .sh-align {
        height: 100% !important;
        position: relative;
        right: -1px;
        bottom: 2px;
        font-size: 13px;
        transform: scale(1.4);
    }

    .itemnote {
        height: 200px !important;
    }

    table-bordered, border-top, border-bottom, border-left, boreder-right {
        border: none !important;
    }
</style>
@using (Html.BeginForm("Edit", "StockTransfer", FormMethod.Post, new { id = "Editform", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Stock Transfer <label id="AlertEditable" class="text-red"></label></h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit StockTransfer"))
                    {
                        <a class="btn bg-black no-border" href="/StockTransfer/Edit/@ViewBag.preEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit StockTransfer"))
                    {
                        <a class="btn bg-black no-border" href="/StockTransfer/Edit/@ViewBag.nxtEntry">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                else
                {
                    if (User.IsInRole("Dev") || User.IsInRole("StockTransfer Entry"))
                    {
                        <a class="btn bg-black no-border" href="/StockTransfer/Create">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }

                @if (User.IsInRole("Dev") || User.IsInRole("StockTransfer List"))
                {
                    <a class="btn btn-success no-border" href="/StockTransfer/Index">
                        <i class="fa fa-fw fa-history"></i>List
                    </a>
                }
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <div class="box-body">
            <input type="hidden" id="ROnlyRate" value="@IRateCheck" />
            <input type="hidden" id="SelApprovedBy" />
            <input type="hidden" id="VoucherType" value="StockTransfer" />
            <input type="hidden" id="FDate" value="@Model.FinancialDate" />
            <input type="hidden" id="CDate" value="@Model.StkDate" />
            <div class="row">
                <div class="col-sm-2 col-xs-12 form-group ">
                    @Html.Label("Voucher", null, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Invoice Edit Permission"))
                    {
                        @Html.EditorFor(model => model.Voucher, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Voucher, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    }
                    @Html.HiddenFor(Model => Model.Voucher)
                </div>
                <div class="form-group col-md-2 col-xs-12">
                    @Html.Label("Stock Type", null, new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.StockType, new { @id = "StockType", @class = "form-control", tabindex = 3 })
                </div>
                <div class="col-sm-2 col-xs-12 form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })*
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(model => model.Date, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12 form-group" id="partyid">
                    @Html.Label("Material From", null, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create StockTransfer"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.MCFrom, (SelectList)ViewBag.MCbag, new { id = "ddlMCFrom", @class = "form-control select2", @required = "required", @onchange = "checkbranch()" })
                            <span class="input-group-btn">
                                <a href="/MC/Create" class="btn btn-default modal-create btnpartyAdd" title="Add Party"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.MCFrom, (SelectList)ViewBag.MCbag, "", new { id = "ddlMCFrom", @class = "form-control select2", @required = "required", @onchange = "checkbranch()" })
                    }
                </div>
                <div class="col-sm-2 col-xs-12 form-group" id="partyid">
                    @Html.Label("Material To", null, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create StockTransfer"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.MCTo, (SelectList)ViewBag.MCToBag, new { id = "ddlMCTo", @class = "form-control select2", @required = "required", @onchange = "checkbranch()" })
                            <span class="input-group-btn">
                                <a href="/MC/Create" class="btn btn-default modal-create btnpartyAdd" title="Add Party"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.MCTo, (SelectList)ViewBag.MCToBag, "", new { id = "ddlMCTo", @class = "form-control select2", @required = "required", @onchange = "checkbranch()" })
                    }
                </div>



                @if (@ViewBag.MLASTran == 0 && @ViewBag.StockTrnsfrUpdate == 0)
                {
                    <div class="form-group col-sm-2 col-xs-12" style="pointer-events: none;">
                        @Html.Label("Approved By", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlApprovedBy", (MultiSelectList)ViewBag.ApproveBy, new { @class = "form-control select2", @name = "ddlApprovedBy[]", @multiple = "multiple" })

                    </div>
                }
                else if (@ViewBag.MLASTran == 0 && @ViewBag.StockTrnsfrUpdate != 0)
                {
                    <div class="form-group col-sm-2 col-xs-12">
                        @Html.Label("Approved By", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlApprovedBy", (MultiSelectList)ViewBag.ApproveBy, new { @class = "form-control select2", @name = "ddlApprovedBy[]", @multiple = "multiple" })

                    </div>}

            </div>
            <div class="row">
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        var fmap = "";
                        if (Model.FieldMap[i].Field == "Ref1")
                        {
                            fmap = Model.Ref1;
                        }
                        if (Model.FieldMap[i].Field == "Ref2")
                        {
                            fmap = Model.Ref2;
                        }
                        if (Model.FieldMap[i].Field == "Ref3")
                        {
                            fmap = Model.Ref3;
                        }
                        if (Model.FieldMap[i].Field == "Ref4")
                        {
                            fmap = Model.Ref4;
                        }
                        if (Model.FieldMap[i].Field == "Ref5")
                        {
                            fmap = Model.Ref5;
                        }

                        <div class="form-group col-sm-2 col-xs-12">
                            <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                            <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="@fmap">
                        </div>
                    }
                }
            </div>


            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-item" id="normalinvoice">
                        <thead>
                            <tr>
                                <th class="text-center sh-headings-bg">ITEMS</th>

                            </tr>
                        </thead>
                        <tbody id="addinvoiceItem"></tbody>

                    </table>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="2" class="text-center"> Total</th>
                        </tr>
                        <tr>
                            <th> Qty</th>
                            <td class="text-right">
                                <label id="ToItemQnt"></label>
                            </td>
                        </tr>
                        <tr>
                            <th> Price</th>
                            <td class="text-right">
                                <label id="ToItemPrice"></label>
                            </td>
                        </tr>
                        <tr>
                            <th> Amount</th>
                            <td class="text-right">
                                <label id="ToItemAmount"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                @*<div class="table-responsive">
            <table class="table table-bordered table-hover" id="normalinvoice">
                <thead>
                    <tr>
                        <th class="text-center">S/N</th>
                        <th class="text-center">Item <i class="text-danger">*</i></th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Qty <i class="text-danger">*</i></th>
                        <th class="text-center">Price <i class="text-danger">*</i></th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="addinvoiceItem"></tbody>
                <tfoot>
                    <tr>
                        <td> <b>Total</b> </td>
                        <td class="text-left"> <label id="ToItemCount"></label> </td>
                        <td></td>
                        <td class="text-right"> <label id="ToItemQnt"></label> </td>
                        <td class="text-right">
                            <label id="ToItemPrice"></label>
                        </td>
                        <td class="text-right"> <label id="ToItemAmount"></label> </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>*@
            </div>
            <div class="row">
                @*<div class="col-sm-3"></div>*@

                <div class="col-md-6 form-group">
                    @Html.Label("Remarks : ", null, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = 3 })
                </div>

                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-item" id="billsundry">
                            <thead>
                                <tr class="sh-headings-bg2">
                                    @*<th class="text-center">S/N</th>*@
                                    <th class="text-center">Bill Sundry</th>
                                    @*<th class="text-center">Value</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Action</th>*@
                                </tr>
                            </thead>
                            <tbody id="addbillsundry"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2 no-padding pull-right">
                    @Html.Label("Total Amount", null, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.TotalAmount, new { id = "GrandTotal", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12">

                    <div class="form-group col-md-6 col-xs-12 no-paddingleft">
                    </div>
                    <div class="form-group no-padding text-right">
                        <div class="checkbox-inline">
                            <input class="checkbox" data-val="true" id="hideheader" name="hideheader" type="checkbox" value="true">
                            <label class="control-label" for="hideheader">Hide Header In Print</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="save" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                        <button type="submit" id="print" class="btn btn-success">
                            <span class="glyphicon glyphicon-print"></span> Update And Print
                        </button>
                        @if (@ViewBag.CheckMail == 0)
                        {
                            <button type="submit" id="sendmail" class="btn btn-success">
                                <span class="glyphicon glyphicon-envelope"></span> Save And Mail
                            </button>
                        }
                        <button type="button" class="btn btn-warning sh-cancel" onclick="@(" window.location.href='/StockTransfer/Index' ");">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModeItemCreate")
@Html.Partial("_Invoice");

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/wysihtml5")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @*@Scripts.Render("~/js/partymaterials")*@
    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/wysihtml5")
<script src="~/Content/js/partymaterials2.js"></script>

    <script type="text/javascript">

        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var id = href.substring(href.lastIndexOf('/') + 1);
            return id ? id : null;
        }

        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $(document).ready(function () {


            searchItem();

            $("#ddlMCFrom").select2({
                placeholder: 'Search Material Centre by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/MC/SearchMC",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: ""
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $("#ddlMCTo").select2({
                placeholder: 'Search Material Centre by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/MC/SearchMC",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: ""
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#SelApprovedBy").val($("#ddlApprovedBy").val());
            var EntryID = getQueryString('');

            if('@ViewBag.StockTrnsfrUpdate'=="inactive"){
               // var temURL='/StockTransfer/GetSTItems';
                CallApprovedBy();
            }
            else {

                //CallApprovedBy2();
                $("#ddlApprovedBy").select2({
                    placeholder: 'Search User',
                    minimumInputLength: 0,
                    ajax: {
                        url: "/Employee/SearchEmployeeUser2",
                        dataType: 'json',
                        delay: 50,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;
                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                });
            }
            if ('@ViewBag.StockTrnsfrUpdate' == "inactive") {
                var temURL = '/StockTransfer/GetSTItems';
            } else if ('@ViewBag.itemAproval' == 1) {
                var temURL = '/StockTransfer/GetSTItems2';
            } else {
                var temURL = '/StockTransfer/GetSTItems';

            }


            if (EntryID != null) {
                $.ajax({
                    url:temURL, //'/StockTransfer/GetSTItems',
                    dataType: 'json',
                    data: { EntryID: EntryID },
                    cache: true,
                    success: function (data) {
                        $('#addinvoiceItem').html('');
                        $.each(data, function (i, item) {
                            addrow('addinvoiceItem', 'foredit', item.Unit, item.Quantity, item.Price, item.Amount, item.Item, item.ItemName, item.ItemWithCode, item.ItemNote, item, item.ConFactor);
                            var j = i + 1;
                            $("#unit_name_" + j).val(item.Unit);
                        });
                        addrow('addinvoiceItem', 'sales', '', '0.00', '0.00', '0');
                    }
                });

                $.ajax({
                    url: '/StockTransfer/GetSTBillSundry',
                    dataType: 'json',
                    data: { EntryID: EntryID },
                    cache: true,
                    success: function (data) {
                        $.each(data, function (i, bs) {
                            addbillsundry('addbillsundry', 'sales', bs.BsValue, bs.AmountType, bs.BsAmount, bs.BsType, bs.BSName, bs.BillSundry);
                        });
                        addbillsundry('addbillsundry', 'sales', '0.00', '', '0.00', '');
                        grandtotalcalculation();
                    }
                });

            }

            $("#SelApprovedBy").val($("#ddlApprovedBy").val());

            chkEditEditable("@ViewBag.ChkApp");

            var stkval = $("#StockType").val();
            if(stkval == "1"){
                $('#ddlMCFrom').prop('disabled', true);
            }else{
                $('#ddlMCFrom').prop('disabled', false);
            }

        });
        $('body').on('change', '#ddlApprovedBy', function (e) {
            $("#SelApprovedBy").val($(this).val());
        });

        $('#Editform').on('submit', function (e) {
            e.preventDefault();
            var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
            var warnmsg=@ViewBag.WarnMsg;
            if(warnmsg == 0){
                var WMsg = confirm("Do you want to Save..?");
                if(WMsg==true){
                    SaveFunction(fnval);
                }else{
                }
            }else{
                SaveFunction(fnval);
            }
        });


        function SaveFunction(fnval) {
            var tem = $("#ddlApprovedBy").val();
            $("#SelApprovedBy").val(tem);
            if ($("#Editform").valid()) {
                var EntryID = getQueryString('');
                var Date = $('#Date').val();
                var MCFrom = $('#ddlMCFrom').val();
                var MCTo = $('#ddlMCTo').val();
                var Remarks = $('#Remarks').val();
                var TotItemCount = $('#ToItemCount').text();
                var TotItemQuantity = $('#ToItemQnt').text();
                var TotPrice = $('#ToItemPrice').text();
                var TotAmount = $('#GrandTotal').val();
                var Voucher = $('#Voucher').val();
                var ApprovedBy = $('#SelApprovedBy').val();
                var StockType = $('#StockType').val();

                var Ref1 = "";
                var Ref2 = "";
                var Ref3 = "";
                var Ref4 = "";
                var Ref5 = "";
                if ('@Model.FieldMap.Count' > 0)
                {
                    Ref1 = $('#Ref1').val();
                    Ref2 = $('#Ref2').val();
                    Ref3 = $('#Ref3').val();
                    Ref4 = $('#Ref4').val();
                    Ref5 = $('#Ref5').val();
                }

                var HTMLtbl = {
                    getData: function (table) {
                        var data = [];
                        table.find('tr').not(':first').not('.item_').each(function (rowIndex, r) {
                            var cols = [];
                            $(this).find('input,textarea,select').each(function (colIndex, c) {
                                cols.push($(this).val());
                            });
                            data.push(cols);
                        });
                        return data;
                    }
                }
                var HTMLtblbs = {
                    getData: function (table) {
                        var bsData = [];
                        table.find('tr').not(':first').not('.bs_').each(function (rowIndex, r) {
                            var cols = {};
                            $(this).find('input,textarea,select').each(function (colIndex, c) {
                                itid = $(this).attr('data-name').split(' ')[0];
                                itval = ($(this).val() != "") ? $(this).val() : $(this).text();
                                cols[itid] = itval;

                            });
                            bsData.push(cols);
                        });
                        return bsData;
                    }
                }
                var bsData = HTMLtblbs.getData($('#billsundry'));
                var salesEntry = [ Voucher, Date, MCFrom, MCTo, Remarks, TotItemCount,
                    TotItemQuantity, TotPrice, TotAmount, EntryID, ApprovedBy,StockType,
                    Ref1, Ref2, Ref3, Ref4, Ref5]


                var data = HTMLtbl.getData($('#normalinvoice'));
                var parameters = {};
                parameters.array = data;
                parameters.mtdata = salesEntry;
                parameters.action = fnval;
                parameters.bsmodel = { 'sebsundrys': bsData }

                if (fnval == "save") {
                    submitForm(fnval, parameters);
                } else if (fnval == "print") {
                    submitForm(fnval, parameters);
                } else if (fnval == "sendmail") {
                    if ($('#custEmailId').val() != "") {
                        submitForm(fnval, parameters);
                    } else {
                        $('.ajax_response', res_danger).text("Party Email Address Not Found..!!");
                        $('.AlertDiv').prepend(res_danger);
                    }
                }
            }
        }

        function submitForm(fnval, parameters) {
            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/StockTransfer/Edit",
                data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (e.status == true) {
                        if (fnval == "print") {
                            PrintStockTransferInvoice(e,"_Invoice") ;
                        }
                        else {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                        }
                        // window.location.href = '@Url.Action("Index", "StockTransfer")';
                        setTimeout(function () { window.location.href = '/StockTransfer/Index'; }, '@TimeOut');//{ location.reload(); }, 'TimeOut');
                    } else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button
                    }
                }
            });
        }
        AddItemPopUp();

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });



        $('#modal-create-lg').on('shown.bs.modal', function (e) {
            //Item Category
            ItemCategory();
            ItemBrand();

            Itemtype();
            $('#KeepStock').click(function () {
                clickstock();
            });
        });
        function checkbranch() {
            var to = $("#ddlMCFrom").val();
            var from = $("#ddlMCTo").val();
            //alert(to);
            if(to!=null && from !=null){
                if (to == from) {
                    alert("Material Centers are same please select differnet Centres");
                    $("#ddlMCTo").val(null).trigger("change");
                }
            }
            getAprovalby();
    }

        function getAprovalby() {
            if ('@ViewBag.StockTrnsfrUpdate' == "active") {
            var from = $("#ddlMCTo").val();


            $.ajax({
                url: '/StockTransfer/GetApprovalby',
                dataType: 'json',
                data: { mc: from },
                cache: true,
                success: function (data) {
                    //$("#ddlApprovedBy").multiselect('refresh');//.multiselect('refresh');
                    $("#ddlApprovedBy").val("");
                    $("#ddlApprovedBy").removeClass("select2");
                    var values = new Array();
                    $.each(data, function (i, item) {
                        values.push(item.ID);
                        //  $('#ddlApprovedBy option[value=' + item.ID + ']').attr('selected', true);


                    });
                    $('#ddlApprovedBy').val(values).trigger("change");
                    $("#ddlApprovedBy").select2({
                        placeholder: 'Search User',
                        minimumInputLength: 0,
                        ajax: {
                            url: "/Employee/SearchEmployeeUser2",
                            dataType: 'json',
                            delay: 50,
                            data: function (params) {
                                return {
                                    q: params.term,
                                    page: params.page
                                };
                            },
                            processResults: function (data, params) {
                                params.page = params.page || 1;
                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                    });
                    //var tempCust = $("#ddlCustomer2").val();

                    //$('#addinvoiceItem').html('');
                    //$.each(data, function (i, item) {
                    //    addrow('addinvoiceItem', 'foredit', item.Unit, item.Quantity, item.Price, item.Amount, item.Item, item.ItemName, item.ItemWithCode, item.ItemNote, item, item.ConFactor);
                    //    var j = i + 1;
                    //    $("#unit_name_" + j).val(item.Unit);
                    //});
                    //addrow('addinvoiceItem', 'sales', '', '0.00', '0.00', '0');
                }
            });
        }
    }
        function PrintStockTransferInvoice(e,type)
        {

            $("#lblCName").text(e.cdetails.CName);
            $("#lblVoucherNo").text(e.summary.VoucherNo);
            $("#lblDate").text(convertToDate(e.summary.Date));
            $("#lblCreatedBy").text(e.summary.CreatedBy);
            $("#lblMaterialFrom").text(e.summary.MCFrom);
            $("#lblMaterialTo").text(e.summary.MCTo);
            $("#lblRemark").text(e.summary.Remark);
            // bindPOSItem(e);
            var itemsData = bindPOSItem(e);
            $('#itemtable').append(itemsData);
            $("#lblAmount").text(parseFloat(e.summary.ItemSubTotal).toFixed(2));
            $("#lblGrandTotal").text(parseFloat(e.summary.GrandTotal).toFixed(2));

            if (e.summary.ComHeadCheck == 0) {
                $("#ComHeadCheck").hide();
            }
            else {
                $("#ComHeadCheck").show();
            }

            if (e.fmapp!=null) {
                $.each(e.fmapp, function (i, mapp) {

                    if (mapp.Field == "Ref1") {
                        $("#IblRef1").text(mapp.FieldName);
                        $("#IblRef1Val").text(e.summary.Ref1);
                        $("#divRef1").show();
                    }
                    if (mapp.Field == "Ref2") {
                        $("#IblRef2").text(mapp.FieldName);
                        $("#IblRef2Val").text(e.summary.Ref2);
                        $("#divRef2").show();
                    }
                    if (mapp.Field == "Ref3") {
                        $("#IblRef3").text(mapp.FieldName);
                        $("#IblRef3Val").text(e.summary.Ref3);
                        $("#divRef3").show();
                    }
                    if (mapp.Field == "Ref4") {
                        $("#IblRef4").text(mapp.FieldName);
                        $("#IblRef4Val").text(e.summary.Ref4);
                        $("#divRef4").show();
                    }
                    if (mapp.Field == "Ref5") {
                        $("#IblRef5").text(mapp.FieldName);
                        $("#IblRef5Val").text(e.summary.Ref5);
                        $("#divRef5").show();
                    }
                });
            }

            var grt = parseFloat(e.summary.GrandTotal).toFixed(2);
            var word = conNumber(grt);
            //word = word.substring(0, word.lastIndexOf(" "));
            var str = "";
            $.each(e.billsundry, function (i, billsundry) {
                str += "<tr class='text-right'>";
                str += '<td colspan="4"><h5><strong>' +billsundry.BillSundry+'<strong></h5></td>';
                str += '<td colspan="3"><h5>'+parseFloat(billsundry.BsAmount).toFixed(2)+'</h5></td>';
                str += '</tr>';
            });
            str += '<tr class="text-right"><td><h4><strong>' + word +' Only</strong></h4></td><td colspan="3"><h3><strong>Grand Total</strong></h3></td>'+
            '<td colspan="2" ><h3>'+parseFloat(e.summary.GrandTotal).toFixed(2)+ '</h3></td></tr>';

            if ($('#hideheader').prop('checked') == true) {
                $('#ComHeadCheck').hide();
                $('#ComfootCheck').hide();
                //$(".invoice.print").css("margin-top", "100px");
                $("#comHeader").css("margin-top", "100px");
            }
            else {
                $('#ComHeadCheck').show();
                $('#ComfootCheck').show();
            }

            $('#posfoot').append(str);
            var originalpage = document.body.innerHTML;
            var printContent = $('#printit').html();
            $('body').html(printContent);
            var titlename = "_invoice - " + e.summary.CreatedBy + " - " + e.summary.VoucherNo;
            $('title').html(titlename);
            window.print();
        }

        function bindPOSItem(e) {
            var total = parseFloat(0);
            var TQunty = parseFloat(0);
            var Tprice= parseFloat(0);
            var count = 1;
            var Quantity = parseFloat(0);
            var str = "";
            var PartNoSts = 1;
            var PartNo=""
            $('#PartNo').hide();

            $.each(e.item, function (i, item) {
                //var str="";
                var subtot = parseFloat(item.ItemTotalAmount.toFixed(2));
                total += subtot;
                var Quantity = parseFloat(item.ItemQuantity.toFixed(2));
                TQunty += Quantity;
                var Price = parseFloat(item.Price.toFixed(2));
                Tprice += Price ;
                var unit = (item.ItemUnit != null) ? item.ItemUnit : "";
                PartNo = (item.PartNumber != null && item.PartNumber != "") ? item.PartNumber : "";
                str += '<tr>';
                str +='<td>' + count +'</td>'
                if(item.PNoStatus == 0)
                {
                    PartNoSts = 0
                    $('#PartNo').show();
                    str += '<td>' + PartNo +'</td>'
                }

                str += '<td>' + item.ItemCode + "-" + item.ItemName + '</td>';
                str+= '<td>' + unit +'</td>';
                str += '<td class="text-right">' + parseFloat(item.ItemQuantity).toFixed (2)+ '</td>';
                str += '<td class="text-right">' + parseFloat(item.Price).toFixed(2) + '</td>';
                str += '<td class="text-right">' + parseFloat(item.ItemTotalAmount).toFixed(2) + '</td>';
                str += '</tr>';
                count++;
            });
            $("#lblTotalAmount").text(parseFloat(total).toFixed(2));
            //bind footer for totalQuantity ToatalPrice and Amount
            var Row ="";
            Row += '<tr class="border-top">';
            Row += '<td><h5><strong>' + "Total" + '</h5></strong></td>';
            if(PartNoSts == 0)
            {
                var PartNo = (PartNo != null && PartNo!= "") ? PartNo : "";
                Row += '<td><h5><strong>' + PartNo + '</h5></strong></td>';
            }
            Row += '<td>' + "" + '</td>';
            Row += '<td>' + "" + '</td>';

            Row += '<td class="text-right"><h5><strong>' + parseFloat(TQunty).toFixed(2) + '</h5></strong></td>';
            Row += '<td class="text-right"><h5><strong>' + parseFloat(Tprice).toFixed(2) + '</h5></strong></td>';
            Row += '<td class="text-right"><h5><strong>' + parseFloat(total).toFixed(2)+ '</h5></strong></td>';
            Row +='</tr>';

            $('#posfootR').append(Row);

            return str;
        }
        $('body').on('change', '#StockType', function (e) {
            var stkval = $(this).val();
            if(stkval == "1"){
                $('#ddlMCFrom').prop('disabled', true);
                $('#ddlMCFrom').val(1).trigger('change');
                var fdate=$("#FDate").val();
                var cdate=$("#CDate").val();
                if(fdate!=""){
                    $('#Date').val(fdate);
                }else{
                    $('#Date').val(cdate);
                }
            }else{
                $('#ddlMCFrom').prop('disabled', false);
                $('#ddlMCFrom').val(null).trigger('change');
                var cdate=$("#CDate").val();
                $('#Date').val(cdate);
            }
        });
    </script>
}
