@{
    ViewBag.Title = "Optional Field List";
    ViewBag.SubTitle = "Item";
    ViewBag.Active = "Master";
    string actData = "";

}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Optional Field</h3>
        <div class="pull-right">
            @*@if (User.IsInRole("Dev") || User.IsInRole("Create City"))
                {*@
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            
            @*}*@
        </div>
    </div>

    <div class="box-body">
       
        <div class="box-body">
            <form id="search-form">
                @using (Html.BeginForm("Index", "OptionalFieldUpdate", FormMethod.Post, new { id = "popupForm", target = "_new" }))
                {
                    <div class="row">
                            <div class="form-group col-md-2" id="CusDiv">
                                @Html.Label("Section", null, new { @class = "control-label" })
                                @Html.DropDownList("ddlsection", (SelectList)ViewBag.Section, "Select Section", new { @class = "form-control", @required = "required" })
                            </div>
                        <div class="form-group col-md-2" id="CusDiv">
                            @Html.Label("Field", null, new { @class = "control-label" })
                            @Html.DropDownList("ddlfield", (SelectList)ViewBag.Field, new { @class = "form-control", @required = "required" })
                        </div>
                            <div class="clearfix"></div>
                        <div class="box-footer col-md-12">
                            <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                            <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                        </div>
                        </div>
                }
            </form>
        </div>

        <div id="tableSection">
            <table class="table table-bordered table-hover" id="Ref1List">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1">S/N</td>
                        <td data-priority="2">Field Value</td>

                        <td data-priority="6">Action</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@{var Model = "modal-md";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalEdit", @Model)
@Html.Partial("../Common/_ModalDelete")

@section style{
        @Styles.Render("~/css/bootstrap-datepicker")
    }

@section scripts{
@Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlsection').select2();
            $('#tableSection').hide();
            //addopfield('addoption', 'optionalfield', '', '', '');
        });
        $('body').on('change', '#ddlsection', function (e) {
            // $('#search-form').submit();
            $("#ddlfield").val("0");
            $("#ddlfield").html("");

            var SectionVal = $(this).val();
            SearchOptnField(SectionVal);
        });
        function SearchOptnField(SectionVal) {

            $("#ddlfield").select2({
                placeholder: 'Select Field',
                minimumInputLength: 0,
                ajax: {
                    url: "/OptionalFieldUpdate/SearchOptionField",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            VTid: SectionVal,
                            x: " Select Field"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
        //var flag = 0;
        //$('body').on('change', '#ddlsection', function (e) {
        //    e.preventDefault();
        //    if (flag == 0) {
        //        showdatatable();
        //        flag = 0;
        //    }
        //    else
        //        oTable.draw();
        //});
        function searchData(data) {
            data.Name = $('#ddlsection').val();
            data.Field = $('#ddlfield').val();
        }
            
        function showdatatable() {
           // $('#tableSection').show();
            var oTable = $('#Ref1List').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "stateSave": true,
                "bDestroy": true,
                "bLengthChange": false,
                responsive: true,
                "paging": true,
                "pageLength": 50,
                "ordering": true,
                "ajax": {
                    "url": '/OptionalFieldUpdate/GetRef1',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (data) {
                        data = searchData(data);
                    },
                },
                "order": [[0, "desc"]],
                "columnDefs": [{ orderable: false, targets: -1 }],
                "columns": [
                    {
                        "data": "Id", "name": "Id",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "Ref1", "name": "Ref1" },

                        {
                            "name": "Id", "data": function (data) {
                                var rest = "";

                                @{                               
                               // if (User.IsInRole("Dev") || User.IsInRole("Edit City"))
                               // {
                                    actData += "<a class=\"modal-edit\" href=\"/OptionalFieldUpdate/Edit/?ref1='+data.Id+'&name='+data.Name+'&Field='+data.Ref+'\" title=\"Edit City\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                               // }
                               // if (User.IsInRole("Dev") || User.IsInRole("Delete City"))
                               // {
                                    actData += "<a class=\"modal-delete\" href=\"/OptionalFieldUpdate/Delete/?ref1='+ data.Id+'&name='+data.Name+'&Field='+data.Ref+'\" title=\"Delete City\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                               // }
                                    }
                                return rest = '@Html.Raw(actData)';
                            }
                        }
                ]
            });
            $('#search-form').on('submit', function (e) {

                e.preventDefault();
                oTable.draw();
                $('#Ref1List').show();
                
            });
        }

        var flag = 0;
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            if (flag == 0) {
                showdatatable();
                flag = 0;
            }
            else
                oTable.draw();

            $('#tableSection').show();
        });
        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false);
        }

        $('#Ref1List tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
        /* Create function for City */
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        /* Edit function for  City */
        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
            showdatatable();
            //alert($('.ajax_response').html());
        });

        /* Delete Function for City */
        $('div').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
            showdatatable();
        });
    </script>
}



