
@model QuickSoft.ViewModel.ContraVoucherViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Contra Voucher Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.VoucherNo)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(Model.Date)))
                    @*@Html.DisplayFor(m => m.SEDate)*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Pay From :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.debitor)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Pay To :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.creditor)
                </div>
               
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Remarks </strong><br />
                            @Model.Remark
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.Amount)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
