
@using System.Data.SqlClient
@using QuickSoft.Models
@using QuickSoft.ViewModel
@using BindAcc
@model QuickSoft.ViewModel.BalanceSheetViewModel
@{
    ViewBag.Title = "Balance Sheet";
    ViewBag.SubTitle = "Balance Sheet";
    ViewBag.Active = "Accounts";

    decimal? GLAmount = 0;
    decimal? GAAmount = 0;
    decimal? pfbfw = 0;
}
<div class="box box-default" id="LReport">
    <div class="box-header with-border">
        <h3 class="box-title">Balance Sheet</h3>
    </div>
    <div class="box-body">
        <div class="box-body">

            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <input type="hidden" id="fromdate" value="@ViewBag.frmDt" />
            <input type="hidden" id="todate" value="@ViewBag.ToDt" />
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td class="text-center" colspan="6">
                            From : @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))  To :  @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to)) @*At the end of*@
                        </td>
                    </tr>
                    <tr class="bg-gray">
                        <td>
                            LIABILITIES
                        </td>
                        <td></td>
                        <td class="text-center">Amount (AED)</td>
                        <td>
                            ASSETS
                        </td>
                        <td></td>
                        <td class="text-center">Amount (AED)</td>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.BalanceSheetDisplay.Any())
                    {
                        decimal? moo = Model.BalanceSheetDisplay.Where(o => o.ParentA == 0 && o.AccountGroupIDA != -11).Sum(o => o.DebitA - o.CreditA) - Model.BalanceSheetDisplay.Where(o => o.ParentL == 0 && o.AccountGroupIDL != -11).Sum(o => o.DebitL - o.CreditL);
                        var mo = Math.Abs(Convert.ToDecimal(moo));
                        Model.BalanceSheetDisplay.Where(o => o.AccountGroupIDA == -11 || o.AccountGroupIDL == -11).ToList().ForEach(o => { o.DebitA = mo; o.DebitL = mo; });

                        foreach (var item in Model.BalanceSheetDisplay)
                        {
                            decimal? AmountL = 0;
                            decimal? AmountA = 0;

                            decimal? DebitL = 0;
                            decimal? CreditL = 0;
                            decimal? DebitA = 0;
                            decimal? CreditA = 0;


                            //var accGpIdL = item.AccountsGroupIDL;
                            DebitL = item.DebitL;
                            CreditL = item.CreditL;
                            if (DebitL < 0 && CreditL == 0)
                            {
                                AmountL = DebitL;
                            }
                            else if (DebitL > CreditL)
                            {
                                AmountL = Math.Abs(Convert.ToDecimal((DebitL - CreditL)));
                            }
                            else
                            {
                                AmountL = (CreditL - DebitL);
                            }

                            AmountL = AmountL != null ? AmountL : 0;
                            //AmountL = AmountL < 0 ? (0 - AmountL) : AmountL;

                            //var accGpIdA = item.AccountsGroupIDA;
                            DebitA = item.DebitA;
                            CreditA = item.CreditA;

                            if (DebitA > CreditA)
                            {
                                AmountA = Math.Abs(Convert.ToDecimal((DebitA - CreditA)));
                            }
                            else if (CreditA != 0)
                            {
                                AmountA = Math.Abs(Convert.ToDecimal((CreditA - DebitA)));
                            }
                            else
                            {
                                AmountA = DebitA;
                            }

                            AmountA = AmountA != null ? AmountA : 0;
                            //AmountA = AmountA < 0 ? (0 - AmountA) : AmountA;


                            // GLAmount += AmountL;
                            // GAAmount += AmountA;

                            <tr>
                                @if (item.ParentL == 0)
                                {

                                    <td class="text-red notin"><a href="/BalanceSheet/GetGroupTrialBalancebalancesheet?AccGroup=@item.AccountGroupIDL&type2=liability&frmdate=@ViewBag.frmDt&todate=@ViewBag.ToDt&parent=@item.ParticularL&pdc=false" target="_blank">@item.ParticularL</td>
                                    if (AmountL.Value.ToString("0.00") != "0.00")
                                    {
                                        if (item.ParticularL == "Retained Earnings")
                                        {
                                            <td></td>
                                            <td class="text-right" id="pfbfw">@AmountL.Value</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td class="text-right">@AmountL.Value</td>
                                        }
                                        GLAmount += AmountL;
                                    }
                                    else
                                    {
                                        <td></td>
                                        if (item.ParticularL != "")
                                        {
                                            <td class="text-right">0.00</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style=""></td>

                                    @*<td>&nbsp;&nbsp;<a href="/MyReports/GetLedger?AccId=-1&fromdate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))&todate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))&AccGroup=@item.AccountGroupIDL&pdc=null">@item.ParticularL</a></td>*@

                                    if (AmountL.Value.ToString("0.00") != "0.00")
                                    {
                                        <td class="text-right"></td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }
                                }
                                @if (item.ParentA == 0)
                                {
                                    if ("Stock-in-hand" == item.ParticularA)
                                    {
                                        <td class="text-red notin"><a href="/Inventory/Index" target="_blank">@item.ParticularA</a></td>

                                    }
                                    else
                                    {
                                        <td class="text-red notin"><a href="/BalanceSheet/GetGroupTrialBalancebalancesheet?AccGroup=@item.AccountGroupIDA&type2=liability&frmdate=@ViewBag.frmDt&todate=@ViewBag.ToDt&parent=@item.ParticularA&pdc=false" target="_blank">@item.ParticularA</a></td>

                                    }
                                    if (AmountA.Value.ToString("0.00") != "0.00")
                                    {
                                        <td></td>
                                        <td class="text-right">@AmountA.Value.ToString("0.00")</td>
                                        GAAmount += AmountA;
                                    }
                                    else
                                    {
                                        <td></td>
                                        if (item.ParticularA != "")
                                        {
                                            <td class="text-right">0.00</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                }
                                else
                                {
                                    if (@item.AccountGroupIDA == 12)
                                    {
                                        <td style=""></td>

                                    }
                                    else
                                    {
                                        <td style=""></td>
                                    }
                                    @*<td>&nbsp;&nbsp;<a href="/MyReports/GetLedger?AccId=-1&fromdate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))&todate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))&AccGroup=@item.AccountGroupIDA&pdc=null">@item.ParticularA</a></td>*@

                                    if (AmountA.Value.ToString("0.00") != "0.00")
                                    {
                                        <td class="text-right"></td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            Difference in Opening Balance
                        </td>

                        <td class="text-center"></td>
                        <td id="profitsdebit" class="text-right"></td>
                        <td>
                        </td>

                        <td class="text-center"></td>
                        <td id="profitscredit" class="text-right"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td class="text-right" id="totalgl"><b>@GLAmount.Value.ToString("N2")</b></td>
                        <td></td>
                        <td></td>
                        <td class="text-right" id="totalga"><b>@GAAmount.Value.ToString("N2")</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(window).scroll(function (e) {
            var scroll = $(window).scrollTop();
            if (scroll >= 0) {
                $('.treeview-menu').addClass("navbar-hide");
                var i = scroll;
                $(".navbar-hide").css('margin-top', -i);

            } else {
                $(".navbar-hide").css('margin-top', 0);
                $('.treeview-menu').removeClass("navbar-hide");
            }

        });
    jQuery(function ($) {
        @{

            var profit = GAAmount - GLAmount;

}
        var diffop = parseFloat('@Html.Raw(profit)');
        var gaamt = '@Html.Raw(GAAmount.Value)';
        var glamt = '@Html.Raw(GLAmount.Value)';
        var profitbrotfowar = parseFloat($("#pfbfw").text());

        //$("#profitsdebit").text(parseFloat(diffop).toFixed(2));

        if (diffop > 0) {
            //  $("#profitsdebit").text(diffop);
            var actualprofit = parseFloat(parseFloat($("#pfbfw").text()) + parseFloat(diffop)).toFixed(2);
            $("#pfbfw").text(actualprofit)
           // $("#pfbfw").text(parseFloat(profitbrotfowar + diffop).toFixed(2));
            $("#totalga").html(parseFloat(gaamt ).toFixed(2));
            $("#totalgl").html(parseFloat(gaamt ).toFixed(2));
         }
         else {
         //   $("#profitscredit").text(diffop * -1);
         //   $("#pfbfw").text(parseFloat(profitbrotfowar + diffop).toFixed(2));
            var actualprofit = parseFloat(parseFloat($("#profitscredit").text()) - parseFloat(diffop)).toFixed(2);
            $("#pfbfw").text(actualprofit)
            $("#totalgl").html(parseFloat(gaamt).toFixed(2));
            $("#totalga").html(parseFloat(gaamt).toFixed(2));
         }
         var oTable = $('#UserTable').DataTable({
             "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": false,
                //"order": [[0, "asc"]],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                 extend: 'print',//
                        title: "",
                        footer: true,
                        filename: function () {
                     return 'Balance Sheet';
                 },
                        message: '<table class="tblcompact table table-bordered"><thead>' +
                            ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Balance Sheet</h4></th></tr>' +
                            ' <tr><th class="text-center"><span> From :  ' + $('#fromdate').val() + '</span><span> To :  ' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>',
                        customize: function (win) {

                            $(win.document.body).find('table, th,tr, td ')
                                // .css('border', 'inherit')
                                .css('font-size', '10pt')
                                .css('padding', '5px')
                                .addClass('compact');
                            $(win.document.body).append('</td></tr></tbody>')

                        }
             }, 'copy', 'csv',
                    {
                 extend: 'excel',
                        title: "",
                        footer: true,
                        filename: function () {
                     return 'Balance Sheet';
                 },
                        message:
                 '' + $('#cname').val() + '\n' +
                 '' + $('#caddress').val() + '\n' +
                 ' Balance Sheet \n' +
                 'From :  ' + $('#fromdate').val() +
                 ' To :  ' + $('#todate').val() + ''
                        ,
                        pageSize: 'A4',
                        exportOptions: {
                     columns: [0, 1, 2, 3, 4, 5]
                        },
                    },
                    {
                 extend: 'pdf',//
                        title: "",
                        footer: true,
                        filename: function () {
                     return 'Balance Sheet';
                 },
                        message:
                 '' + $('#cname').val() + '\n' +
                 '' + $('#caddress').val() + '\n' +
                 ' Balance Sheet \n' +
                 'From :  ' + $('#fromdate').val() +
                 ' To :  ' + $('#todate').val() + ''
                        ,
                        pageSize: 'A4',
                        exportOptions: {
                     columns: [0, 1, 2, 3, 4, 5]
         },
                        customize: function (doc) {
                     doc.pageMargins = [10, 10, 10, 10];
                     doc.defaultStyle.fontSize = 10;
                     doc.styles.tableHeader.fontSize = 10;
                     doc.styles.title.fontSize = 12;
                     // Remove spaces around page title
                     doc.content[0].text = doc.content[0].text.trim();



                     doc.content[1].table.widths = [
                         '20%',
                         '15%',
                         '15%',
                         '20%',
                         '15%',
                         '15%',





                     ]

                            var objLayout = {};
                     // Horizontal line thickness
                     objLayout['hLineWidth'] = function (i) { return .5; };
                     // Vertikal line thickness
                     objLayout['vLineWidth'] = function (i) { return .5; };
                     //// Horizontal line color
                     //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                     //// Vertical line color
                     //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                     // Left padding of the cell
                     objLayout['paddingLeft'] = function (i) { return 4; };
                     // Right padding of the cell
                     objLayout['paddingRight'] = function (i) { return 4; };
                     // Inject the object in the document
                     doc.content[1].layout = objLayout;
                 }
             },

                ],
                sDom: "lBfr<'datatable-scroll't>ip"
            });
        });
    </script>
}


