@model QuickSoft.ViewModel.PipeLineSubmitViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View PipeLine Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h4 class="box-title">PipeLine Details</h4>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Leads Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CustomerName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Leads Code  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CustomerCode)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Tax Reg No  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.TaxRegNo)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Credit Limit :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CreditLimit)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Credit Period :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CreditPeriod)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Location :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Location)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Sales Person :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.SalesEmp)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Source Of Lead :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.SrcLead)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Remark :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Remark)
            </div>
        </div>
        <div class="box-header with-border">
            <h4 class="box-title">Contact Details</h4>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Address :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Address)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("City  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.City)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("State :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.State)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Country :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Country)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Zip :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Zip)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Phone :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Phone)
            </div>
                      
            <div class="form-group col-md-4">
                @Html.Label("Fax :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Fax)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Email Id :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.EmailId)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Reference :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Reference)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Contact Person :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.ContactPerson)
            </div>
            @if (Model.mobmodel.Count > 0)
            {
                if (Model.mobmodel != null)
                {
                    <div class="form-group col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Mobile </th>
                                <th>Name </th>
                            </tr>
                            @foreach (var itemss in Model.mobmodel)
                            {
                                if (@itemss.Num != null)
                                {
                                    <tr>
                                        <td>@itemss.Num</td>
                                        <td>@itemss.Name</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                }

            }
            else
            {
                <div class="form-group col-md-4">
                    @Html.Label("Mobile :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Mobile)
                </div>
            }

        </div>
        <div class="box-header with-border">
            <h4 class="box-title">Bank Details</h4>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Bank Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.BankName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Account No :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.AccountNo)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Iban No :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.IbanNo)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Branch Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.BranchName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Swift :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Swift)
            </div>
        </div>
        <div class="box-header with-border">
            <h4 class="box-title">Account Details</h4>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CustomerName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Alias  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CustomerName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Print Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CustomerName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("OpnBalance :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.OpnBalance)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Credit/Debit :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.DC)
            </div>
        </div>
    </div>
</div>
