@model QuickSoft.ViewModel.PayheadViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Payhead";
    ViewBag.Active = "Payroll Settings";
}

@using (Html.BeginForm("Create", "Payhead", FormMethod.Post, new { id = "createpayform", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Payhead</h3> 
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Payhead"))
                    {
                <a class="btn bg-black no-border" href="/Hr/Payhead/Edit/@ViewBag.LastEntry">
                    <i class="fa fa-step-backward"></i>
                </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Payhead"))
                {
                <a class="btn btn-success no-border" href="/Hr/Payhead">
                    <i class="fa fa-fw fa-history"></i> List
                </a>
                }
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="box-title"><b>Pay Head Creation</b></h5>
                    <div class="row">
                        <div class="form-group col-md-2">
                            @Html.Label("Name", null, new { @class = "control-label col-sm-4" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                    </div>
                    <h5><b>Pay Head Information</b></h5>
                    <div class="form-group col-md-2">
                        @Html.Label("Pay head Type", null, new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.Type,"", new { @class = "form-control input-sm"})
                    </div>
                    
                    <div class="form-group col-md-2" id="inctype">
                        @Html.Label("Income Type", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.IncomeType, (SelectList)ViewBag.IncType, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Under", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.Accountgroup, (SelectList)ViewBag.Grp, "--select--", new { @required = "required" , @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.OpnBalance, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance Debit", tabindex = 26 } })
                            <div class="input-group-addon no-padding dcwidth">
                                @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 27 })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2" id="affnetsalary">
                        @Html.Label("Affect net salary", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.affectnetsalary, (SelectList)ViewBag.NetSalary, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Name in Payslip", null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.NameinSlip, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-2" id="calgratuity">
                        @Html.Label("Use for calculation of Gratuity", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.UseGratuity, (SelectList)ViewBag.NetSalary, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="CalcType">
                        @Html.Label("Calculation Type", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.CalculationType, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2 select2-box" id="AtType">
                        @Html.Label("Attendance/Leave with pay", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.AttendanceType, (SelectList)ViewBag.AttType, "Not Applicable", new { @class = "form-control select2 input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="leavpay">
                        @Html.Label("Leave without pay", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.Leave, (SelectList)ViewBag.LeaveType, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="Calper">
                        @Html.Label("Calculation Period", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.CalculationPeriod, (SelectList)ViewBag.CalPeriod, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="basiscalc">
                        @Html.Label("Basis of Calculation", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.CalculationBasis, "", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="divday">
                        @Html.Label("Days in Month", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.days, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-2" id="proddiv">
                        @Html.Label("Production Type", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.ProductionType, (SelectList)ViewBag.ProdType, "", new { @class = "form-control input-sm" })
                    </div>
                </div>
                <hr />
                <div class="form-group col-md-6" id="Gratuitydiv">
                    <h5 class="box-title"><b>Slab Rate details for Gratuity Calculation</b></h5>
                    <div class="form-group col-md-2">
                        @Html.Label("Gratuity days of a month", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.GratuityDays, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <table class="display" id="gratuitytable">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Number of Months<i class="text-danger"></i></th>
                                <th class="text-center">Eligibilty days for Gratuity calculation per year<i class="text-danger"></i></th>
                            </tr>
                            <tr>
                                <th class="item-lists col-md-1">From<i class="text-danger"></i></th>
                                <th class="item-lists col-md-1">To<i class="text-danger"></i></th>
                                <th class="item-lists">Days<i class="text-danger"></i></th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="gratuitybody"></tbody>
                    </table>
                </div>
                    <div class="row">
                        <div class="box-body" id="comptable">
                            <h5 class="box-title"><b>Computation Information</b></h5>
                            <div class="form-group col-md-2" id="comp">
                                @Html.Label("Compute", null, htmlAttributes: new { @class = "control-label " })
                                @Html.EnumDropDownListFor(model => model.Compute, new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group col-md-2" id="Specformula">
                                @Html.Label("Specified formula", null, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(m => m.Specifiedformula, (SelectList)ViewBag.formula, new { @class = "form-control input-sm" })
                            </div>
                            <table class="table table-bordered table-hover" id="ComputeTable">
                                <thead>
                                    <tr>
                                        <td data-priority="1">#</td>
                                        <td data-priority="2">Effective from</td>
                                        <td data-priority="2">Amount Greater than</td>
                                        <td data-priority="2">Amount Upto</td>
                                        <td data-priority="5">Slab Type</td>
                                        <td data-priority="5">Value</td>
                                    </tr>
                                </thead>
                                <tbody id="addcomputetable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info col-sm-offset-4">Save</button>
                        <button type="button" class="btn btn-warning" onclick="@("window.location.href='/Hr/Payhead/Index'");">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Gratuity")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }

            $('#AtType').hide();
            $('#leavpay').hide();
            $('#basiscalc').hide();
            $('#Calper').hide();
            $('#divday').hide();
            addpayhead('addcomputetable', 'create', '', '0', '0', '', '');
            $('#comptable').hide();
            $("#Type").select2();
            $("#IncomeType").select2();
            $("#Accountgroup").select2();
            $("#affectnetsalary").select2();
            $("#CalculationType").select2();
            $("#AttendanceType").select2();
            $('#proddiv').hide();
            CallAccgrp();

            $('#Gratuitydiv').hide();

            //comment payhead type(Temp)
            $('#Type option:contains(Employers Other Charges)').remove();
            $('#Type option:contains(Bonus)').remove();
           // $('#Type option:contains(Earnings In Annual Leave)').remove();
           // $('#Type option:contains(Deduction In Annual Leave)').remove();
        });

        $('#createpayform').on('submit', function (e) {
            if ($("#createpayform").valid()) {
                e.preventDefault();
                var url = $('#createpayform')[0].action;
                var formData = new FormData(this);
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            location.reload();// window.location.href = '@Url.Action("Index", "Payhead")';
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });
        $('body').on('change', '#Type', function (e) {
            $("#Accountgroup").val(0).trigger("change");
            CallAccgrp();
            $("#CalculationType").prop("disabled", false);
            $("#CalculationPeriod").prop("disabled", false);
            $('#Gratuitydiv').hide();//gratuity div
            $('#calgratuity').hide();//use for gratuity
            $('#inctype').hide();//income type
            $('#AtType').hide();//Attendance type
            $('#affnetsalary').hide();//affect net salary
            $('#comptable').hide();//compute table
            $('#CalcType').hide();//calculation type
            $('#Specformula').hide();//
            $('#Calper').hide();//calculation period
            var typ = $('#Type').val(); 
            if (typ == 1) {                
                $('#CalcType').show();
                $('#CalcType').show();
                $("#CalculationType").val(0).trigger('change');
            }
            else if (typ == 2) {
                $('#CalcType').show();
                $("#CalculationType").val(1).trigger('change');
                $("#CalculationType").prop("disabled", true);
                $("#CalculationPeriod").val('Months').trigger('change');
                $("#CalculationPeriod").prop("disabled", true);
            }
            else if (typ == 3 || typ==4) {
                $('#CalcType').show();
                $("#CalculationType").val(1).trigger('change');
                $("#CalculationType").prop("disabled", true);
                $("#CalculationPeriod").val('Months').trigger('change');
                $("#CalculationPeriod").prop("disabled", true);

            }
            else if (type == 5) {
                $('#inctype').show();
                $("#IncomeType").val('Fixed').trigger('change');
                $('#CalcType').show();
                $("#CalculationType").val(0).trigger('change');
                $('#calgratuity').show();
                $('#affnetsalary').show();
            }
            else if (typ == 6) {
                $('#addcomputetable').html('');
                $('#Gratuitydiv').show();
                $('#gratuitybody').html('');
                AddGratuity('gratuitybody', 'create', "", "", "");
            }
            else if (typ == 7) {

            }
            else if (typ == 8) {
                $('#inctype').show();
                $('#CalcType').show();
                $('#affnetsalary').show();
                $("#CalculationType").val(0).trigger('change');
                
            }
            else {
                $('#inctype').show();
                $('#CalcType').show();
                $('#affnetsalary').show();
                $("#CalculationType").val(0).trigger('change');
            }
        });
        function CallAccgrp() {
            var typ = $('#Type').val();
            $("#Accountgroup").val(0).trigger("change");
            $("#Accountgroup").select2({
                placeholder: 'Search Account Group By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Hr/Payhead/SearchPayGroup",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "empty",
                            Type: $('#Type').val()
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
        $('body').on('click', '#Accountgroup', function (e) {
            var typ = $('#Type').val();
            CallAccgrp();
        });
        /* function for delete popup */
        $('#MyTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

        $('body').on('change', '#CalculationType', function (e) {
            var caltype = $(this).val();
            var ph = $('#Type').val();
            $('#basiscalc').hide();
            $('#Specformula').hide();
            $('#Calper').hide();//calculation period
            $('#comptable').hide();//compute table
            $('#proddiv').hide();//production type
            $('#AtType').hide();//attendance type
            $('#leavpay').hide();//leave without pay
            $('#divday').hide();//days in month
            if (caltype == "2") {
                $('#AtType').show(); 
                if (ph == 0) {
                    $('#AtType').hide();
                    $('#Calper').show();
                }
            }
            else if (caltype == "1") {
                $('#Calper').show();
                $('#comptable').show();
            }
            else if (caltype == "3") {
                $('#Calper').show();
                $('#leavpay').show();
            }
            else if (caltype == "4") {
                $('#proddiv').show();
            }
            else {
                $('#addcomputetable').html('');
            }           
        });

        $('body').on('change', '#Name', function (e) {
            $('#NameinSlip').val($(this).val());
        });

        $('body').on('change', '#AttendanceType', function (e) {
            var caltype = $(this).val();
            if (caltype == "Present") {
                $('#leavpay').hide();
                $('#Calper').show();
            }
            else {
                $('#leavpay').show();
                $('#Calper').hide();
            }
        });

        $('body').on('change', '#Leave', function (e) {
            var Leave = $(this).val();
            if (Leave == "Absent") {
                $('#Calper').show();
            }
            else {
                $('#Calper').hide();
            }
        });

        $('body').on('change', '#CalculationPeriod', function (e) {
            var period = $('#CalculationPeriod').val();
            var ph = $('#Type').val();
            if (period == "Months") {               
                $('#basiscalc').hide();
            } else {
                $('#basiscalc').hide();
            }
        });

        $('body').on('change', '#Compute', function (e) {
            var com = $(this).val();
            if (com == "3") {
                $('#Specformula').show();
            } else {
                $('#Specformula').hide();
            }

        });

        $('body').on('change', '#CalculationBasis', function (e) {
            var com = $(this).val();
            if (com != "1") {
                $('#divday').hide();
            } else {
                $('#divday').show();
            }

        });

        //table section
        var count = 1, type = '';
        limits = 500;
        function addpayhead(t, action, Effectivefrom, Amountgreatethan, Amountupto, Slabtype, value) {
            if (count == limits) alert("You have reached the limit of adding " + count + " inputs");
            else {
                var data = "";
                var Type = "";
                var Option = "";
                var readonly = "";
                var row = "<tr class='item_' id='item_" + count + "'>";
                var slno = $('#addcomputetable tr').length + 1;
                var Item = "Item_" + count;
                var a = "item_name" + count,
                tabindex = count * 4;
                tab1 = tabindex + 1;
                tab2 = tabindex + 2;
                tab3 = tabindex + 3;
                tab4 = tabindex + 4;
                tab5 = tabindex + 5;
                //var Option = "<option value='" + 1 + "'>" + "Percentage" + "</option>";
                //Option = "<option value='" + 2 + "'>" + "Value" + "</option>";
                if (Item != null) {
                    row = "<tr class='item_" + Effectivefrom + "' id='item_" + count + "'>";
                }
                if (count == 1) {
                    required = 'required="required"';
                }
                if (action != '') {
                    type = action;
                }
                //createslab(count);
                Effectivefrom = Effectivefrom != "" ? convertToDate(Effectivefrom) : "";
                
                var Option = "<option value='" + 0 + "'>" + "" + "</option>" + "<option value='" + 1 + "'>" + "Percentage" + "</option>" +
                "<option value='" + 2 + "'>" + "Value" + "</option>";

                data = "<td class='text-center'> " + slno + " </td>" +
                       "<td><input type='text' data-name='effectivefrom' name='compinfo[" + (count - 1) + "].Effectivefrom' onchange='addrow(this," + count + ")' id='effectivefrom_" + count + "'  class='effectivefrom_" + count + " form-control text-center date' tabindex='" + tab1 + "' value='" + Effectivefrom + "' /></td>" +
                       "<td><input type='number' data-name='amountgreatethan' name='compinfo[" + (count - 1) + "].Amountgreatethan'  id='amountgreatethan_" + count + "' value='" + Amountgreatethan + "'  class='amountgreatethan_" + count + " form-control text-right' placeholder='0' value='0'  tabindex='" + tab2 + "'/></td>" +
                       "<td><input type='number' data-name='amountupto' name='compinfo[" + (count - 1) + "].Amountupto'  id='amountupto_" + count + "' value='" + Amountupto + "'  class='amountupto_" + count + " form-control text-right' placeholder='0' value='0'  tabindex='" + tab3 + "'/></td>" +
                       "<td><select data-name='slabtype' name='compinfo[" + (count - 1) + "].Slabtype' class='form-control' data-id='" + count + "'  id='slabtype_" + count + "' >" + Option + "</select></td>" +
                       "<td> <input type='number' name='compinfo[" + (count - 1) + "].value' onchange='valuechange("+count+")' data-name='value' name='value' id='value_" + count + "' value='" + value + "'  class='value_" + count + " form-control text-right' placeholder='Enter value' tabindex='" + tab5 + "'/></td>" +
                "<td class='text-center'><button tabindex='" + tab4 + "' style='text-align: right;' class='btn btn-danger' type='button' value='Delete' onclick='deleteRow(this)'><i class='fa fa-trash fa-1x'></i></button></td>";
                row += data + "</tr>";              //onchange='Getslab(this," + count + ")'

                $('#' + t).append(row);

                $('.date').datepicker({
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                jQuery.validator.methods["date"] = function (value, element) { return true; }

                count++;
                setTabIndex();
            }
        }
        function addrow(object, arg) {

            if ($('#addcomputetable tr').length == arg) {
                $(object).closest('tr').attr('class', "item_" + arg);
                addpayhead('addcomputetable', 'create', '', '0', '0', '', '');
            }
        }
        function setTabIndex() {
            var j = 1;
            $('body').find('input,textarea,select,button, .select2-container .select2-selection__rendered').not(".select2-hidden-accessible").not(":hidden").each(function (i) {
                if (!$(this).hasClass("select2-hidden-accessible") && !$(this).is(":hidden")) {
                    $(this).attr('tabindex', j);
                    j++;
                }
                if ($(this).closest("tr").hasClass("item_") && !$(this).hasClass("select2-selection__rendered")) {
                    $(this).attr('tabindex', -1);
                }
            });
        }
        function deleteRow(t) {
            var classname = $(t).closest('tr').attr('class'); 
            if (classname == 'item_') alert("Sorry You Can't Delete This Row.");
            else {
                var r = confirm("Are you sure you want to delete this..?");
                if (r == true) {
                    var e = t.parentNode.parentNode;
                    e.parentNode.removeChild(e);
                }
            }
            var i = 1;
            $('#addcomputetable tr').each(function () {
                $(this).find('td:first').text(i);
                i++;
            });
        }
        function valuechange(arg) { 
            var tbody = $("#ComputeTable tbody"); 
            if (tbody.children().length > 1) {
                
                tbody.children("tr").each(function () {
                    var rowid = $(this).attr("id");
                    var value = $("#value_" + arg).val();
                    var slab = $("#slabtype_" + arg).val();
                    var amount = $("#amountupto_" + arg).val(); 
                    if (slab == 1) {                        
                        var nxtrow = parseInt(arg) + 1; 
                        var cal = parseFloat(amount) + (parseFloat(amount) * parseFloat(value) / 100); 
                        $("#amountgreatethan_" + nxtrow).val(cal);
                    } else if (slab == 2) {
                        var nxtrow = parseInt(arg) + 1;
                        var cal = parseFloat(amount) + parseFloat(value);
                        $("#amountgreatethan_" + nxtrow).val(cal);
                    }
                });
            }
        }

        //Gratuity

    </script>
}
