@{
    ViewBag.Title = "Daily Summary";
    ViewBag.SubTitle = "Sales Reports";
    ViewBag.Active = "Reports";
}
@if (!IsPost)
{
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Daily Summary</h3>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("DailySummary", "POSReport", FormMethod.Post, new { id = "popupForm" }))
            {
                <div class="form-group col-md-6" id="creditsale">
                    @Html.Label("Cashier", null, new { @class = "control-label" })
                    <select class="form-control input-sm select2" id="ddlCashier" name="Cashier">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Date", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-md-12">
                    <button type="submit" class="btn btn-detail col-sm-offset-5" id="btn">Submit</button>
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                </div>
            }
        </div>
    </div>
    @section style{
        @Styles.Render("~/css/bootstrap-datepicker")
    }
    @section Scripts {
        @Scripts.Render("~/js/bootstrap-datepicker")
        <script type="text/javascript">
            $(document).ready(function () {
                var datetd = new Date();
                datetd.setDate(datetd.getDate());
                $('#From').datepicker({
                    endDate: datetd,
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                $('.date').datepicker({
                    endDate: datetd,
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#From').datepicker('setDate', today);
                $("#ddlCashier").select2({
                    placeholder: 'Search Cashier by Name',
                    minimumInputLength: 0,
                    ajax: {
                        url: "/Users/SearchUser",
                        dataType: 'json',
                        type: "POST",
                        delay: 50,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page,
                                x: "all"
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;

                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                });

            });

        </script>
    }
}
else
{
    @model QuickSoft.ViewModel.DailySummary
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Daily Summary</h3>
            <div class="pull-right">
                <button class="btn btn-success no-border" id="printthis">
                    <i class="fa fa-fw fa-print"></i> Print
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12 pos-preview">
                <div id="invoice-POS" class="printit">
                    <center id="top">
                        @if (@ViewBag.CLogo != null)
                        {
                            <div class="logo"><img class="img-responsive" src="../uploads/company/@ViewBag.CLogo" /></div>
                        }
                        <div class="detail">
                            <h3>@ViewBag.CName</h3>
                            <h5>
                                @ViewBag.CAddress<br>
                                @if (@ViewBag.CPhone != null)
                                {
                                    <span>
                                        @ViewBag.CPhone
                                    </span>
                                    if (@ViewBag.CPMob != null)
                                    {
                                        <span> , @ViewBag.CPMob</span>
                                    }
                                    <br />

                                }
                                else
                                {
                                    if (@ViewBag.CPMob != null)
                                    {
                                        <span>@ViewBag.CPMob</span>
                                        <br />
                                    }
                                }
                                @ViewBag.CEmail<br>
                                @if (@ViewBag.CTaxRegNo != null)
                                {
                                    <span>TRN: @ViewBag.CTaxRegNo</span>
                                }
                            </h5>
                            <h5>Reading Time :  @Convert.ToString(string.Format("{0:dd-MM-yyyy hh:mm:ss tt}", Model.time)) </h5>
                            <h5>Reading By   : @Model.by </h5>
                        </div>
                    </center>
                    <div id="mid">
                        <div class="detail">
                            <p><b>First Order</b> : <span> @Convert.ToString(string.Format("{0:dd-MM-yyyy hh:mm:ss tt}", Model.first)) </span></p>
                            <p><b>Last Order </b> : <span> @Convert.ToString(string.Format("{0:dd-MM-yyyy hh:mm:ss tt}", Model.last))</span></p>
                            <p><b>First Invoice</b> : <span>@Model.firstInvoice</span></p>
                            <p><b>Last Invoice</b> : <span>@Model.lastInvoice</span></p>
                            <p><b>No. of Customers</b> : <span>@Model.customers</span></p>
                            <p><b>Grand Total</b> : <span>@Model.GTotal</span></p>
                            <p><b>VAT 5%</b> : <span>@Model.Tax</span></p>
                            <p><b>Discount</b> : <span>@Model.Disc</span></p>
                            <p><b>No of Sales</b> : <span>@Model.Sales</span></p>
                            <p><b>Sub Total</b> : <span>@Model.STotal</span></p>
                            <p><b>Average Check</b> : <span>@Model.Average</span></p>
                        </div>
                    </div>
                    <div class="text-center">
                        <h4>
                            Net Sales <br />
                            @Model.GTotal AED
                        </h4>
                        <h5>
                            Summary Of Payment
                        </h5>
                    </div>
                    <div id="mid">
                        <div class="detail">
                            @if (Model.Payment != null)
                            {
                                foreach (var pay in Model.Payment)
                                {
                                    if (pay.quantity != 0)
                                    {
                                        <p><b>@pay.name</b> : <span>@pay.quantity</span></p>
                                    }
                                }
                            }
                        </div>
                    </div>
                    @if (Model.category != null)
                    {
                        <div class="text-center">
                            <h4>
                                Summary By Category
                            </h4>
                        </div>
                        <div id="mid">
                            <div class="detail">
                                @foreach (var catry in Model.category)
                                {
                                    if (catry.quantity != 0)
                                    {
                                        <p><b>@catry.name</b> : <span>@catry.quantity</span></p>
                                    }
                                }
                            </div>
                        </div>
                    }
                    @if (Model.item != null)
                    {
                        <div class="text-center">
                            <h4>
                                Summary By Items
                            </h4>
                        </div>
                        <div id="mid">
                            <div class="detail">
                                @foreach (var itm in Model.item)
                                {
                                    <p><b>@itm.name</b> : <span>@itm.quantity</span></p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section style{
        @Styles.Render("~/css/posprint")
    }
    @section Scripts {
        @Scripts.Render("~/js/printThis")
        <script type="text/javascript">
            $('#printthis').on("click", function () {
                $(".printit").printThis();
            });
            $(document).ready(function () {

            });
        </script>
    }
}
