
<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    <div class="text-center" id="comHeader">
                        @if (@ViewBag.HeadCheck != 0)
                        {
                            @Html.Partial("../Common/_CompanyHeader")
                        }
                    </div>
                <div class="text-center">
                    <style type="text/css">
                        @@media print {
                            body, .print {
                                border: 0px !important;
                            }

                            body, .print {
                                border: 1px !important;
                            }

                            .table-bordered td, .table-bordered th {
                                border: 1px solid #898989 !important;
                            }
                        }

                        body .print {
                            font-size: 12px;
                        }

                        .print .table-nob tr th {
                            width: 40%;
                        }
                    </style>
                    <h4 style="margin-bottom: 1px;">
                        <strong><u><b>PRODUCTION VOUCHER</b></u></strong>
                    </h4>
                </div>

                    <h4>

                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <b> VOUCHER No:<label id="lblBillNo"></label></b>

                            <table class="table-nob noborder pull-right" style="border: 0px;width: 50%;">
                                <tr>
                                    <th>Date</th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>
                                <tr>
                                    <th>Material Center</th>
                                    <td>: <label id="lblMC"></label></td>
                                </tr>
                                <tr class="hidden">
                                    <th>Branch</th>
                                    <td>: <label id="lblBranch"></label></td>
                                </tr>
                                <tr class="pro">
                                    <th>Project</th>
                                    <td>: <label id="lblProject"></label></td>
                                </tr>
                                <tr class="tsk">
                                    <th>Task</th>
                                    <td>: <label id="lblTask"></label></td>
                                </tr>
                                @* field mapping *@
                                <tr id="divRef1" hidden>
                                    <th id="IblRef1"></th>
                                    <td>: <label id="IblRef1Val"></label></td>
                                </tr>
                                <tr id="divRef2" hidden>
                                    <th id="IblRef2"></th>
                                    <td>: <label id="IblRef2Val"></label></td>
                                </tr>
                                <tr id="divRef3" hidden>
                                    <th id="IblRef3"></th>
                                    <td>: <label id="IblRef3Val"></label></td>
                                </tr>
                                <tr id="divRef4" hidden>
                                    <th id="IblRef4"></th>
                                    <td>: <label id="IblRef4Val"></label></td>
                                </tr>
                                <tr id="divRef5" hidden>
                                    <th id="IblRef5"></th>
                                    <td>: <label id="IblRef5Val"></label></td>
                                </tr>       
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <table class="table noborder">
                            <tr>
                                <th>BOM </th>
                                <td>: <label id="lblBOM"></label></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <table class="table-nob noborder" style="border: 0px;width: 100%;" id="itemcontable">
                            <tr class="text-center">
                                <td><b>Items Generated</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="itemconsumedSection">
                                        <table class="table table-bordered" id="itemtablecon" style="font-size: 12px;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 100px;">S/N </th>
                                                    <th style="width: 60%;"> Description of Goods  </th>
                                                    <th style="width: 10%;">Unit</th>
                                                    <th style="width: 10%;">Qty </th>
                                                    <th style="width: 10%;" class="itemdata">Price </th>
                                                    <th style="width: 10%;" class="itemdata">Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">
                                                        Total
                                                    </td>
                                                    <td class="text-left">
                                                        <label id="lblItemQty"></label>
                                                    </td>
                                                    <td></td>
                                                    <td class="text-left">
                                                        <label id="lblTotal"></label>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <table class="table-nob noborder" style="border: 0px;width: 100%;" id="itemtable">
                            <tr class="text-center">
                                <td><b>Items Consumed</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="itemSection">
                                        <table class="table table-bordered" id="itemtableitem" style="font-size: 12px;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 100px;"></th>
                                                    <th style="width: 60%;"> </th>
                                                    <th style="width: 10%;"> </th>
                                                    <th style="width: 10%;"></th>
                                                    <th style="width: 10%;" class="itemdata"> </th>
                                                    <th style="width: 10%;" class="itemdata"> </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">
                                                        Total
                                                    </td>
                                                    <td class="text-left">
                                                        <label id="lblQty"></label>
                                                    </td>                                                    
                                                    <td></td>
                                                    <td class="text-left">
                                                        <label id="lblItemTotal"></label>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered second-table"></table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;"></td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                            <br />
                            <br />
                            Authorised Signatory

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>
