
<div id="modal-returninsale" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sales Return</h3>
                        </div>
                        <div class="box-body">
                            <input type="hidden" id="SalesReturnId" />
                            <div class="row">
                                <div class="col-sm-2 form-group ">
                                    <label>Voucher No.</label>
                                    <input type="text" id="SReturnId" class="form-control" />
                                </div>
                                <div class="col-sm-4 form-group ">
                                    <label>Customer Name</label>
                                    <input type="text" id="CustomerName" class="form-control" readonly="readonly" />
                                </div>
                                @if (@ViewBag.EnableMCcheck == 0)
                                {
                                    <div class="form-group col-md-2">
                                        @Html.Label("Material Center", null, new { @class = "control-label" })
                                        @Html.DropDownList("ddlRMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm select2" })
                                    </div>
                                }
                                <div class="col-sm-2 form-group">
                                    @Html.Label("Payment Type", null, new { @class = "control-label" })
                                    @Html.DropDownList("RCustomerType", new SelectList(new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "Cash", Value="1"},
                                        new SelectListItem() {Text = "Credit", Value="0"}
                                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "RCustomerType" })
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover item table-item" id="normalinvoicez">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ITEMS</th>

                                        </tr>
                                    </thead>
                                    <tbody id="addinvoiceItempopup"></tbody>
                                    <tfoot style="display:none;">
                                        <tr id="footchk">
                                            <td colspan="3">
                                                Total
                                            </td>
                                            <td class="text-right">
                                                <label id="ItemQtyR"></label>
                                            </td>
                                            <td class="text-right"></td>
                                            <td class="text-right">
                                                <label id="SubTotalR"></label>
                                            </td>
                                            <td class="text-right">
                                                <label id="ItemDiscR"></label>
                                            </td>
                                            <td class="text-right">
                                                <label id="total_tax_amountR"></label>

                                            </td>
                                            <td class="text-right">
                                                <label id="totalR"></label>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea id="RetRemarks" class="form-control" rows="2"></textarea>
                                        <input type="hidden" value="" class="ItemCountR" name="ItemCountR" id="ItemCountR">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="RetNote" class="form-control" placeholder="Terms And Conditions" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="billsundryz">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">S/N</th>
                                                    <th class="text-center">Bill Sundry</th>
                                                    <th class="text-center">Value</th>
                                                    <th class="text-center">Type</th>
                                                    <th class="text-center">Amount</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="addbillsundrypopup"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-6 no-paddingleft">
                                    </div>
                                    <div class="form-group col-md-6 no-padding">
                                        <label>Grand Total</label>
                                        <input type="text" class="form-control text-right" value="0.0" id="SRGrandTotal" readonly />
                                    </div>
                                    <div class="form-group col-md-6 hidden no-paddingleft" id="amountpaid">
                                        <label>Return Amount</label>
                                        <input type="text" class="form-control text-right" value="0.0" id="SRPaidAmount" readonly />
                                    </div>
                                    <div class="form-group col-md-6 hidden no-padding" id="amountdue">
                                        <label>Due Amount</label>
                                        <input type="text" class="form-control text-right" value="0.0" id="SRDueAmount" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="form-group col-md-6 text-right">
                                    @*<input type="submit" value="Save" class="btn btn-success col-sm-offset-4" />*@
                                    <input type="button" class="btn btn-success" value="Save" data-dismiss="modal">
                                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
