@model QuickSoft.ViewModel.BOFViewModel
@{
    ViewBag.Title = "Create Bundle Offer";
    ViewBag.SubTitle = "Bundle Offer";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    @using (Html.BeginForm("Create", "BundleOffer", FormMethod.Post, new { id = "createForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Bundle Offer</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit BOF"))
                    {
                        <a class="btn bg-black no-border" href="/BundleOffer/Edit/@ViewBag.LastEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("BOF List"))
                {
                <a class="btn btn-success no-border" href="/BundleOffer">
                    <i class="fa fa-fw fa-history"></i> Bundle offer list
                </a>
                }
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.BOMName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.BOMName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bundle Offer Name", @required = "required" } })
                </div>
                <div class="form-group col-md-2">
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Item"))
                    {
                        @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.ItemId, (SelectList)ViewBag.Item, "", new { id = "ddlItem", @class = "form-control select2", @required = "required" })
                            <span class="input-group-btn">
                                <a type="button" href="/Item/Create" target="_blank" class="btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.ItemId, (SelectList)ViewBag.Item, "", new { id = "ddlItem", @class = "form-control select2", @required = "required" })
                    }
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @Value = "0.00", @class = "form-control", @placeholder = "Enter Expense" } })
                        <span class="input-group-btn">
                            <button type="button" id="PrUnit" class="btn btn-flat"></button>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2 form-group">
                    @Html.LabelFor(model => model.BOMDateStart, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.BOMDateStart, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(model => model.BOMDateEnd, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.BOMDateEnd, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    </div>
                </div>

                @if (@ViewBag.EnableMCcheck == 0 && @ViewBag.BusinessType == "ProjectBasedBusiness")
                {
                    <div class="form-group col-md-2" style="display:none">
                        @Html.Label("Material Center", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                    </div>
                }
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="row">
                        <div class="form-group col-sm-2">
                            @Html.Label("Branch", null, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                        </div>
                    </div>
                }

            </div>

            <div>
                <div class="table-responsive bomtable">
                    <hr>
                    <table class="table table-bordered table-hover" id="bomtable">
                        <thead>
                            <tr>
                                <th class="text-center">S/N</th>
                                <th class="text-center">Item <i class="text-danger">*</i></th>
                                <th class="text-center">Unit</th>
                                <th class="text-center">Quantity <i class="text-danger">*</i></th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="addbomitem"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer text-center clearfix">
            @*<button type="submit" id="save" class="btn btn-info">
            Save
            </button>*@
            <button type="submit" id="save" class="btn btn-success" tabindex="26">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="button" class="btn btn-default" onclick="@("window.location.href='/BundleOffer/Index'");">Cancel</button>
            <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
            <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
        </div>
    }

</div>
@Html.Partial("../Common/_ModeItemCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/additem")

<script src="~/Content/js/bom.js?c=232"></script>
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            ////startDate: new Date(minDate),
            ////endDate: new Date(maxDate)
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            $("#PrUnit").text("");
            GetBranch();

            addbomitem('addbomitem', '', '0');

            $("#ddlItem").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Search",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });

        });
        $('body').on('change', '#ddlItem', function (e) {
            var itemId = $(this).val();
            $.ajax({
                url: '/Item/GetItem',
                type: "GET",
                dataType: "JSON",
                data: { itemID: itemId },
                success: function (data) {
                    var newOption = $('<option></option>');
                    if ((data.PriUnit != data.SubUnit) && data.SubUnitId != null) {
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        var newOption1 = $('<option></option>');
                        newOption1.val(data.SubUnitId).html(data.SubUnit);
                        if (data.ItemUnit) {
                            if (data.ItemUnit == data.ItemUnitID)
                                newOption.attr("selected", "selected");
                            if (data.ItemUnit == c.SubUnitId)
                                newOption1.attr("selected", "selected");
                        }
                        $('#Unit').html('');
                        $('#Unit').append(newOption);
                        $('#Unit').append(newOption1);

                    } else {
                        $('#Unit').html('');
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        $('#Unit').append(newOption);
                    }
                    $("#PrUnit").text("/ " + data.PriUnit);
                }
            });
        });

        $('body').on('change', '#Unit', function (e) {
            var textvalue = $("#Unit option:selected").text();
            $("#PrUnit").text("/ " + textvalue);
        });

        $('body').on('change', '#BOMDate', function (e) {
            var bomdate = $(this).val();
            var MC = $("#ddlMC").val();
            searchbomItem(bomdate, MC);
        });
        $('body').on('change', '#ddlMC', function (e) {
            var MC = $(this).val();
            var bomdate = $("#BOMDate").val();
            searchbomItem(bomdate, MC);
        });

        AddItemPopUp();
        ItemCategory();
        ItemBrand();
        //On Modal Create

        $('#modal-create-lg').on('shown.bs.modal', function (e) {
            //Item Category
            ItemCategory();
            ItemBrand();

            $('#KeepStock').click(function () {
                clickstock();
            });
            //ItemTax();
            //ItemUnit();
            //ItemSubUnit();
            Itemtype();

            //var ItemName =
            addbatsaleItem('addbatchItem', 'sale', ItemName, "0.00", "0.00", "");
        });
        // form submit
        $('#createForm').on('submit', function (e) {
            e.preventDefault();
            var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
            if ($("#createForm").valid()) {
                BOFSubmit(fnval);
            }
            else {
                $('.alert').prepend('<button type="button" class="close" data-hide="alert">×</button>');
            }
        });

        $('span').on('click', '.modal-create-lg', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create-lg');
        });
        //$('#modal-create-lg').on('submit', '#createitemform', function (e) {
        //    e.preventDefault();
        //    var url = $('#createitemform')[0].action;
        //    var data = $('#createitemform').serialize();
        //    createajax(url, data, '#modal-create-lg');
        //});
        function BOFSubmit(fnval) {
            var HTMLtbl = {
                getData: function (table) {
                    var data = [];
                    table.find('tr').not(':first').not('.item_').each(function (rowIndex, r) {
                        var cols = {};
                        $(this).find('input,textarea,select').each(function (colIndex, c) {
                            itid = $(this).attr('data-name').split(' ')[0];
                            itval = ($(this).val() != "") ? $(this).val() : $(this).text();
                            cols[itid] = itval;
                        });
                        data.push(cols);
                    });
                    return data;
                }
            }

            var bomdata = {
                'BOMId': $('#BOMId').val(),
                'BOMName': $('#BOMName').val(),
                'ItemId': $('#ddlItem').val(),
                'BOMDateStart': $('#BOMDateStart').val(),
                'BOMDateEnd': $('#BOMDateEnd').val(),
                'Unit': $('#Unit').val(),
                'Price': $('#Price').val(),
                'Account': $('#ddlAccount').val(),
                'Branch': $('#ddlBranch').val(),
                'MaterialCenter': $('#ddlMC').val(),
            }
            var data = HTMLtbl.getData($('#bomtable'));
            var parameters = {};
            parameters.bomdata = bomdata;
            parameters.bomitems = data;
            parameters.BOMDateStart = $('#BOMDateStart').val();
            parameters.BOMDateEnd = $('#BOMDateEnd').val();
            var url = "";
            if (fnval == "save") {
                url = $('#createForm')[0].action;
            }
            if (fnval == "update") {
                url = $('#updateForm')[0].action;
            }
            $.ajax({
                async: false,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: url,
                data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    $('.ajax_response', res_success).text(e.message);
                    $('.AlertDiv').prepend(res_success);
                    if (fnval != null) {
                        window.location.href = '/BundleOffer/Index';
                    } else {
                        location.reload();
                    }
                    $("button").prop('disabled', false); // enable button
                }
            });
        }
    </script>
}


