
@{

    ViewBag.Title = "Search Sales Return Entry";
    ViewBag.SubTitle = "Sales Return Report";
    ViewBag.Active = "Reports";
    string actData = "";
    string actData2 = "";
    string actData3 = "";
    string actData4 = "";
    string posfun = "";
    posfun = "PrintInvoice(e, \"sales\",\"inactive\",\"SalesEntry\");";
    @Html.Action("invoice", "InvoiceLayout", new { type = "Sale" })
}
@*<style>
        #ddlType, #InvoiceNo{
            margin-bottom:-4px!important;
        }
    </style>*@
<style>
    .datepicker {
        border-radius: 0px !important;
        /*height:30px!important;*/
    }

    .input-sm {
        height: 30px !important;
        border-radius: 0px !important;
    }

    .fa-calendar {
        margin-left: -5px !important;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Sales Return Entry</h3>
    </div>

    <div class="box-body">
        <form id="search-form">
            @using (Html.BeginForm("Index", "SalesReturnReport", FormMethod.Post, new { id = "popupForm", target = "_new" }))
            {
                <div class="form-group col-md-2">
                    <input type="hidden" id="cname" value="@ViewBag.CName" />
                    <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
                    @Html.Label("Invoice No", null, new { @class = "control-label" })
                    @Html.TextBox("InvoiceNo", "", new { @class = "form-control input-sm" })
                </div>
                <div class="form-group col-md-2" style="display:none">
                    @Html.Label("Payment Type", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlType", new SelectList(new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "All", Value=""},
                            new SelectListItem() {Text = "Credit Sale", Value="0"},
                            new SelectListItem() {Text = "Cash Sale", Value="1"}
                        }, "Value", "Text"), new { @class = "form-control input-sm", @name = "ddlType", @onchange = "customertype()" })
                </div>
                <div class="form-group col-md-2" id="divpaymethod">
                    @Html.Label("Payment Method", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlPayMethod", (SelectList)ViewBag.PayMethod, "Cash", new { @class = "form-control input-sm" })
                </div>
                <div class="form-group col-md-2" id="creditsale">
                    @Html.Label("Customer", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2" id="execreditsale">
                    @Html.Label("Sales Executive", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.SalesExecutive, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2" id="execreditsale">
                    @Html.Label("Sales Man", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlSalesMan", (SelectList)ViewBag.SalesMan, new { @class = "form-control input-sm select2" })
                </div>
                if (@ViewBag.EnableMCcheck == 0)
                {
                    <div class="form-group col-md-2">
                        @Html.Label("Material Center", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                    </div>
                }
                if (@ViewBag.ProjChk == 0)
                {
                    <div class="form-group col-md-2">
                        @Html.Label("Project", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlProject", (SelectList)ViewBag.getProj, "All", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Task", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlProTask", (SelectList)ViewBag.getProTask, "All", new { @class = "form-control input-sm" })
                    </div>
                }
                @*<div class="form-group col-md-4">
                        @Html.Label("Branch", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlBranch", (SelectList)ViewBag.Branch, new { @class = "form-control input-sm select2" })
                    </div>*@
                <div class="form-group col-md-2">
                    @Html.Label("From", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("To", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2" id="DDlItemwise">
                    @Html.Label("Item Name/Code", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlItem", (SelectList)ViewBag.Item, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2" id="creditsale">
                    @Html.Label("Item Category", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlItemCategory", (SelectList)ViewBag.Category, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2" id="creditsale">
                    @Html.Label("Item Brand", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlItemBrand", (SelectList)ViewBag.Brand, new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("Search", null, new { @class = "control-label" })
                    @Html.TextBox("Searchtext", "", new { @class = "form-control input-sm" })
                </div>
                @*<div class="form-group col-md-2" id="execreditsale">
                        @Html.Label("Tax Type", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlTaxType", (SelectList)ViewBag.TaxType, new { @class = "form-control input-sm select2" })
                    </div>*@
                if (@ViewBag.BusinessType == "Scaffold")
                {
                    <div class="form-group col-sm-2">
                        @Html.Label("Type", null, new { @class = "control-label" })
                        @Html.DropDownList("SaleType", (SelectList)ViewBag.Type, new { @class = "form-control input-sm", @onchange = "HType();" })
                    </div>

                    <div id="HireTypeDiv">
                        <div class="form-group col-sm-2">
                            @Html.Label("HireType", null, new { @class = "control-label" })
                            @Html.DropDownList("HireType", (SelectList)ViewBag.HiType, "All", new { id = "ddlHType", @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.Label("From Date", null, new { @class = "control-label" })
                            <div class="input-group date">
                                @Html.TextBox("FromDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @onchange = "DateSet();" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            @Html.Label("To Date", null, new { @class = "control-label" })
                            <div class="input-group date">
                                @Html.TextBox("ToDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="box-footer col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                </div>
            }
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    <div class="box-header with-border">
        <h3 class="box-title">View Sales Return  Report</h3>
    </div>
    <div class="box-body">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <input type="hidden" id="invoiceno" value="@ViewBag.InvoiceNo" />
        <input type="hidden" id="fromdate" value="@ViewBag.fromdate" />
        <input type="hidden" id="todate" value="@ViewBag.todate" />
        <input type="hidden" id="matcenter" value="@ViewBag.EnableMCcheck" />
        <input type="hidden" id="Scaffold" value="@ViewBag.BusinessType" />
        <div class="box-body">
            <table class="display table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="2">S/N</td>
                        <td data-priority="1">Invoice No.</td>
                        <td data-priority="2">Date</td>
                        @*<td data-priority="3">Pay Method</td>*@
                        <td data-priority="2">Customer</td>

                        <td>Ledger</td>
                        <td data-priority="1" class="text-right">Taxable Amount</td>
                        <td class="text-right">Tax</td>
                        <td class="text-right">Discount</td>
                        <td class="text-right">Roundoff(-)</td>
                        <td class="text-right">Roundoff(+)</td>
                        <td data-priority="1" class="text-right">Grand Total</td>
                        @*<td>TRN</td>*@
                        @*<td data-priority="2">Item Amt</td>*@
                        @*<td data-priority="1" class="headeralign">Total Amt</td>
                            <td class="headeralign">Paid Amt</td>
                            <td class="headeralign">Balance Amt</td>*@
                        @*<td data-priority="3">Last Paid Date</td>*@
                        <td>Sales Executive</td>
                        <td id="matcol">Material Center</td>


                        @*<td id="SaleTy">SaleType</td>*@

                        @*<td>Created By</td>*@
                        @*<td>Branch</td>*@
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    <script src="~/Content/js/salesinvoice2.js"></script>
    <script type="text/javascript">
    $('.date').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        allowInputToggle: true
    })
    $(document).ready(function () {
        /*datatable still hided before clicking the submit button*/

        $("#StockReport").hide()
        /*end*/
        $("#divpaymethod").hide();
        $('#HireTypeDiv').hide();
        //$("#SaleType").val(1);
        $('#SaleType option:contains(POS)').remove();

        $("#SaleType").prop('selectedIndex', 0);
        //customertype();
        //customertype();
        //for set default date
        $('#To').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        $('#From').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var priordate = new Date(new Date().setDate(today.getDate() - 30));
        $('#To').datepicker('setDate', today);
        $('#From').datepicker('setDate', priordate);
        //---

        //GetProjectWithAll();
        //GetTaskWithAll();
        ItemSearchable();
        // Material Center
        CallRepCustomer();
        CallRepEmployee();
        CallRepMCUser();
        $("#ddlItemBrand").select2({
            placeholder: 'Search Item Brand',
            minimumInputLength: 0,
            ajax: {
                url: "/ItemBrand/SearchBrand",
                dataType: 'json',
                type: "POST",
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        x: "all"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $("#ddlItemCategory").select2({
            placeholder: 'Search Item Category',
            minimumInputLength: 0,
            ajax: {
                url: "/ItemCategory/SearchCategory",
                dataType: 'json',
                type: "POST",
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        x: "All"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $("#ddlSalesMan").select2({
            placeholder: 'Search by Name ',
            minimumInputLength: 0,
            ajax: {
                url: "/Employee/SearchEmployee",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                        x: "empty"

                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;

                    return {
                        results: data,
                        pagination: {
                            //more: (params.page * 10) < 50
                            more: true
                        }
                    };
                },
                cache: true
            },
        });


    });

    function customertype() {
        var type = $("#ddlType").val();
        if (type == 0) {
            $('#divpaymethod').hide();
        } else {
            $('#divpaymethod').show();
        }
    }


    function HType() {
        var Type = $('#SaleType').val();
        if (Type == 2) {
            $('#HireTypeDiv').show();
        }
        else {
            $('#HireTypeDiv').hide();
        }
    }
    function DateSet() {
        var ndate = $('#FromDate').val();

        $('#ToDate').datepicker({
            startDate: ndate,
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

    }

    function download2(salesid) {

        $.ajax({
            url: '/creditsalereturn/downloadprint/?salesEntryId=' + salesid,
            type: "GET",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data

            success: function (e) {


    @Html.Raw(posfun)
                setTimeout(function () { window.location.href = '/SalesReport/Index'; }, '5000');//{ location.reload(); }, 'TimeOut');

            }


        });
    }


    function searchData(data) {


        data.seno = $('#InvoiceNo').val();
        data.paymethod = $('#ddlPayMethod').val();
        data.customer = $('#ddlCustomer').val();
        data.SalesExecutive = $('#ddlEmployee').val();
        data.SalesMan = $('#ddlSalesMan').val();
        data.fromdate = $('#From').val();
        data.todate = $('#To').val();
        data.type = $('#ddlType').val();
        data.ddMC = $('#ddlMC').val();
        data.satype = $('#SaleType').val();
        data.htype = $('#HireType').val();
        data.hfdate = $('#FromDate').val();
        data.htdate = $('#ToDate').val();
        data.project = $('#ddlProject').val();
        data.task = $('#ddlProTask').val();
        data.item = $('#ddlItem').val();
        data.category = $('#ddlItemCategory').val();
        data.brand = $('#ddlItemBrand').val();
        data.srchtxt= $('#Searchtext').val();
        //data.TaxType = $('#ddlTaxType').val();

    }

    function showdatatable() {
        var oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            // "bStateSave": true,
            "stateSave": true,
            "bDestroy": true,
            "bLengthChange": false,
            responsive: true,
            "paging": true,
            "pageLength": 25000,
            "ordering": false,
            "ajax": {
                "url": '/SalesReturnReport/GetAllSale',
                /* calling the function for capturing the datas*/
                "data": function (data) {
                    data = searchData(data);
                },
                /*end*/
                "type": "POST",
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columns": [
                {
                    "data": "SalesReturnId", "name": "SalesReturnId",
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },

                {
                    "name": "BillNo", "data": function (data) {
                        @{
                                  actData += "'<a href=\"/creditsalereturn/Edit/'+ data.SalesReturnId +'\" target=\"_blank\">'+ data.BillNo +'</a>' ";
                              }
                        return @Html.Raw(actData);
                    }
                },
                { "data": "SRDate", "name": "SRDate", "render": function (data) { return convertToDate(data); } },
                //{ "data": "PayMethod", "name": "PayMethod" },
                //{ "data": "Customer", "name": "Customer" },
                {
                    "name": "Customer", "data": function (data) {
                        @{

                                actData2 += "'<a href=\"/Customer/Details/'+ data.CustomerID +'\" target=\"_blank\">'+ data.Customer +'</a>' ";
                                //actData2 += "'<a href=\"/CreditSale/Download/'+ data.SalesEntryId +'\" target=\"_new\"><i class=\"fa-lg fa fa-download\" ></i></a> '";
                            }
                        return @Html.Raw(actData2);
                    }
                },
                {
                    "name": "Customer", "data": function (data) {
                        @{

                            //actData2 += "'<a href=\"/Customer/Details/'+ data.CustomerID +'\" target=\"_new\">'+ data.Customer +'</a>' ";
                            actData4 += "'<a href=\"/MyReports/Ledger3?particular='+ data.AccountsID +'\" title=\"Ledger\" target=\"_blank\"><i class=\"fa-lg fa fa-external-link-square\" ></i></a> '";

                        }
                        return @Html.Raw(actData4);
                    }
                },
                { "data": "taxableAmt", "name": "taxableAmt", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "tax", "name": "tax", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "discount", "name": "discount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "roundoffmin", "name": "roundoffmin", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                { "data": "roundoffplus", "name": "roundoffplus", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },

                //TRN   { "data": "TaxRegNo", "name": "TaxRegNo" },
                { "data": "SEGrandTotal", "name": "SEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                //Total Amt { "data": "SEGrandTotal", "name": "SEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                //Paid Amt { "data": "SEPaidAmount", "name": "SEPaidAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                //Balance Amt { "data": "SEBalanceAmount", "name": "SEBalanceAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                //  { "data": "lastpaydate", "name": "lastpaydate", "render": function (data) { return convertToDate(data); } },
                { "data": "EmpName", "name": "EmpName" },

                { "data": "MCName", "name": "MCName" },


                //{
                //    "data": "SaleType", "name": "SaleType", "render": function (data) {
                //        if (data == 2) {
                //            return 'Hire';
                //        }
                //        else {
                //            return 'Sale';
                //        }

                //    }

                //}
                // { "data": "User", "name": "User" },
                // { "data": "Branch", "name": "Branch" }
            ],
            buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                'colvis',
                {
                    extend: 'print',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'Sales-Report';
                    },
                    columnDefs: [
                        { width: 400, targets: 2 }
                    ],
                    exportOptions: {
                        columns: ':visible'
                    },
                    message: function () {
                        var head = '<table class="tblcompact table table-bordered"><thead>' +
                            ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Sales Report</h4></th></tr>' +
                            ' <tr><th><span class="text-left">Invoice No : ' + $('#invoiceno').val() + '</span><span class="text-right pull-right"> From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>';
                        return head;
                    },
                    customize: function (win) {
                        // $(win.document.body)
                        //.css('font-size', '10pt')
                        //.css('padding', '1px');
                        $(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
                        $(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
                            .css('font-size', '10pt')
                            .css('padding', '5px')
                            .addClass('compact');
                        $(win.document.body).find('.dataTable tr th:nth-child(3)')
                            .css('min-width', '80px');
                        //$(win.document.body).find('.tblcompact tbody td:nth- child(2)')
                        //    .css('padding', '0px');
                        $(win.document.body).append('</td></tr></tbody>')

                    }
                }, 'copy', 'csv', //'excel',
                //Excel
                {
                    extend: 'excel',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'Sales-Report';
                    },
                    message: function () {
                        var head = '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            ' Sales Report \n' +
                            'Invoice No : ' + $('#invoiceno').val() + '\n' +
                            'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                        return head;
                    },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: ':visible'
                    },
                },
                {
                    extend: 'pdf',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'Sales-Report';
                    },
                    message: function () {
                        var head = '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            ' Sales Report \n' +
                            'Invoice No : ' + $('#invoiceno').val() + '\n' +
                            'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                        return head;
                    },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (doc) {
                        doc.pageMargins = [10, 10, 10, 10];
                        doc.defaultStyle.fontSize = 10;
                        doc.styles.tableHeader.fontSize = 10;
                        doc.styles.title.fontSize = 12;
                        // Header font and bg color
                        doc.styles.tableHeader.fillColor = '#d3d3d3';
                        doc.styles.tableHeader.color = 'black';
                        // Remove spaces around page title
                        doc.content[0].text = doc.content[0].text.trim();


                        doc.styles['td:nth-child(2)'] = {
                            width: '100%',
                            'max-width': '100%'
                        }

                        //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                        //doc.content[1].table.widths = [
                        //'5%',
                        //'7%',
                        //'12%',
                        //'10%',
                        //'10%',
                        //'10%',
                        //'12%',
                        //'12%',
                        //'12%',
                        //'10%'
                        //]

                        //doc['header'] = (function () {
                        //    return {
                        //        columns: [
                        //			{
                        //			    alignment: 'left',
                        //			    italics: true,
                        //			    text: 'dataTables',
                        //			    fontSize: 18,
                        //			    margin: [10, 0]
                        //			},
                        //			{
                        //			    alignment: 'right',
                        //			    fontSize: 14,
                        //			    text: 'Custom PDF export with dataTables'
                        //			}
                        //        ],
                        //        margin: 20
                        //    }
                        //});
                        var objLayout = {};
                        // Horizontal line thickness
                        objLayout['hLineWidth'] = function (i) { return .5; };
                        // Vertikal line thickness
                        objLayout['vLineWidth'] = function (i) { return .5; };
                        //// Horizontal line color
                        //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                        //// Vertical line color
                        //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                        // Left padding of the cell
                        objLayout['paddingLeft'] = function (i) { return 4; };
                        // Right padding of the cell
                        objLayout['paddingRight'] = function (i) { return 4; };
                        // Inject the object in the document
                        doc.content[1].layout = objLayout;
                        // Footer font and bg color
                        doc.styles.tableFooter.fillColor = '#d3d3d3';
                        doc.styles.tableFooter.color = 'black';

                    }
                }

            ],

            sDom: "lBfr<'datatable-scroll't>ip",
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };




                // Total over all pages
                total = api
                    .column(10)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(10, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(10).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );


                // Total over all pages
                total = api
                    .column(11)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(11, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(11).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );


                // Total over all pages
                total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(5).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );

                // Total over all pages
                total = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(6).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );


                // Total over all pages
                total = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(7).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );

                // Total over all pages
                total = api
                    .column(8)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(8, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(8).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );


                // Total over all pages
                total = api
                    .column(9)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(9, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(9).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                );
                var table = $('#UserTable').DataTable();
                if (!table.data().any()) {
                    $('#UserTable tfoot').hide();
                } else {
                    $('#UserTable tfoot').show();
                }

            }
        });
        //for showing the datatable when click the submit button

        $('#search-form').on('submit', function (e) {

            e.preventDefault();
            oTable.draw();
            $('#SReport').show();
            $('#UserTable').show();



        });

        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
    }

    var flag = 0;
    $('#search-form').on('submit', function (e) {
        e.preventDefault();
        if (flag == 0) {
            showdatatable();
            flag = 0;
        }
        else
            oTable.draw();

        $('#StockReport').show();
    });


    function reload_table() {
        oTable.clear().draw();
        oTable.ajax.reload(null, false);
    }

    $('#UserTable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            oTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $(this).addClass('dataTables_row');
        }
    });
    </script>
}