@{
    ViewBag.Title = "Search Customer Item Wise SalesReturn";
    ViewBag.SubTitle = "SalesReturn Report";
    ViewBag.Active = "Reports";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Customer Item Wise SalesReturn</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <input type="hidden" id="customername" />
            <div class="form-group col-md-4">
                @Html.Label("Customer", null, new { @class = "control-label" })
                @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, "All", new { @class = "form-control input-sm select2", @required = "required" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Item Name/Code", null, new { @class = "control-label" })
                @Html.DropDownList("ddlItem", (SelectList)ViewBag.Item, new { @class = "form-control input-sm select2" })
            </div>
            @if (@ViewBag.EnableMCcheck == 0)
            {
                <div class="form-group col-md-4">
                    @Html.Label("Material Center", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>

            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="SReport">

    <div class="box-header with-border">
        <h3 class="box-title">View Customer Item Wise Sale</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="table table-bordered" id="UserTable">
                <thead>
                    <tr style="background-color: #d2d6de">
                        <td>S/N</td>
                        <td>Item</td>
                        <td class="headeralign">Return Qty.</td>
                        <td class="headeralign">Retun Amt.</td>
                        <td class="headeralign">Sale Return Vouchers</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })

        $(document).ready(function () {

            $('#SReport').hide();
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---

            $("#ddlCustomer").select2();
            CallCustomer();
            ItemSearchable();
            CallRepMCUser();

        });


        jQuery(function ($) {

            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "bLengthChange": false,
                "paging": true,
                "pageLength": 5000,
                "deferLoading": 0,
                "ordering": false,
                "ajax": {
                    "url": '/SalesReturnReport/GetCustomerItemWise',
                    "data": function (data) {
                        data.ddlCustomer = $('#ddlCustomer').val();
                        data.ddlItem = $('#ddlItem').val();
                        data.From = $('#From').val();
                        data.To = $('#To').val();
                        data.ddmc = $('#ddlMC').val();
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "order": [[0, "desc"]],
                "columns": [
                   {
                       "data": "ItemID", "name": "ItemID",
                       "render": function (data, type, row, meta) {
                           return meta.row + meta.settings._iDisplayStart + 1;
                       }
                   },

                  { "data": "Item", "name": "Item" },

                 
                   {
                       "name": "ReturnQty", "data": function (data) {
                           if (data.ItemUnitID != data.SubUnitId && data.ItemUnitID != null && data.SubUnitId != null) {
                               if ((data.SubRetQty == 0))
                                   return data.PriRetQty + " " + data.PriUnit;
                               else
                                   return data.PriRetQty + " " + data.PriUnit + ", " + data.SubRetQty + " " + data.SubUnit
                           }
                           else
                               return data.PriRetQty + " " + data.PriUnit;
                       }, "sClass": "numberright"
                   },
                  
                  { "data": "RetunAmt", "name": "RetunAmt", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                  
                  { "data": "NoOfVchReturn", "name": "NoOfVchReturn", "sClass": "numberright" },

                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                'colvis',
                {
                    extend: 'print',//
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'CustomerItemWise-Sales';
                    },
                    message: function () {
                        var head = '<table class="tblcompact table table-bordered"><thead>' +
                                 '<tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Sales Report (Customer Item Wise)</h4></th></tr>' +
                                 '<tr><th><span class="text-left">Customer : ' + $('#customername').val() + '</span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                    return head;
                    },
                    customize: function (win) {
                        $(win.document.body).find('table, th,tr, td ')
                        // .css('border', 'inherit')
                        .css('font-size', '10pt')
                        .css('padding', '5px')
                        .addClass('compact');
                        $(win.document.body).append('</td></tr></tbody>')

                    }
                }, 'copy', 'csv', //'excel',
                {
                    extend: 'excel',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'CustomerItemWise-Sales';
                    },
                    message: function () {
                        var head = '' + $('#cname').val() + '\n' +
                    '' + $('#caddress').val() + '\n' +
                    ' Sales Report (Customer Item Wise) \n' +
                    'Customer : ' + $('#customername').val() + '\n' +
                    'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                        return head;
                    },
                },
                        {
                            extend: 'pdf',//
                            title: "",
                            footer: true,
                            filename: function () {
                                return 'CustomerItemWise-Sales';
                            },
                            message: function () {
                                var head = '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            ' Sales Report (Customer Item Wise) \n' +
                            'Customer : ' + $('#customername').val() + '\n' +
                            'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                                return head;
                            },

                            pageSize: 'A4',
                            exportOptions: {
                                columns: ':visible'
                            },
                            customize: function (doc) {
                                doc.pageMargins = [10, 10, 10, 10];
                                doc.defaultStyle.fontSize = 10;
                                doc.styles.tableHeader.fontSize = 10;
                                doc.styles.title.fontSize = 12;
                                // Header font and bg color
                                doc.styles.tableHeader.fillColor = '#d3d3d3';
                                doc.styles.tableHeader.color = 'black';
                                // Remove spaces around page title
                                doc.content[0].text = doc.content[0].text.trim();

                                doc.content[1].table.widths = [
                                '25%',
                                '20%',
                                '20%',
                                '20%',
                                '15%',
                                ]

                                var objLayout = {};
                                // Horizontal line thickness
                                objLayout['hLineWidth'] = function (i) { return .5; };
                                // Vertikal line thickness
                                objLayout['vLineWidth'] = function (i) { return .5; };
                                //// Horizontal line color
                                //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                                //// Vertical line color
                                //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                                // Left padding of the cell
                                objLayout['paddingLeft'] = function (i) { return 4; };
                                // Right padding of the cell
                                objLayout['paddingRight'] = function (i) { return 4; };
                                // Inject the object in the document
                                doc.content[1].layout = objLayout;
                                // Footer font and bg color
                                doc.styles.tableFooter.fillColor = '#d3d3d3';
                                doc.styles.tableFooter.color = 'black';
                            }


                        },

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                    };

                    //// Total over all pages
                    //total = api
                    //.column(2)
                    //.data()
                    //.reduce(function (a, b) {
                    //    return intVal(a) + intVal(b);
                    //}, 0);

                    //// Total over this page
                    //pageTotal = api
                    //.column(2, { page: 'current' })
                    //.data()
                    //.reduce(function (a, b) {
                    //    return intVal(a) + intVal(b);
                    //}, 0);

                    //// Update footer
                    //$(api.column(2).footer()).html(
                    //pageTotal.toFixed(2)
                    ////'$' + pageTotal + ' ( $' + total + ' total)'
                    //);


                    // Total over all pages
                    total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Total over this page
                    pageTotal = api
                    .column(3, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Update footer
                    $(api.column(3).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                    );



                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                var data = $('#ddlCustomer').select2('data')
                $("#customername").val(data[0].text);
                    oTable.draw();
                $('#SReport').show();
            });


            //$('#UserTable tbody').on('click', 'tr', function () {
            //    var data = oTable.row(this).data();
            //    var url = "/SalesReport/itemDetails?iditem=" + data.ItemID + "&customer=" + $("#ddlCustomer").val() + "&from=" + $('#From').val() + "&to=" + $('#To').val() + "&ddmc=" + $('#ddlMC').val();
            //    $(location).attr('href', url);
            //});


        });
    </script>
}

