
@model QuickSoft.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Create Sales Executive";
    ViewBag.SubTitle = "Sales Executive";
    ViewBag.Active = "Settings";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Sales Executive</h3>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Sales Executives List"))
            {
                <a class="btn btn-success no-border" href="/SalesExecutive">
                    <i class="fa fa-fw fa-history"></i> Sales Executive List
                </a>
            }
        </div>
    </div>
    @using (Html.BeginForm("Create", "SalesExecutive", FormMethod.Post, new { id = "UserCreateForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <div class="box-header with-border">
            <h5 class="box-title">Personal Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.EMPCode, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.EMPCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>


            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <div class="input-group-addon no-padding">
                        @Html.EnumDropDownListFor(model => model.Prefix)
                    </div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label " })
                @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.OtherIdNo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.OtherIdNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Permanent Address</h5>
        </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State"})
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country"} })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="box-header with-border">
                <h5 class="box-title">Current Address</h5>( <label id="CheckAdd">@Html.CheckBoxFor(model => model.ChkAddress) Same as Permanent Address</label>)
            </div>
            <div class="box-body" id="CAdres">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CAddress, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.CAddress, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CCity, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.CCity, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CState, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("CState", new SelectList(new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "CState"})
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CCountry, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.CCountry, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CPostalCode, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.CPostalCode, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="box-header with-border">
                <h5 class="box-title">Other Details</h5>
            </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label " })
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Department"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.DepartmentID, new SelectList(Model.dept, "DepartmentID", "DepartmentName"), "Select Department", new { @class = "form-control" })
                            <span class="input-group-btn">
                                <a href="/Department/Create" class="btn btn-default modal-create" title="Add Department"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(Model.dept, "DepartmentID", "DepartmentName"), "Select Department", new { @class = "form-control" })
                    }
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DesignationID, htmlAttributes: new { @class = "control-label " })
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Designation"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.DesignationID, new SelectList(Model.degn, "DesignationID", "DesignationName"), "Select Designation", new { @class = "form-control" })
                            <span class="input-group-btn">
                                <a href="/Designation/Create" class="btn btn-default modal-edit" title="Add Designation"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.DesignationID, new SelectList(Model.degn, "DesignationID", "DesignationName"), "Select Designation", new { @class = "form-control" })
                    }
                </div>
                @*<div class="form-group col-md-4">
                        @Html.LabelFor(model => model.BranchID, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("BranchID", (SelectList)ViewBag.Branch, "Select Branch", new { @class = "form-control input-sm", required = "required" })
                    </div>*@
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ImgFileName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ImgFileName, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                </div>
            </div>
                <div class="box-body">
                    <!-- Permissions End -->
                    <div class="form-group col-md-12 pull-left">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-info col-sm-offset-5" value="Save" id="btnSubmit" />
                            <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='/SalesExecutive/Index'");" />
                        </div>
                    </div>
                </div>
    }
</div>
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        $(window).on("load", function () {
            checkAddress();
            checkuser();
        });
        function checkAddress() {
            if ($('#ChkAddress').prop('checked') == true) {
                $('#CAdres').hide();
                //$('#CAddress').val($('#Address').val());
                //$('#CCity').val($('#City').val());
                //$('#CState').val($('#State').val());
                //$('#CCountry').val($('#Country').val());
                //$('#CPostalCode').val($('#PostalCode').val());
            }
            else {
                $('#CAdres').show();
                //$('#CAddress').val("");
                //$('#CCity').val("");
                //$('#CState').val("");
                //$('#CCountry').val("");
                //$('#CPostalCode').val("");
            }
        }
        $('#CheckAdd').click(function () {
            checkAddress();
        });

        /* function for Create popup */
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            var url = $('#createform')[0].action;
            var text = $("#DepartmentName").val();
            $('#DepartmentID option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-create').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('.form-control[name="DepartmentID"]').append(newOption)
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });


        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-edit');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-edit').on('submit', '#createform', function (e) {
            var url = $('#createform')[0].action;
            var text = $("#DesignationName").val();
            $('#DesignationID option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-edit').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('.form-control[name="DesignationID"]').append(newOption)
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });

    </script>
}