@model QuickSoft.ViewModel.SerialNoViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Item Serial Number";
    var TimeOut = @ViewBag.TMOut;
    int ci = 0;
    int SlNo = 1;
}
@using (Html.BeginForm("Import", "PurchaseEntry", FormMethod.Post, new { id = "createform2", autocomplete = "off", @enctype = "multipart/form-data" }))
{
    
    <input type="hidden" name="PurchaseEntryId" id="pid"/>
  
    <div class="box box-info" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Item", null, new { @class = "control-label" }) *
                    @Html.DropDownList("item", (SelectList)ViewBag.ddlItem, new { @class = "form-control input-sm", id = "ddlItem2" })
                </div>
            </div>
        </div>
        <div class="row">



            <div class="col-md-4">
                <div class="form-group">
                    <label style="text-align:right;" class="control-label col-sm-6">Select File:</label>
                    <div class="col-sm-6">
                        <input type="file" name="file" class="form-control" id="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label style="text-align:right;" class="control-label col-sm-6">Row Start</label>
                    <div class="col-sm-2">
                        <input type="text" name="rowstart" value="" id="rowstart" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label style="text-align:right;" class="control-label col-sm-6">Column</label>
                    <div class="col-sm-2">
                        <input type="text" name="colstart" value="" id="colstart" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <input type="submit" class="btn btn-info col-sm-offset-4" value="Upload" />

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("GenerateSerialNo", "PurchaseEntry", FormMethod.Post, new { id = "createform", autocomplete = "off", @enctype = "multipart/form-data" }))
{
    <div class="box box-info">

        <div class="box-header with-border">
            <h3 class="box-title">Create Item Serial Number</h3>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.PurchaseEntryId)
        @Html.HiddenFor(model => model.Unit)
        @Html.HiddenFor(model => model.MfgDate)
        @Html.HiddenFor(model => model.ExpiryDate)

        <div class="box-body">
            <div class="row">
                <div class="col-md-1" style="margin-right:-65px">
                    <label class="control-label"></label>
                    <div class="input-group" style="margin-top:8px">

                    </div>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        @Html.Label("Item", null, new { @class = "control-label" }) *
                        @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.ddlItem, new { @class = "form-control input-sm", @required = "required", id = "ddlItem", @onchange = "LoadSerialNo(this)" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group input_fields_wrap2">
                        <table class="table table-condensed table-hover" id="contactTbl">
                            @{
                                if (Model != null && Model.SerialNoObjs != null && Model.SerialNoObjs.Count > 0)
                                {
                                    foreach (var item in Model.SerialNoObjs.ToList())
                                    {
                                        <div class="row" style="margin-top: 1rem;">

                                            <div class="col-md-1" style="margin-right:-65px">
                                                <label class="control-label"></label>
                                                <div class="input-group" style="margin-top:8px">
                                                    @SlNo
                                                </div>
                                            </div>

                                            <div class="col-md-7">
                                                <label class="control-label">Serial Number</label>
                                                <div class="input-group">
                                                    <input type="text" id="SerialNo" name="SerialNoObjs[@ci].SerialNo" value="@item.SerialNo" class="form-control SerialNo" tabindex=2>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label class="control-label">Manufacture Date</label>
                                                <div class="input-group">
                                                    @{
                                                        if (item.ExpiryDate == null)
                                                        {
                                                            <input type="date" value="" name="SerialNoObjs[@ci].ExpiryDate" class="form-control" required tabindex=3>
                                                        }
                                                        else
                                                        {
                                                            <input type="date" value="@item.MfgDate.Value.ToString("yyyy-MM-dd")" name="SerialNoObjs[@ci].MfgDate" required class="form-control" tabindex=3>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label class="control-label">Expiry Date</label>
                                                <div class="input-group">
                                                    @{
                                                        if (item.ExpiryDate == null)
                                                        {
                                                            <input type="date" value="" name="SerialNoObjs[@ci].ExpiryDate" class="form-control" required tabindex=4>
                                                        }
                                                        else
                                                        {
                                                            <input type="date" name="SerialNoObjs[@ci].ExpiryDate" value="@item.ExpiryDate.Value.ToString("yyyy-MM-dd")" required class="form-control" tabindex=4>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                        ci++;
                                        SlNo++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <button type="submit" id="save" class="btn btn-success" tabindex="5">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button> &ensp;
                <button type="button" class="btn btn-default can-btn" tabindex="6" onclick="@("window.location.href='/PurchaseEntry/Index'");">Cancel</button>
            </div>
        </div>
    </div>
}

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/jqueryval")
    <script>
        var RowCount;
        var PEEntryId = $("#PurchaseEntryId").val();
        $("#pid").val(PEEntryId);

        //For DropDown Item, By Passing Purchase Entry Id
        $(document).ready(function () {
            $("#ddlItem,#ddlItem2").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/SearchItemByPurchase",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            PurchEntryId: PEEntryId
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
        });

    //To fill the details in Create Mode(Appending Rows)
    if ('@ViewBag.Mode' == "Create") {

        ItemId = $("#ddlItem").val();

        //Calling function to retrieve Item details based on PurchaseEntryId
        $.ajax({
            url: '/PurchaseEntry/GetSerialNoDtlInCreateMode',
            dataType: 'json',
            data: { PurchEntryId: PEEntryId, ItemId: ItemId },
            cache: true,
            success: function (data) {

                //To Set the RowCount For Appending Rows
                RowCount = data[0].Quantity;

                //Setting The Values
                $("#ExpiryDate").val(data[0].ExpiryDate);
                $("#MfgDate").val(data[0].MfgDate);
                $("#Unit").val(data[0].UnitId);

                $('.input_fields_wrap2').html('');

                //To Fill The Serial Number Details(Appending Rows According To Quantity)
                FillData()
            }
        });
    }
    else {
        $("#SerialNo").focus();
    }

     //To Fill The Serial Number Details in Create Mode
    function FillData() {

        var Date1   =   $("#ExpiryDate").val();
        var Date2   =   $("#MfgDate").val();

        //To Set value of Expiry Date
        var ExpDate = GetDateFormat(Date1);

        //To Set value of Manufactured Date
        var MfgDate = GetDateFormat(Date2);

        var wrapper2 = $(".input_fields_wrap2"); //Fields wrapper
        var SlNo = 1;
        for (var rowno = 0; rowno < RowCount; rowno++) {

            $(wrapper2).append('<div class="row" style="margin-top: 1rem;">' +

                                    '<div class="col-md-1" style="margin-right:-65px">' +
                                        '<label class="control-label"></label>' +
                                        '<div class="input-group" style="margin-top:8px">' +
                                            SlNo +
                                       '</div>'+
                                     '</div>'+

                                    '<div class="col-md-7">' +
                                        '<label class="control-label">Serial Number</label>' +
                                        '<div class="input-group">' +
                                            '<input type="text" Id = "SerialNo" name="SerialNoObjs[' + rowno + '].SerialNo" class="form-control" tabindex = 2>' +
                                        '</div>' +
                                    '</div>' +

                                    '<div class="col-md-2">' +
                                        '<label class="control-label">Manufacture Date</label>' +
                                        '<div class="input-group">' +
                                            '<input type="date" name="SerialNoObjs[' + rowno + '].MfgDate" value="' + MfgDate + '" class="form-control datepicker" required tabindex = 3>' +
                                        '</div>' +
                                    '</div>' +

                                    '<div class="col-md-2">' +
                                        '<label class="control-label">Expiry Date</label>' +
                                        '<div class="input-group">' +
                                            '<input type="date" name="SerialNoObjs[' + rowno + '].ExpiryDate" value="' + ExpDate + '" class="form-control datepicker" required tabindex = 4>' +
                                        '</div>' +
                                    '</div>' +
                                 '</div > '
            );
            SlNo++
        }
        $("#SerialNo").focus();
     }

    // Saving
    $('#createform').on('submit', function (e) {

             $.ajax({
                 async: true,
                 cache: false,
                 dataType: "json",
                 type: "POST",
                 contentType: "application/json; charset=utf-8",
                 url: "/PurchaseEntry/GenerateSerialNo",
                 data: $('#createform').serialize(),
             });
    });

    //Function To Get New Date Format To Set In Appended Rows
    function GetDateFormat(Param) {

        var ConvDate = convertToDate(Param);

        var dateParts = ConvDate.split("-");
        var newdate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);

        //For Getting Date
        var date = newdate.getDate();

        if (date < 10)
            date = ("0" + date);

        //For Getting Month
        var Month = newdate.getMonth() + 1;

        if (Month < 10)
            Month = ("0" + Month);

        //For Getting Year
        var Year = newdate.getFullYear();

        //Setting New Date Format("yyyy-MM-dd")
        var RetValue = (Year + "-" + Month + "-" + date);
        return RetValue;
    }

    //Function to load contact while selecting Customer
    function LoadSerialNo(obj) {
        var Item = $(obj).val();
        window.location.href = "/PurchaseEntry/GenerateSerialNo/" + '@ViewContext.RouteData.Values["id"]' + "?ItemId=" + Item;
    }
        $('input').bind('paste', null, function (e) {
            $this = $(this);

            setTimeout(function () {
                var columns = $this.val().split(/\s+/);

                var i;
                var input = $('.SerialNo');
                var str = "";
                for (i = 0; i < columns.length; i++) {
                    //input.val(columns[i]);
                    //input = input.next()
                    
                    $('input[name="SerialNoObjs[' + i + '].SerialNo"]').val(columns[i]);
                   // $(input[str]).val(columns[i]);
                }
            }, 0);
        });
    </script>
}

