@{

    ViewBag.Title = "Search Account Wise";
    ViewBag.SubTitle = "Asset Report";
    ViewBag.Active = "Reports";
    string actData = "";
}
<style>
    #ddlType, #InvoiceNo {
        margin-bottom: -4px !important;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search AccountWise Asset</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            @using (Html.BeginForm("AccountWiseReport", "AssetFromInventory", FormMethod.Post, new { id = "popupForm", target = "_new" }))
            {
                @*<div class="form-group col-md-3" id="creditsale">
                @Html.Label("Item Name/Code", null, new { @class = "control-label" })
                @Html.ListBox("ddlItem", (SelectList)ViewBag.Item, new { @class = "form-control input-sm select2", @multiple = "multiple", @name = "ddlItem[]", @required = "required" })
            </div>*@
                <div class="form-group col-md-3">
                    @Html.Label("Asset Account", null, new { @class = "control-label" })
                    @Html.DropDownList("AssetAccount", (SelectList)ViewBag.AssetAccount, new { @class = "form-control input-sm", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("From", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("To", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    @Html.Label("Material Center", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm select2" })
                </div>
                <div class="box-footer col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                    <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                    <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
                </div>
            }
        </form>
    </div>
</div>
<div class="box box-default" id="StockReport">
    <div class="box-header with-border">
        <h3 class="box-title">View AccountWise</h3>
    </div>
    <div class="box-body">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <input type="hidden" id="invoiceno" value="@ViewBag.InvoiceNo" />
        <input type="hidden" id="fromdate" value="@ViewBag.fromdate" />
        <input type="hidden" id="todate" value="@ViewBag.todate" />
        <input type="hidden" id="matcenter" value="@ViewBag.EnableMCcheck" />
        <input type="hidden" id="Scaffold" value="@ViewBag.BusinessType" />
        <div class="box-body">
            <table class="display table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="2">S/N</td>
                        <td data-priority="2">Bill No</td>
                        <td data-priority="2">Item</td>
                        <td data-priority="2">Asset Entry Date</td>

                        @*<td data-priority="3">Pay Method</td>*@
                        <td data-priority="2">Quantity</td>
                        <td data-priority="1">Price</td>
                        <td data-priority="1">Total Price</td>
                        @*<td>TRN</td>*@
                        @*<td data-priority="2">Item Amt</td>*@
                        @*<td data-priority="1" class="headeralign">Total Amt</td>
        <td class="headeralign">Paid Amt</td>
        <td class="headeralign">Balance Amt</td>*@
                        @*<td data-priority="3">Last Paid Date</td>*@
                        @*<td data-priority="1">AssetAccount</td>*@
                        @*<td id="SaleTy">SaleType</td>*@
                        @*<td>Created By</td>*@
                        @*<td>Branch</td>*@
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th></th>*@

                        @*<th></th>*@
                        @*<th></th>
        <th></th>
        <th></th>*@

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxDate)
        })
        $(document).ready(function () {
            /*datatable still hided before clicking the submit button*/

            $("#StockReport").hide()
            /*end*/
            $("#divpaymethod").hide();
            $('#HireTypeDiv').hide();
            //$("#SaleType").val(1);
            $('#SaleType option:contains(POS)').remove();

            $("#SaleType").prop('selectedIndex', 0);
            //customertype();
            //customertype();
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            //$('#From').datepicker('setDate', priordate);
            $('#From').datepicker('setDate', new Date(minDate));
            //---

            //GetProjectWithAll();
            //GetTaskWithAll();

            ItemSearchable();
            // Material Center
            CallRepCustomer();
            CallRepEmployee();
            CallRepMCUser();
            $("#ddlMC").select2({
                placeholder: 'Select Material Center',
                minimumInputLength: 0,
                ajax: {
                    url: "/MyReports/SearchMC",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlSalesMan").select2({
                placeholder: 'Search by Name ',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "empty"

                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            $("#AssetAccount").select2({
                placeholder: 'Search Account by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/AssetToInventory/SpecialAccounts",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            //x: "All"
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                templateResult: repoFormatResult,
                templateSelection: repoFormatSelection,
            });

        });

        function customertype() {
            var type = $("#ddlType").val();
            if (type == 0) {
                $('#divpaymethod').hide();
            } else {
                $('#divpaymethod').show();
            }
        }


        function HType() {
            var Type = $('#SaleType').val();
            if (Type == 2) {
                $('#HireTypeDiv').show();
            }
            else {
                $('#HireTypeDiv').hide();
            }
        }
        function DateSet() {
            var ndate = $('#FromDate').val();

            $('#ToDate').datepicker({
                startDate: ndate,
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

        }




        function searchData(data) {


            data.ddmc = $('#ddlMC').val();
            data.fromdate = $('#From').val();
            data.todate = $('#To').val();
            data.AssetAccount = $('#AssetAccount').val();
            //data.TaxType = $('#ddlTaxType').val();

        }

        function showdatatable() {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "stateSave": true,
                "bDestroy": true,
                "bLengthChange": false,
                responsive: true,
                "paging": true,
                "pageLength": 25000,
                "ordering": false,
                "ajax": {
                    "url": '/AssetFromInventory/GetAccountWiseReport',
                    /* calling the function for capturing the datas*/
                    "data": function (data) {
                        data = searchData(data);
                    },
                    /*end*/
                    "type": "POST",
                    "datatype": "json"

                },
                "order": [[0, "desc"]],
                "columns": [
                    {
                        "data": "ItemID", "name": "ItemID",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    //{ "data": "invoice", "name": "invoice" },
                     {
                         "name": "invoice", "data": function (data) {
                    @{
                        actData += "'<a href=\"/AssetFromInventory/Edit/'+ data.AssetEntryId +'\" target=\"_new\">'+ data.invoice +'</a>' ";
                    }
                    return @Html.Raw(actData);
                    }
                    },
                    { "data": "Item", "name": "Item" },
                    
                    @*{
                         "name": "BillNo", "data": function (data) {
                              @{
                                  actData += "'<a href=\"/CreditSale/Edit/'+ data.SalesEntryId +'\" target=\"_new\">'+ data.BillNo +'</a>' ";
                              }
                              return @Html.Raw(actData);
                          }
                    },*@
                    { "data": "AssetEntryDate", "name": "AssetEntryDate", "render": function (data) { return convertToDate(data); } },
                    //{ "data": "PriUnit", "name": "PriUnit" },
                    //{ "data": "PayMethod", "name": "PayMethod" },
                    //{ "data": "NetQty", "name": "NetQty" },
                    {
                        "name": "NetQty", "data": function (data) {
                            if (data.PriUnit != null) {
                                return (data.NetQty + " " + data.PriUnit);
                            } else {
                                return data.NetQty;
                            }
                        },
                    },
                    { "data": "Price", "name": "Price", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    //{ "data": "Credit", "name": "Credit", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    {
                        "name": "TotalPrice", "data": function (data) {
                            return ((data.Price * data.NetQty).toFixed(2))
                        }, "sClass": "numberright"
                    },
                    //TRN   { "data": "TaxRegNo", "name": "TaxRegNo" },
                    //{ "data": "SEGrandTotal", "name": "SEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    //Total Amt { "data": "SEGrandTotal", "name": "SEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    //Paid Amt { "data": "SEPaidAmount", "name": "SEPaidAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    //Balance Amt { "data": "SEBalanceAmount", "name": "SEBalanceAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    //  { "data": "lastpaydate", "name": "lastpaydate", "render": function (data) { return convertToDate(data); } },
                    //{ "data": "AssetAccountName", "name": "AssetAccountName" },
                    //{ "data": "MCName", "name": "MCName" },
                    //{
                    //    "data": "SaleType", "name": "SaleType", "render": function (data) {
                    //        if (data == 2) {
                    //            return 'Hire';
                    //        }
                    //        else {
                    //            return 'Sale';
                    //        }

                    //    }

                    //}
                    // { "data": "User", "name": "User" },
                    // { "data": "Branch", "name": "Branch" }
                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                    'colvis',
                    {
                        extend: 'print',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Account Wise Report';
                        },
                        columnDefs: [
                            { width: 400, targets: 2 }
                        ],
                        exportOptions: {
                            columns: ':visible'
                        },
                        message: function () {
                            var head = '<table class="tblcompact table table-bordered"><thead>' +
                                ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Account Wise Report</h4></th></tr>' +
                                ' <tr><th><span class="text-left">Asset Account : ' + $('#AssetAccount').text() + '</span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                            return head;
                        },
                        customize: function (win) {
                            // $(win.document.body)
                            //.css('font-size', '10pt')
                            //.css('padding', '1px');
                            $(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
                            $(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
                                .css('font-size', '10pt')
                                .css('padding', '5px')
                                .addClass('compact');
                            $(win.document.body).find('.dataTable tr th:nth-child(3)')
                                .css('min-width', '80px');
                            //$(win.document.body).find('.tblcompact tbody td:nth- child(2)')
                            //    .css('padding', '0px');
                            $(win.document.body).append('</td></tr></tbody><tfoot><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr><tr><th>Name :</th></tr><tr><td>&nbsp;</td></tr><tr><th>Date :</th></tr><tr><td>&nbsp;</td></tr><tr><th>Signature :</th></tr></tfoot>')

                        }
                    }, 'copy', 'csv', //'excel',
                    //Excel
                    {
                        extend: 'excel',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'AccountWise-Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' AccountWise Report \n' +
                                'Invoice No : ' + $('#invoiceno').val() + '\n' +
                                'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },
                    {
                        extend: 'pdf',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'AccountWise-Report';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' AccountWise Report \n' +
                                'Invoice No : ' + $('#invoiceno').val() + '\n' +
                                'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        },
                        customize: function (doc) {
                            doc.pageMargins = [10, 10, 10, 10];
                            doc.defaultStyle.fontSize = 10;
                            doc.styles.tableHeader.fontSize = 10;
                            doc.styles.title.fontSize = 12;
                            // Header font and bg color
                            doc.styles.tableHeader.fillColor = '#d3d3d3';
                            doc.styles.tableHeader.color = 'black';
                            // Remove spaces around page title
                            doc.content[0].text = doc.content[0].text.trim();


                            doc.styles['td:nth-child(2)'] = {
                                width: '100%',
                                'max-width': '100%'
                            }

                            //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                            //doc.content[1].table.widths = [
                            //'5%',
                            //'7%',
                            //'12%',
                            //'10%',
                            //'10%',
                            //'10%',
                            //'12%',
                            //'12%',
                            //'12%',
                            //'10%'
                            //]

                            //doc['header'] = (function () {
                            //    return {
                            //        columns: [
                            //			{
                            //			    alignment: 'left',
                            //			    italics: true,
                            //			    text: 'dataTables',
                            //			    fontSize: 18,
                            //			    margin: [10, 0]
                            //			},
                            //			{
                            //			    alignment: 'right',
                            //			    fontSize: 14,
                            //			    text: 'Custom PDF export with dataTables'
                            //			}
                            //        ],
                            //        margin: 20
                            //    }
                            //});
                            var objLayout = {};
                            // Horizontal line thickness
                            objLayout['hLineWidth'] = function (i) { return .5; };
                            // Vertikal line thickness
                            objLayout['vLineWidth'] = function (i) { return .5; };
                            //// Horizontal line color
                            //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                            //// Vertical line color
                            //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                            // Left padding of the cell
                            objLayout['paddingLeft'] = function (i) { return 4; };
                            // Right padding of the cell
                            objLayout['paddingRight'] = function (i) { return 4; };
                            // Inject the object in the document
                            doc.content[1].layout = objLayout;
                            // Footer font and bg color
                            doc.styles.tableFooter.fillColor = '#d3d3d3';
                            doc.styles.tableFooter.color = 'black';

                        }
                    }

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };




                    //// Total over all pages
                    //total = api
                    //    .column(4)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total over this page
                    //pageTotal = api
                    //    .column(4, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer
                    //$(api.column(4).footer()).html(
                    //    pageTotal.toFixed(2)
                    //    //'$' + pageTotal + ' ( $' + total + ' total)'
                    //);


                    // Total over all pages
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                        pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );


                    //// Total over all pages
                    //total = api
                    //    .column(6)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total over this page
                    //pageTotal = api
                    //    .column(6, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer
                    //$(api.column(6).footer()).html(
                    //    pageTotal.toFixed(2)
                    //    //'$' + pageTotal + ' ( $' + total + ' total)'
                    //);


                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
            //for showing the datatable when click the submit button

            $('#search-form').on('submit', function (e) {

                e.preventDefault();
                oTable.draw();
                $('#SReport').show();
                $('#UserTable').show();



            });

            $('#UserTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).addClass('dataTables_row');
                }
            });
        }

        var flag = 0;
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            if (flag == 0) {
                showdatatable();
                flag = 0;
            }
            else
                oTable.draw();

            $('#StockReport').show();
        });


        function reload_table() {0
            oTable.clear().draw();
            oTable.ajax.reload(null, false);
        }

        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
    </script>
}