@{
    ViewBag.Title = "Search Sales Entry";
    ViewBag.SubTitle = "Sales Report";
    ViewBag.Active = "Reports";


}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Sales Entry</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("employeesales", "SalesReport", FormMethod.Post, new { id = "popupForm" }))
        {
            <div class="form-group col-md-2">
                <strong>Salesman Wise</strong><input type="radio" name="wise" value="true" checked="checked" />
            </div>
            <div class="form-group col-md-2">
                <strong>Sales Executive Wise</strong><input type="radio" name="wise" value="false" />
            </div>
            <div class="form-group col-md-2" id="execreditsale">
                @Html.Label("Employee", null, new { @class = "control-label" })
                @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.SalesExecutive, new { @class = "form-control input-sm select2",@required="required" })
            </div>
         

            @*<div class="form-group col-md-4">
                @Html.Label("Branch", null, new { @class = "control-label" })
                @Html.DropDownList("ddlBranch", (SelectList)ViewBag.Branch, new { @class = "form-control input-sm select2" })
            </div>*@
            <div class="form-group col-md-2">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>



            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
@Scripts.Render("~/js/bootstrap-datepicker")

    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })

        $(document).ready(function () {
            $("#divpaymethod").hide();
            $('#HireTypeDiv').hide();
            //$("#SaleType").val(1);
            $('#SaleType option:contains(POS)').remove();

            $("#SaleType").prop('selectedIndex', 0);
            //customertype();
            //customertype();
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---

            //GetProjectWithAll();
            //GetTaskWithAll();

            ItemSearchable();
            // Material Center
            CallRepCustomer();
            CallRepEmployee();
            CallRepMCUser();

          

        });
        function customertype() {
            var type = $("#ddlType").val();
            if (type == 0) {
                $('#divpaymethod').hide();
            } else {
                $('#divpaymethod').show();
            }
        }


        function HType() {
            var Type = $('#SaleType').val();
            if (Type == 2) {
                $('#HireTypeDiv').show();
            }
            else {
                $('#HireTypeDiv').hide();
            }
        }
        function DateSet() {
            var ndate = $('#FromDate').val();

            $('#ToDate').datepicker({
                startDate: ndate,
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

        }

        $('body').on('change', '#ddlCustomer', function (e) {
            $('#ddlProject').val(null).trigger('change');
            CallProject();
        });
        $('body').on('change', '#ddlProject', function (e) {
            $('#ddlProTask').val(null).trigger('change');
            CallTask();
        });
    </script>
}
