<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    <div class="text-center" id="comHeader">
                        @if (@ViewBag.HeadCheck != 0)
                        {
                            @Html.Partial("../Common/_CompanyHeader")
                        }
                    </div>
                    <div class="text-center">
                        <style type="text/css">
                            @@media print {
                                body, .print {
                                    border: 0px !important;
                                }

                                body, .print {
                                    border: 1px !important;
                                }

                                .table-bordered td, .table-bordered th {
                                    border: 1px solid #898989 !important;
                                }
                            }

                            body .print {
                                font-size: 12px;
                            }

                            .print .table-nob tr th {
                                width: 40%;
                            }
                        </style>
                        <h4 style="margin-bottom: 1px;">
                            <strong><u><b>Task Images</b></u></strong>
                        </h4>
                    </div>

                    <h4>

                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            @*<b> VOUCHER No:<label id="lblBillNo"></label></b>*@
                            <div class="info">
                            </div>
                            <table width="100%" class="table- noborder ">
                                <tr>

                                    <td><b>Project :</b><label id="lblProject"></label></td>
                                    <td><b>Task Name :</b><label id="lbltask"></label></td>
                                   
                                </tr>
                                <tr>

                                    <td><b>LPO# :</b><label id="lblLpo"></label></td>
                                    <td><b>Completion Date :</b><label id="lblprojectcmpdate"></label></td>

                                </tr>
                                <tr>
                                    <td colspan="2"><b>Site Photos</b></td>
                                   
                                </tr>
                            </table>
                            <table class="table- noborder " id="addfield">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;"></td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                            <br />
                            <br />
                            Authorised Signatory

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>

