


@{
    List<QuickSoft.ViewModel.paramclass> leadstat = ViewBag.dashboard;
    List<QuickSoft.ViewModel.paramclass> leadstatexp = ViewBag.expiredlead;
}

@{var Model = "";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}
<h2>Total Status</h2>
<div class="row">
    @foreach (var da in leadstat)
    {
        <div class="col-md-2">
            <div class="box box-info top-10">
                <h3 class="box-title"><center>@da.statusname</center></h3>
                <div class="box-body">
                    <center>
                        <strong>
                            <a href="/ProTask/modallist?protaskstatus=@da.satusid&type=0" target="_new"> Count : @da.count</a>
                        </strong>
                    </center>
                </div>

            </div>
        </div>
    }
</div>
<h2>Expired Status</h2>
<div class="row">
    @foreach (var da in leadstatexp)
    {
        <div class="col-md-2">
            <div class="box box-info top-10">
                <h3 class="box-title"><center>@da.statusname</center></h3>
                <div class="box-body">
                    <center>
                        <strong>
                            <a href="/ProTask/modallist?protaskstatus=@da.satusid&type=1" target="_new"> Count : @da.count</a>
                        </strong>
                    </center>
                </div>

            </div>
        </div>
    }
</div>
<script>
    $('div').on('click', '.modal-create', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        modalshow(url, '#modal-create');
    });
</script>
