
@model QuickSoft.ViewModel.ProTaskViewModel
@{ ViewBag.Title = "My Tasks";
    ViewBag.SubTitle = "My Tasks";
    ViewBag.Active = "Master";
    string actData = "";
    string actDatas = "";
    string actStatus = "";
    string actImg = "";
    string chk = "";
    string nameclass = "";
    var rowCount1 = 19;
    var rowCount2 = 20;

    var Ref1 = 0;
    var Ref2 = 0;
    var Ref3 = 0;
    var Ref4 = 0;
    var Ref5 = 0;
    if (Model.FieldMap != null && Model.FieldMap.Count > 0)
    {
        for (int i = 0; i < Model.FieldMap.Count; i++)
        {
            if (@Model.FieldMap[i].Field == "Ref1")
            {
                Ref1 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref2")
            {
                Ref2 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref3")
            {
                Ref3 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref4")
            {
                Ref4 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref5")
            {
                Ref5 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
        }
    }
    string refreshBTn = "{text: 'Refresh', className: 'btn-primary', action: function(e, dt, node, config) {" +
               " $('#UserTable').DataTable().ajax.reload();" +
                " }},"; }
<style type="text/css">

    .dropdown-check-list {
        display: inline-block;
        /*  position: absolute;*/
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
            width: 236px;
            background: #fff;
            text-align: center;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 0px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 9;
            width: 236px;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 340px;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
                background: #fff;
                padding: 5px;
                width: 236px;
            }

    .add-btn-item {
        border-radius: 23px;
        padding: 6px 20px;
    }

    .dropdown-check-list.visible .anchor {
        color: #0094ff;
    }

    .dropdown-check-list.visible .items {
        display: block;
    }

    @@media only screen and (max-width: 400px) {
        .top3 {
            margin-top: 27px;
        }

        .adv-search-height {
            margin-left: 10px !important;
        }

        .responsive-search {
            padding: 0px 0px 0px 0px !important;
        }

        .btn-close {
            background-color: red !important;
            width: 150px !important;
        }

        .task-name-center {
            text-align: center !important;
        }
    }

    @@media only screen and (min-width: 800px) {
        .top3 {
            margin-top: 10px;
        }

        .adv-search-height {
            top: -30px !important;
            margin-left: 13px;
        }

        .responsive-search {
            padding: 20px 0px 0px 50px !important;
        }

        .btn-close {
            background-color: red !important;
        }
    }
</style>

<div class="box box-info">

    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-10 col-xs-12 task-name-center">
                <h3 class="box-title " style="font-size:x-large;">My Tasks</h3>
            </div>
            <div class="col-md-2 col-xs-12 pull-right" style="padding: 0px; margin: 10px 0px 0px 0px;">
                @if (User.IsInRole("Dev") || User.IsInRole("Create ProTask"))
                {
                    <div class="row">
                        <div class="col-md-10 col-xs-4 pull-right" style="padding:0px;">
                            <a class="btn btn-info no-border" href="/ProTask/Create/MyTask">
                                <i class="glyphicon glyphicon-plus"></i> Create Task
                            </a>
                        </div>
                        <div class="col-md-10 col-xs-4 pull-right" style="padding:0px;">
                            <a class="btn btn-info no-border" href="/ProTask/">
                                <i class="glyphicon glyphicon-plus"></i> List
                            </a>
                        </div>

                    </div>}
                <div class="col-md-10 col-xs-4 pull-right" style="padding:0px;">
                    <a class="btn btn-info no-border" href="/ProTask/taskcashreport" target="_new">
                        <i class="glyphicon glyphicon-plus"></i> Cash Report
                    </a>
                </div>
            </div>

            <div class="col-md-2 col-xs-10 mx-auto" id="taskchecklist" style="padding:0px; margin:0px;">

                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor" style="z-index:9;">Select Fields</span>
                    <ul class="items">
                        <li><input type="checkbox" id="litaskname" class="liname" />Task Name </li>

                        @*------------------ For Optional Fields ----------------*@
                        @if (Model.FieldMap != null && Model.FieldMap.Count > 0)
                        {
                            for (int i = 0; i < Model.FieldMap.Count; i++)
                            {
                                if (Model.FieldMap[i].Field == "Ref1")
                                {
                                    <li><input type="checkbox" id="liOptionalField1" />@Model.FieldMap[i].FieldName</li>
 }
                                if (Model.FieldMap[i].Field == "Ref2")
                                {
                                    <li><input type="checkbox" id="liOptionalField2" />@Model.FieldMap[i].FieldName</li>
 }
                                if (Model.FieldMap[i].Field == "Ref3")
                                {
                                    <li><input type="checkbox" id="liOptionalField3" />@Model.FieldMap[i].FieldName</li>
 }
                                if (Model.FieldMap[i].Field == "Ref4")
                                {
                                    <li><input type="checkbox" id="liOptionalField4" />@Model.FieldMap[i].FieldName</li>
 }
                                if (Model.FieldMap[i].Field == "Ref5")
                                {
                                    <li><input type="checkbox" id="liOptionalField5" />@Model.FieldMap[i].FieldName</li>
}
                            }
                        }
                        <li><input type="checkbox" id="litaskstatus" />Task Status</li>
                        <li><input type="checkbox" id="limobile" />Mobile</li>
                        <li><input type="checkbox" id="lilocation" />Location</li>
                        <li><input type="checkbox" id="lifromdate" />From Date</li>
                        <li><input type="checkbox" id="litodate" />To Date</li>
                        <li><input type="checkbox" id="litasktype" />Task Type</li>
                        <li><input type="checkbox" id="lileadpipelncust" />Lead/Pipeline/Customer</li>
                        <li><input type="checkbox" id="liprojects" />Projects</li>
                        <li><input type="checkbox" id="licreatedby" />Created By</li>
                        <li><input type="checkbox" id="lipriority" />Priority</li>
                        <li><input type="checkbox" id="lisalesperson" />Sales Person</li>
                        <li><input type="checkbox" id="lireminderdate" />Reminder Date</li>
                        <li><input type="checkbox" id="lireminderstatus" />Reminder Status</li>
                        <li><input type="checkbox" id="lilastupdated" />Last Updated</li>
                        <li><input type="checkbox" id="liassignedto" />Assigned To</li>
                        <li><input type="checkbox" id="liInvnoremarks" />Invoice No / Remarks</li>
                        @if (@ViewBag.BusiType == "Workshop")
                        {
                            <li><input type="checkbox" id="liWorkshop" />Work Shop</li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-xs-2 text-right top3" style="">
                <a href="/calendar/taskcalendar/Index" target="_new">
                    <img src="~/Content/img/calendar.jpg" height="40" />
                </a>
            </div>


            <div class="col-md-12">
                <div class="box-body search-box adv-search-height" id="advsearchlist">

                    <div class="search-body col-md-12 responsive-search" style="">

                        <form id="search-form">

                            <div class="row">
                                <input type="hidden" id="protaskId" />
                                <div class="form-group col-md-2" id="searchtaskname" hidden style="display:none;">
                                    @Html.Label("Task Name", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlTaskName", (SelectList)ViewBag.TaskName, new { @class = "form-control input-sm select2" })
                                </div>

                                @*----------------- For Optional Fields -----------------*@
                                @if (Model.FieldMap.Count > 0)
                                {
                                    for (int i = 0; i < Model.FieldMap.Count; i++)
                                    {
                                        if (Model.FieldMap[i].Type == "Dropdown")
                                        {
                                            if (Model.FieldMap[i].Field == "Ref1")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField1" style="display:none">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef1, "All", new { @id = "Ref1", @class = "form-control input-sm select2 ref" })
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref2")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField2" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef2, "All", new { @id = "Ref2", @class = "form-control input-sm select2 ref" })
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref3")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField3" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef3, "All", new { @id = "Ref3", @class = "form-control input-sm select2 ref" })
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref4")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField4" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef4, "All", new { @id = "Ref4", @class = "form-control input-sm select2 ref" })
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref5")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField5" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef5, "All", new { @id = "Ref5", @class = "form-control input-sm select2 ref" })
                                                </div> }
                                        }
                                        else
                                        {
                                            if (Model.FieldMap[i].Field == "Ref1")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField1" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref2")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField2" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref3")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField3" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref4")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField4" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div> }
                                            if (Model.FieldMap[i].Field == "Ref5")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField5" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>}
                                        }
                                    }
                                }

                                <div class="form-group col-md-2" id="searchtaskstatus" style="display:none">
                                    @Html.Label("Task Status", null, new { @class = "control-label" })
                                    @Html.DropDownList("TaskStatus", (SelectList)ViewBag.TStat, new { @class = "form-control input-sm select2" })
                                </div>

                                <div class="form-group col-md-2" id="searchmobile" style="display:none">
                                    @Html.Label("Mobile", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlmobile", (SelectList)ViewBag.Mobile, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" select2-box" id="searchlocation" style="display:none">
                                    @Html.Label("Location", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlLocation", (SelectList)ViewBag.Locat, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchfromdate" style="display:none">
                                    @Html.Label("From Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2" id="searchtodate" style="display:none">
                                    @Html.Label("To Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-2" id="searchtasktype" style="display:none">
                                    @Html.Label("Task Type", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlTaskType", (SelectList)ViewBag.TaskType, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchcustomer" style="display:none">
                                    @Html.Label(" Customer", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, new { @class = "form-control input-sm select2" })
                                </div>

                                <div class="form-group col-md-2" id="searchproject" style="display:none">
                                    @Html.Label("Projects", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlProject", (SelectList)ViewBag.Projects, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchcreatedby" style="display:none">
                                    @Html.Label("Created By", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlCreatedBy", (SelectList)ViewBag.User, new { @class = "form-control input-sm select2" })
                                </div>

                                <div class="form-group col-md-2" id="searchpriority" style="display:none">
                                    @Html.Label("Priority", null, new { @class = "control-label" })
                                    @Html.DropDownList("Priority", new SelectList(new List<SelectListItem>
                                                                                                            {
                                     new SelectListItem() {Text = "All", Value="0"},
                                        new SelectListItem() {Text = "Low", Value="1"},
                                        new SelectListItem() {Text = "Medium", Value="2"},
                                        new SelectListItem() {Text = "High", Value="3"},
                                         new SelectListItem() {Text = "MaterialUpdation", Value="4"}

                                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "Priority" })
                                </div>
                                <div class="form-group col-md-2" id="searchsalesperson" style="display:none">
                                    @Html.Label("Sales Person", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.SalesExecutive, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchremdate" style="display:none">
                                    @Html.Label("Reminder Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("ReminderDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2" id="searchremstatus" style="display:none">
                                    @Html.Label("Reminder Status", null, new { @class = "control-label" })
                                    @Html.DropDownList("RemStatus", new SelectList(new List<SelectListItem>
                                                                                                            {
                                    new SelectListItem() {Text = "All", Value="0"},
                                    new SelectListItem() {Text = "Upcoming", Value="Upcoming"},
                                    new SelectListItem() {Text = "Expired", Value="Expired"},
                                }, "Value", "Text"), new { @class = "form-control input-sm", @name = "RemStatus" })
                                </div>
                                <div class="form-group col-md-2" id="searchlastupdtd" style="display:none">
                                    @Html.Label("Last Updated", null, new { @class = "control-label" })
                                    @Html.DropDownList("LastUpdated", new SelectList(new List<SelectListItem>
                                                                                                        {
                                   new SelectListItem(){ Text = "All", Value="0"},
                                    new SelectListItem() {Text = "1 Day Ago", Value="1"},
                                    new SelectListItem() {Text = "7 Days Ago", Value="7"},
                                    new SelectListItem() {Text = "1 Month Ago", Value="30"},
                                    new SelectListItem() {Text = "3 Months Ago", Value="90"},
                                    new SelectListItem() {Text = "6 Months Ago", Value="180"},
                                    new SelectListItem() {Text = "1 Year Ago", Value="360"},
                                }, "Value", "Text"), new { @class = "form-control input-sm", @name = "LastUpdated", tabindex = 7 })
                                </div>
                                <div class="form-group col-md-2 select2-box" id="searchassgnto" style="display:none">
                                    @Html.Label("Assigned To", null, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.AssignedMembers, (SelectList)ViewBag.Employee, new { @id = "AssignedUsers", @class = "form-control select2 porder" })
                                </div>
                                <div class="form-group col-md-2" id="searchinvnoremarks" style="display:none">
                                    @Html.Label("Invoice No / Remarks", null, new { @class = "control-label" })
                                    @Html.TextBox("Remarks", "", "", new { @class = "form-control ", @autocomplete = "off" })
                                </div>

                                <div class="form-group col-md-2" id="searchVehicleType" style="display:none">
                                    @Html.Label("Vehicle Type", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlVehicleType", (SelectList)ViewBag.VehicleTypes, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchVehicleManu" style="display:none">
                                    @Html.Label("Manufacturer", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlVehicleManu", (SelectList)ViewBag.VehicleManu, new { @class = "form-control input-sm select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchVehicleModel" style="display:none">
                                    @Html.Label("Model", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlVehicleModel", (SelectList)ViewBag.VehicleModels, new { @class = "form-control input-sm select2" })
                                </div>


                                <div class="form-group col-md-2 text-center" id="search">
                                    <input type="submit" class="btn btn-submit" value="Submit" />
                                </div>
                                <div class="form-group col-md-2 text-center" id="close">
                                    <input type="button" class="btn btn-close" value="Close" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("DeleteAllTask", "ProTask", FormMethod.Post, new { id = "payform", role = "form" }))
    {
        <div class="box-body">

            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1"><div style="width: 10px !important">SI No</div></td>
                        <td data-priority="7"><div style="width:30px">Task Code</div></td>
                        <td data-priority="1"><div style="width:60px !important">Task Name</div></td>
                        <td data-priority="2">Task Type</td>
                        <td data-priority="4">Project</td>
                        <td data-priority="4"><div style="width:200px">Customer</div></td>
                        <td data-priority="4"><div style="width:100px">Mobile</div></td>
                        <td data-priority="4">Location</td>
                        <td data-priority="7">Task Details</td>
                        <td data-priority="4">Assigned To</td>

                        <td data-priority="5">Start Time</td>
                        <td data-priority="5">End Time</td>
                        <td data-priority="6">Sales Person</td>
                        <td data-priority="6">Created By</td>
                        <td data-priority="2">Task Status</td>
                        <td data-priority="6">Priority</td>
                        <td data-priority="5">Reminder Date</td>
                        <td data-priority="5">Reminder Status</td>
                        <td data-priority="1">Last Updated</td>
                        <td data-priority="6">Last Updated User</td>

                        @if (Model.FieldMapAll != null && Model.FieldMapAll.Count > 0)
                        {
                            for (int i = 0; i < Model.FieldMapAll.Count; i++)
                            {
                                <td data-priority="7">@Model.FieldMapAll[i].FieldName</td>
}
                        }

                        <td data-priority="2">Action</td>
                        @*<td><i class="fa fa-lg fa-refresh"></i></td>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>}

    <div id="modal-container2" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Remarks</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" id="modelview">
                        <table class="table table-bordered table-hover " id="RemarkInfo">
                            <thead>
                                <tr class="bg-gray">
                                    <td>#</td>
                                    <td>Date & times</td>
                                    <td>Employee</td>
                                    <td>Remark</td>
                                    <td>Task Status</td>
                                    <td>Details</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-containerCheck" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Checklist</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" id="notemodelview">
                        <table class="table table-bordered table-hover " id="NoteInfo">
                            <thead>
                                <tr class="bg-gray">
                                    <td>#</td>
                                    <td>Check List Name</td>
                                    <td>Note</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-bottom" id="checklist">
    </div>

</div>

@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Reminder/Index")
@Html.Partial("../Common/_ModalDelete")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalChange")
@Html.Partial("_voucher")


@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
    @Styles.Render("~/css/lightbox")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
    @Scripts.Render("~/js/lightbox")

    <script type="text/javascript">
       var date = new Date();
       date.setDate(date.getDate());

        $('.date').datepicker({
          //  startDate: date,
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $(".timepicker").timepicker({
            showInputs: true,
            defaultTime: false,
            format: 'dd-mm-yyyy'
        });

        $(document).ready(function () {
            $("#lilocation").trigger("change");
            TaskStatusName();
            SearchTaskMobile();
            //$('#advsearchlist').hide();

            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#ReminderDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $(".ref").select2({});
            CallEmployee();
            CallLeadPipeCustAll();
            CallProject();
            CallTaskName();
            CallTaskType();
            CallSearchUser();
            GetTaskLocation();
           /* setTimeout(function () {
                if (typeof oTable != 'undefined')
                    oTable.ajax.reload();
            }, 1000000);
            */
            //Location
            if ($("#lilocation").prop("checked") == true) {
                $("#searchlocation").show();
                _show = 1;
            }
            else {
                $('#ddlLocation').val("0").trigger("change");
                $("#searchlocation").hide();
                // oTable.draw();
            }

            $("#ddlVehicleType").select2({
                placeholder: 'Select Vehicle Type',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/SearchVehicleType",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select Vehicle Type"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlVehicleManu").select2({
                placeholder: 'Select Manufacturer',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/getVehiManufacturer",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select Manufacturer"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#ddlVehicleModel").select2({
                placeholder: 'Select the Model',
                minimumInputLength: 0,
                ajax: {
                    url: "/Protask/getVehiModel",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select Model"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $("#AssignedUsers").select2({
                placeholder: 'Search Employees by Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });
        var loctype = 1;
        var oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            stateSave: true,
            responsive: true,
            initComplete: function (settings, json) {

                $('body', parent.document).contents().find("#taskiframe").attr("height", $('#UserTable').height() + 300);
            },
            "ajax": {
                "url": '/ProTask/GetMynewTask',
                "data": function (data) {
                    data.taskname = $('#ddlTaskName').val();
                    data.tasktype = $('#ddlTaskType').val();
                    data.customer = $('#ddlCustomer').val();
                    data.projects = $('#ddlProject').val();
                    data.assignedto = $('#ddlEmployee').val();
                    data.createdby = $('#ddlCreatedBy').val();
                    data.status = $('#Status').val();
                    data.priority = $('#Priority').val();
                    data.fromdate = $('#From').val();
                    data.todate = $('#To').val();
                    data.taskstat = $('#TaskStatus').val();
                    data.empl = $('#ddlEmployee').val();
                    data.txtremarks = $("#Remarks").val();
                    data.ref1 = $('#Ref1').val();
                    data.ref2 = $('#Ref2').val();
                    data.ref3 = $('#Ref3').val();
                    data.ref4 = $('#Ref4').val();
                    data.ref5 = $('#Ref5').val();
                    data.remdate = $('#ReminderDate').val();
                    data.remstatus = $('#RemStatus').val();
                    data.local = $('#ddlLocation').val();
                    data.Mobile = $('#ddlmobile').val();
                    data.LastUpdDays = $('#LastUpdated').val();
                    data.AssTo = $('#AssignedUsers').val();
                    data.protaskid = $("#proid").val();

                    data.VType = $('#ddlVehicleType').val();
                    data.Vmanu = $('#ddlVehicleManu').val();
                    data.Vmod = $('#ddlVehicleModel').val();

                },
                "type": "POST",
                "datatype": "json"
            },
            "order": [[18, "desc"]],
            "columnDefs": [{ orderable: false, "targets": [25] }],
            "columns": [
                         {
                             "data": "ProTaskId", "name": "ProTaskId",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                         { "data": "TaskCode", "name": "TaskCode" },
                         {
                             "name": "TaskName", "data": function (data) {
                                 var myclass = '';
                                 if (data.Priority == "High") {
                                     myclass = 'text-red';
                                 }
                                 else if (data.Priority == "MaterialUpdation") {
                                     myclass = 'text-green';
                                 }

                                 else if (data.Priority == "Medium") {
                                     myclass = 'text-orange';
                                 }
                                 @{
                                     if(User.IsInRole("Dev") || User.IsInRole("View ProTask"))
                                     {
                                         actData += "'<a href=\"/ProTask/Details/'+ data.ProTaskId +'\" class=\"'+myclass+'\"  target=\"_new\">'+ data.TaskName +'</a>' ";
                                     }
                                     else
                                     {
                                         actData += "data.TaskName";
                                     }
                                 }
                                 return @Html.Raw(actData);
                             }
                         },
                        { "data": "TypeName", "name": "TypeName" },
                        {
                            "name": "ProjectName", "data": function (data) {
                                if (data.ProjectName != null) {
                                    @{
                                        var datas = "";
                                        if (User.IsInRole("Dev") || User.IsInRole("View Project"))
                                        {
                                            datas = "'<a href=\"/Project/Details/'+ data.Project +'\"  target=\"_new\">'+ data.ProjectName +'</a>' ";
                                        }
                                        else
                                        {
                                            datas = "data.ProjectName";
                                        }
                                      }
                                    return @Html.Raw(datas);
                                }
                                else {
                                    var datas = "";
                                    return (datas);
                                }

                            }
                        },
                          {
                              "name": "CustomerName", "data": function (data) {
                                  if (data.CustomerName != "No Customer") {
                                      @{
                                          var dataz = "";
                                          if (User.IsInRole("Dev") || User.IsInRole("View Customer"))
                                          {
                                              dataz = "'<a href=\"/Customer/Details/'+ data.CustomerID +'\"  target=\"_new\">'+ data.CustomerName +'</a>' ";
                                          }
                                          else
                                          {
                                              dataz = "data.CustomerName";
                                          }
                                      }
                                      return @Html.Raw(dataz);
                                  }
                                  return "-";
                              }
                          },
                          {
                              "name": "Mobile", "data": function (data) {
                                  var datas = "";
                                  $.each(data.mobmodel, function (i, item) {
                                      if (item.Num != null) {
                                          if (datas != "") {
                                              datas += ", ";
                                          }
                                          datas += '<a href="tel:0' + +item.Num + '">0' + item.Num.replace(/^0+/, '') + '</a>';

                                      }
                                  });
                                  return datas;
                              }
                          },
                { "data": "Location", "name": "Location" },
                {
                    "data": "TaskDetails", "name": "TaskDetails", "render": function (data) {
                        if (data != null && data.length > 600) {
                            return data.substr(0, 600) + '...';
                        }
                        else {
                            return data;
                        }
                    }
                },
                         {
                             "name": "AssignedTo", "data": function (data) {
                                 var datas = "";
                                 $.each(data.AssignedTo, function (i, item) {
                                     if (datas != "") {
                                         datas += ", ";
                                     }
                                     datas += item.FirstName + " " + item.LastName;
                                 })
                                 var rest = "";
                                 //(data.devcheck == true || data.editcheck == true) && (data.allcheck == true || data.CreatedBy == data.UserId)
                                 if (1==1) {
                                     @{
                                         actData = "";
                                         actData += "<a class=\"modal-create\" href=\"/ProTask/Assign/'+ data.ProTaskId +'/MyTask\" title=\"Assign Task\"  target=\"_new\" >'+datas+'</a> ";
                                     }
                                     rest = '@Html.Raw(actData)';
                                 } else {
                                     rest = datas;
                                 }
                                 return rest;
                             }
                },

                          {
                              "name": "StartTime",
                              "data": function (data) {
                                  if (data.StartTime != null) {
                                      return convertDateTime(data.StartTime);
                                  } else if (data.StartDate != null) {
                                      return convertToDate(data.StartDate);
                                  } else { return "";}
                              }
                          },
                           {
                               "name": "EndTime",
                               "data": function (data) {
                                   if (data.EndTime != null) {
                                       return convertDateTime(data.EndTime);
                                   } else if (data.EndDate != null) {
                                       return convertToDate(data.EndDate);
                                   } else { return "";}
                               }
                           },
                        { "data": "EmpName", "name": "EmpName" },
                        { "data": "UserName", "name": "UserName" },
                        { "data": "TaskStat", "name": "TaskStat" },
                        {
                            "name": "Priority", "data": function (data) {
                                var datas = "";
                                if (data.Priority == "Low") {
                                    datas = "<span class='text-blue'>LOW</span>";
                                }
                                else if (data.Priority == "Medium") {
                                    datas = "<span class='text-orange'>MEDIUM</span>";
                                }
                                else {
                                    datas = "<span class='text-red'>HIGH</span>";
                                }
                                return datas;
                            }
                        },
                        {
                            "data": "ReminderDate", "name": "ReminderDate",
                            "render": function (data) {
                                if (data != null) {
                                    var date = convertDateTime(data);
                                    return date.toString();
                                } else return "";
                            }
                        },

                     {
                         "name": "validity", "data": function (data) {
                             if (data.ReminderDate != null) {
                                 if (data.validity == "Expired") {
                                     return '<i class="badge bg-red" style="font-size: small" >Expired</i>';
                                 }
                                 else {
                                     return '<i class="badge bg-orange" style="font-size: small" >Upcoming</i></a>';
                                 }
                             } else { return null; }
                         }
                     },
                      {
                          "name": "ldate", "data": function (data) {
                              var result = "";
                              if (data.ldate != null) {
                                  result = LastUpdatedIn(data.ldate);
                              }
                              return (result);
                          }
                      },
                        { "data": "Updateduser", "name": "Updateduser" },

                        { "data": "Ref1", "name": "Ref1" },
                        { "data": "Ref2", "name": "Ref2" },
                        { "data": "Ref3", "name": "Ref3" },
                        { "data": "Ref4", "name": "Ref4" },
                        { "data": "Ref5", "name": "Ref5" },
                        {
                            "name": "ProTaskId", "data": function (data) {

                                var rest = "";
                                if ((data.devcheck == true || data.editcheck == true) &&  (data.allcheck == true || data.CreatedBy == data.UserId)) {
                                    @{
                                        actData = "";
                                        actData += "<a href=\"/ProTask/Edit/'+ data.ProTaskId +'/MyTask\" title=\"Edit Task\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                    }
                                    rest += '@Html.Raw(actData)';
                                }
                                @{
                                    actData = "";
                                    actData += "<a class=\"modal-edit\" href=\"/ProTask/setopenclosenew/'+ data.ProTaskId +'\" title=\"take\"><div style=\"block\">Take This Task</div></a> ";
                                    }

                                rest += '@Html.Raw(actData)';
                                return rest;
                            }
                        },
                        @*{
                            "name": "TaskStatus", "data": function (data, type, dataToSet) {
                                var status = "";
                                var cls = "";
                                if (data.TaskStatus == "Created") {
                                    status = '<span class="badge bg-aqua">Created</span>';
                                }
                                else if (data.TaskStatus == "Accepted") {
                                    status = '<span class="badge bg-light-blue">Accepted</span>';
                                }
                                else if (data.TaskStatus == "Rejected") {
                                    status = '<span class="badge bg-green">Rejected</span>';
                                }
                                else if (data.TaskStatus == "Assigned") {
                                    status = '<span class="badge bg-teal">Assigned</span>';
                                }
                                else if (data.TaskStatus == "ClosedPending") {
                                    status = '<span class="badge bg-orange">Pending</span>';
                                }
                                else if (data.TaskStatus == "Started") {
                                    status = '<span class="badge bg-green">Started</span>';
                                }
                                else if (data.TaskStatus == "InProgress") {
                                    status = '<span class="badge bg-yellow">InProgress</span>';
                                }
                                else if (data.TaskStatus == "ClosedCompleted") {
                                    status = '<span class="badge bg-black">Completed</span>';
                                }
                                else if (data.TaskStatus == "Canceled") {
                                    status = '<span class="badge bg-red">Canceled</span>';
                                }
                                else if (data.TaskStatus == "Hold") {
                                    status = '<span class="badge bg-lime">Hold</span>';
                                }
                                else if (data.TaskStatus == "Verified") {
                                    status = '<span class="badge bg-navy">Verified</span>';
                                }
                                else if (data.TaskStatus == "Reopen") {
                                    status = '<span class="badge bg-purple">Reopen</span>';
                                }
                                else if (data.TaskStatus == "Reassigned") {
                                    status = '<span class="badge bg-teal-active">Reassigned</span>';
                                }
                                return '<a  class="Updation" onclick="details(' + data.ProTaskId + ')"  title="View Status">' + status + ' </a>';
                            }
                        },
                        {
                            "name": "ProTaskId", "data": function (data) {
                                var rest = "";
                                if ((data.TaskStatus == "Assigned" || data.TaskStatus == "Reassigned" || data.TaskStatus == "Started" || data.TaskStatus == "Accepted") && data.Access != "No")
                                    @{
                                        if (User.IsInRole("Dev") || User.IsInRole("ProTask Status"))
                                        {
                                            actStatus += "<a class=\"modal-edit\"  href=\"/ProTask/EditMyStatus/'+ data.ProTaskId +'\" title=\"Edit Status\"><i class=\"fa fa-lg fa-refresh\" ></i></a> ";
                                        }
                                    }
                                    rest = '@Html.Raw(actStatus)';
                                return rest;
                            }
                        }*@
            ],
            dom: 'Bfrtip',
            buttons: ['colvis',
        {
            extend: 'print',//
            title: "",
            footer: true,
            filename: function () {
                return 'Task';
            },
            columnDefs: [
                { width: 400, targets: 2 }
            ],
            exportOptions: {
                columns: ':visible'
            },
            message: function () {
                var head = '<table class="tblcompact table table-bordered"><thead>' +
                ' <tr><th class="text-center"><h3 style="margin-top: 0px;"><h4>Task</h4></th></tr>';
                return head;
            },
            customize: function (win) {
                // $(win.document.body)
                //.css('font-size', '10pt')
                //.css('padding', '1px');
                $(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
                $(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
                    .css('font-size', '10pt')
                    .css('padding', '5px')
                    .addClass('compact');
                $(win.document.body).find('.dataTable tr th:nth-child(3)')
                    .css('min-width', '80px');
                //$(win.document.body).find('.tblcompact tbody td:nth- child(2)')
                //    .css('padding', '0px');
                $(win.document.body).append('</td></tr></tbody>')

            }
        }, 'copy', 'csv', //'excel',
                 //Excel
                 {
                     extend: 'excel',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Task';
                     },
                     message: function () {
                         var head = 'Task';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                 },
                 {
                     extend: 'pdf',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Task';
                     },
                     message: function () {
                         var head = 'Task';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                     customize: function (doc) {
                         doc.pageMargins = [10, 10, 10, 10];
                         doc.defaultStyle.fontSize = 10;
                         doc.styles.tableHeader.fontSize = 10;
                         doc.styles.title.fontSize = 12;
                         // Header font and bg color
                         doc.styles.tableHeader.fillColor = '#d3d3d3';
                         doc.styles.tableHeader.color = 'black';
                         // Remove spaces around page title
                         doc.content[0].text = doc.content[0].text.trim();


                         doc.styles['td:nth-child(2)'] = {
                             width: '100%',
                             'max-width': '100%'
                         }

                         var objLayout = {};
                         // Horizontal line thickness
                         objLayout['hLineWidth'] = function (i) { return .5; };
                         // Vertikal line thickness
                         objLayout['vLineWidth'] = function (i) { return .5; };
                         //// Horizontal line color
                         //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                         //// Vertical line color
                         //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                         // Left padding of the cell
                         objLayout['paddingLeft'] = function (i) { return 4; };
                         // Right padding of the cell
                         objLayout['paddingRight'] = function (i) { return 4; };
                         // Inject the object in the document
                         doc.content[1].layout = objLayout;
                         // Footer font and bg color
                         doc.styles.tableFooter.fillColor = '#d3d3d3';
                         doc.styles.tableFooter.color = 'black';

                     }
                 }, @Html.Raw(refreshBTn)],
        });

        var ref1 = '@Ref1';
        if (ref1 == "1") {
            var column1 = oTable.column(20);
            column1.visible(true);
        } else {
            var column1 = oTable.column(20);
            column1.visible(false);
        }
        var ref2 = '@Ref2';
        if (ref2 == "1") {
            var column1 = oTable.column(21);
            column1.visible(true);
        } else {
            var column1 = oTable.column(21);
            column1.visible(false);
        }
        var ref3 = '@Ref3';
        if (ref3 == "1") {
            var column1 = oTable.column(22);
            column1.visible(true);
        } else {
            var column1 = oTable.column(22);
            column1.visible(false);
        }
        var ref4 = '@Ref4';
        if (ref4 == "1") {
            var column1 = oTable.column(23);
            column1.visible(true);
        } else {
            var column1 = oTable.column(23);
            column1.visible(false);
        }
        var ref5 = '@Ref5';
        if (ref5 == "1") {
            var column1 = oTable.column(24);
            column1.visible(true);
        } else {
            var column1 = oTable.column(24);
            column1.visible(false);
        }




        $('div').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container2');
            $(this).attr('data-toggle', 'modal');
        });
        $('div').on('click', 'a.UpdationRe', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerRe');
            $(this).attr('data-toggle', 'modal');
        });
        $('div').on('click', 'a.UpdationCheck', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerCheck');
            $(this).attr('data-toggle', 'modal');
        });
        $('.table').on('click', '.modal-close-btn', function () {
            $('#modal-container2').modal('hide');
            $('#modal-container2').removeData('bs.modal');
        });
        $('#modal-container2').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('.table').on('click', '.modal-close-btn', function () {
            $('#modal-container3').modal('hide');
            $('#modal-container3').removeData('bs.modal');
        });
        $('#modal-container3').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears


        function details(d) {
            var TaskId = d;
            var oTable = $('#UserTableInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "ajax": {
                    "url": '/ProTask/GetAllTaskUpdation',
                    "type": "POST",
                    "datatype": "json",
                    "data": { TasKID: TaskId }
                },
                "columns": [
                        {
                            "name": "TaskStatus", "data": function (data) {
                                var datas = data.TaskStatus;
                                if (data.TaskStatus == "Assigned" || data.TaskStatus == "Reassigned") {
                                    datas += " to " + data.Assigned;
                                }
                                return datas;
                            }
                        },
                      { "data": "User", "name": "User" },
                      { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { return convertDateTime(data); } },
                      { "data": "Remarks", "name": "Remarks" },
                ],
                searching: false
            });
            oTable.destroy();
        }

        //function updateLocation(position) {
        //    var lat = position.coords.latitude;
        //    var lon = position.coords.longitude;
        //    $("#Lattitude").val(lat);
        //    $("#Longitude").val(lon);
        //    var url = $('#editform')[0].action;
        //    var data = $('#editform').serialize();

        //    //var url = $('#editform')[0].action;
        //    var fileData = new FormData();
        //    if ($("#input-24").is(":visible")) {
        //        var files = $("#input-24").get(0).files;
        //        for (var i = 0; i < files.length; i++) {
        //            fileData.append("input-24", files[i]);
        //        }
        //    }

        //    $.ajax({
        //        type: "POST",
        //        //url: "/ProTask/EditMyStatus",
        //        dataType: "json",
        //        contentType: false, // Not to set any content header
        //        processData: false, // Not to process data
        //        data: fileData,
        //        url: url,
        //        success: function (e) {
        //            if (e.status) {
        //                $('.ajax_response', res_success).text(e.message);
        //                $('.AlertDiv').prepend(res_success);
        //            } else {
        //                $('.ajax_response', res_danger).text(e.message);
        //                $('.AlertDiv').prepend(res_danger);
        //            }
        //        }
        //    });

        //    createajax(url, data, '#modal-edit');

        //}

        //function update() {
        //    var lat = 0;
        //    var lon = 0;
        //    $("#Lattitude").val(lat);
        //    $("#Longitude").val(lon);
        //    var url = $('#editform')[0].action;
        //    var data = $('#editform').serialize();

        //    //var url = $('#editform')[0].action;
        //    var fileData = new FormData();
        //    if ($("#input-24").is(":visible")) {
        //        var files = $("#input-24").get(0).files;
        //        for (var i = 0; i < files.length; i++) {
        //            fileData.append("input-24", files[i]);
        //        }
        //    }

        //    $.ajax({
        //        type: "POST",
        //        //url: "/ProTask/EditMyStatus",
        //        dataType: "json",
        //        contentType: false, // Not to set any content header
        //        processData: false, // Not to process data
        //        data: fileData,
        //        url: url,
        //        success: function (e) {
        //            if (e.status) {
        //                $('.ajax_response', res_success).text(e.message);
        //                $('.AlertDiv').prepend(res_success);
        //            } else {
        //                $('.ajax_response', res_danger).text(e.message);
        //                $('.AlertDiv').prepend(res_danger);
        //            }
        //        }
        //    });

        //    createajax(url, data, '#modal-edit');

        //}

        $('.table').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('.table').on('click', '.modal-change', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-change');
        });
        $('#modal-change').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-change');
        });

        $('.table').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');

            detailsRemind($("#protaskId").val());
        });
        $('#modal-edit').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-edit');


        });

        /* function for delete popup */
        $('div').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
            detailsRemind($("#protaskId").val());
        });

    function printvoucher(d) {

        $.ajax({



            url: "/ProTask/invoice",
            dataType: 'json',
            type: "POST",
            data: { inv: d },
            cache: true,

            success: function (e) {

                printtask(e);
                window.location.href = '@Url.Action("MyTask", "ProTask")';


            }
        });


        }
    function printtask(data) {
        e = data[0];
        var dat = convertToDate(e.logtime);
        $("#lbltask").text(e.TaskName);
        $("#lblDate").text(dat);
        $("#lblProject").text(e.ProjectName);



        var originalpage = document.body.innerHTML;
        var printContent = $('#printit').html();
        $('title').html("Task Invoice");
        $('body').html(printContent);
        window.print();
    }

        function detailsRemark(d) {
            var oTable1 = $('#RemarkInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "sortable": true,
                "ordering": true,
                "searching": true,
                "ajax": {
                    "url": '/ProTask/GetAllRemarks',
                    "type": "POST",
                    "datatype": "json",
                    "data": { TaskId: d }
                },
                "order": [[0, "desc"]],

                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                  { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                  { "data": "empnae", "name": "empnae" },
                  { "data": "Remark", "name": "Remark" },
                  { "data": "Status", "name": "Status" },
                  {
                      "name": "Details", "data": function (data) {
                          var rest = "";
                          @{
                               actData = "";
                               actData += "<a class=\"modal-create\" href=\"/ProTask/ViewChecklist/'+ data.id +'\" title=\"View Checklist\"><i class=\"fa-lg fa fa-sticky-note\" ></i></a> ";

                               //actData += "<a class=\"UpdationCheck\" onclick=\"DetailsCheckilst(' + data.id + ')\" title=\"View Details\"><i class=\"fa-lg fa fa-calendar\" ></i></a> ";

                           }
                          rest += '@Html.Raw(actData)';
                          return rest;
                      }
                  },
                ],
            });
            oTable1.destroy();


        }
        function DetailsCheckilst(d) {
            var oTable2 = $('#NoteInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "sortable": true,
                "ordering": true,
                "searching": true,
                "ajax": {
                    "url": '/ProTask/GetAllNotes',
                    "type": "POST",
                    "datatype": "json",
                    "data": { TaskId: d }
                },
                "order": [[0, "desc"]],

                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                     { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                      { "data": "empnae", "name": "empnae" },
                      { "data": "Remark", "name": "Remark" },
                      { "data": "Status", "name": "Status" },
                      {
                          "name": "Checklist", "data": function (data) {
                              var rest = "";
                              var chk = "";
                              $.each(data.CheckItems, function (i, item) {
                                  var check = (item.Chck == true) ? "checked" : "";

                                  chk += "<td><input name='bstmodel[" + (i) + "].Check' " + check + " id='checkbox_" + item.Id + "' type=\"checkbox\" name=\"note\"></input></td>" +
                                         "<td><label for='" + item.Id + "'>" + item.Name + "</label></td>";
                                  if (item.Chck == true) {
                                      chk += "<td><textarea data-name='Note' name='bstmodel[" + (i) + "].Note' value=" + item.Note + " id='addnote_" + item.Note + "' class='addnote_" + item.Note + " form-control text-left addnote' placeholder='Enter note'></textarea></td> "
                                  }
                              })
                              return chk;
                          }
                      },
                       {
                           "name": "RImages", "data": function (data) {
                               var rest = "";
                               var count = 1;
                               $.each(data.RImages, function (i, item) {

                                   if (item.FileName != null && item.FileName != "" && item.TaskDocumentId != 0) {

                                       var x = item.FileName.split('.');
                                       var extn = x[1];

                                       var FileName = x[0].substring(0, x[0].length - 20) + "." + extn;
                                       if (extn == "docx" || extn == "doc" || extn == "pdf") {

                                           @{
                                               actImg = "<a href=\"/uploads/protaskdocuments/'+ item.FileName +'\" data-lightbox=\"/uploads/protaskdocuments/'+ item.FileName +'\" data-title=\"'+ FileName +'\"><img ></a><a href=\"/uploads/protaskdocuments/'+ item.FileName +'\" download class=\"btn btn-primary btn-xs\">download</a><br>";
                                               //actImg = " <img style=\"height:50px;width:50px\"src=\"~/uploads/protaskdocuments/thumb_'+ item.FileName+'\"/>";
                                           }

                                           rest += '@Html.Raw(actImg)';


                                       }
                                       if (extn == "jpg" || extn == "jpeg" || extn == "png" || extn == "gif") {
                                           //var rest = "";
                                           @{
                                               actImg = "<a href=\"/uploads/protaskdocuments/'+ item.FileName +'\" data-lightbox=\"/uploads/protaskdocuments/'+ item.FileName +'\" data-title=\"'+ FileName +'\"><img style=\"height:50px;width:50px\"src=\"/uploads/protaskdocuments/'+ item.FileName +'\"/></a><a href=\"/uploads/protaskdocuments/'+ item.FileName +'\" download class=\"btn btn-primary btn-xs\">download</a><br>";
                                           }
                                           rest += '@Html.Raw(actImg)';


                                       }
                                       count++;
                                   }
                               })
                               return rest;

                           }
                       },
                ],
            });
            oTable2.destroy();
        }

        $('#modal-create').on('shown.bs.modal', function (e) {
            CallTaskStatus();
        });
        function detailsRemind(d) {
            $("#protaskId").val(d);
            var oTable1 = $('#RemindInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "sortable": true,
                "ordering": true,
                "searching": true,
                "ajax": {
                    "url": '/Reminder/GetAllReminder',
                    "type": "POST",
                    "datatype": "json",
                    "data": { Id: d, type: "Task" }
                },
                "order": [[0, "desc"]],

                "columns": [
                     {
                         "data": "ReminderId", "name": "ReminderId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                  { "data": "Note", "name": "Note" },
                  { "data": "RDate", "name": "RDate", "render": function (data) { if (data != null && data != "") { return convertDateTime(data); } else { return "" } } },
                            //{
                  //    "name": "AssignedTo", "data": function (data) {
                  //        var datas = "";
                  //        $.each(data.AssignedTo, function (i, item) {
                  //            if (datas != "") {
                  //                datas += ", ";
                  //            }
                  //            datas += item.FirstName + " " + item.LastName;
                  //        })
                  //        return datas;
                  //    }
                  //},
                 // { "data": "RequestBy", "name": "RequestBy" },
                  { "data": "CreatedBy", "name": "CreatedBy" },
                  { "data": "RStatus", "name": "RStatus" },
                  {
                      "name": "ReminderId", "data": function (data) {
                          var rest = "";
                          @{
                          actData = "";
                          actDatas = "<a class=\"modal-edit\"  href=\"/Reminder/Edit/'+ data.ReminderId +'\" title=\"Edit Reminder\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                          }
                          rest += '@Html.Raw(actDatas)';

                          if (data.CheckUser == true) {
                              @{
                              actData = "";
                              actDatas = "<a class=\"modal-delete\" href=\"/Reminder/Delete/'+ data.ReminderId +'\" title=\"Delete Reminder\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                          }
                              rest += '@Html.Raw(actDatas)';
                          }

                          return rest;
                      }
                  }
                ],
            });
            oTable1.destroy();
        }


        $('#srch, .search-box .btn-close').on('click', function (e) {
            $('#advsearchlist').toggle();

            /*******  To uncheck all the checkboxes in the Select List  ************/
            var checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (Checkbox) {
                Checkbox.checked = false;
            });

            if ($('#srch').hasClass('btn-primary')) {
                $('#srch').addClass('btn-danger');
                $('#srch').removeClass('btn-primary');
            }
            else {
                if ($('#srch').hasClass('btn-danger')) {
                    $('#srch').addClass('btn-primary');
                    $('#srch').removeClass('btn-danger');
                    //location.reload();
                    $('#Status').val(null);
                }

                $('#ddlTaskName').val(0).trigger("change");
                $('#TaskStatus').val(0).trigger("change");
                $('#ddlmobile').val("All").trigger("change");
                $('#ddlLocation').val("0").trigger("change");
                $('#From').val(null);
                $('#To').val(null);
                $('#ddlTaskType').val(0).trigger("change");
                $('#ddlCustomer').val(0).trigger("change");
                $('#ddlProject').val(0).trigger("change");
                $('#ddlCreatedBy').val("All").trigger("change");
                $('#Priority').val(0);
                $('#ddlEmployee').val(0);
                $('#ReminderDate').val("");
                $('#RemStatus').val(0);
                $('#LastUpdated').val(0);
                $('#AssignedUsers').val(0).trigger("change");
                $("#Remarks").val("");
                $('#Ref1').val(null).trigger("change");
                $('#Ref2').val(null).trigger("change");
                $('#Ref3').val(null).trigger("change");
                $('#Ref4').val(null).trigger("change");
                $('#Ref5').val(null).trigger("change");
                $('#ddlVehicleType').val(0).trigger("change");
                $('#ddlVehicleManu').val(0).trigger("change");
                $('#ddlVehicleModel').val(0).trigger("change");

                oTable.draw();
            }

            var minDate = $("#Start").val();
            var maxDate = $("#End").val();
            $('#FromDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });
            $('#ToDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            //$('#ToDate').datepicker('setDate', today);
            //$('#FromDate').datepicker('setDate', priordate);
            TaskStatusName();
            CallLeadPipeCustAll();
            CallEmployee();
            CallProject();

            CallTaskName();
            CallTaskType();
            CallSearchUser();

            $('body').on('change', '#ddlCustomer', function (e) {
                $('#ddlProject').val(null).trigger('change');
                CallProject();
            });

        });

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            oTable.draw();
        });

        $('#modal-create').on('submit', '#AssignForm', function (e) {
            e.preventDefault();
            var tsktype = '@ViewContext.RouteData.Values["type"]';
            if ($("#AssignForm").valid()) {
                var url = $('#AssignForm')[0].action;
                var formData = new FormData(this);

                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,
                    beforeSend: function () {
                        $("button").prop('disabled', true);
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            $('#modal-create').modal('hide');
                            $('#modal-create .modal-content').html('');
                            oTable.draw();
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false);
                        }
                    }
                });
            }
        });

       /************* Function to display/hide fields while clicking on checkboxes (Select Fields) **************/
       $("ul li input:checkbox").click(function () {
           var _show = 0;

           //Task Name
           if ($("#litaskname").prop("checked") == true) {
               $("#searchtaskname").show();
               _show = 1;
           }
           else {
               $('#ddlTaskName').val(0).trigger("change");
               $("#searchtaskname").hide();
              // oTable.draw();
           }

           //Task Status
           if ($("#litaskstatus").prop("checked") == true) {
               $("#searchtaskstatus").show();
               _show = 1;
           }
           else {
               $('#TaskStatus').val(0).trigger("change");
               $("#searchtaskstatus").hide();
               //oTable.draw();
           }

           //Mobile
           if ($("#limobile").prop("checked") == true) {
               $("#searchmobile").show();
               _show = 1;
           }
           else {
               $('#ddlmobile').val("All").trigger("change");
               $("#searchmobile").hide();
              // oTable.draw();
           }

           //Location
           if ($("#lilocation").prop("checked") == true) {
               $("#searchlocation").show();
               _show = 1;
           }
           else {
               $('#ddlLocation').val("0").trigger("change");
               $("#searchlocation").hide();
              // oTable.draw();
           }

           //From Date
           if ($("#lifromdate").prop("checked") == true) {
               $("#searchfromdate").show();
               _show = 1;
           }
           else {
               $('#From').val(null);
               $("#searchfromdate").hide();
              // oTable.draw();
           }

           //To Date
           if ($("#litodate").prop("checked") == true) {
               $("#searchtodate").show();
               _show = 1;
           }
           else {
               $('#To').val(null);
               $("#searchtodate").hide();
              // oTable.draw();
           }

           //Task Type
           if ($("#litasktype").prop("checked") == true) {
               $("#searchtasktype").show();
               _show = 1;
           }
           else {
               $('#ddlTaskType').val(0).trigger("change");
               $("#searchtasktype").hide();
               //oTable.draw();
           }

           //Lead/Pipeline/Customer
           if ($("#lileadpipelncust").prop("checked") == true) {
               $("#searchcustomer").show();
               _show = 1;
           }
           else {
               $('#ddlCustomer').val(0).trigger("change");
               $("#searchcustomer").hide();
             //  oTable.draw();
           }

           //Project
           if ($("#liprojects").prop("checked") == true) {
               $("#searchproject").show();
               _show = 1;
           }
           else {
               $('#ddlProject').val(0).trigger("change");
               $("#searchproject").hide();
             //  oTable.draw();
           }

           //Created By
           if ($("#licreatedby").prop("checked") == true) {
               $("#searchcreatedby").show();
               _show = 1;
           }
           else {
               $('#ddlCreatedBy').val("All").trigger("change");
               $("#searchcreatedby").hide();
              // oTable.draw();
           }

           //Priority
           if ($("#lipriority").prop("checked") == true) {
               $("#searchpriority").show();
               _show = 1;
           }
           else {
               $('#Priority').val(0).trigger("change");
               $("#searchpriority").hide();
             //  oTable.draw();
           }

           //Sales Person
           if ($("#lisalesperson").prop("checked") == true) {
               $("#searchsalesperson").show();
               _show = 1;
           }
           else {
               $('#ddlEmployee').val(0).trigger("change");
               $("#searchsalesperson").hide();
              // oTable.draw();
           }

           //workshop
           if ($("#liWorkshop").prop("checked") == true) {
               $("#searchVehicleType").show();
               $("#searchVehicleManu").show();
               $("#searchVehicleModel").show();
               _show = 1;
           }
           else {
               $('#ddlVehicleType').val("0").trigger("change");
               $('#ddlVehicleManu').val("0").trigger("change");
               $('#ddlVehicleModel').val("0").trigger("change");
               $("#searchVehicleType").hide();
               $("#searchVehicleManu").hide();
               $("#searchVehicleModel").hide();
               oTable.draw();
           }

           //Reminder Date
           if ($("#lireminderdate").prop("checked") == true) {
               $("#searchremdate").show();
               _show = 1;
           }
           else {
               $("#ReminderDate").val("");
               $("#searchremdate").hide();
            //   oTable.draw();
           }

           //Reminder Status
           if ($("#lireminderstatus").prop("checked") == true) {
               $("#searchremstatus").show();
               _show = 1;
           }
           else {
               $('#RemStatus').val(0);
               $("#searchremstatus").hide();
             //  oTable.draw();
           }

           //Last Updated
           if ($("#lilastupdated").prop("checked") == true) {
               $("#searchlastupdtd").show();
               _show = 1;
           }
           else {
               $('#LastUpdated').val(0);
               $("#searchlastupdtd").hide();
              // oTable.draw();
           }

           //Assigned To
           if ($("#liassignedto").prop("checked") == true) {
               $("#searchassgnto").show();
               _show = 1;
           }
           else {
               $('#AssignedUsers').val(0).trigger("change");
               $("#searchassgnto").hide();
              // oTable.draw();
           }

           //InvoiceNo/Remarks
           if ($("#liInvnoremarks").prop("checked") == true) {
               $("#searchinvnoremarks").show();
               _show = 1;
           }
           else {
               $("#Remarks").val("");
               $("#searchinvnoremarks").hide();
              // oTable.draw();
           }

           //Optional Field1
           if ($("#liOptionalField1").prop("checked") == true) {
               $("#searchOptionalField1").show();
               _show = 1;
           }
           else {
               $('#Ref1').val(null).trigger("change");
               $("#searchOptionalField1").hide();
              // oTable.draw();
           }

           //Optional Field2
           if ($("#liOptionalField2").prop("checked") == true) {
               $("#searchOptionalField2").show();
               _show = 1;
           }
           else {
               $('#Ref2').val(null).trigger("change");
               $("#searchOptionalField2").hide();
             //  oTable.draw();
           }

           //Optional Field3
           if ($("#liOptionalField3").prop("checked") == true) {
               $("#searchOptionalField3").show();
               _show = 1;
           }
           else {
               $('#Ref3').val(null).trigger("change");
               $("#searchOptionalField3").hide();
             //  oTable.draw();
           }
           //Optional Field4
           if ($("#liOptionalField4").prop("checked") == true) {
               $("#searchOptionalField4").show();
               _show = 1;
           }
           else {
               $('#Ref4').val(null).trigger("change");
               $("#searchOptionalField4").hide();
              // oTable.draw();
           }

           //Optional Field5
           if ($("#liOptionalField5").prop("checked") == true) {
               $("#searchOptionalField5").show();
               _show = 1;
           }
           else {
               $('#Ref5').val(null).trigger("change");
               $("#searchOptionalField5").hide();
             //  oTable.draw();
           }

           //If anyone checked, show Search division
           if (_show == 1) {
               $('#advsearchlist').show();
           }
           else {
               $('#advsearchlist').hide();
           }
       });


       var checkList = document.getElementById('list1');

       /******* Function to list and hide dropdown checklist while clicking on 'Select Fields' *******/
       checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {

           if (checkList.classList.contains('visible'))
               checkList.classList.remove('visible');
           else
               checkList.classList.add('visible');
       }

       /******* Function to hide dropdown checklist while clicking outside it ********/
       $(document).on("click", function (event) {

           var element1 = $("#list1");

           if (element1 !== event.target && !element1.has(event.target).length) {
               checkList.classList.remove('visible');
           }
       });

    </script>
}

