@model QuickSoft.ViewModel.OrderDetailViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Order Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">POS Order</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Order No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.OrderNo)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Order Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.OrderDate))
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Order Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.OrderType)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Order Status :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.OrderStatus)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("ItemCount :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemCount)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Quantity :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Quantity)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Waiter :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.WaiterName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CustomerType)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CustomerName)
                </div>
                @if (Model.TableName != null)
                {
                <div class="col-sm-2 form-group">
                    @Html.Label("Table Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.TableName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("People Count :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PeopleCount)
                </div>
                }
                <div class="col-sm-2 form-group">
                    @Html.Label("Tax:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Tax)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Created By:", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CreatedBy)
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr style="background-color: #d2d6de">
                                    <th>Item</th>
                                    <th>Item Unit</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Tax</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                </tr>
                                @foreach (var salesum in Model.OrderItems)
                                {
                                    var itemnote = "";
                                    if (@salesum.itemNote != "")
                                    {
                                        itemnote = "<br /><small>" + @salesum.itemNote + "</small>";
                                    }
                                    <tr>
                                        <td>@salesum.ItemCode - @salesum.ItemName @Html.Raw(itemnote.Replace(Environment.NewLine, "<br/>"))</td>
                                        <td>@salesum.ItemUnit</td>
                                        <td>@salesum.ItemUnitPrice</td>
                                        <td>@salesum.ItemQuantity</td>
                                        <td>@salesum.ItemSubTotal</td>
                                        <td>@salesum.ItemTax</td>
                                        <td>@salesum.ItemTaxAmount</td>
                                        <td>@salesum.ItemTotalAmount</td>
                                    </tr>
                                }
                                <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>@Html.DisplayFor(m => m.SubTotal)</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Order Note </strong><br />
                            @Model.OrderNote
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Tax Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.TaxAmount)
                        </div>
                        <div class="form-group col-md-6 no-paddingleft">
                            @Html.Label("Discount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.Discount)
                        </div>
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Total Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.NetPayable)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        //var custtype = $('#CustomerType').val();
        //if (custtype == 0) {
        //    $('#paidamt').show();
        //    $('#dueamt').show();
        //}
        //if (custtype == 1) {
        //    $('#paidamt').hide();
        //    $('#dueamt').hide();
        //}
    });
    </script>
}



