@model QuickSoft.Models.ItemUnit
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Item Unit</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "ItemUnit", FormMethod.Post, new { id = "editform" }))
            {
        <script type="text/javascript">
            $('form#popupFormUnit').removeData("validator");
            $('form#popupFormUnit').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormUnit'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ItemUnitID)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemUnitName, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.ItemUnitName, new { @class = "form-control", autofocus = "autofocus", @required = "required" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Unit Description" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
