
@model QuickSoft.ViewModel.QuotationViewModel
@{
    Layout = null;
    decimal Subtotal = 0;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4> Warrenty Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                
                <div class="col-sm-2 form-group ">
                    @Html.Label("Warrenty No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.BillNo)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.QuotDate))
                </div>
           
                <div class="col-sm-2 form-group">
                    @Html.Label("Sales Executive :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.EmployeeName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CustomerName)
                </div>
               
          
               
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">

                    <div class="box-header with-border">
                        <h3 class="box-title">Items</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tr class="bg-gray">
                                @if (@ViewBag.PartNoCheck == 0)
                                {
                                    <th>Part No</th>
                                }
                                <th>Item</th>
                                <th>Item Unit</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Sub Total</th>
                                <th>Tax</th>
                                <th>Tax Amount</th>
                                <th>Total Amount</th>
                            </tr>
                            @foreach (var quot in Model.QuotItem)
                            {
                                var itemnote = "";
                                if (@quot.ItemNote != "")
                                {
                                    itemnote = "<br /><small>" + @quot.ItemNote + "</small>";
                                }
                                if (@quot.bundleitem != null && @quot.bundleitem.Count() > 0)
                                {
                                    var desc = "<br/>[<span class='descr' data-name='itemNote'>";
                                    foreach (var saleitem in @quot.bundleitem)
                                    {
                                        desc += saleitem.ItemCode + " - " + saleitem.ItemName;
                                        desc += " - " + saleitem.ItemQuantity + " ";
                                        desc += (saleitem.ItemUnit != null) ? saleitem.ItemUnit : "";
                                        desc += "<br/>";
                                    }
                                    desc += "</span>]";
                                    itemnote = itemnote + desc;
                                }
                                <tr>
                                    @if (@ViewBag.PartNoCheck == 0)
                                    {
                                        <td>@quot.PartNumber</td>
                                    }
                                    <td>@quot.ItemCode - @quot.ItemName @Html.Raw(itemnote)</td>
                                    <td>@quot.ItemUnit</td>
                                    <td>@quot.ItemUnitPrice</td>
                                    <td>@quot.ItemQuantity</td>
                                    <td>@quot.ItemSubTotal</td>
                                    <td>@quot.ItemTax</td>
                                    <td>@quot.ItemTaxAmount</td>
                                    <td>@quot.ItemTotalAmount</td>
                                </tr>
                                Subtotal += @quot.ItemTotalAmount;
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@Subtotal</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="row">
              
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Remarks </strong><br />
                            @Html.Raw(Model.Remarks)
                        </div>
                        <div class="form-group">
                            <strong>Terms And Conditions </strong><br />
                            @Html.Raw(Model.TermsCondition)
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>
