
<link href="~/Content/css/fileupload.css" rel="stylesheet" />
<script src="~/Content/js/fileupload.js"></script>

<div class="control-section">
    <div class="sample-container">
        <!--  Filemanager element declaration -->
        @Html.EJS().FileManager("filemanager").AjaxSettings(new Syncfusion.EJ2.FileManager.FileManagerAjaxSettings
        {

            Url = "/FileManager/FileOperations",
            GetImageUrl = "/FileManager/GetImage",
            UploadUrl = "/FileManager/Upload",
            DownloadUrl = "/FileManager/Download"
        }).Render()
        <!-- end of filemanager element -->
    </div>
    <script>
        $(document).ready(function () {
            $("#js-licensing").hide();

            $("#AssignedUsers").select2({
                placeholder: 'Search Employees by Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
            );
    </script>

    @Html.EJS().ScriptManager()
</div>

@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")

    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/JsBarcode")
    @Scripts.Render("~/js/wysihtml5")
    @Scripts.Render("~/js/bootstrap-fileinput")
}
<div class="form-group col-md-12">
    @Html.Label("Assign To", null, new { @class = "control-label" })
    @Html.ListBox("assign", (MultiSelectList)ViewBag.team, new { @id = "AssignedUsers", @class = "form-control select2 AsgnUsers", @name = "AssignedMembers[]", @multiple = "multiple" })
</div>