@model QuickSoft.ViewModel.calviewlist

          <h2>Driver : @Model.mulcalview1[0].firstname</h2>
          <div style="width:1000px;">
              <div style="width:300px;float:left;overflow:scroll">
                  <table>
                      @{
                          for (var i = 0; i < Model.mulcalview1.Count; i++)
                          {
                              if (Model.mulcalview1[i].selectedcol == false)
                              {
                                  <tr>
                                      <td id="time-@i">@Model.mulcalview1[i].dt.ToString("hh:mm:tt")</td>
                                      <td>@Model.mulcalview1[i].taskassigned</td>
                                  </tr>
                              }
                              else
                              {
                                  <tr>
                                      <td id="time-@i" style="background-color:@Model.mulcalview1[i].colorname">@Model.mulcalview1[i].dt.ToString("hh:mm:tt")</td>
                                      <td style="background-color:@Model.mulcalview1[i].colorname">
                                          <strong style="color:white"> @Model.mulcalview1[i].taskname</strong><br />
                                          <div style="color:white">@Model.mulcalview1[i].taskassigned</div>
                                          <br />
                                          <a href="/ProTask/Edit/@Model.mulcalview1[i].protaskid" style="color:white" target="_new">Edit</a>
                                      </td>
                                  </tr>
                              }
                          }

                      }
                  </table>
              </div>
              <div style="width:300px;float:left;overflow:scroll">
                  <table>
                      @{
                          for (var i = 0; i < Model.mulcalview2.Count; i++)
                          {
                              if (Model.mulcalview2[i].selectedcol == false)
                              {
                                  <tr>
                                      <td id="time-@i">@Model.mulcalview2[i].dt.ToString("hh:mm:tt")</td>
                                      <td>@Model.mulcalview2[i].taskassigned</td>
                                  </tr>
                              }
                              else
                              {
                                  <tr>
                                      <td id="time-@i" style="background-color:@Model.mulcalview2[i].colorname">@Model.mulcalview2[i].dt.ToString("hh:mm:tt")</td>
                                      <td style="background-color:@Model.mulcalview2[i].colorname">
                                          <strong style="color:white"> @Model.mulcalview2[i].taskname</strong><br />
                                          <div style="color:white">@Model.mulcalview2[i].taskassigned</div>
                                          <br />
                                          <a href="/ProTask/Edit/@Model.mulcalview2[i].protaskid" style="color:white" target="_new">Edit</a>
                                      </td>
                                  </tr>
                              }
                          }

                      }
                  </table>
              </div>
              <div style="width:300px;float:left;overflow:scroll">
                  <table>
                      @{
                          for (var i = 0; i < Model.mulcalview3.Count; i++)
                          {
                              if (Model.mulcalview3[i].selectedcol == false)
                              {
                                  <tr>
                                      <td id="time-@i">@Model.mulcalview3[i].dt.ToString("hh:mm:tt")</td>
                                      <td>@Model.mulcalview3[i].taskassigned</td>
                                  </tr>
                              }
                              else
                              {
                                  <tr>
                                      <td id="time-@i" style="background-color:@Model.mulcalview3[i].colorname">@Model.mulcalview3[i].dt.ToString("hh:mm:tt")</td>
                                      <td style="background-color:@Model.mulcalview3[i].colorname">
                                          <strong style="color:white"> @Model.mulcalview3[i].taskname</strong><br />
                                          <div style="color:white">@Model.mulcalview3[i].taskassigned</div>
                                          <br />
                                          <a href="/ProTask/Edit/@Model.mulcalview3[i].protaskid" style="color:white" target="_new">Edit</a>
                                      </td>
                                  </tr>
                              }
                          }

                      }
                  </table>
              </div>
          </div>