@model QuickSoft.ViewModel.CustomerSatisfactionViewModel
@{
    ViewBag.Title = "My Tasks";
    ViewBag.SubTitle = "My Tasks";
    ViewBag.Active = "Master";
    var TimeOut = @ViewBag.TMOut;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
       

        .rectangle {
            float: left;
            position: relative;
            height: 45px;
            width: 245px;
            border-right: none;
            background: #eee linear-gradient( #00d2ff 17%, #3a7bd5 87%);
            cursor: pointer;
            margin-top: -40px;
            margin-left: -83px;
            color: white !important;
            text-shadow: 2px 2px 4px #000000;
            font-size: 20px;
            padding-left: 15px;
            padding-top: -2px !important;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            letter-spacing: 2px;
            padding-bottom: 3px;
        }

            .rectangle:after {
                position: absolute;
                top: 9px;
                right: -14px;
                width: 28px;
                height: 27px;
                transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
                background: linear-gradient(45deg,#00d2ff 17%, #3a7bd5 87%);
                content: '';
            }

            .rectangle:before {
                content: '';
                position: absolute;
                left: 0;
                top: 44px;
                margin: 0 auto;
                width: 0;
                height: 0;
                border-top: 20px solid #021B79;
                border-left: 23px solid transparent;
                border-right: 0px solid transparent;
            }

        .sh-card {
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            padding-bottom: 50px;
        }

        @@media only screen and (max-width: 420px) {
            input[type=submit] {
                font-size: small!important;
            }
            input[type=button]{
                font-size: small!important;
            }
            .sh-card {
                margin: 0px 30px 0px 50px;
                width: 100%;
            }

            .SmileyImage {
                width: 100% !important;
            }

            [type=radio] {
                width: 100%;
            }

            .pad {
                
                width: 100%;
            }

            .rectangle {
                margin-left: -22px;
                margin-top: 10px;
                margin-bottom:5px;
            }

                .rectangle:before {
                    border-top: 10px solid black;
                    border-left: 10px solid transparent;
                    top: 44px;
                }

            .sh-align-center {
                margin-top: 10px;
            }

            h3 {
                position: relative;
                top: -4px;
                left: 3px;
            }
            
        }
        /*Clear Upload*/
        fieldset {
            border: none;
            /*width: 60px;*/
            padding: 2px;
            margin: 0px;
        }

        canvas {
            background: #fff;
            border-width: 1px;
            border-style: solid;
        }

        input[type=submit] {
            font-size: larger;
            width: 140px;
            border: 1px solid #00B4DB;
            background-color: white;
            color: #00B4DB;
            border-radius: 3px !important;
        }

            input[type=submit]:hover {
                border: 1px solid #00B4DB;
                background-color: #00B4DB;
                color: white;
                border-radius: 3px !important;
            }

        input[value=Print] {
            font-size: larger;
            width: 140px;
            border: 1px solid #52c234;
            background-color: white;
            color: #52c234;
            border-radius: 3px !important;
        }

            input[value=Print]:hover {
                border: 1px solid #52c234;
                background-color: #52c234;
                color: white;
                border-radius: 3px !important;
            }

        input[value=Cancel] {
            font-size: larger;
            width: 140px;
            border: 1px solid #ED213A;
            background-color: white;
            color: #ED213A;
            border-radius: 3px !important;
        }

            input[value=Cancel]:hover {
                border: 1px solid #ED213A;
                background-color: #ED213A;
                color: white;
                border-radius: 3px !important;
            }

        /*HIDE RADIO*/
        [type=radio] {
            position: absolute;
            opacity: 0;
            width: 65%;
        }

            /*IMAGE STYLES*/
            [type=radio] + img {
                cursor: pointer;
            }

            /*CHECKED STYLES*/
            [type=radio]:checked + img {
                transform: scale(1.3);
                -webkit-transition: 0.5s;
                opacity: 1;
            }

        html, body {
            height: 100%;
            letter-spacing: 2px;
        }

        .smileys {
            display: inline-flex;
        }

        .SmileyImage {
            width: 65%;
            opacity: 0.5;
        }
        
        .buttons {
            display: inline-flex;
        }

        .sh-align-center {
            padding-bottom: 30px;
            border-radius: 5px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            background-color: white;
            -webkit-box-shadow: -1px -2px 49px 0px rgba(0,0,0,0.85);
            -moz-box-shadow: -1px -2px 49px 0px rgba(0,0,0,0.85);
            box-shadow: -1px -2px 49px 0px rgba(0,0,0,0.85);
        }

        row {
            padding-top: 10px;
            border: 1px solid red !important;
        }

        .sh-row {
            margin-bottom: 10px;
        }

        .sh-button {
            border: 1px solid red;
            background-color: white;
            color: red;
            border-radius: 3px !important;
            font-size:smaller;
        }

            .sh-button:hover {
                background-color: red;
                color: white;
            }


        @@media only screen and (min-width: 800px) {
            .Remarks{
            font-size:17px!important;
        }
            .sh-align-center {
                margin-top: 50px;
            }

            h3 {
                position: relative;
                top: -4px;
                left: 3px;
            }

            .sh-align-center {
                padding: 60px !important;
            }
           
        }
    </style>
    <link href="~/Content/signature/jquery.signaturepad.css" rel="stylesheet" />
</head>
<body>
    <div class="row sh-row-color">
        <div class="container">
            <div class="col-md-12 col-xs-12 sh-align-center">
                <form method="POST" action="" class="Form">
        @Html.AntiForgeryToken()
                    <input type="hidden" id="protaskId" />
                    <input type="hidden" id="Id" value="@Model.Id" />
                    <input type="hidden" id="SatsfctnLevel" value="@Model.SatisfactionLevel" />
                    <input type="hidden" id="Signature" value="@Model.Signature" />
                    <div class="box-header rectangle">
                        <h3 class="box-title">Customer Satisfaction</h3>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-12 col-xs-12 sh-row">
                            @Html.Label("Rating", null, new { @class = "control-label" })
                        </div>
                        <br />
                        @*</div>
                            <div class="row">*@
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-1 col-xs-1"></div>

                            <div class="col-md-2 col-xs-2">
                                <label>
                                    <input type="radio" name="test" id="t1" value="Disappointed" title="Disappointed">
                                    <img class="SmileyImage" src="/img/Disappointed.jpg" title="Disappointed" />
                                </label>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <label>
                                    <input type="radio" name="test" id="t2" value="Sad" title="Sad">
                                    <img src="/img/Sad.jpg" class="SmileyImage" title="Sad" />
                                </label>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <label>
                                    <input type="radio" name="test" id="t3" value="Neutral" title="Neutral">
                                    <img src="/img/Neutral.jpg" class="SmileyImage" title="Neutral" />
                                </label>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <label>
                                    <input type="radio" name="test" id="t4" value="Happy" title="Happy">
                                    <img src="/img/Happy.jpg" class="SmileyImage" title="Happy" />
                                </label>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <label>
                                    <input type="radio" name="test" id="t5" value="VeryHappy" title="Very Happy">
                                    <img src="/img/VeryHappy.jpg" class="SmileyImage" title="Very Happy" />
                                </label>
                            </div>
                            <div class="col-md-1 col-xs-1"></div>
                        </div>
                    </div>
                    @*************************** Comments **************************@
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            @Html.Label("Comment", null, new { @class = "control-label" })
                            <div class="form-group col-md-12 col-xs-12">
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control Remarks", @placeholder = "Comment Here", tabindex = 1 })
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            @Html.Label("Signature", null, new { @class = "control-label" })
                            <div class="col-md-12 col-xs-12">
                                @if (Model.Signature != null)
                                {
                                    var x = Model.Signature.Split('.');
                                    var extn = x[1];

                                    var extnf = "";
                                    extnf = Model.Signature;

                                    <div class="form-group col-md-12">
                                        <canvas class="pad" id="canvas"></canvas>
                                        <div class="form-group hidden" style="display:inline-flex">
                                            <img class="image" alt="@Html.DisplayFor(modelItem => Model.Signature)" title="Click to Open" src="~/uploads/protaskdocuments/Signatures/thumb_@extnf" ID="ImgBtn1" class="img-responsive img-fluid thumblimit" />
                                        </div>
                                        @*Clear Button*@
                                        <fieldset>
                                            <input type="reset" value="clear" class="sh-button" />
                                        </fieldset>
                                    </div>
                                }

                                @********* Canvas In Create Mode ********@
                                else
                                {
                                    <div class="form-group col-md-12">
                                        <canvas class="pad" id="canvas"></canvas>
                                        @********** Clear Button **********@
                                        <fieldset>
                                            <input type="reset" value="clear" />
                                        </fieldset>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row buttons col-md-12 col-xs-12">
                        <div class="col-md-2 col-xs-4">
                            <input type="submit" class="btn sh-button1" value="Save" id="btnSubmit" />
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <input type="button" class="btn sh-button2" value="Print" id="btnPrint" />
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <input type="button" class="btn sh-button3" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "ProTask") + "'");" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

@Styles.Render("~/css/css")
@Styles.Render("~/css/sweetalert2")

@Scripts.Render("~/js/js")
@Scripts.Render("~/js/modernizr")

<script src="../assets/flashcanvas.js"></script>
<script src="~/Content/signature/jquery.signaturepad.js"></script>

<script>

    $(document).ready(function () {

        $canvas = $('canvas');
        //window.addEventListener('orientationchange', onResize, false);
        //window.addEventListener('resize', onResize, false);
        //onResize();

        $('form').signaturePad({
            drawOnly: true,
            defaultAction: 'drawIt',
            validateFields: false,
            lineWidth: 0,
            output: null,
            sigNav: null,
            name: null,
            typed: null,
            clear: 'input[type=reset]',
            typeIt: null,
            drawIt: null,
            typeItDesc: null,
            drawItDesc: null
        });

        //To Draw Saved Image
        DrawImage();
    });

</script>

<script src="~/Content/signature/json2.min.js"></script>

<script>
    var getQueryString = function (field, url) {
        var href = url ? url : window.location.href;
        var id = href.substring(href.lastIndexOf('/') + 1);
        return id ? id : null;
    }

    var ProTaskId = getQueryString('');
    var Id = $('#Id').val();

    //To set the RadioButton Values
    if (Id == 0) {
        $("#t1").attr("checked", true);
    }
    else {
        var SatsfctnLevel = $('#SatsfctnLevel').val();

        if (SatsfctnLevel == "VeryHappy")
            $("#t5").attr("checked", true);
        else if (SatsfctnLevel == "Happy")
            $("#t4").attr("checked", true);
        else if (SatsfctnLevel == "Neutral")
            $("#t3").attr("checked", true);
        else if (SatsfctnLevel == "Sad")
            $("#t2").attr("checked", true);
        else
            $("#t1").attr("checked", true);
    }

    //*****************Save Function
    $("#btnSubmit").click(function (e) {
        e.preventDefault();

        var image = document.getElementById("canvas").toDataURL("image/png");
        image = image.replace('data:image/png;base64,', '');

        var Type = $("input[type='radio'][name='test']:checked").val();
        var Comments = $("#Comments").val();

        var Data = [Type, Comments];

        var parameters = {};

        parameters.id           =   ProTaskId;
        parameters.imageData    =   image;
        parameters.mtdata       =   Data;

        //Calling Function UploadCustomerSatisfaction
        $.ajax({
            async: true,
            cache: false,
            type: 'POST',
            url: "/Protask/UploadCustomerSatisfaction" ,
            data: JSON.stringify(parameters),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (e) {
                $('.ajax_response', res_success).text(e.message);
                $('.AlertDiv').prepend(res_success);
                setTimeout(function () { window.location.href = '/ProTask/MyTask'; }, '@TimeOut');
            }
        });
    });

    //For Printing the page
    $("#btnPrint").click(function (e) {
        window.print();
        window.location.href = "/ProTask/CustomerSatisfactionMyTask/" + '@ViewContext.RouteData.Values["id"]' ;
    });

    //To load already saved image(Edit Mode)
    function DrawImage() {

            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");

            //Image is loaded(<img> tag hidden with id = ImgBtn1)
            var img = document.getElementById("ImgBtn1");

            ctx.drawImage(img, 0, 0);
    }

    //Setting Canvas width
    //function onResize(event) {
    //    $canvas.attr({
    //        height: 150,
    //        width: 600
    //    });
    //};

</script>



