@{
    ViewBag.Title = "Supplier Wise Purchase Details";
    ViewBag.SubTitle = "Purchase Report";
    ViewBag.Active = "Reports";

}
<div class="box box-default" id="SReport">
    <input type="hidden" id="cname" value="@ViewBag.CName" />
    <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
    <input type="hidden" id="itemname" value="@ViewBag.sup" />
    <input type="hidden" id="fromdate" value="@ViewBag.fromdate" />
    <input type="hidden" id="todate" value="@ViewBag.todate" />
    <div class="box-header with-border">
        <h3 class="box-title">Supplier Wise Purchase Details</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="display table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Supplier</td>
                        <td>Invoice No</td>
                        <td>Date</td>
                        <td class="headeralign">Sub Total</td>
                        <td class="headeralign">Tax Amt.</td>
                        <td class="headeralign">Discount</td>
                        <td class="headeralign">Total</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "bLengthChange": false,
                responsive: true,
                "paging": true,
                "pageLength": 5000,
                "ordering": false,
                "ajax": {
                    "url": '/PurchaseReport/getsupDetails',
                    "data": { sups: getQueryString1('sup'), fromdate: getParameterByName('from'), to: getParameterByName('to'), ddmc: getParameterByName('ddmc') },
                    "type": "POST",
                    "datatype": "json"

                },
                "order": [[0, "desc"]],
                "columns": [
                     {
                         "data": "PurchaseEntryId", "name": "PurchaseEntryId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                    {
                        "name": "SupplierName",
                        "data": function (data) {
                            return (data.SupplierName)
                        },
                    },
                    { "data": "BillNo", "name": "BillNo" },
                    {
                        "data": "PEDate", "name": "PEDate",
                        "render": function (data) {
                            var date = convertToDate(data);
                            return date.toString();
                        }
                    },
                    { "data": "PESubTotal", "name": "PESubTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "PETaxAmount", "name": "PETaxAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "PEDiscount", "name": "PEDiscount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                    { "data": "PEGrandTotal", "name": "PEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },

                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                {
                    extend: 'print',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'SupplierWise-Purchase';
                    },
                    message: function()
                    {
                        var head = '<table class="tblcompact table table-bordered"><thead>' +
                             '<tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Purchase Report (Supplier Wise)</h4></th></tr>' +
                             '<tr><th><span class="text-left">Supplier Name/Code : ' + $('#itemname').val() + '</span><span class="text-right pull-right"> From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>';
                        return head;
                    },
                    customize: function (win) {
                        $(win.document.body).find('table, th,tr, td ')
                        // .css('border', 'inherit')
                        .css('font-size', '10pt')
                        .css('padding', '5px')
                        .addClass('compact');
                        $(win.document.body).append('</td></tr></tbody>')

                    }
                }, 'copy', 'csv',// 'excel',
                {
                    extend: 'excel',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'SupplierWise-Purchase';
                    },
                    message: function()
                    {
                        var head = '' + $('#cname').val() + '\n' +
                        '' + $('#caddress').val() + '\n' +
                        ' Purchase Report (Supplier Wise) \n' +
                        'Customer Name/Code : ' + $('#itemname').val() + '\n' +
                        'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                        return head;
                    },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    },
                },
                        {
                            extend: 'pdf',//
                            title: "",
                            footer: true,
                            filename: function () {
                                return 'SupplierWise-Purchase';
                            },
                            message: function () {
                                var head = '' + $('#cname').val() + '\n' +
                                '' + $('#caddress').val() + '\n' +
                                ' Purchase Report (Supplier Wise) \n' +
                                'Customer Name/Code : ' + $('#itemname').val() + '\n' +
                                'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                                return head;
                            },
                            pageSize: 'A4',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7]
                            },
                            customize: function (doc) {
                                doc.pageMargins = [10, 10, 10, 10];
                                doc.defaultStyle.fontSize = 10;
                                doc.styles.tableHeader.fontSize = 10;
                                doc.styles.title.fontSize = 12;
                                // Header font and bg color
                                doc.styles.tableHeader.fillColor = '#d3d3d3';
                                doc.styles.tableHeader.color = 'black';
                                // Remove spaces around page title
                                doc.content[0].text = doc.content[0].text.trim();
                                doc.content[1].table.widths = [
                                '5%',
                                '20%',
                                '10%',
                                '10%',
                                '10%',
                                '15%',
                                '15%',
                                '15%'
                                ]

                                var objLayout = {};
                                // Horizontal line thickness
                                objLayout['hLineWidth'] = function (i) { return .5; };
                                // Vertikal line thickness
                                objLayout['vLineWidth'] = function (i) { return .5; };
                                //// Horizontal line color
                                //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                                //// Vertical line color
                                //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                                // Left padding of the cell
                                objLayout['paddingLeft'] = function (i) { return 4; };
                                // Right padding of the cell
                                objLayout['paddingRight'] = function (i) { return 4; };
                                // Inject the object in the document
                                doc.content[1].layout = objLayout;
                               // Footer font and bg color
                                doc.styles.tableFooter.fillColor = '#d3d3d3';
                                doc.styles.tableFooter.color = 'black';
                            }


                        },

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Total over this page
                    pageTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        pageTotal.toFixed(2)
                    );

                    // Total over all pages
                    total = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Total over this page
                    pageTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                        pageTotal.toFixed(2)
                    );

                    // Total over all pages
                    total = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Total over this page
                    pageTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                        pageTotal.toFixed(2)
                    );


                    // Total over all pages
                    total = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Total over this page
                    pageTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(
                    pageTotal.toFixed(2)
                    //'$' + pageTotal + ' ( $' + total + ' total)'
                    );


                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });

            //re direct to purchase edit
            $('#UserTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).addClass('dataTables_row');
                }
            });

            $('#UserTable tbody').on('dblclick', 'tr', function (e) {
                var data = oTable.row(this).data();
                var url = "/PurchaseEntry/Edit/" + data.PurchaseEntryId + "";
                $(location).attr('href', url);
            });
        });

    </script>
}
