
@model QuickSoft.ViewModel.PaymentViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Payment Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.VoucherNo)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("MO Payment :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.MOPayment)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.Date))
                    @*@Html.DisplayFor(m => m.SEDate)*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Pay From :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.payfromname)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Pay To :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.paytoname)
                </div>
                @if (@ViewBag.MOPayment != 0)
                {
                    <div class="col-md-2 form-group">
                        @Html.Label("PDC Date : ", null, new { @class = "control-label" })
                        @Html.DisplayFor(m => m.PDCDate)
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.Label("Cheque No : ", null, new { @class = "control-label" })
                        @Html.DisplayFor(m => m.CheckNo)
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.Label("Bank Name : ", null, new { @class = "control-label" })
                        @Html.DisplayFor(m => m.Bank)
                    </div>
                }
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        <div class="form-group col-sm-2">

                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref1")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref1)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref2")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref2)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref3")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref3)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref4")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref4)
                            }
                            @if (Model.FieldMap[i].FieldName != "" && Model.FieldMap[i].Field == "Ref5")
                            {
                                <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName :</label>
                                @Html.DisplayFor(m => m.Ref5)
                            }
                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="table-responsive">
                    <div class="box-header with-border">
                        <h3 class="box-title">Payment Details</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tr class="bg-gray">
                                <th>Type of Ref</th>
                                <th>Invoice No/Name</th>
                                <th>Amount</th>
                            </tr>
                            @foreach (var Payit in Model.PayItem)
                            {

                                <tr>
                                    <td>@Payit.NewRefName</td>
                                    <td>@Payit.InvoiceNo</td>
                                    <td>@Payit.Amount</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Remarks </strong><br />
                            @Html.Raw(Model.Remark)
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<div class="form-group col-md-6 no-paddingleft">
                                @Html.Label("Discount :", null, new { @class = "control-label" })
                                @Html.DisplayFor(m => m.SEDiscount)
                            </div>*@
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Grand Total :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.GrandTotal)
                        </div>
                        <div class="form-group col-md-6 no-paddingleft" id="paidamt">
                            @Html.Label("Sub Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SubTotal)
                        </div>
                        <div class="form-group col-md-6 no-padding" id="dueamt">
                            @Html.Label("Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.GrandTotal)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var custtype = $('#CustomerType').val();
            //if (custtype == 0) {
            //    $('#paidamt').show();
            //    $('#dueamt').show();
            //}
            //if (custtype == 1) {
            //    $('#paidamt').hide();
            //    $('#dueamt').hide();
            //}
        });
    </script>
}

