@model QuickSoft.Models.PropertyUnitFeature
@{
    ViewBag.Title = "List";
    ViewBag.SubTitle = "Unit Feature";
    ViewBag.Active = "UnitFeature";
    string actData = "";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Unit Feature</h3>
        <div class="pull-right">
            @*@if (User.IsInRole("Dev") || User.IsInRole("Create PayrollUnits"))
            {*@
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-info no-border modal-create" href="/Property/UnitFeature/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create
                </a>
            @*}*@
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="MyTable">
            <thead>
                <tr>
                    <td data-priority="1">#</td>
                    <td data-priority="2">Feature</td>
                    <td data-priority="5">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            $('#comp').hide();
        });
        var oTable = $('#MyTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            responsive: true,

            "ajax": {
                "url": '/Property/UnitFeature/GetUnitFeature',
                "type": "POST",
                "datatype": "json"
            },
            "order": [[0, "desc"]],
            "columnDefs": [{ orderable: false, targets: -1 }],
            "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                 { "data": "Feature", "name": "Feature" },
                 {
                     "name": "id", "data": function (data) {
                         var rest = "";
                         @{
                                   //if (User.IsInRole("Dev") || User.IsInRole("Edit PayrollUnits"))
                                  //{
                                  actData += "<a class=\"modal-edit\" href=\"/Property/UnitFeature/Edit/'+ data.id +'\" title=\"Edit Unit Feature\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                   @*}
                                  if (User.IsInRole("Dev") || User.IsInRole("Delete PayrollUnits"))
                                  {*@
                                      actData += "<a class=\"modal-delete\" href=\"/Property/UnitFeature/Delete/'+ data.id +'\" title=\"Delete Unit Feature\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                                  //}
                              }
                         return rest = '@Html.Raw(actData)';
                     }
                 },
            ]
        });


        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        /* function for delete popup */
        $('#MyTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

    </script>
}