<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" id="comHeader">
                    @if (@ViewBag.HeadCheck != 0)
                    {
                        @Html.Partial("../Common/_CompanyHeader")
                    }
                </div>
                <div class="text-center">
                    <style type="text/css">
                        @@media print {
                            body, .print {
                                border: 0px !important;
                            }

                            body, .print {
                                border: 1px !important;
                            }

                            .table-bordered td, .table-bordered th {
                                border: 1px solid #898989 !important;
                            }

                            /* Push the signature / company footer to the bottom of the printed page:
                               make the voucher fill the page height and let the footer take the slack. */
                            .invoice.print {
                                display: flex;
                                flex-direction: column;
                                min-height: 100vh;
                            }

                            .invoice.print > #footer {
                                margin-top: auto;
                            }
                        }

                        body .print {
                            font-size: 12px;
                        }

                        .print .table-nob tr th {
                            width: 40%;
                        }
                    </style>
                    <h4>
                        <strong>RECEIPT VOUCHER</strong>
                        @*@if (@ViewBag.CTaxRegNo != null)
                        {
                            <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                        }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td style="border-right: 0px;">
                            <table class="table-nob noborder" style="border: 0px;width: 50%;">
                                <tr>
                                    <th>Voucher No رقم القسيمة</th>
                                    <td>: <label id="lblBillNo"></label></td>
                                </tr>
                                <tr>
                                    <th>Date تاريخ</th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>

                                @* field mapping *@
                                <tr id="divRef1" hidden>
                                    <th id="IblRef1"></th>
                                    <td>: <label id="IblRef1Val"></label></td>
                                </tr>
                                <tr id="divRef2" hidden>
                                    <th id="IblRef2"></th>
                                    <td>: <label id="IblRef2Val"></label></td>
                                </tr>
                                <tr id="divRef3" hidden>
                                    <th id="IblRef3"></th>
                                    <td>: <label id="IblRef3Val"></label></td>
                                </tr>
                                <tr id="divRef4" hidden>
                                    <th id="IblRef4"></th>
                                    <td>: <label id="IblRef4Val"></label></td>
                                </tr>
                                <tr id="divRef5" hidden>
                                    <th id="IblRef5"></th>
                                    <td>: <label id="IblRef5Val"></label></td>
                                </tr>       
                            </table>
                        </td>
                        <td style="border: none;">
                            <table class="table-nob noborder" style="border: 0px;width: 50%;">
                                <tr id="divmop" hidden>
                                    <th>MOPayment</th>
                                    <td>: <label id="lblMOPayment"></label></td>
                                </tr>
                                <tr id="divchqno" hidden>
                                    <th>Cheque No</th>
                                    <td>: <label id="lblChequeNo"></label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered" id="itemtable">
                    <thead>
                        <tr class="bg-gray">
                            <th>S/N مسلسل</th>
                            <th>Particulars تفاصيل</th>
                            <th>DEBIT مدين(AED)</th>
                            <th>CREDIT ائتمان(AED)</th>
                        </tr>
                    </thead>
                    <tbody class="noborder">
                        <tr>
                            <td>1</td>
                            <td>Dr <label id="lbldebtor"></label></td>
                            <td><label id="lbldebitamt"></label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Cr <label id="lblcreditor"></label></td>
                            <td></td>
                            <td><label id="lblcrediamt"></label></td>
                        </tr>
                        <tr id="discountid">
                            <td>3</td>
                            <td>Dr Discount</td>
                            <td><label id="lbldiscount"></label></td>
                            <td></td>
                        </tr>
                        <tr class="border-top">
                            <td>Total مجموع: </td>
                            <td><label id="lblAmtWord"></label> </td>
                            <td><label id="lbldebitsum"></label></td>
                            <td><label id="lblcreditsum"></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6 table-responsive">
                <table class="table table-bordered" id="itemtable1"></table>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered" id="itemtable2"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered second-table"></table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;">
                            Receiver's Signature :<br />
                            توقيع المتلقي

                        </td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>
