@model QuickSoft.Models.Branch
@{
    ViewBag.Title = "Create Branch";
    ViewBag.SubTitle = "Branch";
    ViewBag.Active = "Settings";
}
<div class="box box-info">
    <div class="box-header with-border">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="box-title">Create Branch</h3>     
    </div>
    @using (Html.BeginForm("AddBranch", "Branch", FormMethod.Post, new { id = "editform", role = "form" }))
            {
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
            <div class="form-group col-sm-4">
                @Html.Label("Branch code", null, new { @class = "control-label" }) *
                @Html.TextBoxFor(m => m.BranchCode, new { @class = "form-control input-sm", tabindex = 1, autofocus = "autofocus", @required = "required" })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Branch name", null, new { @class = "control-label" }) *
                @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control input-sm", tabindex = 2, @required = "required" })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Address", null, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control input-sm", tabindex = 3, row = 1 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Country", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control input-sm", tabindex = 4 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("State", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.State, new { @class = "form-control input-sm", tabindex = 5 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("City", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control input-sm", tabindex = 6 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("ZIP Code", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Land Line Number", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LandLineNumber, new { @class = "form-control input-sm", tabindex = 8 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Mobile Number", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input-sm", tabindex = 9 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Email ID", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control input-sm", tabindex = 10 })
            </div>
            <div class="form-group col-sm-4">
                @Html.Label("Main Branch", null, new { @class = "control-label" })
                @Html.CheckBoxFor(m => m.MainBranch, new { @class = "checkbox", tabindex = 11 })
            </div>
        </div>
        <div class="box-footer clearfix">
            <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
