@model QuickSoft.Models.Branch

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Edit Branch</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "Branch", FormMethod.Post, new { id = "editform" }))
            {
                <script type="text/javascript">
                    $('form#popupFormBranch').removeData("validator");
                    $('form#popupFormBranch').removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse($('form#popupFormBranch'));
                </script>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
                @Html.HiddenFor(model => model.BranchID)

                <div class="row">
                    <div class="form-group col-sm-4">
                        @Html.Label("Branch code", null, new { @class = "control-label" }) *
                        @Html.TextBoxFor(m => m.BranchCode, new { @class = "form-control input-sm", autofocus = "autofocus", @required = "required", @readonly = "readonly" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Branch name", null, new { @class = "control-label" }) *
                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control input-sm", @required = "required" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Address", null, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control input-sm", row = 1 })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Country", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("State", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control input-sm"})
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("City", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control input-sm"})
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("ZIP Code", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Land Line Number", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.LandLineNumber, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Mobile Number", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input-sm"})
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Email ID", null, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.Label("Main Branch", null, new { @class = "control-label" })
                        @Html.CheckBoxFor(m => m.MainBranch, new { @class = "checkbox" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-footer">
                            <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            }
        </div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}