@model QuickSoft.Models.AppModules
@{
    ViewBag.Title = "Modules Create";
    ViewBag.SubTitle = "Create Modules";
    ViewBag.Active = "Modules";

}
    <div class="box box-info">
        @using (Html.BeginForm("Create", "Modules", FormMethod.Post, new { id = "createForm", role = "form" }))
        {
        <div class="box-header with-border">
            <h3 class="box-title">Modules</h3>
            <div class="pull-right">
                <a class="btn btn-success no-border" href="/modules">
                    <i class="fa fa-fw fa-history"></i> Module List
                </a>
            </div>
        </div>
        <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })*
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Module Name", @required = "required" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>Menu Name*</label>
                        @Html.EditorFor(model => model.viewName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Menu Name", @required = "required" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>Menu Icon</label>
                        @Html.EditorFor(model => model.iconClass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Icon" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label" })*
                        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Module Link", @required = "required" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MenuOrder, htmlAttributes: new { @class = "control-label" })*
                        @Html.EditorFor(model => model.MenuOrder, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Module order",@Value="10", @required = "required" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Module Description" } )
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Parent, htmlAttributes: new { @class = "control-label" })*
                        @Html.DropDownListFor(m => m.Parent, (SelectList)ViewBag.ParentModules, new { @class = "form-control input-sm" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.IsParent, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.IsParent,new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.addMenu, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.addMenu,new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })

                    </div>

                    <div class="form-group col-md-12 pull-left">
                        <div class="col-md-12">
                        </div>
                    </div>
        </div>
        <div class="box-footer clearfix">
            <input type="submit" class="btn btn-info col-sm-offset-5" value="Save" id="btnSubmit" />
            <input type="button" class="btn btn-default" value="Cancel" id="btnreset" />
        </div>
            }

    </div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}