@{
    ViewBag.Title = "Search Cash/Bank Book";
    ViewBag.SubTitle = "Cash/Bank Book Report";
    ViewBag.Active = "Accounts";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Cash/Bank Book</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("GetCashBook", "FinalAccounts", FormMethod.Post, new { id = "cashbookform", @class = "form-horizontal" }))
        {          

            <div class="form-group">
                <label class="control-label col-md-4">Account</label>
                <div class="col-sm-4">
                    @Html.DropDownList("AccId", (SelectList)ViewBag.Account, new { @class = "form-control input-sm select2", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">From</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("fromdate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">To</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("todate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Include PDC Entries</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="checkbox" name="pdcinclude" id="pdcinclude" value="true" />
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                @*<button class="btn btn-default" type="Reset" id="btnreset">Reset</button>*@
                <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxDate)
        });
        //$('.date').datepicker({
        //    format: 'dd-mm-yyyy',
        //    autoclose: true,
        //    allowInputToggle: true
        //})
        $(document).ready(function () {
            //for set default date

            var minDate = $("#Start").val();
            var maxDate = $("#End").val();

            $('#todate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });
            $('#fromdate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#todate').datepicker('setDate', today);
            $('#fromdate').datepicker('setDate', priordate); 

            $("#AccId").select2();
            
        });
    </script>
}