@model QuickSoft.ViewModel.BRSFinalViewModel
@{

    ViewBag.Title = "Search Bank Reconciliation";
    ViewBag.SubTitle = "Reconciliation";
    ViewBag.Active = "Accounts";
    decimal blnc = Model.OpeningBalance;
    var sl = 0;
    string balance = Math.Abs(Model.OpeningBalance) + " " + Model.blnceType;
    var colspan = 10;
    var AccName = Model.MainAccount;
    var Cdate="";
}
<div class="box box-default" id="LReport">
    <div class="box-header with-border">
        <h3 class="box-title">Bank Reconciliation Report</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <input type="hidden" id="fromdate" value="@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))" />
            <input type="hidden" id="todate" value="@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))" />
            <input type="hidden" id="Account" value="@Model.Account" />
            <input type="hidden" id="ShowType" value="@Model.ShowType" />
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr>
                        <td colspan="5">
                            Account: @Model.MainAccount
                        </td>
                        <td colspan="6">
                            From : @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))  - @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            Opening Balance: @Model.OpeningBalance
                        </td>
                    </tr>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td class="text-center" style="width:10%">Date</td>
                        <td class="text-center" style="width:10%">Particulars</td>
                        <td class="text-center" style="width:10%">Type</td>
                        <td class="text-center" style="width:10%">Transaction Type</td>
                        <td class="text-center" style="width:10%">Voucher/Bill No</td>
                        <td class="text-center" style="width:10%">PDC/CDC Date</td>
                        <td class="text-center" style="width:10%">Bank Date</td>
                        <td class="text-center" style="width:10%">Debit</td>
                        <td class="text-center" style="width:10%">Credit</td>
                        @* <td class="text-center">Bank Amount</td>*@
                        <td class="text-center" style="width:10%">Remark</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.BRS)
                    {
                        sl++;
                        Cdate = "";
                        <tr>
                            <td>@sl</td>
                            <td>@Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.Date))</td>
                            <td>@Html.DisplayFor(m => item.AcName)</td>
                            <td>@Html.DisplayFor(m => item.Type)</td>
                            <td>@Html.DisplayFor(m => item.CheType)</td>
                            <td>@Html.DisplayFor(m => item.vchno)</td>
                            <td>@Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.PDCDate))</td>
                            <td>
                                @if (item.ClearDate != null && item.CheType != "CASH")
                                {
                                    Cdate += "<button class=\"modal-edit\" href=\"/BRS/Edit/?id=" + item.Id + "&Type=" + item.Type + "\" title=\"Edit BRS\"><i class=\"fa fa-lg fa-edit\" ></i></button> ";
                                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.ClearDate))
                                    @Html.Raw(Cdate)
                                }
                                else if (item.CheType != "CASH")
                                {
                                    Cdate += "<button class=\"modal-edit\" href=\"/BRS/Edit/?id=" + item.Id + "&Type=" + item.Type + "\" title=\"Edit BRS\"><i class=\"fa fa-lg fa-edit\" ></i></button> ";
                                    @Html.Raw(Cdate)
                                }
                                else
                                {
                                    Cdate = null;
                                }
                            </td>
                            <td>@Html.DisplayFor(m => item.Withdrawal)</td>
                            <td>@Html.DisplayFor(m => item.Deposits)</td>
                            <td>@Html.DisplayFor(m => item.Narration)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="5">Balance as per company books<br />Amounts not reflected in bank<br />Balance as per Bank:</td>
                        <td class="pull-right">
                            @if (Model.LedgerAmount > 0)
                            {
                                @Model.LedgerAmount
                            }
                            <br />@Model.Debit
                            <br />
                            @if (Model.Balance > 0)
                            {
                                @Model.Balance
                            }
                        </td>
                        <td>
                            @if (Model.LedgerAmount < 0)
                            {
                                @(-Model.LedgerAmount)
                            }
                            <br />@Model.Credit
                            <br />
                            @if (Model.Balance < 0)
                            {
                                @(-Model.Balance)
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@Html.Partial("../Common/_ModalEdit")
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        jQuery(function ($) {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": false,
                "order": [[0, "asc"]],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                 {
                     extend: 'print',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Bank-Reconciliation-Report';
                     },
                     message: function () {
                         var head = '<table class="tblcompact table table-bordered"><thead>' +
                         ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Bank Reconciliation Report</h4></th></tr>' +
                         '<tr><th><span class="text-left"></span><span class="text-right pull-right"> Account :  ' + '@AccName' + '</span></th></tr></thead></tr>' +
                         ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>';
                         return head;
                     },
                     customize: function (win) {

                         $(win.document.body).find('table, th,tr, td ')
                            // .css('border', 'inherit')
                             .css('font-size', '10pt')
                             .css('padding', '5px')
                             .addClass('compact');
                         $(win.document.body).append('</td></tr></tbody>')

                     }
                 }, 'copy', 'csv', //'excel',
                 {
                     extend: 'excel',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Bank-Reconciliation-Report';
                     },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                          '' + $('#caddress').val() + '\n' +
                          ' Bank Reconciliation Report \n' +
                           ' Account : ' + '@AccName' + '\n' +
                          'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                     },
                 },
                 {
                     extend: 'pdf',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Bank-Reconciliation-Report';
                     },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                          '' + $('#caddress').val() + '\n' +
                          ' Bank Reconciliation Report \n' +
                          ' Account : ' + '@AccName' + '\n' +
                          'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                     },
                     customize: function (doc) {
                         doc.styles['td:nth-child(2)'] = {
                             width: '100px',
                             'max-width': '100px'
                         }
                         doc.pageMargins = [10, 10, 10, 10];
                         doc.defaultStyle.fontSize = 10;
                         doc.styles.tableHeader.fontSize = 10;
                         doc.styles.title.fontSize = 12;
                         // Header font and bg color
                         doc.styles.tableHeader.fillColor = '#d3d3d3';
                         doc.styles.tableHeader.color = 'black';
                         // Remove spaces around page title
                         doc.content[0].text = doc.content[0].text.trim();

                         //doc.content[1].table.widths = [
                         //'10%',
                         //'10%',
                         //'10%',
                         //'10%',
                         //'15%',
                         //'15%',
                         //'15%',
                         //'15%',
                         //]

                         var objLayout = {};
                         // Horizontal line thickness
                         objLayout['hLineWidth'] = function (i) { return .5; };
                         // Vertikal line thickness
                         objLayout['vLineWidth'] = function (i) { return .5; };
                         //// Horizontal line color
                         //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                         //// Vertical line color
                         //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                         // Left padding of the cell
                         objLayout['paddingLeft'] = function (i) { return 4; };
                         // Right padding of the cell
                         objLayout['paddingRight'] = function (i) { return 4; };
                         // Inject the object in the document
                         doc.content[1].layout = objLayout;
                         // Footer font and bg color
                         doc.styles.tableFooter.fillColor = '#d3d3d3';
                         doc.styles.tableFooter.color = 'black';
                     }

                 },

                ],
                sDom: "lBfr<'datatable-scroll't>ip"
            });
        });
        /* function for EditDate popup */
        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
            //$('#UserTable').DataTable().reload();
            location.reload();
            location.reload();
        });
        /* function for view detail popup */
        $('#brsitem').on('click', 'a.details', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        })
        function cal() {
            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            })
        };
    </script>
}
