@model QuickSoft.Models.Contact
@{
    ViewBag.Title = "Edit Contact";
    ViewBag.SubTitle = "Contact";
    ViewBag.Active = "Utility";

}
<div class="box box-info">
    @using (Html.BeginForm("Edit", "Contact", FormMethod.Post, new { id = "editform" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Contacts</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Contact"))
                    {
                        <a class="btn bg-black no-border" href="/Contact/Edit/@ViewBag.preEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Contact"))
                    {
                        <a class="btn bg-black no-border" href="/Contact/Edit/@ViewBag.nxtEntry">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                else
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Create Contact"))
                    {
                        <a class="btn bg-black no-border" href="/Contact/Create">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Contact List"))
                {
                    <a class="btn btn-success no-border" href="/Contact">
                        <i class="fa fa-fw fa-history"></i> Contact
                    </a>
                }
            </div>
        </div>
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label" })*
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Contact Group"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.Group, (SelectList)ViewBag.ParentModules, new { @class = "form-control", @required = "required" })
                            <span class="input-group-btn">
                                <a href="/ContactGroup/Create" class="btn btn-default modal-create" title="Add Group"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.Group, (SelectList)ViewBag.ParentModules, new { @class = "form-control", @required = "required" })
                    }
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @required = "required" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State"})
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Country" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone" } })
                </div>
                @*<div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile" } })
                    </div>*@
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ContactPerson" } })
                </div>
                <div class="form-group col-md-4">
                    <div id="mobiles"></div>
                </div>
                <div class="form-group col-md-12 pull-left">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>

            <div class="box-footer clearfix">
                <input type="submit" value="Update" class="btn btn-info col-sm-offset-4" />
                <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='/Contact/Index'");" />
            </div>

    }
</div>
@Html.Partial("../Common/_ModalCreate")
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/Mobile")

    <script type="text/javascript">

        $(document).ready(function () {
            var ContactID = getQueryString('');

            if (ContactID != null) {
                $.ajax({
                    url: '/Contact/GetMobile',
                    dataType: 'json',
                    data: { CnId: ContactID },
                    cache: true,
                    success: function (data) {
                        //$('#addchecklist').html('');
                        var count = 0;
                        $.each(data, function (i, item) {
                            AddMobile(item.Mob, item.Name);
                            count++;
                        });
                        if (count == 0) {
                            AddMobile();
                        }
                    }
                });
            }
            $("#State").select2();
        });

        /* function for Create popup */
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            var url = $('#createform')[0].action;
            var text = $("#GpName").val();
            $('#Group option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-create').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#Group').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });


    </script>
}
