@model QuickSoft.ViewModel.PropertyViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Property</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "PropertyMain", FormMethod.Post, new { id = "createform" }))
            {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.Section)
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alias", tabindex = 15 } })
            </div>

            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.PropertyType, new { @class = "control-label" })
                @*<div class="input-group input-group-sm">*@
                    @Html.DropDownListFor(m => m.PropertyType, (SelectList)ViewBag.proptype, "--select--", new { id = "ddlPropertyType", @class = "form-control select2 prtype", tabindex = 5 })
                    @*<span class="input-group-btn">
                        <button type="button" href="/Property/PropertyType/Create" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>*@
                @*</div>*@
            </div>

            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.Features, new { @class = "control-label" })
                @*<div class="input-group input-group-sm">*@
                    @Html.DropDownListFor(m => m.Features, (SelectList)ViewBag.PropFeat, new { @class = "form-control select2 Features", @name = "Features[]", @multiple = "multiple" })
                    @*<span class="input-group-btn">
                        <button type="button" href="/Property/PropertyFeature/Create" class="modal-feature btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>*@
                @*</div>*@
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
            <div class="form-group col-sm-12 no-padding">
                @Html.Label("Item Image", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ItemImage, new { type = "file", multiple = "multiple", tabindex = 24 })
            </div>
            <div class="box-body">
                <div id="DocDetails"></div>
            </div>
            
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Contact Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 10 })
            </div>
            @if (@ViewBag.CityCheck == 0)
                {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @*<div class="input-group input-group-sm">*@
                        @Html.DropDownListFor(m => m.City, (SelectList)ViewBag.SCity, "", new { id = "ddlCity", @class = "form-control select2", tabindex = 11 })
                        @*<span class="input-group-btn">
                            <a href="/City/Create" class="modal-create btn btn-success btn-flat" title="Add New City"><i class="fa fa-1x fa-plus-circle"></i></a>
                        </span>*@
                    @*</div>*@
                </div>
            }
            else
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 11 } })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm statess", @name = "State", tabindex = 12 })

                @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State", tabindex = 12 } })*@
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 13 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 14 } })
            </div>
            @for (int i = 0; i < Model.AdditionalField.Count; i++)
            {
                <div class="form-group col-sm-2">
                    <label class="control-label" for="AdditionalField">@Model.AdditionalField[i].Name</label>
                    <input type="hidden" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                    <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" data-val-required="AdditionalField is required." type="text" value="0">
                </div>

            }
            @*<div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 15 } })
                </div>
                <div class="form-group col-md-4">
                          @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                          @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 16 } })
                    </div>*@

            
        </div>
        <div class="box-footer">
            <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" tabindex="27" />
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" tabindex="28" />
        </div>
       
        <script>
            $(".prtype").select2();
            $(".doctype").select2();
            $(".statess").select2();
            $("#Features").select2({
                placeholder: 'Search Feature',
                minimumInputLength: 0,
                ajax: {
                    url: "/Property/PropertyFeature/SearchFeature",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "in"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            AddMobile();
            Adddoctypeexp();
            $('span').on('click', '.modal-feature', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                modalshow(url, '#modal-feature');
            });
            $('#modal-feature').on('submit', '#createform', function (e) {
                e.preventDefault();
                var url = $('#createform')[0].action;
                var data = $('#createform').serialize();
                createajax(url, data, '#modal-feature');
            });
        </script>
    }
</div>
@Html.Partial("../Common/_ModalCreate")