@using QuickSoft.Models
@model QuickSoft.ViewModel.ProjectViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Edit Project";
    ViewBag.Active = "Master";
    string check = "";
    string strImage = "";
    string partialconfig = "";
}
<div class="box box-info">
    @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { id = "proeditForm", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Edit Project</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Project"))
                    {
                        <a class="btn bg-black no-border" href="/Project/Edit/@ViewBag.preEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Project"))
                    {
                        <a class="btn bg-black no-border" href="/Project/Edit/@ViewBag.nxtEntry">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                else
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Create Project"))
                    {
                        <a class="btn bg-black no-border" href="/Project/Create">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Project List"))
                {
                    <a class="btn btn-success no-border" href="/Project">
                        <i class="fa fa-fw fa-history"></i> List
                    </a>
                }
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.ProCode, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.ProCode, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Project Code", @readonly = "readonly" } })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.ProjectName, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Project Name" } })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.ProType, htmlAttributes: new { @class = "control-label" })*
                    @if (User.IsInRole("Dev") || User.IsInRole("Create ProjectType"))
                {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.ProType, (SelectList)ViewBag.proTypes, new { id = "ddlProType", @class = "form-control select2", @required = "required" })
                            <span class="input-group-btn">
                                <a href="/ProjectType/Create" class="modal-add btn btn-success btn-flat" title="Add ProjectType"><i class="fa fa-1x fa-plus-circle"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.ProType, (SelectList)ViewBag.proTypes, new { id = "ddlProType", @class = "form-control select2", @required = "required" })
                    }
                </div>

                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Customer, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Customer"))
                {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.Customer, (SelectList)ViewBag.Customr, "", new { id = "ddlCustomer", @class = "form-control select2", @required = "required" })
                            <span class="input-group-btn">
                                <button type="button" href="/Customer/AddCustomer" class="modal-create btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.Customer, (SelectList)ViewBag.Customr, "", new { id = "ddlCustomer", @class = "form-control select2", @required = "required" })
                    }
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.ContactPerson, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Person" } })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.ContactNumber, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Number" } })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(m => m.SalesPerson, new { @class = "control-label" })
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Sales Executive"))
                {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Employee, "", new { id = "ddlEmployee", @class = "form-control select2" })
                            <span class="input-group-btn">
                                <button type="button" href="/SalesExecutive/AddSalesExecutive" class="modal-edit btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Employee, "", new { id = "ddlEmployee", @class = "form-control select2" })

                    }
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.SalesContact, new { @class = "control-label" })
                    @Html.EditorFor(model => model.SalesContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sale Contact Person" } })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.ProjectStatus, htmlAttributes: new { @class = "control-label" })*
                    @if (User.IsInRole("Dev") || User.IsInRole("Create ProjectStatus"))
                {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(m => m.ProjectStatus, (SelectList)ViewBag.Stat, new { id = "ddlPStatus", @class = "form-control select2", @required = "required" })
                            <span class="input-group-btn">
                                <a href="/ProjectStatus/Create" class="modal-addnew btn btn-success btn-flat" title="Add Project Status"><i class="fa fa-1x fa-plus-circle"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.ProjectStatus, (SelectList)ViewBag.Stat, new { id = "ddlPStatus", @class = "form-control select2", @required = "required" })
                    }
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.Location, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Location, (SelectList)ViewBag.Local, new { @class = "form-control input-sm select2", @placeholder = "Enter Location" })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(model => model.ExStartDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.ExStartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(model => model.ExEndDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.ExEndDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    @*@Html.HiddenFor(model => model.IncomeAccount)*@
                    @Html.LabelFor(model => model.IncomeAccount, htmlAttributes: new { @class = "control-label" })*
                    @*@Html.EditorFor(model => model.IncomeAccName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                    @Html.DropDownListFor(m => m.IncomeAccount, (SelectList)ViewBag.IncomeAcc, new { @class = "form-control select2" })
                </div>
            </div>
            <div class="row">
                @if (Model.FieldMap.Count > 0)
                {
                    for (int i = 0; i < Model.FieldMap.Count; i++)
                    {
                        var fmap = "";
                        if (Model.FieldMap[i].Field == "Ref1")
                        {
                            fmap = Model.Ref1;
                        }
                        if (Model.FieldMap[i].Field == "Ref2")
                        {
                            fmap = Model.Ref2;
                        }
                        if (Model.FieldMap[i].Field == "Ref3")
                        {
                            fmap = Model.Ref3;
                        }
                        if (Model.FieldMap[i].Field == "Ref4")
                        {
                            fmap = Model.Ref4;
                        }
                        if (Model.FieldMap[i].Field == "Ref5")
                        {
                            fmap = Model.Ref5;
                        }

                        <div class="form-group col-sm-2">
                            <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                            <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="@fmap">
                        </div>
                    }
                }
            </div>
            <div class="row">

                <div class="form-group col-md-12">
                    @Html.Label("Documents", null, new { @class = "control-label" })
                    <div class="file-loading">
                        <input id="input-24" name="input24[]" type="file" multiple>
                    </div>
                </div>
                @foreach (var arr in @ViewBag.image)
                {
                    check = "\"/uploads/projectdocuments/" + arr.FileName + "\"";
                    strImage += check + ',';

                    partialconfig += "{ key:" + arr.ProjectImageId + " }" + ',';

                }

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Details, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Details, new { @class = "form-control input-sm textarea", @placeholder = "Enter Details..", rows = 5 })
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Note, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm", @placeholder = "Enter Note.." })
                </div>
                <div class="box-footer col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Update" />
                    <button type="button" class="btn btn-default" tabindex="29" onclick="@("window.location.href='/Project/Index'");">Cancel</button>

                </div>
            </div>
        </div>
    }
</div>
<div id="modal-add" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@{var Modelv = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @Modelv)
@Html.Partial("../Common/_ModalEdit", @Modelv)
@Html.Partial("../Common/_ModeItemCreate")
@Html.Partial("../Common/_ModalCustomer")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/wysihtml5")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/wysihtml5")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
    <script type="text/javascript">
        var date = new Date();
        date.setDate(date.getDate());
        $('.date').datepicker({
            //startDate: date,
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        $(document).ready(function () {
            $(function () {
                $(".textarea").wysihtml5();
            });


            $('#StartDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#EndDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            CallLeadPipeCust();
            CallEmployee();

            $("#IncomeAccount").select2({
                placeholder: 'Search Income Account',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchIncomeAccount",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "default"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
            $("#Location").select2({
                tags: true
            });
        });


        $("#input-24").fileinput({
            maxFilePreviewSize: 10240,
            showUploadedThumbs: true,
            overwriteInitial: false,
            showUpload: false,
            initialPreview: [@Html.Raw(strImage)],

            initialPreviewAsData: true,
            initialPreviewFileType: 'pdf',
            allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jpeg", "jfif", "doc", "docx", "pdf", "dwg", "pptx", "vsdx"],
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: true,
            },
            initialPreviewConfig: [
               @partialconfig
            ],

            deleteUrl: "/ProTask/ImageDelete",
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        }).on('filebeforedelete', function () {
            var aborted = !window.confirm('Are you sure you want to delete this file?');
            if (aborted) {
                //window.alert('File deletion was aborted!');
            };
            return aborted;
        }).on('filedeleted', function () {
            setTimeout(function () {
                //window.alert('File deletion was successful!');
            }, 900);
        });


        $('div').on('click', '.modal-add', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-add');
            $(this).attr('data-toggle', 'modal');
        });
        $('#modal-add').on('submit', '#typeform', function (e) {
            var url = $('#modal-add #typeform')[0].action;

            var text = $("#TypeName").val();
            $('#ddlProType option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-add #typeform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-add').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#ddlProType').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });


        $('div').on('click', '.modal-addnew', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-addnew');
            $(this).attr('data-toggle', 'modal');
        });
        $('#modal-addnew').on('submit', '#pstatform', function (e) {
            var url = $('#modal-addnew #pstatform')[0].action;

            var text = $("#StatusName").val();
            $('#ddlPStatus option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-addnew #pstatform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-addnew').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#ddlPStatus').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });

        $('body').on('change', '#ddlCustomer', function (e) {
            var custId = $(this).val();
            if (custId != "") {
                $.ajax({
                    url: '/Customer/GetCustomerById',
                    type: "GET",
                    dataType: "JSON",
                    data: { custId: custId },
                    success: function (result) {
                        if (result != null) {
                            $('#Location').val(result.Location);
                            $('#ContactPerson').val(result.ContactPerson);
                        }
                    }
                })
            }
        });
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('span').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });
        AddItemPopUp();
        CustomerPopup();

        $('#proeditForm').on('submit', function (e) {
            e.preventDefault();
            if ($("#proeditForm").valid()) {
                var url = $('#proeditForm')[0].action;
                var formData = new FormData(this);
                var files = $("#input-24").get(0);
                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        formData.append("input-24", files[i]);
                    }
                }
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            window.location.href = '@Url.Action("Index", "Project")';
                            location.reload();
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });
    </script>
}
