@model QuickSoft.ViewModel.ViewProTaskViewModel
@{ string IRateCheck = "inactive";
    string check = "";
    string strImage = "";
    string partialconfig = "";
    long i = 0;
}
<style>
    .txtdescription
    {
        width:100%;
        height:50px;
    }
</style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h4>Add Images</h4> &nbsp;&nbsp;<a href="javascript:void(0)" onclick="printtaskimage(@Model.ProTaskId)"><i class="fa-lg fa fa-print"></i> &nbsp;Print</a></center>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h3>Old Photo</h3>
            </div>
            <div class="col-md-6">
                <h3>New Photo</h3>
</div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <form method="post" action="/ProTask/AddTaskImagenewandoldpost" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

                    <input id="fileupload" class="file" name="fileupload" type="file" class="fileupload" />
                    <lable>Description</lable>
                    <textarea name="description" class="txtdescription"></textarea>
                    <input type="hidden" name="taskdocumentid" value="" />
                    <input type="hidden" name="protaskid" value="@Model.ProTaskId" />
                    <input type="hidden" name="type" value="old" />
                    <input type="submit" value="Save" name="save" />
                </form>


            </div>
            <div class="form-group col-md-6">
                <form method="post" action="/ProTask/AddTaskImagenewandoldpost" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

                    <input id="fileupload" class="file" name="fileupload" type="file" class="fileupload" />
                    <lable>Description</lable>
                    <textarea name="description" class="txtdescription"></textarea>
                    <input type="hidden" name="taskdocumentid" value="" />
                    <input type="hidden" name="protaskid" value="@Model.ProTaskId" />
                    <input type="hidden" name="type" value="new" />
                    <input type="submit" value="Save" name="save" />
                </form>


            </div>

        </div>
        <hr />
        <hr />
        <h3>Existing Images</h3>

        @foreach (var item in Model.TaskDocuments)
        {
            check = "";
            strImage = "";
            partialconfig = "";
            i++;
            <div class="row">
                <div class="form-group col-md-5"  style="overflow:hidden">
                    <form method="post" action="/ProTask/AddTaskImagenewandoldpost" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
                        <a href="~/uploads/protaskdocuments/@{@item.TaskDocumentId}.jpg" data-lightbox='@{@item.TaskDocumentId}.jpg' ID="ImgBtn1">
                            <img src="~/uploads/protaskdocuments/resize_@{@item.TaskDocumentId}.jpg" height="200" width="300" />
                        </a>
                        <input id="fileupload_@i" class="file" name="fileupload" type="file" class="fileupload" />
                        <lable>Description</lable>
                        <textarea name="description" class="txtdescription">@item.description</textarea>
                        <input type="hidden" name="taskdocumentid" value="@item.TaskDocumentId" />
                        <input type="hidden" name="protaskid" value="@item.ProTaskId" />
                        <input type="hidden" name="type" value="old" />
                        <input type="submit" value="Save" name="save_@i" />
                    </form>


                </div>
                <div class="form-group col-md-5" style="overflow:hidden">
                    <form method="post" action="/ProTask/AddTaskImagenewandoldpost" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
                   
                        <a href="~/uploads/protaskdocumentsNew/@{@item.TaskDocumentId}.jpg" data-lightbox='@{@item.TaskDocumentId}.jpg' ID="ImgBtn1">
                            <img src="~/uploads/protaskdocumentsNew/resize_@{@item.TaskDocumentId}.jpg" height="500" />
                        </a>
                        <input id="fileupload_@i" class="file" name="fileupload" type="file" class="fileupload" />
                        <lable>Description</lable>
                        <textarea name="description" class="txtdescription">@item.newdescription</textarea>
                        <input type="hidden" name="taskdocumentid" value="@item.TaskDocumentId" />
                        <input type="hidden" name="protaskid" value="@item.ProTaskId" />
                        <input type="hidden" name="type" value="new" />
                        <input type="submit" value="Save" name="save_@i" />
                    </form>


                </div>
                <div class="col-md-2">
                    <a href="/ProTask/DeleteImage/@item.TaskDocumentId" class="modal-delete btn btn-icons btn-rounded btn-delete"><i class="fa fa-trash"></i></a>
                </div>

            </div>
            <hr />

        }

    </div>
    @section style{
        @Styles.Render("~/css/bootstrap-fileinput")
        @Styles.Render("~/css/bootstrap-fileinput-rtl")
    }
    @section scripts{
        @Scripts.Render("~/js/jqueryval")
        @Scripts.Render("~/js/bootstrap-fileinput")
        @Scripts.Render("~/js/bootstrap-piexif")
        @Scripts.Render("~/js/bootstrap-purify")
        @Scripts.Render("~/js/bootstrap-sortable")
    }


