@model QuickSoft.ViewModel.passworddetailsViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Passwords</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm("Create", "Password", FormMethod.Post, new { id = "createform" }))
    {
        <script type="text/javascript">
            $('form#createform').removeData("validator");
            $('form#createform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            @Html.HiddenFor(model => model.comefromtask);
            <div class="col-md-12">
                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus", @required = "true" } })
                </div>
                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                </div>
                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                </div>
                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })
                </div>
                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control input-sm", autofocus = "autofocus", @style = "width:100%; height:250px !important" })
                </div>
                <div class="form-group col-md-12" style="pointer-events:none">
                    @Html.Label("Customer", null, new { @class = "control-label" }) *
                    @Html.DropDownListFor(model => model.LeadType, (SelectList)ViewBag.pwdgroup, "", new { @id = "ddlCustomer", @class = "form-control select2" })
                </div>

                <div class="form-group col-md-12" style="display:none">
                    @Html.LabelFor(m => m.AssignedMembers, new { @class = "control-label" }) *
                    @Html.ListBoxFor(m => m.AssignedMembers, (MultiSelectList)ViewBag.team, new { @id = "AssignedUsers", @class = "form-control select2 AsgnUsers", @name = "AssignedMembers[]", @multiple = "multiple" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    @*<input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />*@
                    <button type="submit" id="save" class="btn btn-success col-sm-offset-4" tabindex="26">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" onclick="@("window.location.href='/Password/MyPassword'");" />
                </div>
            </div>
        </div>
        <script>

            $(document).ready(function () {
                $("#AssignedUsers").select2();
               
            });


                  //  CallMC();
        </script>
    }
</div>

