
@model QuickSoft.Models.geowallviewmodal
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>geowall map</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "geowall", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.geowallId)
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Latitude", null, new { @class = "control-label" }) *
            @Html.EditorFor(model => model.lat, new { @class = "form-control", @required = "required" })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Logitude", null, new { @class = "control-label" }) *
            @Html.EditorFor(model => model.log, new { @class = "form-control", @required = "required" })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Max distance in meter", null, new { @class = "control-label" }) *
            @Html.EditorFor(model => model.distance, new { @class = "form-control", @required = "required" })

        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Employee", null, new { @class = "control-label" }) *
            @*  @Html.DropDownList("employeeid", (SelectList)ViewBag.employee, "", new { @class = "form-control", @required = "required"})*@
            @*@Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })*@

            @Html.ListBoxFor(m => m.EmployeeId, (MultiSelectList)ViewBag.employee, new { @class = "Employees form-control input-sm textwidth" })

        </div>
    </div>

</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
<script>
    $("#EmployeeId").select2({
        placeholder: 'Search Employees by Name',
        minimumInputLength: 0,
        ajax: {
            url: "/AdditionalMC/SearchEmployee",
            dataType: 'json',
            type: "POST",
            delay: 50,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page,
                    lead: 1
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data
                };
            },
            cache: true
        },
    });
</script>

