@model QuickSoft.ViewModel.propertyreportviewmodel
@{
    ViewBag.Title = "Property Report";
    ViewBag.SubTitle = "Registration";
    ViewBag.Active = "Reports";


}
<style>
    td{
        padding:10px;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Property Report</h3>
    </div>
    <div class="box-body">
        <div class="box box-info">
            @using (Html.BeginForm("PropertyConsolidated", "PropertyReports", FormMethod.Post, new { id = "createmainForm1", role = "form" }))
            {
                <div class="row">


                    <div class="form-group col-md-4" id="creditsale">
                        @Html.Label("Property", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlProperty", (SelectList)ViewBag.Alldata, new { @class = "form-control input-sm select2", @style = "width:100% !important",@required="required" })
                    </div>

                    <div class="box-footer col-md-4">
                        <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                        <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                        @*<input type="button" class="btn btn-default" value="Reset" data-dismiss="modal" id="btnreset" />*@
                    </div>
                </div>
            }
        </div>
        @if (@Model.properyname != "no")
        {
    <div style="text-align:right">
        <a href="javascript:void(0)" onclick="printdetails()" class="btn btn-info col-sm-offset-5">Print</a>
    </div>
    <div id="printit">
        <div class="row">
            <div class="col-md-6 ">
                <div style="border:1px solid gray;padding:5px;">
                    <table>
                        <tr>
                            <td>
                                <div style="width:200px"><strong>Property Details</strong></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Property Name : </td>
                            <td>@Model.properyname</td>
                        </tr>
                        <tr>
                            <td>Owner : </td>
                            <td>@Model.owner</td>
                        </tr>
                        <tr>
                            <td>Property Type : </td>
                            <td>@Model.propertytype</td>
                        </tr>
                        <tr>
                            <td>Address : </td>
                            <td>@Model.address</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div style="border:1px solid gray;padding:5px;">
                    <table>
                        <tr><td colspan="3"><strong>Tenancy</strong></td></tr>
                        <tr>
                            <td><div style="width:200px">Tenant Name</div></td>
                            <td>@Model.tenantname</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>@Model.startdate</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>@Model.enddate</td>
                        </tr>
                        <tr>
                            <td>Rent</td>
                            <td>@Model.rent</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div style="border:1px solid gray;padding:5px;margin-top:5px;">
                    <table>
                        <tr>
                            <td colspan="3"><strong>Document Attachment</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Document Type</strong></td>
                            <td><strong>Expiry Date</strong></td>
                            <td><strong>Attachment</strong></td>
                        </tr>
                        @if (Model.docmodel != null)
                        {
                            foreach (var doc in Model.docmodel)
                            {
                                <tr>
                                    <td>
                                        <div style="width:200px"> @doc.Type</div>
                                    </td>
                                    <td>
                                        @if (doc.ExpDate != null)
                                        {
                                            if (doc.ExpDate.Value.Year != 3000)
                                            {
                                                <div style="width:200px"> @doc.ExpDate.Value.ToString("dd-MM-yyyy")</div>
                                            }
                                        }
                                    </td>

                                    <td>
                                        <div style="width:300px">  <a href="/uploads/TenancyContractDocument/Property_@doc.ID/@doc.Attachments" target="_new">Download</a></div>
                                    </td>
                                </tr>
                            }
                        }
                    </table>

                    <table>
                        <tr>
                            <td colspan="3"><strong>Tenancy Attachment</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Document Type</strong></td>
                            <td><strong>Expiry Date</strong></td>
                            <td><strong>Attachment</strong></td>
                        </tr>
                        @if (Model.tenancydoc != null)
                        {
                            foreach (var doc in Model.tenancydoc)
                            {
                                <tr>
                                    <td>
                                        <div style="width:200px"> @doc.Type</div>
                                    </td>
                                    <td>
                                        @if (doc.ExpDate != null)
                                        {
                                            if (doc.ExpDate.Value.Year != 3000)
                                            {
                                                <div style="width:200px"> @doc.ExpDate</div>
                                            }
                                        }
                                    </td>

                                    <td>
                                        <div style="width:300px">  <a href="/uploads/TenancyContractDocument/Tenancy_@doc.ID/@doc.Attachments" target="_new">Download</a></div>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    </div>
                </div>
            <div class="col-md-6">
                <div style="border:1px solid gray;padding:5px;margin-top:5px;">
                    <table>
                        <tr>
                            <td>
                                <div style="width:400px"><strong>AMC Details</strong></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Contractor : </td>
                            <td>@Model.contractorname</td>
                        </tr>
                        <tr>
                            <td>Start Date : </td>
                            <td>@Model.amcstartdate</td>
                        </tr>
                        <tr>
                            <td>End Date : </td>
                            <td>@Model.amcenddate</td>
                        </tr>
                        <tr>
                            <td>Amount : </td>
                            <td>@Model.amcfees</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
    
      
     

    </div>
                }
                <script>
                    function printdetails() {
                     
                        var printContent = $('#printit').html();
                        $('title').html("Property Details");
                        $('body').html(printContent);
                        window.print();

                        window.location = "/Property/PropertyReports/PropertyConsolidated";
                    }
                    $(document).ready(function () {
                        $("#ddlProperty").select2({
                            placeholder: 'Search Owner by Name or Code',
                            minimumInputLength: 0,
                            ajax: {
                                url: "/Property/PropertyMain/SearchPropertyAll",
                                dataType: 'json',
                                delay: 50,
                                data: function (params) {
                                    return {
                                        q: params.term,
                                        page: params.page,
                                        x: "All"
                                    };
                                },
                                processResults: function (data, params) {
                                    params.page = params.page || 1;

                                    return {
                                        results: data
                                    };
                                },
                                cache: true
                            },
                        });
                    })
                </script>
