@model QuickSoft.ViewModel.propertysummery
@{
    ViewBag.Title = "Property Summery";
    ViewBag.SubTitle = "Registration";
    ViewBag.Active = "Reports";


}
<style>
    td{
        padding:10px;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Property Summery</h3>
    </div>
    <div class="box-body">
        <div class="box box-info">
            @using (Html.BeginForm("PropertySummery", "PropertyReports", FormMethod.Post, new { id = "createmainForm1", role = "form" }))
            {
            <div class="row">

                <div class="form-group col-md-3" id="creditsale">
                    @Html.Label("Property", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.propertyid, (SelectList)ViewBag.Alldata, new { @class = "form-control input-sm select2", @style = "width:100% !important", @required = "required", @id = "ddlProperty" })
                </div>
               
                <div class="form-group col-md-2">
                    @Html.Label("From", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.startdate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @id = "From" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>+
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("To", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.enddate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @id = "To" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>

                <div class="box-footer col-md-3">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                    @*<input type="button" class="btn btn-default" value="Reset" data-dismiss="modal" id="btnreset" />*@
                </div>
            </div>
            }
        </div>
        @if (@Model.properyname != "no")
        {
            <div style="text-align:right">
                <a href="javascript:void(0)" onclick="printdetails()" class="btn btn-info col-sm-offset-5">Print</a>
            </div>
            <div id="printit">
                <div class="row">
                    <div class="col-md-6 ">
                        <div style="border:1px solid gray;padding:5px;">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        Date From  @Model.startdate To  @Model.enddate
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:200px"><strong>Property Details</strong></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Property Name : </td>
                                    <td>@Model.properyname</td>
                                </tr>
                                <tr>
                                    <td>Rental Income : </td>
                                    <td>@Model.RentalIncome</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:200px"><strong>Expenses Details</strong></div>
                                    </td>
                                </tr>

                                @if (Model.paymentchequedetails != null)
                                {
                                    foreach (var paymentchk in Model.paymentchequedetails)
                                    {
                                        <tr>
                                            <td>
                                                @paymentchk.description
                                            </td>
                                            <td>
                                                @paymentchk.Amount
                                            </td>



                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>
                                        <strong>Total Expense</strong>
                                    </td>
                                    <td>
                                        <strong> @Model.TotalExpenses</strong>
                                    </td>



                                </tr>
                                <tr>
                                    <td>
                                        Net Income
                                    </td>
                                    <td>
                                        @Model.NetIncome
                                    </td>



                                </tr>
                                <tr>
                                    <td>
                                        Period
                                    </td>
                                    <td>
                                        @Model.tenstartdate - @Model.tenenddate

                                    </td>



                                </tr>

                                <tr>
                                    <td>
                                        <div style="width:200px"><strong>Tenent Details</strong></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name : </td>
                                    <td>@Model.tenantname</td>
                                </tr>
                                <tr>
                                    <td>Address : </td>
                                    <td>@Model.tenentaddress  </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:200px"><strong>Cheques Details</strong></div>
                                    </td>
                                </tr>
                                </table>
                                @if (Model.receiptchequedetails != null)
                                {
                                    <table width="100%">

                                        <tr>
                                            <th><strong>Description</strong></th>
                                            <th><strong>Amount</strong></th>
                                            <th><strong>Date</strong></th>

                                            <th><strong>Bank</strong></th>
                                        </tr>
                                        @foreach (var paymentchk in Model.receiptchequedetails)
                                        {
                                            <tr>
                                                <td>
                                                    @paymentchk.description
                                                </td>
                                                <td>
                                                    @paymentchk.Amount
                                                </td>
                                                <td>
                                                    @paymentchk.pdcdate.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @paymentchk.Bank
                                                </td>



                                            </tr>
                                        }
                                    </table>
                                }
                                <table>
                                <tr>
                                    <td>
                                        <div style="width:200px"><strong>AMC Details</strong></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount : </td>
                                    <td>@Model.amcamount</td>
                                </tr>
                                <tr>
                                    <td>Period : </td>
                                    <td>@Model.amcstartdate-@Model.amcenddate  </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                 
                </div>
                




            </div>
        }
        @section style{
            @Styles.Render("~/css/bootstrap-datepicker")
        }
        @section Scripts {
            @Scripts.Render("~/js/property")
            @Scripts.Render("~/js/bootstrap-datepicker")
        
            <script>
                $('.date').datepicker({
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                $('#To').datepicker({
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                $('#From').datepicker({
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
                var date = new Date();
                var today = new Date(new Date().getFullYear() , 11, 31);
                var priordate = new Date(new Date().getFullYear(), 0, 1);
                $('#To').datepicker('setDate', today);
                $('#From').datepicker('setDate', priordate);
                function printdetails() {

                    var printContent = $('#printit').html();
                    $('title').html("Property Details");
                    $('body').html(printContent);
                    window.print();

                    window.location = "/Property/PropertyReports/PropertySummery";
                }
                $(document).ready(function () {
                    $("#ddlProperty").select2({
                        placeholder: 'Search Owner by Name or Code',
                        minimumInputLength: 0,
                        ajax: {
                            url: "/Property/PropertyMain/SearchPropertyAll",
                            dataType: 'json',
                            delay: 50,
                            data: function (params) {
                                return {
                                    q: params.term,
                                    page: params.page
                                   
                                };
                            },
                            processResults: function (data, params) {
                                params.page = params.page || 1;

                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                    });
                })
            </script>
            }