@model QuickSoft.Models.CompanyHeader
@{
    ViewBag.Title = "Create Company Header";
    ViewBag.SubTitle = "Company Header";
    ViewBag.Active = "CompanyHeader";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Company Header</h3>
        <div class="pull-right">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            <a class="btn btn-success no-border" href="/CompanyHeader/Index">
                <i class="fa fa-fw fa-history"></i> Company Header List
            </a>
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Create", "CompanyHeader", FormMethod.Post, new { id = "popupForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", @placeholder = "Enter Name..", @required = "required" })

                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Header, new { @class = "control-label" })*
                    @Html.TextBoxFor(m => m.Header, new { @class = "form-control input-sm", type = "file", @required = "required" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Footer, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Footer, new { @class = "form-control input-sm", type = "file" })
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                            <input type="button" class="btn btn-default" value="Reset" data-dismiss="modal" id="btnreset" tabindex="20" />
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/js/ckeditor")
    @Scripts.Render("~/js/jqueryval")
}