@model QuickSoft.ViewModel.sopViewModel
@{
    string posfun = "";

    string check = "";
    string strImage = "";
    string partialconfig = "";
}
<script src="https://cdn.jsdelivr.net/npm/ckeditor4@4.22.1/ckeditor.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Operation Procedure</h4>
    <div class="pull-right">

        @if (1 == 1)//User.IsInRole("Dev") || User.IsInRole("sop List"))
        {
            <a class="btn btn-outline-primary btn-fw list-blue" style="" href="/operationprocedure/Index">
                &nbsp;&nbsp;&nbsp; <i class="fa fa-fw fa-history "></i>&nbsp; List&nbsp;&nbsp;&nbsp;
            </a>
        }
    </div>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "operationprocedure", FormMethod.Post, new { id = "AssignForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.id);
        <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12 no-paddingleft hide1">
                @Html.Label("Title", null, new { @class = "control-label temp2" })
                <div class="input-group ">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control " } })

                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.AssignedMembers, new { @class = "control-label" }) *
            @Html.ListBoxFor(m => m.AssignedMembers, (MultiSelectList)ViewBag.team, new { @id = "AssignedUsers", @class = "form-control select2 AsgnUsers", @name = "AssignedMembers[]", @multiple = "multiple" })
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Note", null, new { @class = "control-label temp2" })
                    @Html.TextAreaFor(m => m.note, new { @id = "itemnote", @class = "form-control" })

                    @* <textarea name="note" id="itemnote" class="form-control itemnote"></textarea>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.Label("Documents", null, new { @class = "control-label" })
                <div class="file-loading">
                    <input id="input-24" name="input24[]" type="file" multiple>
                </div>
                @foreach (var arr in @ViewBag.image)
                {
                    check = "\"/uploads/sop/" + arr.FileName + "\"";
                    strImage += check + ',';

                    partialconfig += "{ key:" + arr.qutid + " }" + ',';

                }

            </div>
        </div>
        <div class="row">
            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <input type="button" class="btn btn-default" value="close" data-dismiss="modal" id="btnreset" tabindex="20" />
            </div>
        </div>
    }
</div>
@section style{
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")

}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")

    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/JsBarcode")
    @Scripts.Render("~/js/wysihtml5")
    @Scripts.Render("~/js/bootstrap-fileinput")
}
<script>
            //CKEDITOR.replace('itemnote', { versionCheck: false });
            //var cknote = CKEDITOR.instances['itemnote'].getData();
            CKEDITOR.replace('itemnote', {
                versionCheck: false,
                height: 400, // value in pixels

            });
            $(document).ready(function () {

    $("#input-24").fileinput({
            initialPreview: [@Html.Raw(strImage)],
            maxFilePreviewSize: 10240,
            showUploadedThumbs: true,
            overwriteInitial: false,
            showUpload: false,
            enableResumableUpload: true,
            autoReplace: true,
            required: false,
            initialPreviewAsData: true,
            initialPreviewFileType: 'pdf',
            allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jfif", "jpeg", "doc", "docx", "pdf", "dwg", "pptx", "vsdx",
              'M4A', 'FLAC', 'MP3', 'MP4', 'WAV', 'WMA', 'AAC', 'ogg', 'opus', 'mpg', 'mpeg'],
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: true,
            },
            initialPreviewConfig: [
               @partialconfig
            ],

            deleteUrl: "/operationprocedure/ImageDelete",
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        }).on('filebeforedelete', function () {
            var aborted = !window.confirm('Are you sure you want to delete this file?');
            if (aborted) {
                //window.alert('File deletion was aborted!');
            };
            return aborted;
        }).on('filedeleted', function () {
            setTimeout(function () {
                //window.alert('File deletion was successful!');
            }, 900);
        });


                $("#AssignedUsers").select2({
                    placeholder: 'Search Employees by Name',
                    minimumInputLength: 0,
                    ajax: {
                        url: "/Employee/SearchEmployee",
                        dataType: 'json',
                        type: "POST",
                        delay: 50,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page,
                                x: "all"
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;

                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                });
            })
</script>

