@model QuickSoft.ViewModel.smssend
@{
    ViewBag.Title = "Send Whatsapp General";
    ViewBag.SubTitle = "Send Whatsapp General";
    ViewBag.Active = "Send Whatsapp General";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Send Whatsapp General</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("sendwhatsappjs", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            <div class="form-group" style="display:none">
                @Html.LabelFor(m => m.mobileno, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Template Name", null, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Send Whatsapp" class="btn btn-info" />
                </div>
            </div>
        }
    </div>
</div>



