
@using QuickSoft.Models
@model Training
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Iftar Party 02-04-2024 at 6 PM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/vendor/select2/select2.css" rel="stylesheet" />

    <!--===============================================================================================-->

    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    <link href="~/Content/login/css/main.css" rel="stylesheet" />

    <!--===============================================================================================-->
</head>
<body>
    <style>
        input, textarea {
            border: 1px solid gray;
            outline: auto;
            width: 100% !important;
            padding: 5px;
        }

        .wrap-login100 {
            width: auto !important;
            padding-top: 50px !important;
        }
        label {
            margin-bottom:0px !important;
        }
        .login100-form-btn
        {
            margin-top:5px !important;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script>
        if (getQueryString1("success") == "1") {
            alert("registration is success.Confirmation Send to your Email Address");
        }
    </script>
    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">

                @using (Html.BeginForm("Trainingcreate", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @style = "background-color:red;color:white;" })
                    <div class="AlertDiv">@{ Html.RenderPartial("_Alerts"); }</div>
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <img src="~/Content/img/producttraining.PNG?c=32" width="100%" height="100" /><br />
                                                                                                              <strong style="color:blue;">
                                                                                                                  Iftar Party 02-04-2024 at 6 PM
                                                                                                                  <h3>At Hotel IBIS Novotel Abu Dhabi</h3>
                                                                                                              </strong>
                            </center>
                            <hr />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6"><label>Name </label></div>
                        <div class="col-md-6">@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @reqired = "required" } }) </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6" style="display:none"><label>@Html.LabelFor(m => m.LastName) </label></div>
                        <div class="col-md-6" style="display:none">@Html.EditorFor(m => m.LastName, new { }) </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6"><label>@Html.LabelFor(m => m.Company) </label></div>
                        <div class="col-md-6">@Html.EditorFor(m => m.Company, new { })  </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6"><label>Mobile No  </label></div>
                        <div class="col-md-6">@Html.EditorFor(m => m.mobile, new { htmlAttributes = new { @reqired = "required" } })  </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6"><label>@Html.LabelFor(m => m.email) </label></div>
                        <div class="col-md-6">@Html.EditorFor(m => m.email, new { })</div>
                    </div>
                    <div class="row">

                        <div class="col-md-6" style="display:none;"><label>@Html.LabelFor(m => m.Address)</label></div>
                        <div class="col-md-6" style="display:none">@Html.TextAreaFor(m => m.Address, new { htmlAttributes = new { @style = "width:100%;heigh:100px;", @reqired = "required" } }) </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><input type="submit" name="submit" value="Register" class="login100-form-btn" /></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row (main row) -->
    </section>




    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>


    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->

    <script src="~/Content/login/js/main.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/respond.js"></script>
</body>
</html>






























