@model QuickSoft.ViewModel.CustomerRemarkviewmodal
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Remark</h4>
    <p>@ViewBag.ErrorMessage</p>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AddCustomerRemark", "MyReports", FormMethod.Post, new { id = "createForm", role = "form" }))
    {
        <script type="text/javascript">
            $('form#createForm').removeData("validator");
            $('form#createForm').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createForm'));
        </script>
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="col-md-12" style="color:red">
                @{

                    foreach (var m in Model.mobnumber)
                    {
                        <strong>@m</strong>
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 10 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 ">
                @Html.LabelFor(model => model.nextfolloupdate, htmlAttributes: new { @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.nextfolloupdate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @required = "required" })
                </div>
            </div>
            <div class="form-group col-md-3 ">
                <div class="bootstrap-timepicker">
                    <label class="control-label" for="Alias">Next Time</label>
                    <div class="input-group">


                        @Html.TextBoxFor(m => m.nextfolloupdatetime, "{0:hh:mm tt}", new { @class = "form-control timepicker", @autocomplete = "off", @value = "", @required = "required" })
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">

                    @Html.Label("Expected Amount", null, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(m => m.expectedamount, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 10 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">

                    @Html.Label("Priority", null, htmlAttributes: new { @class = "control-label" })*
                    @Html.DropDownListFor(m => m.priority, new SelectList(new List<SelectListItem>
                                       {
                   new SelectListItem() {Text = "Normal", Value="0"},
                                       new SelectListItem() {Text = "High", Value="3"},
                                       new SelectListItem() {Text = "Medium", Value="2"},


                                       }, "Value", "Text"), new { @class = "form-control input-sm" })

                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="box-footer">
                <input type="submit" value="Save" class="btn btn-info col-sm-offset-4" tabindex="30" />
                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" tabindex="40" />
            </div>
        </div>
    </div>
    }
</div>
<script>
    $("#Remark").focus();
</script>

@section scripts{

   
}
<script>
    var date = new Date();
    date.setDate(date.getDate());
    $('.date').datepicker({
        startDate: date,
        format: 'dd-mm-yyyy',
        autoclose: true,
        allowInputToggle: true
    });
   
    $(".timepicker").timepicker({
        
        showInputs: true,
        defaultTime: false,
        format: 'dd-mm-yyyy'
    });
</script>