@{
    ViewBag.Title = "Amount Receivable & Payable";
    ViewBag.SubTitle = "Amount Receivable & Payable";
    ViewBag.Active = "Reports";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Amount Receivable & Payable</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("AmountReceivablePayable2", "MyReports", FormMethod.Post, new { id = "ReceivablePayableForm" }))
        {
            <div class="form-group col-md-3 lblpadding ">
                <label class="control-label"><input type="checkbox" value="true" name="pdc" id="pdc" /> Include PDC Entries</label>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Type", null, new { @class = "control-label" })
                @Html.DropDownList("ddlType", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Sundry Creditors", Value="0"},
                        new SelectListItem() {Text = "Sundry Debtors", Value="1"}
                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "ddlType" })
            </div>
            <div class="form-group col-md-4" id="fdate" style="">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4" id="todate" style="">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true

            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
var date = new Date();
            var today = new Date(date.getFullYear()+1, date.getMonth(), date.getDate());
            var priordate = new Date(date.getFullYear()-2, date.getMonth(), date.getDate());
            
        });


    </script>
}