@{
    ViewBag.Title = "Amount Receivable & Payable";
    ViewBag.SubTitle = "Amount Receivable & Payable";
    ViewBag.Active = "Reports";
}
<div class="box box-default" id="RReport">
    <div class="box-header with-border">
        <h3 class="box-title">Amount Receivable & Payable</h3>
    </div>
    <div class="box-body">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <div class="box-body">
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Date</td>
                        <td>Party's Name</td>
                        <td class="headeralign">Amount</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}

@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        if (('@ViewBag.SupCus' == "Sup" && @ViewBag.SupId == 0) || ('@ViewBag.SupCus' == "Cus" && @ViewBag.CusId == 0))
        {
            $('#divnames').hide();
            jQuery(function ($) {
                var oTable = $('#UserTable').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "paging": true,
                    "ordering": false,
                    // "bStateSave": true,
                    "bLengthChange": false,
                    //"pageLength": 5000,
                    //"deferLoading": 0,
                    Responsive: true,
                    "ajax": {
                        "url": '/MyReports/GetReceivable',
                        "data": {
                            CSType: getQueryString1('CSType'),
                            Sups: getQueryString1('Sups'),
                            Cuss: getQueryString1('Cuss'),
                            fromdate: getQueryString1('fromdate'),
                            todate: getQueryString1('todate'),
                            agedays: getQueryString1('agedays'),
                            TTtype: getQueryString1('TTtype'),
                            ddmc : getQueryString1('ddmc'),
                        },
                        "type": "POST",
                        "datatype": "json"

                    },
                    "order": [[0, "desc"]],
                    "columns": [
                         {
                             "data": "", "name": "",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                      { "data": "Invoice", "name": "Invoice" },
                      { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
                      { "data": "Name", "name": "Name" },
                      { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                      { "data": "Days", "name": "Days" }
                    ],
                    buttons: [
                        'colvis',
                   {
                       extend: 'print',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       exportOptions: {
                           columns: ':visible'//[0, 1, 2, 3, 4]
                       },

                       message: function () {
                           var head = '<table class="tblcompact table table-bordered"><thead>' +
                           ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Receivable Outstanding </h4></th></tr>' +
                           ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                           return head;
                       },
                       customize: function (win) {
                           // $(win.document.body)
                           //.css('font-size', '10pt')
                           //.css('padding', '1px');
                           $(win.document.body).find('table, th,tr, td ')
                              // .css('border', 'inherit')
                               .css('font-size', '10pt')
                               .css('padding', '5px')
                               .addClass('compact');
                           $(win.document.body).append('</td></tr></tbody>')

                       }
                   }, 'copy', 'csv', //'excel',
                   {
                       extend: 'excel',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                          // 'Account Name : ' + $('#ddlAccountName').text() + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                   },
                   {
                       extend: 'pdf',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                          // 'Account Name : ' + $('#ddlAccountName').text() + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                       customize: function (doc) {
                           doc.pageMargins = [10, 10, 10, 10];
                           doc.defaultStyle.fontSize = 10;
                           doc.styles.tableHeader.fontSize = 10;
                           doc.styles.title.fontSize = 12;
                           // Header font and bg color
                           doc.styles.tableHeader.fillColor = '#d3d3d3';
                           doc.styles.tableHeader.color = 'black';
                           // Remove spaces around page title
                           doc.content[0].text = doc.content[0].text.trim();

                           //doc.styles['td:nth-child(2)'] = {
                           //    width: '100%',
                           //    'max-width': '100%'
                           //}

                           doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');


                           //doc.content[1].table.widths = [
                           //'15%',
                           //'18%',
                           //'18%',
                           //'25%',
                           //'20%',
                           //]

                           var objLayout = {};
                           // Horizontal line thickness
                           objLayout['hLineWidth'] = function (i) { return .5; };
                           // Vertikal line thickness
                           objLayout['vLineWidth'] = function (i) { return .5; };
                           //// Horizontal line color
                           //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                           //// Vertical line color
                           //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                           // Left padding of the cell
                           objLayout['paddingLeft'] = function (i) { return 4; };
                           // Right padding of the cell
                           objLayout['paddingRight'] = function (i) { return 4; };
                           // Inject the object in the document
                           doc.content[1].layout = objLayout;
                           // Footer font and bg color
                           doc.styles.tableFooter.fillColor = '#d3d3d3';
                           doc.styles.tableFooter.color = 'black';
                       }


                   },

                    ],



                    sDom: "lBfr<'datatable-scroll't>ip",
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };



                        // Total over all pages
                        total = api
                            .column(4)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);


                        $(api.column(4).footer()).html(
                             pageTotal.toFixed(2)
                            //'$' + pageTotal + ' ( $' + total + ' total)'
                        );


                        var table = $('#UserTable').DataTable();
                        if (!table.data().any()) {
                            $('#UserTable tfoot').hide();
                        } else {
                            $('#UserTable tfoot').show();
                        }

                    }
                });
                $('#search-form').on('submit', function (e) {
                    e.preventDefault();
                    oTable.draw();
                    $('#RReport').show();
                    var type = $('#ddlType').find(":selected").text();
                    if (type != 'Ageing wise') {
                        var column = oTable.column(5);
                        column.visible(false);
                    } else {
                        var column = oTable.column(5);
                        column.visible(true);
                    }
                });
            });
        }
        else if(('@ViewBag.SupCus' == "Cus" && @ViewBag.CusId != 0))
        {
            jQuery(function ($) {
                var oTable = $('#UserTable').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "paging": true,
                    "ordering": false,
                    // "bStateSave": true,
                    //"bLengthChange": false,
                    //"pageLength": 5000,
                    //"deferLoading": 0,
                    Responsive: true,
                    "ajax": {
                        "url": '/MyReports/GetReceivable',
                        "data": {
                            CSType: getQueryString1('CSType'),
                            Sups: getQueryString1('Sups'),
                            Cuss: getQueryString1('Cuss'),
                            fromdate: getQueryString1('fromdate'),
                            todate: getQueryString1('todate'),
                            agedays: getQueryString1('agedays'),
                            TTtype: getQueryString1('TTtype'),
                        },
                        "type": "POST",
                        "datatype": "json"

                    },
                    "order": [[0, "desc"]],
                    "columns": [
                         {
                             "data": "", "name": "",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                      { "data": "Invoice", "name": "Invoice" },
                      { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
                      { "data": "LPO", "name": "LPO" },
                      { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                      { "data": "Days", "name": "Days" }
                    ],
                    buttons: [
                        'colvis',
                   {
                       extend: 'print',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       exportOptions: {
                           columns: ':visible'
                       },

                       message: function () {
                           var head = '<table class="tblcompact table table-bordered"><thead>' +
                           ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Receivable Outstanding </h4></th></tr>' +
                           ' <tr><th><span class="text-left">' + '@ViewBag.ComName' + '</span><span class="text-right pull-right"> From : ' + $('#From').val() + ' To : ' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                           return head;
                       },
                       customize: function (win) {
                           // $(win.document.body)
                           //.css('font-size', '10pt')
                           //.css('padding', '1px');
                           $(win.document.body).find('table, th,tr, td ')
                              // .css('border', 'inherit')
                               .css('font-size', '10pt')
                               .css('padding', '5px')
                               .addClass('compact');
                           $(win.document.body).append('</td></tr></tbody>')

                       }
                   }, 'copy', 'csv', //'excel',
                   {
                       extend: 'excel',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                           '@ViewBag.ComName' + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                   },
                   {
                       extend: 'pdf',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                           '@ViewBag.ComName' + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                       customize: function (doc) {
                           doc.pageMargins = [10, 10, 10, 10];
                           doc.defaultStyle.fontSize = 10;
                           doc.styles.tableHeader.fontSize = 10;
                           doc.styles.title.fontSize = 12;
                           // Header font and bg color
                           doc.styles.tableHeader.fillColor = '#d3d3d3';
                           doc.styles.tableHeader.color = 'black';
                           // Remove spaces around page title
                           doc.content[0].text = doc.content[0].text.trim();

                           //doc.styles['td:nth-child(2)'] = {
                           //    width: '100%',
                           //    'max-width': '100%'
                           //}

                           doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                           //doc.content[1].table.widths = [
                           //'15%',
                           //'18%',
                           //'18%',
                           //'25%',
                           //'20%',
                           //]

                           var objLayout = {};
                           // Horizontal line thickness
                           objLayout['hLineWidth'] = function (i) { return .5; };
                           // Vertikal line thickness
                           objLayout['vLineWidth'] = function (i) { return .5; };
                           //// Horizontal line color
                           //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                           //// Vertical line color
                           //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                           // Left padding of the cell
                           objLayout['paddingLeft'] = function (i) { return 4; };
                           // Right padding of the cell
                           objLayout['paddingRight'] = function (i) { return 4; };
                           // Inject the object in the document
                           doc.content[1].layout = objLayout;
                           // Footer font and bg color
                           doc.styles.tableFooter.fillColor = '#d3d3d3';
                           doc.styles.tableFooter.color = 'black';
                       }

                   },

                    ],



                    sDom: "lBfr<'datatable-scroll't>ip",
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        // Total over all pages
                        total = api
                            .column(4)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);


                        $(api.column(4).footer()).html(
                             pageTotal.toFixed(2)
                            //'$' + pageTotal + ' ( $' + total + ' total)'
                        );


                        var table = $('#UserTable').DataTable();
                        if (!table.data().any()) {
                            $('#UserTable tfoot').hide();
                        } else {
                            $('#UserTable tfoot').show();
                        }

                    }
                });
                $('#search-form').on('submit', function (e) {
                    e.preventDefault();
                    oTable.draw();
                    $('#RReport').show();
                    var type = $('#ddlType').find(":selected").text();
                    if (type != 'Ageing wise') {
                        var column = oTable.column(5);
                        column.visible(false);
                    } else {
                        var column = oTable.column(5);
                        column.visible(true);
                    }
                });
            });

        }
        else
        {
            jQuery(function ($) {
                var oTable = $('#UserTable').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "paging": true,
                    "ordering": false,
                    // "bStateSave": true,
                    //"bLengthChange": false,
                    //"pageLength": 5000,
                    //"deferLoading": 0,
                    Responsive: true,
                    "ajax": {
                        "url": '/MyReports/GetReceivable',
                        "data": {
                            CSType: getQueryString1('CSType'),
                            Sups: getQueryString1('Sups'),
                            Cuss: getQueryString1('Cuss'),
                            fromdate: getQueryString1('fromdate'),
                            todate: getQueryString1('todate'),
                            agedays: getQueryString1('agedays'),
                            TTtype: getQueryString1('TTtype'),
                        },
                        "type": "POST",
                        "datatype": "json"

                    },
                    "order": [[0, "desc"]],
                    "columns": [
                         {
                             "data": "", "name": "",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                      { "data": "Invoice", "name": "Invoice" },
                      { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
                      //{ "data": "Name", "name": "Name" },
                      { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                      { "data": "Days", "name": "Days" }
                    ],
                    buttons: [
                        'colvis',
                   {
                       extend: 'print',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       exportOptions: {
                           columns: ':visible'
                       },

                       message: function () {
                           var head = '<table class="tblcompact table table-bordered"><thead>' +
                           ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Receivable Outstanding </h4></th></tr>' +
                           ' <tr><th><span class="text-left">' + '@ViewBag.ComName' + '</span><span class="text-right pull-right"> From : ' + $('#From').val() + ' To : ' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                           return head;
                       },
                       customize: function (win) {
                           // $(win.document.body)
                           //.css('font-size', '10pt')
                           //.css('padding', '1px');
                           $(win.document.body).find('table, th,tr, td ')
                              // .css('border', 'inherit')
                               .css('font-size', '10pt')
                               .css('padding', '5px')
                               .addClass('compact');
                           $(win.document.body).append('</td></tr></tbody>')

                       }
                   }, 'copy', 'csv', //'excel',
                   {
                       extend: 'excel',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                           '@ViewBag.ComName' + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                   },
                   {
                       extend: 'pdf',//
                       title: "",
                       footer: true,
                       filename: function () {
                           return 'Receivable Outstanding-Report';
                       },
                       message: function () {
                           var head = '' + $('#cname').val() + '\n' +
                           '' + $('#caddress').val() + '\n' +
                           ' Receivable Outstanding \n' +
                           '@ViewBag.ComName' + '\n' +
                           'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                           return head;
                       },
                       pageSize: 'A4',
                       exportOptions: {
                           columns: ':visible'
                       },
                       customize: function (doc) {
                           doc.pageMargins = [10, 10, 10, 10];
                           doc.defaultStyle.fontSize = 10;
                           doc.styles.tableHeader.fontSize = 10;
                           doc.styles.title.fontSize = 12;
                           // Header font and bg color
                           doc.styles.tableHeader.fillColor = '#d3d3d3';
                           doc.styles.tableHeader.color = 'black';
                           // Remove spaces around page title
                           doc.content[0].text = doc.content[0].text.trim();

                           //doc.styles['td:nth-child(2)'] = {
                           //    width: '100%',
                           //    'max-width': '100%'
                           //}

                           doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                           //doc.content[1].table.widths = [
                           //'15%',
                           //'18%',
                           //'18%',
                           //'25%',
                           //'20%',
                           //]

                           var objLayout = {};
                           // Horizontal line thickness
                           objLayout['hLineWidth'] = function (i) { return .5; };
                           // Vertikal line thickness
                           objLayout['vLineWidth'] = function (i) { return .5; };
                           //// Horizontal line color
                           //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                           //// Vertical line color
                           //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                           // Left padding of the cell
                           objLayout['paddingLeft'] = function (i) { return 4; };
                           // Right padding of the cell
                           objLayout['paddingRight'] = function (i) { return 4; };
                           // Inject the object in the document
                           doc.content[1].layout = objLayout;
                           // Footer font and bg color
                           doc.styles.tableFooter.fillColor = '#d3d3d3';
                           doc.styles.tableFooter.color = 'black';
                       }
                   },

                    ],

                    sDom: "lBfr<'datatable-scroll't>ip",
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        // Total over all pages
                        total = api
                            .column(3)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(3, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);


                        $(api.column(3).footer()).html(
                             pageTotal.toFixed(2)
                            //'$' + pageTotal + ' ( $' + total + ' total)'
                        );


                        var table = $('#UserTable').DataTable();
                        if (!table.data().any()) {
                            $('#UserTable tfoot').hide();
                        } else {
                            $('#UserTable tfoot').show();
                        }

                    }
                });
                $('#search-form').on('submit', function (e) {
                    e.preventDefault();
                    oTable.draw();
                    $('#RReport').show();
                    var type = $('#ddlType').find(":selected").text();
                    if (type != 'Ageing wise') {
                        var column = oTable.column(5);
                        column.visible(false);
                    } else {
                        var column = oTable.column(5);
                        column.visible(true);
                    }
                });
            });

        }

        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
        }
    </script>
}