@{
    ViewBag.Title = "Search Leads";
    ViewBag.SubTitle = "Leads";
    ViewBag.Active = "Reports";
    string actData = "";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Leads</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <div class="form-group col-md-4">
                @Html.Label("Assign To", null, new { @class = "control-label" })
                @Html.DropDownList("ddlSalesExec", (SelectList)ViewBag.AssignedTo, new { @class = "form-control input-sm select2" })
            </div>

            <div class="form-group col-md-4">
                @Html.Label("Source Of Lead", null, new { @class = "control-label" })
                @Html.DropDownList("ddlSrcLead", (SelectList)ViewBag.SrcLead, new { @class = "form-control input-sm select2" })
            </div>
            <div class="form-group col-md-2 " id="searchleadstatus" style="margin-bottom:14px;">
                @Html.Label("Lead Status", null, new { @class = "control-label" })
                @Html.DropDownList("ddlLeadStatus", (SelectList)ViewBag.LeadStatus, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4" style="display:none">
                @Html.Label("Phone No", null, new { @class = "control-label" })
                @Html.TextBox("PhoneNo", "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-4" style="display:none">
                @Html.Label("Mobile No", null, new { @class = "control-label" })
                @Html.TextBox("MobileNo", "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-4" style="display:none">
                @Html.Label("Credit Limit", null, new { @class = "control-label" })
                @Html.TextBox("CreditLimit", "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-4" style="display:none">
                @Html.Label("Credit Period", null, new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.TextBox("CreditPeriod", "", new { @class = "form-control input-sm" })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-flat">Days</button>
                    </span>
                </div>
            </div>
            @*<div class="form-group col-md-4">
            @Html.Label("Lead Type", null, new { @class = "control-label" })
            @Html.DropDownList("ddlLeadType", new SelectList(new List<SelectListItem>
                {
                    new SelectListItem() {Text = "All", Value=""},
                    new SelectListItem() {Text = "Direct", Value="0"},
                    new SelectListItem() {Text = "Converted", Value="1"}
                }, "Value", "Text"), new { @class = "form-control input-sm", @name = "ddlLeadType" })
        </div>*@
            <div class="form-group col-md-4">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <input type="button" class="btn btn-default" value="Reset" data-dismiss="modal" id="btnreset" />
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="QReport">
    <div class="box-header with-border">
        <h3 class="box-title">View Leads</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="table table-bordered" id="UserTable" style="width:100%">
                <thead>
                    <tr class="bg-gray">
                        <td>SI No</td>
                        <td>Code</td>
                        <td>Lead Name</td>
                        <td>Customer</td>
                        <td>Contact</td>
                        <td>Source Of Lead</td>
                        <td>Assigned</td>
                        <td>Lead Status</td>

                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="modal-container2" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Remarks </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" id="modelview">
                        <p id="remarkMain"></p>
                        <table class="table table-bordered table-hover" id="RemarkInfo">
                            <thead>
                                <tr class="bg-gray">
                                    <td data-priority="1">#</td>
                                    <td data-priority="2">TimeStamp</td>
                                    <td data-priority="3">Employee</td>
                                    <td data-priority="4">Remark</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
<script type="text/javascript">
          function details(d) {
            var CustomerId = d;
            $.ajax({
                type: "POST",
                url: '/Leads/GetData',
                data: { CustomerId: CustomerId },
                success: function (data) {
                    if (data.data.TaxRegNo != null) {
                        $("#remarkMain").html(data.data.TaxRegNo);
                    }
                    else {
                        $("#remarkMain").html("");
                    }
                }
            })
            var oTable1 = $('#RemarkInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "pageLength": 50,
                "paging": false,
                // "bSort": true,
                "ajax": {
                    "url": '/Leads/GetAllRemarks',
                    "type": "POST",
                    "datatype": "json",
                    "data": { CustomerId: CustomerId }
                },
                "order": [[0, "desc"]],
                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                   { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                  { "data": "empnae", "name": "empnae" },
                  { "data": "Remark", "name": "Remark" },
                ],
            });
            oTable1.destroy();
        }
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
    $('.table').on('click', 'a.Updation', function (e) {
        e.preventDefault();
        $(this).attr('data-target', '#modal-container2');
        $(this).attr('data-toggle', 'modal');
    });

        $(document).ready(function () {
            //for set default date
            $("#ddlAssignedTo").select2({
                placeholder: 'Search Employee by Name ',
                minimumInputLength: 0,
                ajax: {
                    url: "/Leads/SearchAssignedTo",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            //LeadStatus
            $("#ddlLeadStatus").select2({
                placeholder: 'Search Lead Status ',
                minimumInputLength: 0,
                ajax: {
                    url: "/LeadStatus/SearchLeadStatus",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---

            $('#QReport').hide();
            $("#ddlSalesExec").select2({
                placeholder: 'Search Assign To',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployee",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $("#ddlSrcLead").select2({
                placeholder: 'Search Source of Lead',
                minimumInputLength: 0,
                ajax: {
                    url: "/SourceOfLead/SearchSrcLead",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });


        });

        jQuery(function ($) {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                // "bStateSave": true,
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": false,
                "ajax": {
                    "url": '/MyReports/GetLeads',
                    "data": function (data) {
                        data.salesexec = $('#ddlSalesExec').val();
                        data.srclead = $('#ddlSrcLead').val();
                        data.leadstatus = $('#ddlLeadStatus').val();

                        data.fromdate = $('#From').val();
                        data.todate = $('#To').val();

                    },
                    "type": "POST",
                    "datatype": "json"

                },
                "order": [[0, "desc"]],
                "columns": [
                    {
                    "data": "CustomerID", "name": "CustomerID",
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                     },
                { "data": "CustomerCode", "name": "CustomerCode" },
                { "data": "CustomerName", "name": "CustomerName" },
                { "data": "OrgCustomerName", "name": "OrgCustomerName" },


                { "data": "Phone","name": "Phone" },
                { "data": "sourceofleads", "name": "sourceofleads" },
                {
                    "name": "lead", "data": function (data) {
                        var datas = "";
                        $.each(data.lead, function (i, item) {
                            if (datas != "") {
                                datas += ", ";
                            }
                            datas += item.emp;
                        })
                        return datas;
                    }
                },



                { "data": "leadstatus", "name": "leadstatus" },{
                    "name": "CustomerID", "data": function (data) {
                         var rest = "";
                         @{




                             actData += "<a class=\"Updation btn btn-icons btn-rounded btn-remark\" onclick=\"details(' + data.CustomerID + ')\"onclick=\"details(' + data.CustomerID + ')\" title=\"View Remarks\"><i class=\"fa fa-comments\" ></i></a>";


                             }
                         return rest = '@Html.Raw(actData)';
                     }
                 },


                ],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
              {
                  extend: 'print',//
                  title: "",
                  footer: true,
                  message: '<table class="tblcompact table table-bordered"><thead>' +
                      ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Leads</h4></th></tr>' +
                      ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>',
                  customize: function (win) {
                      // $(win.document.body)
                      //.css('font-size', '10pt')
                      //.css('padding', '1px');
                      $(win.document.body).find('table, th,tr, td ')
                         // .css('border', 'inherit')
                          .css('font-size', '10pt')
                          .css('padding', '5px')
                          .addClass('compact');
                      $(win.document.body).append('</td></tr></tbody>')

                  }
              }, 'copy', 'csv', 'excel',
              {
                  extend: 'pdf',//
                  title: "",
                  footer: true,
                  message:
                      '' + $('#cname').val() + '\n' +
                      '' + $('#caddress').val() + '\n' +
                      ' Leads \n' +
                      'From :  ' + $('#From').val() + ' To :' + $('#To').val() + ''
                  ,
                  pageSize: 'A4',
                  exportOptions: {
                      columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                  },
                  customize: function (doc) {
                      doc.pageMargins = [10, 10, 10, 10];
                      doc.defaultStyle.fontSize = 10;
                      doc.styles.tableHeader.fontSize = 10;
                      doc.styles.title.fontSize = 12;
                      // Remove spaces around page title
                      doc.content[0].text = doc.content[0].text.trim();



                      doc.content[1].table.widths = [
                      '5%',
                      '8%',
                      '12%',
                      '10%',
                      '8%',
                      '8%',
                      '10%',
                      '10%',
                      '10%',
                      '10%',
                      '10%'
                      ]

                      var objLayout = {};
                      // Horizontal line thickness
                      objLayout['hLineWidth'] = function (i) { return .5; };
                      // Vertikal line thickness
                      objLayout['vLineWidth'] = function (i) { return .5; };
                      //// Horizontal line color
                      //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                      //// Vertical line color
                      //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                      // Left padding of the cell
                      objLayout['paddingLeft'] = function (i) { return 4; };
                      // Right padding of the cell
                      objLayout['paddingRight'] = function (i) { return 4; };
                      // Inject the object in the document
                      doc.content[1].layout = objLayout;
                  }


              },

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }
                }

            });
            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                oTable.draw();
                $('#QReport').show();
            });
        });
        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
        }
</script>
}
