@{
    ViewBag.Title = "Search Assigned Task";
    ViewBag.SubTitle = "Assigned Task";
    ViewBag.Active = "Reports";
    string actData = "";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Search Assigned Task</h3>
    </div>

    <form id="search-form">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <div class="form-group col-md-4">
            @Html.Label("Employee", null, new { @class = "control-label" })
            @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.Employee, "", new { id = "ddlEmployee", @class = "form-control select2", @required = "required" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("From", null, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.Label("To", null, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="box-footer col-md-12">
            <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
            <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
        </div>
    </form>
        <div class="box-body">
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr>
                        <td>SI No</td>
                        <td>Task Code</td>
                        <td>Task Name</td>
                        <td>Task Type</td>
                        <td>Project</td>
                        <td>Customer</td>
                        @*<td>Mobile</td>*@
                        <td>Location</td>
                        <td>Task Status</td>

                        @*<td>Assigned To</td>*@
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Sales Person</td>
                        <td>Priority</td>
                        <td>Last Updated</td>
                        <td>Task Details</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        $(document).ready(function () {
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---
            CallEmployee();
        });


        oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            responsive: true,
            "bLengthChange": false,
            dom: 'Bfrtip',
            "ajax": {
                "url": '/MyReports/GetAssignedTask',
                "data": function (data) {
                    data.emp = $('#ddlEmployee').val() || 0;
                    data.fromdate = $('#From').val();
                    data.todate = $('#To').val();
                },
                "type": "POST",
                "datatype": "json"
            },
            "order": [[0, "desc"]],
            "columns": [
                        {
                            "data": "ProTaskId", "name": "ProTaskId",
                            "render": function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                      { "data": "TaskCode", "name": "TaskCode" },
                      {
                          "name": "TaskName", "data": function (data) {
                              @{
                                      if (User.IsInRole("Dev") || User.IsInRole("View ProTask"))
                                      {
                                          actData += "'<a href=\"/ProTask/Details/'+ data.ProTaskId +'\">'+ data.TaskName +'</a>' ";
                                      }
                                      else
                                      {
                                          actData += "data.TaskName";
                                      }
                                  }
                              return @Html.Raw(actData);
                          }
                      },
                      { "data": "TypeName", "name": "TypeName" },
                       {
                           "name": "ProjectName", "data": function (data) {
                               var prname = data.ProjectName;
                               if (prname != null) {
                                   @{
                                           var datas = "";
                                           if (User.IsInRole("Dev") || User.IsInRole("View Project"))
                                           {
                                               datas = "'<a href=\"/Project/Details/'+ data.Project +'\">'+ data.ProjectName +'</a>' ";
                                           }
                                           else
                                           {
                                               datas = "data.ProjectName";
                                           }
                                       }
                                   return @Html.Raw(datas);
                               }
                               else {
                                   var datas = "";
                                   return (datas);
                               }
                           }
                       },
              {
                  "name": "CustomerName", "data": function (data) {
                      if (data.CustomerName != "No Customer") {
                          @{
                                  var dataz = "";
                                  if (User.IsInRole("Dev") || User.IsInRole("View Customer"))
                                  {
                                      dataz = "'<a href=\"/Customer/Details/'+ data.CustomerID +'\">'+ data.CustomerName +'</a>' ";
                                  }
                                  else
                                  {
                                      dataz = "data.CustomerName";
                                  }
                              }
                          return @Html.Raw(dataz);
                      }
                      return "-";
                  }
              },
              //{
              //    "name": "Mobile", "data": function (data) {
              //        var datas = "";
              //        $.each(data.TskMob, function (i, item) {
              //            if (item.Num != null) {
              //                if (datas != "") {
              //                    datas += ", ";
              //                }
              //                datas += '<a href="tel:' + item.Num + '">' + item.Num + '</a>';
              //            }
              //        });
              //        return datas;
              //    }
              //},
            { "data": "Location", "name": "Location" },
            { "data": "TaskStat", "name": "TaskStat" },
            //{
            //    "name": "AssignedTo", "data": function (data) {
            //        var datas = "";
            //        $.each(data.AssignedTo, function (i, item) {
            //            if (datas != "") {
            //                datas += ", ";
            //            }
            //            datas += item.FirstName + " " + item.LastName;
            //        })
            //        return datas;
            //    }
            //},
             {
                 "name": "StartTime",
                 "data": function (data) {
                     if (data.StartTime != null) {
                         return convertDateTime(data.StartTime);
                     } else if (data.StartDate != null) {
                         return convertToDate(data.StartDate);
                     } else { return ""; }
                 }
             },
            {
                "name": "EndTime",
                "data": function (data) {
                    if (data.EndTime != null) {
                        return convertDateTime(data.EndTime);
                    } else if (data.EndDate != null) {
                        return convertToDate(data.EndDate);
                    } else { return ""; }
                }
            },
            { "data": "EmpName", "name": "EmpName" },

            {
                "name": "Priority", "data": function (data) {
                    var datas = "";
                    if (data.Priority == "Low") {
                        datas = "<span class='text-blue'>LOW</span>";
                    }
                    else if (data.Priority == "Medium") {
                        datas = "<span class='text-orange'>MEDIUM</span>";
                    }
                    else {
                        datas = "<span class='text-red'>HIGH</span>";
                    }
                    return datas;
                }
            },
               {
                   "name": "ldate", "data": function (data) {
                       var result = "";
                       if (data.ldate != null) {
                           result = LastUpdatedIn(data.ldate);
                       }
                       return (result);
                   }
               },
                {
                    "data": "TaskDetails", "name": "TaskDetails", "render": function (data) {
                        if (data != null && data.length > 200) {
                            return data.substr(0, 200) + '...';
                        }
                        else {
                            return data;
                        }
                    }
                },

            ],
            buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
            'colvis',
            {
                extend: 'print',//
                exportOptions: {
                    columns: ':visible'
                },
                title: "",
                footer: true,
                filename: function () {
                    return 'Assigned Task-Report';
                },
                message: function () {
                    var head = '<table class="tblcompact table table-bordered"><thead>' +
                        ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Assigned Task Report</h4></th></tr>' +
                        ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To :' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                    return head;
                },
                customize: function (win) {
                    // $(win.document.body)
                    //.css('font-size', '10pt')
                    //.css('padding', '1px');
                    $(win.document.body).find('table, th,tr, td ')
                       // .css('border', 'inherit')
                        .css('font-size', '10pt')
                        .css('padding', '5px')
                        .addClass('compact');
                    $(win.document.body).append('</td></tr></tbody>')

                }
            }, 'copy', 'csv', //'excel',
            {
                extend: 'excel',//
                title: "",
                footer: true,
                filename: function () {
                    return 'Assigned Task-Report';
                },
                message: function () {
                    var head = '' + $('#cname').val() + '\n' +
                       '' + $('#caddress').val() + '\n' +
                       ' Assigned Task Report \n' +
                      // 'Voucher Number : ' + $('#VoucherNumber').val() + '\n' +
                       'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                    return head;
                },
                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
            },
            {
                extend: 'pdf',//
                title: "",
                footer: true,
                filename: function () {
                    return 'Assigned Task-Report';
                },
                message: function () {
                    var head = '' + $('#cname').val() + '\n' +
                       '' + $('#caddress').val() + '\n' +
                       ' Assigned Task Report \n' +
                       'From :  ' + $('#From').val() + ' To :' + $('#To').val() + '';
                    return head;
                },
                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
                customize: function (doc) {
                    doc.pageMargins = [10, 10, 10, 10];
                    doc.defaultStyle.fontSize = 10;
                    doc.styles.tableHeader.fontSize = 10;
                    doc.styles.title.fontSize = 12;
                    // Header font and bg color
                    doc.styles.tableHeader.fillColor = '#d3d3d3';
                    doc.styles.tableHeader.color = 'black';
                    // Remove spaces around page title
                    doc.content[0].text = doc.content[0].text.trim();



                    doc.content[1].table.widths = [
                          '5%',
                          '5%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                    ]

                    var objLayout = {};
                    // Horizontal line thickness
                    objLayout['hLineWidth'] = function (i) { return .5; };
                    // Vertikal line thickness
                    objLayout['vLineWidth'] = function (i) { return .5; };
                    //// Horizontal line color
                    //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                    //// Vertical line color
                    //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                    // Left padding of the cell
                    objLayout['paddingLeft'] = function (i) { return 4; };
                    // Right padding of the cell
                    objLayout['paddingRight'] = function (i) { return 4; };
                    // Inject the object in the document
                    doc.content[1].layout = objLayout;
                    // Footer font and bg color
                    doc.styles.tableFooter.fillColor = '#d3d3d3';
                    doc.styles.tableFooter.color = 'black';
                }


            },

            ],

            sDom: "lBfr<'datatable-scroll't>ip",
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };


                var table = $('#UserTable').DataTable();
                if (!table.data().any()) {
                    $('#UserTable tfoot').hide();
                } else {
                    $('#UserTable tfoot').show();
                }
            }
        });


        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            oTable.draw();
        });
    </script>
}
