@{
    ViewBag.Title = "Search Contra Voucher";
    ViewBag.SubTitle = "Contra Voucher";
    ViewBag.Active = "Reports";


}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Contra Voucher</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <div class="form-group col-md-4">
                @Html.Label("Voucher Number", null, new { @class = "control-label" })
                @Html.TextBox("VoucherNumber", "", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Pay To", null, new { @class = "control-label" })
                @Html.DropDownList("ddlPayTo", (SelectList)ViewBag.PaidTo, "All", new { @class = "form-control select2" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Pay From", null, new { @class = "control-label" })
                @Html.DropDownList("ddlPayFrom", (SelectList)ViewBag.Paidfrom, new { @class = "form-control select2" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" tabindex="27" onclick="window.location.href='/Home/Index'">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-default" id="ContraReport">
    <div class="box-header with-border">
        <h3 class="box-title">View Contra Voucher Report</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Voucher No</td>
                        <td>Date</td>
                        <td>PayFrom</td>
                        <td>PayTo</td>
                        <td class="headeralign">Amount</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th colspan="4"></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })

        $(document).ready(function () {
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            $('#ContraReport').hide();
            $('#ddlPayTo').select2();
            $("#ddlPayFrom").select2();

        });
        jQuery(function ($) {
            oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": true,
                "pageLength": 5000,
                "deferLoading": 0,
                "ordering": false,
                "ajax": {
                    "url": '/MyReports/GetContraVoucher',
                    "data": function (data) {
                        data.vno = $('#VoucherNumber').val();
                        data.payfrom = $('#ddlPayFrom').val();
                        data.payto = $('#ddlPayTo').val();
                        data.fromdate = $('#From').val();
                        data.todate = $('#To').val();

                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "order": [[0, "desc"]],
                "columns": [
                     {
                         "data": "ContraVoucherId", "name": "ContraVoucherId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                 { "data": "VoucherNo", "name": "VoucherNo" },
                { "data": "Date", "name": "Date", "render": function (data) { return convertToDate(data); } },
                
                { "data": "Payer", "name": "PayFrom" },
                { "data": "Reciever", "name": "PayTo" },
                { "data": "Amount", "name": "Amount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
                ],
                buttons: ['colvis',
                  {
                          extend: 'print',
                          exportOptions: {
                              columns: ':visible'
                          },
                          title: "",
                          footer: true,
                          filename: function () {
                              return 'ContraReport';
                          },
                          message: function () {
                              var head = '<table class="tblcompact table table-bordered"><thead>' +
                              ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Contra Voucher Report</h4></th></tr>' +
                              ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> From :  ' + $('#From').val() + ' To : ' + $('#To').val() + '</span></th></tr></thead><tbody><tr><td>';
                              return head;
                          },
                          customize: function (win) {
                          $(win.document.body).find('table, th,tr, td ')
                              .css('font-size', '10pt')
                              .css('padding', '5px')
                              .addClass('compact');
                          $(win.document.body).append('</td></tr></tbody>')
                      }
                  }, 'copy', 'csv', 
                    {
                        extend: 'excel',//
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'ContraReport';
                        },
                        message: function () {
                            var head = '' + $('#cname').val() + '\n' +
                               '' + $('#caddress').val() + '\n' +
                               ' Contra Voucher Report \n' +
                               'From :  ' + $('#From').val() + ' To : ' + $('#To').val() + '';
                            return head;
                        },
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },
                  {
                      extend: 'pdf',
                      title: "",
                      footer: true,
                      filename: function () {
                          return 'ContraReport';
                      },
                      message: function () {
                          var head = '' + $('#cname').val() + '\n' +
                             '' + $('#caddress').val() + '\n' +
                             ' Contra Voucher Report \n' +
                             'From :  ' + $('#From').val() + ' To : ' + $('#To').val() + '';
                          return head;
                      },
                      pageSize: 'A4',
                      exportOptions: {
                          columns: ':visible'
                      },
                      customize: function (doc) {
                          doc.pageMargins = [10, 10, 10, 10];
                          doc.defaultStyle.fontSize = 10;
                          doc.styles.tableHeader.fontSize = 10;
                          // Header font and bg color
                          doc.styles.tableHeader.fillColor = '#d3d3d3';
                          doc.styles.tableHeader.color = 'black';
                          doc.styles.title.fontSize = 12;
                          // Remove spaces around page title
                          doc.content[0].text = doc.content[0].text.trim();
                          doc.content[1].table.widths = [
                                '5%',
                                '14%',
                                '21%',
                                '21%',
                                '21%',
                                '18%'
                          ]

                          var objLayout = {};
                          // Horizontal line thickness
                          objLayout['hLineWidth'] = function (i) { return .5; };
                          // Vertikal line thickness
                          objLayout['vLineWidth'] = function (i) { return .5; };
                          //// Horizontal line color
                          //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                          //// Vertical line color
                          //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                          // Left padding of the cell
                          objLayout['paddingLeft'] = function (i) { return 4; };
                          // Right padding of the cell
                          objLayout['paddingRight'] = function (i) { return 4; };
                          // Inject the object in the document
                          doc.content[1].layout = objLayout;
                          // Footer font and bg color
                          doc.styles.tableFooter.fillColor = '#d3d3d3';
                          doc.styles.tableFooter.color = 'black';
                      }
                  },

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };



                    // Total over all pages
                    total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );

                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }
                }
            });
            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                oTable.draw();
                $('#ContraReport').show();
            });
        });


        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false);
        }

    </script>
}