
@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel

@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();


    string myclass = "";
}
<div id="printit" class="hidden" style="border:5px solid red !important;">
    <style>

        #pageborder {
            position: fixed;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
            overflow: hidden
        }

        @@media print {
            @@page {
                size: A4;
                margin: 20px !important;
            }
        }

        #comHeader {
            display: table-header-group;
            height: 50px !important;
        }



        #content:after {
            display: block;
            content: "";
            margin-bottom: 1mm; /* must be larger than largest paper size you support */
        }

        .bg-blue {
            background-color: rgb(255 216 0) !important;
            -webkit-print-color-adjust: exact;
        }

        .quicknet-title {
            font-size: large !important;
            font-weight: bolder !important;
            color: black !important;
        }

        .quicknet-title-span {
            font-size: x-large !important;
            color: black !important;
        }

        .quicknet-adress {
            margin-left: 10px !important;
            color: black !important;
            text-align: left !important;
            font-size: medium;
            font-weight: 800;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }

        .quote-height {
            height: 0px;
            padding: 0px;
            margin-top: -10px !important;
        }

        .quote-title {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            text-transform: uppercase;
            color: black !important;
            font-weight: 600;
            font-size: large;
        }

        .bg-header {
            background-color: rgb(58 107 196 / 0.88) !important;
            -webkit-print-color-adjust: exact;
            margin-left: 40px !important;
        }

        .table-top-border th {
            border-top: 2px solid rgb(13 131 221) !important;
            background-color: white !important;
            color: rgb(13 131 221) !important;
            -webkit-print-color-adjust: exact;
        }

        #blue-Border-top {
            border-top: 2px solid rgb(13 131 221) !important;
            /*background-color: white !important;*/
            -webkit-print-color-adjust: exact;
        }

        .text-blue {
            background: grey !important;
            -webkit-print-color-adjust: exact;
            color: white !important;
        }

        #stripes table {
            width: 96% !important;
        }

        #stripes tr {
            border-bottom: 1px solid rgb(154 178 253 / 0.32);
        }

            #stripes tr:nth-child(even) td {
                background: white !important;
                -webkit-print-color-adjust: exact;
            }

            #stripes tr:nth-child(odd) td {
                background: white !important;
                -webkit-print-color-adjust: exact;
            }



        .aligquote2 tr:nth-child(odd) th {
            text-align: left !important;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
            font-size: 13px;
        }

        .aligquote2 tr:nth-child(even) th {
            text-align: left !important;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
            font-size: 13px;
        }

        .aligquote2 tr:nth-child(odd) td {
            vertical-align: bottom;
            padding: 0px;
        }

        .aligquote2 tr:nth-child(even) td {
            vertical-align: bottom;
            padding: 0px;
        }

        .aligquote2 label {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        }

        .customerfont {
            font-family: sans-serif !important;
            font-style: normal !important;
            font-size: 18px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin-bottom: 30px !important;
        }

        .table-head-total {
            border: 1px solid white !important;
            /* margin-top: -10px;*/
            margin-left: 8px;
        }

        .black-bg-tb thead {
            border: 1px solid grey !important;
        }

        .black-bg-tb th:nth-child(even) {
            background: rgb(13 131 221) !important;
            color: white !important;
            background: transparent;
            -webkit-print-color-adjust: exact;
            margin-top: 5px !important;
            font-size: larger;
        }


        @@media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }
        }

        .quicknet-title {
            font-size: xx-large !important;
            font-weight: bolder !important;
            color: black !important;
        }

        .quicknet-adress {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            margin-left: 20px !important;
            color: white !important;
            font-size: medium;
            font-weight: 600;
            text-align: left !important;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .quote-title {
            margin-left: 7px;
            margin-top: 17px;
            text-transform: uppercase;
            color: white !important;
            font-weight: 600;
            font-size: large;
        }

        .customer-style td {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        }

        .customer-style label {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        }

        .page-header {
            height: 170px !important;
            padding-right: 100px !important;
        }

        .page-footer {
            height: 190px !important;
        }

        .page-header-space {
            height: 175px !important;
            margin-bottom: 0px !important;
            margin-top: 10px !important;
            -webkit-print-color-adjust: exact;
        }

        .page-footer-space {
            height: 190px !important;
        }

        .page-footer-space, .page-header-space {
        }

        .page-header {
            position: fixed;
            margin-top: 0px;
            padding: 0px !important;
            bottom: 0px;
            top: 0px;
            width: 100%; /* for demo */
            background: rgb(13 131 221) !important; /* for demo */
            -webkit-print-color-adjust: exact;
            border-bottom: 0px solid white !important;
            border-top: 7px solid white !important;
        }

        .page-footer {
            position: fixed;
            margin-bottom: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%; /* for demo */
            -webkit-print-color-adjust: exact;
        }

        #parallelogram {
            background-color: white !important;
            -webkit-print-color-adjust: exact;
            width: 350px;
            height: 120px;
            margin: 0 0 0 -30px;
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            background: red;
            overflow: hidden;
            position: relative;
        }

        .image {
            background-color: white !important;
            -webkit-print-color-adjust: exact;
            position: absolute;
            top: -30px;
            left: -30px;
            right: -30px;
            bottom: -30px;
            -webkit-transform: skew(20deg);
            -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
        }

        .top-img {
            position: absolute;
            top: 0px;
            left: 300px;
        }

        .bottom-img {
            position: relative;
            top: 30px;
            margin-left: 20px !important;
        }

        .invo-top-details {
            position: absolute;
        }
    </style>
    <!-- Main content -->

    <div id="pageborder">
    </div>
    <div class="page-header">
        <div class="row" style="">
            <div class="col-8 col-md-8" style="padding:0px;">
                <div style="width:14cm; float: left;overflow:hidden;">
                    <div id="parallelogram">
                        <div class="image">
                            <img src="~/Content/img/logo.png" width="100" style="float:left;margin-top:45px; margin-left:60px;" />

                            <div class="" style=" text-align: left; padding-left: 5px; float: left; margin-top: 45px;">
                                <h4>
                                    <strong class="quicknet-title">Quick Net <br /><span class="quicknet-title-span">Computers</span></strong>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="quicknet-adress" style=" ">
                    Mussafah, Shabia ME-11<br />
                    Abu Dhabi, UAE<br />
                    www.quicknet.me<br />
                    Our TRN: 100378421000003
                </div>
            </div>



            <div class="col-12 col-xs-12 col-md-12 quote-height">

                <h4 class="text-center">
                    <strong class="quote-title">@title.Value </strong>
                </h4>

            </div>

        </div>
    </div>
    <div class="container-fluid" style="margin-bottom:0px; padding:0px;">
        <table class="">
            <thead style="border:1px solid white !important; ">
                <tr>
                    <td>
                        <!--place holder for the fixed-position header-->
                        <div class="page-header-space"></div>
                    </td>
                </tr>
            </thead>
            <tbody id="content">

                <tr class="row">
                    <td class=" table-responsive">


                        <div id="itemSection">
                            <table class="table customer-style" id="itemtable" style="font-size: 12px; margin-top:-15px; width:765px !important">
                                <thead style="display:contents">
                                    <tr>
                                        <td colspan="14">
                                            <div class="row">
                                                <div class="col-xs-7 float-right " style="">
                                                    <table class="table" id="itemtable" style="width: 100% !important;font-size: 15px; border-collapse: separate !important; border-spacing: 0px !important; margin-top: 20px;">
                                                        <thead style="display:contents">
                                                            <tr>
                                                                <td colspan="6" class="customerfont" style="padding-bottom: 0px; padding-top: 0px"><i><b>@Customer.Value @Customer.Lang</b></i></td>
                                                            </tr>
                                                            <tr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="14" style="padding-bottom: 0px; padding-top: 0px"><label style="font-size: 15px; " id="lblParty"></label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="14" style="padding-bottom: 0px; padding-top: 0px">
                                            <label id="lbladdress"></label>
                                    </tr>
                                    <tr>
                                        <td colspan="14" style="padding-bottom: 0px; padding-top: 0px">
                                            TRN : <label id="lbltrn"></label>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-xs-5 ">
                            <table class=" table table-bordered" id="itemtable" style="margin-left: 0px !important; margin-top: 5px !important; font-size: 12px; ">
                                <thead class="aligquote2" style="display:contents; ">
                                    <tr>
                                        <th>@InvoiceNo.Value @InvoiceNo.Lang</th>
                                        <td>: <label id="lblBillNo"></label></td>
                                    </tr>
                                    <tr>
                                        <th>@Date.Value @Date.Lang</th>
                                        <td>: <label id="lblDate"></label></td>
                                    </tr>
                                    @{
                                        if (PO_No != null)
                                        {
                                            myclass = PO_No.Status == Status.inactive ? "class=\"hidden\"" : "";
                                            <tr id="ponoSet" @Html.Raw(myclass)>
                                                <th>@PO_No.Value</th>
                                                <td>: <label id="lblPONo"></label></td>
                                            </tr>
                                        }
                                    }
                                    @{
                                        myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                                    }
                                    <tr id="empSet" @Html.Raw(myclass)>
                                        <th>Sales Exe.</th>
                                        <td>: <label id="lblEmployee" style="font-size:12px;"></label></td>
                                    </tr>
                                    @{
                                        myclass = DeliveryNote.Status == Status.inactive ? "class=\"hidden\"" : "";
                                    }
                                    <tr id="dvnSet" @Html.Raw(myclass)>
                                        <th>@DeliveryNote.Value</th>
                                        <td>: <label id="lbldvn"></label></td>
                                    </tr>
                                    @{
                                        myclass = PaymentType.Status == Status.inactive ? "class=\"hidden\"" : "";
                                    }
                                    <tr @Html.Raw(myclass) id="Mpaytype">
                                        <th>@PaymentType.Value</th>
                                        <td>: <label id="lblpaytype"></label></td>
                                    </tr>
                                    @{
                                        myclass = Cust_Credit_Period.Status == Status.inactive ? "class=\"hidden\"" : "";
                                    }
                                    <tr id="crperiod" @Html.Raw(myclass)>
                                        <th>@Cust_Credit_Period.Value</th>
                                        <td>: <label id="lblcperiod"></label></td>
                                    </tr>
                                    <tr id="divproject" style="display:none;">
                                        <th>Project</th>
                                        <td>: <label id="lblProject"></label></td>
                                    </tr>
                                    <tr id="divAgstInvoice">
                                        <th>Against Invoice</th>
                                        <td><label id="agstInvoice"></label></td>
                                    </tr>
                                    <tr id="divconvert">
                                        <th id="IblMReqTitle"></th>
                                        <td><label id="lblMReqNo"></label></td>
                                    </tr>
                                    <tr id="divsconvert">
                                        <th id="IblPQTitle"></th>
                                        <td><label id="lblPQNo"></label></td>
                                    </tr>
                                    <tr id="divtconvert">
                                        <th id="IblPOTitle"></th>
                                        <td><label id="lblPOrNo"></label></td>
                                    </tr>
                                    <tr id="divfconvert">
                                        <th id="IblMRNTitle"></th>
                                        <td><label id="lblMRNNo"></label></td>
                                    </tr>

                                    <tr id="divpayterm">
                                        <th>Payment Terms</th>
                                        <td><label id="lblPayTerm"></label></td>
                                    </tr>
                                    <tr id="divcontact">
                                        <th>Contact No.</th>
                                        <td><label id="IblContactNo"></label></td>
                                    </tr>
                                    <tr id="divconvFrom">
                                        <th><b><label id="IblConvFrom"></label></b></th>
                                        <td>: <label id="IblConvBill"></label></td>
                                    </tr>



                                    @* field mapping *@
                                    <tr id="divRef1" hidden>
                                        <th id="IblRef1"></th>
                                        <td>: <label id="IblRef1Val"></label></td>
                                    </tr>
                                    <tr id="divRef2" hidden>
                                        <th id="IblRef2"></th>
                                        <td>: <label id="IblRef2Val"></label></td>
                                    </tr>
                                    <tr id="divRef3" hidden>
                                        <th id="IblRef3"></th>
                                        <td>: <label id="IblRef3Val"></label></td>
                                    </tr>
                                    <tr id="divRef4" hidden>
                                        <th id="IblRef4">/th>
                                        <td>: <label id="IblRef4Val"></label></td>
                                    </tr>
                                    <tr id="divRef5" hidden>
                                        <th id="IblRef5"></th>
                                        <td>: <label id="IblRef5Val"></label></td>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </td>



                </tr>
                <tr class="table-top-border " id="blue-Border-top">
                    <th bgcolor="black" class="text-blue" width="6%">S/N </th>
                    
                    <th class="text-blue" width="54%">Item</th>
                    
                    <th class="text-blue">Unit</th>
                    <th class="text-blue">Qty</th>
                    
                </tr>
                </thead>
            <tbody id="stripes">
                <tr>
                    <th>item 1</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>item 2</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class='border-top'>
                    <td colspan='6'><strong> </strong></td>
                    <td id="Bill_Amount">
                        @*@Bill_Amount.Value*@
                    </td>
                    <td class='text-right'></td>
                </tr>
                <tr class='border-top'>
                    <td colspan='6' rowspan='3'>
                        <strong>
                            <span id="Terms">
                                @Terms.Value
                            </span>
                        </strong>
                    </td>

                    <td id="Bill_Discount">
                        @*@Bill_Discount.Value*@
                    </td>
                    <td id='discountprint' class='text-right'>0.00</td>
                </tr>
                <tr class='border-top'>
                    <td id="Bill_Tax">
                        @*@Bill_Tax.Value*@
                    </td>
                    <td class='text-right'>0.00</td>
                </tr>
                <tr class='border-top'>
                    <th id="Bill_Total">
                        @*@Bill_Total.Value*@

                        @*<span style='direction:ltr'>(AED)</span>*@
                    </th>
                    <th class='text-right'></th>
                </tr>
            </tbody>
        </table>
    </div>
    </td>
    </tr>


    <tr class="row" style="border:0px solid gray; margin-top:10px !important;">
        <td class="col-xs-12 table-responsive">
            <table class="table  table-head-total customer-style" >
                <tbody class="black-bg-tb"></tbody>
            </table>
        </td>
    </tr>
    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table  customer-style" id="billsundry">
                <tbody></tbody>
            </table>
        </td>
    </tr>


    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table customer-style" id="itemtable1">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    </tbody>
    <tfoot class="global-footer">
        <tr>
            <td>
                <!--place holder for the fixed-position footer-->
                <div class="page-footer-space"></div>
            </td>
        </tr>
    </tfoot>
    </table>
</div>
<div class="page-footer">
    <table>
        <tr class="row">
            <td class="col-xs-12 table-responsive">
                <table class="table  second-table"></table>
            </td>
        </tr>
        <tr class="row" id="footer">
            <td class="col-xs-12 table-responsive">
                <table class="table ">
                </table>
            </td>
        </tr>

        <tr class="row">
            <td>
                <div class="text-center">
                    <img src="/logos/footer.png" width="90%" height="100px" class="bottom-img" />
                    <img src="/logos/zeal.jpg" width="130" height="100px" id="zeal" class="top-img" />
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
@*@Styles.Render("~/css/css")
    @Styles.Render("~/css/print")*@

