@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();
    string myclass = "";
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print jewel">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <div style="max-height:270px">
                        <div class="text-center">
                            <style type="text/css">
                                @@media print {
                                    body {
                                        border: 0px !important;
                                    }
                                }
                            </style>
                            @Html.Partial("../Common/_CompanyHeader")
                        </div>
                        <div class="text-center" style="margin-top: -30px;">
                            <h4 style="margin-bottom: 5px;">
                                <strong>@title.Lang<br />@title.Value </strong>
                            </h4>
                        </div>
                        <table class="table table-noborder">
                            <tr style="border-top: 0px">
                                <td width="50%" style="padding: 0px 10px 0px 0px;border-right: 0px">
                                    <table class="table-nob jewel-cus" style="border: 1px solid #000;width: 100%;">
                                        <tr>
                                            <th><i><b>@Customer.Value</b></i><i><b>@Customer.Lang</b></i></th>
                                            <td>:</td>
                                            <td><label id="lblParty"></label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <label id="lbladdress"></label>
                                            </td>
                                        </tr>
                                        <tr id="trnhide">
                                            <td colspan="3">
                                                TRN : <label id="lbltrn"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding:0px;">
                                    <table id="Cust_de" class="table-nob jewel-inv" style="border: 1px solid #000;width: 100%;">
                                        <tr>
                                            <th>@InvoiceNo.Value @InvoiceNo.Lang</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>@Date.Value @Date.Lang</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        @{
                                            if (PO_No != null)
                                            {
                                                myclass = PO_No.Status == Status.inactive ? "class=\"hidden\"" : "";
                                                <tr id="ponoSet" @Html.Raw(myclass)>
                                                    <th>@PO_No.Value</th>
                                                    <td>: <label id="lblPONo"></label></td>
                                                </tr>
                                             }
                                        }
                                        @{
                                            myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="empSet" @Html.Raw(myclass)>
                                            <th>@SalesExecutive.Value<br /> @SalesExecutive.Lang</th>
                                            <td>: <label id="lblEmployee"></label></td>
                                        </tr>
                                        @{
                                            myclass = DeliveryNote.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="dvnSet" @Html.Raw(myclass)>
                                            <th>@DeliveryNote.Value</th>
                                            <td>: <label id="lbldvn"></label></td>
                                        </tr>
                                        @*@{
                                                myclass = PaymentType.Status == Status.inactive ? "class=\"hidden\"" : "";
                                            }
                                            <tr @Html.Raw(myclass)  id="Mpaytype">
                                                <th>@PaymentType.Value</th>
                                                <td>: <label id="lblpaytype"></label></td>
                                            </tr>*@
                                        @{
                                            myclass = Cust_Credit_Period.Status == Status.inactive ? "class=\"hidden\"" : "";
                                        }
                                        <tr id="crperiod" @Html.Raw(myclass)>
                                            <th>@Cust_Credit_Period.Value</th>
                                            <td>: <label id="lblcperiod"></label></td>
                                        </tr>
                                        <tr id="divproject">
                                            <th>Project</th>
                                            <td>: <label id="lblProject"></label></td>
                                        </tr>
                                        <tr id="divAgstInvoice">
                                            <th>Against Invoice</th>
                                            <td>: <label id="agstInvoice"></label></td>
                                        </tr>
                                        <tr id="divpayterm">
                                            <th>Payment Terms</th>
                                            <td><label id="lblPayTerm"></label></td>
                                        </tr>
                                        <tr id="divcontact">
                                            <th>Contact No.</th>
                                            <td><label id="IblContactNo"></label></td>
                                        </tr>        
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:400px">
                        <table class="table table-bordered" id="itemtable" style="border: 1px solid;font-size: 12px;">
                            <thead>
                                <tr style="background: #ccc;">
                                    <th class="text-center"> م.ر <br /> No</th>
                                    <th class="text-center">ةعطقا مقر <br />Item Code</th>
                                    <th class="text-center">تافصاوما Description <br />بند</th>
                                    <th class="text-center">عطقا <br />PCS</th>
                                    <th class="text-center">الوزن الجمالي <br />Qty(Gms/Cts)</th>
                                    <th class="text-center itemdata">ةدحوا ةميق <br />Rate</th>
                                    <th class="text-center itemdata">المبلغ الجمالى <br />Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class='border-top'>
                                    <td colspan='6'><strong> (item)</strong></td>
                                    <td id="Bill_Amount">
                                        Total @Bill_Total.Lang
                                    </td>
                                    <td class='text-right'>
                                        itemtot
                                    </td>
                                    <td colspan='6' rowspan='3'>
                                        @Bill_Discount.Value @Bill_Discount.Lang
                                    </td>
                                    <td colspan='6' rowspan='3'>
                                        @Bill_Discount.Value @Bill_Discount.Lang
                                    </td>
                                </tr>
                                <tr class='border-top'>

                                    <td id="Bill_Discount"></td>
                                    <td id='discountprint' class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <td id="Bill_Tax">
                                        @Bill_Tax.Value @Bill_Tax.Lang
                                    </td>
                                    <td class='text-right'>0.00</td>
                                </tr>
                                <tr class='border-top'>
                                    <th id="Bill_Total">
                                        @Bill_Total.Value

                                        <span style='direction:ltr'>(AED)</span>
                                    </th>
                                    <th class='text-right'></th>
                                </tr>
                            </tbody>
                            @*<tfoot>
                                    <tr style="background: #ccc;"><td colspan="6"></td></tr>
                                </tfoot>*@
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable2">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr>
                            <td rowspan="3" style="width:50%;">
                                Confirmed on behalf of :<br />
                                <strong id="lblParty1"></strong>
                            </td>
                            <td colspan="3" rowspan="3" class="text-bold text-center">
                                <br />
                                @Foot_2.Value.Replace("{company}", ViewBag.CName)<br />
                                @Foot_2.Lang
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr>
                            <td class="text-center text-bold">
                                <div style="width: 70%;">
                                    <hr class="hrfoot" />
                                    ليمعا عيقوت<br />CUSTOMER'S SIGNATURE
                                </div>
                            </td>
                            <td class="text-center text-bold">
                                <div>
                                    <hr class="hrfoot" />
                                    ةعجارما<br />CHECKED BY
                                </div>
                            </td>
                            <td class="text-center text-bold">
                                <div style="width: 70%;float:right">
                                    <hr class="hrfoot" />
                                    لوئسما فظوما عيقوت<br />AUTHORISED SIGNATORY
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
