@{
    ViewBag.Title = "Transaction Summary";
    ViewBag.SubTitle = "Account Summary";
    ViewBag.Active = "Accounts";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Transaction Summary</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("GetTransaction", "AccountSummary", FormMethod.Post, new { id = "fileupload", @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-md-4">From</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("fromdate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">To</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("todate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Include PDC Entries</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="checkbox" name="pdcinclude" id="pdcinclude" value="true" />
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index/'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            //for set default date
            $('#todate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#fromdate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#todate').datepicker('setDate', today);
            $('#fromdate').datepicker('setDate', priordate);
            $("#AccGroup").select2({
                placeholder: 'Search Account Group By Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/SearchGroup",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $('body').on('change', '#AccType', function (e) {
                $("#AccId").select2("val", "");
            });
            $("#AccId").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Accounts/AccountsByType",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: ($('#AccGroup').val() != null) ? $('#AccGroup').val() : "All",
                            stt : "All"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });
    </script>
}
