
@{
    var sizeval = "";
    if (@ViewBag.Footer == null)
    {
        sizeval = "500px";
    }
    else
    {
        sizeval = "460px";
    }
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr class="row" id="header" style="border-top: 1px solid #898989 !important;">
                <th class="col-xs-12">
                    <div style="max-height:250px">
                        <div class="text-center" id="comHeader">
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }
                        </div>
                        <div class="text-center">
                            @*<style type="text/css">
                                @@media print {
                                    body, .print {
                                        border: 0px !important;
                                    }

                                    body, .print {
                                        border: 1px !important;
                                    }

                                    .table-bordered td, .table-bordered th {
                                        border: 1px solid #898989 !important;
                                    }
                                }

                                body .print {
                                    font-size: 12px;
                                }

                                .print .table-nob tr th {
                                    width: 40%;
                                }
                            </style>*@
                            <h4 style="margin-bottom: 1px;">
                                <strong>Material Requisition </strong>
                            </h4>
                        </div>
                        @*<div class="text-center">
                            <h4 style="margin-bottom: 1px;">
                                
                                @if (@ViewBag.CTaxRegNo != null)
                                    {
                                        <small class="taxno">TRN : @ViewBag.CTaxRegNo</small>
                                    }
                            </h4>
                        </div>*@
                        <table class="table table-noborder">
                            <tr style="border-top: 1px solid #898989 !important;">
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;">
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th>Doc No</th>
                                            <td>: <label id="lblVoucherNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        <tr id="Branch">
                                            <th>Branch</th>
                                            <td>: <label id="lblBranch"></label></td>
                                        </tr>

                                        @* field mapping *@
                                        <tr id="divRef1" hidden>
                                            <th id="IblRef1"></th>
                                            <td>: <label id="IblRef1Val"></label></td>
                                        </tr>
                                        <tr id="divRef2" hidden>
                                            <th id="IblRef2"></th>
                                            <td>: <label id="IblRef2Val"></label></td>
                                        </tr>
                                        <tr id="divRef3" hidden>
                                            <th id="IblRef3"></th>
                                            <td>: <label id="IblRef3Val"></label></td>
                                        </tr>
                                        <tr id="divRef4" hidden>
                                            <th id="IblRef4"></th>
                                            <td>: <label id="IblRef4Val"></label></td>
                                        </tr>
                                        <tr id="divRef5" hidden>
                                            <th id="IblRef5"></th>
                                            <td>: <label id="IblRef5Val"></label></td>
                                        </tr>       
                                    </table>
                                </td>
                                <td>
                                    <table class="table-nob noborder" id="project" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th>Project</th>
                                            <td><label id="lblProject"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Task</th>
                                            <td><label id="lblTask"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr> 
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;"></td>
                                <td></td>
                            </tr>
                     
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>

        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive" >
                    <div id="itemSection" style="min-height:@sizeval">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px; border:thin">
                            <thead>
                                <tr>
                                    <th>S/N </th>
                                    <th id="PartNo">Part No</th>
                                    <th>Item <br /></th>
                                    <th class="text-right" id="make">Make </th>
                                    <th>unit </th>
                                    <th class="text-right">Qty </th>                                   
                                    <th class="text-right">Remarks </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot id="posfootR">
                                <tr class="tabletitle" style="border-top: 1px solid #898989 !important;">

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot >
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer" style="border-top: 1px solid #898989 !important;">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr style="border-top: 1px solid #898989 !important;">
                            <td width="100%" style="padding: 3px;">
                                    <table class = table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <td colspan="3" rowspan="3">
                                                <h5><strong>Remark :</strong></h5>
                                                <h5><strong><label id="lblRemark"></label></strong></h5>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr >
                            <td>
                                  <table class="table-nob noborder" style="border: 0px;width: 100%;" id="posfoot"> 
                                      <tr style="border-top: 1px solid #898989 !important;">
                                          <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;">
                                              <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                                  <tr>
                                                      <th>Requested By</th>
                                                      <td>: <label id="lblRequestedBy"></label></td>
                                                  </tr>
                                                  <tr>
                                                      <th>Requested Date</th>
                                                      <td>: <label id="IblRValidity"></label></td>
                                                  </tr>

                                              </table>
                                          </td>
                                          <td>
                                              <table class="table-nob noborder" id="IblApproved" style="border: 0px;width: 100%;">
                                                  <tr>
                                                      <th>Approved BY</th>
                                                      <td>: <label id="posfootApp"></label></td>
                                                  </tr>                                                 
                                            </table>
                                          </td>
                                      </tr>
                                                
                                 </table>               
                            </td>
                        </tr>
                        <tr style="border-top: 1px solid #898989 !important;text-align:right">
                            <td>
                                <table class="table-nob noborder" style="border: 0px;width: 100%;" id="posfoot">
                                    <tr class="text-right">
                                        <td colspan="3" rowspan="3">
                                            <h5><strong>For : </strong></h5>
                                            <h5><strong><label id="lblCName"></label></strong></h5>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <div class="text-center">
                        @Html.Partial("../Common/_CompanyFooter")
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>



