@model QuickSoft.Models.accountmapviewmodal
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Account map</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "accountmap", FormMethod.Post, new { id = "createform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label" }) *
            @Html.DropDownList("accountid", (SelectList)ViewBag.accounts, "", new { @class = "form-control select2", @required = "required" })

        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Payment Type", null, new { @class = "control-label" }) *
            @Html.EnumDropDownListFor(model => model.PaymentTypeId, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Payment Alias", null, new { @class = "control-label" }) *
            @Html.EditorFor(model => model.description, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Level", null, new { @class = "control-label" }) *
            @Html.EditorFor(model => model.level, new { @class = "form-control width-50", @required = "required", @type = "number" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model=>model.notintaxinvoice, new { @class = "control-label" }) *
            @Html.CheckBoxFor(model => model.notintaxinvoice)
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label" })*
            @* @Html.DropDownList("employeeid", (SelectList)ViewBag.employee, "", new { @class = "form-control select2", @required = "required" })*@
            @Html.DropDownList("employeeid", (SelectList)ViewBag.Employee, new { id = "ddlEmployee", @class = "form-control input-sm ", @name = "ddlEmployee[]", @multiple = true })

        </div>
    </div>

</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
<script>
    $("#ddlEmployee").select2({
        placeholder: 'Search Employees by Name',
        minimumInputLength: 0,
        ajax: {
            url: "/AdditionalMC/SearchEmployee",
            dataType: 'json',
            type: "POST",
            delay: 50,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page,
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data
                };
            },
            cache: true
        },
    });
</script>
