
@using QuickSoft.Models
@using QuickSoft.ViewModel
@model QuickSoft.ViewModel.BalanceSheetViewModel
@{
    ViewBag.Title = "Search Trial Balance";
    ViewBag.SubTitle = "Trial Balance Report";
    ViewBag.Active = "Accounts";

    decimal? DTAmount = 0;
    decimal? CTAmount = 0;
    decimal? BalTot = 0;
    decimal? DTAmount1 = 0;
}
<div class="box box-default" id="LReport">
    <div class="box-header with-border">
        <h3 class="box-title">Report</h3>
    </div>
    <div class="box-body">
        <input type="hidden" id="cname" value="@ViewBag.CName" />
        <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
        <input type="hidden" id="fromdate" value="@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))" />
        <input type="hidden" id="todate" value="@Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))" />
        <table class="table table-bordered table-hover" id="UserTable" style="width:100%">
            <thead>
                @if (ViewBag.Typ == "Purchase" || ViewBag.Typ == "Purchase Return" || ViewBag.Typ == "Sale" || ViewBag.Typ == "Sales Return")
                {
                    <tr class="bg-gray">
                        <td>
                            Parent : @ViewBag.Parent
                        </td>
                        <td colspan="5">
                            @*From : @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))*@
                            Date: @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))
                        </td>
                    </tr>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Date</td>
                        <td>Vch/Bill No</td>
                        <td>Account</td>
                        <td class="text-center">
                            DEBIT ( AED )
                        </td>
                        <td class="text-center">
                            CREDIT ( AED )
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="bg-gray">
                        <td>
                            Parent : @ViewBag.Parent
                        </td>
                        <td colspan="4">
                            @*From : @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.from))*@
                            Date: @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.to))
                        </td>
                    </tr>
                    <tr class="bg-gray">

                        <td>Particulars</td>
                        <td class="text-center">
                            DEBIT ( AED )
                        </td>
                        <td class="text-center">
                            CREDIT ( AED )
                        </td>
                        <td class="text-center">
                            BALANCE
                        </td>
                    </tr>
                }
            </thead>
            <tbody>
                @if (ViewBag.Typ == "Purchase" || ViewBag.Typ == "Purchase Return" || ViewBag.Typ == "Sale" || ViewBag.Typ == "Sales Return")
                {
                    if (Model.TrialBalanceDisplay != null)
                    {
                        if (Model.TrialBalanceDisplay.Any())
                        {
                            int TotCount = 0;
                            int cnt = 1;

                            foreach (var item in Model.TrialBalanceDisplay)
                            {
                                decimal? AmountCr1 = 0;
                                decimal? AmountDr1 = 0;
                                decimal? Debit1 = 0;
                                decimal? Credit1 = 0;
                                Debit1 = item.Debit;
                                AmountDr1 = (Debit1);
                                AmountDr1 = AmountDr1 != null ? AmountDr1 : 0;
                                Credit1 = item.Credit;
                                AmountCr1 = (Credit1);
                                AmountCr1 = AmountCr1 != null ? AmountCr1 : 0;

                                <tr>
                                    <td>@cnt</td>
                                    <td>@Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.to))</td>
                                    @if (ViewBag.Typ == "Sale")
                                    {
                                        <td><a href="/CreditSale/Edit/@item.AccountsGroupID" target="_new">@Html.DisplayFor(m => item.Particular)- Details</a></td>
                                    }
                                    else if (ViewBag.Typ == "Sales Return")
                                    {
                                        <td><a href="/CreditSaleReturn/Edit/@item.AccountsGroupID" target="_new">@Html.DisplayFor(m => item.Particular)- Details</a></td>

                                    }
                                    else if (ViewBag.Typ == "Purchase")
                                    {
                                        <td><a href="/PurchaseEntry/Edit/@item.AccountsGroupID" target="_new">@Html.DisplayFor(m => item.Particular)- Details</a></td>

                                    }
                                    else if (ViewBag.Typ == "Purchase Return")
                                    {
                                        <td><a href="/PurchaseEntry/Edit/@item.AccountsGroupID" target="_new">@Html.DisplayFor(m => item.Particular)- Details</a></td>

                                    }
                                    <td>@Html.DisplayFor(m => item.AccType)</td>
                                    <td class="text-center">@Html.DisplayFor(m => item.Debit)</td>
                                    <td class="text-center">@Html.DisplayFor(m => item.Credit)</td>

                                </tr>
                                DTAmount += AmountDr1;
                                CTAmount += AmountCr1;

                                cnt++;
                                TotCount++;
                            }

                        }
                    }
                }
                else
                {
                    if (Model.TrialBalanceDisplay != null)
                    {
                        if (Model.TrialBalanceDisplay.Any())
                        {
                            int TotCount = 0;
                            foreach (var item in Model.TrialBalanceDisplay)
                            {

                                decimal? Balance = 0;
                                decimal? AmountCr = 0;
                                decimal? AmountDr = 0;
                                decimal? Debit = 0;
                                decimal? Credit = 0;
                                decimal? dplDr = 0;
                                decimal? dplCr = 0;


                                Debit = item.Debit;
                                AmountDr = (Debit);
                                AmountDr = AmountDr != null ? AmountDr : 0;
                                dplDr = (Debit);
                                dplDr = dplDr != null ? dplDr : 0;

                                Credit = item.Credit;
                                AmountCr = (Credit);
                                AmountCr = AmountCr != null ? AmountCr : 0;
                                dplCr = (Credit);
                                dplCr = dplCr != null ? dplCr : 0;

                                <tr>


                                    <td>&nbsp;&nbsp;<a href="/MyReports/GetLedger?AccId=@item.AccountsGroupID&fromdate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", ViewBag.FDte))&todate=@Convert.ToString(string.Format("{0:dd-MM-yyyy}", ViewBag.TDte))&AccGroup=null&pdc=null" target="_blank">@item.Particular</a></td>


                                    @if (item.AccType == "asset" || item.AccType == "liability")
                                    {

                                        <td class="text-center">@Debit.Value.ToString("0.00")</td>
                                        <td class="text-center">@Credit.Value.ToString("0.00")</td>
                                        Balance = dplDr - dplCr;
                                        <td class="text-center">@Balance.Value.ToString("0.00")</td>
                                        DTAmount += AmountDr;
                                        CTAmount += AmountCr;
                                        BalTot = DTAmount - CTAmount;

                                    }
                                    @*<td class="text-right">@Credit.Value.ToString("0.00")</td>*@


                                    @*@if (item.Parent == 7)
                                        {
                                            DTAmount += AmountDr;
                                            CTAmount += AmountCr;
                                        }*@
                                </tr>
                                TotCount++;
                            }
                        }
                    }
                }
            </tbody>
            <tfoot>
                @if (ViewBag.Typ == "Purchase" || ViewBag.Typ == "Purchase Return" || ViewBag.Typ == "Sale" || ViewBag.Typ == "Sales Return")
                {
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center"><b>@DTAmount.Value.ToString("N2")</b></td>
                        <td class="text-center"><b>@CTAmount.Value.ToString("N2")</b></td>
                    </tr>
                }
                else
                {
                    <tr>

                        <td><b>Total</b></td>
                        <td class="text-center"><b>@DTAmount.Value.ToString("N2")</b></td>
                        <td class="text-center"><b>@CTAmount.Value.ToString("N2")</b></td>
                        <td class="text-center"><b>@BalTot.Value.ToString("N2")</b></td>
                        @*<td class="text-right"><b>@CTAmount.Value.ToString("N2")</b></td>*@
                    </tr>
                }
            </tfoot>
        </table>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(window).scroll(function (e) {
            var scroll = $(window).scrollTop();
            if (scroll >= 0) {
                $('.treeview-menu').addClass("navbar-hide");
                var i = scroll;
                $(".navbar-hide").css('margin-top', -i);

            } else {
                $(".navbar-hide").css('margin-top', 0);
                $('.treeview-menu').removeClass("navbar-hide");
            }

        });
        jQuery(function ($) {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": true,
                //"order": [[0, "asc"]],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                 {
                     extend: 'print',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Trial Balance';
                     },
                     message: '<table class="tblcompact table table-bordered"><thead>' +
                         ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Trial Balance</h4></th></tr>' +
                         ' <tr><th class="text-center"><span> From : ' + $('#fromdate').val() + ' To : ' + $('#todate').val() + '</span></th></tr></thead><tbody><tr><td>',
                     customize: function (win) {

                         $(win.document.body).find('table, th,tr, td ')
                            // .css('border', 'inherit')
                             .css('font-size', '10pt')
                             .css('padding', '5px')
                             .addClass('compact');
                         $(win.document.body).append('</td></tr></tbody>')

                     }
                    }, 'copy', 'csv',
                    {
                        extend: 'excel',
                        title: "",
                        footer: true,
                        filename: function () {
                            return 'Trial Balance';
                        },
                        message:
                            '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            ' Trial Balance \n' +
                            'From :  ' + $('#fromdate').val() + ' To :  ' + $('#todate').val() + ''
                        ,
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'//[0, 1, 2,3,4,5]
                        },
                    },
                 {
                     extend: 'pdf',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Trial Balance';
                     },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                         '' + $('#caddress').val() + '\n' +
                         ' Trial Balance \n' +
                         'From :  ' + $('#fromdate').val() + ' To :' + $('#todate').val() + '';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible' //[0, 1, 2,3,4,5]
                     },
                     customize: function (doc) {
                         doc.pageMargins = [10, 10, 10, 10];
                         doc.defaultStyle.fontSize = 10;
                         doc.styles.tableHeader.fontSize = 10;
                         doc.styles.title.fontSize = 12;
                         // Header font and bg color
                         doc.styles.tableHeader.fillColor = '#d3d3d3';
                         doc.styles.tableHeader.color = 'black';
                         // Remove spaces around page title
                         doc.content[0].text = doc.content[0].text.trim();

                         doc.styles['td:nth-child(2)'] = {
                             width: '100%',
                             'max-width': '100%'
                         }

                         //doc.content[1].table.widths = [
                         //'5%',
                         //'15%',
                         //'8%',
                         //'8%',
                         //'8%',
                         //'8%',
                         //'8%',
                         //'10%',
                         //'10%',
                         //'10%',
                         //'10%'
                         //]

                         var objLayout = {};
                         // Horizontal line thickness
                         objLayout['hLineWidth'] = function (i) { return .5; };
                         // Vertikal line thickness
                         objLayout['vLineWidth'] = function (i) { return .5; };
                         //// Horizontal line color
                         //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                         //// Vertical line color
                         //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                         // Left padding of the cell
                         objLayout['paddingLeft'] = function (i) { return 4; };
                         // Right padding of the cell
                         objLayout['paddingRight'] = function (i) { return 4; };
                         // Inject the object in the document
                         doc.content[1].layout = objLayout;
                         // Footer font and bg color
                         doc.styles.tableFooter.fillColor = '#d3d3d3';
                         doc.styles.tableFooter.color = 'black';
                     }


                 },

                ],
                sDom: "lBfr<'datatable-scroll't>ip"
            });
        });
    </script>
}



