@{
    ViewBag.Title = "Search Profit And Loss";
    ViewBag.SubTitle = "Profit And Loss Report";
    ViewBag.Active = "Accounts";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Profit And Loss</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("GetProfitAndLossShowroom", "BalanceSheet", FormMethod.Post, new { id = "fileupload", @class = "form-horizontal" }))
        {
       
            <div class="form-group">
                <label class="control-label col-md-4">From</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("fromdate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">To</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("todate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group col-md-4 col-xs-12" style="display:none">
                <label>Select Company</label>
                @Html.DropDownList("selcompany", (SelectList)ViewBag.connections, "", new { @class = "form-control select2 selcompany", @name = "selcompany" })
            </div>*@

    <div class="form-group">
        <label class="control-label col-md-4">Material Centre</label>
        <div class="col-sm-4">
           @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
            @*<input type="hidden" value="0"  name="ddlMC"/>*@
        </div>
        </div>



        <div class="box-footer col-md-12">
            <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
            <button class="btn btn-default" type="Reset" id="btnreset">Reset</button>
            <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
            <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
        </div>

        }
    </div>
        </div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: new Date(minDate),
            endDate: new Date(maxDate)
        })
        $(document).ready(function () {
            CallMC();
            $("#selcompany").select2({});
            //for set default date
            $('#todate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });
            $('#fromdate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true,
                startDate: new Date(minDate),
                endDate: new Date(maxDate)
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#todate').datepicker('setDate', today);
            $('#fromdate').datepicker('setDate', new Date(minDate));
        });
    </script>
}