@{
    ViewBag.Title = "Search Employee Pay Head Breakup";
    ViewBag.SubTitle = "Employee Pay Head Breakup";
    ViewBag.Active = "PayrollReport";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Employee Pay Head Breakup</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("GetEmpPayHeadBreakup", "PayrollReport", FormMethod.Post, new { id = "fileupload" }))
        {
            <div class="row">
                <div class="form-group col-md-2 select2-box">
                    @Html.Label("Departments", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.AllOption, "All", new { @class = "form-control input-sm select2" })
                </div>
                <div class="form-group col-md-2 select2-box">
                    @Html.Label("Employee", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.AllOption, "All", new { @class = "form-control input-sm select2", @required = "required" })
                </div>
                <div class="form-group col-md-2 select2-box">
                    @Html.Label("Pay Head", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlPayHead", (SelectList)ViewBag.PayHead,"", new { @class = "form-control input-sm select2" ,@required = "required" })
                </div>
                <div class="form-group col-md-2">
                    @Html.Label("Month & Year", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("MonthYear", "", "{0:MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'MM-yyyy',
            autoclose: true,
            allowInputToggle: true,
            viewMode: "months",
            minViewMode: "months"
        });
        $(document).ready(function () {
            $("#ddlPayHead").select2({
                placeholder: 'Search by Name ',
                minimumInputLength: 0,
                ajax: {
                    url: "/Hr/Payhead/SearchPayhead",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "empty"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            
            $("#ddlDepartment").select2({
                placeholder: 'Search by Name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Department/SearchDepartment",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                            x: "all"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
            CallEmployeeAccAll();
        });
        $('body').on('change', '#ddlDepartment', function (e) {
            var deptid = $(this).val();
            if (deptid != null) {
                $('#ddlEmployee').val(null).trigger("change");
                CallEmployeeByDept(deptid);
            }
        });
    </script>
}