@model QuickSoft.ViewModel.PayrollStatementViewModel
@{

    ViewBag.Title = "Search Employee Pay Head Breakup";
    ViewBag.SubTitle = "Employee Pay Head Breakup";
    ViewBag.Active = "PayrollReport";
    decimal? TotalDr = 0;
    decimal? TotalCr = 0;
}
<div class="box box-default" id="LReport">
    <div class="box-header with-border">
        <h3 class="box-title">Employee Pay Head Breakup</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <th class="text-center" rowspan="2">Department</th>
                        <th class="text-center" rowspan="2">Employee</th>
                        <th class="text-center" rowspan="2">Opening Balance</th>
                        <th colspan="2" class="text-center">Transactions</th>
                        <th class="text-center" rowspan="2">Closing Balance</th>
                    </tr>
                    <tr class="bg-gray">
                        <th class="text-center">Debit</th>
                        <th class="text-center">Credit</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var EHead in Model.EmpPhead)
                {
                    TotalDr = TotalDr + EHead.Debit;
                    TotalCr = TotalCr + EHead.Credit;
                   <tr>
                       <td>@EHead.Department</td>
                       <td>@EHead.Employee</td>
                       <td class="text-right">@EHead.OpeningBalance</td>
                       <td class="text-right">@EHead.Debit</td>
                       <td class="text-right">@EHead.Credit</td>
                       <td class="text-right">@EHead.ClosingBalance  @EHead.CrDr</td>
                   </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b> @TotalDr</b></td>
                        <td class="text-right"><b> @TotalCr</b></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        jQuery(function ($) {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": false,
                "order": [[0, "asc"]],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                  'colvis', {
                     extend: 'print',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Employee Pay Head Breakup';
                     },
                     message: function () {
                         var head = '<table class="tblcompact table table-bordered"><thead>' +
                      ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Employee Pay Head Breakup</h4></th></tr>' +
                      ' <tr><th><span class="text-left"></span><span class="text-right pull-right"></span></th></tr></thead><tbody><tr><td>';
                         return head;
                     },
                     customize: function (win) {

                         $(win.document.body).find('table, th,tr, td ')
                            // .css('border', 'inherit')
                             .css('font-size', '10pt')
                             .css('padding', '5px')
                             .addClass('compact');
                         $(win.document.body).append('</td></tr></tbody>')

                     }
                 }, 'copy', 'csv', //'excel',
                 {
                     extend: 'excel',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Employee Pay Head Breakup';
                     },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                          '' + $('#caddress').val() + '\n' +
                          ' Employee Pay Head Breakup \n';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                 },
                 {
                     extend: 'pdf',//
                     title: "",
                     footer: true,
                     filename: function () {
                         return 'Employee Pay Head Breakup';
                     },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                          '' + $('#caddress').val() + '\n' +
                          'Employee Pay Head Breakup \n';
                         return head;
                     },
                     pageSize: 'A4',
                     exportOptions: {
                         columns: ':visible'
                     },
                     customize: function (doc) {
                         doc.styles['td:nth-child(2)'] = {
                             width: '100px',
                             'max-width': '100px'
                         }
                         doc.pageMargins = [10, 10, 10, 10];
                         doc.defaultStyle.fontSize = 10;
                         doc.styles.tableHeader.fontSize = 10;
                         doc.styles.title.fontSize = 12;
                         // Header font and bg color
                         doc.styles.tableHeader.fillColor = '#d3d3d3';
                         doc.styles.tableHeader.color = 'black';
                         // Remove spaces around page title
                         doc.content[0].text = doc.content[0].text.trim();

                         var objLayout = {};
                         // Horizontal line thickness
                         objLayout['hLineWidth'] = function (i) { return .5; };
                         // Vertikal line thickness
                         objLayout['vLineWidth'] = function (i) { return .5; };
                         //// Horizontal line color
                         //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                         //// Vertical line color
                         //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                         // Left padding of the cell
                         objLayout['paddingLeft'] = function (i) { return 4; };
                         // Right padding of the cell
                         objLayout['paddingRight'] = function (i) { return 4; };
                         // Inject the object in the document
                         doc.content[1].layout = objLayout;
                         // Footer font and bg color
                         doc.styles.tableFooter.fillColor = '#d3d3d3';
                         doc.styles.tableFooter.color = 'black';
                     }

                 },

                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "footerCallback": function (row, data, start, end, display) {

                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }
                }
            });
        });
    </script>
}
