@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - BOS</title>
    @Styles.Render("~/css/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Damion" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="container">
        <div class="box box-info">
            <div class="box-body">
                <div class="alert alert-error">
                    An unexpected error has occurred. Please contact the system administrator.
                </div>
                @if (Model != null && false)
                {
                    <div>
                        <p>
                            <b>Exception:</b> @Model.Exception.Message<br />
                            <b>Controller:</b> @Model.ControllerName<br />
                            <b>Action:</b> @Model.ActionName
                        </p>
                        <div style="overflow:scroll">
                            <pre>
                    @Model.Exception.StackTrace
                </pre>
                        </div>
                    </div>
                }
            </div>
            <div class="copy-right">
                <p><strong>Copyright &copy; @DateTime.Now.Year <a href="http://quicknet.me/" target="_blank"> Quick Net</a>&nbsp;</strong></p>
            </div>
        </div>
    </div>
    <div id="modal-container" class="modal modal-inverse fade" role="dialog" aria-hidden="true"></div>
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
 </body>
</html>


