@model QuickSoft.ViewModel.EnableSettingViewModel
@{
    ViewBag.Title = "Configuration";
    ViewBag.SubTitle = "Enable Features";
    ViewBag.Active = "Settings";
}
<style>
    .table td {
        width: 50%;
    }

    .select-width {
        width: 250px !important;
    }

    .lblpadding {
        padding-top: 6px !important;
        margin-top: 0px !important;
    }

    .td-chk {
        width: 100% !important;
    }

    .sh-btm-mrgn {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .sh-btm-mrgn2 {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    @@media only screen and (max-width: 420px) {
        .lblpadding {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        div {
            font-size: 14px !important;
        }

        .sh-btm-mrgn {
            height: auto !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
            border-color: azure !important;
            border: thick !important;
        }

        .sh-btm-mrgn2 {
            height: 40px !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }

        #mladiv {
            height: 480px !important;
        }

        #reminddiv {
            height: 470px !important;
        }

        #preventdiv {
            height: 380px !important;
        }

        .checkbox {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
</style>
<link href="~/Content/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" type="text/css" rel="stylesheet">
<script>
    $('.demo2').on('changeColor.colorpicker', function (a, b, c) {
        $('.store').val($(this).colorpicker('getValue'))
    });
    $('.demo1').colorpicker();
    $('.demo2').colorpicker({
        template: '<div class="colorpicker dropdown-menu">' +
            '<div class="colorpicker-saturation"><i><b></b></i></div>' +
            '<div class="colorpicker-hue"><i></i></div>' +
            '<div class="colorpicker-alpha"><i></i></div>' +
            '<div class="colorpicker-color"><div /></div>' +
            '<div class="colorpicker-selectors"></div>' +
            '<div class="colorpicker-selectors"></div>' +
            '<input type="text" value="" class="store" />' +
            '</div>',
        input: '.store'
    });
    $('.demo2').on('changeColor.colorpicker', function (a, b, c) {
        $('.store').val($(this).colorpicker('getValue'))
    });
</script>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Enable Features</h3>
    </div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    @Html.HiddenFor(m => m.BusinessType)
    <div class="box-body">
        @using (Html.BeginForm("action", "EnableSetting", FormMethod.Post, new { id = "brform", role = "form" }))
        {

        <div>
            @if (ViewBag.BusinessType != "Property")
            {
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Barcode
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.BarcodeChecked, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        View Customer Details in CreditSale
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.CustomerDetailsInInvoice, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Partial Materials Conversion
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.PartialMaterialConversion, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />

                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable AutoSave
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.AutosaveChecked, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Job Card
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.JobcardChecked, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Convert Multiple Delivery Note to Sales
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.DvToSaleChecked, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Bill of Materials, Production & Unassemble
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.BOMChecked, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Predefined City
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.PredefinedCity, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Material Center
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.MCInTransaction, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11" id="UserMC">
                        &nbsp;&nbsp; Assign User to Material Center
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.AssignUserMC, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Rack
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.RackWiseStock, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Bonus For Customer
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.customerbonus, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Pricing Stratagy
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.enablepricestratagy, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>




                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Hide ItemName when Discription is Available
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.HideItemName, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Print Invoice in POS format
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.POSInvoice, new { @class = "checkbox pull-left" })
                        <div class="input-group input-group-sm hidden">
                            @Html.DropDownListFor(m => m.POSLayout, (SelectList)ViewBag.invoice, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Item Commission
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.ItemCommision, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Item Part Number
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.PartNoInItem, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Save And Mail
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.SaveAndMail, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Auto User Create while creating Customer
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.AutoCreateUser, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Bill To Bill Receipt
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.BillToBillReceipt, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Bill To Bill Payment
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.BillToBillPayment, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Branch
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableBranch, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Branch
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableBranch, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Jewellery Management
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableJewellery, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-7">
                        PDC Regularize Notification
                    </div>
                    <div class="col-md-3 col-xs-3">
                        @Html.TextBoxFor(m => m.PDCNotification, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-md-3 col-xs-2">
                        <span class="input-group-btn" style="padding-right:330px;">
                            <button type="button" class="btn btn-flat">Days</button>
                        </span>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Update Item Price from Purchase Entry
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.ItemPriceInPurchase, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                       Set Selling Price Fixed
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.setsellingpricefixed, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Sales Rate Same As Purchase Rate When Update
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.SalesRateUpdateInPurchaseEntrySame, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn hidden">
                    <div class="col-md-6 col-xs-11">
                        Bill Adjustment in CreditNote
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.CNBillAdjust, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn hidden">
                    <div class="col-md-6 col-xs-11">
                        Bill Adjustment in DebitNote
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.DNBillAdjust, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Currency
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableCurrency, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Prefix based Item Code
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnablePrefixCode, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-6">
                        Default Sales Invoice
                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.DropDownListFor(m => m.Invoices, (SelectList)ViewBag.invoice, new { id = "ddlinvoice", @class = "form-control select2", @required = "required" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Item Code In Invoice Print
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableItemCodeInPrint, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Add Out of Stock Items in Sales Entry
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.ItemOutOfStock, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Delivary Note and Material Recieve Note Effect Stock ?
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.mcanddeliverystockeffect, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Material Centre Wise Minimum Stock
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.Materialcentrewiseminimumstock, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Disable Company Header From Print
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.HideComHeaders, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Item Bundle
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableItemBundle, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />

                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        StockTransfer update after Approval
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.StockTransferUpdate, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
            }
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6">
                    Business Type
                </div>
                <div class="col-md-3 col-xs-6">
                    @Html.DropDownListFor(m => m.BusinessType, (SelectList)ViewBag.BisType, new { @class = "form-control input-sm" })
                </div>
                <br />
            </div>
            <hr />
            @if (ViewBag.BusinessType != "Property")
            {
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Remove Item Rate from Print in Delivery Note
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.RemoveItemData, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />

                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-7">
                        Set TimeOut for Print
                    </div>
                    <div class="col-md-3 col-xs-3">
                        @Html.TextBoxFor(m => m.SetTimeOut, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-md-3 col-xs-2">
                        <span class="input-group-btn" style="padding-right:330px;">
                            <button type="button" class="btn btn-flat">Sec</button>
                        </span>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-7">
                        Password Change Days
                    </div>
                    <div class="col-md-3 col-xs-3">
                        @Html.TextBoxFor(m => m.passwordchangedays, new { @class = "form-control", @type = "number" })
                    </div>

                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Automatic Bill No  Purchase Entry
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnablePurchaseInvoice, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Super User OTP for Edit Transactions
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.SuperUserEdit, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Sales Return in Sales Entry
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.SalesReturnInSales, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Automatic Bill No in Sales Entry
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.AutomaticBillNoInSales, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Automatic Voucher No
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.AutomaticVoucherNo, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Automatic Mail In Transactions
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.AutomaticMailInTransactions, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn2">
                    <div class="col-md-6 col-xs-11">
                        Edit Voucher No In Journal, Payment,Receipt,Production,Unassemble
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableVoucherEdit, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Discount percentage
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.DiscountPercentage, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Allow Similar Account In Multiple times in Journal
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.AccInJournal, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        <b>Multi Level Approval</b>
                    </div>
                    <div class="col-md-6 col-xs-1">
                        @Html.CheckBoxFor(m => m.MultiLevelApproval, new { @class = "checkbox" })
                    </div>
                    <br />

                    <div class="col-md-12" id="mladiv" style="padding-top:10px;">
                        <div class="col-md-6 col-xs-2">

                        </div>
                        <div class="col-md-3 col-xs-10 checkbox">
                            <div id="idMLAMc"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAMc, new { @class = "checkbox" }) Material Requisition </label></div>
                            <div id="idMLAQuot"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAQuot, new { @class = "checkbox" }) Quotation </label></div>
                            <div id="idMLASEntry"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLASEntry, new { @class = "checkbox" }) Sales Entry </label></div>
                            <div id="idMLASOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLASOrder, new { @class = "checkbox" }) Sales Order </label></div>
                            <div id="idMLASReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLASReturn, new { @class = "checkbox" }) Sales Return </label></div>
                            <div id="idMLAPQuot"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPQuot, new { @class = "checkbox" }) Purchase Quotation </label></div>
                            <div id="idMLAPEntry"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPEntry, new { @class = "checkbox" }) Purchase Entry </label></div>
                            <div id="idMLAPOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPOrder, new { @class = "checkbox" }) Purchase Order </label></div>
                            <div id="idMLAPReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPReturn, new { @class = "checkbox" }) Purchase Return </label></div>
                            <div id="idMLADNote"> <label class="col-md-12"> @Html.CheckBoxFor(m => m.MLADNote, new { @class = "checkbox" }) Delivery Note </label></div>
                            <div id="idMLAJCard"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAJCard, new { @class = "checkbox" }) Job Card </label></div>
                            <div id="idMLAPForma"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPForma, new { @class = "checkbox" }) ProForma </label></div>
                            <div id="idMLASTran"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLASTran, new { @class = "checkbox" }) Stock Transfer</label></div>
                            <div id="idMLASJour"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLASJour, new { @class = "checkbox" }) Stock Journal </label></div>
                            <div id="idMLAPList"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAPList, new { @class = "checkbox" }) Packing List </label></div>
                            <div id="idMLAHReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAHReturn, new { @class = "checkbox" }) Hire Return </label></div>
                            <div id="idMLAMRNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAMRNote, new { @class = "checkbox" })Material Receive Note</label></div>
                            <div id="idMLAProd"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAProd, new { @class = "checkbox" }) Production </label></div>
                            <div id="idMLAUAssem"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MLAUAssem, new { @class = "checkbox" })Unassemble</label></div>
                            <div id="idPayment"> <label class="col-md-12"> @Html.CheckBoxFor(m => m.Payment, new { @class = "checkbox" })Payment</label></div>
                            <div id="idReciept"><label class="col-md-12"> @Html.CheckBoxFor(m => m.Reciept, new { @class = "checkbox" })Reciept</label></div>
                        </div>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        <b>Reminder</b>
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Reminder, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div class="col-md-12" id="reminddiv" style="padding-top:10px;">
                        <div class="col-md-6 col-xs-2">

                        </div>
                        <div class="col-md-3 col-xs-10 checkbox">
                            <div id="idRemindTask"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindTask, new { @class = "checkbox" }) Task </label></div>
                            <div id="idRemindSale"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindSale, new { @class = "checkbox" }) Sales </label></div>
                            <div id="idRemindQuot"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindQuot, new { @class = "checkbox" }) Quotation </label></div>
                            <div id="idRemindSReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindSReturn, new { @class = "checkbox" }) Sales Return </label></div>
                            <div id="idRemindSOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindSOrder, new { @class = "checkbox" }) Sales Order </label></div>
                            <div id="idRemindProForma"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindProForma, new { @class = "checkbox" }) ProForma </label></div>
                            <div id="idRemindPurchase"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindPurchase, new { @class = "checkbox" }) Purchase Entry </label></div>
                            <div id="idRemindPReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindPReturn, new { @class = "checkbox" }) Purchase Return </label></div>
                            <div id="idRemindPOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindPOrder, new { @class = "checkbox" }) Purchase Order </label></div>
                            <div id="idRemindPQuot"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindPQuot, new { @class = "checkbox" }) Purchase Quotation </label></div>
                            <div id="idRemindDNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindDNote, new { @class = "checkbox" }) Delivery Note </label></div>
                            <div id="idRemindHReturn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindHReturn, new { @class = "checkbox" }) Hire Return  </label></div>
                            <div id="idRemindMReqn"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindMReqn, new { @class = "checkbox" }) Material Requisition </label></div>
                            <div id="idRemindMRNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindMRNote, new { @class = "checkbox" }) Material Receive Note </label></div>
                            <div id="idRemindJobCard"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindJobCard, new { @class = "checkbox" }) Job Card </label></div>
                            <div id="idRemindPackList"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindPackList, new { @class = "checkbox" }) Packing List </label></div>
                            <div id="idRemindStkTrans"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindStkTrans, new { @class = "checkbox" }) Stock Transfer </label></div>
                            <div id="idRemindStkJnl"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindStkJnl, new { @class = "checkbox" }) Stock Journal </label></div>
                            <div id="idRemindProd"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindProd, new { @class = "checkbox" }) Production </label></div>
                            <div id="idRemindUnass"><label class="col-md-12"> @Html.CheckBoxFor(m => m.RemindUnass, new { @class = "checkbox" }) Unassemble </label></div>
                        </div>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Make In Transactions
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.MakeInTrans, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Batch Wise Stock
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.BatchWiseStock, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        <b>Prevent Conversion Multiple Times</b>
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.PreventConversion, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div class="col-md-12" id="preventdiv">
                        <div class="col-md-6 col-xs-2">

                        </div>
                        <div class="col-md-3 col-xs-10 checkbox">
                            <div id="idQuotToSale"><label class="col-md-12"> @Html.CheckBoxFor(m => m.QuotToSale, new { @class = "checkbox" }) Quotation To Sale </label></div>
                            <div id="idQuotToPForma"><label class="col-md-12"> @Html.CheckBoxFor(m => m.QuotToPForma, new { @class = "checkbox" }) Quotation To ProForma  </label></div>
                            <div id="idQuotToDvNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.QuotToDvNote, new { @class = "checkbox" }) Quotation To DeliveryNote  </label></div>
                            <div id="idQuotToSOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.QuotToSOrder, new { @class = "checkbox" }) Quotation To Sales Order  </label></div>

                            <div id="idPFToSale"><label class="col-md-12"> @Html.CheckBoxFor(m => m.PFToSale, new { @class = "checkbox" }) ProForma To Sale </label></div>
                            <div id="idPFToDvNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.PFToDvNote, new { @class = "checkbox" }) ProForma To DeliveryNote </label></div>

                            <div id="idDvNoteToSale"><label class="col-md-12"> @Html.CheckBoxFor(m => m.DvNoteToSale, new { @class = "checkbox" }) DeliveryNote To Sale </label></div>
                            <div id="idDvNoteToPF"><label class="col-md-12"> @Html.CheckBoxFor(m => m.DvNoteToPF, new { @class = "checkbox" }) DeliveryNote To ProForma </label></div>

                            <div id="idSOrderToSale"><label class="col-md-12"> @Html.CheckBoxFor(m => m.SOrderToSale, new { @class = "checkbox" }) Sales Order To Sale </label></div>
                            <div id="idSOrderToPF"><label class="col-md-12"> @Html.CheckBoxFor(m => m.SOrderToPF, new { @class = "checkbox" }) Sales Order To ProForma  </label></div>
                            <div id="idSOrderToDvNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.SOrderToDvNote, new { @class = "checkbox" }) Sales Order To DeliveryNote  </label></div>

                            <div id="idPOrderToMRNote"><label class="col-md-12"> @Html.CheckBoxFor(m => m.POrderToMRNote, new { @class = "checkbox" }) Purchase Order To Material Receive Note </label></div>
                            <div id="idPOrderToPEntry"><label class="col-md-12"> @Html.CheckBoxFor(m => m.POrderToPEntry, new { @class = "checkbox" }) Purchase Order To Purchase Entry </label></div>

                            <div id="idPQuotToPOrder"><label class="col-md-12"> @Html.CheckBoxFor(m => m.PQuotToPOrder, new { @class = "checkbox" }) Purchase Quotation To Purchase Order  </label></div>
                            <div id="idMRNotetToPEntry"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MRNotetToPEntry, new { @class = "checkbox" }) Material Receive Note To Purchase Entry  </label></div>
                            <div id="idMRToPQuot"><label class="col-md-12"> @Html.CheckBoxFor(m => m.MRToPQuot, new { @class = "checkbox" }) Material Requisition To Purchase Quotation  </label></div>
                        </div>
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn" hidden>
                    <div class="col-md-6 col-xs-11">
                        Enable Cheque Printing
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Chequeprint, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Customized Daily Summary
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.CustomizedDailySummary, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Show Last Transactions During Sales
                    </div>
                    <div class="col-md-4 col-xs-1">
                        @Html.CheckBoxFor(m => m.LastTransInSales, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn" id="txtslast" hidden>
                    <div class="col-md-6 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.TextBoxFor(m => m.LastTransSaleCount, new { @class = "form-control td-chk", @type = "number" })
                    </div>
                    <br />
                </div>
                <hr />

                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Show Last Transactions During Purchase
                    </div>
                    <div class="col-md-4 col-xs-1">
                        @Html.CheckBoxFor(m => m.LastTransInPurchase, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn" id="txtplast" hidden>
                    <div class="col-md-6 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.TextBoxFor(m => m.LastTransPurCount, new { @class = "form-control td-chk", @type = "number" })
                    </div>
                    <br />
                </div>
                <hr />

                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Allow to Repeat Cheque No. in Payment / Receipt
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.RepeatChequeNo, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable CRM
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnableCRM, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Used materials in sales invoice
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Usedmaterials, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Used Materials in Sales invoice Main Item List
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Usedmaterials2, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-6">
                        Inventory Costing Method
                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.DropDownListFor(m => m.InventoryMethod, (SelectList)ViewBag.Inventory, new { @class = "form-control select2", @required = "required" })
                    </div>
                    <br />
                </div>
                <div class="col-md-12 sh-btm-mrgn" style="display:none;">
                    <div class="col-md-6 col-xs-6">
                        Stock Value Calculation Method
                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.DropDownListFor(m => m.StockValue, (SelectList)ViewBag.StockValueCost, new { @class = "form-control select2", @required = "required" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Employees
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Employees, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Item Bulk Upload
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.ItemBulkUpload, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Payroll
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.EnablePayroll, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>

                <div class="col-md-12 sh-btm-mrgn" id="payrolldiv">
                    <div class="col-md-6 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">
                        @Html.DropDownListFor(m => m.PayAttendance, (SelectList)ViewBag.PayAtt, new { @class = "form-control select2" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Print Layout
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.Printlayout, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Enable Tax Inclusive In sales
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.TaxInclusive, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />
                <div class="col-md-12 sh-btm-mrgn">
                    <div class="col-md-6 col-xs-11">
                        Automatic Purchase Entry While Sales
                    </div>
                    <div class="col-md-3 col-xs-1">
                        @Html.CheckBoxFor(m => m.stockcheckinvoice, new { @class = "checkbox" })
                    </div>
                    <br />
                </div>
                <hr />

                @*@if (ViewBag.BusinessType != "Property")
            {*@


                @*<tr>
                <td>
                    Quotation Requested Task Status
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.qtaskstatusenable, new { @class = "checkbox" })
                    @Html.DropDownListFor(m=>m.qtaskstatus,(SelectList)ViewBag.taskstatus)
                </td>
            </tr>*@
            }
            @*<tr>
            <td>Disable Modules</td>
            <td>
                <div class="form-group col-md-4">

                    <button type="button" class="btn btn btn-block btn-primary" data-toggle="modal" data-target="#modal-permission"> Disable</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Enable Modules</td>
            <td>
                <div class="form-group col-md-4">

                    <button type="button" class="btn btn btn-block btn-primary" data-toggle="modal" data-target="#modal-permissionen"> Enable</button>
                </div>
            </td>
        </tr>*@
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-8">
                    Print Design
                </div>
                <div class="col-md-4 col-xs-4 checkbox">
                    <div>
                        <label class="col-md-12"> @Html.CheckBoxFor(m => m.Plaindesign, new { @class = "checkbox designchk" }) Plain Design </label>
                    </div>
                    <div>
                        <label class="col-md-12"> @Html.CheckBoxFor(m => m.Bluedesign, new { @class = "checkbox designchk" }) Blue Design </label>
                    </div>
                </div>
                <br />
            </div>
            <hr />
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6">
                    Menu Bar Color
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="example-content-widget">
                        @Html.TextBoxFor(m => m.MenuNavColor, new { @class = "form-control color-picker-horizontal", @id = "color-picker-horizontal", @type = "text", @value = "#0000FF" })

                        <script>

                                $(function () {
                                    $('#color-picker-horizontal').colorpicker({
                                        color: "@ViewBag.MenuColor",
                                        horizontal: true
                                    });
                                });
                        </script>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6">
                    Menu MouseOver Color
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="example-content-widget">

                        @Html.TextBoxFor(m => m.MenuhOverColor, new { @class = "form-control color-picker-horizontal", @id = "color-mouse-picker-horizontal", @type = "text", @value = "#0000FF" })
                        <script>

                                $(function () {
                                    $('.color-picker-horizontal').colorpicker({
                                        color: "@ViewBag.MenuOverColor",
                                        horizontal: true
                                    });
                                });
                        </script>
                    </div>


                </div>
                <br />
            </div>

            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6">
                </div>
                <div class="col-md-3 col-xs-6">
                    <div>
                        <span id="reset" class="btn btn-info lblpadding">Reset Menu Color</span>
                    </div>
                </div>
                <br />
            </div>
            <hr />
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6">
                </div>
                <div class="col-md-3 col-xs-6">
                    <div>
                        <span id="reset" class="btn btn-info lblpadding">Reset Menu C</span>
                    </div>
                </div>
                <br />
            </div>
            <hr />
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-11">
                    Credit Limit Required
                </div>
                <div class="col-md-3 col-xs-1">
                    @Html.CheckBoxFor(m => m.CreditLimit, new { @class = "checkbox" })
                </div>
                <br />
            </div>
            <hr />
            <div class="col-md-12 sh-btm-mrgn" align="center">
                <button type="submit" id="save" class="btn btn-info lblpadding">Update</button>
            </div>
            @*<table class="table table-bordered table-hover">

            <tr>
                <td></td>
                <td>
                    <button type="submit" id="save" class="btn btn-info lblpadding">Update</button>
                </td>
            </tr>
        </table>*@

        </div>
            @Html.Partial("../Users/_Modulesconfig")
            @Html.Partial("../Users/_Modulesconfigen")
        }
    </div>
</div>
<script src="~/Content/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            chkMC();
            chkMLA();
            chkRemind();
            chkConv();
            EnablePayroll();
        });
        //for checkbox only one tick
        $(".designchk").click(function () {
            $(".designchk").prop("checked", false);
            this.checked = true;
        });

        //$('.designchk').change(function () {
        //    var invost = $('.designchk:checked').val();
        //    if (invost == "true") {
        //        var stat = "yes";

        //    }
        //    else {
        //        var stat = "No";

        //    }
        //    $.ajax({
        //        data: { 'stat': stat },
        //        url: "/EnableSetting/InvolayoutSelector",
        //        dataType: 'json',
        //        type: 'GET',
        //        cache: false,
        //        success: function (response) {

        //        },
        //        error: function (response) {
        //            alert("Unexpected Error Occured");
        //        }

        //    });
        //});
        //BusinessType
        $('body').on('change', '#BusinessType', function (e) {
            var type = $(this).val();
            if (type == "Property") {
                $("#prop").show();
            } else {
                $("#prop").hide();
            }
        });

        //bind to Material Centre
        $("#ddlinvoice").select2({
            minimumInputLength: 0,
            ajax: {
                url: "/EnableSetting/GetInvoice",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        //x: "empty"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        //Material Centre
        $("#ddlMcs").select2({
            placeholder: 'Search Material Centre by Name or Code',
            minimumInputLength: 0,
            ajax: {
                url: "/MC/SearchMC",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        x: ""
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        $('input[type=checkbox]').on('click', function () {
            if (this.checked) {
                $(this).parents('li').children('label').children('input[type=checkbox]').each(function () {
                    $(this).attr('checked', true);
                });

            }
            $(this).parent().parent().find('input[type=checkbox]').attr('checked', this.checked);
        });
        $('#MCInTransaction').click(function () {
            chkMC();
        });
        function chkMC() {
            if ($("#MCInTransaction").is(":checked")) {
                $("#UserMC").show();
            }
            else if ($("#MCInTransaction").is(":not(:checked)")) {
                $("#UserMC").hide();
                $("#AssignUserMC").prop("checked", false);
            }
        }

        $('#MultiLevelApproval').click(function () {
            chkMLA();
        });
        function chkMLA() {
            if ($("#MultiLevelApproval").is(":checked")) {
                $("#idMLAMc").show();
                $("#idMLAQuot").show();
                $("#idMLAPQuot").show();
                $("#idMLAPOrder").show();
                $("#idMLAPReturn").show();
                $("#idMLAPEntry").show();
                $("#idMLASOrder").show();
                $("#idMLASEntry").show();
                $("#idMLASReturn").show();
                $("#idMLADNote").show();
                $("#idMLAJCard").show();
                $("#idMLAPForma").show();
                $("#idMLASTran").show();
                $("#idMLASJour").show();
                $("#idMLAPList").show();
                $("#idMLAHReturn").show();
                $("#idMLAMRNote").show();
                $("#idMLAProd").show();
                $("#idMLAUAssem").show();
                $("#idPayment").show();
                $("#idReciept").show();
                $("#mladiv").show();
            }
            else if ($("#MultiLevelApproval").is(":not(:checked)")) {
                $("#mladiv").hide();
                $("#idMLAMc").hide();
                $("#idMLAQuot").hide();
                $("#idMLAPQuot").hide();
                $("#idMLAPOrder").hide();
                $("#idMLAPReturn").hide();
                $("#idMLAPEntry").hide();
                $("#idMLASOrder").hide();
                $("#idMLASEntry").hide();
                $("#idMLASReturn").hide();
                $("#idMLADNote").hide();
                $("#idMLAJCard").hide();
                $("#idMLAPForma").hide();
                $("#idMLASTran").hide();
                $("#idMLASJour").hide();
                $("#idMLAPList").hide();
                $("#idMLAHReturn").hide();
                $("#idMLAMRNote").hide();
                $("#idMLAProd").hide();
                $("#idMLAUAssem").hide();
                $("#idPayment").hide();
                $("#idReciept").hide();

                $("#MLAMc").prop("checked", false);
                $("#MLAQuot").prop("checked", false);
                $("#MLAPQuot").prop("checked", false);
                $("#MLAPOrder").prop("checked", false);
                $("#MLAPReturn").prop("checked", false);
                $("#MLAPEntry").prop("checked", false);
                $("#MLASOrder").prop("checked", false);
                $("#MLASEntry").prop("checked", false);
                $("#MLASReturn").prop("checked", false);
                $("#MLADNote").prop("checked", false);
                $("#MLAJCard").prop("checked", false);
                $("#MLAPForma").prop("checked", false);
                $("#MLASTran").prop("checked", false);
                $("#MLASJour").prop("checked", false);
                $("#MLAPList").prop("checked", false);
                $("#MLAHReturn").prop("checked", false);
                $("#MLAMRNote").prop("checked", false);
                $("#MLAProd").prop("checked", false);
                $("#MLAUAssem").prop("checked", false);
                $("#Payment").prop("checked", false);
                $("#Reciept").prop("checked", false);
            }
        }


        $('#Reminder').click(function () {
            chkRemind();
        });
        function chkRemind() {
            if ($("#Reminder").is(":checked")) {
                $("#reminddiv").show();
                $("#idRemindTask").show();
                $("#idRemindSale").show();
                $("#idRemindQuot").show();
                $("#idRemindSReturn").show();
                $("#idRemindSOrder").show();
                $("#idRemindProForma").show();
                $("#idRemindPurchase").show();
                $("#idRemindPReturn").show();
                $("#idRemindPOrder").show();
                $("#idRemindPQuot").show();
                $("#idRemindDNote").show();

                $("#idRemindHReturn").show();
                $("#idRemindMReqn").show();
                $("#idRemindMRNote").show();
                $("#idRemindJobCard").show();

                $("#idRemindPackList").show();
                $("#idRemindStkTrans").show();
                $("#idRemindStkJnl").show();
                $("#idRemindProd").show();
                $("#idRemindUnass").show();

            }
            else if ($("#Reminder").is(":not(:checked)")) {
                $("#reminddiv").hide();
                $("#idRemindTask").hide();
                $("#idRemindSale").hide();
                $("#idRemindQuot").hide();
                $("#idRemindSReturn").hide();
                $("#idRemindSOrder").hide();
                $("#idRemindProForma").hide();
                $("#idRemindPurchase").hide();
                $("#idRemindPReturn").hide();
                $("#idRemindPOrder").hide();
                $("#idRemindPQuot").hide();
                $("#idRemindDNote").hide();

                $("#idRemindHReturn").hide();
                $("#idRemindMReqn").hide();
                $("#idRemindMRNote").hide();
                $("#idRemindJobCard").hide();

                $("#idRemindPackList").hide();
                $("#idRemindStkTrans").hide();
                $("#idRemindStkJnl").hide();
                $("#idRemindProd").hide();
                $("#idRemindUnass").hide();

                $("#RemindTask").prop("checked", false);
                $("#RemindSale").prop("checked", false);
                $("#RemindQuot").prop("checked", false);
                $("#RemindSReturn").prop("checked", false);
                $("#RemindSOrder").prop("checked", false);
                $("#RemindProForma").prop("checked", false);
                $("#RemindPurchase").prop("checked", false);
                $("#RemindPReturn").prop("checked", false);
                $("#RemindPOrder").prop("checked", false);
                $("#RemindPQuot").prop("checked", false);
                $("#RemindDNote").prop("checked", false);

                $("#RemindHReturn").prop("checked", false);
                $("#RemindMReqn").prop("checked", false);
                $("#RemindMRNote").prop("checked", false);
                $("#RemindJobCard").prop("checked", false);

                $("#RemindPackList").prop("checked", false);
                $("#RemindStkTrans").prop("checked", false);
                $("#RemindStkJnl").prop("checked", false);
                $("#RemindProd").prop("checked", false);
                $("#RemindUnass").prop("checked", false);

            }
        }

        $('#PreventConversion').click(function () {
            chkConv();
        });
        function chkConv() {
            if ($("#PreventConversion").is(":checked")) {
                $("#preventdiv").show();
                $("#idQuotToSale").show();
                $("#idQuotToPForma").show();
                $("#idQuotToDvNote").show();
                $("#idQuotToSOrder").show();

                $("#idPFToSale").show();
                $("#idPFToDvNote").show();
                $("#idDvNoteToSale").show();
                $("#idDvNoteToPF").show();
                $("#idPOrderToMRNote").show();

                $("#idSOrderToSale").show();
                $("#idSOrderToPF").show();
                $("#idSOrderToDvNote").show();
                $("#idPQuotToPOrder").show();
                $("#idMRNotetToPEntry").show();
                $("#idMRToPQuot").show();
                $("#idPOrderToPEntry").show();

            }
            else if ($("#PreventConversion").is(":not(:checked)")) {
                $("#preventdiv").hide();
                $("#idQuotToSale").hide();
                $("#idQuotToPForma").hide();
                $("#idQuotToDvNote").hide();
                $("#idQuotToSOrder").hide();

                $("#idPFToSale").hide();
                $("#idPFToDvNote").hide();
                $("#idDvNoteToSale").hide();
                $("#idDvNoteToPF").hide();
                $("#idPOrderToMRNote").hide();

                $("#idSOrderToSale").hide();
                $("#idSOrderToPF").hide();
                $("#idSOrderToDvNote").hide();
                $("#idPQuotToPOrder").hide();
                $("#idMRNotetToPEntry").hide();
                $("#idMRToPQuot").hide();
                $("#idPOrderToPEntry").hide();


                $("#QuotToSale").prop("checked", false);
                $("#QuotToPForma").prop("checked", false);
                $("#QuotToDvNote").prop("checked", false);
                $("#QuotToSOrder").prop("checked", false);

                $("#PFToSale").prop("checked", false);
                $("#PFToDvNote").prop("checked", false);
                $("#DvNoteToSale").prop("checked", false);
                $("#DvNoteToPF").prop("checked", false);
                $("#POrderToMRNote").prop("checked", false);

                $("#SOrderToSale").prop("checked", false);
                $("#SOrderToPF").prop("checked", false);
                $("#SOrderToDvNote").prop("checked", false);
                $("#PQuotToPOrder").prop("checked", false);
                $("#MRNotetToPEntry").prop("checked", false);
                $("#MRToPQuot").prop("checked", false);
                $("#POrderToPEntry").prop("checked", false);
            }
        }

        $('#LastTransInSales').click(function () {
            if (!$("#LastTransInSales").is(":checked")) {
                $("#LastTransSaleCount").val("");
            }
        });
        $('#LastTransInPurchase').click(function () {
            if (!$("#LastTransInPurchase").is(":checked")) {
                $("#LastTransPurCount").val("");
            }
        });

        $('#LastTransInSales').click(function () {
            if ($("#LastTransInSales").is(":checked")) {
                $("#txtslast").show();
            } else {
                $("#txtslast").hide();
            }
        });

        $('#LastTransInPurchase').click(function () {
            if ($("#LastTransInPurchase").is(":checked")) {
                $("#txtplast").show();
            } else {
                $("#txtplast").hide();
            }
        });

        $('#reset').click(function () {
            $("#color-picker-horizontal").val("#0d83dd");
            $("#color-mouse-picker-horizontal").val("#6c7cc6");
        });


        $('#EnablePayroll').click(function () {
            EnablePayroll();
        });
        function EnablePayroll() {
            if ($("#EnablePayroll").is(":checked")) {
                $("#payrolldiv").show();
            }
            else if ($("#EnablePayroll").is(":not(:checked)")) {
                $("#payrolldiv").hide();
            }
        }

    </script>
}