@model QuickSoft.ViewModel.ProRentalViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Rental Proforma";
    ViewBag.Active = "Master";
    var TimeOut = @ViewBag.TMOut;
}
@using (Html.BeginForm("Create", "RentalProforma", FormMethod.Post, new { id = "createForm", role = "form" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Rental Proforma</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    //if (User.IsInRole("Dev") || User.IsInRole("Edit Sales Entry"))
                    //{
                        <a class="btn bg-black no-border" href="/Property/RentalProforma/Edit/@ViewBag.LastEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    //}
                }
                @*@if (User.IsInRole("Dev") || User.IsInRole("RentalProforma"))
                    {*@
                <a class="btn btn-success no-border" href="/Property/RentalProforma">
                    <i class="fa fa-fw fa-history"></i> List
                </a>
                @*}*@
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

        <div class="box-body">
            <div class="box-header with-border"><h5 class="box-title">Proforma Details</h5></div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Voucher No", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Date", null, new { @class = "control-label" }) *
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.Date, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Tenant, new { @class = "control-label" }) *
                    @*@if (User.IsInRole("Dev") || User.IsInRole("Create Developer"))
                        {*@
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.Tenant, (SelectList)ViewBag.Tenan, "", new { id = "ddlTenant", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Property/Tenant/AddTenant" class="modal-develop btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                    @*}
                        else
                        {
                            @Html.DropDownListFor(m => m.Developer, (SelectList)ViewBag.Develop, "", new { id = "ddlDeveloper", @class = "form-control select2", @required = "required" })
                        }*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Property, new { @class = "control-label" }) *
                    @*@if (User.IsInRole("Dev") || User.IsInRole("Create Property"))
                        {*@
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Property/PropertyMain/AddProperty" class="modal-property btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                    @*}
                        else
                        {
                            @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                        }*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Unit, new { @class = "control-label" }) *
                    @Html.DropDownListFor(m => m.Unit, (SelectList)ViewBag.Uni, "", new { id = "ddlUnit", @class = "form-control select2", @required = "required" })
                </div>
                <div class="col-sm-2 form-group">
                    @Html.LabelFor(m => m.Amount, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm", tabindex = 7 })
                </div>
                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="row">
                        <div class="form-group col-sm-2">
                            @Html.Label("Branch", null, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                        </div>
                    </div>
                }

            </div>
            <div class="clearfix"></div>
            <div class="box-header with-border"><h5 class="box-title">Additional Information</h5></div>
            <div class="clearfix"></div>
            @for (int i = 0; i < Model.AdditionalField.Count; i++)
            {
                <div class="form-group col-sm-2">
                    <label class="control-label" for="Name@i">@Model.AdditionalField[i].Name</label>
                    <input type="hidden" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                    <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" data-val-required="AdditionalField is required." type="text" value="">
                </div>

            }
            <div class="clearfix"></div>
            <div class="box-header with-border"><h5 class="box-title">Notes &amp; Terms</h5></div>
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm textarea", rows = 8 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remarks", @rows = 2 })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.TermsCondition, new { @class = "form-control", @placeholder = "Terms And Condition", @rows = 2 })
                </div>
                <div class="form-group pull-right">
                    <button type="submit" id="save" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="submit" id="print" class="btn btn-success">
                        <span class="glyphicon glyphicon-print"></span> Save And Print
                    </button>
                    <button type="button" class="btn btn-warning" onclick="@("window.location.href='/Property/PropertyRegistration/Index'");">Cancel</button>
                    <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                    <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
                </div>
            </div>
        </div>
    </div>

}
<div id="modal-develop" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-property" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-broker" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-owner" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@{
    var Modelv = "modal-lg";
}
@Html.Partial("_Voucher")
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit", @Modelv)

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/property")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: '01-01-2011',
            endDate: '+30d'
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            GetBranch();
            GetTenant(0);
            GetProperty(0);
        });

        //submit function
        $('#createForm').on('submit', function (e) {
            if ($("#createForm").valid()) {
                e.preventDefault();
                var url = $('#createForm')[0].action;
                var formData = new FormData(this);
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                formData.append('fnval', fnval);
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success); 
                            if (fnval == "save") {
                               window.location.href = '@Url.Action("Index", "RentalProforma")';
                            }
                            if (fnval == "print") {
                                Rentalprint(e); window.location.href = '@Url.Action("Index", "RentalProforma")';
                            }
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });

        /* function for Create popup */
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        $('span').on('click', '.modal-develop', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-develop');
        });
        $('#modal-develop').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-develop');
        });

        $('span').on('click', '.modal-property', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-property');
        });
        $('#modal-property').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-property');
        });
        $('span').on('click', '.modal-broker', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-broker');
        });
        $('#modal-broker').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-broker');
        });
        $('span').on('click', '.modal-owner', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-owner');
        });
        $('#modal-owner').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-owner');
        });

        PropertyPopup();

        function GetTenant(val) {

            var type = val == 0 ? "empty" : "all";
            $("#ddlTenant").select2({
                placeholder: 'Search Tenant Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Property/Tenant/SearchTenant",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: type,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        }
        $("#ddlUnit").select2({
            placeholder: 'Search Unit',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/Unit/SearchUnit",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        function Rentalprint(e) {
            var dat = convertToDate(e.Data.Date);
            $("#lblBillNo").text(e.Data.VoucherNo);
            $("#lblDate").text(dat);

            $("#lblproperty").text(e.Data.Property);
            $("#lblTenant").text(e.Data.Tenant);
            $("#lblunit").text(e.Data.Unit);
            $("#lblamount").text(e.Data.Amount);


            var adcount = 1;
            $.each(e.additionalfield, function (i, item) {

                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.Field + '</td>';
                str += '<td>' + ' ' + dat + '</td>';
                str += '</tr>';

                if (dat != "" && dat != 0) {
                    $('#addfield').append(str);
                    adcount++;
                }
            });
            if (adcount == 1) {
                $("#addfield").hide();
            }
            else {
                $("#addfield").show();
            }

            if (e.ComHeadCheck == 0) {
                $("#ComHeadCheck").hide();
            }
            else {
                $("#ComHeadCheck").show();
            }


            if ($('#hideheader').prop('checked') == true) {
                $('#ComHeadCheck').hide();
                $('#ComfootCheck').hide();
                //$(".invoice.print").css("margin-top", "100px");
                $("#comHeader").css("margin-top", "100px");
            }
            else {
                $('#ComHeadCheck').show();
                $('#ComfootCheck').show();
            }

            var originalpage = document.body.innerHTML;
            var printContent = $('#printit').html();
            $('title').html("Rental Proforma Voucher - " + e.Data.VoucherNo);
            $('body').html(printContent);
            window.print();
        }
    </script>
}

