@model QuickSoft.ViewModel.VRDashboardViewModel


@{
    List<QuickSoft.ViewModel.paramclass>
    leadstat = ViewBag.dashboard;
    List<QuickSoft.ViewModel.paramclass>
        leadstatexp = ViewBag.expiredlead;
}

@{var Model = "";}

@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}

<style>
    .ribbon4 {
        width: auto;
        position: absolute;
        left: -10px !important;
        top: -5px;
        padding: 5px 20px 5px 10px;
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
        box-shadow: -1px 2px 3px rgba(0,0,0,.3);
        color: white;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
    }

        .ribbon4:before, .ribbon4:after {
            content: "";
            position: absolute;
        }

        .ribbon4:before {
            width: 10px;
            height: 117%;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
            border-radius: 6px 0 0 5px;
        }

        .ribbon4:after {
            width: 10px;
            height: 8px;
            bottom: -8px;
            left: -5px;
            background: #095b9a;
            border-radius: 5px 0 0 5px;
        }
    .sh-bg1 {
         background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
    }

    .sh-bg2 {
          background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    }
    .sh-bg3 {
         background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    }

    .sh-bg4 {
        background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
    }

    .sh-bg5 {
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .sh-bg6 {
        background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    }

    .sh-bg7 {
        background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    }


    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 10px 0px;
        border-radius: 5px;
    }

        .card-box:hover {
            text-decoration: none;
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            transform: scale(1.03);
            -webkit-transition: 0.3s;
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        .card-box span {
            text-shadow: 1px 1px 3px #000000;
        }

        .card-box p {
            font-size: 15px;
            text-shadow: 1px 1px 3px #000000;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 10px;
            z-index: 0;
            font-size: 72px;
            color: rgba(255,255,255,0.4);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
            border-radius: 0px 0px 5px 5px;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

        .card-box .sh-title-align {
            padding-left: 20px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            /*text-decoration: none;*/
            border-radius: 5px 5px 0px 0px;
        }

    #myChart {
        margin-top: 20px;
    }

    #myChart2 {
        margin-top: 20px;
    }

    .card-box h4 {
        text-shadow: 2px 2px 4px #000000;
    }

    .sh-row-design {
        background-color: white;
    }


    @@media only screen and (min-width: 800px) {
    }

    @@media only screen and (min-width: 1250px) {
    }

    @@media only screen and (max-width: 400px) {
    }
</style>

<div class="row sh-row-design">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="ribbon">
                    <div class="ribbon4"><h3 class="box-title">DASHBOARD</h3></div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="pull-right">

                    @*<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>*@
                    <a href="/ParticularParty/Index" class="btn btn-info" target="_blank"><i class="glyphicon glyphicon-plus"></i> Exclude Parties</a>

                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        @if (User.IsInRole("Dev") || User.IsInRole("Purchase") || User.IsInRole("Purchase Day Wise"))
        {
            <div class="col-md-4 col-sm-6">
                <div class="card-box sh-bg2">
                    <div class="inner">
                        <span>AED</span><h3>@Html.DisplayFor(m => m.TodayPurchase)</h3>
                        <p>Today Purchase</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <a href="@Url.Action("DayWise", "PurchaseReport")" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (User.IsInRole("Dev") || User.IsInRole("Purchase") || User.IsInRole("MonthWise Purchase Horizontal"))
        {
            <div class="col-md-4 col-sm-6">
                <div class="card-box sh-bg3">
                    <div class="inner">
                        <span>AED</span><h3>@Html.DisplayFor(m => m.ThisMonthPurchase)</h3>
                        <p>This Month Purchase</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <a href="@Url.Action("MonthlyPurchase", "PurchaseReport")" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (User.IsInRole("Dev") || User.IsInRole("Purchase Reports") || User.IsInRole("All Purchase"))
        {
            <div class="col-md-4 col-sm-6">
                <div class="card-box sh-bg4">
                    <div class="inner">
                        <span>AED</span><h3>@Html.DisplayFor(m => m.ThisYearPurchase) </h3>
                        <p>This Year Purchase</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <a href="@Url.Action("Index", "PurchaseReport")" class="card-box-footer">View All Purchase <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (User.IsInRole("Dev") || User.IsInRole("Purchase Summary") || User.IsInRole("Purchase Month Wise"))
        {
            <div class="col-md-12">
                <div class="card-box sh-bg5">
                    <div class="sh-title-align sh-bg6">
                        <h4>Purchase Summary</h4>
                    </div>
                    <canvas id="myChart" style="width: 100%;"></canvas>
                </div>
            </div>}
    </div>
    <div class="col-md-6">
        <div class="col-md-4 col-sm-6">
            <div class="card-box sh-bg2">
                <div class="inner">
                    <span>AED</span><h3>@Html.DisplayFor(m => m.TodayPurchaseReturn)</h3>
                    <p>Today Purchase Rtn</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <a href="@Url.Action("PurchaseReturn", "MyReports")" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card-box sh-bg3">
                <div class="inner">
                    <span>AED</span><h3>@Html.DisplayFor(m => m.ThisMonthPurchaseReturn)</h3>
                    <p>This Month PurchaseRtn</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <a href="@Url.Action("PurchaseReturn", "MyReports")" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card-box sh-bg4">
                <div class="inner">
                    <span>AED</span><h3>@Html.DisplayFor(m => m.ThisYearPurchaseReturn) </h3>
                    <p>This Year Purchase Rtn</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <a href="@Url.Action("PurchaseReturn", "MyReports")" class="card-box-footer">View more <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        @if (User.IsInRole("Dev") || User.IsInRole("Purchasereturn Reports"))
        {
            <div class="col-md-12">
                <div class="card-box sh-bg5">
                    <div class="sh-title-align sh-bg7">
                        <h4>Purchase Return Summary</h4>
                    </div>
                    <canvas id="myChart2" style="width:100%;"></canvas>
                </div>
            </div>
        }
    </div>





</div>

<script src="~/Content/js/BarGraph.js"></script>
<script>
    var xValues = ["@ViewBag.mnth6", "@ViewBag.mnth5", "@ViewBag.mnth4", "@ViewBag.mnth3", "@ViewBag.mnth2", "@ViewBag.mnth1"];
    var yValues = [@Html.DisplayFor(m => m.LastFiveMonthPurchase), @Html.DisplayFor(m => m.LastFourMonthPurchase), @Html.DisplayFor(m => m.LastThreeMonthPurchase), @Html.DisplayFor(m => m.LastTwoMonthPurchase),@Html.DisplayFor(m => m.LastMonthPurchase),@Html.DisplayFor(m => m.ThisMonthPurchase), 0];
    var barColors = ["#ff7373", "#0000ff", "#800080", "#66cdaa", "#ff7f50", "#3399ff"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Last Six Months Purchase",

            }
        }
    });
</script>
<script>
    var xValues2 =  ["@ViewBag.mnth6", "@ViewBag.mnth5", "@ViewBag.mnth4", "@ViewBag.mnth3", "@ViewBag.mnth2", "@ViewBag.mnth1"];
    var yValues2 = [@Html.DisplayFor(m => m.LastFiveMonthPurchaseReturn), @Html.DisplayFor(m => m.LastFourMonthPurchaseReturn), @Html.DisplayFor(m => m.LastThreeMonthPurchaseReturn), @Html.DisplayFor(m => m.LastTwoMonthPurchaseReturn),@Html.DisplayFor(m => m.LastMonthPurchaseReturn),@Html.DisplayFor(m => m.ThisMonthPurchaseReturn)];
    var barColors2 = ["#ff7373", "#0000ff", "#800080", "#66cdaa", "#ff7f50", "#3399ff"];

    new Chart("myChart2", {
        type: "bar",
        data: {
            labels: xValues2,
            datasets: [{
                backgroundColor: barColors2,
                data: yValues2
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Last Six Months Purchase Return"
            }
        }
    });
</script>
