
@model QuickSoft.Models.rackmaterialcentre
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Rack Material Center</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "RackMC", FormMethod.Post, new { id = "editform" }))
    {
        <script type="text/javascript">
            $('form#popupFormColor').removeData("validator");
            $('form#popupFormColor').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormColor'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.rackmcid)

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Rack", null, new { @class = "control-label temp2" })
            @Html.DropDownListFor(model => model.rackid, (SelectList)ViewBag.rk, new { @class = "form-control select2", @required = "required", tabindex = 2 })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Shelf", null, new { @class = "control-label temp2" })
            @Html.DropDownListFor(model => model.shelfid, (SelectList)ViewBag.slf, new { @class = "form-control select2", @required = "required", tabindex = 2 })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Material Center", null, new { @class = "control-label temp2" })
            @Html.DropDownListFor(model => model.mcid, (SelectList)ViewBag.mc, new { @class = "form-control select2", @required = "required", tabindex = 2 })
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
<script>
    $('#rackid').select2({
        tags: true,
        placeholder: 'Select Rack',
        minimumInputLength: 0,
        ajax: {
            url: "/Rack/SearchRack",
            dataType: 'json',
            delay: 50,
            data: function (params) {
                return {
                    q: params.term || "",
                    x: "All",
                    page: params.page || 0,
                };
            },

            processResults: function (data, params) {

                params.page = params.page || 1;

                return {

                    results: data
                };
            },
            cache: true
        },
    });
    $('#shelfid').select2({
        tags: true,
        placeholder: 'Select shelf',
        minimumInputLength: 0,
        ajax: {
            url: "/Shelf/SearchShelf",
            dataType: 'json',
            delay: 50,
            data: function (params) {
                return {
                    q: params.term || "",
                    x: "All",
                    page: params.page || 0,
                };
            },

            processResults: function (data, params) {

                params.page = params.page || 1;

                return {

                    results: data
                };
            },
            cache: true
        },
    });
    $('#mcid').select2({
        tags: true,
        placeholder: 'Select MC',
        minimumInputLength: 0,
        ajax: {
            url: "/RackMC/SearchMC",
            dataType: 'json',
            delay: 50,
            data: function (params) {
                return {
                    q: params.term || "",
                    x: "All",
                    page: params.page || 0,
                };
            },

            processResults: function (data, params) {

                params.page = params.page || 1;

                return {

                    results: data
                };
            },
            cache: true
        },
    });
</script>



