@{
    var sizeval = "";
    if (@ViewBag.Footer == null)
    {
        sizeval = "500px";
    }
    else
    {
        sizeval = "460px";
    }
    var headsize = "0px";
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <div style="max-height:250px;">
                        <div class="text-center">
                            @*<style type="text/css">
                                @@media print {
                                    body {
                                        border: 0px !important;
                                    }

                                    .table td, .table th {
                                        background: none !important;
                                    }
                                }

                                .jewel #itemtable tbody tr:last-child td {
                                    border-bottom: 0px !important;
                                }

                                thead tr th {
                                    text-align: center;
                                }

                                .jewel #itemtable thead tr th,
                                .jewel #itemtable thead:first-child tr:first-child th {
                                    border-left: 1px solid #030303 !important;
                                    border-right: 1px solid #030303 !important;
                                    border-top: 1px solid #000 !important;
                                    border-bottom: 1px solid #000 !important;
                                }

                                .jewel-cus tr th:first-child, .jewel-cus tr td:first-child {
                                    width: 50% !important;
                                }
                            </style>
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                headsize = "10px";
                                ViewBag.chkLogo = "logo";
                                @Html.Partial("../Common/_CompanyHeader");
                            }*@
                        </div>
                        <div class="text-center" id="comHeader">
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }
                        </div>
                        <div class="text-center">
                            <style type="text/css">
                                @@media print {
                                    body, .print {
                                        border: 0px !important;
                                    }

                                    body, .print {
                                        border: 1px !important;
                                    }

                                    .table-bordered td, .table-bordered th {
                                        border: 1px solid #898989 !important;
                                    }
                                }

                                body .print {
                                    font-size: 12px;
                                }

                                .print .table-nob tr th {
                                    width: 40%;
                                }
                            </style>
                        </div>
                        <div class="text-center" style="margin-top: @headsize;">
                            <h4 style="margin-bottom: 5px;text-align: left;border: 1px solid #795548;background: #795548 !important;height: 6px;">
                                <strong style="border: 1px solid;padding: 3px;background: #ffffff !important;">JOURNAL VOUCHER</strong>
                            </h4>
                        </div>
                        <table class="table table-noborder">
                            <tr style="border-top: 0px">
                                <td width="70%" style="padding: 0px 10px 0px 0px;border-right: 0px">
                                    <table class="table-nob" style="">
                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding:0px;">
                                    <table id="Cust_de" class="table-nob jewel-cus" style="border: 1px solid #000;width: 100%;height: auto;">
                                        <tr>
                                            <th>Voucher No</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Prepared By</th>
                                            <td>: <label id="lblPBy"></label></td>
                                        </tr>
                                        <tr class="divvatnature">
                                            <th>VAT Nature :</th>
                                            <td><small><label id="lblVatNature"></label></small></td>
                                        </tr>
                                        <tr>
                                            <th>MO Payment</th>
                                            <td>: <label id="lblMOPayment"></label></td>
                                        </tr>
                                        <tr class="divpdc">
                                            <th>Cheque No</th>
                                            <td>: <label id="lblChequeNo"></label></td>
                                        </tr>
                                        <tr class="divpdc">
                                            <th>Bank</th>
                                            <td>: <label id="lblBank"></label></td>
                                        </tr>
                                        @*<tr>
                                            <th>Time</th>
                                            <td>: <label id="lblTime"></label></td>
                                        </tr>*@

                                        @* field mapping *@
                                        <tr id="divRef1" hidden>
                                            <th id="IblRef1"></th>
                                            <td>: <label id="IblRef1Val"></label></td>
                                        </tr>
                                        <tr id="divRef2" hidden>
                                            <th id="IblRef2"></th>
                                            <td>: <label id="IblRef2Val"></label></td>
                                        </tr>
                                        <tr id="divRef3" hidden>
                                            <th id="IblRef3"></th>
                                            <td>: <label id="IblRef3Val"></label></td>
                                        </tr>
                                        <tr id="divRef4" hidden>
                                            <th id="IblRef4"></th>
                                            <td>: <label id="IblRef4Val"></label></td>
                                        </tr>
                                        <tr id="divRef5" hidden>
                                            <th id="IblRef5"></th>
                                            <td>: <label id="IblRef5Val"></label></td>
                                        </tr>       
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:@sizeval">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead>
                                <tr style="background: #ccc !important;">
                                    <th rowspan="2" class="text-center">S/N</th>
                                    <th rowspan="2" class="text-center acc-lists">Account Description</th>
                                    @if (@ViewBag.ProjChk == 0)
                                    {
                                        <th rowspan="2" class="text-center">Property</th>
                                        <th rowspan="2" class="text-center">Unit</th>
                                    }
                                    <th width="40%" colspan="2" class="text-center">Amount (AED)</th>
                                </tr>
                                <tr style="background: #ccc !important;">
                                    <th  class="text-center">Debit</th>
                                    <th  class="text-center">Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr>
                            <td rowspan="3" style="width:50%;"></td>
                            <td colspan="3" rowspan="3" class="text-bold text-center">
                                <br />
                                @ViewBag.CName
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder">
                        <tr>
                            <td class="text-center text-bold">
                                <div style="width: 70%;">
                                    <hr class="hrfoot" />
                                    CONFIRMED
                                </div>
                            </td>
                            <td class="text-center text-bold">
                                <div>

                                </div>
                            </td>
                            <td class="text-center text-bold">
                                <div style="width: 70%;float:right">
                                    <hr class="hrfoot" />
                                    AUTHORISED SIGNATORY
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</div>