
<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    <div class="text-center" id="comHeader">
                        @*@if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }*@
                    </div>
                    <div class="text-center">
                        <style type="text/css">
                            @@media print {
                                body, .print {
                                    border: 0px !important;
                                }

                                body, .print {
                                    border: 1px !important;
                                }

                                .table-bordered td, .table-bordered th {
                                    border: 1px solid #898989 !important;
                                }
                            }

                            body .print {
                                font-size: 12px;
                            }

                            .print .table-nob tr th {
                                width: 40%;
                            }
                        </style>
                        <h4 style="margin-bottom: 1px;">
                            <strong><u><b>Maintanance Contract</b></u></strong>
                        </h4>
                    </div>

                    <h4>

                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            @*<b> VOUCHER No:<label id="lblBillNo"></label></b>*@
                            <div class="info">
                                <table width="100%" class="table- noborder ">
                                    <tr>
                                        <td><span><b>Vouncher No :</b></span><label id="lblBillNo"></label></td>
                                        <td><span><b>Date :</b></span><label id="lblDate"></label></td>
                                    </tr>
                                    <tr>
                                        <td><span><b>Property :</b></span><label id="lblproperty"></label></td>
                                        <td><span><b>Contractor :</b></span><label id="lblContractor"></label></td>
                                    </tr>
                                    <tr>
                                        <td><span><b>Start Date :</b></span><label id="lblStart"></label></td>
                                        <td><span><b>End Date :</b></span><label id="lblEnd"></label></td>
                                    </tr>
                                    <tr>
                                        <td><span><b>Contract Amount :</b></span><label id="lblAmount"></label> AED</td>
                                        <td><span><b>Payment Type :</b></span><label id="lblPayment"></label></td>
                                    </tr>
                                </table>
                            </div>
                            <table class="table- noborder " id="addfield">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            @*<h4 class="box-title">Rent Details</h4>
                                <table class="table noborder ">
                                      <tr>
                                          <td>Rent Amount : <label id="lblRent"></label></td>
                                          <td>Security Deposit Amount : <label id="lblDeposit"></label></td>
                                      </tr>
                                      <tr>
                                          <td>Schedule : <label id="lblSchedule"></label></td>
                                          <td>Due Date : <label id="lblDue"></label></td>
                                      </tr>
                                      <tr>
                                          <td>Payment Type : <label id="lblPayment"></label></td>
                                      </tr>
                                  </table>*@
                            <h5 id="cheq" class="box-title">Cheque Details</h5>
                            <table class="table noborder " id="cheqfield">
                                <thead>
                                    <tr>
                                        <th>Cheque No </th>
                                        <th>Amount </th>
                                        <th>Date </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;"></td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                            <br />
                            <br />
                            Authorised Signatory

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>
