@model QuickSoft.Models.Expense

@{
    ViewBag.Title = "Expense";
    ViewBag.SubTitle = "Create Expense";
    ViewBag.Active = "Master";
}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Expense</h3>
            <div class="pull-right">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-success no-border" href="/Expense">
                    <i class="fa fa-fw fa-history"></i> Expense
                </a>
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ExpenseCreate", "Master", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.Voucher_No, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Voucher_No, new { @class = "form-control input-sm", @id = "Voucherid", @readonly = "readonly", @Value = ViewBag.Voucher_No })
                </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.PayDate, new { @class = "control-label" })
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.PayDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @Value = ViewBag.PayDate })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.CreatedBranch, new { @class = "control-label", autofocus = "autofocus" })*
                        @Html.DropDownListFor(m => m.CreatedBranch, (SelectList)ViewBag.Bran, new { @class = "form-control input-sm", @id = "DrpTypeName" })
                    </div>

                    @*<div class="form-group col-md-4">
                            @Html.LabelFor(m => m.PayType, new { @class = "control-label" })*
                            @Html.DropDownListFor(m => m.PayType, new SelectList(new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "Regular", Value="Regular"},
                                        //new SelectListItem() {Text = "PDC", Value="PDC"}
                                    }, "Value", "Text"),
                                 new { @class = "form-control input-sm", @id = "DrpPayType" })

                        </div>*@
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.ExpenseType, new { @class = "control-label" })*
                        @Html.DropDownListFor(m => m.ExpenseType, (SelectList)ViewBag.ExpenseTypes, new { @class = "form-control input-sm", @id = "DrpTypeName" })

                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.PayFrom, new { @class = "control-label" })*
                        @Html.DropDownListFor(m => m.PayFrom, (SelectList)ViewBag.Paidfrom, new { @class = "form-control input-sm", @id = "PayFrom" })

                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.PayNote, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.PayNote, new { @class = "form-control", @id = "PayNote" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.Amount, new { @class = "control-label" })*
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm", @placeholder = "Enter Expense Amount.." })
                    </div>
                    <div class="box-footer col-md-12">
                        <input type="submit" id="btnCreate" class="btn btn-info col-sm-offset-5" value="Submit" />
                        @*<input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />*@
                        <input type="button" class="btn btn-default" value="Reset" data-dismiss="modal" id="btnreset" tabindex="20" />
                    </div>
            }
        </div>
    </div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            autoclose: true,
            endDate: '1d',
            allowInputToggle: true
        })
    </script>
}