
@model QuickSoft.ViewModel.PropertyUnitViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Unit</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "Unit", FormMethod.Post, new { id = "createmainForm", role = "form" }))
            {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.Section)
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })*
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alias", tabindex = 15 } })
            </div>
            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.Property, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.prop, "", new { id = "ddlProperty", @class = "form-control select2", tabindex = 5 })
            </div>
            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.Rent, new { @class = "control-label" }) *
                @Html.TextBoxFor(m => m.Rent, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.Deposit, new { @class = "control-label" }) *
                @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.UnitType, new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.UnitType, (SelectList)ViewBag.unittype, "", new { id = "ddlUnitType", @class = "form-control select2", tabindex = 5 })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/UnitType/Create" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                @Html.LabelFor(m => m.Feature, new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Feature, (SelectList)ViewBag.PropFeat, new { @class = "form-control select2 Features", @name = "Features[]", @multiple = "multiple" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/UnitFeature/Create" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description", tabindex = 8 })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Terms and Conditions", null, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.TnC, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
            </div>
            <div class="form-group col-sm-12 no-padding">
                @Html.Label("Item Image", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ItemImage, new { type = "file", multiple = "multiple", tabindex = 24 })
            </div>
            <div class="box-body">
                <div id="DocDetails"></div>
            </div>
        </div>


        <div class="box-footer clearfix text-center">
            <button type="submit" id="save" class="btn btn-info" tabindex="28">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
        </div>

        <script>
         
            //AddMobile();
            Adddoctypeexp();
            $('span').on('click', '.modal-feature', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                modalshow(url, '#modal-feature');
            });
            $('#modal-feature').on('submit', '#createform', function (e) {
                e.preventDefault();
                var url = $('#createform')[0].action;
                var data = $('#createform').serialize();
                createajax(url, data, '#modal-feature');
            });
            GetUnitType();
            $("#Feature").select2({
                tags: true
            });
        </script>
    }
</div>
@Html.Partial("../Common/_ModalCreate")