@model QuickSoft.ViewModel.PropertyUnitViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>JobCard Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Unit Id :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Id)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Code  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Code)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Prefix :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Prefix)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Rent :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Rent)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Deposit :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Deposit)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Description :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Description)
                </div>
                <div class="col-sm-8 form-group">
                    @Html.Label("Terms And Conditions", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.TnC)
                </div>
                


                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

