@{
    ViewBag.Title = "Project Type";
    ViewBag.SubTitle = "Project Type";
    ViewBag.Active = "Master";
    string actData = "";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Project Type</h3>
        <p class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Create ProjectType"))
            {
                <a href="/ProjectType/Create" class="btn btn-info modal-create">
                    <i class="glyphicon glyphicon-plus"></i> Add New
                </a>
            }
        </p>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="UserTable">
            <thead>
                <tr class="bg-gray">
                    <td>S/N</td>
                    <td>Name</td>
                    <td>Details</td>
                    <td>Created By</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">

        var oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "ajax": {
                "url": '/ProjectType/GetProjectType',
                "type": "POST",
                "datatype": "json"

            },
             "columnDefs": [{
                    "targets": [4],
        "orderable": false
        }],
            "columns": [
                     {
                         "data": "ProjectTypeID", "name": "ProjectTypeID",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                 { "data": "TypeName", "name": "TypeName" },
                 { "data": "Details", "name": "Details" },
                 { "data": "UserName", "name": "UserName" },
                 {
                     "name": "ProjectTypeID", "data": function (data) {
                         var rest = "";
                         @{
                         if (User.IsInRole("Dev") || User.IsInRole("Edit ProjectType"))
                         {
                            actData += "<a class=\"modal-edit\" href=\"/ProjectType/Edit/'+ data.ProjectTypeID +'\" title=\"Edit Project Type\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                         }
                         if (User.IsInRole("Dev") || User.IsInRole("Delete ProjectType"))
                         {
                             actData += "<a class=\"modal-delete\" href=\"/ProjectType/Delete/'+ data.ProjectTypeID +'\" title=\"Delete Project Type\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                         }
                    }
                         return rest = '@Html.Raw(actData)';
                     }
                 },
            ]
        });


        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#typeform', function (e) {
            e.preventDefault();
            var url = $('#typeform')[0].action;
            var data = $('#typeform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
            //  createajax(url, data, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        /* function for delete popup */
        $('#UserTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });


    </script>
}