@model QuickSoft.ViewModel.BoqViewModel
@{
    ViewBag.Title = "Edit Bill Of Quantity";
    ViewBag.SubTitle = "Bill Of Quantity";
    ViewBag.Active = "Master";
    var TimeOut = @ViewBag.TMOut;
}
<style>

    .itemnote {
        height: 200px !important;
    }
</style>
<div class="box box-info">
    @using (Html.BeginForm("UpdateBoq", "Boq", FormMethod.Post, new { id = "updateForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Bill Of Quantity</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {

                    <a class="btn bg-black no-border" href="/Boq/Edit/@ViewBag.preEntry">
                        <i class="fa fa-step-backward"></i>
                    </a>

                }
                @if (@ViewBag.nxtEntry != 0)
                {

                    <a class="btn bg-black no-border" href="/Boq/Edit/@ViewBag.nxtEntry">
                        <i class="fa fa-step-forward"></i>
                    </a>

                }
                else
                {

                    <a class="btn bg-black no-border" href="/Boq/Create">
                        <i class="fa fa-step-forward"></i>
                    </a>

                }

                <a class="btn btn-success no-border" href="/Boq">
                    <i class="fa fa-fw fa-history"></i> Bill Of Quantity List
                </a>

            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <input type="hidden" id="BoqId" />
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Boq No", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.BillNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>


                <div class="col-sm-2 form-group ">
                    @Html.Label("Quot No", null, new { @class = "control-label" })
                    @Html.EditorFor(model => model.QuotNo, new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <div class="col-sm-2 form-group">
                    @Html.Label("Date", null, new { @class = "control-label" }) *
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        @Html.TextBoxFor(m => m.BoqDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                    </div>
                </div>


                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Name", null, new { @class = "control-label" }) *
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Customer"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.Customer, (SelectList)ViewBag.Customr, "All", new { id = "ddlCustomer", @class = "form-control input-sm select2", @required = "required" })
                            <span class="input-group-btn">
                                <a href="/Customer/Create" class=" btn btn-success btn-flat" target="_new"><i class="fa fa-1x fa-plus-circle"></i></a>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Customer, (SelectList)ViewBag.Customr, "All", new { id = "ddlCustomer", @class = "form-control input-sm select2", @required = "required" })
                    }
                </div>


                <div class="col-sm-2 form-group">
                    @Html.Label("Sales Executive", null, new { @class = "control-label" })
                    @if (User.IsInRole("Dev") || User.IsInRole("Create Sales Executive"))
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.SalesExecutive, (SelectList)ViewBag.Cashier, "All", new { id = "ddlEmployee", @class = "form-control input-sm select2" })
                            <span class="input-group-btn">
                                <button type="button" href="/SalesExecutive/AddSalesExecutive" class="modal-edit btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                            </span>
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.SalesExecutive, (SelectList)ViewBag.Cashier, "All", new { id = "ddlEmployee", @class = "form-control input-sm select2" })
                    }
                </div>


                @*@if (@ViewBag.BusinessType == "ProjectBasedBusiness")
                    {
                        <div class="col-sm-2 form-group">
                            @Html.LabelFor(model => model.BoqDate, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                @Html.TextBoxFor(m => m.BoqDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                            </div>
                        </div>
                    }*@

                @*@if (@ViewBag.BranchCheck == 0)
                    {
                        <div class="row">
                            <div class="form-group col-sm-2">
                                @Html.Label("Branch", null, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                            </div>
                        </div>
                    }*@

                @if (@ViewBag.PrintLayout == 0)
                {

                    <div class="form-group col-sm-5">
                        @Html.Label("Print Layout", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PrintLayout, (SelectList)ViewBag.printlay, new { id = "ddlPrintlayout", @class = "form-control select2" })
                    </div>
                }

            </div>

            <div>
                <div class="table-responsive bomtable">
                    <hr>
                    <table class="table table-bordered table-hover" id="bomtable">
                        <thead>
                            <tr>
                                <th class="text-center">S/N</th>
                                <th class="text-center">Item <i class="text-danger">*</i></th>
                                <th class="text-center">Unit</th>
                                <th class="text-center">Quantity <i class="text-danger">*</i></th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="addbomitem"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group no-padding text-right">
            <div class="checkbox-inline">
                <input class="checkbox" data-val="true" id="showzeal" name="showzeal" type="checkbox" value="false">
                <label class="control-label" for="showzeal">Show Zeal In Print</label>
            </div>
        </div>
        <div class="box-footer text-center clearfix">
            <button type="submit" id="update" class="btn btn-info">
                Update
            </button>
            <button type="submit" id="print" class="btn btn-success">
                <span class="glyphicon glyphicon-print"></span> Update And Print
            </button>

            <button type="button" class="btn btn-success" onclick="@("window.location.href='/Boq/Index'");">Cancel</button>
            <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
            <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
        </div>
    }

</div>
@Styles.Render("~/css/wysihtml5")
@Html.Partial("../Common/_ModeItemCreate")
@Html.Action("Invoice", "InvoiceLayout", new { type = "Boq" })
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/num2words")
    @Scripts.Render("~/js/sale-invoice")
    @Scripts.Render("~/js/wysihtml5")
    @*@Scripts.Render("~/js/bom")*@

    <script src="~/Content/js/boq.js"></script>
    <script type="text/javascript">


        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            //startDate: new Date(minDate),
            //endDate: new Date(maxDate)
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }



        $(document).ready(function () {
            GetBranch();
            // $("#PrUnit").text("");
            var BoqId = getQueryString('');
            if (BoqId != null) {
                $.ajax({
                    url: '/Boq/GetBOQDetails',
                    dataType: 'json',
                    type: "POST",
                    data: { BoqId: BoqId },
                    cache: true,
                    success: function (data) {
                        getunit(data.bom.ItemId, data.bom.Unit);

                        $('#addbomitem').html('');
                        $.each(data.item, function (i, item) {
                            addbomitem('addbomitem', '', item.Quantity, item.Unit, item.ItemId, item.ItemWithCode, item.ItemNote, item.itemdata, item.note, item.ItemUnitName);
                           
                        });
                        addbomitem('addbomitem', '', '0');
                    }
                });
            }
            $("#ddlItem").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Search",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
        });


        function submitForm(fnval, parameters) {

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Boq/UpdateBoq",
                data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (e.status == true) {
                        if (fnval == "print") {
                            PrintInvoiceBOQ(e, "sales", "inactive", "BOQ");
                        } else {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                        }
                        //location.reload();
                        setTimeout(function () { location.reload(); }, '@TimeOut');
                    } else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button
                    }
                }
            });
        }

        $("#ddlCustomer").select2({
            placeholder: 'Search Customer by Name or Code',
            minimumInputLength: 0,
            dropdownAutoWidth: true,
            ajax: {
                url: "/Customer/SearchCustomer",
                dataType: 'json',
                delay: 50,

                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;

                    return {
                        results: data,
                        pagination: {
                            //more: (params.page * 10) < 50
                            more: true
                        }
                    };
                },
                cache: true
            },
        });

        $("#ddlEmployee").select2({
            placeholder: 'Search Executive by Name or Code',
            minimumInputLength: 0,
            ajax: {
                url: "/Employee/SearchEmployee",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        x: "all"

                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $('body').on('change', '#ddlItem', function (e) {
            var itemId = $(this).val();
            getunit(itemId);
        });

        $('body').on('change', '#BoqDate', function (e) {
            var boqdate = $("#BoqDate").val();
            //var MC = $("#ddlMC").val();
            searchbomItem(boqdate);
        });
        $('body').on('change', '#ddlMC', function (e) {
           /* var MC = $(this).val();*/
            var boqdate = $("#BoqDate").val();
            searchbomItem(boqdate);
        });

        function getunit(itemId, unit) {
            //$("[id$=PurchaseRate]").val(1);
            $.ajax({
                url: '/Item/GetItem',
                type: "GET",
                dataType: "JSON",
                data: { itemID: itemId },
                success: function (data) {
                    var newOption = $('<option></option>');
                    if ((data.PriUnit != data.SubUnit) && data.SubUnitId != null) {
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        var newOption1 = $('<option></option>');
                        newOption1.val(data.SubUnitId).html(data.SubUnit);
                        if (unit) {
                            if (unit == data.ItemUnitID) {
                                newOption.attr("selected", "selected");
                                $("#PrUnit").text("/ " + data.PriUnit);
                            }
                            if (unit == data.SubUnitId) {
                                newOption1.attr("selected", "selected");
                                $("#PrUnit").text("/ " + data.SubUnit);
                            }
                        } else {
                            $("#PrUnit").text("/ " + data.PriUnit);
                        }
                        $('#Unit').html('');
                        $('#Unit').append(newOption);
                        $('#Unit').append(newOption1);

                    } else {
                        $('#Unit').html('');
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        $('#Unit').append(newOption);
                        $("#PrUnit").text("/ " + data.PriUnit);
                    }

                }
            });
        }



        $('body').on('change', '#Unit', function (e) {
            var textvalue = $("#Unit option:selected").text();
            $("#PrUnit").text("/ " + textvalue);
        });
        AddItemPopUp();

        // form submit
        $('#updateForm').on('submit', function (e) {
            e.preventDefault();
            var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
            if ($("#updateForm").valid()) {
                BOMSubmit(fnval);
            }
            else {
                $('.alert').prepend('<button type="button" class="close" data-hide="alert">×</button>');
            }
        });

        $('span').on('click', '.modal-create-lg', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create-lg');
        });
                //$('#modal-create-lg').on('submit', '#createform', function (e) {
                //    e.preventDefault();
                //    var url = $('#createform')[0].action;
                //    var data = $('#createform').serialize();
                //    createajax(url, data, '#modal-create-lg');
                //});

    </script>
}




