@model QuickSoft.ViewModel.CalendarTemplateViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Calendar Template</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "CalendarTemplate", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
    {
        <script type="text/javascript">
            $('form#createform').removeData("validator");
            $('form#createform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createform'));
        </script>
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.TemplateName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.WeeklyHoliday, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.DropDownList("WeeklyHoliday", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Sunday", Value="Sunday"},
                        new SelectListItem() {Text = "Monday", Value="Monday"},
                        new SelectListItem() {Text = "Tuesday", Value="Tuesday"},
                        new SelectListItem() {Text = "Wednesday", Value="Wednesday"},
                        new SelectListItem() {Text = "Thursday", Value="Thursday"},
                        new SelectListItem() {Text = "Friday", Value="Friday"},
                        new SelectListItem() {Text = "Saturday", Value="Saturday"},

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "WeeklyHoliday", @multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <input type="checkbox" value="true" name="DefaultValue" id="DefaultValue" />
                    Set As Default
                </label>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <button type="submit" class="btn btn-info col-sm-offset-4">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
            <script>
                $("#WeeklyHoliday").select2();
            </script>
    }
</div>
