@model QuickSoft.Models.EmailTemplate
@{
    ViewBag.Title = "Edit Email Template";
    ViewBag.SubTitle = "Edit Email Template";
    ViewBag.Active = "Settings";
}
            @using (Html.BeginForm("Edit", "EmailTemplate", FormMethod.Post, new { id = "popupFormEdit" }))
            {
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Email Template</h3>
                        <div class="pull-right">
                        @if (User.IsInRole("Dev") || User.IsInRole("Email Template"))
                        {
                            <a class="btn btn-success no-border" href="/EmailTemplate">
                                <i class="fa fa-fw fa-history"></i>Email Template List
                            </a>
                        }
                        </div>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.Head, new { @class = "control-label" }) *
                                @Html.EditorFor(model => model.Head, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                                @*@Html.LabelFor(m => m.Head, new { @class = "control-label" }) *
                                 @Html.DropDownListFor(model => model.Head, new SelectList(new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "Tax Invoice", Value="TaxInvoice"},
                                            new SelectListItem() {Text = "Quotation", Value="Quotation"},
                                            //new SelectListItem() {Text = "Pro Forma", Value="ProForma"},
                                            new SelectListItem() {Text = "Delivery Note", Value="Deliverynote"},
                                            new SelectListItem() {Text = "Pro Forma", Value="ProForma"},
                                            new SelectListItem() {Text = "Sales Return", Value="SalesReturn"},
                                             new SelectListItem() {Text = "Purchase Entry", Value="PurchaseEntry"},
                                              new SelectListItem() {Text = "Purchase Return", Value="PurchaseReturn"}
                                        }, "Value", "Text"), new { @class = "form-control", @name = "ddlDemoPeriod" })*@
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.Subject, new { @class = "control-label" }) *
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control input-sm" })

                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.EmailBody, new { @class = "control-label" })*
                                @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control input-sm", @rows = 10 })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="submit" class="btn btn-info col-sm-offset-5" value="Update" />
                                <input type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "EmailTemplate") + "'");" value="Cancel" data-dismiss="modal" />
                            </div>
                        </div>
                        </div>
                    </div>
            }

@section scripts{
    @Scripts.Render("~/js/ckeditor")
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                CKEDITOR.replace('EmailBody');
            });
        });
    </script>
}




