
@model QuickSoft.ViewModel.HomeViewModel
@{var Model = "";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")

}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}
<style>
    .sh-bg1 {
        background-image: linear-gradient(to bottom right,rgba(138, 196, 238), rgb(0 148 255));
    }

    .sh-bg2 {
        background-image: linear-gradient(to bottom right,rgba(132, 243, 197), rgba(8, 176, 106));
    }

    .sh-bg3 {
        background-image: linear-gradient(to bottom right,rgba(238, 132, 187), rgba(164, 16, 138));
    }

    .sh-bg4 {
        background-image: linear-gradient(to bottom right,rgba(190, 217, 181),rgba(63, 113, 47));
    }

    .sh-bg5 {
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 10px 0px;
        border-radius: 5px;
    }

        .card-box:hover {
            text-decoration: none;
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            transform: scale(1.01);
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        .card-box p {
            font-size: 15px;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 10px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
            border-radius: 0px 0px 5px 5px;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

        .card-box .sh-title-align {
            background-image: linear-gradient(to bottom right,rgba(184, 220, 245, 1), rgb(0 148 255));
            padding: 1px 0px 1px 10px;
            margin-top: -10px !important;
            border-radius: 5px 5px 0px 0px;
        }

        .card-box h4 {
            text-shadow: 2px 2px 4px #000000;
        }

    .sh-row-design {
        background-color: white;
    }


    @@media only screen and (min-width: 800px) {
    }

    @@media only screen and (min-width: 1250px) {
    }

    @@media only screen and (max-width: 400px) {
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h3 style="color:blueviolet"> Date From : @ViewBag.datefrom.ToString("dd-MM-yyyy") - @ViewBag.dateto.ToString("dd-MM-yyyy")</h3>
    </div>
</div>
<div class="row sh-row-design">



    <div class="col-md-3 col-sm-6">
        <div class="card-box sh-bg1">
            <div class="inner">
                <span>&nbsp;</span>
                <h3>@ViewBag.cash </h3>
                <p>Cash In Hand</p>
            </div>
            <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <a href="/BalanceSheet/GetGroupTrialBalance?AccGroup=9&type2=asset&frmdate=01-01-2000&todate=@ViewBag.dateto.ToString("dd-MM-yyyy")&parent=asset" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="card-box sh-bg2">
            <div class="inner">
                <span>AED</span> <h3>@ViewBag.expense</h3>
                <p>Expense</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <a href="/BalanceSheet/GetGroupTrialBalance?AccGroup=10&type2=liability&frmdate=@ViewBag.datefrom.ToString("dd-MM-yyyy")&todate=@ViewBag.dateto.ToString("dd-MM-yyyy")&parent=liability" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>

        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card-box sh-bg3">
            <div class="inner">
                <span>AED</span><h3>@ViewBag.amountrecieve </h3>
                <p>Amount To Recieve</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <a href="" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>

        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card-box sh-bg4">
            <div class="inner">
                <span>AED</span><h3>@ViewBag.amountpay</h3>
                <p>Amount To Pay</p>
            </div>
            <div class="icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <a href="#" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card-box sh-bg5">
            <div class="sh-title-align">
                <h4>Expense Summary</h4>
            </div>

            <canvas id="myChart" style="width:100%;"></canvas>

        </div>
    </div>


</div>



<script>
    $('div').on('click', '.modal-create', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        modalshow(url, '#modal-create');
    });
</script>

<script src="~/Content/js/BarGraph.js"></script>
<script>
    var xValues = ["@ViewBag.mnth2", "@ViewBag.mnth3", "@ViewBag.mnth4", "@ViewBag.mnth5", "@ViewBag.mnth6", "@ViewBag.mnth7"];
    var yValues = [@Html.DisplayFor(m => m.LastFiveMonthSales), @Html.DisplayFor(m => m.LastFourMonthSales), @Html.DisplayFor(m => m.LastThreeMonthSales), @Html.DisplayFor(m => m.LastTwoMonthSales),@Html.DisplayFor(m => m.LastMonthSales),@Html.DisplayFor(m => m.ThisMonthSales),0];
    var barColors = ["red", "green", "blue", "orange", "brown","yellow"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Last Six Months Expense"
            }
        }
    });
</script>


