@using QuickSoft.Models
@model QuickSoft.ViewModel.LeadsViewModel
@{
    ViewBag.Title = "List";
    ViewBag.SubTitle = "Leads";
    ViewBag.Active = "Master";
    string actData = "";
    string delchk = "";
    bool userRole = true;
    string deleteBTn = "";
    if (User.IsInRole("Dev") || User.IsInRole("Delete Leads"))
    {
        //userRole = true;
        deleteBTn = "{text: 'Delete', className: 'btn-danger', action: function(e, dt, node, config) {" +
             "if ($('.checkbox:checked').length > 0) {if (confirm('Are you sure you want to delete this?')) {$('#payform').submit(); e.preventDefault();} " +
              "} else {alert('Please Select Rows..!!');e.preventDefault();}}},";
    }
    var rowCount1 = 19;
    var rowCount2 = 20;

    var Ref1 = 0;
    var Ref2 = 0;
    var Ref3 = 0;
    var Ref4 = 0;
    var Ref5 = 0;
    if (Model.FieldMap != null && Model.FieldMap.Count > 0)
    {
        for (int i = 0; i < Model.FieldMap.Count; i++)
        {
            if (@Model.FieldMap[i].Field == "Ref1")
            {
                Ref1 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref2")
            {
                Ref2 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref3")
            {
                Ref3 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref4")
            {
                Ref4 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
            if (@Model.FieldMap[i].Field == "Ref5")
            {
                Ref5 = 1;
                rowCount1 = rowCount1 + 1;
                rowCount2 = rowCount2 + 1;
            }
        }
    }

}



<head>
    <link rel="stylesheet" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
    .redclass {
        color: red;
    }
    .dropdown-check-list {
        display: inline-block;
        /*  position: absolute;*/
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
            width: 150px;
            background: #fff;
            text-align: center;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 0px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 9;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 340px;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
                background: #fff;
                padding: 5px;
            }

        .dropdown-check-list.visible .anchor {
            color: #0094ff;
        }

        .dropdown-check-list.visible .items {
            display: block;
        }
</style>

<div class="box box-info">


    <div class="box-header with-border">

        <h3 class="box-title">Leads</h3>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Create Leads"))
            {
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-info no-border" href="/Leads/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create
                </a>
            }
        </div>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("MyLeads"))
            {
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-info no-border" href="/Leads/MyLeads">
                    <i class="glyphicon glyphicon-plus"></i> My Leads
                </a>
            }
        </div>

        <div class="row">

            <div class="col-md-2">

                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor" style="z-index:9;">Select Fields</span>
                    <ul class="items">
                        <li><input type="checkbox" id="lileadcode" checked />Lead Code </li>
                        <li><input type="checkbox" id="lileadname" class="liname" checked />Lead Name </li>
                        <li><input type="checkbox" id="lileadsource" />Lead Source</li>
                        <li><input type="checkbox" id="licreatedby" />Created By</li>
                        <li><input type="checkbox" id="lilocation" />Location</li>
                        <li><input type="checkbox" id="lileadstatus" checked />Current Action Lead Status</li>
                        <li>
                            <input type="checkbox" id="lileadnextdate" checked />Next Date
                        </li>
                        <li>
                            <input type="checkbox" id="liapointment" />Appointments
                        </li>
                        <li><input type="checkbox" id="liOpnCls" checked />Open / Close</li>
                        <li><input type="checkbox" id="licustomer" />Customer</li>
                        <li><input type="checkbox" id="liassignedto" />Assigned To</li>

                        <li><input type="checkbox" id="lileadlevel" />Lead Level</li>
                        <li><input type="checkbox" id="limobile" checked />Mobile</li>
                        <li><input type="checkbox" id="lifromdate" />From Date</li>
                        <li><input type="checkbox" id="litodate" />To Date</li>
                        <li><input type="checkbox" id="listartdate" />Start Date</li>
                        <li><input type="checkbox" id="lienddate" />End Date</li>
                        @*---------------- For Optional Fields ----------------*@
                        @if (Model.FieldMap != null && Model.FieldMap.Count > 0)
                        {
                            for (int i = 0; i < Model.FieldMap.Count; i++)
                            {
                                if (Model.FieldMap[i].Field == "Ref1")
                                {
                                    <li><input type="checkbox" id="liOptionalField1" />@Model.FieldMap[i].FieldName</li>
                                }
                                if (Model.FieldMap[i].Field == "Ref2")
                                {
                                    <li><input type="checkbox" id="liOptionalField2" />@Model.FieldMap[i].FieldName</li>
                                }
                                if (Model.FieldMap[i].Field == "Ref3")
                                {
                                    <li><input type="checkbox" id="liOptionalField3" />@Model.FieldMap[i].FieldName</li>
                                }
                                if (Model.FieldMap[i].Field == "Ref4")
                                {
                                    <li><input type="checkbox" id="liOptionalField4" />@Model.FieldMap[i].FieldName</li>
                                }
                                if (Model.FieldMap[i].Field == "Ref5")
                                {
                                    <li><input type="checkbox" id="liOptionalField5" />@Model.FieldMap[i].FieldName</li>
                                }
                            }
                        }

                        <li><input type="checkbox" id="lilastupdated" />Last Updated</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">

                <div class="box-body search-box" id="advsearchlist">

                    <div class="search-body col-md-12" style="background:none;">

                        <form id="search-form">

                            <div class="row">
                                <div class="form-group col-md-2" id="searchleadcode">
                                    @Html.Label("Lead Code", null, new { @class = "control-label" })
                                    @Html.TextBox("LeadCode", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="form-group col-md-2" id="searchleadname">
                                    @Html.Label("Lead Name", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlLeadName", (SelectList)ViewBag.LeadName, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2 " id="searchleadsource" style="display:none;">
                                    @Html.Label("Lead Source", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlLeadSource", (SelectList)ViewBag.LeadSource, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2" id="searchcreatedby" style="display:none;">
                                    @Html.Label("CreatedBy", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlCreatedBy", (SelectList)ViewBag.CreatedBy, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2 " id="searchlocation" style="display:none;">
                                    @Html.Label("Location", null, new { @class = "control-label" })
                                    @Html.TextBox("TxtLocation", "", "", new { @class = "form-control input-sm", @autocomplete = "off" })
                                </div>
                                <div class="form-group col-md-2 " id="searchleadstatus" style="margin-bottom:14px;">
                                    @Html.Label("Lead Status", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlLeadStatus", (SelectList)ViewBag.LeadStatus, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2" id="searchOpnCls" style="">
                                    @Html.Label("Open / Close", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlOpnCls", new SelectList(new List<SelectListItem>
                                        {

                                        new SelectListItem() {Text = "Open", Value="0"},
                                        new SelectListItem() {Text = "All", Value=""},
                                        new SelectListItem() {Text = "Closed", Value="1"}
                                        }, "Value", "Text"), new { @class = "form-control input-sm" })
                                </div>
                                <div class="form-group col-md-2 " id="searchcustomer" hidden style="margin-bottom:14px; display:none;">
                                    @Html.Label("Customer", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlCustomer", (SelectList)ViewBag.Customer, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2" id="searchassignedto" style="margin-bottom: 14px; display: none;">
                                    @Html.Label("Assigned To", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlAssignedTo", (SelectList)ViewBag.AssignedTo, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2 " id="searchleadlevel" style="display:none;">
                                    @Html.LabelFor(model => model.LeadLevel, htmlAttributes: new { @class = "control-label " })
                                    @Html.DropDownList("LeadLevel", new SelectList(new List<SelectListItem>
                                    {
                                       new SelectListItem(){ Text = "All", Value="All" },
                                        new SelectListItem() {Text = "Small", Value="Small" },
                                        new SelectListItem() {Text = "Medium", Value="Medium"},
                                        new SelectListItem() {Text = "High", Value="High"},

                                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "LeadLevel", tabindex = 7 })
                                </div>
                                <div class="form-group col-md-2" id="searchmobile" style="margin-bottom:14px;">
                                    @Html.Label("Mobile", null, new { @class = "control-label" })
                                    @Html.DropDownList("ddlmobile", (SelectList)ViewBag.Mobile, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2" id="searchnextdate" hidden>
                                    @Html.Label("Next Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("NextDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="searchappoinments" style="display:none;">
                                    <div class="form-group col-md-2" id="">
                                        @Html.Label("Appointment From Date", null, new { @class = "control-label" })
                                        <div class="input-group date">
                                            @Html.TextBox("apFrom", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2" id="">
                                        @Html.Label("Appointment To Date", null, new { @class = "control-label" })
                                        <div class="input-group date">
                                            @Html.TextBox("apTo", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2" id="searchfromdate" style="display:none;">
                                    @Html.Label("From Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 " id="searchtodate" style="display:none;">
                                    @Html.Label("To Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-2" id="searchstartdate" style="display:none;">
                                    @Html.Label("Start Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("StartsDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 " id="searchenddate" style="display:none;">
                                    @Html.Label("End Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("EndsDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                                @*----------------- For Optional Fields -----------------*@
                                @if (Model.FieldMap.Count > 0)
                                {
                                    for (int i = 0; i < Model.FieldMap.Count; i++)
                                    {
                                        if (Model.FieldMap[i].Type == "Dropdown")
                                        {
                                            if (Model.FieldMap[i].Field == "Ref1")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField1" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef1, "All", new { @id = "Ref1", @class = "form-control input-sm select2 ref" })
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref2")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField2" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef2, "All", new { @id = "Ref2", @class = "form-control input-sm select2 ref" })
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref3")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField3" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef3, "All", new { @id = "Ref3", @class = "form-control input-sm select2 ref" })
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref4")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField4" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef4, "All", new { @id = "Ref4", @class = "form-control input-sm select2 ref" })
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref5")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField5" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef5, "All", new { @id = "Ref5", @class = "form-control input-sm select2 ref" })
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.FieldMap[i].Field == "Ref1")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField1" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref2")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField2" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref3")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField3" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref4")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField4" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>
                                            }
                                            if (Model.FieldMap[i].Field == "Ref5")
                                            {
                                                <div class="form-group col-md-2 " id="searchOptionalField5" style="display: none;">
                                                    <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                                                    <input class="form-control select2" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="">
                                                </div>
                                            }
                                        }
                                    }
                                }

                                <div class="form-group col-md-2 " id="searchlastupdated" hidden style="margin-bottom: 14px; display: none;">
                                    @Html.Label("LastUpdated", null, new { @class = "control-label" })
                                    @Html.DropDownList("LastUpdated", new SelectList(new List<SelectListItem>
                                    {
                                       new SelectListItem(){ Text = "All", Value="0"},
                                        new SelectListItem() {Text = "1 Day Ago", Value="1"},
                                        new SelectListItem() {Text = "7 Days Ago", Value="7"},
                                        new SelectListItem() {Text = "1 Month Ago", Value="30"},
                                        new SelectListItem() {Text = "3 Months Ago", Value="90"},
                                        new SelectListItem() {Text = "6 Months Ago", Value="180"},
                                        new SelectListItem() {Text = "1 Year Ago", Value="360"},
                                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "LastUpdated", tabindex = 7 })
                                </div>

                                <div class="form-group col-md-2" id="search">
                                    <input type="submit" class="btn btn-submit" value="Submit" />
                                </div>
                                <div class="form-group col-md-2" id="close">
                                    <input type="button" class="btn btn-close" value="Close" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-2" id="searchpagelength">

        <span class="sh-spaan-text-style">Show &nbsp;</span>@Html.DropDownList("ddlPagesize", new SelectList(new List<SelectListItem>
{
new SelectListItem() {Text = "50 Rows", Value="50"},
new SelectListItem() {Text = "All Rows", Value="10000000"},

}, "Value", "Text"), new { @class = "sh-input-drop select2" })

    </div>
    @using (Html.BeginForm("DeleteAllLeads", "Leads", FormMethod.Post, new { id = "payform", role = "form" }))
    {
        <div class="box-body">
            <table class="table table-bordered table-hover" id="MyTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="2">#</td>
                        <td data-priority="4">Code</td>
                        <td data-priority="3">Name</td>
                        <td data-priority="3">Appointment</td>
                        <td data-priority="7">Customer</td>
                        <td data-priority="5">Phone</td>
                        <td data-priority="6">Contact</td>
                        <td data-priority="9">Email</td>
                        <td data-priority="8">Curr.Status</td>
                        <td data-priority="8">Next Date</td>
                        <td data-priority="8">Finish Date</td>
                        <td data-priority="9">Assigned To</td>
                        <td data-priority="5">Open/Close</td>
                        <td data-priority="7">LastUpdated</td>
                        <td data-priority="1"> Action</td>
                        <td data-priority="4"><input type="checkbox" id="select_all" /></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    }

    <div id="modal-container2" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Remarks </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body" id="modelview">
                        <p id="remarkMain"></p>
                        <table class="table table-bordered table-hover" id="RemarkInfo">
                            <thead>
                                <tr class="bg-gray">
                                    <td data-priority="1">#</td>
                                    <td data-priority="2">TimeStamp</td>
                                    <td data-priority="3">Employee</td>
                                    <td data-priority="4">Remark</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@{var vModel = "";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
    @Styles.Render("~/css/bootstrap-timepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
    @Scripts.Render("~/js/bootstrap-timepicker")
<script type="text/javascript">
        var chkflag = 0;
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });
        $('#ddlPagesize').on('change', function (e) {

            let pagedroplength = $('#ddlPagesize').val();
            oTable.page.len(pagedroplength).draw();
        });
        function Alertfn() {
            alert("There is no Document Attached");
        }
        $(document).ready(function () {
            $('#ddlPagesize').trigger("change");
            //$('#advsearchlist').hide();

            $('[data-confirm]').click(function (e) {
                if ($('.checkbox:checked').length > 0) {
                    if (!confirm(jQuery(this).attr("data-confirm"))) {
                        e.preventDefault();
                    }
                }
                else {
                    alert("Please Select Rows..!!");
                    e.preventDefault();
                }
            });
        });

        /************* Function to display/hide fields while clicking on checkboxes (Select Fields) **************/
        $("ul li input:checkbox").click(function () {
            var _show = 0;

            //Lead Code
            if ($("#lileadcode").prop("checked") == true) {
                $("#searchleadcode").show();
                _show = 1;
            }
            else {
                $("#LeadCode").val("");
                $("#searchleadcode").hide();
               // oTable.draw();
            }

            //Lead Name
            if ($("#lileadname").prop("checked") == true) {
                $("#searchleadname").show();
                _show = 1;
            }
            else {
                $('#ddlLeadName').val(0).trigger("change");
                $("#searchleadname").hide();
                //oTable.draw();
            }

            //Lead Source
            if ($("#lileadsource").prop("checked") == true) {
                $("#searchleadsource").show();
                _show = 1;
            }
            else {
                $('#ddlLeadSource').val(0).trigger("change");
                $("#searchleadsource").hide();
               // oTable.draw();
            }

            //Created By
            if ($("#licreatedby").prop("checked") == true) {
                $("#searchcreatedby").show();
                _show = 1;
            }
            else {
                $('#ddlCreatedBy').val(0).trigger("change");
                $("#searchcreatedby").hide();
               // oTable.draw();
            }

            //Location
            if ($("#lilocation").prop("checked") == true) {
                $("#searchlocation").show();
                _show = 1;
            }
            else {
                $('#TxtLocation').val("");
                $("#searchlocation").hide();
                //oTable.draw();
            }

            //Lead Status
            if ($("#lileadstatus").prop("checked") == true) {
                $("#searchleadstatus").show();
                _show = 1;
            }
            else {
                $('#ddlLeadStatus').val(0).trigger("change");
                $("#searchleadstatus").hide();
               // oTable.draw();
            }
            //open /close
            if ($("#liOpnCls").prop("checked") == true) {
                $("#searchOpnCls").show();
                _show = 1;
            }
            else {
                $('#ddlOpnCls').val(0).trigger("change");
                $("#searchOpnCls").hide();
                // oTable.draw();
            }
            if ($("#lileadnextdate").prop("checked") == true) {
                $("#searchnextdate").show();
                _show = 1;
            }
            else {
                $('#lileadnextdate').val(0).trigger("change");
                $("#searchnextdate").hide();
                // oTable.draw();
            }
            //customer
            if ($("#licustomer").prop("checked") == true) {
                $("#searchcustomer").show();
                _show = 1;
            }
            else {
                $('#ddlCustomer').val(0).trigger("change");
                $("#searchcustomer").hide();
                // oTable.draw();
            }
            //Assigned To
            if ($("#liassignedto").prop("checked") == true) {
                $("#searchassignedto").show();
                _show = 1;
            }
            else {
                $('#ddlAssignedTo').val(0).trigger("change");
                $("#searchassignedto").hide();
               // oTable.draw();
            }

            //Lead Level
            if ($("#lileadlevel").prop("checked") == true) {
                $("#searchleadlevel").show();
                _show = 1;
            }
            else {
                $("#LeadLevel").val("All");
                $("#searchleadlevel").hide();
               // oTable.draw();
            }
            if ($("#liapointment").prop("checked") == true) {
                $(".searchappoinments").show();
                _show = 1;
            }
            else {
                $("#apFrom").val("");
                $("#apTo").val("");
                $(".searchappoinments").hide();
                // oTable.draw();
            }

            //Mobile
            if ($("#limobile").prop("checked") == true) {
                $("#searchmobile").show();
                _show = 1;
            }
            else {
                $('#ddlmobile').val("All").trigger("change");
                $("#searchmobile").hide();
               // oTable.draw();
            }

            //From Date
            if ($("#lifromdate").prop("checked") == true) {
                $("#searchfromdate").show();
                _show = 1;
            }
            else {
                $("#From").val("");
                $("#searchfromdate").hide();
               // oTable.draw();
            }
            //From Date
            if ($("#option1").prop("checked") == true) {
                $("#option11").show();
                _show = 1;
            }
            else {

                $("#option11").hide();
                //oTable.draw(1);
            }
            if ($("#option2").prop("checked") == true) {
                $("#option22").show();
                _show = 1;
            }
            else {

                $("#option22").hide();
                //oTable.draw();
            }

            //To Date
            if ($("#litodate").prop("checked") == true) {
                $("#searchtodate").show();
                _show = 1;
            } else {
                $("#To").val("");
                $("#searchtodate").hide();
               // oTable.draw();
            }

            //Start Date
            if ($("#listartdate").prop("checked") == true) {
                $("#searchstartdate").show();
                _show = 1;
            } else {
                $("#StartsDate").val("");
                $("#searchstartdate").hide();
               // oTable.draw();
            }

            //End Date
            if ($("#lienddate").prop("checked") == true) {
                $("#searchenddate").show();
                _show = 1;
            } else {
                $("#EndsDate").val("");
                $("#searchenddate").hide();
               // oTable.draw();
            }

            //Optional Field1
            if ($("#liOptionalField1").prop("checked") == true) {
                $("#searchOptionalField1").show();
                _show = 1;
            }
            else {
                $('#Ref1').val(null).trigger("change");
                $("#searchOptionalField1").hide();
                //oTable.draw();
            }

            //Optional Field2
            if ($("#liOptionalField2").prop("checked") == true) {
                $("#searchOptionalField2").show();
                _show = 1;
            }
            else {
                $('#Ref2').val(null).trigger("change");
                $("#searchOptionalField2").hide();
               // oTable.draw();
            }

            //Optional Field3
            if ($("#liOptionalField3").prop("checked") == true) {
                $("#searchOptionalField3").show();
                _show = 1;
            }
            else {
                $('#Ref3').val(null).trigger("change");
                $("#searchOptionalField3").hide();
               // oTable.draw();
            }
            //Optional Field4
            if ($("#liOptionalField4").prop("checked") == true) {
                $("#searchOptionalField4").show();
                _show = 1;
            }
            else {
                $('#Ref4').val(null).trigger("change");
                $("#searchOptionalField4").hide();
               // oTable.draw();
            }

            //Optional Field5
            if ($("#liOptionalField5").prop("checked") == true) {
                $("#searchOptionalField5").show();
                _show = 1;
            }
            else {
                $('#Ref5').val(null).trigger("change");
                $("#searchOptionalField5").hide();
               // oTable.draw();
            }
            //last Updated
            if ($("#lilastupdated").prop("checked") == true) {
                $("#searchlastupdated").show();
                _show = 1;
            }
            else {
                $("#LastUpdated").val(0);
                $("#searchlastupdated").hide();
                //oTable.draw();
            }

            //If anyone checked, show Search division
            if (_show == 1) {
                $('#advsearchlist').show();
            }
            else {
                $('#advsearchlist').hide();
            }
        });

        var oTable = $('#MyTable').DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "timeout": 600000,
            responsive: true,
            "createdRow": function (row, data, dataIndex) {
                if (data.color == 3 && data.appointemployee!=null) {
                    $(row).addClass('redclass');
                }
                else {
                    $(row).addClass('blackclass');
                }


            },
            "ajax": {
                "url": '/Leads/GetAllLeads',
                "data": function (data) {
                    data.LeadCode = $('#LeadCode').val();
                    data.LeadName = $('#ddlLeadName').val();
                    data.LeadSource = $('#ddlLeadSource').val();
                    data.CreatedBy = $('#ddlCreatedBy').val();
                    data.Location = $('#TxtLocation').val();
                    data.LeadStatus = $('#ddlLeadStatus').val();
                    data.LeadCustomer = $('#ddlCustomer').val();
                    data.AssignedTo = $('#ddlAssignedTo').val();
                    data.LeadLevel = $('#LeadLevel').val();
                    data.Mobile = $('#ddlmobile').val();
                    data.fromdate = $('#From').val();
                    data.todate = $('#To').val();
                    data.StartDate = $('#StartsDate').val();
                    data.EndDate = $('#EndsDate').val();
                    data.LastUpdDays = $('#LastUpdated').val();
                    data.ref1 = $('#Ref1').val();
                    data.ref2 = $('#Ref2').val();
                    data.ref3 = $('#Ref3').val();
                    data.ref4 = $('#Ref4').val();
                    data.ref5 = $('#Ref5').val();
                    data.flag = chkflag;
                    data.nextdate = $("#NextDate").val();
                    data.opncls = $("#ddlOpnCls").val();
                    data.apfrom = $("#apFrom").val();
                    data.apto = $("#apTo").val();
                },
                "type": "POST",
                "datatype": "json"
            },
            "order": [[11, "desc"]],
            "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                  { "data": "LeadCode", "name": "LeadCode" },
                  {
                      "name": "LeadName", "data": function (data) {
                          @{
                              var datas = "";
                              if (User.IsInRole("Dev") || User.IsInRole("View Leads"))
                              {
                                  datas = "'<a href=\"/Leads/Details/'+ data.id +'\">'+ qkEsc(data.LeadName) +'</a>' "; // S13: escape name
                              }
                              else
                              {
                                  datas = "data.LeadName";
                              }
                          }
                          return @Html.Raw(datas);
                      }
                  },
                {
                    "name": "TaxRegNo", "data": function (data) {
                        var str = "";
                        if (data.appointemployee != null && data.StartDate!=null) {

                            str = data.appointemployee.empname + " on " + convertToDate(data.StartDate) + "  " +data.StartTime;
                        }
                        return str;
                    }
                },


             {
                      "name": "LeadName", "data": function (data) {
    if(data.custdetails!=null)
    {
                          @{
                              var datass = "";
                            
                                  datas = "'<a href=\"/Customer/Details/'+ data.custdetails.CustomerID +'\">'+ qkEsc(data.custdetails.CustomerName) +'</a>' "; // S13: escape name
                              }
                             
                          
                          return @Html.Raw(datas);
                      }
    
else
    {
    return "no customer";
    }
    }

                  },
      { "data": "Location", "name": "Location" },
    
                 {
                     "name": "Mobile", "data": function (data) {
                         var datas = "";
                         $.each(data.mobmodel, function (i, item) {
                             if (item.Num != null) {
                                 if (datas != "") {
                                     datas += "<br> ";
                                 }
                                 datas += qkEsc(item.Name) + '<br>'; // S13: escape
                                 datas += '<a href="tel:' + encodeURIComponent(item.Num) + '">' + qkEsc(item.Num) + '</a>' + '<br>';
                                 datas += qkEsc(item.emails) + '<br>';
                             }
                         });
                         return datas;
                     }
                 },

                { "data": "Location", "name": "Location" },


                { "data": "StatusType", "name": "StatusType" },
                {
                    "name": "nextdate", "data": "nextdate", "render": function (data) {
                        if (data != null)
                            return convertDateTime(data);
                        else
                            return data;
                    }
                },
                {
                    "name": "finishdate", "data": "finishdate", "render": function (data) {
                        if (data != null)
                            return convertDateTime(data);
                        else
                            return data;
                    }
                },
                 {
                       "name": "lead", "data": function (data) {
                           var datas = "";
                           $.each(data.lead, function (i, item) {
                               if (datas != "") {
                                   datas += ", ";
                               }
                               datas += item.emp;
                           })
                           return datas;
                       }
                 },
                {
                    "name": "OpenClose",
                    "data": function (data) {
                        if (data.OpenClose == null) {
                            return "Open";
                        } else if (data.OpenClose == "0") {
                            return "Open";
                        } else { return "Closed"; }
                    }
                },
                 {
                     "name": "ldate", "data": function (data) {
                          var result = "";
                          if (data.ldate != null) {
                              result = LastUpdatedIn(data.ldate);
                          }
                          return (result);
                     }
                 },
                 {
                     "name": "id", "data": function (data) {
                         var rest = "";
                         var rest2 = "";
                         @{

                             if (User.IsInRole("Dev") || User.IsInRole("Edit Leads"))
                             {

                                 actData += "<a class=\"btn btn-icons btn-rounded btn-edit\" href=\"/Leads/Edit/'+ data.id +'\" title=\"Edit Leads\"><i class=\"fa fa-pencil\" ></i></a> ";

                             }
                             actData += "<a class=\"btn btn-icons btn-rounded btn-edit modal-create\" href=\"/Leads/AddRemark/'+ data.id +'\" title=\"Add Remarks\"><i class=\" fa fa-plus\" ></i></a> ";

                             // actData += "<a class=\"btn btn-icons btn-rounded btn-update modal-create\" href=\"/Leads/LeadModal/'+ data.id +'\" title=\"Edit Leads\"><i class=\"fa fa-refresh\" ></i></a> ";

                             if (User.IsInRole("Dev") || User.IsInRole("Delete Leads"))
                             {

                                 actData += "<a class=\"btn btn-icons btn-rounded btn-delete modal-delete\" href=\"/Leads/Delete/'+ data.id +'\" title=\"Delete Leads\"><i class=\"fa fa-trash\" ></i></a> ";
                             }
                             if (User.IsInRole("Dev") || User.IsInRole("Create PipeLine"))
                             {
                                 actData += "<a href=\"/PipeLine/Create/'+ data.id +'/Lead\" title=\"Convert To PipeLine\"><i class=\"fa-lg fa fa-arrows-h\" ></i></a> ";
                             }
                             if (User.IsInRole("Dev") || User.IsInRole("Create Customer"))
                             {
                                 actData += "<a class=\"btn btn-icons btn-rounded btn-convert\" href=\"/Customer/Create/'+ data.id+'/Lead\" title=\"Convert To Customer\"><i class=\"fa fa-exchange\" ></i></a> ";
                                 actData += "<a class=\"btn btn-icons btn-rounded btn-convert modal-create\" href=\"/Customer/assign/'+ data.id+'/Lead\" title=\"Assign To Customer\"><i class=\"fa fa-address-book \" ></i></a> ";

                             }

                             actData += "<a class=\"Updation btn btn-icons btn-rounded btn-remark\" onclick=\"details(' + data.id + ')\"onclick=\"details(' + data.id + ')\" title=\"View Remarks\"><i class=\"fa fa-comments\" ></i></a>";

                             if (User.IsInRole("Dev") || User.IsInRole("Details Leads"))
                             {
                                 actData += "<a class=\"Updation\" onclick=\"details(' + data.id + ')\"onclick=\"details(' + data.id + ')\" title=\"View Remarks\"><i class=\"fa-lg fa fa-comments\" ></i></a> ";
                             }
                             actData += "<a class=\"btn btn-icons btn-rounded btn-edit modal-create\" href=\"/Leads/AddCustomerRemark/'+ data.id +'\" title=\"Add Appointment\"><i class=\" fa fa-truck\" ></i></a> ";
                             actData += "<a class=\"modal-create\" href=\"/Leads/AddamcImage/'+ data.id +'\" title=\"Add lead Document\"><i class=\"fa-lg fa fa-upload\" ></i></a> ";

                             }

                             rest2 = '<a class=\"btn btn-icons btn-rounded btn-edit modal-create\" href=\"/Leads/DownloadDoc/' + data.id + '\" title=\"Download Entry\"><i class=\"fa-lg fa fa-download\" ></i></a> ';

                         return rest = '@Html.Raw(actData)' + rest2;
                     }
                 },
                 {
                      "name": "id", "data": function (data) {
                          var rest = "";
                          @{
                              if (User.IsInRole("Dev") || User.IsInRole("Delete Leads"))
                              {
                                  delchk = "<input class=\"checkbox\" type=\"checkbox\" name=\"bill[]\" value='+ data.id +'></input>";
                              }
                          }
                          return rest = '@Html.Raw(delchk)';
                      }
                 },

            ],
            // buttons
            dom: 'Bfrtip',
            buttons: ['colvis', {
                extend: 'print',//
                title: "",
                footer: true,
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                },
                message: '<table class="tblcompact table table-bordered"><thead>' +
                    ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + '<h4>Leads </h4></th></tr>' +
                    ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> </span></th></tr></thead><tbody><tr><td>',
                customize: function (win) {
                    // $(win.document.body)
                    //.css('font-size', '10pt')
                    //.css('padding', '1px');
                    $(win.document.body).find('table, th,tr, td ')
                       // .css('border', 'inherit')
                        .css('font-size', '10pt')
                        .css('padding', '5px')
                        .addClass('compact');
                    $(win.document.body).append('</td></tr></tbody>')
                }
            }, 'copy', 'csv', 'excel',

            {
                extend: 'pdf',//
                title: "Leads",
                footer: true,
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                },
                customize: function (doc) {
                    doc.pageMargins = [10, 10, 10, 10];
                    doc.defaultStyle.fontSize = 10;
                    doc.styles.tableHeader.fontSize = 10;
                    doc.styles.title.fontSize = 12;
                    // Remove spaces around page title
                    doc.content[0].text = doc.content[0].text.trim();

                    doc.content[1].table.widths = [
                          '5%',
                          '5%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '10%',
                          '15%',
                          '10%',
                    ]

                    var objLayout = {};
                    // Horizontal line thickness
                    objLayout['hLineWidth'] = function (i) { return .5; };
                    // Vertikal line thickness
                    objLayout['vLineWidth'] = function (i) { return .5; };
                    //// Horizontal line color
                    //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                    //// Vertical line color
                    //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                    // Left padding of the cell
                    objLayout['paddingLeft'] = function (i) { return 4; };
                    // Right padding of the cell
                    objLayout['paddingRight'] = function (i) { return 4; };
                    // Inject the object in the document
                    doc.content[1].layout = objLayout;
                }
            },
            @Html.Raw(deleteBTn)

            ],

            "drawCallback": function (settings) {
                var table = $('#MyTable').DataTable();
                if (!table.data().any()) {
                   // alert('hai1');
                    $("#sub").hide();
                }
                else {
                   // alert('hai2');
                    $("#sub").show();
                }
            }
        });

        var column1 = oTable.column(5);
        column1.visible(false);
        var column1 = oTable.column(7);
        column1.visible(false);

        var chkcol = '@userRole';

        if (chkcol == "True") {
            var column1 = oTable.column(12);
            column1.visible(true);
        } else {
            var column1 = oTable.column(12);
            column1.visible(false);
        }

       function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }

        $('#To').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        $('#From').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        //select all checkboxes
        $('body').on('change', '#select_all', function () {
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('body').on('change', '.checkbox', function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            isTicked();
        });
        isTicked();

        /* function for view detail popup */
        $('#MyTable').on('click', 'a.details', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');
        })

        /* function for Create popup */
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajaxnew(url, data, '#modal-create');
        });
        function createajaxnew(url, data, modal) {
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    if (data.status) {
                        $(modal).modal('hide');
                        //$(modal + ' .modal-content').empty();
                        $(modal + ' .modal-content').html('');
                        $('.ajax_response', res_success).text(data.message);
                        $('.AlertDiv').prepend(res_success);

                    }
                    else {
                        ////for (var i = 0; i < data.errors.length; i++) {
                        //    $('.ajax_response', res_danger).text(data.error[0]);
                        //    $('.AlertDiv').prepend(res_danger);
                        ////}

                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })
        }
        $('#modal-create').on('submit', '#createForm', function (e) {
            e.preventDefault();
            var url = $('#createForm')[0].action;
            var data = $('#createForm').serialize();
            createajaxnew(url, data, '#modal-create');
        });


        //create leads partial
        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#typeform', function (e) {
            e.preventDefault();
            var url = $('#typeform')[0].action;
            var data = $('#typeform').serialize();
            createajaxnew(url, data, '#modal-create');
        });

        /* function for delete popup */
        $('#MyTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-delete');
            $(this).attr('data-toggle', 'modal');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
            window.location = "/Leads/Index";
        });


        //AssignedTo
        function details(d) {
            var CustomerId = d;
            $.ajax({
                type: "POST",
                url: '/Leads/GetData',
                data: { CustomerId: CustomerId },
                success: function (data) {
                    if (data.data.TaxRegNo != null) {
                        $("#remarkMain").text(data.data.TaxRegNo);
                    }
                    else {
                        $("#remarkMain").html("");
                    }
                }
            })
            var oTable1 = $('#RemarkInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "pageLength": 50,
                "paging": false,
                // "bSort": true,
                "ajax": {
                    "url": '/Leads/GetAllRemarks',
                    "type": "POST",
                    "datatype": "json",
                    "data": { CustomerId: CustomerId }
                },
                "order": [[0, "desc"]],
                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                   { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                  { "data": "empnae", "name": "empnae" },
                  { "data": "Remark", "name": "Remark" },
                ],
            });
            oTable1.destroy();
        }

        ///Button close
        $('#srch, .search-box .btn-close').on('click', function (e) {

            $('#advsearchlist').toggle();

            /*******  To uncheck all the checkboxes in the Select List  ************/
            var checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function(Checkbox) {
                Checkbox.checked = false;
            });

            if ($('#srch').hasClass('btn-primary')) {
                $('#srch').addClass('btn-danger');
                $('#srch').removeClass('btn-primary');
            }
            else {
                if ($('#srch').hasClass('btn-danger')) {
                    $('#srch').addClass('btn-primary');
                    $('#srch').removeClass('btn-danger');
                }
            /*******  To clear all the data entered  *********/
                $('#LeadCode').val("");
                $('#ddlLeadName').val(0).trigger("change");
                $('#ddlLeadSource').val(0).trigger("change");
                $('#ddlCreatedBy').val(0).trigger("change");
                $('#TxtLocation').val("");
                $('#ddlLeadStatus').val(0).trigger("change");
                $('#ddlCustomer').val(0).trigger("change");
                $('#ddlAssignedTo').val(0).trigger("change");
                $('#LeadLevel').val("All");
                $('#ddlmobile').val("All").trigger("change");
                $('#From').val("");
                $('#To').val("");
                $('#StartsDate').val("");
                $('#EndsDate').val("");
                $('#LastUpdated').val(0);
                chkflag = 0;
                oTable.draw();
            }
        });

        $('#search-form').on('submit', function (e) {
            chkflag = 1;
            e.preventDefault();
            checkList.classList.remove('visible');
            oTable.draw();
        });

        $('.table').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container2');
            $(this).attr('data-toggle', 'modal');
        });

        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });

        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajaxnew(url, data, '#modal-create');
        });

        $('span').on('click', '.modal-project', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-project');
            //datepickerInit();
        });

     //Lead Name
     $("#ddlLeadName").select2({
         placeholder: 'Search Lead Name',
         minimumInputLength: 0,
         ajax: {
             url: "/Leads/SearchLeads",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"

                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });

     //Lead Source
     $("#ddlLeadSource").select2({
         placeholder: 'Search Lead Source',
         minimumInputLength: 0,
         ajax: {
             url: "/Leads/SearchLeadSource",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"

                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });

     //CreatedBy
     $("#ddlCreatedBy").select2({
         placeholder: 'Search Employee by Name ',
         minimumInputLength: 0,
         ajax: {
             url: "/Users/SearchUser",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"
                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });

     //LeadStatus
     $("#ddlLeadStatus").select2({
         placeholder: 'Search Lead Status ',
         minimumInputLength: 0,
         ajax: {
             url: "/Leads/SearchLeadStatus",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"
                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });


        $("#ddlCustomer").select2({
            placeholder: 'Search Customer by Name or Code',
            minimumInputLength: 0,
            dropdownAutoWidth: true,
            ajax: {
                url: "/Customer/SearchCustomer",
                dataType: 'json',
                delay: 50,

                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;

                    return {
                        results: data,
                        pagination: {
                            //more: (params.page * 10) < 50
                            more: true
                        }
                    };
                },
                cache: true
            },
        });

     //AssignedTo
     $("#ddlAssignedTo").select2({
         placeholder: 'Search Employee by Name ',
         minimumInputLength: 0,
         ajax: {
             url: "/Leads/SearchAssignedTo",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"
                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });

     //Mobile
     $("#ddlmobile").select2({
         placeholder: 'Search Mobile/Phone',
         minimumInputLength: 0,
         ajax: {
             url: "/Leads/SearchMobileAndPhone",
             dataType: 'json',
             delay: 50,
             data: function (params) {
                 return {
                     q: params.term,
                     page: params.page,
                     x: "all"

                 };
             },
             processResults: function (data, params) {
                 params.page = params.page || 1;

                 return {
                     results: data
                 };
             },
             cache: true
         },
     });

      $(".ref").select2({
            tags: true
      });

    var checkList = document.getElementById('list1');

   /******* Function to list and hide dropdown checklist while clicking on 'Select Fields' *******/
   checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
       chkflag = 1;
       if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
           checkList.classList.add('visible');
   }

    /******* Function to hide dropdown checklist while clicking outside it ********/
    $(document).on("click", function (event) {

        var element1 = $("#list1");

        if (element1 !== event.target && !element1.has(event.target).length) {
            checkList.classList.remove('visible');
        }
    });

</script>

}


