@model QuickSoft.ViewModel.StockTransferViewModel
@{
    ViewBag.Title = "List";
    ViewBag.SubTitle = "StockTransfer List";
    ViewBag.Active = "Transactions";
    string actData = "";
    bool userRole = false;
    string delchk = "";
    string deleteBTn = "";

    if (User.IsInRole("Dev") || User.IsInRole("Delete StockTransfer"))
    {
        userRole = true;
        deleteBTn = "{text: 'Delete', className: 'btn-danger', action: function(e, dt, node, config) {" +
            "if ($('.checkbox:checked').length > 0) {if (confirm('Are you sure you want to delete this?')) {$('#STransferForm').submit(); e.preventDefault();} " +
             "} else {alert('Please Select Rows..!!');e.preventDefault();}}},";
    }
}

<style type="text/css">

    .dropdown-check-list {
        display: inline-block;
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
            width: 150px;
            background: #fff;
            text-align: center;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 0px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 9999;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
                background: #fff;
                padding: 5px;
            }

    .add-btn-item {
        border-radius: 23px;
        padding: 6px 20px;
    }

    .dropdown-check-list.visible .anchor {
        color: #0094ff;
    }

    .dropdown-check-list.visible .items {
        display: block;
    }
</style>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">List Stock Transfer</h3>
        <div class="pull-right">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            @if (User.IsInRole("Dev") || User.IsInRole("StockTransfer Entry"))
            {
                <a class="btn btn-info no-border" href="/StockTransfer/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create
                </a>
            }
        </div>

        <div class="row">
            <div class="col-md-2">
                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor" style="z-index:0;">Select Fields</span>
                    <ul class="items">
                        <li><input type="checkbox" id="livoucher" />Voucher</li>
                        <li><input type="checkbox" id="licntrfrm" />Material Center From</li>
                        <li><input type="checkbox" id="licntrto" />Material Center To</li>
                        <li><input type="checkbox" id="lifromdate" />From Date</li>
                        <li><input type="checkbox" id="litodate" />To Date</li>
                        <li><input type="checkbox" id="liapprvlstatus" />Approval Status</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box-body search-box" id="advsearchlist">
                    <div class="search-body col-md-12" style="background:none;">
                        <form id="search-form">
                            <div class="row">
                                <input type="hidden" id="remId" />
                                <div class="form-group col-md-2" id="searchvoucher">
                                    @Html.Label("Voucher", null, new { @class = "control-label" })
                                    @Html.TextBox("Voucher", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="form-group col-md-2" id="searchcntrfrm">
                                    @Html.Label("Material Center From", null, new { @class = "control-label" })
                                    @Html.DropDownList("MCFrom", (SelectList)ViewBag.MCBag, "All", new { @class = "form-control select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchcntrto">
                                    @Html.Label("Material Center To", null, new { @class = "control-label" })
                                    @Html.DropDownList("MCTo", (SelectList)ViewBag.MCBag, "All", new { @class = "form-control select2" })
                                </div>
                                <div class="form-group col-md-2" id="searchfromdate">
                                    @Html.Label("From Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("FromDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-2" id="searchtodate">
                                    @Html.Label("To Date", null, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBox("ToDate", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.MLASTran == 0)
                                {
                                    <div class="form-group col-md-2" id="searchapprovalstatus">
                                        @Html.Label("Approval Status", null, new { @class = "control-label" })
                                        @Html.DropDownList("ApprovalStatus", (SelectList)ViewBag.AppStat, "All", new { id = "ApprovalStatus", @class = "form-control" })
                                    </div>
                                }

                                <div class="form-group col-md-2" id="search">
                                    <input type="submit" class="btn btn-submit" value="Submit" />
                                </div>
                                <div class="form-group col-md-2" id="close">
                                    <input type="button" class="btn btn-close" value="Close" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("DeleteAll", "StockTransfer", FormMethod.Post, new { id = "STransferForm", role = "form" }))
    {
        <div class="box-body">
            <table class="table table-bordered table-hover" id="SalesTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1">S/N</td>
                        <td data-priority="1">Voucher No</td>
                        <td data-priority="2">Date</td>
                        <td data-priority="1">Stock Transferred From</td>
                        <td data-priority="4">Stock Transferred To</td>
                        <td data-priority="3">Remarks</td>
                        <td data-priority="3" class="headeralign">Amount</td>
                        <td data-priority="5">Created By</td>
                        <td data-priority="3">Approval Status</td>
                        <td data-priority="2">Action</td>
                        <td data-priority="1"><input type="checkbox" id="select_all" /></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    }

    <div id="modal-container2" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-aqua">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Status Updation History</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover" id="UserTableInfo">
                        <thead>
                            <tr class="bg-aqua">
                                <td>Status</td>
                                <td>Updated By</td>
                                <td>Requested By</td>
                                <td>Date</td>
                                <td>Remarks</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{var Model = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Reminder/Index")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalChange")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
<script type="text/javascript">

        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $(".timepicker").timepicker({
            showInputs: true,
            defaultTime: false,
            format: 'dd-mm-yyyy'
        });
var otable;
        $(document).ready(function () {
            $('#advsearchlist').hide();
       
            $('#searchfromdate').show();
            
            $('#ToDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            $('#FromDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
              $('#FromDate').datepicker('setDate', priordate);
                 oTable = $('#SalesTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            responsive: true,
            "bLengthChange": false,
            "ajax": {
                "url": '/STockTransfer/GetSTockTransfer',
                "data": function (data) {
                    data.Voucher = $('#Voucher').val();
                    data.FromDate = $('#FromDate').val();
                    data.ToDate = $('#ToDate').val();
                    data.MFrom = $('#MCFrom').val();
                    data.MTo = $('#MCTo').val();
                    data.appstat = $('#ApprovalStatus').val();
                },
                "type": "POST",
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columnDefs": [{
                "targets": [9,10],
                "orderable": false
            }],
            "columns": [
                     {
                         "data": "Id", "name": "Id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "Voucher", "name": "Voucher" },
                 {
                     "data": "Date", "name": "Date",
                     "render": function (data) {
                         var date = convertToDate(data);
                         return date.toString();
                     }
                 },
                { "data": "MCFrom", "name": "MCFrom" },
                {
                    "data": "MCTo", "name": "MCTo"


                },
                { "data": "Remarks", "name": "Remarks" },
                { "data": "TotalAmount", "name": "TotalAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },

                { "data": "User", "name": "User" },
                 {
                     "name": "ApprovalStatus", "data": function (data, type, dataToSet) {
                         var status = "";
                         var cls = "";
                         if (data.app.length > 0 || (data.Approval == true && '@ViewBag.MLASTran' == 'active')) {
                             if (data.ApprovalStatus == "0") {
                                 status = '<span class="badge bg-green">Approved</span>';
                             }
                             else if (data.ApprovalStatus == "1") {
                                 status = '<span class="badge bg-red">Rejected</span>';
                             }
                             else if (data.ApprovalStatus == "2") {
                                 status = '<span class="badge bg-orange">Pending</span>';
                             }
                             return '<a  class="Updation" onclick="details(' + data.Id + ')"  title="View Status">' + status + ' </a>';
                         } else { return null; }
                     }
                 },
                    {
                        "name": "Id", "data": function (data) {
                            var rest = "";

                            @{
                                //if (User.IsInRole("Dev") || User.IsInRole("View STockTransfer"))
                                {
                                    actData += "<a class=\"details\" href=\"/STockTransfer/Details/'+ data.Id +'\" title=\"View STockTransfer Entry\"><i class=\"fa fa-lg fa-search-plus\"></i></a> ";
                                }
                                //if (User.IsInRole("Dev") || User.IsInRole("Edit StockTransfer"))
                                //{
                                //    actData += "<a href=\"/STockTransfer/Edit/'+ data.Id +'\" title=\"Edit Entry\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                //}
                                if (User.IsInRole("Dev") || User.IsInRole("Delete StockTransfer"))
                                {
                                    actData += "<a class=\"modal-delete\" href=\"/STockTransfer/Delete/'+ data.Id +'\" title=\"Delete Entry\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                                }
                                if (User.IsInRole("Dev") || User.IsInRole("Download StockTransfer"))
                                {
                                    actData += "<a class=\"modal-link-download\" href=\"/StockTransfer/Download/'+ data.Id +'\" title=\"Download StockTransfer\"><i class=\"fa-lg fa fa-download\" ></i></a> ";
                                }
                                {
                                    actData += "<a class=\"detailss\" href=\"/LogDetails/?TransId='+ data.Id +'&TransType='+ 'StockTransfer' +'\" title=\"View Stock Transfer History\" target=\"new\"><i class=\"fa fa-lg fa-history\"></i></a> ";
                                }

                            }
                            rest += '@Html.Raw(actData)';
                            if (data.validornot == "valid") {
                                //data.CreatedUserToEdit == true
                                if (1==1) {
                           @{
                               if (User.IsInRole("Dev") || User.IsInRole("Edit StockTransfer"))
                               {
                                   actData = "";
                                   actData += "<a href=\"/STockTransfer/Edit/'+ data.Id +'\" title=\"Edit Entry\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                               }
                           }
                                    rest += '@Html.Raw(actData)';
                                }
                            }
                            else {
                                //data.CreatedUserToEdit == true
                                if (1==1) {
                               @{
                                   if (User.IsInRole("Dev") || User.IsInRole("Edit StockTransfer"))
                                   {
                                       actData = "";
                                       actData += "<a href=\"#\" onclick=\"AlertFunction(' + data.userEditDays + ')\" title=\"\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                   }
                               }
                                    rest += '@Html.Raw(actData)';
                                }
                            }
                            if ('@ViewBag.StockTrnsfrUpdate' == 'active') {

                                if (data.Approval == true) {//&& '@ViewBag.MLASTran' == 'active'
                                @{
                                 actData = "";
                                 actData = "<a class=\"modal-edit\"  href=\"/StockTransfer/EditStatus/'+ data.Id  +'\" title=\"Edit Status\"><i class=\"fa fa-lg fa-refresh\" ></i></a> ";

                             }
                                    rest += '@Html.Raw(actData)';
                                }
                            } else {
                                 if (data.Approval == true && '@ViewBag.MLASTran' == 'active') {
                                @{
                                 actData = "";
                                 actData = "<a class=\"modal-edit\"  href=\"/StockTransfer/EditStatus/'+ data.Id  +'\" title=\"Edit Status\"><i class=\"fa fa-lg fa-refresh\" ></i></a> ";

                             }
                                    rest += '@Html.Raw(actData)';
                                }
                            }
                            if ("@ViewBag.Remind" == "active") {
                                @{
                                   actData = "";
                                   actData += "<a class=\"UpdationRe\" onclick=\"detailsRemind(' + data.Id + ')\" title=\"View Reminder\"><i class=\"fa-lg fa fa-bell\" ></i></a> ";
                                   actData += "<a class=\"modal-create\" href=\"/Reminder/AddReminder/'+ data.Id +'/StkTrans\" title=\"Add Reminder\"><i class=\"fa-lg fa fa-sticky-note\" ></i></a> ";
                               }
                                rest += '@Html.Raw(actData)';
                            }
                            return rest;
                        }
                    },
                     {
                         "name": "Id", "data": function (data) {
                             var rest = "";
                             @{
                                 if (User.IsInRole("Dev") || User.IsInRole("Delete StockTransfer"))
                                 {
                                     delchk = "<input class=\"checkbox\" type=\"checkbox\" name=\"bill[]\" value='+ data.Id +'></input>";
                                 }
                             }
                             return rest = '@Html.Raw(delchk)';
                         }
                     },
            ],
            buttons: [
               'colvis',
               {
                   extend: 'print',//
                   title: "",
                   footer: true,
                   filename: function () {
                       return 'Stock Transfer';
                   },
                   columnDefs: [
                       { width: 400, targets: 2 }
                   ],
                   exportOptions: {
                       columns: ':visible'
                   },
                   message: function () {
                       var head = '<table class="tblcompact table table-bordered"><thead>' +
                       ' <tr><th class="text-center"><h3 style="margin-top: 0px;"><h4>Stock Transfer</h4></th></tr>';
                       return head;
                   },
                   customize: function (win) {
                       // $(win.document.body)
                       //.css('font-size', '10pt')
                       //.css('padding', '1px');
                       $(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
                       $(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
                           .css('font-size', '10pt')
                           .css('padding', '5px')
                           .addClass('compact');
                       $(win.document.body).find('.dataTable tr th:nth-child(3)')
                           .css('min-width', '80px');
                       //$(win.document.body).find('.tblcompact tbody td:nth- child(2)')
                       //    .css('padding', '0px');
                       $(win.document.body).append('</td></tr></tbody>')

                   }
               }, 'copy', 'csv', //'excel',
               {
                   extend: 'pdf',//
                   title: "",
                   footer: true,
                   filename: function () {
                       return 'Stock Transfer';
                   },
                   message: function () {
                       var head = 'Stock Transfer';
                       return head;
                   },
                   pageSize: 'A4',
                   exportOptions: {
                       columns: ':visible'
                   },
                   customize: function (doc) {
                       doc.pageMargins = [10, 10, 10, 10];
                       doc.defaultStyle.fontSize = 10;
                       doc.styles.tableHeader.fontSize = 10;
                       doc.styles.title.fontSize = 12;
                       // Header font and bg color
                       doc.styles.tableHeader.fillColor = '#d3d3d3';
                       doc.styles.tableHeader.color = 'black';
                       // Remove spaces around page title
                       doc.content[0].text = doc.content[0].text.trim();


                       doc.styles['td:nth-child(2)'] = {
                           width: '100%',
                           'max-width': '100%'
                       }

                       var objLayout = {};
                       // Horizontal line thickness
                       objLayout['hLineWidth'] = function (i) { return .5; };
                       // Vertikal line thickness
                       objLayout['vLineWidth'] = function (i) { return .5; };
                       //// Horizontal line color
                       //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                       //// Vertical line color
                       //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                       // Left padding of the cell
                       objLayout['paddingLeft'] = function (i) { return 4; };
                       // Right padding of the cell
                       objLayout['paddingRight'] = function (i) { return 4; };
                       // Inject the object in the document
                       doc.content[1].layout = objLayout;
                       // Footer font and bg color
                       doc.styles.tableFooter.fillColor = '#d3d3d3';
                       doc.styles.tableFooter.color = 'black';

                   }
               }, @Html.Raw(deleteBTn)

            ],
            sDom: "lBfr<'datatable-scroll't>ip",
            "drawCallback": function (settings) {
                //var table = $('#SalesTable').DataTable();
                //if (!table.data().any()) {
                //    $("#sub").hide();
                //} else {
                //    $("#sub").show();
                //}
            }

        });

        var chkcol = '@userRole';
        if (chkcol == "True") {
            var column1 = oTable.column(10);
            column1.visible(true);
        }
        else {
            var column1 = oTable.column(10);
            column1.visible(false);
        }

        var statcol = '@ViewBag.MLASTran';
        if (statcol == "active") {
            var column1 = oTable.column(8);
            column1.visible(true);
        }
        else {
            var column1 = oTable.column(8);
            column1.visible(false);
        }
 $("#lifromdate").trigger("click");
        });
        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }



        //select all checkboxes
        $('body').on('change', '#select_all', function () {
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('body').on('change', '.checkbox', function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            isTicked();
        });
        isTicked();

        /* function for view detail popup */
        $('#SalesTable').on('click', 'a.details', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })

        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });

        $('#modal-create').on('submit', '#STransferForm', function (e) {
            e.preventDefault();
    
            var url = $('#STransferForm')[0].action;
            var data = $('#STransferForm').serialize();
            createajax(url, data, '#modal-create');
        });

        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });

        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            $("#appsubmit").prop("disabled", true);
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
            detailsRemind($("#remId").val());
        });

        /* function for delete popup */
        $('div').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });

        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
            detailsRemind($("#remId").val());
        });

        /* chang status */
        $('.table').on('click', '.modal-change', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-change');
        });

        $('#modal-change').on('submit', '#changeform', function (e) {
            e.preventDefault();
            var url = $('#changeform')[0].action;
            var data = $('#changeform').serialize();
            createajax(url, data, '#modal-change');
        });

        //Button Close
        $('#srch, .search-box .btn-close').on('click', function (e) {
            $('#advsearchlist').toggle();

            /*******  To uncheck all the checkboxes in the Select List  ************/
            var checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (Checkbox) {
                Checkbox.checked = false;
            });

            if ($('#srch').hasClass('btn-primary')) {

                $('#srch').addClass('btn-danger');
                $('#srch').removeClass('btn-primary');
            }
            else {
                if ($('#srch').hasClass('btn-danger')) {
                    $('#srch').addClass('btn-primary');
                    $('#srch').removeClass('btn-danger');
                }

                /*******  To clear all the data entered  *********/
                $('#Voucher').val("");
                $('#MCFrom').val(null).trigger("change");
                $('#MCTo').val(null).trigger("change");
                $('#FromDate').val("");
                $('#ToDate').val("");
                $('#ApprovalStatus').val("");
                oTable.draw();
            }
        });

        $('#MCFrom').select2();
        $('#MCTo').select2();

        //var minDate = $("#Start").val();
        //var maxDate = $("#End").val();
        //$('#FromDate').datepicker({
        //    format: 'dd-mm-yyyy',
        //    autoclose: true,
        //    allowInputToggle: true,
        //    startDate: new Date(minDate),
        //    endDate: new Date(maxDate)
        //});

        //$('#ToDate').datepicker({
        //    format: 'dd-mm-yyyy',
        //    autoclose: true,
        //    allowInputToggle: true,
        //    startDate: new Date(minDate),
        //    endDate: new Date(maxDate)
        //});

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var priordate = new Date(new Date().setDate(today.getDate() - 30));
        //$('#ToDate').datepicker('setDate', today);
        //$('#FromDate').datepicker('setDate', priordate);

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            oTable.draw();
        });

        $('.table').on('click', 'a.Updation', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container2');
            $(this).attr('data-toggle', 'modal');
        });

        $('.table').on('click', '.modal-close-btn', function () {
            $('#modal-container2').modal('hide');
            $('#modal-container2').removeData('bs.modal');
        });

        $('#modal-container2').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        function details(d) {
            var MCId = d;
            var oTable = $('#UserTableInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "ajax": {
                    "url": '/StockTransfer/GetAllStatusUpdation',
                    "type": "POST",
                    "datatype": "json",
                    "data": { MCId: MCId }
                },
                "columns": [
                        {
                            "name": "ApprovalStatus", "data": function (data) {
                                var datas = "";
                                if (data.ApprovalStatus == "Approved") {
                                    datas += '<span class="badge bg-green">Approved</span>';
                                }
                                if (data.ApprovalStatus == "Rejected") {
                                    datas += '<span class="badge bg-red">Rejected</span>';
                                }
                                return datas;
                            }
                        },
                      { "data": "User", "name": "User" },
                      { "data": "RequestBy", "name": "RequestBy" },
                      { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { return convertDateTime(data); } },
                      { "data": "Remarks", "name": "Remarks" },
                ],
                searching: false
            });
            oTable.destroy();
        }

        $('div').on('click', 'a.UpdationRe', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerRe');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-create').on('shown.bs.modal', function (e) {
            var date = new Date();
            date.setDate(date.getDate());
            $('.datepicker').datepicker({
                startDate: date,
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            jQuery.validator.methods["date"] = function (value, element) { return true; }
            $(".timepicker").timepicker({
                showInputs: true,
                defaultTime: false,
                format: 'dd-mm-yyyy'
            });

            $("#ddlAssignedTo").select2({
                placeholder: 'Search User',
                minimumInputLength: 0,
                ajax: {
                    url: "/Employee/SearchEmployeeUser",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });
        });
        function AlertFunction(userEditDays) {
            alert("You can't Edit this, You have a limit of " + userEditDays + " days");
        }
        function detailsRemind(d) {
            if (d != "") {
                $("#remId").val(d);
                var oTable1 = $('#RemindInfo').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "bStateSave": true,
                    "paging": false,
                    "sortable": true,
                    "ordering": true,
                    "searching": true,
                    "ajax": {
                        "url": '/Reminder/GetAllReminder',
                        "type": "POST",
                        "datatype": "json",
                        "data": { Id: d, type: "StkTrans" }
                    },
                    "order": [[0, "desc"]],

                    "columns": [
                         {
                             "data": "ReminderId", "name": "ReminderId",
                             "render": function (data, type, row, meta) {
                                 return meta.row + meta.settings._iDisplayStart + 1;
                             }
                         },
                      { "data": "Note", "name": "Note" },
                      { "data": "RDate", "name": "RDate", "render": function (data) { if (data != null && data != "") { return convertDateTime(data); } else { return "" } } },
                           //{
                      //    "name": "AssignedTo", "data": function (data) {
                      //        var datas = "";
                      //        $.each(data.AssignedTo, function (i, item) {
                      //            if (datas != "") {
                      //                datas += ", ";
                      //            }
                      //            datas += item.FirstName + " " + item.LastName;
                      //        });
                      //        return datas;
                      //    }
                      //},
                     // { "data": "RequestBy", "name": "RequestBy" },
                      { "data": "CreatedBy", "name": "CreatedBy" },
                      { "data": "RStatus", "name": "RStatus" },
                      {
                          "name": "ReminderId", "data": function (data) {
                              var rest = "";
                              @{
                                actData = "";
                                actData += "<a class=\"modal-edit\"  href=\"/Reminder/Edit/'+ data.ReminderId +'\" title=\"Edit Reminder\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                actData += "<a class=\"modal-delete\" href=\"/Reminder/Delete/'+ data.ReminderId +'\" title=\"Delete Reminder\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                            }
                              rest += '@Html.Raw(actData)';
                              return rest;
                          }
                      }
                    ],
                });
                oTable1.destroy();
            }
        }

       var checkList = document.getElementById('list1');
       /******* Function to list and hide dropdown checklist while clicking on 'Select Fields' *******/
       checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
           if (checkList.classList.contains('visible'))
               checkList.classList.remove('visible');
           else
               checkList.classList.add('visible');
       }

       /******* Function to show and hide fields while clicking on checkboxes in 'Select Fields' *******/
       $("ul li input:checkbox").click(function () {

           var _show = 0;

           //Voucher
           if ($("#livoucher ").prop("checked") == true) {
               $("#searchvoucher").show();
               _show = 1;
           }
           else {
               $('#Voucher').val("");
               $("#searchvoucher").hide();
               oTable.draw();
           }

           //Material Center From
           if ($("#licntrfrm").prop("checked") == true) {
               $("#searchcntrfrm").show();
               _show = 1;
           }
           else {
               $('#MCFrom').val(null).trigger("change");
               $("#searchcntrfrm").hide();
               oTable.draw();
           }

           //Material Center To
           if ($("#licntrto").prop("checked") == true) {
               $("#searchcntrto").show();
               _show = 1;
           }
           else {
               $('#MCTo').val(null).trigger("change");
               $("#searchcntrto").hide();
               oTable.draw();
           }

           //From Date
           if ($("#lifromdate").prop("checked") == true) {
               $("#searchfromdate").show();
               _show = 1;
           }
           else {
               $("#FromDate").val("");
               $("#searchfromdate").hide();
               oTable.draw();
           }

           //To Date
           if ($("#litodate").prop("checked") == true) {
               $("#searchtodate").show();
               _show = 1;
           }
           else {
               $("#ToDate").val("");
               $("#searchtodate").hide();
               oTable.draw();
           }

           //Approval Status
           if ($("#liapprvlstatus").prop("checked") == true) {
               $("#searchapprovalstatus").show();
               _show = 1;
           }
           else {
               $('#ApprovalStatus').val("").trigger("change");
               $("#searchapprovalstatus").hide();
               oTable.draw();
           }

           if (_show == 1) {
               $('#advsearchlist').show();
           }
           else {
               $('#advsearchlist').hide();
           }
       });

       /******* Function to hide dropdown checklist while clicking outside it ********/
       $(document).on("click", function (event) {

           var element1 = $("#list1");

           if (element1 !== event.target && !element1.has(event.target).length) {
               checkList.classList.remove('visible');
           }
       });

</script>
}

