@model QuickSoft.Models.cashnotes

@{
    ViewBag.Title = "Hand Over";
    ViewBag.SubTitle = "User";
    ViewBag.Active = "Users";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">End Session </h3>

    </div>
    @using (Html.BeginForm("handoverend", "POSRES", FormMethod.Post, new { id = "UserCreateForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "alert alert-danger" })


        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.Label("Amount", null, htmlAttributes: new { @class = "control-label " })
                    @Html.TextBox("txtamount", "")
                </div>
                <div class="form-group col-md-2" id="Employee1" style="display:none;">
                    @Html.Label("Transfer To", null, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("transeferto", (SelectList)ViewBag.ulist, new { @class = "form-control select2" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("1000", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.thousand, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("500", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.fivehundred, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("100", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.hundred, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("50", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.fifty, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("20", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.twenty, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("10", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.ten, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("5", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.five, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("1", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.one, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("0.50", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.half, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("0.25", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(m => m.quarters, new { htmlAttributes = new { @class = "form-control ", @type = "number" } })

                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Save" id="btnSubmit" />
                    <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='" + @Url.Action("copypermission", "Users") + "'");" />
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#emp2").select2({});

        })
        function totalcal() {








            var thousand = parseFloat($("#thousand").val());
            var fivehundred = parseFloat($("#fivehundred").val());
            var hundred = parseFloat($("#hundred").val());
            var fivty = parseFloat($("#fifty").val());
            var twenty = parseFloat($("#twenty").val());
            var ten = parseFloat($("#ten").val());
            var five = parseFloat($("#five").val());
            var one = parseFloat($("#one").val());
            var half = parseFloat($("#half").val());
            var quarter = parseFloat($("#quarters").val());
            var total = parseFloat(thousand * 1000 + fivehundred * 500 + 100 * hundred);
            total = parseFloat(total + fivty * 50 + twenty * 20 + ten * 10);
            total = parseFloat(total + five * 5 + one + half * .5 + quarter * .25);
            $("#txtamount").val(total);
        }
        $("input[type='number']").on("change", function () {
            totalcal();

        });
    </script>
}
