@model QuickSoft.ViewModel.ProTaskViewModel
@{
    ViewBag.Title = "Assign";
    ViewBag.SubTitle = "Assign Task";
    ViewBag.Active = "Master";
    string check = "";
    string strImage = "";
    string partialconfig = "";
    var atype = Model.AssignType;

}<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Task Assign</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Assign", "ProTaskNonTech", FormMethod.Post, new { id = "AssignForm", role = "form" }))
    {
        <div class="row">
            @Html.HiddenFor(m => m.TaskCode)
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.CustomerID)
            @Html.HiddenFor(m => m.TaskName)
            @Html.HiddenFor(m => m.TaskType)
            @Html.HiddenFor(m => m.TaskStatus)

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Priority, new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Priority, new { @class = "form-control", @required = "required" })
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.AssignedTo, new { @class = "control-label" }) *
                @Html.ListBoxFor(m => m.AssignedMembers, (MultiSelectList)ViewBag.team, new { @id = "AssignedUsers", @class = "form-control select2 AsgnUsers", @name = "AssignedMembers[]", @multiple = "multiple" })
            </div>
        </div>
        <div class="row">
            @if (Model.FieldMap.Count > 0)
            {
                for (int i = 0; i < Model.FieldMap.Count; i++)
                {

                    var fmap = "";
                    if (Model.FieldMap[i].Field == "Ref1")
                    {
                        fmap = Model.Ref1;
                    }
                    if (Model.FieldMap[i].Field == "Ref2")
                    {
                        fmap = Model.Ref2;
                    }
                    if (Model.FieldMap[i].Field == "Ref3")
                    {
                        fmap = Model.Ref3;
                    }
                    if (Model.FieldMap[i].Field == "Ref4")
                    {
                        fmap = Model.Ref4;
                    }
                    if (Model.FieldMap[i].Field == "Ref5")
                    {
                        fmap = Model.Ref5;
                    }
                        <div class="form-group col-md-6">
                            <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                            @if (Model.FieldMap[i].Type == "Dropdown")
                            {
                                if (Model.FieldMap[i].Field == "Ref1")
                                {
                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef1, new { @id = "Ref1", @class = "form-control input-sm select2 ref" })
                                }
                                if (Model.FieldMap[i].Field == "Ref2")
                                {
                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef2, new { @id = "Ref2", @class = "form-control input-sm select2 ref" })
                                }
                                if (Model.FieldMap[i].Field == "Ref3")
                                {
                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef3, new { @id = "Ref3", @class = "form-control input-sm select2 ref" })
                                }
                                if (Model.FieldMap[i].Field == "Ref4")
                                {
                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef4, new { @id = "Ref4", @class = "form-control input-sm select2 ref" })
                                }
                                if (Model.FieldMap[i].Field == "Ref5")
                                {
                                    @Html.DropDownListFor(m => m.FieldMap[i].Field, (SelectList)ViewBag.VRef5, new { @id = "Ref5", @class = "form-control input-sm select2 ref" })
                                }

                            }
                            else
                            {
                                <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="@fmap">
                            }
                        </div>

                }
            }
        </div>
                <div class="row">
                    <div class="box-footer col-md-12">
                        <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                        <input type="button" class="btn btn-default" value="close" data-dismiss="modal" id="btnreset" tabindex="20" />
                    </div>
                </div>
                <script>
                    $(".AsgnUsers").select2({
                        placeholder: 'Search Employee by Name',
                        minimumInputLength: 0,
                        ajax: {
                            url: "/Employee/SearchEmployeeUser",
                            dataType: 'json',
                            type: "POST",
                            delay: 50,
                            data: function (params) {
                                return {
                                    q: params.term,
                                    page: params.page
                                };
                            },
                            processResults: function (data, params) {
                                params.page = params.page || 1;

                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                    });
                //    $('.AsgnUsers').prop('required', true);
                  //  $('.AsgnUsers').attr('data-msg-required', "Assigned To field is required");

                    $(".ref").select2({
                        tags: true
                    });
                    $(".ref").each(function () {
                        var refval = $(this).attr('Id');
                        $(this).attr('name', refval);
                    });
                </script>
    }
</div>

