@model QuickSoft.Models.ProLeaveRequestviewmodel
@{ ViewBag.Title = "Attendance Update";
    ViewBag.SubTitle = "Edit Attendance Report";
    ViewBag.Active = "Master";

    string check = "";
    string url = "";
    string strImage = "";
    string partialconfig = "";


    int ci = 0; }
<style>
    /*giving blue border to dropdowns------------------------*/
    /*multiselect dropdown*/
    span.select2-selection--multiple[aria-expanded=true] {
        border: 1px solid rgb(43 76 248 / 0.82) !important;
        transition: 0.1s;
    }
    /*single dropdown*/
    span.select2-selection--single[aria-expanded=true] {
        border: 1px solid rgb(43 76 248 / 0.82) !important;
        transition: 0.1s;
    }
    /*--------------------------------------------------------*/

</style>
<div class="box box-info">
    <input type="hidden" class="form-control" id="RowCount" value="0" placeholder="">
    @using (Html.BeginForm("Edit", "LeaveRequest", FormMethod.Post, new { id = "createForm", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Edit Leave Request</h3>

        </div>
        <div class="box-body">
            <div class="row" style="padding-top:5px;">


                <div class="clearfix visible-xs-block "></div>


                <div class="row">

                    <div class="col-md-2 col-xs-12 form-group">
                        @Html.DropDownListFor(model => model.LeaveType, (IEnumerable<SelectListItem>)ViewBag.OpnCls, new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.OpenClose, (SelectList)ViewBag.OpnCls, new { @class = "form-control" })*@
                        @Html.Label("Leave Type", null, new { @class = "control-label small-standalone-label" })
                    </div>

                    @if (ViewBag.salesman == "true")
                    {
                        <div class="form-group col-md-2 col-xs-12 col-sm-4" style="pointer-events:none">
                            @Html.Label("Employee", null, new { @class = "control-label temp2" })

                            <div class="input-group input-group-sm">

                                @Html.DropDownListFor(m => m.SECashier, (SelectList)ViewBag.Cashier, "", new { id = "ddlEmployee", @class = "form-control select2" })


                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="form-group col-md-2 col-xs-12 col-sm-4">
                            @Html.Label("Employees", null, new { @class = "control-label temp2" })


                            <div class="input-group input-group-sm">

                                @Html.DropDownListFor(m => m.SECashier, (SelectList)ViewBag.Cashier, "", new { id = "ddlEmployee", @class = "form-control select2" })


                            </div>

                        </div>
                    }

                </div>
                <div class="clearfix visible-xs-block visible-sm-block "></div>
                <div class="row">
                    <div class="form-group  col-md-3 col-xs-6" style="margin-bottom:8px;">

                        <div class="input-group date">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            @Html.TextBoxFor(m => m.leavefromdate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @required = "required" })
                        </div>
                        @Html.LabelFor(model => model.leavefromdate, htmlAttributes: new { @class = "control-label small-standalone-label" })
                    </div>


                    <div class="form-group col-md-3 col-xs-6 hidden">
                        <div class="bootstrap-timepicker">

                            <div class="input-group">
                                @Html.Label("Fomr Time (optional)", null, new { @class = "control-label " })

                                @Html.TextBoxFor(m => m.leavefromtime, "{0:HH:mm tt}", new { @class = "form-control timepicker", @autocomplete = "off", @value = "" })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block "></div>
                <div class="row">
                    <div class="form-group col-md-3 col-xs-6" style="margin-bottom:8px;">

                        <div class="input-group date">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            @Html.TextBoxFor(m => m.leavetodate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @required = "required" })
                        </div>
                        @Html.LabelFor(model => model.leavetodate, htmlAttributes: new { @class = "control-label small-standalone-label" })
                    </div>



                    <div class="form-group col-md-3 col-xs-6 hidden">
                        <div class="bootstrap-timepicker">

                            <div class="input-group">
                                @Html.Label("To Time (Optional)", null, new { @class = "control-label " })
                                @Html.TextBoxFor(m => m.leavetotime, "{0:HH:mm tt}", new { @class = "form-control timepicker", @autocomplete = "off", @value = "" })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.leavereason, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.leavereason, new { @class = "form-control input-sm textarea", @placeholder = "Enter Note..", @rows = "3", @style = "height:100px !important;", @required = "required" })
                </div>

            </div>
            <div class="clearfix visible-xs-block "></div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12 hide1">
                @Html.Label("Documents", null, new { @class = "control-label temp2" })
                <div class="file-loading">
                    <input id="input-24" name="input24[]" type="file" multiple>
                </div>
                @foreach (var arr in @ViewBag.image)
                {
                    check = "\"/uploads/leavedocument/" + arr.FileName + "\"";

                    strImage += check + ','; ;

                    partialconfig += "{ key:" + arr.TaskImageId + " }" + ',';
                 
                }
            </div>




            <div class="row text-center">
                <div class=" col-md-12 col-12">
                    <button type="submit" id="save" class="btn save-color" tabindex="28">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button> &ensp;
                    <input type="button" class="btn cancel-color" value="Reset" data-dismiss="modal" id="btnreset" tabindex="20" />
                </div>
            </div>

        </div>}
</div>

@{var Modelv = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @Modelv)
@Html.Partial("../Common/_ModalEdit", @Modelv)
@Html.Partial("../Common/_ModeItemCreate")
@Html.Partial("../Common/_ModelProject")
@Html.Partial("../Common/_ModalCustomer")
<div id="modal-add" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/wysihtml5")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")

}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/wysihtml5")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
    @Scripts.Render("~/js/Mobile")


<script type="text/javascript">
           $("#input-24").fileinput({
            initialPreview: [@Html.Raw(strImage)],
            maxFilePreviewSize: 10240,
            showUploadedThumbs: true,
            overwriteInitial: false,
            showUpload: false,
            enableResumableUpload: true,
            autoReplace: true,
            required: false,
            initialPreviewAsData: true,
           initialPreviewFileType: 'pdf',
            initialPreviewDownloadUrl: [@Html.Raw(strImage)],
            allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jfif", "jpeg", "doc", "docx", "pdf", "dwg", "pptx", "vsdx",
              'M4A', 'FLAC', 'MP3', 'MP4', 'WAV', 'WMA', 'AAC', 'ogg', 'opus', 'mpg', 'mpeg'],
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: true,
            },
            initialPreviewConfig: [
               @partialconfig
            ],

         deleteUrl: "/Payment/ImageDelete",
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        }).on('filebeforedelete', function () {
            var aborted = !window.confirm('Are you sure you want to delete this file?');
            if (aborted) {
                //window.alert('File deletion was aborted!');
            };
            return aborted;
        }).on('filedeleted', function () {
            setTimeout(function () {
                //window.alert('File deletion was successful!');
            }, 900);
        });
    //    jQuery.validator.methods["date"] = function (value, element) { return true; }
        $(".timepicker").timepicker({
            showInputs: true,
            defaultTime: false,
            format: 'dd-mm-yyyy',
            showMeridian: false
        });
  
    $('.date').datepicker({
        //startDate: date,
        format: 'dd-mm-yyyy',
        autoclose: true,
        allowInputToggle: true
    });
    //    jQuery.validator.methods["date"] = function (value, element) { return true; }
   
        $(document).ready(function()
    {
            CallEmployee();
        });
        $('#createForm').on('submit', function (e) {
                                    e.preventDefault();
                                    var end_time = $("#EndTime").val();
                                    var start_time=$("#StartTime").val()
            var diff = (new Date("1970-1-1 " + end_time) - new Date("1970-1-1 " + start_time)) / 1000 / 60 / 60;
                                    var n = new Date(0, 0);
                                    n.setSeconds(+diff * 60 * 60);
                                    diff=n.toTimeString().slice(0, 8);
            if ($("#leavereason").val() == "") {
                alert("enter leave reason");
                return true;
            }
                                    // var ok = confirm("Are yor sure you worked in "+diff+" hours.if not please check start and end time")

                                       if (1==1)
            {
                                        var url = $('#createForm')[0].action;
                                        var formData = new FormData(this);

                $.ajax({
                                        async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                                            },
                    success: function (e) {
                                                if (1==1) {
                           // printservicereport(e);
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            $("button").prop('disabled', false);
                                                   window.location.href = '@Url.Action("myleave", "LeaveRequest")';
                            @*if (tsktype == "MyTask")
                                window.location.href = '@Url.Action("MyTask", "ProTask")';
                            else {
                                window.location.href = '@Url.Action("Index", "ProTask")';
                            }*@
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });



        //Function to check correct format for Mobile Number
        //MobileNo is not passed in fetched rows(Edit Mode Rows)

</script>
}

