
@model QuickSoft.ViewModel.HomeViewModel
@{var Model = "";}
@Html.Partial("../Common/_ModalCreate", @Model)
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")

}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}
<style>
    .sh-bg1 {
        background-image: linear-gradient(to bottom right,rgba(138, 196, 238), rgb(0 148 255));
    }

    .sh-bg2 {
        background-image: linear-gradient(to bottom right,rgba(132, 243, 197), rgba(8, 176, 106));
    }

    .sh-bg3 {
        background-image: linear-gradient(to bottom right,rgba(238, 132, 187), rgba(164, 16, 138));
    }

    .sh-bg4 {
        background-image: linear-gradient(to bottom right,rgba(190, 217, 181),rgba(63, 113, 47));
    }

    .sh-bg5 {
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 10px 0px;
        border-radius: 5px;
    }

        .card-box:hover {
            text-decoration: none;
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            transform: scale(1.01);
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        .card-box p {
            font-size: 15px;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 10px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
            border-radius: 0px 0px 5px 5px;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

        .card-box .sh-title-align {
            background-image: linear-gradient(to bottom right,rgba(184, 220, 245, 1), rgb(0 148 255));
            padding: 1px 0px 1px 10px;
            margin-top: -10px !important;
            border-radius: 5px 5px 0px 0px;
        }

        .card-box h4 {
            text-shadow: 2px 2px 4px #000000;
        }

    .sh-row-design {
        background-color: white;
    }


    @@media only screen and (min-width: 800px) {
    }

    @@media only screen and (min-width: 1250px) {
    }

    @@media only screen and (max-width: 400px) {
    }
</style>
@using (Html.BeginForm("cashdashboard", "Leads", FormMethod.Post, new { id = "saleform", role = "form", enctype = "multipart/form-data" }))
{
    <div class="box box-info">
        <div class="box-header with-border">
            <div class="row">
                <div class="form-group col-md-4 col-xs-12 col-sm-4 " style="margin-bottom:26px!important;">
                    @Html.Label("From Date", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("fromdate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12 col-sm-4 " style="margin-bottom:26px!important;">
                    @Html.Label("To Date", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("todate", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2" id="search">
                    <input type="submit" class="btn btn-submit" value="Submit" />
                </div>
            </div>
</div>
        </div>
            }

            <div class="row">
                <div class="col-md-4">
                    <h3 style="color:blueviolet"> Date From : @ViewBag.datefrom.ToString("dd-MM-yyyy") - @ViewBag.dateto.ToString("dd-MM-yyyy")</h3>
                </div>
            </div>
            <div class="row sh-row-design">



                <div class="col-md-4 col-sm-6">
                    <div class="card-box sh-bg1">
                        <div class="inner">
                            <span>&nbsp;</span>
                            <h3>MUSSAFA</h3>
                            <h4>CASH SALES =@ViewBag.mussafacashsales</h4>
                            <h4>CARD SALES =@ViewBag.mussafacardsales</h4>
                            <h4>BANK SALES =@ViewBag.mussafabanksales</h4>
                            <h4>CASH PAYMENT =@ViewBag.mussafacashexpense</h4>
                            <h4>CASH RECEIPT =@ViewBag.mussafacashincome</h4>
                            <h4>CREDIT SALES =@ViewBag.mussafacreditsales</h4>
                            <h3>CASH BALANCE =@ViewBag.mussafanetcash</h3>


                        </div>
                        <div class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        @* <a href="/BalanceSheet/GetGroupTrialBalance?AccGroup=9&type2=asset&frmdate=01-01-2000&todate=@ViewBag.dateto.ToString("dd-MM-yyyy")&parent=asset" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card-box sh-bg2">
                        <div class="inner">
                            <span>&nbsp;</span>
                            <h3>ABUDHABI</h3>
                            <h4>CASH SALES =@ViewBag.abudhabicashsales</h4>
                            <h4>CARD SALES =@ViewBag.abudhabicardsales</h4>
                            <h4>BANK SALES =@ViewBag.abudhabibanksales</h4>
                            <h4>CASH PAYMENT =@ViewBag.abudhabicashexpense</h4>
                            <h4>CASH RECEIPT =@ViewBag.abudhabicashincome</h4>
                            <h4>CREDIT SALES =@ViewBag.abudhabicreditsales</h4>
                            <h3>CASH BALANCE =@ViewBag.abudhabinetcash</h3>


                        </div>
                        <div class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        @* <a href="/BalanceSheet/GetGroupTrialBalance?AccGroup=9&type2=asset&frmdate=01-01-2000&todate=@ViewBag.dateto.ToString("dd-MM-yyyy")&parent=asset" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card-box sh-bg3">
                        <div class="inner">
                            <span>&nbsp;</span>
                            <h3>ALAIN</h3>
                            <h4>CASH SALES =@ViewBag.alaincashsales</h4>
                            <h4>CARD SALES =@ViewBag.alaincardsales</h4>
                            <h4>BANK SALES =@ViewBag.alainbanksales</h4>
                            <h4>CASH PAYMENT =@ViewBag.alaincashexpense</h4>
                            <h4>CASH RECEIPT =@ViewBag.alaincashincome</h4>
                            <h4>CREDIT SALES =@ViewBag.alaincreditsales</h4>
                            <h3>CASH BALANCE =@ViewBag.alainnetcash</h3>


                        </div>
                        <div class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        @* <a href="/BalanceSheet/GetGroupTrialBalance?AccGroup=9&type2=asset&frmdate=01-01-2000&todate=@ViewBag.dateto.ToString("dd-MM-yyyy")&parent=asset" class="card-box-footer" target="_blank">View All  <i class="fa fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>




            </div>

            <script>
                $('div').on('click', '.modal-create', function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    modalshow(url, '#modal-create');
                });
            </script>


            <script>
                $(document).ready(function () {
                    $('#fromdate').datepicker({
                        format: 'dd-mm-yyyy',
                        autoclose: true,
                        allowInputToggle: true,

                    });

                    $('#todate').datepicker({
                        format: 'dd-mm-yyyy',
                        autoclose: true,
                        allowInputToggle: true,

                    });

                    var date = new Date();
                    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    var priordate = new Date(new Date().setDate(today.getDate()));
                    $('#todate').datepicker('setDate', today);
                    $('#fromdate').datepicker('setDate', today);
                });
            </script>



