@model QuickSoft.ViewModel.LeadsDetailsViewModel
@{
    ViewBag.Title = "Lead Details";
    ViewBag.SubTitle = "Lead Details";
    ViewBag.Active = "Lead";
    string actData = "";
    string actStatus = "";
    string actEdit = "";
    string actDelete = "";
    var Loc = "";
    
    Uri uriResult;
    var count = 0;
    string sdate = "";
   

}
@if (Model.Location != null || Model.Location != "")
{
    Loc = "<iframe src=\"" + Model.Location + "\" width=\"100%\" height=\"150\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>";
}
<script>

</script>
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.CustomerName)</h3>
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Leads List"))
            {
                <a class="btn btn-success no-border" href="/Leads">
                    <i class="fa fa-fw fa-history"></i> Leads List
                </a>
            }
            @if (User.IsInRole("Dev") || User.IsInRole("MyLeads"))
            {
                <a class="btn btn-primary no-border" href="/Leads/MyLeads">
                    <i class="fa fa-fw fa-history"></i> My Leads
                </a>
            }
            @if (User.IsInRole("Dev") || User.IsInRole("Create Leads"))
            {
                <a class="btn btn-info no-border" href="/Leads/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create Lead
                </a>
            }
        </div>
    </div>
    <div class="box-body">
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">

                            <ul class="list-group list-group-unbordered">

                                <li class="list-group-item">

                                    <b>Code</b> : @Html.DisplayFor(m => m.CustomerCode)

                                </li>
                                <li class="list-group-item">

                                    <b>Level</b> : @Html.DisplayFor(m => m.LeadLevel)

                                </li>
                                <li class="list-group-item">

                                    <b>Lead Status</b> : @Html.DisplayFor(m => m.SrcLead)

                                </li>
                                <li class="list-group-item">

                                    <b>Customer</b> : @Html.Raw(Model.leadStausDisp)

                                </li>
                                <li class="list-group-item">
                                    <b>Assigned To</b>:
                                    @foreach (var upd in Model.LeadAssign)
                                    {
                                        @upd.Empname
                                    }
                                </li>

                                @foreach (var cre in Model.LeadCreated)
                                {
                                    if (@cre.Converted == "Direct")
                                    {
                                        <li class="list-group-item">
                                            <b>Created By</b> : @cre.CreatedUser
                                        </li>
                                        <li class="list-group-item">
                                          <b>Created Date</b> @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Convert.ToDateTime(cre.CreatedDate)))
                                        </li>
                                    }
                                }

                            </ul>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Location : </strong>
                            @*<span class="text-muted text-right"><a href="@Model.Location">@Html.DisplayFor(m => m.Location)</a></span>*@
                            @if (Model.Location != null || Model.Location != "")
                            {
                                @Html.DisplayFor(m => m.Location)

                            }
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#lead" data-toggle="tab">Lead Details</a></li>




                            <li><a href="#attach" data-toggle="tab">Attachments</a></li>
                            <li><a href="#remarks" data-toggle="tab">Remarks</a></li>

                            <li><a href="#leadchart" data-toggle="tab">Activity</a></li>

                        </ul>
                        <div class="tab-content">


                            <div class="active tab-pane" id="lead">
                                <div class="post">
                                    <div class="user-block">
                                        <h3 class="box-title"> @Html.DisplayFor(m => m.CustomerName)</h3>
                                        <span>Code : @Html.DisplayFor(m => m.CustomerCode)</span><br />
                                        <span>Lead Task : @Html.DisplayFor(m => m.TaxRegNo)</span>
                                        <hr>
                                        <div class="row">
                                            <div class="box-body">

                                                <div class="form-group col-md-4">
                                                    @Html.Label("Location :", null, new { @class = "control-label" })
                                                    @Html.DisplayFor(m => m.Location)
                                                </div>


                                            </div>
                                            <div class="box-header with-border">
                                                <h4 class="box-title">Contact Details</h4>
                                            </div>
                                            <div class="box-body">
                                                @if (Model != null)
                                                {
                                               
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("City  :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.City)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Emirate :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.State)
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.Label("Country :", null, new { @class = "control-label" })
                                                        @Html.DisplayFor(m => m.Country)
                                                    </div>
                                         
                                               
                                                    if (Model.mobmodel != null)
                                                    {
                                                        <div class="form-group col-md-4">
                                                            <table style="width:50px" class="table table-bordered table-hover">
                                                                <tr>
                                                                    <th>Mobile </th>
                                                                    <th>Name </th>
                                                                </tr>
                                                                @foreach (var itemss in Model.mobmodel)
                                                                {
                                                                    if (@itemss.Num != null)
                                                                    {
                                                                        <tr>
                                                                            <td><a href="tel:@itemss.Num">@itemss.Num</a></td>
                                                                            <td>@itemss.Name</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="attach">
                                <h4>Documents</h4>
                                @if (Model.LeadDocuments != null)
                                {
                                    if (Model.LeadDocuments.Any())
                                    {
                                        <div class="row margin-bottom">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                @foreach (var item in Model.LeadDocuments)
                                                {
                                                    var x = item.FileName.Split('.');
                                                    var extn = x[1];
                                                    var extnf = "";
                                                    if (item.FileName.Contains("resize_"))
                                                    {
                                                        var filez = item.FileName.Split('_');
                                                        extnf = filez[1];
                                                    }
                                                    else
                                                    {
                                                        extnf = item.FileName;
                                                    }

                                                    if (extn == "JPG" || extn == "jpg" || extn == ".jfif" || extn == "png" || extn == "jpeg")
                                                    {

                                                        <div class="col-sm-2">

                                                            <div class="ace-thumbnails clearfix">
                                                                <a href="~/uploads/leadtaskdocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download>
                                                                    <img width="100" height="100" alt="@Html.DisplayFor(modelItem => item.FileName)" title="Click to Open" src="~/uploads/leadtaskdocuments/@item.FileName" ID="ImgBtn1" class="img-responsive img-fluid" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-sm-2">

                                                            <div class="ace-thumbnails clearfix">
                                                                <a href="~/uploads/leadtaskdocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download>
                                                                    <img width="100" height="100" alt="@Html.DisplayFor(modelItem => item.FileName)" title="Click to Open" src="~/uploads/leadtaskdocuments/docavatar.png" ID="ImgBtn1" class="img-responsive img-fluid" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }


                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                @if (Model.LeadcreateDocuments != null)
                                {
                                    if (Model.LeadcreateDocuments.Any())
                                    {
                                        <div class="row margin-bottom">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                @foreach (var item in Model.LeadcreateDocuments)
                                                {
                                                    var x = item.FileName.Split('.');
                                                    var extn = x[1];
                                                    var extnf = "";
                                                    if (item.FileName.Contains("resize_"))
                                                    {
                                                        var filez = item.FileName.Split('_');
                                                        extnf = filez[1];
                                                    }
                                                    else
                                                    {
                                                        extnf = item.FileName;
                                                    }

                                                    if (extn == "JPG" || extn == "jpg" || extn == ".jfif" || extn == "png" || extn == "jpeg")
                                                    {

                                                        <div class="col-sm-2">

                                                            <div class="ace-thumbnails clearfix">
                                                                <a href="~/uploads/leaddocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download>
                                                                    <img width="100" height="100" alt="@Html.DisplayFor(modelItem => item.FileName)" title="Click to Open" src="~/uploads/leaddocuments/@item.FileName" ID="ImgBtn1" class="img-responsive img-fluid" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-sm-2">

                                                            <div class="ace-thumbnails clearfix">
                                                                <a href="~/uploads/leaddocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download>
                                                                    <img width="100" height="100" alt="@Html.DisplayFor(modelItem => item.FileName)" title="Click to Open" src="~/uploads/leadtaskdocuments/docavatar.png" ID="ImgBtn1" class="img-responsive img-fluid" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }


                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                <hr />

                            </div>
                           
                        
                            <div class="tab-pane" id="remarks">
                                <div class="post">
                                    <div class="user-block">
                                        <div class="row">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">Remarks</h4>
                                                <div class="form-group col-md-12">
                                                    @Html.DisplayFor(m => m.Remark)
                                                </div>
                                            </div>
                                            <div class="box-body">

                                                <table class="table table-bordered table-hover" id="RemarkInfo">
                                                    <thead>
                                                        <tr class="bg-gray">
                                                            <td data-priority="2">#</td>
                                                            <td data-priority="2">TimeStamp</td>
                                                            <td data-priority="1">Employee</td>
                                                            @*<td data-priority="2">Status</td>*@
                                                            <td data-priority="1">Remark</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            @*timeline*@

                            <div class="tab-pane" id="leadchart">
                                @if (1==1)
                                {
                                <ul class="timeline timeline-inverse">
                                    @if (Model.allscope != null && Model.allscope.Count() > 0)
                                    {
                                        var ICount = 0;
                                        <div class="row timeline-header">

                                            <ul class="list-unstyled">
                                                @foreach (var ite in Model.allscope)
                                                {
                                                    ICount++;
                                                    <li>
                                                        <h2>@ite.workname</h2>
                                                    </li>
                                                    <li>
                                                        <ul>

                                                            @foreach (var item in ite.checklist)
                                                            {
                                                                if (item.Name != null && item.Name != "")
                                                                {
                                                                    <li>
                                                                        &nbsp;&nbsp;&nbsp; @Html.CheckBoxFor(modelItem => item.Chck)&nbsp;&nbsp;
                                                                        @Html.DisplayFor(modelItem => item.Name)
                                                                    </li>

                                                                    if (item.Note != null)
                                                                    {
                                                                        <li>
                                                                            &emsp;&emsp;&nbsp;
                                                                            @Html.Label("Note: ")
                                                                            @Html.DisplayFor(modalItem => item.Note)

                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                            <h3>Explanation</h3>
                                           @Model.allscope[0].explanation
                                        </div>
                                    }

                                    @foreach (var upd in Model.LeadTimeLine)
                                    {
                                        <!-- timeline time label -->
                                        var color = "";
                                        var updby = "";
                                        if (upd.LogType == "Created")
                                        {
                                            color = "bg-green";
                                            updby = "Created by";
                                        }
                                        else if (upd.LogType == "Updated")
                                        {
                                            color = "bg-orange";
                                            updby = "Updated by";
                                        }
                                        else if (upd.LogType == "Remark Added")
                                        {
                                            color = "bg-teal";
                                            updby = "Remark";
                                        }
                                        else if (upd.LogType == "Image Uploaded")
                                        {
                                            color = "bg-purple";
                                        }
                                        else if (upd.LogType == "Assigned")
                                        {
                                            color = "bg-purple";
                                            updby = "Remark";
                                        }
                                        else if (upd.LogType == "Unassigned")
                                        {
                                            color = "bg-red";
                                            updby = "Remark";
                                        }
                                        <li class="time-label">
                                            <span class="@color">
                                                @Convert.ToString(string.Format("{0:dd-MM-yyyy }", upd.Time))

                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-tasks bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i>@Convert.ToString(string.Format("{0:hh:mm tt}", upd.Time))</span>
                                                <h3 class="timeline-header"><a>@upd.LogType</a></h3>

                                                @if (upd.LogType == "Created")
                                                {
                                                    <h3 class="timeline-header">@upd.Details  </h3>


                                                }
                                                else if (upd.LogType == "Updated")
                                                {
                                                    if (@upd.TStatus != "" && @upd.TStatus != null)
                                                    {
                                                        <h3 class="timeline-header">Status : <span> @upd.TStatus  </span></h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-header">Status : <span>Lead Approved  </span></h3>
                                                    }
                                                    <h3 class="timeline-header">Remark :  @upd.Details</h3>
                                                    if (@upd.RImages.Count != 0)
                                                    {
                                                        var ICount = 0;

                                                        <div class="row docwidthfile">
                                                            @foreach (var item in @upd.RImages)
                                                            {
                                                                ICount++;


                                                                if (@item.FileName != null && @item.FileName != "" && @item.TaskImageId != 0)
                                                                {
                                                                    if (@upd.RImages.Count == 1)
                                                                    {
                                                                        <p>Attachments :<span> </span></p>
                                                                    }
                                                                    var x = item.FileName.Split('.');

                                                                    var extn = x[1];
                                                                    var extnf = "";
                                                                    if (item.FileName.Contains("resize_"))
                                                                    {
                                                                        var filez = item.FileName.Split('_');
                                                                        extnf = filez[1];
                                                                    }
                                                                    else
                                                                    {
                                                                        extnf = item.FileName;
                                                                    }

                                                                    //var filename = x[0].Substring(0, x[0].Length - 20) + "." + extn;

                                                                    <div class="form-group col-md-2 thumblimit">
                                                                        @if (extn == "jpg" || extn == "jfif" || extn == "png" || extn == "jpeg")
                                                                        {
                                                                            <a href="~/uploads/leadtaskdocuments/@Html.DisplayFor(modelItem => @item.FileName)" ID="ImgBtn1" data-lightbox='@Html.DisplayFor(modelItem => @item.FileName )' )'>
                                                                                <img width="100" height="100" alt="@Html.DisplayFor(modelItem => @item.FileName)" title="Click to Open" src="~/uploads/leadtaskdocuments/thumb_@extnf" ID="ImgBtn1" class="img-responsive img-fluid thumblimit" />
                                                                            </a>
                                                                        }
                                                                        else if (extn == "ogv" || extn == "M4A" || extn == "FLAC" || extn == "MP3" || extn == "MP4" || extn == "WAV" || extn == "WMA" || extn == "AAC" || extn == "ogg" || extn == "opus" || extn == "mpg" || extn == "mpeg")
                                                                        {
                                                                            <span>
                                                                                <a class="fa fa-microphone fa-5x">
                                                                                </a>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (count == 0)
                                                                            {
                                                                                <p>Attachments :<span> </span></p>
                                                                            }

                                                                            <div class="form-group col-md-2 thumblimit">
                                                                                <img width="100" height="100" src="~/uploads/leadtaskdocuments/docavatar.png" ID="ImgBtn1" class="img-responsive img-fluid thumblimit" />
                                                                                <a href="~/uploads/leadtaskdocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download class="btn btn-primary btn-xs" style="width:100px;"> download</a>
                                                                            </div>

                                                                            count++;
                                                                        }
                                                                        <a href="~/uploads/leadtaskdocuments/@Html.DisplayFor(modelItem => item.FileName)" ID="ImgBtn1" download class="btn btn-primary btn-xs" style="width:100px;"> download</a>

                                                                    </div>
                                                                }

                                                            }

                                                        </div>
                                                    }
                                                    else
                                                    {

                                                    }
                                                    <br /><br /> <br /><br />
                                                }
                                                @if (upd.LogType == "Remark Added")
                                                {
                                                    if (@upd.TStatus != "")
                                                    {
                                                        @*<h3 class="timeline-header">Status : <span> @upd.TStatus  </span></h3>*@
                                                    }
                                                    if (upd.LogType == "Remark Added")
                                                    {
                                                        <h4 class="timeline-header"> Remark : <span> @upd.Details</span></h4>
                                                    }

                                                }

                                                else if (upd.LogType == "Assigned")
                                                {
                                                    <h3 class="timeline-header">@upd.Details </h3> @*by @upd.Name*@
                                                }

                                                else if (upd.LogType == "Unassigned")
                                                {
                                                    <h3 class="timeline-header">@upd.Details </h3> @*by @upd.Name*@
                                                }

                                                <div class="timeline-footer">
                                                    @if (upd.LogType == "Remark Added")
                                                    {
                                                        <span>  Added By : @upd.Name </span>
                                                    }
                                                    else if (upd.LogType == "Assigned")
                                                    {
                                                        <span>  Assigned By : @upd.Name </span>
                                                    }
                                                    else if (upd.LogType == "Unassigned")
                                                    {
                                                        <span> Un Assigned By : @upd.Name </span>
                                                    }
                                                    else
                                                    {
                                                        <span> @updby : @upd.Name </span>
                                                    }


                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                }
                            </div>
                            @*timeline*@

                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
    </div>
</div>

@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/lightbox")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/lightbox")
    <script type="text/javascript">
        $(document).ready(function () {
            var CustomerID = getQueryString('');

            var pTable = $('#RemarkInfo').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "bStateSave": true,
                "pageLength": 50,
                "paging": false,
                "ajax": {
                    "url": '/Leads/GetAllRemarks',
                    "type": "POST",
                    "datatype": "json",
                    "data": { CustomerId: CustomerID }
                },
                "order": [[2, "desc"]],
                "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                   { "data": "CreatedDate", "name": "CreatedDate", "render": function (data) { if (data != null) { return convertDateTime(data); } else { return "" } } },
                  { "data": "empnae", "name": "empnae" },
                  { "data": "Remark", "name": "Remark" },
                ],
            });
        });
    </script>
}


