
@model QuickSoft.ViewModel.followupviewmodel



@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")

    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}
<style>
    .ribbon4 {
        width: auto;
        position: absolute;
        left: -10px !important;
        top: -5px;
        padding: 5px 20px 5px 10px;
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
        box-shadow: -1px 2px 3px rgba(0,0,0,.3);
        color: white;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
    }

        .ribbon4:before, .ribbon4:after {
            content: "";
            position: absolute;
        }

        .ribbon4:before {
            width: 10px;
            height: 117%;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
            border-radius: 6px 0 0 5px;
        }

        .ribbon4:after {
            width: 10px;
            height: 8px;
            bottom: -8px;
            left: -5px;
            background: #095b9a;
            border-radius: 5px 0 0 5px;
        }

    .sh-bg1 {
        background-image: linear-gradient(to bottom right,rgba(138, 196, 238), rgb(0 148 255));
    }

    .sh-bg2 {
        background-image: linear-gradient(to bottom right,rgba(132, 243, 197), rgba(8, 176, 106));
    }

    .sh-bg3 {
        background-image: linear-gradient(to bottom right,rgba(238, 132, 187), rgba(164, 16, 138));
    }

    .sh-bg4 {
        background-image: linear-gradient(to bottom right,rgba(190, 217, 181),rgba(63, 113, 47));
    }

    .sh-bg5 {
        background-color: darkblue;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 10px 0px;
        border-radius: 5px;
    }

        .card-box:hover {
            text-decoration: none;
            box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.3);
            transform: scale(1.01);
        }

            .card-box:hover .icon i {
                font-size: 100px;
                transition: 1s;
                -webkit-transition: 1s;
            }

        .card-box .inner {
            padding: 5px 10px 0 10px;
        }

        .card-box h3 {
            font-size: 27px;
            font-weight: bold;
            margin: 0 0 8px 0;
            white-space: nowrap;
            padding: 0;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        .card-box p {
            font-size: 15px;
        }

        .card-box .icon {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: 10px;
            z-index: 0;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.15);
        }

        .card-box .card-box-footer {
            position: absolute;
            left: 0px;
            bottom: 0px;
            text-align: center;
            padding: 3px 0;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            text-decoration: none;
            border-radius: 0px 0px 5px 5px;
        }

        .card-box:hover .card-box-footer {
            background: rgba(0, 0, 0, 0.3);
        }

        .card-box .sh-title-align {
            background-image: linear-gradient(to bottom right,rgba(184, 220, 245, 1), rgb(0 148 255));
            padding: 1px 0px 1px 10px;
            margin-top: -10px !important;
            border-radius: 5px 5px 0px 0px;
        }

        .card-box h4 {
            text-shadow: 2px 2px 4px #000000;
        }

    .sh-row-design {
        background-color: white;
    }


    @@media only screen and (min-width: 800px) {
    }

    @@media only screen and (min-width: 1250px) {
    }

    @@media only screen and (max-width: 400px) {
    }
</style>
<div class="row sh-row-design">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="ribbon">
                    <div class="ribbon4"><h3 class="box-title">My Followups</h3></div>
                </div>
            </div>

        </div>


    </div>
    <br />
    <div class="col-md-12">
        @if (1 == 1)
        {
            <div class="col-md-1 col-xs-12">
                <div class="card-box sh-bg1">
                    <div class="inner">

                        <p>ALL </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <a href="/Leads/alls" class="card-box-footer" target="myiframe">Alls <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (1 == 1)
        {
            <div class="col-md-2 col-xs-12">
                <div class="card-box sh-bg2">
                    <div class="inner">

                        <p>My Leads ( @Model.totalleads ) Nos </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <a href="/Leads/Myleads" class="card-box-footer" target="myiframe">View my Leads <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (1 == 1)
        {
            <div class="col-md-3 col-xs-12">
                <div class="card-box sh-bg3">
                    <div class="inner">

                        <p>My Task( @Model.totaltask ) Nos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <a href="/Leads/Myleads"class="card-box-footer" target="myiframe">View my task <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (1 == 1)
        {
            <div class="col-md-3 col-xs-12">
                <div class="card-box sh-bg4">
                    <div class="inner">
                        <p>Payment followups( @Model.totalcustomerfollowups ) Nos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>


                    <a href="/MyReports/ViewAmountReceivablePayable?ddlType=1&pdc=True&emp=@Model.empid.ToString()&ondate=@Model.dates" class="card-box-footer" target="myiframe">Customer Outstanding <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
        @if (1 == 1)
        {
            <div class="col-md-3 col-xs-12">
                <div class="card-box sh-bg5">
                    <div class="inner">
                        <p>My Amc ( @Model.totalamc ) Nos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <a href="@Url.Action("MyAMC", "Amc")" class="card-box-footer" target="myiframe">My AMC <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    </div>
    <iframe src="/leads/alls" style="width:100%;height:15000px" id="myiframe" name="myiframe" frameborder="0" scrolling="auto"></iframe>
</div>
<script>
    $(document).ready(function () {
        $('#myiframe').load(function () {
            $('#myiframe').contents().find('.main-header').hide();
            $('#myiframe').contents().find('.main-sidebarr').hide();
        });
    });
    $('#myiframe').on("load", function () {
        $('#myiframe').contents().find('.main-header').hide();
        $('#myiframe').contents().find('.main-sidebarr').hide();
        $('#myiframe').contents().find('.main-footer').hide();

    });
</script>