@model QuickSoft.Models.LeadTaskRemarkviewmodal
@{
    Layout = null;

}
<style>
    /**/
    .dropdown-check-list {
        display: inline-block;
        width: 100%;
        outline: none;
        /*  position: absolute;*/
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
            width: 100%;
            background: #fff;
            text-align: left;
            border-radius: 17px;
            font-size: 12px;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 2px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
                background: #fff;
                padding: 5px;
            }
</style>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/bootstrap-sortable")
    @Scripts.Render("~/js/bootstrap-purify")
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Source Of Lead</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "SourceOfLead", FormMethod.Post, new { id = "createform2" }))
    {
        <script type="text/javascript">
            $('form#createform2').removeData("validator");
            $('form#createform2').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#createform2'));
        </script>
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="row">

            <div class="form-group col-md-12">

                <label class="control-label" for="Status">Current Action</label>
                @Html.DropDownListFor(m => m.TaskStatusID, (SelectList)ViewBag.CurrentAction, "", new { id = "ddlCurrentAction", @class = "form-control select2", @readonly = "readonly", @disabled = "disabled", tabindex = 1 })

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="Status">Next Action</label>
                @Html.DropDownListFor(m => m.TaskUpdationID, (SelectList)ViewBag.NextAction, "", new { id = "ddlPStatus", @class = "form-control select2", @required = "required" })
                <div class="margin-bottom" id="checklist2"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="Alias">Location</label>
                @Html.DropDownListFor(model => model.LocationId, (SelectList)ViewBag.Location, new { @class = "form-control input-sm select2", tabindex = 12 })

            </div>
        </div>
        <div class="row">
            @if (Model.FieldMap.Count > 0 && ViewBag.isfiremanbag == true)
            {
                for (int i = 0; i < Model.FieldMap.Count; i++)
                {
                    var fmap = "";
                    if (Model.FieldMap[i].Field == "Ref1")
                    {
                        fmap = Model.Ref1;
                    }
                    if (Model.FieldMap[i].Field == "Ref2")
                    {
                        fmap = Model.Ref2;
                    }
                    if (Model.FieldMap[i].Field == "Ref3")
                    {
                        fmap = Model.Ref3;
                    }
                    if (Model.FieldMap[i].Field == "Ref4")
                    {
                        fmap = Model.Ref4;
                    }
                    if (Model.FieldMap[i].Field == "Ref5")
                    {
                        fmap = Model.Ref5;
                    }

                    <div class="form-group col-md-3">
                        <label class="control-label" for="FieldName"> @Model.FieldMap[i].FieldName</label>
                        @if (Model.FieldMap[i].Type == "Dropdown")
                        {
                            if (Model.FieldMap[i].Field == "Ref1")
                            {
                                @Html.DropDownList("Ref1", (SelectList)ViewBag.VRef1, new { @id = "Ref1", @class = "form-control input-sm select2 ref" })
                            }
                            if (Model.FieldMap[i].Field == "Ref2")
                            {
                                @Html.DropDownList("Ref2", (SelectList)ViewBag.VRef2, new { @id = "Ref2", @class = "form-control input-sm select2 ref" })
                            }
                            if (Model.FieldMap[i].Field == "Ref3")
                            {
                                @Html.DropDownList("Ref3", (SelectList)ViewBag.VRef3, new { @id = "Ref3", @class = "form-control input-sm select2 ref" })
                            }
                            if (Model.FieldMap[i].Field == "Ref4")
                            {
                                @Html.DropDownList("Ref4", (SelectList)ViewBag.VRef4, new { @id = "Ref4", @class = "form-control input-sm select2 ref" })
                            }
                            if (Model.FieldMap[i].Field == "Ref5")
                            {
                                @Html.DropDownList("Ref5", (SelectList)ViewBag.VRef5, new { @id = "Ref5", @class = "form-control input-sm select2 ref" })
                            }

                        }
                        else
                        {
                            <input class="form-control input-sm" id="@Model.FieldMap[i].Field" name="@Model.FieldMap[i].Field" type="text" value="@fmap">
                        }
                    </div>

                }
            }
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label" for="Alias"> Date</label>
                @* <input class="form-control datepicker input-sm valid" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="SEDate" name="SEDate" required="required" type="date" value="20-04-2021" tabindex="3">*@
                @Html.TextBoxFor(m => m.CreatedDate, "{0:yyyy-MM-dd}", new { @id = "SEDate", @type = "date", @class = "form-control datepicker", @autocomplete = "off", @required = "required" })

            </div>
            <div class="form-group col-md-6">
                <div class="bootstrap-timepicker">

                    <div class="input-group">
                        <label class="control-label" for="Alias"> Time</label>

                        @Html.TextBoxFor(m => m.EndTime, "{0:hh:mm tt}", new { @class = "form-control timepicker", @style = "width:150px", @autocomplete = "off", @value = "", @required = "required" })
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label" for="Alias">Finish Date</label>
                @* <input class="form-control datepicker input-sm valid" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="findhdate" name="finishdate" required="required" type="date" value="20-04-2021" tabindex="3">*@
                @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @id = "EndDate", @class = "form-control datepicker", @type = "date", @autocomplete = "off", @required = "required" })

            </div>
            <div class="form-group col-md-6">
                <div class="bootstrap-timepicker">

                    <div class="input-group">
                        <label class="control-label" for="Alias">Finish  Time</label>

                        @Html.TextBoxFor(m => m.FinishTime, "{0:hh:mm tt}", new { @class = "form-control timepicker", @style = "width:150px", @autocomplete = "off", @value = "", @required = "required" })
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (User.IsInRole("Dev") || User.IsInRole("AssignUserToLead"))
        {
            <div class="row">
                <div class="form-group col-md-6 hidden">
                    <label class="control-label" for="AssignedTo">Assigned To</label> *
                    @*@Html.DropDownListFor(m => m.AssignedTo, (MultiSelectList)ViewBag.Employee, "", new { @class = "form-control select2 porder", @name = "AssignedTo[]", @multiple = "multiple" })*@
                    @Html.ListBoxFor(m => m.AssignedTo, (MultiSelectList)ViewBag.Employee, new { @class = "form-control select2 assuser", @name = "AssignedTo[]", @multiple = "multiple", @style = "width:100%" })
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="form-group col-md-6" style="display:none;">
                    <label class="control-label" for="AssignedTo">Assigned To</label> *
                    @*@Html.DropDownListFor(m => m.AssignedTo, (MultiSelectList)ViewBag.Employee, "", new { @class = "form-control select2 porder", @name = "AssignedTo[]", @multiple = "multiple" })*@
                    @Html.ListBoxFor(m => m.AssignedTo, (MultiSelectList)ViewBag.Employee, new { @class = "form-control select2 assuser", @name = "AssignedTo[]", @multiple = "multiple", @style = "width:100%" })
                </div>
            </div>
        }

        <div class="row">

            <div class="form-group col-md-12">
                <div class="file-loading">
                    @Html.Label("Documents", null, new { @class = "control-label" })
                    <input id="fileupload" class="file" name="fileupload" multiple="multiple" type="file" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.HiddenFor(model => model.TaskId)
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 20 })
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Save" class="btn btn-info col-sm-offset-4" id="submit" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    function CallleadStatus2() {

        $("#ddlPStatus").select2({
            placeholder: 'Search lead Status ',
            minimumInputLength: 0,
            ajax: {
                url: "/TaskStatus/SearchleadStatus",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page

                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
    }
    $(document).ready(function () {
        $(".select2").select2();
        CallleadStatus2();
    });
</script>



<script>
    $("#fileupload").fileinput({
        maxFilePreviewSize: 10240,
        autoReplace: true,
        maxFileCount: 10,
        showUploadedThumbs: true,

        overwriteInitial: false,
        showUpload: false,
        initialPreviewAsData: true,
        initialPreviewFileType: 'image',

        allowedFileExtensions: ["dwg ", "xlsx", "gif", "jpg", "png", "jfif", "jpeg", "doc", "docx", "pdf", "dwg", "pptx", "vsdx",
            'M4A', 'FLAC', 'MP3', 'MP4', 'WAV', 'WMA', 'AAC', 'ogg', 'opus', 'mpg', 'mpeg'],
        fileActionSettings: {
            showUpload: false,
        },
    }).on('filesorted', function (e, params) {
        console.log('File sorted params', params);
    }).on('fileuploaded', function (e, params) {
        console.log('File uploaded params', params);
    });

    $('body').on('change', '#ddlPStatus', function (e) {
        var CheckID = $(this).val();
        var itnote = false;
        $.ajax({
            url: '/Leads/GetCheckItems',
            dataType: 'json',
            data: { CheckID: CheckID },
            cache: true,
            success: function (data) {
                var lengt = data.length;
                var checkdata = "";
                $('#checklist2').html('');
                $.each(data, function (i, item) {
                    var addnote = "";
                    checkdata = "<tr>"
                    var check = "";
                    var ck = "";
                    if (item.Note == true) {
                        checkdata += "<td style='width:50px;'><input name='bstmodel[" + (i) + "].Check' " + check + " id='checkbox_" + item.Id + "' type=\"checkbox\" name=\"note\" onchange='notechange(" + item.Id + ")' ></input></td>" +
                            "<td><label for='" + item.Id + "'>" + item.Name + "</label></td>" +
                            "<input type='hidden' name='bstmodel[" + (i) + "].Id' data-name='Id' class='checkid_" + item.Id + "' value='" + item.Id + "' id='checkid_" + item.Id + "'/> " +
                            "</td>"
                            ;
                    }
                    else {
                        checkdata += "<td style='width:50px;'></td>" +
                            "<td><label for='" + item.Id + "'>" + item.Name + "</label></td>" +
                            "<input type='hidden' name='bstmodel[" + (i) + "].Id' data-name='Id' class='checkid_" + item.Id + "' value='" + item.Id + "' id='checkid_" + item.Id + "'/> " +
                            "</td>"
                            ;
                    }
                    if (item.Note == true) {
                        addnote += "<td><textarea data-name='Note' name='bstmodel[" + (i) + "].Note' id='addnote_" + item.Id + "' class='addnote_" + item.Id + " form-control text-left addnote' placeholder='Enter note'></textarea></td> "
                    }
                    checkdata += addnote + "</tr><br />"
                    $('#checklist2').append(checkdata);
                });
            }
        });
    });

    function notechange(arg) {
        ////$('#addnote_' + arg).prop
        ////var $input = $(obj);
        var $input = $('#checkbox_' + arg).prop('checked');
        if ($input) {
            $('#addnote_' + arg).show();
        }
        else {
            $('#addnote_' + arg).hide();
        }
    }

    $('#createform2').on('submit', function (e) {
        e.preventDefault();
        if ($("#createform2").valid()) {
            var formData = new FormData(this);
            var files = $("#fileupload").get(0);
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    formData.append("fileupload", files[i]);
                }
            }

            var HTMLtbl = {
                getData: function (table) {
                    var data = [];
                    table.find('tr').each(function (rowIndex, r) {
                        var cols = {};
                        $(this).find('input,textarea').each(function (colIndex, c) {
                            itid = $(this).attr('data-name');
                            itval = ($(this).val() != "") ? $(this).val() : $(this).text();
                            cols[itid] = itval
                            //alert(itid)
                        });
                        data.push(cols);
                    });
                    return data;
                }
            }

            var checkdata = HTMLtbl.getData($('#normalinvoice'));
            var parameters = {};
            parameters.tremark = formData; //formData,//
            parameters.checkarray = checkdata; //alert(parameters.checkarray)
            parameters.bstmodel = checkdata;// alert(checkdata)

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                processData: false,
                contentType: false,
                url: "/Leads/LeadModal",
                data: formData,//JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (e.status) {
                        $('.ajax_response', res_success).text(e.message);
                        $('.AlertDiv').prepend(res_success);
                        $('#modal-create').modal('hide');
                        $('#modal-create .modal-content').html('');
                        oTable.draw();
                    }
                    else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button

                    }
                }

            });
        }
        setTimeout(click, 3000);
        function click() {
            $('.AlertDiv').fadeOut(500);
            //window.location.reload();
        }
    });
    $(".timepicker").timepicker({
        showInputs: true,
        defaultTime: false,
        format: 'dd-mm-yyyy'
    });
</script>





