<div id="ComHeadCheck">
    @if (@ViewBag.Header != "" && @ViewBag.Header != null)
    {
        <div>
            <img src="~/uploads/companyheader/header/@ViewBag.Header" width="100%" ID="ImageButton11" class="img-responsive img-fluid" />
        </div>
    }
    else
    {

        if (@ViewBag.CLogo != null)
        {
            <div class="logo"><img class="img-responsive" src="~/uploads/company/@ViewBag.CLogo" /></div>
            if (@ViewBag.chkLogo == "logo")
            {
                <h3>@ViewBag.CName </h3>
            }
        }
        if (@ViewBag.CLogo == null)
        {
            <h3>@ViewBag.CName </h3>
        }
        <h5>
            @if (@ViewBag.CAddress != null)
            {
                @ViewBag.CAddress<br>
            }
            @if (@ViewBag.CPhone != null)
            {
                <span>
                    Phone: @ViewBag.CPhone
                </span>
                if (@ViewBag.CPMob != null)
                {
                    <span> , @ViewBag.CPMob</span>
                }
                <br />

            }
            else
            {
                if (@ViewBag.CPMob != null)
                {
                    <span>Phone: @ViewBag.CPMob</span>
                    <br />
                }
            }
            @if (@ViewBag.CPFax != null)
            {
                <span>Fax: @ViewBag.CPFax</span>
            }
            @if (@ViewBag.Web != null)
            {
                <span>@ViewBag.Web</span><br>
            }
            @if (@ViewBag.CEmail != null)
            {
                @ViewBag.CEmail<br>
            }

            @if (@ViewBag.CTaxRegNo != null)
            {
                <span class="ctrn">TRN: @ViewBag.CTaxRegNo</span>
            }
        </h5>
    }
</div>
