@model QuickSoft.ViewModel.PropertyViewModel
@{
    ViewBag.Title = "Property Details";
    ViewBag.SubTitle = "Details";
    ViewBag.Active = "Master";
    string actData = "";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">@Html.DisplayFor(m => m.Name)</h3>
        @*@if (User.IsInRole("Dev") || User.IsInRole("Create Property"))
            {*@
        <div class="pull-right col-md-2">
            <a class="btn btn-info no-border btn-block" href="/Property/PropertyMain/Create">
                <i class="glyphicon glyphicon-plus"></i>Create
            </a>
        </div>
        @*}
            @if (User.IsInRole("Dev") || User.IsInRole("Property"))
            {*@
        <div class="pull-right col-md-2">
            <a class="btn btn-success no-border btn-block" href="/Property/PropertyMain/">
                <i class="fa fa-fw fa-history"></i>List
            </a>
        </div>
        @*}*@
    </div>
    <div class="box-body ">
        <section class="content">
            <style>
                /*a{
                    display:list-item;
                    word-wrap:break-word;

                }*/
                .text-right {
                    display: list-item;
                    word-wrap: break-word;
                }
            </style>
            <!--Details-->
            <div class="col-md-3">
                <div class="box box-primary">
                    <input type="hidden" id="Scaffold" value="@ViewBag.BusinessType" />
                    <div class="row">
                        <!-- Details-->
                        <div class="box-header with-border" style="text-align:center" ;>
                            <h4 class="box-title">Basic Details</h4>
                        </div>
                        <!--Basic Detail-->
                        <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                <li class="list-group-item">
                                    <b>Code </b>
                                    <a class="pull-right">@Html.DisplayFor(m => m.Code)</a>
                                </li>
                                @if (Model.Name != null)
                                {
                                    <li class="list-group-item">
                                        <b>Name </b>
                                        <a class="pull-right">@Html.DisplayFor(m => m.Name)</a>
                                    </li>
                                }


                                @if (Model.Remark != null)
                                {
                                    <li class="list-group-item">
                                        <b>Remark </b>
                                        <a class="pull-right"> @Html.DisplayFor(m => m.Remark)</a>
                                    </li>
                                }

                                @*@if (Model.PropFeature != null)
                                {
                                    <li class="list-group-item">
                                        @Html.Label("Features:", null, new { @class = "control-label" })
                                        foreach (var Ext in Model.PropFeature)
                                        {
                                        <a class="text-right">
                                            @Html.Label(Ext.Feature + ", ", new { @style = "font-weight:normal" })
                                        </a>
                                        }
                                    </li>
                                }*@


                            </ul>
                        </div>
                        <!--Contact Details-->
                        <div class="box box-primary">
                            <div class="row">
                                <div class="box-header with-border" style="text-align:center" ;>
                                    <h4 class="box-title">Contact Details</h4>
                                </div>
                                <div class="box-body box-profile">
                                    <ul class="list-group list-group-unbordered" style="list-style-type: none;">
                                        <li class="list-group-item">
                                            <b>Address</b>
                                            <a class="text-right">
                                                @Html.DisplayFor(m => m.Address)
                                            </a>
                                            @*<a class="pull-right">@Html.DisplayFor(m => m.Address)</a>*@
                                        </li>
                                        <li class="list-group-item ">
                                            <b>City</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.City)</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>State</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.State)</a>

                                        </li>
                                        <li class="list-group-item">
                                            <b>Country</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Country)</a>
                                        </li>

                                        <li class="list-group-item">
                                            <b>Zip</b>
                                            <a class="text-right">@Html.DisplayFor(m => m.Zip)</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Account Details-->
                        <div class="box box-primary">

                            @*@if (User.IsInRole("Dev") || User.IsInRole("Edit Property"))
                                {*@
                            <a class="btn btn-info btn-block" href="/Property/PropertyMain/Edit/@Model.Id">
                                <i class="fa fa-edit"></i> <b>Edit</b>
                            </a>
                            @*}*@
                        </div>
                    </div>

                </div>
            </div>
            <!--Table Tab-->
            @*add here*@
        </section>
    </div>
    <!---END OF BODY-->

</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}

@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }
            var accid = $('#AccountsID').val();
            //accbalanceto(accid);
            var EntryID = getQueryString('');
            var DC = $("#DCname").val();
            $("#refernceTable").hide();




            function reload_table() {
                qTable.clear().draw();
                qTable.ajax.reload(null, false); //reload datatable ajax

            }


        });
    </script>
}