@model QuickSoft.ViewModel.PropertyViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>JobCard Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Property Id :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Id)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Code  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Code)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Address :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Address)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("City :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.City)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Country :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Country)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Description :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.City)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Property Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PropertyTypeName)
                </div>
                @if (Model.HType != null)
                {
                    @*<div style="text-align:center;">
                <u><b>Hire Rate Details</b></u>
            </div>*@
                foreach (var htype in Model.HType)
                {
                    <div class="col-sm-6 form-group">
                        <b>Features</b>: @htype.Name
                    </div>
                    }
                }


                @if (Model.AdditionalFieldVieModels != null)
                {
                    @*<div style="text-align:center;">
                            <u><b>Hire Rate Details</b></u>
                        </div>*@
                foreach (var htype in Model.AdditionalFieldVieModels)
                {
                    <div class="col-sm-6 form-group">
                        <b>@htype.Name</b>: @htype.Entrydata
                    </div>
                    }
                }
                
                <div class="col-sm-2 form-group">
                    @Html.Label("Description :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.City)
                </div>
                
                <div class="clearfix"></div>
            </div>
           
        </div>
    </div>
</div>

