@model QuickSoft.ViewModel.PropertyViewModel
@{
    ViewBag.Title = "Edit Property";
    ViewBag.SubTitle = "Property";
    ViewBag.Active = "Master";

}
<div class="box box-info">
    @using (Html.BeginForm("Update", "PropertyMain", FormMethod.Post, new { id = "EditmainForm", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Property</h3>
            <div class="pull-right">
                @if (@ViewBag.preEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/PropertyMain/Edit/@ViewBag.preEntry">
                        <i class="fa fa-step-backward"></i>
                    </a>
                    //}
                }
                @if (@ViewBag.nxtEntry != 0)
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Edit PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/PropertyMain/Edit/@ViewBag.nxtEntry">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    //}
                }
                else
                {
                    // if (User.IsInRole("Dev") || User.IsInRole("Create PropertyMain"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/PropertyMain/Create">
                        <i class="fa fa-step-forward"></i>
                    </a>
                    //}
                }

                @*@if (User.IsInRole("Dev") || User.IsInRole("PropertyMain"))
                    {*@
                <a class="btn btn-success no-border" href="/Property/PropertyMain">
                    <i class="fa fa-fw fa-history"></i> Property
                </a>
                @*}*@
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(model => model.Section)
<div class="box-body">
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })*
        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>


    <div class="form-group col-md-4">
        @Html.Label("Munciypalicty", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Municipality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Zone", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Zone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Sector", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Sector, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Road Name", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.RoadName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Plot No", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.PlotNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>
    <div class="form-group col-md-4">
        @Html.Label(" Registration No", null, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.PropertyRegistrationNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Property Name", tabindex = 15 } })
    </div>


    <div class="form-group col-md-2 select2-box">
        @Html.Label("Landlord", null, new { @class = "control-label" })
        @Html.DropDownList("ddlLandlord", (SelectList)ViewBag.Cust, "--select--", new { @class = "form-control input-sm select2" })
    </div>
    <div class="col-sm-4 form-group">
        @Html.LabelFor(m => m.PropertyType, new { @class = "control-label" })
        <div class="input-group input-group-sm">
            @Html.DropDownListFor(m => m.PropertyType, (SelectList)ViewBag.proptype, "", new { id = "ddlPropertyType", @class = "form-control select2", tabindex = 5 })
            <span class="input-group-btn">
                <button type="button" href="/Property/PropertyType/Create" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
            </span>
        </div>
    </div>

    <div class="form-group col-md-4 hidden">
        @Html.LabelFor(m => m.Feature, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.Feature, (SelectList)ViewBag.TagFeature, new { @multiple = "multiple", @class = "form-control input-sm select2 textwidth" })
        </div>
    </div>
    @*<div class="col-sm-4 form-group">
            @Html.LabelFor(m => m.Features, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Features, (SelectList)ViewBag.PropFeat, new { @class = "form-control select2 Features", @name = "Features[]", @multiple = "multiple" })
        </div>*@
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Enter Remark", tabindex = 8 })
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description", tabindex = 8 })
    </div>
    <div class="form-group col-sm-12 no-padding">
        @Html.Label("Item Image", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ItemImage, new { type = "file", multiple = "multiple", tabindex = 24 })
        @if (Model.ImageId != null)
        {
            <div class="col-sm-6 fileupload fileupload-new" data-provides="fileupload">
                <div style="width: 50px; height: 50px;" class="pull-right">
                    <a href="~/uploads/propertyimages/@Html.DisplayFor(Model => Model.Id)/@Html.DisplayFor(Model =>Model.ImageName)" ID="ImageButton1" data-rel="colorbox">
                        <img width="50" height="50" alt="@Html.DisplayFor(Model =>Model.ImageName)" title="Click to Open" src="~/uploads/propertyimages/@Html.DisplayFor(Model => Model.Id)/@Html.DisplayFor(Model =>Model.ImageName)" ID="ImageButton11" />
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="box-body">
        <div id="DocDetails"></div>
    </div>
</div>
        <div class="box-header with-border">
            <h5 class="box-title">Contact Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 10 })
            </div>
            @if (@ViewBag.CityCheck == 0)
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.City, (SelectList)ViewBag.SCity, "", new { id = "ddlCity", @class = "form-control select2", tabindex = 11 })
                        <span class="input-group-btn">
                            <a href="/City/Create" class="modal-create btn btn-success btn-flat" title="Add New City"><i class="fa fa-1x fa-plus-circle"></i></a>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City", tabindex = 11 } })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Select", Value=""},
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State", tabindex = 12 })

                @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State", tabindex = 12 } })*@
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country", tabindex = 13 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Zip", tabindex = 14 } })
            </div>
            @for (int i = 0; i < Model.AdditionalField.Count; i++)
            {
                string myrate = Model.AdditionalFieldVieModels.Where(a => a.Field == Model.AdditionalField[i].ID).Select(a => a.Entrydata).FirstOrDefault();
                var ratev = (myrate != null) ? myrate : "";
                <div class="form-group col-sm-2">
                    <label class="control-label" for="SellingPrice"> @Model.AdditionalField[i].Name</label>
                    <input type="hidden" id="ID@i" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                    <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" type="text" value="@ratev">
                </div>

            }
            @*@for (int i = 0; i < Model.AdditionalField.Count; i++)
                {
                    string myrate = Model.AdditionalFieldVieModels.Where(a => a.ID == Model.AdditionalField[i].ID).Select(a => a.Entrydata).FirstOrDefault();
                    var ratev = (myrate != null) ? myrate : "";
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="AdditionalField">Additional Field @Model.AdditionalField[i].Name</label>
                        <input type="hidden" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                        <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" type="text" value="@ratev">
                    </div>
                }*@
            @*<div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", tabindex = 15 } })
                </div>
                <div class="form-group col-md-4">
                          @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })
                          @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", tabindex = 16 } })
                    </div>*@

        </div>



        <div class="box-footer clearfix text-center">
            <button type="submit" id="save" class="btn btn-success" tabindex="28">
                <span class="glyphicon glyphicon-floppy-disk"></span> Update
            </button>
            <button type="button" class="btn btn-default" tabindex="29" onclick="/@("window.location.href='/Property/Property/Index'");">Cancel</button>
        </div>
    }
</div>

@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/docexp")
    @Scripts.Render("~/js/cheque")
    @Scripts.Render("~/js/property")
    <script type="text/javascript">
        $(document).ready(function () {
            var Pid = $('#Id').val();
            featTypeSel(Pid);
            searchDocType();
            searchBankName();
            var EntryID = getQueryString('');
            GetLandlordAll();
            $.ajax({
                url: '/Property/PropertyMain/GetDocument',
                dataType: 'json',
                data: { CnId: EntryID, purpose: 'Property' },
                cache: true,
                success: function (data) {
                    //$('#addchecklist').html('');
                    leng = data.length;
                    if (leng > 0) {
                        $.each(data, function (i, item) {
                            Adddoctypeexp(item.Id,item.type, item.AttAch, item.Value, item.Id, item.Date, item.Purpose);
                        });
                    } else {
                        Adddoctypeexp();
                    }
                }
            });

            $("#Feature").select2({
                tags: true
            });
        });


        $("#ddlDocumentType").select2({
            placeholder: 'Search Document Type',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/DocumentType/SearchDocumentType",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                        x: "in"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $("#ddlPropertyType").select2({
            placeholder: 'Search Property Type',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/PropertyType/SearchPropertyType",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                        x: "in"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $("#Features").select2({
            placeholder: 'Search Feature',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/PropertyFeature/SearchFeature",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                        x: "in"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        function featTypeSel(Pid) {

            $.ajax({
                url: '/PropertyMain/GetAllFeatures',
                type: "GET",
                dataType: "JSON",
                data: { Pid: Pid },
                success: function (result) {
                    if (result != null) {
                        var chk = 0;
                        var values = new Array();
                        $.each(result, function (j, member) {
                            values.push(member.ID);
                            chk++;
                        });
                        $('#Feature').val(values).trigger("change");
                    } else {
                        $('#Feature').val(null).trigger("change");
                    }
                }
            });
            $("#Feature").prop("disabled", false);
        }

        //submit function
        $('#EditmainFormchange').on('submit', function (e) {


            if ($("#EditmainForm").valid()) {
                e.preventDefault();
                var url = $('#EditmainForm')[0].action;
                var formData = new FormData(this);

                var imgUpload = $("#ItemImage").get(0);
                var imgFiles = imgUpload.files;
                if (imgFiles[0] != null) {
                    formData.append(imgFiles[0].name, imgFiles[0]);
                }

                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//$('#EditlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            location.reload();
                            @*window.location.href = '@Url.Action("Edit", "PropertyMain")';*@
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });
        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

    </script>
}
