@model QuickSoft.ViewModel.EmployeeGradeViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Employee Grade</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "EmployeeGrade", FormMethod.Post, new { id = "createform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(m => m.GradeName, htmlAttributes: new { @class = "control-label" })*
                    @Html.EditorFor(model => model.GradeName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Note", @rows = 2 })
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="normalinvoice">
                        <thead>
                            <tr>
                                <th class="text-center">S/N</th>
                                <th class="text-center">Effective From <i class="text-danger">*</i></th>
                                <th class="text-center item-lists">Payhead <i class="text-danger">*</i></th>
                                <th class="text-center">Rate</th>
                                <th class="text-center">Per </th>
                                <th class="text-center">Pay Head Type</th>
                                <th class="text-center">Calculation Type</th>
                                <th class="text-center">Computed On</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody class="addemp" id="addempitem"></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
            <script>
                $(document).ready(function () {
                    addempitem('normalinvoice .addemp', "", "", "", "0.00", "", "");
                });
            </script>
    }
</div>
@Scripts.Render("~/js/jqueryval")