@model QuickSoft.ViewModel.InstallationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOS - Installation</title>
    @Styles.Render("~/css/css")
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/js")
    @Scripts.Render("~/js/js")
    @Scripts.Render("~/js/jqueryval")
    <style>
        input[type="text"],
        input[type="password"],
        textarea,
        textarea.form-control {
            height: 30px;
            margin: 0;
            padding: 0 20px;
            vertical-align: middle;
            background: #fff;
            border: 1px solid #ddd;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 44px;
            color: #888;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

        textarea,
        textarea.form-control {
            height: 70px;
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 30px;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        textarea:focus,
        textarea.form-control:focus {
            outline: 0;
            background: #fff;
            border: 1px solid #ccc;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input[type="text"]:-moz-placeholder,
        input[type="password"]:-moz-placeholder,
        textarea:-moz-placeholder,
        textarea.form-control:-moz-placeholder {
            color: #888;
        }

        input[type="text"]:-ms-input-placeholder,
        input[type="password"]:-ms-input-placeholder,
        textarea:-ms-input-placeholder,
        textarea.form-control:-ms-input-placeholder {
            color: #888;
        }

        input[type="text"]::-webkit-input-placeholder,
        input[type="password"]::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder,
        textarea.form-control::-webkit-input-placeholder {
            color: #888;
        }

        label {
            font-weight: 300;
        }

        button.btn {
            min-width: 105px;
            height: 40px;
            margin: 0;
            padding: 0 20px;
            vertical-align: middle;
            border: 0;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 40px;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            text-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

        button.btn:hover {
            opacity: 0.6;
            color: #fff;
        }

        button.btn:active {
            outline: 0;
            opacity: 0.6;
            color: #fff;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        button.btn:focus,
        button.btn:active:focus,
        button.btn.active:focus {
            outline: 0;
            opacity: 0.6;
            color: #fff;
        }

        button.btn.btn-next,
        button.btn.btn-next:focus,
        button.btn.btn-next:active:focus,
        button.btn.btn-next.active:focus {
            background: #f35b3f;
        }

        button.btn.btn-submit,
        button.btn.btn-submit:focus,
        button.btn.btn-submit:active:focus,
        button.btn.btn-submit.active:focus {
            background: #f35b3f;
        }

        button.btn.btn-previous,
        button.btn.btn-previous:focus,
        button.btn.btn-previous:active:focus,
        button.btn.btn-previous.active:focus {
            background: #bbb;
        }

        .form-group {
            margin-bottom: 5px;
        }

        #list-table-div {
            overflow: hidden;
            width: auto;
            height: 243px;
        }

        #totaltbl {
            margin-bottom: 10px;
        }

        strong {
            font-weight: 500;
        }

        a,
        a:hover,
        a:focus {
            color: #f35b3f;
            text-decoration: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

        ::-moz-selection {
            background: #f35b3f;
            color: #fff;
            text-shadow: none;
        }

        ::selection {
            background: #f35b3f;
            color: #fff;
            text-shadow: none;
        }

        .navbar {
            padding-top: 10px;
            background: #333;
            background: rgba(51, 51, 51, 0.3);
            border: 0;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

        .navbar.navbar-no-bg {
            background: none;
        }

        ul.navbar-nav {
            font-size: 16px;
            color: #fff;
        }

        .navbar-inverse ul.navbar-nav li {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .navbar-inverse ul.navbar-nav li .li-text {
            opacity: 0.8;
        }

        .navbar-inverse ul.navbar-nav li a {
            display: inline;
            padding: 0;
            color: #fff;
        }

        .navbar-inverse ul.navbar-nav li a:hover {
            color: #fff;
            opacity: 1;
            border-bottom: 1px dotted #fff;
        }

        .navbar-inverse ul.navbar-nav li a:focus {
            color: #fff;
            outline: 0;
            opacity: 1;
            border-bottom: 1px dotted #fff;
        }

        .navbar-inverse ul.navbar-nav li .li-social a {
            margin: 0 5px;
            font-size: 28px;
            vertical-align: middle;
        }

        .navbar-inverse ul.navbar-nav li .li-social a:hover,
        .navbar-inverse ul.navbar-nav li .li-social a:focus {
            border: 0;
            color: #f35b3f;
        }

        .navbar-brand {
            width: 162px;
            background: url(../img/logo.png) left center no-repeat;
            text-indent: -99999px;
        }

        .top-content {
            padding: 40px 0 170px 0;
        }

        .top-content .text {
            color: #fff;
        }

        .top-content .text h1 {
            color: #fff;
        }

        .top-content .description {
            margin: 20px 0 10px 0;
        }

        .top-content .description p {
            opacity: 0.8;
        }

        .top-content .description a {
            color: #fff;
        }

        .top-content .description a:hover,
        .top-content .description a:focus {
            border-bottom: 1px dotted #fff;
        }

        .form-box {
            padding-top: 40px;
        }

        .f1 {
            background: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 1px;
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
            padding: 30px;
            margin-top: -30px;
        }

        .f1 h3 {
            margin-top: 0;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .f1-steps {
            overflow: hidden;
            position: relative;
            margin-top: 20px;
        }

        .f1-progress {
            position: absolute;
            top: 24px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #ddd;
        }

        .f1-progress-line {
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            background: #f35b3f;
        }

        .f1-step {
            position: relative;
            float: left;
            width: 32%;
            padding: 0 5px;
        }

        .f1-step-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-top: 4px;
            background: #ddd;
            font-size: 16px;
            color: #fff;
            line-height: 40px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .f1-step.activated .f1-step-icon {
            background: #fff;
            border: 1px solid #f35b3f;
            color: #f35b3f;
            line-height: 38px;
        }

        .f1-step.active .f1-step-icon {
            width: 48px;
            height: 48px;
            margin-top: 0;
            background: #f35b3f;
            font-size: 22px;
            line-height: 48px;
        }

        .f1-step p {
            color: #ccc;
        }

        .f1-step.activated p {
            color: #f35b3f;
        }

        .f1-step.active p {
            color: #f35b3f;
        }

        .f1 fieldset {
            display: none;
            text-align: left;
        }

        .f1-buttons {
            text-align: right;
        }

        .f1 .input-error {
            border-color: #f35b3f;
        }

        #log-main {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #888;
            line-height: 30px;
            text-align: center;
            margin: auto;
            height: 100vh;
        }

        .logbox {
            padding: 20px;
        }

        .log-body {
            margin: auto;
            margin-bottom: 30px;
        }

        .quick {
            font-size: 30px;
        }

        .chkpadding {
            padding-top: 28px;
        }
    </style>
</head>
<body class="log-body">
    <section id="log-main">
        <div class="logbox">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    @using (Html.BeginForm("Index", "Installation", FormMethod.Post, new { @class = "f1", id = "insform", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                        <h3 class="quick">BOS</h3>
                        <p>Fill in the form to get instant access</p>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="4"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon"><i class="fas fa-info"></i></div>
                                <p>Basic Details</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="far fa-building"></i></div>
                                <p>Company Details</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="far fa-user"></i></div>
                                <p>User Details</p>
                            </div>
                        </div>
                        <fieldset id="bascidetail">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.SystemTypes, htmlAttributes: new { @class = "control-label" })*
                                @Html.EnumDropDownListFor(model => model.SystemTypes, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6" id="demoperiod">
                                @Html.LabelFor(model => model.DemoPeriod, htmlAttributes: new { @class = "control-label" })*
                                @Html.DropDownListFor(model => model.DemoPeriod, new SelectList(new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "30 Days", Value="30"},
                                            new SelectListItem() {Text = "60 Days", Value="60"},
                                            new SelectListItem() {Text = "90 Days", Value="90"}
                                        }, "Value", "Text"), new { @class = "form-control", @name = "ddlDemoPeriod" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })*
                                <div class="input-group date">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                            <div id="notdemo">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.LicenseKey, htmlAttributes: new { @class = "control-label" })*
                                    @Html.EditorFor(model => model.LicenseKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter License Key" , @required = "required" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SystemCode, htmlAttributes: new { @class = "control-label " })*
                                    @Html.EditorFor(model => model.SystemCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter System Code", @required = "required", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="box-footer">
                                    <div class="f1-buttons">
                                        <button id="nxtone" type="button" class="btn btn-next">Next</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPLogo, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.CPLogo, new { htmlAttributes = new { type = "file", @placeholder = "Upload Logo..." } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPName, htmlAttributes: new { @class = "control-label" })*
                                    @Html.EditorFor(model => model.CPName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name", @required = "required" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.TRN, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TRN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter TRN" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPPhone, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CPPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CPMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CPEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CPAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.CPAddress, new { @class = "form-control", @placeholder = "Enter Address" })
                                </div>
                            </div>
                            <div class="row">
                                <h4>SMTP Mail Settings</h4>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SMTPEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SMTPEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPEmail" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SMTPHost, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SMTPHost, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPHost" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SMTPUsername, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SMTPUsername, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPUsername" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SMTPPassword, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SMTPPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPPassword" } })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SMTPPort, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SMTPPort, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMTPPort" } })
                                </div>
                                <div class="form-group col-md-6 chkpadding" >
                                    <div class="checkbox-inline">
                                        @Html.CheckBoxFor(m => m.EnableSsl, new { @class = "checkbox" })
                                        @Html.LabelFor(m => m.EnableSsl, new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-footer">
                                    <div class="f1-buttons">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button id="nxttwo" type="button" class="btn btn-next">Next</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group col-md-12">
                                @Html.Label("No. of Users", null, new { @class = "control-label" })
                                @Html.DropDownList("NumberOfUsers", new SelectList(new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "1", Value="1"},
                                    new SelectListItem() {Text = "2", Value="2"},
                                    new SelectListItem() {Text = "3", Value="3"},
                                    new SelectListItem() {Text = "4", Value="4"},
                                    new SelectListItem() {Text = "5", Value="5"},
                                    new SelectListItem() {Text = "10", Value="10"},
                                    new SelectListItem() {Text = "20", Value="20"},
                                    new SelectListItem() {Text = "50", Value="50"},
                                    new SelectListItem() {Text = "100", Value="100"}
                                }, "Value", "Text"), new { @class = "form-control input-sm", @name = "NumberOfUsers",@id= "NumberOfUsers" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })*
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required= "required" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })*
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })*
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "required", @autocomplete = "off" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label " })*
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @required = "required", @autocomplete = "off" } })
                            </div>
                            <div class="form-group col-md-12">
                                <h4 class="box-title">Set Financial Year</h4>
                                <hr />
                            </div>
                            <div class="col-sm-6 form-group">
                                @Html.LabelFor(model => model.FinStartDate, htmlAttributes: new { @class = "control-label" })*
                                <div class="input-group date">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    @Html.TextBoxFor(model => model.FinStartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-footer">
                                    <div class="f1-buttons">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button type="submit" id="save" class="btn btn-next">
                                            Install
                                        </button>
                                    </div>
                                   
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </section>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
<script src="~/Content/js/retina.js"></script>
<script src="~/Content/js/back.js"></script>
<script src="~/js/bootstrap-datepicker"></script>
<script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: '01-01-2011',
            endDate: '+30d'
        });
        $(document).ready(function () {

        });
        //$('body').on('change', '#FinStartDate', function (e) {
        //    //Modename = id.value;

        //});
        $('body').on('change', '#SystemTypes', function (e) {
            var type = $(this).val();
            if (type == 0) {
                $("#demoperiod").show();
                $("#notdemo").hide();
                $('#LicenseKey').prop('required', false);
            } else {
                $("#demoperiod").hide();
                $("#notdemo").show();
                $('#LicenseKey').prop('required', true);
            }
        });

        function scroll_to_class(element_class, removed_height) {
            var scroll_to = $(element_class).offset().top - removed_height;
            if ($(window).scrollTop() != scroll_to) {
                $('html, body').stop().animate({ scrollTop: scroll_to }, 0);
            }
        }

        function bar_progress(progress_line_object, direction) {
            var number_of_steps = progress_line_object.data('number-of-steps');
            var now_value = progress_line_object.data('now-value');
            var new_value = 0;
            if (direction == 'right') {
                new_value = now_value + (100 / number_of_steps);
            }
            else if (direction == 'left') {
                new_value = now_value - (100 / number_of_steps);
            }
            progress_line_object.attr('style', 'width: ' + new_value + '%;').data('now-value', new_value);
        }

        jQuery(document).ready(function () {

            $("#demoperiod").show();
            $("#notdemo").hide();
            /*
                Fullscreen background
            */
            $.backstretch("/img/background.jpg");

            $('#top-navbar-1').on('shown.bs.collapse', function () {
                $.backstretch("resize");
            });
            $('#top-navbar-1').on('hidden.bs.collapse', function () {
                $.backstretch("resize");
            });

            /*
                Form
            */
            $('.f1 fieldset:first').fadeIn('slow');

            var validator = $("#insform").validate();

            if (validator.element("#bascidetail")) {
                $("#LicenseKey").removeClass('input-error');
            } else {
                $("#LicenseKey").addClass('input-error');
            }
            //$('.f1 input[type="text"], .f1 input[type="password"], .f1 textarea').on('focus', function () {
            //    $(this).removeClass('input-error');
            //});
            var validator = $("#insform").validate();

            $('#nxtone').on('click', function () {
                var parent_fieldset = $(this).parents('fieldset');
                var next_step = true;
                var current_active_step = $(this).parents('.f1').find('.f1-step.active');
                var progress_line = $(this).parents('.f1').find('.f1-progress-line');

                var type=$("#SystemTypes").val();
                if (type != 0) {
                    if (validator.element("#LicenseKey")) {
                        $("#LicenseKey").removeClass('input-error');
                    } else {
                        $("#LicenseKey").addClass('input-error');
                        next_step = false;
                    }
                }

                if (next_step) {
                    parent_fieldset.fadeOut(400, function () {
                        // change icons
                        current_active_step.removeClass('active').addClass('activated').next().addClass('active');
                        // progress bar
                        bar_progress(progress_line, 'right');
                        // show next step
                        $(this).next().fadeIn();
                        // scroll window to beginning of the form
                        scroll_to_class($('.f1'), 20);
                    });
                }

            });

            $('#nxttwo').on('click', function () {
                var parent_fieldset = $(this).parents('fieldset');
                var next_step = true;
                // navigation steps / progress steps
                var current_active_step = $(this).parents('.f1').find('.f1-step.active');
                var progress_line = $(this).parents('.f1').find('.f1-progress-line');

                if (validator.element("#CPName")) {
                    $("#CPName").removeClass('input-error');
                } else {
                    $("#CPName").addClass('input-error');
                    next_step = false;
                }

                if (next_step) {
                    parent_fieldset.fadeOut(400, function () {
                        // change icons
                        current_active_step.removeClass('active').addClass('activated').next().addClass('active');
                        // progress bar
                        bar_progress(progress_line, 'right');
                        // show next step
                        $(this).next().fadeIn();
                        // scroll window to beginning of the form
                        scroll_to_class($('.f1'), 20);
                    });
                }

            });
            // previous step
            $('.f1 .btn-previous').on('click', function () {
                // navigation steps / progress steps
                var current_active_step = $(this).parents('.f1').find('.f1-step.active');
                var progress_line = $(this).parents('.f1').find('.f1-progress-line');

                $(this).parents('fieldset').fadeOut(400, function () {
                    // change icons
                    current_active_step.removeClass('active').prev().removeClass('activated').addClass('active');
                    // progress bar
                    bar_progress(progress_line, 'left');
                    // show previous step
                    $(this).prev().fadeIn();
                    // scroll window to beginning of the form
                    scroll_to_class($('.f1'), 20);
                });
            });

        });

        $('#insform').on('submit', function (e) {
            e.preventDefault();
            var url = $('#insform')[0].action;
            var formData = new FormData(this);

            var logoUpload = $("#CPLogo").get(0);
            var imgFiles = logoUpload.files;
            if (imgFiles[0] != null) {
                formData.append(imgFiles[0].name, imgFiles[0]);
            }
            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                processData: false,
                contentType: false,
                url: url,
                data: formData,
                success: function (e) {
                    if (e.status) {
                        $('.ajax_response', res_success).text(e.message);
                        $('.AlertDiv').prepend(res_success);
                        window.location.href = '@Url.Action("Redirect", "Installation")';
                    }
                    else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                }
            });

        });

</script>
</body>
</html>
