
@model QuickSoft.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Create Employee";
    ViewBag.SubTitle = "Employee";
    ViewBag.Active = "CreateEmployee";
}
<style>
    .style1 {
        display: none !important;
    }

    .style2 {
        display: block !important;
        margin-top: 5px;
    }
</style>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Employee</h3>
        <input type="hidden" id="chkpayroll" value="@ViewBag.EnablePayroll" />
        <div class="pull-right">
            @if (User.IsInRole("Dev") || User.IsInRole("Employee List"))
            {
                <a class="btn btn-success no-border" href="/Employee">
                    <i class="fa fa-fw fa-history"></i> List
                </a>
            }
        </div>
    </div>
    @if (@ViewBag.EnablePayroll == 0)
    {
        <div class="container">
            <div class="row">
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                            <p><small>Personal Details</small></p>
                        </div>
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle disabled">2</a>
                            <p><small>Educational Details</small></p>
                        </div>
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle disabled">3</a>
                            <p><small>Professional Experience</small></p>
                        </div>
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-4" type="button" class="btn btn-default btn-circle disabled">4</a>
                            <p><small>Document Details</small></p>
                        </div>
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-5" type="button" class="btn btn-default btn-circle disabled">5</a>
                            <p><small>Bank Account Details</small></p>
                        </div>
                        <div class="stepwizard-step col-xs-2">
                            <a href="#step-6" type="button" class="btn btn-default btn-circle disabled">6</a>
                            <p><small>Salary and Professional Details </small></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { id = "UserCreateForm", role = "form", enctype = "multipart/form-data" }))
    {
        @*@Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "alert alert-danger" })*@

        <div class="panel panel-primary setup-content" id="step-1">
            @if (@ViewBag.EnablePayroll == 0)
            {
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Details</h3>
                </div>
            }
            else
            {
                @*<div class="panel-heading">
                        <h3 class="panel-title">Employee Details</h3>
                    </div>*@
            }
            <div class="panel-body">
                <div class="box-body">
                    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                    <div class="row">
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.EMPCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.EMPCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-addon no-padding">
                                    @Html.EnumDropDownListFor(model => model.Prefix)
                                </div>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-1">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.perhour, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.perhour, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.OtherIdNo, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.OtherIdNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            <div id="mobiles"></div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Personal Contact Details</h2>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PPhoneNumber, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.PPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PEmail, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.PEmail, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        </div>
                    </div>
                    @if (@ViewBag.EnablePayroll == 0)
                    {
                        <div class="row">
                            <div class="form-group col-md-4 ">
                                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group date">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    @Html.TextBoxFor(m => m.DOB, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownList("MaritalStatus", new SelectList(new List<SelectListItem>
                            {
                            new SelectListItem() {Text = "", Value=""},
                            new SelectListItem() {Text = "Single", Value="Single"},
                            new SelectListItem() {Text = "Married", Value="Married"},
                            new SelectListItem() {Text = "Divorced", Value="Divorced"},
                            }, "Value", "Text"), new { @class = "form-control input-sm", @name = "MaritalStatus" })
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownList("BloodGroup", new SelectList(new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "Select", Value=""},
                                    new SelectListItem() {Text = "A Negative", Value="A Negative"},
                                    new SelectListItem() {Text = "A Positive", Value="A Positive"},
                                    new SelectListItem() {Text = "B Negative", Value="B Negative"},
                                    new SelectListItem() {Text = "B Positive", Value="B Positive"},
                                    new SelectListItem() {Text = "O Negative", Value="O Negative"},
                                    new SelectListItem() {Text = "O Positive", Value="O Positive"},
                                    new SelectListItem() {Text = "AB Negative", Value="AB Negative"},
                                    new SelectListItem() {Text = "AB Positive", Value="AB Positive"},
                                    new SelectListItem() {Text = "A1 Negative", Value="A1 Negative"},
                                    new SelectListItem() {Text = "A1 Positive", Value="A1 Positive"},
                                    new SelectListItem() {Text = "A2 Negative", Value="A2 Negative"},
                                    new SelectListItem() {Text = "A2 Positive", Value="A2 Positive"},
                                    new SelectListItem() {Text = "A1B Negative", Value="A1B Negative"},
                                    new SelectListItem() {Text = "A1B Positive", Value="A1B Positive"},
                                    new SelectListItem() {Text = "A2B Negative", Value="A2B Negative"},
                                    new SelectListItem() {Text = "A2B Positive", Value="A2B Positive"},
                                    new SelectListItem() {Text = "Unknown", Value="Unknown"},
                                }, "Value", "Text"), new { @class = "form-control input-sm", @name = "BloodGroup" })
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="box-header with-border">
                        <h5 class="box-title">Permanent Address</h5>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("State", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "State" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <h5 class="box-title">Current Address</h5>( <label id="CheckAdd">@Html.CheckBoxFor(model => model.ChkAddress) Same as Permanent Address</label>)
                    </div>
                    <div class="box-body" id="CAdres">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CAddress, htmlAttributes: new { @class = "control-label " })
                            @Html.TextAreaFor(model => model.CAddress, new { @class = "form-control", @placeholder = "Enter Address" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CCity, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.CCity, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CState, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("CState", new SelectList(new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Abu Dhabi", Value="Abu Dhabi"},
                        new SelectListItem() {Text = "Ajman", Value="Ajman"},
                        new SelectListItem() {Text = "Dubai", Value="Dubai"},
                        new SelectListItem() {Text = "Fujairah", Value="Fujairah"},
                        new SelectListItem() {Text = "Ras al-Khaimah", Value="Ras al-Khaimah"},
                        new SelectListItem() {Text = "Sharjah", Value="Sharjah"},
                        new SelectListItem() {Text = "Umm al-Quwain", Value="Umm al-Quwain"}

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "CState" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CCountry, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.CCountry, new { htmlAttributes = new { @class = "form-control", @Value = "UAE", @readonly = "readonly", @placeholder = "Enter Country" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CPostalCode, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.CPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="box-header with-border">
                        <h5 class="box-title">Other Details</h5>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label " })
                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(Model.dept, "DepartmentID", "DepartmentName"), "Select Department", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <a href="/Department/Create" class="btn btn-default AddDept" title="Add Department"><i class="glyphicon glyphicon-plus"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DesignationID, htmlAttributes: new { @class = "control-label " })
                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(model => model.DesignationID, new SelectList(Model.degn, "DesignationID", "DesignationName"), "Select Designation", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <a href="/Designation/Create" class="btn btn-default AddDesg" title="Add Designation"><i class="glyphicon glyphicon-plus"></i></a>
                                </span>
                            </div>
                        </div>
                        @*<div class="form-group col-md-4">
                                @Html.LabelFor(model => model.BranchID, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownList("BranchID", (SelectList)ViewBag.Branch, "Select Branch", new { @class = "form-control input-sm", required = "required" })
                            </div>*@
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ImgFileName, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.ImgFileName, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                        </div>
                        @if ((@ViewBag.NoOfUsers == true) && (User.IsInRole("Dev") || User.IsInRole("Create User")))
                        {
                            <div class="form-group col-md-12">
                                <label class="control-label">
                                    @Html.CheckBoxFor(model => model.UserStatus)

                                    @*<label id="userCheck"><input id="UserStatus" type="checkbox" value="1" name="UserStatus" />*@
                                    @*@Html.CheckBoxFor(model => model.UserStatus)*@
                                    @*@Html.LabelFor(model => model.UserStatus, htmlAttributes: new {@type= "checkbox",@name= "UserStatus", @Value="1", @class = "control-label " })*@ Add him/her to System Users
                                </label>
                            </div>

                            <div class="form-group col-md-4" id="CreateUser">
                                @Html.Label("Select User Type", null, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.usertype, new SelectList(new List<SelectListItem>
                            {
                                new SelectListItem() {Text = "Create New User", Value="1"},
                                new SelectListItem() {Text = "Assign to previous Users", Value="2"},
                            }, "Value", "Text"), new { id = "UserType", @class = "form-control input-sm" })
                            </div>

                            <div class="form-group col-md-4" id="AssignUser">
                                @Html.Label("Select Assigning User", null, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(m => m.Assingeduser, (SelectList)ViewBag.Asnuser, "Select User", new { @class = "form-control" })
                            </div>
                        }
                    </div>
                    <div class="box-body hiden" id="UserSection">
                    </div>
                    <div class="box-body " id="UserSections">
                        <h4 class="box-title">Login Details</h4>
                        <hr />
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                        @if (ViewBag.Discount == 0)
                        {
                            <div class="form-group col-md-4">
                                @Html.Label("Discount Percentage", null, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            </div>
                        }
                        <div class="form-group col-md-4">
                            <label class="control-label ">Permissions</label>
                            <button type="button" class="btn btn btn-block btn-primary" data-toggle="modal" data-target="#modal-permission"> Customize</button>
                        </div>
                        @*<div class="form-group col-md-4">
                                @Html.LabelFor(model => model.BranchAccess, htmlAttributes: new { @class = "control-label " })
                                @Html.EnumDropDownListFor(model => model.BranchAccess, new { @class = "form-control" })
                            </div>*@
                        @Html.Partial("_Modules")
                        <!-- Permissions start -->

                    </div>
                    <div class="form-group col-md-12">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Enter Notes", @rows = 4 })
                    </div>
                    <button class="btn btn-primary nextBtn pull-right" id="firstnextbtn" type="button">Next</button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="form-group col-md-12 pull-left" hidden id="sumbitbtn">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Save" id="btnSubmit" />
                    <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Employee") + "'");" />
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                <h3 class="panel-title">Educational Details</h3>
            </div>
            <div class="panel-body">
                <div class="box-body">
                    <div id="EduDetails"></div>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                    <button type="button" class="btn btn-default preBtn pull-right" id="prevBtn">Previous</button>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                <h3 class="panel-title">Professional Details</h3>
            </div>
            <div class="panel-body">
                <div class="box-body">
                    <div id="ProDetails"></div>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                    <button type="button" class="btn btn-default preBtn pull-right" id="prevBtn">Previous</button>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-heading">
                <h3 class="panel-title">Document Details</h3>
            </div>
            <div class="panel-body">
                <div class="box-body">
                    <div id="DocDetails"></div>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                    <button type="button" class="btn btn-default preBtn pull-right" id="prevBtn">Previous</button>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-6">
            <div class="panel-heading">
                <h3 class="panel-title">Salary and Professional Details</h3>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                @if (@ViewBag.EnablePayroll == 0)
                {
                    <div class="row">
                        <h4 class="box-title">Professional Details</h4>
                        <hr />
                        <div class="form-group col-md-2 ">
                            @Html.LabelFor(model => model.JoinDate, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group date">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                @Html.TextBoxFor(m => m.JoinDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                            </div>
                        </div>

                        @*<div class="form-group col-md-2 ">
                                @Html.LabelFor(model => model.DutyResumeDate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group date">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    @Html.TextBoxFor(m => m.DutyResumeDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                </div>
                            </div>*@

                    </div>
                }

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" id="EnableSalary">
                            <input type="checkbox" value="true" name="ChkEnableSalary" id="ChkEnableSalary" />
                            Enable Salary
                        </label>
                    </div>
                </div>

                <div id="salarydiv" hidden>
                    <div class="row">
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.EmployeeGrade, htmlAttributes: new { @class = "control-label" })
                            @if (User.IsInRole("Dev") || User.IsInRole("Create EmployeeGrade"))
                            {
                                <div class="input-group input-group-sm">
                                    @Html.DropDownListFor(model => model.EmployeeGrade, (SelectList)ViewBag.EmpGrade, "", new { @style = "Width:100%", @class = "form-control select2" })
                                    <span class="input-group-btn">
                                        <a href="/Hr/EmployeeGrade/Create" class="empgrade btn btn-success btn-flat" title="Add EmployeeGrade"><i class="fa fa-1x fa-plus-circle"></i></a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.EmployeeGrade, (SelectList)ViewBag.EmpGrade, "", new { @style = "Width:100%", @class = "form-control select2" })
                            }
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.EmployeeAccount, htmlAttributes: new { @class = "control-label" })
                            @if (User.IsInRole("Dev") || User.IsInRole("Create Expense Account"))
                            {
                                <div class="input-group input-group-sm">
                                    @Html.DropDownListFor(model => model.EmployeeAccount, (SelectList)ViewBag.Acc, "", new { @id = "ddlAccount", @style = "Width:100%", @class = "form-control select2" })
                                    <span class="input-group-btn">
                                        <a href="/Accounts/Create" class="empsalacc btn btn-success btn-flat" title="Add Employee Account"><i class="fa fa-1x fa-plus-circle"></i></a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.EmployeeAccount, (SelectList)ViewBag.Acc, "", new { @id = "ddlAccount", @style = "Width:100%", @class = "form-control select2" })
                            }
                        </div>

                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.SalaryMode, htmlAttributes: new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.SalaryMode, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.WorkShift, htmlAttributes: new { @class = "control-label" })
                            @if (User.IsInRole("Dev") || User.IsInRole("Create WorkShift"))
                            {
                                <div class="input-group input-group-sm">
                                    @Html.DropDownListFor(m => m.WorkShift, (SelectList)ViewBag.WShift, "", new { id = "WorkShift", @style = "Width:100%", @class = "form-control select2" })
                                    <span class="input-group-btn">
                                        <a href="/Hr/WorkShift/Create" class="wkshift btn btn-success btn-flat" title="Add WorkShift"><i class="fa fa-1x fa-plus-circle"></i></a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.WorkShift, (SelectList)ViewBag.WShift, "", new { id = "WorkShift", @style = "Width:100%", @class = "form-control select2" })
                            }
                        </div>

                        @*payroll complete data*@
                        @Html.HiddenFor(model => model.Payrollstratdate)
                        <div class="row" id="Previous">
                            <h4 class="box-title">Previous Working Details</h4>
                            <hr />
                            <div class="form-group col-md-2">
                                @Html.Label("Last Duty Resume Date", null, htmlAttributes: new { @class = "control-label " })
                                <div class="input-group date">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    @Html.TextBoxFor(m => m.LastDutyResumeDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.Label("Total Working Days", null, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.TotalWorkingDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total Working Days", tabindex = 23 } })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.Label("No Days Worked", null, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.NoDaysWorked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter No. Day sWorked", tabindex = 23 } })
                            </div>
                            @for (int i = 0; i < Model.EmpSummarys.Count; i++)
                            {
                                <div class="form-group col-sm-2">
                                    <label class="control-label" for="EmpSummarys">@Model.EmpSummarys[i].Name</label>
                                    <input type="hidden" name="EmpSummarys[@i].Id" value="@Model.EmpSummarys[i].Id" />
                                    <input class="form-control input-sm" id="Days@i" name="EmpSummarys[@i].Days" data-val="true" data-val-required="Employee attendance Summary is required." type="text" value="0">
                                </div>
                            }
                        </div>

                        <div class="form-group col-md-2 lblpadding">
                            <label class="control-label">
                                <input type="checkbox" value="true" name="BonusApplicable" id="BonusApplicable" />
                                Bonus Applicable
                            </label>
                        </div>

                        <div class="form-group col-md-2 lblpadding">
                            <label class="control-label">
                                <input type="checkbox" value="true" name="OTApplicable" id="OTApplicable" />
                                Over Time Applicable
                            </label>
                        </div>

                        <div class="form-group col-md-2 lblpadding">
                            <label class="control-label">
                                <input type="checkbox" value="true" name="AnnualLeaveApplicable" id="AnnualLeaveApplicable" />
                                Annual Leave Applicable
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2 lblpadding">
                            <label class="control-label" id="SpecifyLAccount">
                                <input type="checkbox" value="true" name="SpecifyLoanAccount" id="SpecifyLoanAccount" />
                                Specify Loan Account
                            </label>
                        </div>
                        <div class="form-group col-md-2" id="loanacdiv" hidden>
                            @Html.LabelFor(model => model.LoanAccount, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.LoanAccount, (SelectList)ViewBag.LoanAcc, "Select", new { @style = "Width:100%", @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-2 lblpadding">
                            <label class="control-label" id="SpecifyAAccount">
                                <input type="checkbox" value="true" name="SpecifyAdvanceAccount" id="SpecifyAdvanceAccount" />
                                Specify Advance Account
                            </label>
                        </div>
                        <div class="form-group col-md-2" id="advaccdiv" hidden>
                            @Html.LabelFor(model => model.AdvanceAccount, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.AdvanceAccount, (SelectList)ViewBag.LoanAcc, "Select", new { @style = "Width:100%", @class = "form-control select2" })
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default preBtn pull-right" id="prevBtn">Previous</button>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-5" value="Save" id="btnSubmit" />
                    <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Employee") + "'");" />
                </div>
            </div>

        </div>

        <div class="panel panel-primary setup-content" id="step-5">
            <div class="panel-heading">
                <h3 class="panel-title">Bank Account Details</h3>
            </div>
            <div class="panel-body">
                <div class="box-body">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name", tabindex = 21 } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No", tabindex = 22 } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.IbanNo, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.IbanNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Iban No", tabindex = 23 } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch Name", tabindex = 24 } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Swift, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Swift, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Swift", tabindex = 25 } })
                    </div>
                    <div class="form-group col-md-12">
                        <div class="table-responsive" hidden id="refdiv"><hr /></div>
                    </div>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                    <button type="button" class="btn btn-default preBtn pull-right" id="prevBtn">Previous</button>
                </div>
            </div>

        </div>

    }

</div>
<div id="modal-container-dept" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal-container-desgn" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-container-wkshift" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-container-empgrade" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-container-empsalacc" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-timepicker")
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-timepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/employee")
    <script type="text/javascript">
        var date = new Date();
        date.setDate(date.getDate());
        $('.date').datepicker({
            //startDate: date,
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }
        //$(window).on("load", function () {

        //});
        $(document).ready(function () {
            $("#UserName").val("");
            $("#Password").val("");
            checkAddress();
            checkuser();
            $("#DesignationID").select2();
            $("#DepartmentID").select2();

            $("#Assingeduser").select2();
            $("#CreateUser").hide();
            $("#AssignUser").hide();
            AddMobile();
            //addmobile('mobilebody', 'contact', "");



            $("#LoanAccount").select2();
            $("#AdvanceAccount").select2();
            $("#BloodGroup").select2();
            WizardFunctions();
            GetWorkShift();
            GetEmpGrade();

            if ('@ViewBag.EnablePayroll' != 'active') {
                $("#step-1").show();
                $("#firstnextbtn").hide();
                $("#sumbitbtn").show();

            } else {
                $("#firstnextbtn").show();
                $("#sumbitbtn").hide();

            }

            AddEducation();
            AddProfession();
            AddDocument();
            userhides($("#UserStatus").prop('checked'));
            checkReq();
            GetAllAccounts(0);
            $("#Previous").hide();
        });
        function checkAddress() {
            if ($('#ChkAddress').prop('checked') == true) {
                $('#CAdres').hide();
                //$('#CAddress').val($('#Address').val());
                //$('#CCity').val($('#City').val());
                //$('#CState').val($('#State').val());
                //$('#CCountry').val($('#Country').val());
                //$('#CPostalCode').val($('#PostalCode').val());
            }
            else {
                $('#CAdres').show();
                //$('#CAddress').val("");
                //$('#CCity').val("");
                //$('#CState').val("");
                //$('#CCountry').val("");
                //$('#CPostalCode').val("");
            }
        }

        function checkuser() {
            if ($('#UserStatus').prop('checked') == true && $("#AssignUser").val == null) {
                $('#UserSection').show();
              //  $("#Email").prop('required', true);
                $("#Password").prop('required', true);
                $("#ConfirmPassword").prop('required', true);
                $('#CreateUser').show();
            }
            else {
                //$('#UserSection').hide();
             //   $("#Email").prop('required', false);
                $("#Password").prop('required', false);
                $("#ConfirmPassword").prop('required', false);
                $('#CreateUser').hide();
            }
        }
        $('#CheckAdd').click(function () {
            checkAddress();
        });
        $('#UserStatus').click(function () {
            userhides($("#UserStatus").prop('checked'));
        });
        function userhides(useval) {
            if (useval) {
                checkuser();
                $("#AssignUser").hide();
                $("#CreateUser").show();
                $("#UserSection").show();
                $('#UserName').prop('required', true);
                $('#Password').prop('required', true);
                $('#ConfirmPassword').prop('required', true);

                // $("#UserStatus").prop('checked', true);
            }
            else {
                $("#AssignUser").hide();
                $("#CreateUser").hide();
                $("#UserSection").hide();

                $('#UserName').prop('required', false);
                $('#Password').prop('required', false);
                $('#ConfirmPassword').prop('required', false);
                //$("#UserStatus").prop('checked', false);
            }
        }
        function checkReq() {
            var payroll = $("#chkpayroll").val();
            //if (payroll == 'active') {
            //    $('#BankName').prop('required', true);
            //} else {
            //    $('#BankName').prop('required', false);
            //}
        }


        $('#SpecifyLAccount').click(function () {
            if ($('#SpecifyLoanAccount').prop('checked') == true) {
                $("#loanacdiv").show();
            } else {
                $("#loanacdiv").hide();
            }
        });
        $('#SpecifyAAccount').click(function () {
            if ($('#SpecifyAdvanceAccount').prop('checked') == true) {
                $("#advaccdiv").show();
            } else {
                $("#advaccdiv").hide();
            }
        });
        $('#EnableSalary').click(function () {
            if ($('#ChkEnableSalary').prop('checked') == true) {
                $("#salarydiv").show();
                $('#ddlAccount').prop('required', true);
                $('#ddlAccount').attr("data-msg-required", "Employee Account is required");
                $("#JoinDate").prop('required', true);
                $('#JoinDate').attr("data-msg-required", "Join Date is required");
            } else {
                $("#salarydiv").hide();
                $('#ddlAccount').prop('required', false);
                $("#JoinDate").prop('required', false);
            }
        });
        //For department and designation
        $('span').on('click', '.AddDept', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container-dept');
            $(this).attr('data-toggle', 'modal');
        });
        $('span').on('click', '.AddDesg', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container-desgn');
            $(this).attr('data-toggle', 'modal');
        });

        $('span').on('click', '.wkshift', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container-wkshift');
            $(this).attr('data-toggle', 'modal');
        });
        $('span').on('click', '.empgrade', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container-empgrade');
            $(this).attr('data-toggle', 'modal');
        });
        $('span').on('click', '.empsalacc', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container-empsalacc');
            $(this).attr('data-toggle', 'modal');
        });


        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-create');
            $(this).attr('data-toggle', 'modal');
        });
        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-edit');
            $(this).attr('data-toggle', 'modal');
        });


        $('#modal-container-dept').on('submit', '#createform', function (e) {
            var url = $('#modal-container-dept #createform')[0].action;
            var text = $("#DepartmentName").val();
            $('#DepartmentID option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-container-dept #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-container-dept').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id);//.attr("selected", "selected");
                        newOption.html(text);
                        $('.form-control[name="DepartmentID"]').append(newOption)
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })
            e.preventDefault();
        });


        $('#modal-container-desgn').on('submit', '#createform', function (e) {
            var url = $('#modal-container-desgn #createform')[0].action;
            var text = $("#DesignationName").val();
            $('#DesignationID option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-container-desgn #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-container-desgn').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id);//.attr("selected", "selected");
                        newOption.html(text);
                        $('.form-control[name="DesignationID"]').append(newOption)
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });

        $('#modal-container-wkshift').on('submit', '#createform', function (e) {
            var url = $('#modal-container-wkshift #createform')[0].action;
            var text = $("#WorkShiftName").val();
            $('#WorkShift option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-container-wkshift #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-container-wkshift').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#WorkShift').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });

        $('#modal-container-empgrade').on('submit', '#createform', function (e) {
            var url = $('#modal-container-empgrade #createform')[0].action;
            var text = $("#GradeName").val();
            $('#EmployeeGrade option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-container-empgrade #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-container-empgrade').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#EmployeeGrade').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })

            e.preventDefault();
        });

        $('#modal-container-empsalacc').on('submit', '#createform', function (e) {
            var url = $('#modal-container-empsalacc #createform')[0].action;
            var text = $("#Name").val();
            $('#EmployeeAccount option:selected').attr("selected", null);
            $.ajax({
                type: "POST",
                url: url,
                data: $('#modal-container-empsalacc #createform').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#modal-container-empsalacc').modal('hide');

                        var newOption = $('<option></option>');
                        newOption.val(data.Id).attr("selected", "selected");
                        newOption.html(text);
                        $('#EmployeeAccount').append(newOption);
                    }
                    else {
                        $('.ajax_response', res_danger).text(data.message);
                        $('.AlertDiv').prepend(res_danger);
                    }
                    fadeAlert();
                }
            })
            e.preventDefault();
        });

        $('body').on('change', '#UserType', function (e) {
            var val = $(this).val();
            if (val == 2) {
                $("#AssignUser").show();
                $('#UserSection').hide();
                $('#UserName').prop('required', false);
                $('#UserType').prop('required', true);
            }
            else if (val == 1) {
                $("#AssignUser").hide();
                $('#UserSection').show();
                $('#UserType').prop('required', false);
                $('#UserName').prop('required', true);
            }
            else {
                $("#AssignUser").hide();
                $('#UserSection').hide();
                $('#UserName').prop('required', false);
                $('#UserType').prop('required', false);
            }
        });

        $('body').on('change', '#JoinDate', function (e) {
            var val = $(this).val();
            var paystartdate = $('#Payrollstratdate').val();
            if (val > paystartdate) {
                $('#Previous').hide();
            } else {
                $('#Previous').show();
            }
        });
        //$('body').on('change', '#Assingeduser', function (e) {

        //});


        //$('input[type=checkbox]').on('click', function () {
        //    if (this.checked) {
        //        $(this).parents('li').children('label').children('input[type=checkbox]').each(function () {
        //            $(this).attr('checked', true);
        //        });

        //    }
        //    $(this).parent().parent().find('input[type=checkbox]').attr('checked', this.checked);
        //});
        var temp = 0;
        var temp2 = 0;
        var temp3 = 0;
        var temp4 = 0;
        var temp5 = 0;
        var temp6 = 0;
        $('input[type=checkbox]').on('click', function () {
            if (this.checked) {
                $(this).closest('li').children('ul').find('input[type=checkbox]').each(function () {
                    $(this).prop('checked', true);
                });
                $(this).parents('li').children('label').children('input[type=checkbox]').each(function () {
                    //$(this).attr('checked', true);
                    $(this).prop("checked", true)
                    // $(this).parent().children(':nth-child(2)').addClass('theme2');
                });
            } else {
                $(this).closest('li').children('ul').find('input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                });

                $(this).parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {

                    if (this.checked) {
                        temp++;
                        //alert(temp);
                    }
                });
                $(this).parent().parent().parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        temp2++;

                    }
                });
                $(this).parent().parent().parent().parent().parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        temp3++;

                    }
                });
                $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        temp4++;

                    }
                });
                $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        temp5++;

                    }
                });
                $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().children('li').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        temp6++;

                    }
                });
                if (temp == 0) {
                    $(this).parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                if (temp2 == 1) {
                    $(this).parent().parent().parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                if (temp3 == 2) {
                    $(this).parent().parent().parent().parent().parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                if (temp4 == 3) {
                    $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                if (temp5 == 4) {
                    $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                if (temp6 == 5) {
                    $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().children(':nth-child(2)').find('input[type=checkbox]').prop("checked", false)
                }
                temp = 0;
                temp2 = 0;
                temp3 = 0;
                temp4 = 0;
                temp5 = 0;
                temp6 = 0;
            }
            // $(this).parent().parent().find('input[type=checkbox]').prop('checked', this.checked);
            // $(this).parent().parent().find('input[type=checkbox]').siblings().addClass('theme2');
        });

        $('#modal-permission').on('shown.bs.modal', function (e) {

            //alert('hi');
            $('.modal-body').children(':nth-child(1)').addClass('sample1');//.css({ "background-color": "red" });
            var i = 0;
            $('.full').each(function () {

                $(this).children(':nth-child(3)').addClass('style1'); //.css({ "background-color": "red" });



            });
            // alert(i);
            //$('.modal-body').children(':nth-child(1)').children(find('#tasks')).each(function () {
            //    $(this).css({ "background-color": "red" });
            //});
        });
        $('.fa-caret-right').on('click', function () {
            // $(this).css({ "color": "red" });
            if ($(this).parent('li').children(':nth-child(3)').hasClass('style1')) {
                $(this).parent('li').children(':nth-child(3)').removeClass('style1');
                $(this).parent('li').children(':nth-child(3)').addClass('style2');
                if ($(this).parent('li').children(':nth-child(1)').hasClass('fa-caret-right')) {
                    $(this).parent('li').children(':nth-child(1)').removeClass('fa-caret-right');
                    $(this).parent('li').children(':nth-child(1)').addClass('fa-caret-down');
                    $(this).parent('li').children(':nth-child(1)').css({ "color": "red" });
                }

            } else if ($(this).parent('li').children(':nth-child(3)').hasClass('style2')) {
                $(this).parent('li').children(':nth-child(3)').removeClass('style2');
                $(this).parent('li').children(':nth-child(3)').addClass('style1');
                if ($(this).parent('li').children(':nth-child(1)').hasClass('fa-caret-down')) {
                    $(this).parent('li').children(':nth-child(1)').removeClass('fa-caret-down');
                    $(this).parent('li').children(':nth-child(1)').addClass('fa-caret-right');
                    $(this).parent('li').children(':nth-child(1)').css({ "color": "black" });
                }

            }
            // alert("hi");
            // $(this).parent('li').children(':nth-child(3)').css({ "display": "block" });//.css({ "background-color": "red" });//

        });
        function WizardFunctions() {
            var navListItems = $('div.setup-panel div a'),
                 allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');
            allPreBtn = $('.preBtn');

            allWells.hide();
            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-success').addClass('btn-default');
                    $item.addClass('btn-success');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });


            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                        $(curInputs[i]).focus();
                    }
                }

                if (isValid) nextStepWizard.removeClass('disabled').trigger('click');
            });

            allPreBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                //$(".form-group").removeClass("has-error");
                //for (var i = 0; i < curInputs.length; i++) {
                //    if (!curInputs[i].validity.valid) {
                //        isValid = false;
                //        $(curInputs[i]).closest(".form-group").addClass("has-error");
                //    }
                //}

                if (isValid) { nextStepWizard.removeClass('disabled').trigger('click'); }
            });

            $('div.setup-panel div a.btn-success').trigger('click');
        }

    </script>
}