<!DOCTYPE html>
<html>

<head>
    <title>answer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
    <style>
        input, textarea {
            border: 1px solid gray;
        }

        .wrap-login100 {
            width: auto !important;
            padding-top: 50px !important;
        }
    </style>

    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">

                @using (Html.BeginForm("qpaper", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @style = "background-color:red;color:white;" })
                    <div class="AlertDiv">@{ Html.RenderPartial("_Alerts"); }</div>
                    <div class="row">
                        <div class="col-md-12">
                            <center><h2>Answers<br /><br /></h2></center>
                            <input type="hidden" id="q" value="@ViewBag.noq" />
                            <input type="hidden" id="op" value="@ViewBag.op" />
                            <input type="hidden" id="answer" value="@ViewBag.answer" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="answeropt" class="col-md-12"></div>
                    </div>
                    <div class="row">
                        <div id="organswer" class="col-md-12" style="display:none;"></div>
                    </div>

                    <div class="row">
                        <div id="result" class="col-md-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><input type="button" name="button" id="finish" value="Submit" class="login100-form-btn" /></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row (main row) -->
    </section>
    <script>


        $("#answeropt").html();
        $(document).ready(function () {
            var q = parseFloat($("#q").val());
            var op = parseFloat($("#op").val());
            var answer = $("#answer").val();
            var str = "";
            for (var i = 0; i < q; i++) {
                str = str + "<b>" + parseFloat(i + 1) + "</b>";
                for (var j = 0; j < op; j++) {

                    str = str + '<input type="radio" value="' + j + '"  name=' + i + '></input>&nbsp;';

                }
                str = str + "<br><br>";
            }
            $("#answeropt").html(str);
            str = "";
            const array = answer.split(',');
            for (var i = 0; i < q; i++) {
                for (var j = 0; j < 1; j++) {
                    str = str + '<input type="radio" value="' + array[i] + '" id=answ' + i + ' name=answ' + i + '></input>';
                }
            }
            $("#organswer").html(str);
        });
        $("#finish").click(function () {
            var q = parseFloat($("#q").val());
            var right = 0;
            var wrong = 0;
            var unanswer = 0
            for (var i = 0; i < q; i++) {

                var answ = $("input:radio[name ='" + i + "']:checked").val();
                if (answ == $("#answ" + i).val()) {
                    right = right + 1;
                }
                else if (answ == 'undefined' || answ == null || answ == "") {
                    unanswer = unanswer + 1;
                }
                else {
                    wrong = wrong + 1;
                }

            }
            var result = "<h1>Success : " + right + "<br>Wrong : " + wrong + "<br>Not Answered :" + unanswer;
            $("#result").html(result);

        });



    </script>



    <!--===============================================================================================-->
    <!-- Latest compiled and minified CSS -->

</body>
</html>































