@model QuickSoft.ViewModel.smssend
@{
    ViewBag.Title = "Send Sms General";
    ViewBag.SubTitle = "Send Sms General";
    ViewBag.Active = "Send Sms General";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Send Sms General</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("sendsms", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.mobileno , new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Message,  new { @class = "form-control", @style = "height:200px;" } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Send Sms" class="btn btn-info" />
                </div>
            </div>
        }
    </div>
</div>


