@model QuickSoft.ViewModel.UserDetailViewModel
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View User Details</h4>
</div>
<div class="modal-body">
    <div class="box box-default">
        <div class="box-header with-border">
            <h4 class="box-title">Personal Details</h4>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Employee Id :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.EmployeeId)
            </div>
            <div class="form-group col-md-4">
                @Html.DisplayFor(m => m.Prefix)
                @Html.Label("First Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.FirstName)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Middle Name  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.MiddleName)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Last Name :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.LastName)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Gender :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Gender)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Phone Number :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.PhoneNumber)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Email Id :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Email)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Passport No :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.PassportNo)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Other Id:", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.OtherIdNo)
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Permanent Address</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Address :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Address)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("City :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.City)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("State :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.State)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Country :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Country)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Postal Code :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.PostalCode)
            </div>
        </div>
        <div class="box-header with-border">
            <h5 class="box-title">Current Address</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Address :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CAddress)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("City :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CCity)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("State :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CState)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Country :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CCountry)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Postal Code :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.CPostalCode)
            </div>
        </div>

        <div class="box-header with-border">
            <h5 class="box-title">Other Details</h5>
        </div>
        <div class="box-body">
            <div class="form-group col-md-4">
                @Html.Label("Department :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Department)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("Designation :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Designation)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Branch :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Branch)

            </div>
            <div class="form-group col-md-4">
                @Html.Label("UserRoles :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Roles)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("BranchAccess :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.BranchAccess)
            </div>
            <div class="form-group col-md-4">
                @Html.Label("User Image :", null, new { @class = "control-label" })
                <div style="width: 50px; height: 50px;">
                    <a ID="ImageButton1" data-rel="colorbox">
                        <img width="50" height="50" alt="@Html.DisplayFor(model=> model.ImgFileName)"
                             title="Click to Open" src="~/uploads/profile/@Html.DisplayFor(model => model.ImgFileName)" id="ImageButton11" />
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

