@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel

@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();


    string myclass = "";
}

<div id="printit" class="hidden" style="border:1px solid gray;">
    <style>


        body {
            padding: 15px !important;
        }


        #pageborder {
            position: fixed;
            border: double;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
            overflow: hidden
        }

        @@media print {
            @@page {
                size: A4;
                margin: 20px !important;
            }
        }

        #comHeader {
            display: table-header-group;
            height: 50px !important;
        }

        @@media print {
            .pagebreak {
                page-break-before: always;
            }
            /* page-break-after works, as well */
        }

        #content:after {
            display: block;
            content: "";
            margin-bottom: 1mm; /*(300 value was there)*/ /**/ /* must be larger than largest paper size you support */
        }

        .bg-blue {
            background-color: rgb(255 216 0) !important;
            -webkit-print-color-adjust: exact;
        }

        .quicknet-title {
            font-size: large !important;
            font-weight: bolder !important;
            color: black !important;
        }

        .quicknet-title-span {
            font-size: x-large !important;
            color: black !important;
        }

        .quicknet-adress {
            margin-left: 10px !important;
            color: black !important;
            font-size: medium;
            font-weight: 600;
            text-align: left !important;
        }

        .quote-height {
            height: 30px;
            padding: 0px;
            margin-top: 20px;
        }

        .quote-title {
            text-transform: uppercase;
            color: black !important;
            font-weight: 600;
            font-size: large;
        }

        .bg-header {
            background-color: rgb(58 107 196 / 0.88) !important;
            -webkit-print-color-adjust: exact;
            margin-left: 40px !important;
        }

        .table-top-border th {
            background-color: white !important;
            color: black !important;
            -webkit-print-color-adjust: exact;
        }


        .text-blue {
            background: grey !important;
            -webkit-print-color-adjust: exact;
            color: white !important;
        }

        #stripes table {
            width: 96% !important;
        }

        #stripes tr {
            border-bottom: 1px solid rgb(154 178 253 / 0.32);
        }

            #stripes tr:nth-child(even) td {
                background: white !important;
                -webkit-print-color-adjust: exact;
            }

            #stripes tr:nth-child(odd) td {
                background: white !important;
                -webkit-print-color-adjust: exact;
            }

        .aligquote2 tr {
        }

        .aligquote2 tr:nth-child(odd) th {
            text-align: left !important;

        }

        .aligquote2 tr:nth-child(even) th {
            text-align: left !important;
        }

        .aligquote2 tr:nth-child(odd) td {
            vertical-align: bottom;
        }

        .aligquote2 tr:nth-child(even) td {
            vertical-align: bottom;
        }

        .customerfont {
            font-family: sans-serif !important;
            font-style: normal !important;
            font-size: 18px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin-bottom: 30px !important;
        }

        .table-head-total {
            border: 1px solid grey !important;
            /*  margin-top: -10px;
                margin-left: 22px;*/
        }

        .black-bg-tb thead {
            border: 1px solid grey !important;
        }

        .black-bg-tb th:nth-child(even) {
            -webkit-print-color-adjust: exact;
            margin-top: 5px !important;
            font-size: larger;
        }

        /*this for header and footer*/
        @@media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }
        }

        .page-header {
            height: 220px !important;
            padding-right: 100px !important;
            
        }

        .page-footer {
            height: 190px !important;
        }

        .page-header-space {
            height: 220px !important;
            margin-bottom: 0px !important;
            margin-top: 10px !important;
            background: green !important;
            -webkit-print-color-adjust: exact;
        }

        .page-footer-space {
            height: 190px !important;
        }

        .page-footer-space, .page-header-space {
        }

        .page-header {
            position: fixed;
            margin-top: 12px;
            margin-left: 12px;
            padding: 0px !important;
            bottom: 0px;
            top: 0px;
            left: 0px;
            width: 96%; /* for demo */
             /*background: red !important;*/
            -webkit-print-color-adjust: exact;
            border-bottom: 0px solid white !important;
        }

        .page-footer {
            position: fixed;
            margin-bottom: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%; /* for demo */
            -webkit-print-color-adjust: exact;
        }
        .top-img {
            position: absolute;
            top: 0px;
            left: 300px;
        }

        .bottom-img {
            position: relative;
            top: 30px;
        }
        .invo-top-details {
            position: absolute;
        }
    </style>
    <!-- Main content -->

    <div id="pageborder">
    </div>
    <div class="page-header">
        <div class="row" style="">
            <div class="col-xs-7 col-7 col-md-7">
                <div style="width:14cm; float: left;">


                    <img src="~/uploads/company/@ViewBag.CLogo" width="100" style="float:left;margin-top:35px; margin-left:30px;" />

                    <div class="" style=" text-align: left; padding-left: 5px; float: left; margin-top: 30px;">
                        <h4>
                            <strong class="quicknet-title">@ViewBag.CName</strong>
                        </h4>
                        <div class="quicknet-adress" style=" ">
                            Mussafah, Shabia ME-11<br />
                            Abu Dhabi, UAE<br />
                            www.quicknet.me<br />
                            Our TRN: 100378421000003
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-xs-5 col-5 col-md-5 invoiceheightfix">
                <div class="invo-top-details">
                    <table id="Cust_de" class="table-nob noborder" style="height: 10px !important; border-spacing: 0px !important; border-collapse: collapse !important; font-size: 12px; margin-top: 35px !important; margin-right: 30px !important; margin-left: 14px !important;">
                        <thead class="aligquote2 table-nob noborder" style="display:contents;height:35px !important; ">
                            <tr>
                                <th>@InvoiceNo.Value </th>
                                <td>: <label id="lblBillNo"></label></td>
                            </tr>
                            <tr>
                                <th>@Date.Value </th>
                                <td>: <label id="lblDate"></label></td>
                            </tr>
                            @{
                                if (PO_No != null)
                                {
                                    myclass = PO_No.Status == Status.inactive ? "class=\"hidden\"" : "";
                                    <tr id="ponoSet" @Html.Raw(myclass)>
                                        <th>@PO_No.Value</th>
                                        <td>: <label id="lblPONo"></label></td>
                                    </tr>
                                }
                            }
                            @{
                                myclass = SalesExecutive.Status == Status.inactive ? "class=\"hidden\"" : "";
                            }
                            <tr id="empSet" @Html.Raw(myclass)>
                                <th>Sales Exe.</th>
                                <td>: <label id="lblEmployee" style="font-size:12px;"></label></td>
                            </tr>
                            @{
                                myclass = DeliveryNote.Status == Status.inactive ? "class=\"hidden\"" : "";
                            }
                            <tr id="dvnSet" @Html.Raw(myclass)>
                                <th>@DeliveryNote.Value</th>
                                <td>: <label id="lbldvn"></label></td>
                            </tr>
                            @{
                                myclass = PaymentType.Status == Status.inactive ? "class=\"hidden\"" : "";
                            }
                            <tr @Html.Raw(myclass) id="Mpaytype">
                                <th>@PaymentType.Value</th>
                                <td>: <label id="lblpaytype"></label></td>
                            </tr>
                            @{
                                myclass = Cust_Credit_Period.Status == Status.inactive ? "class=\"hidden\"" : "";
                            }
                            <tr id="crperiod" @Html.Raw(myclass)>
                                <th>@Cust_Credit_Period.Value</th>
                                <td>: <label id="lblcperiod"></label></td>
                            </tr>
                            <tr id="divproject" style="display:none;">
                                <th>Project</th>
                                <td>: <label id="lblProject"></label></td>
                            </tr>
                            <tr id="divAgstInvoice">
                                <th>Against Invoice</th>
                                <td><label id="agstInvoice"></label></td>
                            </tr>
                            <tr id="divconvert">
                                <th id="IblMReqTitle"></th>
                                <td><label id="lblMReqNo"></label></td>
                            </tr>
                            <tr id="divsconvert">
                                <th id="IblPQTitle"></th>
                                <td><label id="lblPQNo"></label></td>
                            </tr>
                            <tr id="divtconvert">
                                <th id="IblPOTitle"></th>
                                <td><label id="lblPOrNo"></label></td>
                            </tr>
                            <tr id="divfconvert">
                                <th id="IblMRNTitle"></th>
                                <td><label id="lblMRNNo"></label></td>
                            </tr>

                            <tr id="divpayterm">
                                <th>Payment Terms</th>
                                <td><label id="lblPayTerm"></label></td>
                            </tr>
                            <tr id="divcontact">
                                <th>Contact No.</th>
                                <td><label id="IblContactNo"></label></td>
                            </tr>
                            <tr id="divemail">
                                <th>e-Mail</th>
                                <td><label id="Iblemail"></label></td>
                            </tr>

                            <tr id="divconvFrom">
                                <th><b><label id="IblConvFrom"></label></b></th>
                                <td>: <label id="IblConvBill"></label></td>
                            </tr>

                            @* field mapping *@
                            <tr id="divRef1" hidden>
                                <th id="IblRef1"></th>
                                <td>: <label id="IblRef1Val"></label></td>
                            </tr>
                            <tr id="divRef2" hidden>
                                <th id="IblRef2"></th>
                                <td>: <label id="IblRef2Val"></label></td>
                            </tr>
                            <tr id="divRef3" hidden>
                                <th id="IblRef3"></th>
                                <td>: <label id="IblRef3Val"></label></td>
                            </tr>
                            <tr id="divRef4" hidden>
                                <th id="IblRef4">/th>
                                <td>: <label id="IblRef4Val"></label></td>
                            </tr>
                            <tr id="divRef5" hidden>
                                <th id="IblRef5"></th>
                                <td>: <label id="IblRef5Val"></label></td>
                            </tr>
                        </thead>
                    </table>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-md-12 quote-height">

                    <h4 class="text-center">
                        <strong class="quote-title">@title.Value </strong>
                    </h4>

                </div>

            </div>
    </div>
    <table class="invoice print">
        <thead>
            <tr>
                <td>
                    <!--place holder for the fixed-position header-->
                    <div class="page-header-space"></div>
                </td>
            </tr>
        </thead>
        <tbody id="content">

            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">

                    <div id="itemSection">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead style="display:contents">
                                <tr>
                                    <td colspan="12" style="padding-bottom:0px;padding-top:0px"><i><b>@Customer.Value </b></i></td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="padding-bottom: 0px; padding-top: 0px"><label id="lblParty"></label></td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="padding-bottom: 0px; padding-top: 0px">
                                        <label id="lbladdress"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="padding-bottom: 0px; padding-top: 0px">
                                        TRN : <label id="lbltrn"></label>
                                    </td>
                                </tr>



                </td>



            </tr>
            <tr>
                <th width="6%">S/N </th>
                <th id="PoNo">Part No</th>
                <th width="54%">Item</th>
                <th class="makehide">Make</th>
                <th>Unit</th>
                <th>Qty</th>
                <th class="itemdata" style="text-align:right">U.Price</th>
                <th class="itemdata" style="display:none;" ">Total </th>
                <th class="itemdata" style="display:none;"> </th>
                <th class="itemdata" style="text-align:right">Total </th>
            </tr>
            </thead>

        <tbody>
            <tr>
                <th>item 1</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>item 2</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class='border-top'>
                <td colspan='6'><strong> Amount In Words</strong></td>
                <td id="Bill_Amount">
                    @Bill_Amount.Value
                </td>
                <td class='text-right'></td>
            </tr>



            <tr class='border-top'>
                <td colspan='6' rowspan='3'>
                    <strong>
                        <span id="Terms">
                            @Terms.Value
                        </span>
                    </strong>
                </td>

                <td id="Bill_Discount">
                    @Bill_Discount.Value
                </td>
                <td id='discountprint' class='text-right'>0.00</td>
            </tr>
            <tr class='border-top'>
                <td id="Bill_Tax">
                    @Bill_Tax.Value
                </td>
                <td class='text-right'>0.00</td>
            </tr>
            <tr class='border-top'>
                <th id="Bill_Total">
                    @Bill_Total.Value

                    <span style='direction:ltr'>(AED)</span>
                </th>
                <th class='text-right'></th>
            </tr>

        </tbody>
    </table>
    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="wordHtml">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="billsundry">
                <tbody></tbody>
            </table>
        </td>
    </tr>


    <tr class="row">
        <td class="col-xs-12 table-responsive">
            <table class="table table-bordered" id="itemtable1">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    <br />
    <tfoot>
        <tr>
            <td>
                <!--place holder for the fixed-position footer-->
                <div class="page-footer-space"></div>
            </td>
        </tr>
    </tfoot>
    </table>



    <div class="page-footer">
        <table>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered">
                        @*<tr>
                                <td rowspan="3" style="width:50%;">
                                    @Foot_1.Value :<br />
                                    @Foot_1.Lang

                                </td>
                                <td colspan="3" rowspan="3">
                                    @Foot_2.Value.Replace("{company}", ViewBag.CName)<br />
                                   @Foot_2.Lang
                                </td>
                            </tr>*@
                    </table>
                </td>
            </tr>

            <tr class="row">
                <td>
                    <div class="text-center">
                        <img src="/logos/footer.png" width="90%" height="100px" class="bottom-img" />
                        <img src="/logos/zeal.jpg" width="130" height="100px" id="zeal" class="top-img" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@*@Styles.Render("~/css/css")
    @Styles.Render("~/css/print")*@

