
@model QuickSoft.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "Edit Customer";
    ViewBag.SubTitle = "Customer";
    ViewBag.Active = "Master";
    string check = "";
    string strImage = "";
    string partialconfig = "";


    int di = 0;
    int si = 0;
    int ci = 0;
}


<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quicknet Computers</title>
    <!-- plugins:css -->

    <link rel="stylesheet" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Content/css/demo_1/style.css">
    <!-- End Layout styles -->

    <style>
        #file {
            -webkit-border-top-right-radius: 17px;
            -webkit-border-bottom-right-radius: 17px;
            -moz-border-radius-topright: 17px;
            -moz-border-radius-bottomright: 17px;
            border-top-right-radius: 17px;
            border-bottom-right-radius: 17px;
        }

        .btn.btn-fw {
            min-width: 120px;
            float: left;
            margin-bottom: .4rem;
        }

        .fa-4x {
            color: blue;
        }

        .fa-plus-circle:hover {
            color: black;
        }


        .input-group-btn .sh-align {
            height: 100% !important;
            position: absolute;
            right: -21px;
            /*bottom: 30px;*/
            font-size: 20px;
        }

        @@media only screen and (max-width: 420px) {
            .sh-align {
                position: relative;
                bottom: -2px;
                right: -50%;
                transform: scale(1.19) !important;
            }
        }
    </style>
</head>
<body>
    <div class="container-scroller">

        @using (Html.BeginForm("Edit/"+Model.CustomerID, "Customer", FormMethod.Post, new { id = "createForm", role = "form", enctype = "multipart/form-data" }))
        {

            <!-- partial:../../partials/_navbar.html -->
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial -->
                <div class="main-panel">
                    <div class="">
                        <div class="col-md-12 grid-margin stretch-card" style=" padding-top: 0.8rem;">
                            <div class="card">

                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="card-title">
                                                    <b>CUSTOMER</b>
                                                    <div class="pull-right">
                                                        @if (@ViewBag.preEntry != 0)
                                                        {
                                                            if (User.IsInRole("Dev") || User.IsInRole("Edit Customer"))
                                                            {
                                                                <a class="btn bg-black no-border" href="/Customer/Edit/@ViewBag.preEntry">
                                                                    <i class="fa fa-step-backward"></i>
                                                                </a>
                                                            }
                                                        }
                                                        @if (@ViewBag.nxtEntry != 0)
                                                        {
                                                            if (User.IsInRole("Dev") || User.IsInRole("Edit Customer"))
                                                            {
                                                                <a class="btn bg-black no-border" href="/Customer/Edit/@ViewBag.nxtEntry">
                                                                    <i class="fa fa-step-forward"></i>
                                                                </a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (User.IsInRole("Dev") || User.IsInRole("Create Customer"))
                                                            {
                                                                <a class="btn bg-black no-border" href="/Customer/Create">
                                                                    <i class="fa fa-step-forward"></i>
                                                                </a>
                                                            }
                                                        }

                                                        @if (User.IsInRole("Dev") || User.IsInRole("Customer"))
                                                        {
                                                            <a class="btn btn-success no-border" href="/Customer">
                                                                <i class="fa fa-fw fa-history"></i> Customer
                                                            </a>
                                                        }
                                                    </div>
                                                </h4>
                                            </div>

                                        </div>
                                    </div>

                                    <form action="#">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
                                        @Html.HiddenFor(model => model.ConvertFrom)
                                        @Html.HiddenFor(model => model.CustomerID)
                                        <input type="hidden" class="form-control" id="RowCount" value="0" placeholder="">
                                        <input type="hidden" class="form-control" id="balanceRowcount" value="0" placeholder="">
                                        <input type="hidden" class="form-control" id="documentRowcount" value="0" placeholder="">

                                        <div style="display:none;">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">Customer Code</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Customer Name*</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Cusotmer Name", tabindex = 2 } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Customer Alias</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alias", tabindex = 3 } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Customer Print Name</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CustomerPrintName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Print Name", tabindex = 4 } })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">TAX ID TRN</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.TaxID_TRN, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "TAX ID TRN", tabindex = 5 } })
                                                            @*<input type="text" class="form-control" placeholder="TAX ID TRN">*@
                                                        </div>
                                                    </div>
                                                    @*<------------------------------------->*@
                                                    @*<div class="col-md-3">
                    <label class="control-label">Sales Person</label>
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Empl, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 6 })
                    </div>
                </div>*@
                                                    @*<------------------------------------->*@
                                                    <div class="col-sm-3 ">

                                                        <label class="control-label">Sales Person*</label>
                                                        <div class="input-group">


                                                            @Html.DropDownListFor(m => m.SalesPerson, (SelectList)ViewBag.Empl, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 6,  })

                                                            @if (@ViewBag.Employees == 0)
                                                            {
                                                                <span class="input-group-btn">
                                                                    <a href="/Employee/Create" class="btn btn-flat sh-align" target="_new" title="Add SalesPerson"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="input-group-btn">
                                                                    <a href="/SalesExecutive/Create" class="btn btn-flat sh-align" target="_new" title=" Add SalesPerson"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

                                                                </span>
                                                            }
                                                        </div>
                                                    </div>

                                                    @*<========================================================================================>*@
                                                    <div class="col-md-3">
                                                        <label class="control-label">Source*</label>
                                                        <div class="input-group">
                                                            @Html.DropDownListFor(m => m.SourceOfLead, (SelectList)ViewBag.SrcOfLead, "", new { id = "ddlSrcLead", @class = "form-control select2", tabindex = 7 })
                                                            <span class="input-group-btn">
                                                                <a href="/SourceOfLead/Index" class="btn btn-flat sh-align" target="_new" title="Add Source"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

                                                            </span>
                                                        </div>
                                                    </div>


                                                    @*<==================================================>*@
                                                    @*<div class="col-md-3">
                    <label class="control-label">Source</label>
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SourceOfLead, (SelectList)ViewBag.SrcOfLead, "", new { id = "ddlEmployee", @class = "form-control select2", tabindex = 7 })
                    </div>
                </div>*@
                                                    @if (User.IsInRole("Dev") || User.IsInRole("Customer Credit Limit Visibile"))
                                                    {
                                                        <div class="col-md-3">
                                                            <label class="control-label">Credit Limit</label>
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Credit Limit", tabindex = 8 } })
                                                                <label class="control-label">Include PDC</label>  @Html.CheckBoxFor(Model => Model.includepdc, new { @class = "checkbox" })
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">Credit Period</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Credit Period", @required = "required", tabindex = 9 } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Country</label>
                                                        <div class="input-group">
                                                            @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, "", new { id = "ddlCountryID", @class = "form-control select2", tabindex = 10 })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Emirates/States</label>
                                                        <div class="input-group">

                                                            @Html.DropDownListFor(m => m.StateID, (SelectList)ViewBag.States, "", new { id = "ddlStateID", @class = "form-control select2", tabindex = 11 })

                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label class="control-label">Location</label>
                                                        <div class="input-group">

                                                            @Html.DropDownListFor(m => m.LocationID, (SelectList)ViewBag.Location, "", new { id = "ddlLocationID", @class = "form-control select2", tabindex = 12 })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <br />
                                                        <label class="control-label">Customer Address</label>
                                                        <div class="input-group">
                                                            @Html.TextAreaFor(model => model.Addres, new { @class = "form-control", @placeholder = "Enter Address", tabindex = 6 })
                                                        </div>
                                                    </div>
                                                    @*=============================================================*@
                                                    @*<div class="col-md-3">
                    <br />
                    <label class="control-label">Price Category</label>
                    <div class="input-group">

                        @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Categorys, "", new { @class = "form-control select2", tabindex = 12 })


                    </div>
                </div>*@
                                                    @*==========================================================================*@


                                                    <div class="col-md-3">
                                                        <br />
                                                        <label class="control-label">Price Category*</label>
                                                        <div class="input-group">

                                                            @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Categorys, "", new { id = "ddlPricecategory", @class = "form-control select2", tabindex = 14 })
                                                            <span class="input-group-btn">
                                                                <a href="/PriceCategory/Index" class="btn btn-flat sh-align" target="_new" title="Add Price Category"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

                                                            </span>

                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <br />
                                                        <label class="control-label">Customer Type*</label>
                                                        <div class="input-group">

                                                            @Html.DropDownListFor(m => m.CustomerType, (SelectList)ViewBag.CustType, "", new { id = "ddlCustomerType", @placeholder = "Enter Address", @class = "form-control select2", tabindex = 14 })
                                                            <span class="input-group-btn">
                                                                <a href="/Customertype/Index" class="btn btn-flat sh-align" target="_new" title="Add CustomerType"><i class="fa fa-4x fa-plus-circle iconalign"></i></a>

                                                            </span>



                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <br />
                                                        <label class="control-label">User Name*</label>
                                                        <div class="input-group">

                                                            @Html.EditorFor(m => m.username, new { @id = "username", htmlAttributes = new { @class = "form-control", tabindex = 50 } })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <br />
                                                        <label class="control-label">Password*</label>
                                                        <div class="input-group">

                                                            @Html.EditorFor(m => m.password, new { @id = "password", htmlAttributes = new { @class = "form-control", tabindex = 51 } })

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw add_field_button">Add Contact &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                        <br><br>

                                        <div class="form-group input_fields_wrap">

                                            <table class="table table-condensed table-hover" id="contactTbl">

                                                @{

                                                    if (Model != null && Model.LstContacts != null && Model.LstContacts.Count > 0)
                                                    {
                                                        List<QuickSoft.Models.Country> CountryCodelist = ViewBag.CountryCodes;

                                                        foreach (var item in Model.LstContacts.ToList())
                                                        {
                                                            <div class="contact1">
                                                                <div class="row" style="margin-top: 1rem;">
                                                                    <div class="col-md-2">
                                                                        <label class="control-label">Country Code</label>
                                                                        <div class="input-group">
                                                                            <select id="Type" class="form-control" name="LstContacts[@ci].CountryID" required="required">
                                                                                @{
                                                                                    foreach (var data in CountryCodelist)
                                                                                    {
                                                                                        if (data.CountryID == item.CountryID)
                                                                                        {
                                                                                            <option value="@data.CountryID" selected="selected">@data.CountryName (@data.CountryCode)</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="@data.CountryID">@data.CountryName (@data.CountryCode)</option>
                                                                                        }
                                                                                    }
                                                                                }

                                                                            </select>
                                                                            @*<input type="text" value="@item.Country" name="LstContacts[@ci].Country" class="form-control">*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label">Mobile Number</label>
                                                                        <div class="input-group">
                                                                            <input type="text" value="@item.Mobile" name="LstContacts[@ci].Mobile" id="Mobile[@ci]" class="form-control" placeholder="5xxxxxxxx" onchange="CheckMobileNo('', @ci)" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label">Email Id</label>
                                                                        <div class="input-group">
                                                                            <input type="email" value="@item.EmailId" name="LstContacts[@ci].EmailId" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label">Website</label>
                                                                        <div class="input-group">
                                                                            <input type="text" value="@item.Website" name="LstContacts[@ci].Website" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a href="javascript:void(0);" class="remove_button"><i style="color:red; margin-top: 32px;margin-left: 20px;  position: relative; " class="fa fa-trash" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>

                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label class="control-label">Contact Type</label>
                                                                        <div class="input-group">

                                                                            <select id="Type" class="form-control" name="LstContacts[@ci].ContactTypeID" required="required">
                                                                                @{
                                                                                    List<QuickSoft.Models.ContactType> typelist = ViewBag.TypeList;

                                                                                    foreach (var data in typelist)
                                                                                    {
                                                                                        if (data.ContactId == item.ContactTypeID)
                                                                                        {
                                                                                            <option value="@data.ContactId" selected="selected">@data.Type</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="@data.ContactId">@data.Type</option>
                                                                                        }
                                                                                    }
                                                                                }

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">

                                                                        <label class="control-label">First Name</label>
                                                                        <div class="input-group">

                                                                            <input type="text" name="LstContacts[@ci].FirstName" class="form-control" value="@item.FirstName" required>

                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-3">

                                                                        <label class="control-label">Last Name</label>
                                                                        <div class="input-group">
                                                                            <input type="text" name="LstContacts[@ci].LastName" class="form-control" value="@item.LastName">
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-3">

                                                                        <label class="control-label">Company Name</label>
                                                                        <div class="input-group">
                                                                            <input type="text" name="LstContacts[@ci].Name" class="form-control" value="@item.Name">
                                                                        </div>

                                                                    </div>

                                                                    <div class="remove" style="margin-top: 1rem;">

                                                                        <div class="col-md-1" stye="display:none">
                                                                            <div class="input-group">
                                                                                <input type="hidden" value="@item.ContactID" name="LstContacts[@ci].ContactID" class="form-control">
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            ci++;

                                                        }
                                                    }
                                                }

                                            </table>
                                        </div>


                                        <br><br>
                                            <div style="display:none">
                                                <div class="form-group" id="myDIV">
                                                    <div class="row">

                                                        @*<input type="text" name="@Model.OpnBalance" class="form-control" placeholder="Enter Opening Balance">*@
                                                        @Html.HiddenFor(model => model.AccountsID, new { htmlAttributes = new { @class = "form-control", @placeholder = "AccountsID" } })

                                                        <div class="col-md-2">
                                                            <label class="control-label">Opening Balance</label>
                                                            <div class="input-group">
                                                                @*<input type="text" name="model.OpnBalance" class="form-control" placeholder="Enter Opening Balance" required>*@
                                                                @Html.EditorFor(model => model.OpnBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Opening Balance", tabindex = 0 } })
                                                                <div class="input-group-addon no-padding dcwidth">
                                                                    @Html.EnumDropDownListFor(model => model.DC, new { @class = "form-control", tabindex = 26 })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label">Pre Year Balance</label>
                                                            <div class="input-group">
                                                                @*<input type="text" name="model.PreYearBalance" class="form-control" placeholder="Pre year balance" required>*@
                                                                @Html.EditorFor(model => model.PreYearBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pre year balance", tabindex = 1 } })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <label class="control-label">Notes</label>
                                                            <div class="input-group">
                                                                @*<input type="text" name="model => model.Note" class="form-control" placeholder="Notes" required>*@
                                                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", tabindex = 2 } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw  add_field_button2">Balance &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                <br><br>
                                                <div class="form-group input_fields_wrap2">
                                                    <table class="table table-condensed table-hover" id="blnceTbl">

                                                        @{


                                                            if (Model != null && Model.LstSalesEntry != null && Model.LstSalesEntry.Count > 0)
                                                            {
                                                                foreach (var item in Model.LstSalesEntry.ToList())
                                                                {
                                                                    <div class="row" style="margin-top: 1rem;">
                                                                        <div class="col-md-2" hidden>
                                                                            <label class="control-label">id</label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.SalesEntryId" name="LstSalesEntry[@si].SalesEntryId" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <label class="control-label">BillNo </label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.BillNo" name="LstSalesEntry[@si].BillNo" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <label class="control-label">SEDate</label>
                                                                            <div class="input-group">
                                                                                <input type="date" value="@item.SEDate.ToString("yyyy-MM-dd")" name="LstSalesEntry[@si].SEDate" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <label class="control-label">SEGrandTotal</label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.SEGrandTotal" name="LstSalesEntry[@si].SEGrandTotal" step=".01" onkeyUp="calculateop(@si)" id="lsttotal_@si" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">DueDate</label>
                                                                            <div class="input-group">
                                                                                <input type="date" value="@item.DueDate.(" yyyy-MM-dd")" name="LstSalesEntry[@si].DueDate" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">Due Reason</label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.DueReason" name="LstSalesEntry[@si].DueReason" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <a href="javascript:void(0);" class="remove_button"><i style="color:red; top: 1.3rem; position: relative; " class="fa fa-trash" aria-hidden="true"></i></a>
                                                                    </div>

                                                                    si++;

                                                                }
                                                            }
                                                        }
                                                    </table>
                                                </div>



                                                <button style="width: 200px;" type="submit" class="btn btn-primary btn-rounded btn-fw add_field_button3">Documents Attach &ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                <br>
                                                <br>
                                                <div class="form-group input_fields_wrap3">
                                                    <table class="table table-condensed table-hover" id="tblDcmnt">

                                                        @{


                                                            if (Model != null && Model.LstCutomerDocument != null && Model.LstCutomerDocument.Count > 0)
                                                            {
                                                                foreach (var item in Model.LstCutomerDocument.ToList())
                                                                {
                                                                    List<QuickSoft.Models.DocumentType> doclist = ViewBag.DocList;

                                                                    <div class="row" style="margin-top: 1rem;">
                                                                        <div class="col-md-3" hidden>
                                                                            <label class="control-label">Document id</label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.DocumnetId" name="LstCutomerDocument[@di].DocumnetId" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">Document Type</label>
                                                                            <div class="input-group">
                                                                                <select id="Type" class="form-control" name="LstCutomerDocument[@(di)].DocumentTypeID">
                                                                                    @{
                                                                                        foreach (var data in doclist)
                                                                                        {
                                                                                            if (data.ID == item.DocumentTypeID)
                                                                                            {
                                                                                                <option value="@data.ID" selected="selected">@data.Name</option>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value="@data.ID">@data.Name</option>
                                                                                            }
                                                                                        }
                                                                                    }

                                                                                </select>
                                                                                @*<input type="text" value="@item.DoucumentType" name="LstCutomerDocument[@di].DoucumentType" class="form-control">*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">Expiry</label>
                                                                            <div class="input-group">
                                                                                <input type="date" value="@item.Expiry.ToString("yyyy-MM-dd")" name="LstCutomerDocument[@di].Expiry" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">Notes</label>
                                                                            <div class="input-group">
                                                                                <input type="text" value="@item.Notes" name="LstCutomerDocument[@di].Notes" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <label class="control-label">Choose Image</label>
                                                                            <div class="input-group">
                                                                                <input type="file" value="@item.FilePath" title="@item.FilePath" name="LstCutomerDocument[@di].FilePath" class="form-control file-upload-info">
                                                                                <input type="hidden" value="@item.filenamelead" title="@item.filenamelead" name="LstCutomerDocument[@di].filenamelead">
                                                                                <a href="/uploads/customerdocuments/@item.filenamelead" value="@item.filenamelead" name="LstCutomerDocument[@di].filenamelead" target="_new" style=" margin-top:0.3rem;">Open</a>
                                                                            </div>
                                                                        </div>

                                                                        <a href="javascript:void(0);" class="remove_button"><i style="color:red; top: 1.3rem; position: relative; " class="fa fa-trash" aria-hidden="true"></i></a>
                                                                    </div>


                                                                    di++;

                                                                }
                                                            }
                                                        }
                                                    </table>
                                                </div>

                                            </div>
                                    </form>
                                    <br>

                                    <button type="submit" id="save" class="btn btn-info" tabindex="27">
                                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                                    </button>
                                    <button type="button" class="btn btn-default" tabindex="29" onclick="@("window.location.href='/Customer/Index'");">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        }
    </div>
    <!-- container-scroller -->
    <!-- End custom js for this page -->
    <!-- add more js -->
    <script type="text/javascript">

        var Countrys = '<option value="0">--Select--</option>';

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Customer/GetCountryCode",
                data: "{}",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        Countrys += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                    }
                }
            });
            $("#ddlCustomerType").select2({
                placeholder: '',
                minimumInputLength: 0,
                ajax: {
                    url: "/CustomerType/SearchType",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "Select Customer Type"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });







            $("#ddlPricecategory").select2({
                placeholder: '',
                minimumInputLength: 0,
                ajax: {
                    url: "/PriceCategory/SearchPriceCategory",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select CustomerType"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            CallEmployee();
            SrcOfLead();


        });


        $(document).ready(function () {


                $(".contact1").on('click', '.remove_button', function (e) {
                    e.preventDefault();

                    $('.contact1').remove(); //Remove field html
                                                            //Decrement field counter
                                                        });

            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count

            var s = '<option value="0">--Select--</option>';


            $(document).ready(function () {
                $(wrapper).on('click', '.remove_button', function (e) {
                    e.preventDefault();

                    $('#contactTbl').remove(); //Remove field html
                    x--; //Decrement field counter
                });
                $.ajax({
                    type: "GET",
                    url: "/Customer/GetContactTypes",
                    data: "{}",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                        }
                    }
                });
            });

            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    if (document.getElementById('RowCount').value < @ci) {
                        var rowno = @ci;
                    }
                    else {
                        var rowno = document.getElementById('RowCount').value;
                    }

                    $(wrapper).append(

                        '<div class=" remove">' +

                        '<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Country Code</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control"  name="LstContacts[' + rowno + '].CountryID" tabindex="30"  id="CountryID' + rowno + '"  tabindex="34">' + Countrys +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Mobile Number</label>' +
                        '<div class="input-group">' +
                        '<select  name="LstContacts[' + rowno + '].Mobile" class="form-control mobilenumber select2"  required onchange="loadcontact(' + rowno + ',this)"  id="Mobile' + rowno + '"  tabindex="35" ></select>' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Email Id</label>' +
                        '<div class="input-group">' +
                        '<select   name="LstContacts[' + rowno + '].EmailId" class="form-control select2 emailid" id="EmailId' + rowno + '" onchange="loadcontactemail(' + rowno + ',this)"></select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Website</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].Website" class="form-control"  id="Website' + rowno + '">' +
                        '</div>' +
                        '</div ">' +
                        '<div class="col-md-1">' +
                        '<a href="javascript:void(0);" class="remove_button "><i style="color:red;margin-top: 32px;margin-left: 20px; " class="fa fa-trash " aria-hidden="true"></i></a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Contact Type</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control"  name="LstContacts[' + rowno + '].ContactTypeID" tabindex="30" id="ContactTypeID' + rowno + '">' + s +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">First Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].FirstName" class="form-control"  tabindex="31"  required id="firstname' + rowno + '" > ' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Last Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].lastname" class="form-control" id="lastname' + rowno + '"  tabindex="32">' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Company Name</label>' +
                        '<div class="input-group">' +
                        '<input type="text"  name="LstContacts[' + rowno + '].Name" class="form-control"  id="Name' + rowno + '"  tabindex="33">' +
                        '</div>' +
                        ' </div>' +
                        '</div>' +
                        '</div>');

                    x++;
                    rowno++;
                    document.getElementById('RowCount').value = rowno;
                    callselect();
                }
            });
            $(wrapper).on('click', '.remove_button', function (e) {
                e.preventDefault();

                $(this).closest('.remove').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });

        //Function to check correct format for Mobile Number
        //MobileNo is not passed in fetched rows(Edit Mode Rows)
        function CheckMobileNo(MobileNo, i) {
            var Mobile;

            if (MobileNo == "") {
                Mobile = document.getElementById("Mobile[" + i + "]").value;
                Mobile = Mobile.replace(/^0+/, '');
                document.getElementById("Mobile[" + i + "]").value = Mobile;
            }
            else
                Mobile = MobileNo;

            var NumbersOnly = /[^0-9]/g;
            var NewMob = (Mobile.replace(NumbersOnly, ""));

            if (Mobile != NewMob) {
                alert("Please Select Correct Format For Mobile..(Numbers Only)");

                if (MobileNo == "") {
                    document.getElementById("Mobile[" + i + "]").value = "";
                    document.getElementById("Mobile[" + i + "]").focus();
                }
                else {
                    var opt = '<option value="" selected>5xxxxxxxx</option>'
                    $("#Mobile" + i).append(opt);
                    mobileload();
                }
            }
            else if (Mobile.length > 9) {
                alert("Only 9 numbers are allowed...")

                if (MobileNo == "") {
                    document.getElementById("Mobile[" + i + "]").value = "";
                    document.getElementById("Mobile[" + i + "]").focus();
                }
                else {
                    var opt = '<option value="" selected >5xxxxxxxx</option>'

                    $("#Mobile" + i).append(opt);
                    mobileload();
                }
            }
        }

        function loadcontact(i, obj) {
            $('.mobilenumber').select2('destroy');
            var s = $("#Mobile" + i).val();
            s = s.replace(/^0+/, '');
            var opt = '<option value="' + s + '" selected>' + s + '</option>'
            $("#Mobile" + i).append(opt);
            mobileload();
            $.ajax({
                url: "/Supplier/getcontactsbymobile",
                type: "GET",
                dataType: "JSON",
                data: { mobile: obj.value },
                success: function (result) {

                    $("#firstname" + i).val(result[0].FirstName);
                    $("#lastname" + i).val(result[0].LastName);
                    $("#Website" + i).val(result[0].Website);
                    $('.emailid').select2('destroy');
                    var opt = '<option value="' + result[0].EmailId + '" selected>' + result[0].EmailId + '</option>'
                    $("#EmailId" + i).append(opt);

                    $("#EmailId" + i).val(result[0].EmailId);

                    //$("#Mobile" + i).val(result[0].MobileNum);
                    $("#CountryID" + i).val(result[0].CountryID);
                    $("#Name" + i).val(result[0].Name + "," + result[0].Address);
                    $("#ContactTypeID" + i).val(result[0].ContactTypeID);

                    emailload();
                }
            });
            //Function to check correct format for Mobile Number
            CheckMobileNo(s, i);
        }
        function loadcontactemail(i, obj) {
            $.ajax({
                url: "/Customer/getcontactsbyemail",
                type: "GET",
                dataType: "JSON",
                data: { email: obj.value },
                success: function (result) {

                    $("#firstname" + i).val(result[0].FirstName);
                    $("#Website" + i).val(result[0].Website);
                    $("#EmailId" + i).val(result[0].EmailId);
                    $('.mobilenumber').select2('destroy');
                    var opt = '<option value="' + result[0].MobileNum + '" selected>' + result[0].MobileNum + '</option>'
                    $("#Mobile" + i).append(opt);

                    //$("#Mobile" + i).val(result[0].MobileNum);
                    $("#CountryID" + i).val(result[0].CountryID);
                    $("#Name" + i).val(result[0].Name + "," + result[0].Address);
                    $("#lastname" + i).val(result[0].LastName);
                    $("#ContactTypeID" + i).val(result[0].ContactTypeID);

                    mobileload();
                }
            });
        }
        function callselect() {
            mobileload();
            emailload();
        }
        function mobileload() {
            $('.mobilenumber').select2({
                tags: true,
                placeholder: '5xxxxxxxx',
                minimumInputLength: 0,
                ajax: {
                    url: "/Customer/SearchMobilecontact",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            x: "All",
                            page: params.page || 0,
                        };
                    },

                    processResults: function (data, params) {

                        params.page = params.page || 1;

                        return {

                            results: data
                        };

                    },
                    cache: true
                },
            });
        }
        function emailload() {
            $('.emailid').select2({
                tags: true,

                minimumInputLength: 0,
                ajax: {
                    url: "/Customer/SearchEmailcontact",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            x: "All",
                            page: params.page || 0,
                        };
                    },

                    processResults: function (data, params) {

                        params.page = params.page || 1;

                        return {

                            results: data
                        };

                    },
                    cache: true
                },
            });
        }

    </script>

    <script type="text/javascript">
        function calculateop(ro) {
            var total = 0;
            for (var i = 0; i <= ro; i++) {
                total = total + parseFloat($("#lsttotal_" + i).val());

            }
            $("#OpnBalance").val(total);
        }
        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper2 = $(".input_fields_wrap2"); //Fields wrapper
            var add_button = $(".add_field_button2"); //Add button ID

            var x = 1; //initlal text box count

            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed

                    if (document.getElementById('balanceRowcount').value < @si) {
                        var rowno = @si;
                    }
                    else {
                        var rowno = document.getElementById('balanceRowcount').value;
                    }

                    //paste here
                    $(wrapper2).append('<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Invoice Number</label>' +
                        '<div class="input-group">' +
                        '<input type="text" name="LstSalesEntry[' + rowno + '].BillNo" class="form-control" required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Date Of Invoice</label>' +
                        '<div class="input-group">' +
                        '<input type="date" name="LstSalesEntry[' + rowno + '].SEDate" class="form-control" required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-2">' +
                        '<label class="control-label">Amount</label>' +
                        '<div class="input-group">' +
                        '<input type="number" name="LstSalesEntry[' + rowno + '].SEGrandTotal" id="lsttotal_' + rowno + '" class="form-control" onkeyUp="calculateop(' + rowno +')" step=".01" required>' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Due Date</label>' +
                        '<div class="input-group">' +
                        '<input type="date" name="LstSalesEntry[' + rowno + '].DueDate" class="form-control"  required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Due Reason</label>' +
                        '<div class="input-group">' +
                        '<input type="text" name="LstSalesEntry[' + rowno + '].DueReason" class="form-control" required>' +
                        ' </div>' +
                        '</div>' +
                        '<a href="javascript:void(0);" class="remove_button"><i style="color:red;margin-top: 1.5rem;" class="fa fa-trash" aria-hidden="true"></i></a></div>');
                    x++;

                    rowno++;
                    document.getElementById('balanceRowcount').value = rowno;
                }
            });
            $(wrapper2).on('click', '.remove_button', function (e) {
                e.preventDefault();

                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
    </script>

    <script type="text/javascript">

        var s = '<option value="0">--Select--</option>';

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Customer/GetDocTypes",
                data: "{}",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].ID + '">' + data[i].Name + '</option>';
                    }
                }
            });
        });


        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper3 = $(".input_fields_wrap3"); //Fields wrapper
            var add_button = $(".add_field_button3"); //Add button ID

            var x = 1; //initlal text box count

            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed

                    if (document.getElementById('documentRowcount').value < @di) {
                        var rowno = @di;
                    }
                    else {
                        var rowno = document.getElementById('documentRowcount').value;
                    }

                    //paste here
                    $(wrapper3).append('<div class="row" style="margin-top: 1rem;">' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Document Type</label>' +
                        '<div class="input-group">' +
                        '<select class="form-control" id="DocumentTypeID" name="LstCutomerDocument[' + rowno + '].DocumentTypeID" tabindex="30">' + s +
                        '</select>' +
                      /*  '<input type="text" name="LstCutomerDocument[' + rowno + '].DoucumentType" class="form-control" placeholder="Document Type" required>' +*/
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Expiry</label>' +
                        '<div class="input-group">' +
                        '<input type="date" name="LstCutomerDocument[' + rowno + '].Expiry" class="form-control" placeholder="Expiry" required>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Notes</label>' +
                        '<div class="input-group">' +
                        '<input type="text" name="LstCutomerDocument[' + rowno + '].Notes" class="form-control" placeholder="Notes" required>' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-md-3">' +
                        '<label class="control-label">Choose image</label>' +
                        ' <div class="input-group">' +
                        '<input type="file" name="LstCutomerDocument[' + rowno + '].FilePath" class="form-control file-upload-info"  placeholder="Choose image" required>' +

                        '</div>' +
                        '</div>' +
                        '<a href="javascript:void(0);" class="remove_button"><i style="color:red; margin-top:1.5rem;" class="fa fa-trash" aria-hidden="true"></i></a></div>');

                    x++;

                    rowno++;
                    document.getElementById('documentRowcount').value = rowno;
                }
            });
            $(wrapper3).on('click', '.remove_button', function (e) {
                e.preventDefault();

                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#ddlCountryID").change(function () {
                var id = $(this).val();
                $("#ddlStateID").empty();
                $.get("/Customer/State_Bind", { country_id: id }, function (data) {

                    var v = "<option value='0'>---Select---</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                    });
                    $("#ddlStateID").html(v);
                });
            });

            $("#ddlStateID").change(function () {
                var id = $(this).val();
                $("#ddlLocationID").empty();
                $.get("/Customer/Location_Bind", { state_id: id }, function (data) {
                    var v = "<option value='0'>---Select---</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                    });
                    $("#ddlLocationID").html(v);
                });
            });
        });
    </script>
</body>
</html>