@{
    var sizeval = "";
    if (@ViewBag.Footer == null)
    {
        sizeval = "500px";
    }
    else
    {
        sizeval = "460px";
    }
}

<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <div style="max-height:250px">
                        <div class="text-center" id="comHeader">
                          @*  @Html.Partial("../Common/_CompanyHeader")*@
                        </div>
                        <style type="text/css">
                            .billsundry
                            {
                                display:none;
                            }
                            @@media print {
                                body, .print {
                                    border: 0px !important;
                                }

                                body, .print {
                                    border: 1px !important;
                                }

                                .table-bordered td, .table-bordered th {
                                    border: 1px solid #898989 !important;
                                }
                            }

                            body .print {
                                font-size: 12px;
                            }

                            .print .table-nob tr th {
                                width: 40%;
                            }
                        </style>
                        <div class="text-center">
                            <h4 style="margin-bottom: 1px;">
                                <strong>Credit Note</strong>
                                @*@if (@ViewBag.CTaxRegNo != null)
                                    {
                                        <small class="taxno">TRN : @ViewBag.CTaxRegNo</small>
                                    }*@
                            </h4>
                        </div>
                        <table class="table table-noborder">
                            <tr style="border-top: 1px solid #898989 !important;">
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;">
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th><i><b>Customer زبون</b></i></th>
                                        </tr>
                                        <tr>
                                            <td><label id="lblParty"></label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="lbladdress"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                TRN : <label id="lbltrn"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th>Invoice No رقم الفاتورة</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Date تاريخ</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Sales Executive<br /> منفذ مبيعات</th>
                                            <td>: <label id="lblEmployee"></label></td>
                                        </tr>
                                       
                                        @* field mapping *@
                                        <tr id="divRef1" hidden>
                                            <th id="IblRef1"></th>
                                            <td>: <label id="IblRef1Val"></label></td>
                                        </tr>
                                        <tr id="divRef2" hidden>
                                            <th id="IblRef2"></th>
                                            <td>: <label id="IblRef2Val"></label></td>
                                        </tr>
                                        <tr id="divRef3" hidden>
                                            <th id="IblRef3"></th>
                                            <td>: <label id="IblRef3Val"></label></td>
                                        </tr>
                                        <tr id="divRef4" hidden>
                                            <th id="IblRef4"></th>
                                            <td>: <label id="IblRef4Val"></label></td>
                                        </tr>
                                        <tr id="divRef5" hidden>
                                            <th id="IblRef5"></th>
                                            <td>: <label id="IblRef5Val"></label></td>
                                        </tr>                  

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:0px">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead style="display:none;">
                                <tr>
                                    <th>S/N مسلسل</th>
                                    <th id="PoNo">Part No</th>
                                    <th>Item <br />بند</th>
                                    <th>Unit وحدة</th>
                                    <th>Qty كمية</th>
                                    <th>Unit Price السعر</th>
                                    <th>Amount كمية</th>
                                    <th>Tax <span> (5.00%)</span><br />ضريبة </th>
                                    @*<th>Tax Amount برميل</th>*@
                                    <th>Total مجموع</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                  
                </td>
            </tr>
            <tr class="row">
                <td>
                    <div class="">
                        <div id="ComfootCheck" class="logo">
                             @*<div style="margin:auto;width:20%;" id="zeal" >
                                <img src="~/uploads/companyheader/footer/zeal.jpg" width="100%" ID="ImageButton2" class="img-responsive img-fluid" style="padding-top: 5px;" />
                            </div>
                            <img src="~/uploads/companyheader/footer/@ViewBag.Footer" width="100%" ID="ImageButton2" class="img-responsive img-fluid" style="padding-top: 5px;" />*@
                          @*  @Html.Partial("../Common/_CompanyFooter")*@
                        </div>

                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>