@model QuickSoft.ViewModel.PropertyUnitViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Unit";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    @using (Html.BeginForm("Create", "Unit", FormMethod.Post, new { id = "createmainForm", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Unit</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    if (User.IsInRole("Dev") || User.IsInRole("Edit Customer"))
                    {
                        <a class="btn bg-black no-border" href="/Property/Unit/Edit/@ViewBag.LastEntry">
                            <i class="fa fa-step-backward"></i>
                        </a>
                    }
                }
                @if (User.IsInRole("Dev") || User.IsInRole("Customer"))
                {
                    <a class="btn btn-success no-border" href="/Property/Unit">
                        <i class="fa fa-fw fa-history"></i> List
                    </a>
                }
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        @Html.HiddenFor(model => model.Section)
<div class="box-body">
    <div class="form-group col-md-4">
        @Html.Label("Unit No", null, htmlAttributes: new { @class = "control-label" })*
        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @required = "required", tabindex = 1 } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })*
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Unit Name", tabindex = 15 } })
    </div>
    <div class="col-sm-4 form-group">
        @Html.LabelFor(m => m.Property, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Prop, "", new { id = "ddProperty", @class = "form-control select2", tabindex = 5 })
    </div>
    <div class="col-sm-4 form-group ">
        @Html.Label("Premises No", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.PremisesNo, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group ">
        @Html.Label("No Of Rooms", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NoofRooms, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group ">
        @Html.Label("Unit Usage", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UnitUsage, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group ">
        @Html.Label("Area", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Area, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
   
    <div class="col-sm-4 form-group ">
        @Html.LabelFor(m => m.Rent, new { @class = "control-label" }) *
        @Html.TextBoxFor(m => m.Rent, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group hidden">
        @Html.LabelFor(m => m.Rent, new { @class = "control-label" }) *
        @Html.TextBoxFor(m => m.Rent, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group hidden">
        @Html.LabelFor(m => m.Deposit, new { @class = "control-label" }) *
        @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control input-sm", tabindex = 7 })
    </div>
    <div class="col-sm-4 form-group hidden">
        @Html.Label("Unit Type", null, new { @class = "control-label" })
        <div class="input-group input-group-sm">
            @Html.DropDownListFor(m => m.UnitType, (SelectList)ViewBag.Alldata, "", new { id = "ddlUnitType", @class = "form-control select2", tabindex = 5 })
            <span class="input-group-btn">
                <button type="button" href="/Property/UnitType/Create" class="modal-create btn btn-success btn-flat" tabindex="6"><i class="fa fa-1x fa-plus-circle"></i></button>
            </span>
        </div>
    </div>

    <div class="form-group col-sm-4">
        @Html.LabelFor(m => m.Feature, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.Feature, (SelectList)ViewBag.TagFeature, new { @multiple = "multiple", @class = "form-control select2 " })
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description", tabindex = 8 })
    </div>
    <div class="form-group col-md-12">
        @Html.Label("Terms and Conditions", null, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.TnC, new { @class = "form-control", @placeholder = "Enter Terms and Conditions", tabindex = 8 })
    </div>
    <div class="form-group col-sm-12 no-padding">
        @Html.Label("Item Image", null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ItemImage, new { type = "file", multiple = "multiple", tabindex = 24 })
    </div>
    <div class="box-body">
        <div id="DocDetails"></div>
    </div>
</div>


        <div class="box-footer clearfix text-center">
            <button type="submit" id="save" class="btn btn-info" tabindex="28">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="button" class="btn btn-default" tabindex="29" onclick="@("window.location.href='/Property/Property/Index'");">Cancel</button>
        </div>
    }
</div>

@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/Mobile")
    @Scripts.Render("~/js/bootstrap-fileinput")
@Scripts.Render("~/js/Property")
@Scripts.Render("~/js/docexp")
    <script type="text/javascript">
        $(document).ready(function () {
            AddMobile();
            var EntryID = getQueryString('');
            if (EntryID != null) {
                GetProperty(EntryID);
            } else {
                GetProperty();
            }
            Adddoctypeexp();
            GetUnitType();
            searchDocType();
            $("#Feature").select2({
                tags: true
            });
        });
        var Entry = getQueryString('');
        $("#ddProperty").select2({  
            placeholder: 'Search Property Name or Code',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/PropertyMain/SearchProperty",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                        x: Entry,
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });
        $("#Features").select2({
            placeholder: 'Search Feature',
            minimumInputLength: 0,
            ajax: {
                url: "/Property/PropertyFeature/SearchFeature",
                dataType: 'json',
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term || "",
                        page: params.page || 0,
                        x: "in"
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data
                    };
                },
                cache: true
            },
        });

        //submit function
        $('#createmainForm').on('submit', function (e) {

            if ($("#createmainForm").valid()) {
                e.preventDefault();
                var url = $('#createmainForm')[0].action;
                var formData = new FormData(this);

                var imgUpload = $("#ItemImage").get(0);
                var imgFiles = imgUpload.files;
                if (imgFiles[0] != null) {
                    formData.append(imgFiles[0].name, imgFiles[0]);
                }

                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            location.reload();
                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });

        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });
    </script>
}
