@model QuickSoft.ViewModel.ChequePrintingViewModel
@{
    ViewBag.Title = "Create Formate";
    ViewBag.SubTitle = "Cheque Formate";
    ViewBag.Active = "Master";}


<div class="box box-info">
    @using (Html.BeginForm("Create", "ChequePrinting", FormMethod.Post, new { id = "createform", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Formate Type</h3>
            <div class="pull-right">
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        <div class="box-body">
            @*<div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ChequePrintingId, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ChequePrintingId, new { htmlAttributes = new { id = "ChequePrintingId", @type = "number", @class = "form-control", @required = "required", tabindex = 1 } })
                </div>*@
            <div class="form-group col-md-4">

                @Html.LabelFor(model => model.FormateName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.FormateName, new { htmlAttributes = new { id = "FormateName", @class = "form-control", @required = "required", tabindex = 1 } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ScaleMode, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ScaleMode, new { htmlAttributes = new { id = "ScaleMode", @class = "form-control", @readonly = "readonly", @placeholder = "Centimeters", tabindex = 2 } })
            </div>
            @*<div class="form-group col-md-4">
                @Html.LabelFor(model => model.PrintingMode, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownList("PrintingMode", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "LandScape", Value="LandScape"},
                        new SelectListItem() {Text = "Potrait", Value="Potrait"},

                    }, "Value", "Text"), new { @class = "form-control input-sm", @name = "Value", id = "PrintingMode", tabindex = 3 })

            </div>*@
        </div>

            <div class="box-header with-border">
                <h5 class="box-title">Printer Setting</h5>
            </div>
            <div class="box-body">
                @*<div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PrinterConfiguration, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.PrinterConfiguration, new { htmlAttributes = new { id = "PrinterConfiguration", @type = "text", @class = "form-control", @placeholder = "N", tabindex = 4 } })
                    </div>*@
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.TopMargin, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TopMargin, new { htmlAttributes = new { id = "TopMargin", @type = "number", @class = "form-control", @placeholder = 2, tabindex = 5 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.LeftMargin, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.LeftMargin, new { htmlAttributes = new { id = "LeftMargin", @type = "number", @class = "form-control", @placeholder = 3, tabindex = 6 } })
                </div>
            </div>
            <div class="box-header with-border">
                <h5 class="box-title">Cheque Setting</h5>
            </div>
            <div class="box-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ChequeHeight, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ChequeHeight, new { htmlAttributes = new { id = "ChequeHeight", @type = "number", min = "5", max = "2000" ,@class = "form-control input-sm", tabindex = 6 } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ChequeWidth, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.ChequeWidth, new { htmlAttributes = new { id = "ChequeWidth", @type = "number", min = "5" ,max = "2000",@class = "form-control input-sm",  tabindex = 7 } })
                </div>

            </div>
            <div class="box-footer clearfix text-center">
                <button type="submit" id="submit" class="btn btn-info" tabindex="8">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
                <button type="button" class="btn btn-default" tabindex="9" onclick="@("window.location.href='/ChequePrinting/Index'");">Cancel</button>
            </div>
    }
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {


            $('#createform').on('submit', function (e) {

                e.preventDefault();


                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');

                var parameters = {};

                var FormateName = $('#FormateName').val();

                var ScaleMode = "LandScape";

                var PrintingMode = $('#PrintingMode').val();

                var TopMargine = $('#TopMargin').val();

                var LeftMargine = $('#LeftMargin').val();

                var ChequeHeigth = $('#ChequeHeight').val();
                var ChequeWidth = $('#ChequeWidth').val();

                var Entry = [FormateName, ScaleMode, PrintingMode,
                             TopMargine, LeftMargine, ChequeWidth, ChequeHeigth]


                parameters.entry = Entry;

                if (fnval == "submit") {

                    parameters.action = "Save";
                    $.ajax({
                        async: true,
                        cache: false,
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChequePrinting/CreateChequePrinting",
                        data: JSON.stringify(parameters),
                        beforeSend: function () {
                            //$("button").prop('disabled', true); // disable button
                        },
                        success: function (e) {
                            if (e.status == true) {
                                $('.ajax_response', res_success).text(e.message);
                                $('.AlertDiv').prepend(res_success);

                            } else {
                                $('.ajax_response', res_danger).text(e.message);
                                $('.AlertDiv').prepend(res_danger);
                                //$("button").prop('disabled', false); // enable button
                            }

                        }
                    });
                }

            });
        });


    </script>
}






