
<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    @if (@ViewBag.HeadCheck != 0)
                    {
                        ViewBag.chkLogo = "logo";
                        @Html.Partial("../Common/_CompanyHeader")
                    }
                    <h4>
                        <strong>PAYMENT VOUCHER</strong>
                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Receipt No:<label id="lblBillNo"></label>
                            <table class="table-nob noborder pull-right" style="border: 0px;width: 50%;">
                                @*<tr>
                                    <th>Voucher No رقم القسيمة</th>
                                    <td>: <label id="lblBillNo"></label></td>
                                </tr>*@
                                <tr>
                                    <th>Date تاريخ</th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>
                                <tr>
                                    <th>Reference</th>
                                    <td>: <label id="lblReference"></label></td>
                                </tr>

                                @* field mapping *@
                                <tr id="divRef1" hidden>
                                    <th id="IblRef1"></th>
                                    <td>: <label id="IblRef1Val"></label></td>
                                </tr>
                                <tr id="divRef2" hidden>
                                    <th id="IblRef2"></th>
                                    <td>: <label id="IblRef2Val"></label></td>
                                </tr>
                                <tr id="divRef3" hidden>
                                    <th id="IblRef3"></th>
                                    <td>: <label id="IblRef3Val"></label></td>
                                </tr>
                                <tr id="divRef4" hidden>
                                    <th id="IblRef4"></th>
                                    <td>: <label id="IblRef4Val"></label></td>
                                </tr>
                                <tr id="divRef5" hidden>
                                    <th id="IblRef5"></th>
                                    <td>: <label id="IblRef5Val"></label></td>
                                </tr>                   
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <b><u>Billing Information</u></b>
                        <table class="table noborder" >
                            <tr>
                                <th>Customer Name</th>
                                <td>: <label id="lblcustomer"></label></td>
                            </tr>
                            <tr>
                                <th>Customer Number</th>
                                <td>: <label id="lblmobile"></label></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>: <label id="lblmail"></label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <table class="table-nob noborder" style="border: 0px;width: 100%;" id="itemtable">
                            <tr>
                                <b><u>Payment Details</u></b>
                            </tr>
                            <tr>
                                <td>Cash</td>
                                <td>: <label id="lblamount"></label></td>
                            </tr>
                            <tr id="discount">
                                <td>Discount</td>
                                <td>: <label id="lbldiscount"></label></td>
                            </tr>
                            <tr class="tabletitle thead" id="checktable">
                                <td>Cheque No</td>
                                <td>: <label id="lblcheque"></label></td>
                                <td>Date</td>
                                <td width="20%">: <label id="lblpdcdate"></label></td>
                                <td>Bank</td>
                                <td width="20%">: <label id="lblbank"></label></td>
                            </tr>
                            <tr class="tabletitle thead" id="Amttable">
                                <td width="20%">Being Invoice No :</td>
                                <td width="33%"><label id="lblRefNo"></label></td>
                                <td>Date</td>
                                <td width="20%">: <label id="lblDate"></label></td>
                                <td>Amount</td>
                                <td width="20%">: <label id="lbldebitsum"></label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="col-xs-8 table-responsive" id="outtable">
                            <table class="table noborder" id="itemtable1">
                                <tr><u><b>Out Standing Balance</b></u></tr>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Invoice No</th>
                                        <th>Payment OutStanding</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td>Total Amount</td>
                                        <td><label id="lbltotamt"></label></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered second-table"></table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;">
                            Receiver's Signature :<br />
                            توقيع المتلقي

                        </td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>

