@model QuickSoft.ViewModel.PropertyRegistrationViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Property Registration";
    ViewBag.Active = "Master";
    var TimeOut = @ViewBag.TMOut;
}
@using (Html.BeginForm("Create", "PropertyRegistration", FormMethod.Post, new { id = "createForm1", role = "form" }))
{
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Create Property Registration</h3>
        <div class="pull-right">
            @if (@ViewBag.LastEntry != 0)
            {
                //if (User.IsInRole("Dev") || User.IsInRole("Edit Customer"))
                //{
                <a class="btn bg-black no-border" href="/Property/PropertyRegistration/Edit/@ViewBag.LastEntry">
                    <i class="fa fa-step-backward"></i>
                </a>
                //}
            }
            @*@if (User.IsInRole("Dev") || User.IsInRole("Cust"))
                {*@
            <a class="btn btn-success no-border" href="/Property/PropertyRegistration">
                <i class="fa fa-fw fa-history"></i> List
            </a>
            @*}*@
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    <input id="Section" name="Section" type="hidden" value="Property" />
    <div class="box-body">
        <div class="row">
            <div class="col-sm-2 form-group ">
                @Html.Label("Voucher No", null, new { @class = "control-label" }) *
                @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Date", null, new { @class = "control-label" }) *
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.RDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required" })
                </div>
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.Developer, new { @class = "control-label" }) *
                @*@if (User.IsInRole("Dev") || User.IsInRole("Create Developer"))
                    {*@
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Developer, (SelectList)ViewBag.Develop, "", new { id = "ddlDeveloper", @class = "form-control select2", @required = "required" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/Developer/AddDeveloper" class="modal-develop btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
                @*}
                    else
                    {
                        @Html.DropDownListFor(m => m.Developer, (SelectList)ViewBag.Develop, "", new { id = "ddlDeveloper", @class = "form-control select2", @required = "required" })
                    }*@
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.Owner, new { @class = "control-label" }) *
                @if (User.IsInRole("Dev") || User.IsInRole("Create Expense Account"))
                {
                    <div class="input-group input-group-sm">
                        @Html.DropDownListFor(m => m.Owner, (SelectList)ViewBag.Own, "", new { id = "ddlOwner", @class = "form-control select2", @required = "required" })
                        <span class="input-group-btn">
                            <button type="button" href="/Accounts/Create" class="modal-owner btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                        </span>
                    </div>
                }
                else
                {
                    @Html.DropDownListFor(m => m.Owner, (SelectList)ViewBag.Own, "", new { id = "ddlOwner", @class = "form-control select2", @required = "required" })
                }
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.Property, new { @class = "control-label" }) *
                @*@if (User.IsInRole("Dev") || User.IsInRole("Create Property"))
                    {*@
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/PropertyMain/AddProperty" class="modal-property btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
                @*}
                    else
                    {
                        @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Proper, "", new { id = "ddlProperty", @class = "form-control select2", @required = "required" })
                    }*@
            </div>
            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.Broker, new { @class = "control-label" })
                @*@if (User.IsInRole("Dev") || User.IsInRole("Create Broker"))
                    {*@
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Broker, (SelectList)ViewBag.Broker, "", new { id = "ddlBroker", @class = "form-control select2" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/Broker/AddBroker" class="modal-broker btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
                @*}
                    else
                    {
                        @Html.DropDownListFor(m => m.Broker, (SelectList)ViewBag.Broker, "", new { id = "ddlBroker", @class = "form-control select2", @required = "required" })
                    }*@
            </div>

            <div class="col-sm-2 form-group ">
                @Html.Label("Plot No", null, new { @class = "control-label" })
                @Html.EditorFor(model => model.PlotNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-2 form-group ">
                @Html.Label("Plot Option", null, new { @class = "control-label" })
                @Html.EditorFor(model => model.PlotOption, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Plot Area", null, htmlAttributes: new { @class = "control-label " })
                <div class="input-group">
                    @Html.EditorFor(model => model.PlotArea, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="input-group-addon no-padding dcwidth">
                        @Html.DropDownListFor(m => m.PAMeasurement, (SelectList)ViewBag.Measurement, new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Buildup Area", null, htmlAttributes: new { @class = "control-label " })
                <div class="input-group">
                    @Html.EditorFor(model => model.BuildupArea, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="input-group-addon no-padding dcwidth">
                        @Html.DropDownListFor(m => m.BAMeasurement, (SelectList)ViewBag.Measurement, new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
            <div class="col-sm-2 form-group ">
                @Html.Label("Area", null, new { @class = "control-label" })
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Sector/community", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Hector, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("ADDC No", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ADDCNo, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Permit Number", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PermitId, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Premises Number", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PermissionId, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Booking Date", null, htmlAttributes: new { @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.BookingDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                </div>
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Handover Date", null, htmlAttributes: new { @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m => m.HandoverDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", tabindex = 4 })
                </div>
            </div>
            @if (@ViewBag.BranchCheck == 0)
            {
                <div class="row">
                    <div class="form-group col-sm-2">
                        @Html.Label("Branch", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                    </div>
                </div>
            }
            @for (int i = 0; i < Model.AdditionalField.Count; i++)
            {
                <div class="form-group col-sm-2">
                    <label class="control-label" for="AdditionalField"> @Model.AdditionalField[i].Name</label>
                    <input type="hidden" name="AdditionalField[@i].ID" value="@Model.AdditionalField[i].ID" />
                    <input class="form-control input-sm" id="Name@i" name="AdditionalField[@i].Name" data-val="true" data-val-required="AdditionalField is required." type="text" value="0">
                </div>
            }
        </div>
        <div>
            <div class="col-sm-2 form-group" style="display:none">
                @Html.Label("Deposit Amount", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group" style="display:none">
                @Html.Label("Payment Type", null, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.PaymentType, (SelectList)ViewBag.PaymentTypes, new { id = "ddlPaymentType", @class = "form-control select2", tabindex = 5 })
            </div>
        </div>
        <div class="col-md-12 box-body">
            <div id="CheqDetails" style="display:none;"></div>
        </div>

        <div class="col-md-12 pull-right">
            <div class="box-body">
                <div class="box-header with-border">
                    <h5 class="box-title">Document Details</h5>
                </div>
                <div id="DocDetails"></div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm textarea", rows = 8 })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remarks", @rows = 2 })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.TermsCondition, new { @class = "form-control", @placeholder = "Terms And Condition", @rows = 2 })
            </div>
            <div class="form-group pull-right">
                <button type="submit" id="save" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
                <button type="submit" id="print" class="btn btn-success">
                    <span class="glyphicon glyphicon-print"></span> Save And Print
                </button>
               
                <input type="hidden" value="@ViewBag.StartDate" class="Start" name="Start" id="Start">
                <input type="hidden" value="@ViewBag.EndDate" class="End" name="End" id="End">
            </div>
        </div>
    </div>
</div>

}
<div id="modal-develop" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-property" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-broker" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="modal-owner" class="modal fade itemscroll" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@{
    var Modelv = "modal-lg";
}

@Html.Partial("_Voucher")
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalEdit", @Modelv)

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/print")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/cheque")
    @Scripts.Render("~/js/property")
    @Scripts.Render("~/js/docexp")
    @Scripts.Render("~/js/Depositcheque")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            startDate: '01-01-2011',
            endDate: '+30d'
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {
            GetBranch();
            GetDeveloper(0);
            GetOwner(0);
            GetPropertyNotRegistered(0);
            GetBroker(0);
            Adddoctypeexp();
            searchBankName();
            searchBankNameDep();


          
        });

        $('body').on('change', '#ddlPaymentType', function (e) {
            var com = $(this).val();
            if (com == "1") {
                $('#CheqDetails').hide();
            } else {
                AddCheq();
                $('#CheqDetails').show();
                searchBankName();
            }

        });
        $('body').on('change', '#PAMeasurement', function (e) {
            var com = $(this).val();
            var PA = $('#PlotArea').val();
            if (PA != "" && com==2) {
                var converted = parseFloat(PA) * 0.0929030;
                $('#PlotArea').val(converted.toFixed(2));
            }
            if (PA != "" && com == 1) {
                var converted = parseFloat(PA) * 10.76391;
                $('#PlotArea').val(converted.toFixed(2));
            }
        });
        $('body').on('change', '#BAMeasurement', function (e) {
            var com = $(this).val();
            var BA = $('#BuildupArea').val();
            if (BA != "" && com == 2) {
                var converted = parseFloat(BA) * 0.0929030;
                $('#BuildupArea').val(converted.toFixed(2));
            }
            if (BA != "" && com == 1) {
                var converted = parseFloat(BA) * 10.76391;
                $('#BuildupArea').val(converted.toFixed(2));
            }
        });
        //submit function
        $('#createForm1').on('submit', function (e) {
            if ($("#createForm1").valid()) {
                e.preventDefault();
                var url = $('#createForm1')[0].action;
                var formData = new FormData(this);

                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                formData.append('fnval', fnval);
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,fnval,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            if (fnval == "save") {
                                window.location.href = '@Url.Action("Create", "PropertyRegistration")';
                            }
                            if (fnval == "print") {
                                Regprint(e); window.location.href = '@Url.Action("Create", "PropertyRegistration")';
                            }

                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }
        });

        /* function for Create popup */
        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');

        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        $('span').on('click', '.modal-develop', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-develop');
        });
        $('#modal-develop').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-develop');
        });

        $('span').on('click', '.modal-property', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-property');
        });
        $('#modal-property').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-property');
        });
        $('span').on('click', '.modal-broker', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-broker');
        });
        $('#modal-broker').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-broker');
        });
        $('span').on('click', '.modal-owner', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-owner');
        });
        $('#modal-owner').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-owner');
        });

        PropertyPopup();

        function Regprint(e) {
            var dat = convertToDate(e.Data.date);
            $("#lblBillNo").text(e.Data.VoucherNo);
            $("#lblDate").text(dat);

            $("#lblproperty").text(e.Data.property);
            $("#lblowner").text(e.Data.owner);
            $("#lbldeveloper").text(e.Data.developer);
            $("#lblbroker").text(e.Data.broker);


            var adcount = 1;
            $.each(e.additionalfield, function (i, item) {

                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td><b>' + item.Field + '</b></td>';
                str += '<td>' + dat + '</td>';
                str += '</tr>';
                adcount++;
                $('#addfield').append(str);
            });


            if (e.ComHeadCheck == 0) {
                $("#ComHeadCheck").hide();
            }
            else {
                $("#ComHeadCheck").show();
            }


            if ($('#hideheader').prop('checked') == true) {
                $('#ComHeadCheck').hide();
                $('#ComfootCheck').hide();
                //$(".invoice.print").css("margin-top", "100px");
                $("#comHeader").css("margin-top", "100px");
            }
            else {
                $('#ComHeadCheck').show();
                $('#ComfootCheck').show();
            }

            var originalpage = document.body.innerHTML;
            var printContent = $('#printit').html();
            $('title').html("Property Registration Voucher - " + e.VoucherNo);
            $('body').html(printContent);
            window.print();
        }

    </script>
}

