
<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    <div class="text-center" id="comHeader">
                        @if (@ViewBag.HeadCheck != 0)
                        {
                            @Html.Partial("../Common/_CompanyHeader")
                        }
                    </div>
                    <div class="text-center">
                        <style type="text/css">
                            body {
                                -webkit-print-color-adjust: exact;
                            }

                            @@media print {
                                td {
                                    -webkit-print-color-adjust: exact;
                                }

                                body {
                                    -webkit-print-color-adjust: exact;
                                }
                            }

                            td {
                                padding: 5px;
                            }

                            tr {
                                page-break-after: auto;
                            }

                            @@media print {
                                body, .print {
                                    border: 0px !important;
                                }

                                body, .print {
                                    border: 1px !important;
                                }

                                .table-bordered td, .table-bordered th {
                                    border: 1px solid #898989 !important;
                                }
                            }

                            body .print {
                                font-size: 12px;
                            }

                            .print .table-nob tr th {
                                width: 40%;
                            }
                        </style>
                        <h4 style="margin-bottom: 1px;">
                            <strong><u><b>Tenancy Contract</b></u></strong>
                        </h4>
                    </div>

                    <h4>

                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                @*<table class="table table-bordered">
                        <tr>
                            <td>
                                <div class="info">

                                </div>
                            </td>
                        </tr>
                    </table>*@

                <table class="table noborder">
                    <tr>
                        <td>
                            <table width="100%" class="table-nob">
                                <tr>
                                    <td colspan="4" style="background-color:chartreuse !important">General Detals</td>
                                </tr>
                                <tr>
                                    <td><span><b>Contract No :</b></span></td>
                                    <td><label id="lblCode"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Issue Date :</b></span></td>
                                    <td><label id="lblissudate"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Start Date :</b></span></td>
                                    <td><label id="lblstartdate"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>End Date :</b></span></td>
                                    <td><label id="lblenddate"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Annual Rent :</b></span></td>
                                    <td><label id="lblrent"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Contract Value :</b></span></td>
                                    <td><label id="lblcontractvalue"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Security Depost :</b></span></td>
                                    <td><label id="lblsecuritydeposit"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Contract  Type:</b></span></td>
                                    <td><label id="lblcontracttype"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Grace Period:</b></span></td>
                                    <td><label id="lblgraceperiod"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Contract Terms:</b></span></td>
                                    <td><label id="contractterm"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Payment Method:</b></span></td>
                                    <td><label id="lblpaymethods"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>No of Payments:</b></span></td>
                                    <td><label id="lblnofopayment"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>No of Occupents:</b></span></td>
                                    <td><label id="noofoccupents"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Water & Electricity Bill :</b></span></td>
                                    <td><label id="lblelectricity"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Pets Allowed :</b></span></td>
                                    <td><label id="lblpets"></label></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="background-color:chartreuse !important"><span><b>First Party(LESSOR) :</b></span></td>

                                </tr>
                                <tr>
                                    <td colspan="4"><span><b>LESSOR DETAILS</b></span></td>

                                </tr>
                                <tr>
                                    <td><span><b>Email</b></span></td>
                                    <td><span><b>Mobile No</b></span></td>
                                    <td><span><b>License No</b></span></td>
                                    <td><span><b>Company Name</b></span></td>

                                </tr>
                                <tr>
                                    <td><span><b><label id="lbllandemail"></label></b></span></td>
                                    <td><span><b><label id="lblphoneno"></label></b></span></td>
                                    <td><span><b><label id="lbllandtrn"></label></b></span></td>
                                    <td><span><b><label id="lbllandcompany"></label></b></span></td>

                                </tr>
                                <tr>
                                    <td colspan="4" style="background-color:chartreuse !important"><span><b>Second Party(Tenant) :</b></span></td>

                                </tr>
                                <tr>
                                    <td colspan="4" style="background-color:chartreuse !important"><span><b>TENANT DETAILS</b></span></td>

                                </tr>
                                <tr>
                                    <td><span><b>Email</b></span></td>
                                    <td><span><b>Mobile No</b></span></td>
                                    <td><span><b>License No</b></span></td>
                                    <td><span><b>Company Name</b></span></td>

                                </tr>
                                <tr>
                                    <td><span><b><label id="Tanantemail"></label></b></span></td>
                                    <td><span><b><label id="Tanantphone"></label></b></span></td>
                                    <td><span><b><label id="Tananttrn"></label></b> </span></td>
                                    <td><span><b><label id="Tanantname"></label></b></span></td>

                                </tr>
                            </table>
                            <br />
                            <div style="page-break-after:always"></div>
                            <table width="100%" class="table-nob">
                                <tr>
                                    <td colspan="4" style="background-color:chartreuse !important">
                                        <span>
                                            <b>Property Details</b>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span><b>Municipality :</b></span></td>
                                    <td><label id="lblmunicipality"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Zone :</b></span></td>
                                    <td><label id="lblzone"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Sector :</b></span></td>
                                    <td><label id="lblsector"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Road Name :</b></span></td>
                                    <td><label id="lblroadname"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Plot No. :</b></span></td>
                                    <td><label id="lblplotno"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Plot Address. :</b></span></td>
                                    <td><label id="lblplotaddress"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Onwani Address. :</b></span></td>
                                    <td><label id="lblCode"></label></td>
                                </tr>

                                <tr>
                                    <td colspan="5" style="background-color:chartreuse !important">Propery Details</td>
                                </tr>
                                <tr>
                                    <td><span><b> Property No. :</b></span></td>
                                    <td><label id="lblprperyno"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b> Property Registration No. :</b></span></td>
                                    <td><label id="lblpropertyregno"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b> Property Name :</b></span></td>
                                    <td><label id="lblproperyname"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b> Property Type :</b></span></td>
                                    <td><label id="lblproperytype"></label></td>
                                </tr>


                                <tr>
                                    <td colspan="5" style="background-color:chartreuse !important"><span><b>Unit Details :</b></span></td>

                                </tr>

                                <tr>
                                    <td><span><b>Permission No</b></span></td>
                                    <td><span><b>No Of Rooms</b></span></td>
                                    <td><span><b>Unit Usage</b></span></td>
                                    <td><span><b>Area</b></span></td>
                                    <td><span><b>Unit </b></span></td>
                                </tr>
                                <tr>
                                    <td><span><b><label id="lblpermissionno"></label></b></span></td>
                                    <td><span><b><label id="lblnoofrooms"></label></b></span></td>
                                    <td><span><b><label id="lblunitusage"></label></b></span></td>
                                    <td><span><b><label id="lblarea"></label></b></span></td>
                                    <td><span><b><label id="lblUnit"></label></b></span></td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="background-color:chartreuse !important"><span><b>CONTRACT DETAILS :</b></span></td>

                                </tr>
                                <tr>
                                    <td><span><b>Email</b></span></td>
                                    <td><span><b>Nationality</b></span></td>
                                    <td><span><b>Emirates ID No</b></span></td>
                                    <td><span><b>FULL NAME</b></span></td>

                                </tr>

                                <tr>
                                    <td><span><b>LandLord :</b></span><label id="lblland"></label></td>
                                    <td><span><b>Property :</b></span><label id="lblproperty"></label></td>
                                </tr>
                                <tr>
                                    <td><span><b>Tenant :</b></span><label id="lblTenant"></label></td>
                                    <td><span><b>Unit :</b></span><label id="lblUnit"></label></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span><b>Additinal occupants :</b></span><label id="lbloccupants"></label></td>
                                </tr>
                                <tr>

                                    <td><span><b>Duration :</b></span><label id="lblDuration"></label></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span><b>Start Date :</b></span><label id="lblStart"></label></td>
                                    <td><span><b>End Date :</b></span><label id="lblEnd"></label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="box-title" style="background-color:chartreuse !important">Rent Details</h4>
                            <table class="table table-nob noborder ">
                                <tr>
                                    <td>Rent Amount : <label id="lblRent"></label></td>
                                    <td>Security Deposit Amount : <label id="lblDeposit"></label></td>
                                </tr>
                                <tr>
                                    <td>Schedule Date : <label id="lblSchedule"></label></td>
                                    <td>Due Date : <label id="lblDue"></label></td>
                                </tr>
                                <tr>
                                    <td>Payment Type : <label id="lblPayment"></label></td>
                                </tr>
                            </table>
                            <h4 id="cheqsec" class="box-title" style="background-color:chartreuse !important">Security Deposit Cheque Details</h4>
                            <table class="table noborder " id="cheqfieldssec">
                                <thead>
                                    <tr>
                                        <th>Cheque No </th>
                                        <th>Amount </th>
                                        <th>Date </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <h4 id="cheq" class="box-title" style="background-color:chartreuse !important">Rent Cheque Details</h4>
                            <table class="table noborder " id="cheqfields">
                                <thead>
                                    <tr>
                                        <th>Cheque No </th>
                                        <th>Amount </th>
                                        <th>Date </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <h4 id="doc" class="box-title" style="background-color:chartreuse !important">Document Details</h4>
                            <table class="table noborder " id="docfields">
                                <thead>
                                    <tr>
                                        <th>Document Type </th>
                                        <th>Expiry Date </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div id="terms"></div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;">
                            Tenent signature
                        </td>
                        <td colspan="3" rowspan="3">
                            Landloard signature


                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>
