@model QuickSoft.ViewModel.TenancyContractViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "TenancyContract";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    @using (Html.BeginForm("Create", "TenancyContract", FormMethod.Post, new { id = "createmainForm1", role = "form" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Tenancy Contract</h3>
            <div class="pull-right">
                @if (@ViewBag.LastEntry != 0)
                {
                    //if (User.IsInRole("Dev") || User.IsInRole("Edit Customer"))
                    //{
                    <a class="btn bg-black no-border" href="/Property/TenancyContract/Edit/@ViewBag.LastEntry">
                        <i class="fa fa-step-backward"></i>
                    </a>
                    //}
                }
                @*@if (User.IsInRole("Dev") || User.IsInRole("Customer"))
                    {*@
                <a class="btn btn-success no-border" href="/Property/TenancyContract">
                    <i class="fa fa-fw fa-history"></i> List
                </a>
                @*}*@
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <input id="Section" name="Section" type="hidden" value="Tenancy Contract" />
        <div class="box-body">
            <div class="box-header with-border"><h5 class="box-title">Contract Details</h5></div>
            <div class="clearfix"></div>
            <div class="col-sm-2 form-group">
                @Html.Label("Contract No", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="form-group  col-md-4">
                @Html.Label("Issue date", null, new { @class = "control-label" }) *
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.issuedate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required", data_msg_required = "The Issue Date field is required" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group  col-md-4">
                @Html.Label("Start Date", null, new { @class = "control-label" }) *
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required", data_msg_required = "The Start Date field is required" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group  col-md-4">
                @Html.Label("End Date", null, new { @class = "control-label" }) *
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off", @required = "required", data_msg_required = "The End Date field is required" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                @Html.Label("Contract Value", null, new { @class = "control-label" }) *
                @Html.TextBoxFor(m => m.contractvalue, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-4 form-group">
                @Html.Label("Duration", null, new { @class = "control-label" }) *
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Duration, (SelectList)ViewBag.Alldata, new { id = "ddlDuration", @class = "form-control select2", @required = "required" })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/Duration/Create" class="modal-develop btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="box-header with-border"><h5 class="box-title">Rent &amp; Payment</h5></div>
            <div class="clearfix"></div>
            <div class="form-group  col-md-4">
                @Html.Label("Annual Rent", null, new { @class = "control-label" })*
                @Html.TextBoxFor(m => m.Rent, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Security Deposit", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control input-sm", tabindex = 7 })
            </div>



            <div class="col-sm-2 form-group">
                @Html.Label("Payment Type", null, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.PaymentType, (SelectList)ViewBag.PaymentTypes, new { id = "ddlPaymentType", @class = "form-control select2", tabindex = 5 })
            </div>

            <div class="col-sm-2 form-group">
                @Html.LabelFor(m => m.Schedule, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Schedule, new { @class = "form-control select2", tabindex = 5 })
            </div>

            <div class="clearfix"></div>
            <div class="box-header with-border"><h5 class="box-title">Occupancy &amp; Utilities</h5></div>
            <div class="clearfix"></div>
            <div class="col-sm-2 form-group">
                @Html.Label("Number of Occupants", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.NumberofOccupants, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Water & Electricity Bill", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.WaterAndElectricityBill, new { @class = "form-control input-sm", tabindex = 7 })
            </div>
            <div class="col-sm-2 form-group">
                @Html.Label("Pets Allowed", null, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PetsAllowed, new { @class = "form-control input-sm", tabindex = 7 })
            </div>





            <div class="clearfix"></div>
            <div class="box-header with-border"><h5 class="box-title">Property &amp; Tenant</h5></div>
            <div class="clearfix"></div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(m => m.Property, new { @class = "control-label" })*
                @Html.DropDownListFor(m => m.Property, (SelectList)ViewBag.Propertys, "", new { id = "ddlProperty", @required = "required", @class = "form-control select2", tabindex = 5 })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(m => m.Tenant, new { @class = "control-label" })*
                @Html.DropDownListFor(m => m.Tenant, (SelectList)ViewBag.Customr, new { id = "ddlCustomer", @class = "form-control select2", @required = "required" })


            </div>
            <div class="col-md-4 form-group">
                @Html.LabelFor(m => m.Unit, new { @class = "control-label" })
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(m => m.Unit, (SelectList)ViewBag.Units, "", new { id = "ddlUnit", @class = "form-control select2", tabindex = 5 })
                    <span class="input-group-btn">
                        <button type="button" href="/Property/Unit/AddUnit" class="modal-unit btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Contract Term", null, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = 2 })
            </div>


        </div>
        <div>
            <div class="box-body" >
                <div class="box-header with-border">
                    <h5 class="box-title">Deposit Details</h5>
                </div>


                <div class="col-sm-2 form-group">
                    @Html.Label("Deposit Payment Type", null, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.PaymentTypeDeposit, (SelectList)ViewBag.PaymentTypes, new { id = "ddlPaymentTypeDeposit", @class = "form-control select2", tabindex = 5 })
                </div>
            </div>
            <div class="box-body">
                <div id="DepCheqDetails" ></div>
            </div>
        </div>
        <div class="box-body" >
            <!--<div class="box-header with-border">
                <h5 class="box-title">Rent Details</h5>
            </div>
            <div class="col-sm-2 form-group">-->
               @* @Html.LabelFor(m => m.Rent, new { @class = "control-label" })*@
                
            <!--</div>-->
          
            <div class="col-sm-2 form-group hidden">
                @Html.Label("Due Date", null, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.DueDate, (SelectList)ViewBag.DueDates, "", new { id = "ddlDueDate", @class = "form-control select2", tabindex = 5 })
            </div>
            
        </div>

        <div class="box-body">
            <div id="CheqDetails" ></div>
        </div>
        <div class="box-body">
            <div class="box-header with-border">
                <h5 class="box-title">Document Details</h5>
            </div>
            <div id="DocDetails"></div>
        </div>


        @*<div class="row">*@
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm textarea", rows = 8 })
            </div>
          
            <div class="form-group">
                @Html.TextAreaFor(model => model.TermsCondition, new { @class = "form-control", @placeholder = "Terms And Condition", @rows = 2 })
            </div>
            <div class="box-footer clearfix text-center">
                <button type="submit" id="save" class="btn btn-success" tabindex="28">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
                <button type="submit" id="print" class="btn btn-success">
                    <span class="glyphicon glyphicon-print"></span> Save And Print
                </button>
                @*<button type="button" class="btn btn-default" tabindex="29" onclick="@("window.location.href='/Property/Property/Index'");">Cancel</button>*@
            </div>
        </div>
    }
    <div id="modal-develop" class="modal fade itemscroll" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="modal-unit" class="modal fade itemscroll" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Voucher")
@Html.Partial("../Common/_ModalCreate")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
    @Styles.Render("~/css/bootstrap-fileinput")
    @Styles.Render("~/css/bootstrap-fileinput-rtl")
}
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/bootstrap-fileinput")
    @Scripts.Render("~/js/cheque")
    @Scripts.Render("~/js/property")
    @Scripts.Render("~/js/docexp")
    @Scripts.Render("~/js/Depositcheque")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
        });
        $(document).ready(function () {
            CallCustomer();
            Adddoctypeexp();
            searchDocType();
            GetPropertywithOwner();

            $('#ddlUnit').select2();
            $('#ddlTenant').select2();
            $('#ddlDuration').select2();
            $('#ddlDueDate').select2();
            GetDuration();
            GetTenant();
        });

        $('body').on('change', '#ddlPaymentType', function (e) {
            var com = $(this).val();
            if (com == "1") {
                $('#CheqDetails').hide();
            } else {
                AddCheq();
                $('#CheqDetails').show();
                searchBankName();
            }

        });


        $('body').on('change', '#ddlPaymentTypeDeposit', function (e) {
            var com = $(this).val();
            if (com == "1" || com == "3") {
                $('#DepCheqDetails').hide();
                $(".depSet").remove();
            } else {
                AddDepCheq();
                $('#DepCheqDetails').show();
                searchBankNameDep();
            }
        });

        //$("#ddlDocumentType").select2({
        //    placeholder: 'Search Document Type',
        //    minimumInputLength: 0,
        //    ajax: {
        //        url: "/Property/DocumentType/SearchDocumentType",
        //        dataType: 'json',
        //        delay: 50,
        //        data: function (params) {
        //            return {
        //                q: params.term || "",
        //                page: params.page || 0,
        //                x: "in"
        //            };
        //        },
        //        processResults: function (data, params) {
        //            params.page = params.page || 1;
        //            return {
        //                results: data
        //            };
        //        },
        //        cache: true
        //    },
        //});
        //submit function
        $('#createmainForm1').on('submit', function (e) {

            if ($("#createmainForm1").valid()) {
                e.preventDefault();
                var url = $('#createmainForm1')[0].action;
                var formData = new FormData(this);
                var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
                formData.append('fnval', fnval);
                //var imgUpload = $("#ItemImage").get(0);
                //var imgFiles = imgUpload.files;
                //if (imgFiles[0] != null) {
                //    formData.append(imgFiles[0].name, imgFiles[0]);
                //}
                //var docUpload = $("#ItemDocument").get(0);
                //var docFiles = docUpload.files;
                //if (docFiles[0] != null) {
                //    formData.append(docFiles[0].name, docFiles[0]);
                //}
                $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: url,
                    data: formData,//$('#createlandlordForm').serialize(), //formData,//JSON.stringify(parameters),
                    beforeSend: function () {
                        $("button").prop('disabled', true); // disable button
                    },
                    success: function (e) {
                        if (e.status) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                            if (fnval == "save") {
                                location.reload();
                            }
                            if (fnval == "print") {
                                Tenprint(e); window.location.href = '@Url.Action("Create", "TenancyContract")';
                            }

                        }
                        else {
                            $('.ajax_response', res_danger).text(e.message);
                            $('.AlertDiv').prepend(res_danger);
                            $("button").prop('disabled', false); // enable button
                        }
                    }
                });
            }

        });

        /* function for Create popup */

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });

        $('span').on('click', '.modal-develop', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-develop');
        });
        $('#modal-develop').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-develop');
        });
        $('span').on('click', '.modal-unit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-unit');
        });
        $('#modal-unit').on('submit', '#createmainForm', function (e) {
            e.preventDefault();
            var url = $('#createmainForm')[0].action;
            var data = $('#createmainForm').serialize();
            createajax(url, data, '#modal-unit');
        });
        $('body').on('change', '#EndDate', function () {
         //   var dat = $(this).val();
          //  $("#DocDetails").html(""); //document.getElementById(DocDetails).innerHTML = "";
           
        });

        function Tenprint(e) {
            var dat = convertToDate(e.Data.date);
            $("#terms").html(e.Data.TnC);
            if (e.Data.issuedate != null) {
                var issuedt = convertToDate(e.Data.issuedate);
                $("#lblissudate").text(issuedt);
            }
            if (e.Data.StartDate != null) {
                var issuedt = convertToDate(e.Data.StartDate);
                $("#lblstartdate").text(issuedt);
            }
            if (e.Data.EndDate != null) {
                var issuedt = convertToDate(e.Data.EndDate);
                $("#lblenddate").text(issuedt);
            }
            $("#lblCode").text(e.Data.Code);
            $("#lblrent").text(e.Data.Rent);
            $("#lblcontractvalue").text(e.Data.contractvalue);
            $("#lblsecuritydeposit").text(e.Data.Deposit);
            var sched = (e.Data.Schedule == 0) ? "Monthly" : (e.Data.Schedule == 1) ? "3 Payment" : (e.Data.Schedule == 2) ? "2 Payment" : (e.Data.Schedule == 3) ? "Single Payment" : (e.Data.Schedule == 4) ? "Six Payment" : "Four Payment"

            $("#lblcontracttype").text(sched);
            $("#contractterm").text(e.Data.Remark);
            $("#lblpaymethods").text(e.Data.PaymentType);
            $("#lblDate").text(dat);
            $("#lblnofopayment").text(e.Data.Duration);
            $("#noofoccupents").text(e.Data.NumberofOccupants);
            $("#lblelectricyt").text(e.Data.WaterAndElectricityBill);
            $("#lblpets").text(e.Data.PetsAllowed);
              if(e.Data.lcontacts!=null)
            {
            $("#lbllandemail").text(e.Data.lcontacts.EmailId);
            $("#lblphoneno").text(e.Data.lcontacts.Phone);
            }
          
            $("#lbllandtrn").text(e.Data.landtrn);
            $("#lbllandcompany").text(e.Data.landlord);
            $("#Tanantname").text(e.Data.Tanant);
            if (e.Data.cuscontacts != null) {
                $("#Tanantemail").text(e.Data.cuscontacts.EmailId);
                $("#Tanantphone").text(e.Data.cuscontacts.Phone);
            }
            //$("#Tananttrn").text(e.Data.Tanant);
            $("#lblmunicipality").text(e.Data.Municipality);
            $("#lblzone").text(e.Data.Zone);
            $("#lblsector").text(e.Data.Sector);
            $("#lblroadname").text(e.Data.RoadName);
            $("#lblplotno").text(e.Data.PlotNo);
            $("#lblplotaddress").text(e.Data.PlotAddress);
            $("#lblprperyno").text(e.Data.prono);
            $("#lblpropertyregno").text(e.Data.PropertyRegistrationNo);
            $("#lblproperyname").text(e.Data.Property);
            $("#lblproperytype").text(e.Data.prtype);
            $("#lblproperty").text(e.Data.Property);
            $("#lblTenant").text(e.Data.Tanant);


            $("#lblpermissionno").text(e.Data.per);
            $("#lblnoofrooms").text(e.Data.NoofRooms);
            $("#lblunitusage").text(e.Data.unitsus);
            $("#lblarea").text(e.Data.ara);
            $("#lblunitno").text(e.Data.ucode);
            $("#lblUnit").text(e.Data.Unit);
            $("#lblStart").text(convertToDate(e.Data.StartDate));
            $("#lblEnd").text(convertToDate(e.Data.EndDate));
            $("#lblDuration").text(e.Data.Duration);
            $("#lblland").text(e.Data.landlord);
            $("#lblRent").text(e.Data.Rent);
            $("#lblDeposit").text(e.Data.Deposit);
            var due = "";
            if (e.Data.DueDate == 1 || e.Data.DueDate == 21 || e.Data.DueDate == 31) {
                due = e.Data.DueDate + "st of Month";
            } else if (e.Data.DueDate == 2 || e.Data.DueDate == 22) {
                due = e.Data.DueDate + "nd of Month";
            } else {
                due = e.Data.DueDate + "th of Month";
            }
            $("#lblDue").text(due);
            $("#lblSchedule").text(sched);

            $("#lbloccupants").text(e.Data.Note);


            var adcount = 1;
            $.each(e.cheque, function (i, item) {
                var expdat = item.Date;
                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.chequeno + '</td>';
                str += '<td>' + item.Amount + '</td>';
                str += '<td>' + convertToDate(expdat) + '</td>';
                str += '</tr>';
                adcount++;
                $('#cheqfields').append(str);
            });
            $.each(e.seccheque, function (i, item) {
                var expdat = item.Date;
                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.chequeno + '</td>';
                str += '<td>' + item.Amount + '</td>';
                str += '<td>' + convertToDate(expdat) + '</td>';
                str += '</tr>';
                adcount++;
                $('#cheqfieldssec').append(str);
            });
            var dcount = 1;
            $.each(e.docs, function (i, item) {

                var dat = ((item.data != null) ? item.data : "");
                var str = '<tr>';
                str += '<td>' + item.Name + '</td>';
                str += '<td>' + convertToDate(item.ExpDate) + '</td>';
                str += '</tr>';
                dcount++;
                $('#docfields').append(str);
            });
            if (dcount == 1) {
                $("#doc").hide();
                $("#docfields").hide();
            }
            else {
                $("#doc").show();
                $("#docfields").show();
            }
            if (adcount == 1) {
                $("#cheqs").hide();
                $("#cheqfields").hide();
            }
            else {
                $("#cheqs").show();
                $("#cheqfields").show();
            }
            if (e.ComHeadCheck == 0) {
                $("#ComHeadCheck").hide();
            }
            else {
                $("#ComHeadCheck").show();
            }


            if ($('#hideheader').prop('checked') == true) {
                $('#ComHeadCheck').hide();
                $('#ComfootCheck').hide();
                //$(".invoice.print").css("margin-top", "100px");
                $("#comHeader").css("margin-top", "100px");
            }
            else {
                $('#ComHeadCheck').show();
                $('#ComfootCheck').show();
            }

            var originalpage = document.body.innerHTML;
            var printContent = $('#printit').html();
            $('title').html("Tenancy Contract Voucher - " + e.Data.Code);
            $('body').html(printContent);
            window.print();
        }

    </script>
}

