@{
    ViewBag.Title = "Search Monthly Purchase";
    ViewBag.SubTitle = "Monthly Purchase Report";
    ViewBag.Active = "Reports";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Monthly Purchase</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ViewMonthlyPurchase", "PurchaseReport", FormMethod.Post, new { id = "monthlyform" }))
        {
            <div class="row">
                @if (@ViewBag.EnableMCcheck == 0)
                {
                <div class="form-group col-md-4">
                    @Html.Label("Material Center", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                </div>
                }
                <div class="form-group col-md-4">
                    @Html.Label("From", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("From", "", "{0:MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("To", null, new { @class = "control-label" })
                    <div class="input-group date">
                        @Html.TextBox("To", "", "{0:MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" tabindex="27" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")


    <script type="text/javascript">
            $('.date').datepicker({
                format: 'MM-yyyy',
                startView: "months",
                minViewMode: "months",
                autoclose: true,
                allowInputToggle: true
            })

            //$('#From').datepicker({
            //    endDate: datetd,
            //    format: 'MM-yyyy',
            //    startView: "months",
            //    minViewMode: "months",
            //    autoclose: true,
            //    allowInputToggle: true
            //});
            //$('#To').datepicker({
            //    endDate: datetd,
            //    format: 'MM-yyyy',
            //    startView: "months",
            //    minViewMode: "months",
            //    autoclose: true,
            //    allowInputToggle: true
            //});
            //var datetd = new Date();
            //datetd.setMonth(datetd.getMonth());
            //$('.date').datepicker({
            //    endDate: datetd,
            //    format: 'MM-yyyy',
            //    startView: "months",
            //    minViewMode: "months",
            //    autoclose: true,
            //    allowInputToggle: true
            //});
            //var ndate = $(".date").val();
            //if (ndate != "") {
            //    $('#From').datepicker("setStartMonth", ndate);
            //    $('#To').datepicker("setStartMonth", ndate);
            //} else {
            //    var datenew = new Date();
            //    datenew.setMonth(datenew.getMonth());
            //}

            $(document).ready(function () {

                $('#From').datepicker({
                    format: 'MM-yyyy',
                    startView: "months",
                    minViewMode: "months",
                    autoclose: true,
                    allowInputToggle: true
                });
                $('#To').datepicker({
                    format: 'MM-yyyy',
                    startView: "months",
                    minViewMode: "months",
                    autoclose: true,
                    allowInputToggle: true
                });
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth());
                var priordate = new Date(date.getFullYear(), date.getMonth() - 1);
                $('#To').datepicker('setDate', today);
                $('#From').datepicker('setDate', priordate);

                CallRepMCUser();
            });        

    </script>
}
