@model QuickSoft.ViewModel.PrefixMasterViewModel    
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Add Prefix</h4>

</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "PrefixMaster", FormMethod.Post, new { id = "createform" }))
            {
        <script type="text/javascript">
            $('form#popupFormcreateform').removeData("validator");
            $('form#popupFormcreateform').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormcreateform'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })       
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.Label("Prefix Code", null, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.PrefixCode, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus", @required = "required" } })

                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Last Number", null, new { @class = "control-label" })
                    @Html.EditorFor(model => model.LastNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control input-sm", autofocus = "autofocus" } })

                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" }) *
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus" } })

                </div>
                <div class="form-group col-sm-4">
                    @Html.Label("Currency", null, new { @class = "control-label" }) 
                    @Html.DropDownListFor(model => model.Currency, (SelectList)ViewBag.Crc, new { id = "ddlCurrency", @class = "form-control select2" })
                   
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Conversion Rate", null, new { @class = "control-label" }) 
                    @Html.EditorFor(model => model.ConRate, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus"} })
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("CC Code", null, new { @class = "control-label" })
                    @Html.EditorFor(model => model.CCCode, new { htmlAttributes = new { @class = "form-control input-sm", autofocus = "autofocus"} })
                </div>

                <div class="form-group col-sm-4">
                    @Html.Label("Category", null, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.ItemCategory, new { id = "ddlItemCategory", @class = "form-control select2" })                    
                </div>

                <div class="form-group col-sm-4">
                    @Html.Label("Brand", null, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Brand, (SelectList)ViewBag.ItemBrand, new { id = "ddlItemBrand", @class = "form-control select2" })                    
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Type", null, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control input-sm" } })
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Country", null, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control input-sm" } })
                </div>

                @if (@ViewBag.BranchCheck == 0)
                {
                    <div class="form-group col-sm-4">
                        @Html.Label("Branch", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Branch, (SelectList)ViewBag.SetBranch, new { id = "ddlBranch", @class = "form-control select2" })
                    </div>
                }

                <div class="form-group col-md-4">
                    @Html.Label("Status", null, new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="submit" value="Save" class="btn btn-info col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                    </div>
                </div>
            </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}