@model QuickSoft.ViewModel.PayheadViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Payhead</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "Payhead", FormMethod.Post, new { id = "createform" }))
            {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger AlertDiv" })
        <div class="box-body">
            <div class="row">
                    <h5 class="box-title"><b>Pay Head Creation</b></h5>
                    <div class="row">
                        <div class="form-group col-md-2">
                            @Html.Label("Name", null, new { @class = "control-label col-sm-4" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                    </div>
                    <h5><b>Pay Head Information</b></h5>
                    <div class="form-group col-md-2">
                        @Html.Label("Payhead Type", null, new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Income Type", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.IncomeType, (SelectList)ViewBag.IncType, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Under", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.Accountgroup, (SelectList)ViewBag.Grp, "--select--", new { @required = "required", @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Affect net salary", null, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.affectnetsalary, (SelectList)ViewBag.NetSalary, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Name in Payslip", null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.NameinSlip, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Calculation Type", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.CalculationType, "", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2 select2-box" id="AtType">
                        @Html.Label("Attendance/Leave with pay", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.AttendanceType, (SelectList)ViewBag.AttType, "Not Applicable", new { @class = "form-control select2 input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="leavpay">
                        @Html.Label("Leave without pay", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.Leave, (SelectList)ViewBag.LeaveType, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="Calper">
                        @Html.Label("Calculation Period", null, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(m => m.CalculationPeriod, (SelectList)ViewBag.CalPeriod, "--select--", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="basiscalc">
                        @Html.Label("Basis of Calculation", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.CalculationBasis, "", new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-md-2" id="divday">
                        @Html.Label("Days in Month", null, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.days, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="box-body" id="comptable">
                        <h5 class="box-title"><b>Computation Information</b></h5>
                        <div class="form-group col-md-2" id="comp">
                            @Html.Label("Compute", null, htmlAttributes: new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.Compute, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-2" id="Specformula">
                            @Html.Label("Specified formula", null, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownListFor(m => m.Specifiedformula, (SelectList)ViewBag.formula, new { @class = "form-control input-sm" })
                        </div>
                        <table class="table table-bordered table-hover" id="ComputeTable">
                            <thead>
                                <tr>
                                    <td data-priority="1">#</td>
                                    <td data-priority="2">Effective from</td>
                                    <td data-priority="2">Amount Greater than</td>
                                    <td data-priority="2">Amount Upto</td>
                                    <td data-priority="5">Slab Type</td>
                                    <td data-priority="5">Value</td>
                                </tr>
                            </thead>
                            <tbody id="addcomputetable"></tbody>
                        </table>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal"/>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //$('.date').datepicker({
            //    format: 'dd-mm-yyyy',
            //    autoclose: true,
            //    allowInputToggle: true,
            //});
            //jQuery.validator.methods["date"] = function (value, element) { return true; }

            $('#AtType').hide();
            $('#leavpay').hide();
            $('#basiscalc').hide();
            $('#Calper').hide();
            $('#divday').hide();
            addpayhead('addcomputetable', 'create', '', '0', '0', '', '');
            $('#comptable').hide();
            $("#Type").select2();
            $("#IncomeType").select2();
            $("#Accountgroup").select2();
            $("#affectnetsalary").select2();
            $("#CalculationType").select2();
            $("#AttendanceType").select2();

            $("#Accountgroup").select2({
                placeholder: 'Search Account By Code or name',
                minimumInputLength: 0,
                ajax: {
                    url: "/Master/GroupAccounts",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "empty"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });

            $('body').on('change', '#CalculationType', function (e) {
                var caltype = $(this).val();
                if (caltype == "2") {
                    $('#Calper').hide();
                    $('#AtType').show();
                    $('#comptable').hide();
                }
                else if (caltype == "1") {
                    $('#Calper').show();
                    $('#comptable').show();
                    $('#Specformula').hide();
                }
                else {
                    $('#comptable').hide();
                    $('#addcomputetable').html('');
                }
            });


            $('body').on('change', '#AttendanceType', function (e) {
                var caltype = $(this).val();
                if (caltype == "Present") {
                    $('#leavpay').hide();
                    $('#Calper').show();
                }
                else {
                    $('#leavpay').show();
                    $('#Calper').hide();
                }
            });

            $('body').on('change', '#Leave', function (e) {
                var Leave = $(this).val();
                if (Leave == "Absent") {
                    $('#Calper').show();
                }
                else {
                    $('#Calper').hide();
                }
            });

            $('body').on('change', '#CalculationPeriod', function (e) {
                var period = $('#CalculationPeriod').val();
                if (period == "Months") {
                    $('#basiscalc').show();
                } else {
                    $('#basiscalc').hide();
                }
            });

            $('body').on('change', '#Compute', function (e) {
                var com = $(this).val();
                if (com == "3") {
                    $('#Specformula').show();
                } else {
                    $('#Specformula').hide();
                }

            });

            $('body').on('change', '#CalculationBasis', function (e) {
                var com = $(this).val();
                if (com != "1") {
                    $('#divday').hide();
                } else {
                    $('#divday').show();
                }

            });


            //table section
            var count = 1, type = '';
            limits = 500;
            function addpayhead(t, action, Effectivefrom, Amountgreatethan, Amountupto, Slabtype, value) {
                if (count == limits) alert("You have reached the limit of adding " + count + " inputs");
                else {
                    var data = "";
                    var Type = "";
                    var Option = "";
                    var readonly = "";
                    var row = "<tr class='item_' id='item_" + count + "'>";
                    var slno = $('#addcomputetable tr').length + 1;
                    var Item = "Item_" + count;
                    var a = "item_name" + count,
                    tabindex = count * 4;
                    tab1 = tabindex + 1;
                    tab2 = tabindex + 2;
                    tab3 = tabindex + 3;
                    tab4 = tabindex + 4;
                    tab5 = tabindex + 5;
                    //var Option = "<option value='" + 1 + "'>" + "Percentage" + "</option>";
                    //Option = "<option value='" + 2 + "'>" + "Value" + "</option>";
                    if (Item != null) {
                        row = "<tr class='item_" + Effectivefrom + "' id='item_" + count + "'>";
                    }
                    if (count == 1) {
                        required = 'required="required"';
                    }
                    if (action != '') {
                        type = action;
                    }
                    //createslab(count);
                    Effectivefrom = Effectivefrom != "" ? convertToDate(Effectivefrom) : "";

                    var Option = "<option value='" + 0 + "'>" + "" + "</option>" + "<option value='" + 1 + "'>" + "Percentage" + "</option>" +
                    "<option value='" + 2 + "'>" + "Value" + "</option>";

                    data = "<td class='text-center'> " + slno + " </td>" +
                           "<td><input type='text' data-name='effectivefrom' name='compinfo[" + (count - 1) + "].Effectivefrom' onchange='addrow(this," + count + ")' id='effectivefrom_" + count + "'  class='effectivefrom_" + count + " form-control text-center date' tabindex='" + tab1 + "' value='" + Effectivefrom + "' /></td>" +
                           "<td><input type='number' data-name='amountgreatethan' name='compinfo[" + (count - 1) + "].Amountgreatethan'  id='amountgreatethan_" + count + "' value='" + Amountgreatethan + "'  class='amountgreatethan_" + count + " form-control text-right' placeholder='0' value='0'  tabindex='" + tab2 + "'/></td>" +
                           "<td><input type='number' data-name='amountupto' name='compinfo[" + (count - 1) + "].Amountupto'  id='amountupto_" + count + "' value='" + Amountupto + "'  class='amountupto_" + count + " form-control text-right' placeholder='0' value='0'  tabindex='" + tab3 + "'/></td>" +
                           "<td><select data-name='slabtype' name='compinfo[" + (count - 1) + "].Slabtype' class='form-control' data-id='" + count + "'  id='slabtype_" + count + "' >" + Option + "</select></td>" +
                           "<td> <input type='number' name='compinfo[" + (count - 1) + "].value' onchange='valuechange(" + count + ")' data-name='value' name='value' id='value_" + count + "' value='" + value + "'  class='value_" + count + " form-control text-right' placeholder='Enter value' tabindex='" + tab5 + "'/></td>" +
                    "<td class='text-center'><button tabindex='" + tab4 + "' style='text-align: right;' class='btn btn-danger' type='button' value='Delete' onclick='deleteRow(this)'><i class='fa fa-trash fa-1x'></i></button></td>";
                    row += data + "</tr>";              //onchange='Getslab(this," + count + ")'

                    $('#' + t).append(row);

                    $('.date').datepicker({
                        format: 'dd-mm-yyyy',
                        autoclose: true,
                        allowInputToggle: true
                    });
                    jQuery.validator.methods["date"] = function (value, element) { return true; }

                    count++;
                    setTabIndex();
                }
            }
            function addrow(object, arg) {

                if ($('#addcomputetable tr').length == arg) {
                    $(object).closest('tr').attr('class', "item_" + arg);
                    addpayhead('addcomputetable', 'create', '', '0', '0', '', '');
                }
            }
            function setTabIndex() {
                var j = 1;
                $('body').find('input,textarea,select,button, .select2-container .select2-selection__rendered').not(".select2-hidden-accessible").not(":hidden").each(function (i) {
                    if (!$(this).hasClass("select2-hidden-accessible") && !$(this).is(":hidden")) {
                        $(this).attr('tabindex', j);
                        j++;
                    }
                    if ($(this).closest("tr").hasClass("item_") && !$(this).hasClass("select2-selection__rendered")) {
                        $(this).attr('tabindex', -1);
                    }
                });
            }
            function deleteRow(t) {
                var classname = $(t).closest('tr').attr('class');
                if (classname == 'item_') alert("Sorry You Can't Delete This Row.");
                else {
                    var r = confirm("Are you sure you want to delete this..?");
                    if (r == true) {
                        var e = t.parentNode.parentNode;
                        e.parentNode.removeChild(e);
                    }
                }
                var i = 1;
                $('#addcomputetable tr').each(function () {
                    $(this).find('td:first').text(i);
                    i++;
                });
            }
            function valuechange(arg) {
                var tbody = $("#ComputeTable tbody");
                if (tbody.children().length > 1) {

                    tbody.children("tr").each(function () {
                        var rowid = $(this).attr("id");
                        var value = $("#value_" + arg).val();
                        var slab = $("#slabtype_" + arg).val();
                        var amount = $("#amountupto_" + arg).val();
                        if (slab == 1) {
                            var nxtrow = parseInt(arg) + 1;
                            var cal = parseFloat(amount) + (parseFloat(amount) * parseFloat(value) / 100);
                            $("#amountgreatethan_" + nxtrow).val(cal);
                        } else if (slab == 2) {
                            var nxtrow = parseInt(arg) + 1;
                            var cal = parseFloat(amount) + parseFloat(value);
                            $("#amountgreatethan_" + nxtrow).val(cal);
                        }
                    });
                }
            }
        </script>
    }
</div>