@model QuickSoft.ViewModel.userResetPwdModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Reset User Password</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("ResetUserPassword", "Users", FormMethod.Post, new { role = "form", id = "popupFormResetPassword" }))
    {
        <script type="text/javascript">
            $('form#popupForm').removeData("validator");
            $('form#popupForm').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupForm'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.Email)
        <div class="row">
            <div class="form-group col-md-12">
                @Html.Label("Email :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Email)
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Password", null, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Confirm Password", null, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
