@model QuickSoft.Models.Attendance
@{
    ViewBag.Title = "Attendance List";
    ViewBag.SubTitle = "Attendance";
    ViewBag.Active = "Payroll";
    string actData = "";
    string delchk = "";
    bool userRole = false;
    string deleteBTn = "";
    if (User.IsInRole("Dev") || User.IsInRole("Delete Attendance"))
    {
        userRole = true;
        deleteBTn = "{text: 'Delete', className: 'btn-danger', action: function(e, dt, node, config) {" +
              "if ($('.checkbox:checked').length > 0) {if (confirm('Are you sure you want to delete this?')) {$('#payform').submit(); e.preventDefault();} " +
               "} else {alert('Please Select Rows..!!');e.preventDefault();}}},";
    }
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Attendance</h3>
        <div class="pull-right">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            @*@if (User.IsInRole("Dev") || User.IsInRole("Create Attendance"))
            {*@
                <a class="btn btn-info no-border" href="/Hr/Attendance/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create
                </a>
            @*}*@
        </div>
    </div>
    @using (Html.BeginForm("DeleteAll", "Attendance", FormMethod.Post, new { id = "payform", role = "form" }))
    {
        <div class="box-body">
            <table class="table table-bordered table-hover" id="AttTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="2">S/N</td>
                        <td data-priority="1">Voucher No</td>
                        <td data-priority="2">Date</td>
                        <td data-priority="5">Created By</td>
                        <td data-priority="1">Action</td>
                        <td data-priority="2"><input type="checkbox" id="select_all" /></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    }
</div>
@Html.Partial("../Common/_ModalCreate")
@Html.Partial("../Common/_ModalDelete")
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });

        var oTable = $('#AttTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            responsive: true,
            "ajax": {
                "url": '/Hr/Attendance/GetAttendance',
                "type": "POST",
                "datatype": "json"
            },
            "order": [[0, "desc"]],
            "columnDefs": [{
                "targets": [4,5],
                "orderable": false
            }],
            "columns": [
                     {
                         "data": "AttendanceId", "name": "AttendanceId",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                { "data": "VoucherNo", "name": "VoucherNo" },
                {
                    "data": "AtDate", "name": "AtDate",
                    "render": function (data) {
                        var date = convertToDate(data);
                        return date.toString();
                    }
                },
                { "data": "UserName", "name": "UserName" },
                    {
                        "name": "AttendanceId", "data": function (data) {
                            var rest = "";
                            @{
                               // if (User.IsInRole("Dev") || User.IsInRole("Edit Attendance"))
                               // {
                                    actData += "<a href=\"/Hr/Attendance/Edit/'+ data.AttendanceId +'\" title=\"Edit Attendance\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                               // }
                               // if (User.IsInRole("Dev") || User.IsInRole("Delete Attendance"))
                               // {
                                    actData += "<a class=\"modal-delete\" href=\"/Hr/Attendance/Delete/'+ data.AttendanceId +'\" title=\"Delete Attendance\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                               // }
                            }
                            return rest = '@Html.Raw(actData)';
                        }
                    },
                     {
                         "name": "AttendanceId", "data": function (data) {
                             var rest = "";
                             @{
                                 if (User.IsInRole("Dev") || User.IsInRole("Delete Attendance"))
                                 {
                                     delchk = "<input class=\"checkbox\" type=\"checkbox\" name=\"bill[]\" value='+ data.AttendanceId +'></input>";
                                 }
                             }
                             return rest = '@Html.Raw(delchk)';
                         }
                     },


            ],

            dom: 'Bfrtip',
            buttons: ['colvis',
             {
                 extend: 'print',//
                 title: "",
                 footer: true,
                 exportOptions: {
                     columns: ':visible'
                 },
                 message: '<table class="tblcompact table table-bordered"><thead>' +
                     ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + '<h4>Attendance </h4></th></tr>' +
                     ' <tr><th><span class="text-left"></span><span class="text-right pull-right"> </span></th></tr></thead><tbody><tr><td>',
                 customize: function (win) {
                     // $(win.document.body)
                     //.css('font-size', '10pt')
                     //.css('padding', '1px');
                     $(win.document.body).find('table, th,tr, td ')
                        // .css('border', 'inherit')
                         .css('font-size', '10pt')
                         .css('padding', '5px')
                         .addClass('compact');
                     $(win.document.body).append('</td></tr></tbody>')

                 }
             }, 'copy', 'csv', 'excel',
            {
                extend: 'pdf',//
                title: "Items",
                footer: true,
                orientation: 'landscape',

                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
                customize: function (doc) {
                    doc.pageMargins = [10, 10, 10, 10];
                    doc.defaultStyle.fontSize = 10;
                    doc.styles.tableHeader.fontSize = 10;
                    doc.styles.title.fontSize = 12;
                    // Remove spaces around page title
                    doc.content[0].text = doc.content[0].text.trim();

                    doc.styles['td:nth-child(2)'] = {
                        width: '100%',
                        'max-width': '100%'
                    }

                    var objLayout = {};
                    // Horizontal line thickness
                    objLayout['hLineWidth'] = function (i) { return .5; };
                    // Vertikal line thickness
                    objLayout['vLineWidth'] = function (i) { return .5; };
                    //// Horizontal line color
                    //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                    //// Vertical line color
                    //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                    // Left padding of the cell
                    objLayout['paddingLeft'] = function (i) { return 4; };
                    // Right padding of the cell
                    objLayout['paddingRight'] = function (i) { return 4; };
                    // Inject the object in the document
                    doc.content[1].layout = objLayout;
                }
            },
                @Html.Raw(deleteBTn)
            ],

            "drawCallback": function (settings) {
            }
        });
        var chkcol = '@userRole';
        if (chkcol == "True") {
            var column1 = oTable.column(5);
            column1.visible(true);
            $('.dt-button.btn-danger').show();
        } else {
            var column1 = oTable.column(5);
            column1.visible(false);
            $('.dt-button.btn-danger').hide();
        }


        /* function for view detail popup */
        $('#AttTable').on('click', 'a.details', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        })

        /* function for Create popup */

        $('div').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
            //datepickerInit();
        });
        $('#modal-create').on('submit', '#createform', function (e) {
            e.preventDefault();
            var url = $('#createform')[0].action;
            var data = $('#createform').serialize();
            createajax(url, data, '#modal-create');
        });


        /* function for Edit popup */

        $('div').on('click', '.modal-edit', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-edit');
        });
        $('#modal-edit').on('submit', '#editform', function (e) {
            e.preventDefault();
            var url = $('#editform')[0].action;
            var data = $('#editform').serialize();
            createajax(url, data, '#modal-edit');
        });

        /* function for delete popup */
        $('#AttTable').on('click', '.modal-delete', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-delete');
        });
        $('#modal-delete').on('submit', '#deleteform', function (e) {
            e.preventDefault();
            var url = $('#deleteform')[0].action;
            var data = $('#deleteform').serialize();
            createajax(url, data, '#modal-delete');
        });

        function reload_table() {
            oTable.clear().draw();
            oTable.ajax.reload(null, false); //reload datatable ajax
            isTicked();
        }
        //select all checkboxes
        $('body').on('change', '#select_all', function () {
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });
        //".checkbox" change
        $('body').on('change', '.checkbox', function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            isTicked();
        });
        isTicked();
    </script>
}