@{
    ViewBag.Title = "Cash/Credit Purchase Summary";
    ViewBag.SubTitle = "Purchase Report";
    ViewBag.Active = "Reports";
    }
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Cash/Credit Purchase Summary</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("CashOrCredit", "PurchaseReport", FormMethod.Post, new { id = "fileupload" }))
        {
            if (@ViewBag.EnableMCcheck == 0)
            {
                <div class="form-group col-md-4">
                    @Html.Label("Material Center", null, new { @class = "control-label" })
                    @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @required = "required", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-4">From</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>*@
            @*<div class="form-group">
                <label class="control-label col-md-4">To</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);

            CallRepMCUser();
        });
    </script>
}