@using System.Linq
@model QuickSoft.ViewModel.MonthWiseSaleReportViewModel
@{
    ViewBag.Title = "Month Wise Purchase";
    ViewBag.SubTitle = "Purchase Repoprts";
    ViewBag.Active = "Reports";
    var sn = 1;
}
<div class="box box-default" id="SReport">
    <div class="box-header with-border">
        <h3 class="box-title">View Month Wise Purchase</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <table class="display table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <th>S/N</th>
                        <th></th>
                        <th>Year</th>
                        <th class="headeralign">Jan</th>
                        <th class="headeralign">Feb</th>
                        <th class="headeralign">Mar</th>
                        <th class="headeralign">Apr</th>
                        <th class="headeralign">May</th>
                        <th class="headeralign">Jun</th>
                        <th class="headeralign">July</th>
                        <th class="headeralign">Aug</th>
                        <th class="headeralign">Sep</th>
                        <th class="headeralign">Oct</th>
                        <th class="headeralign">Nov</th>
                        <th class="headeralign">Dec</th>
                        <th class="headeralign">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.saleCount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Total Purchase</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.saleCount.Any())
                    {
                        <tr>
                            <th>Total Purchase</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }
                    @foreach (var item in Model.taxableAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Taxable Purchase Amount</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.taxableAmount.Any())
                    {
                        <tr>
                            <th>Taxable Purchase Amount</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }
                    @foreach (var item in Model.taxAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th> Purchase Tax</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.taxAmount.Any())
                    {
                        <tr>
                            <th> Purchase Tax</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                    @foreach (var item in Model.saleAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Total Purchase Amount</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.saleAmount.Any())
                    {
                        <tr>
                            <th>Total Purchase Amount</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }


                    @foreach (var item in Model.saleRetCount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Total Purchase Return</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.saleRetCount.Any())
                    {
                        <tr>
                            <th>Total Purchase Return</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                    @foreach (var item in Model.taxableRetAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Taxable Purchase Return Amount</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.taxableRetAmount.Any())
                    {
                        <tr>
                            <th>Taxable Purchase Return Amount</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                    @foreach (var item in Model.taxRetAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Purchase Return Tax</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.taxRetAmount.Any())
                    {
                        <tr>
                            <th>Purchase Return Tax</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                    @foreach (var item in Model.saleRetAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th>@sn</th>
                            <th>Total Purchase Return Amount</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                        sn++;
                    }
                    @if (!Model.saleRetAmount.Any())
                    {
                        <tr>
                            <th>Total Purchase Return Amount</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }


                    @foreach (var item in Model.netAmount)
                    {
                        var sum = (item.January ?? 0) + (item.February ?? 0) + (item.March ?? 0) + (item.April ?? 0) + (item.May ?? 0) + (item.June ?? 0) + (item.July ?? 0) + (item.August ?? 0) + (item.September ?? 0) + (item.October ?? 0) + (item.November ?? 0) + (item.December ?? 0);

                        <tr>
                            <th></th>
                            <th>Net Purchase Amount</th>
                            <td>@Html.DisplayFor(m => item.Year)</td>
                            <td>@Html.DisplayFor(m => item.January)</td>
                            <td>@Html.DisplayFor(m => item.February)</td>
                            <td>@Html.DisplayFor(m => item.March)</td>
                            <td>@Html.DisplayFor(m => item.April)</td>
                            <td>@Html.DisplayFor(m => item.May)</td>
                            <td>@Html.DisplayFor(m => item.June)</td>
                            <td>@Html.DisplayFor(m => item.July)</td>
                            <td>@Html.DisplayFor(m => item.August)</td>
                            <td>@Html.DisplayFor(m => item.September)</td>
                            <td>@Html.DisplayFor(m => item.October)</td>
                            <td>@Html.DisplayFor(m => item.November)</td>
                            <td>@Html.DisplayFor(m => item.December)</td>
                            <td>@sum</td>
                        </tr>
                    }
                    @if (!Model.netAmount.Any())
                    {
                        <tr>
                            <th>Net Purchase Amount</th>
                            <td>@ViewBag.SelYear</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        //$('.date').datepicker({
        //    //minViewMode: 1,
        //    //maxViewMode: 1
        //    format: "MM-yyyy",
        //    startView: "months",
        //    minViewMode: "months",
        //    autoclose: true,
        //    allowInputToggle: true
        //})

        //$('.date').on("dp.show", function (e) {
        //    $(e.target).data(".date").viewMode("months");
        //})

        jQuery(function ($) {
            var oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "paging": false,
                "deferLoading": 0,
                "ordering": false,
                "columnDefs": [{
                    "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                    "sClass": "numberright"
                }],
                buttons: [//'copy', 'csv', 'excel', 'pdf', 'print'
                {
                    extend: 'print',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'MonthWise-Purchase';
                    },
                    message: function()
                    {
                        var head = '<table class="tblcompact table table-bordered"><thead>' +
                        ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Purchase Report (Month Wise)</h4></th></tr>' +
                      //  ' <tr><th><span class="text-left"></span><span class="text-right pull-right"></span></th></tr>
                        ' </thead><tbody><tr><td>';
                        return head;
                    },
                    customize: function (win) {
                        $(win.document.body).find('table, th,tr, td ')
                           // .css('border', 'inherit')
                            .css('font-size', '10pt')
                            .css('padding', '5px')
                            .addClass('compact');
                        $(win.document.body).append('</td></tr></tbody>')

                    }
                }, 'copy', 'csv', //'excel',
                {
                    extend: 'excel',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'MonthWise-Purchase';
                    },
                    message: function () {
                        var head = '' + $('#cname').val() + '\n' +
                         '' + $('#caddress').val() + '\n' +
                         ' Purchase Report (Month Wise) \n';
                        return head;
                    },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5,6, 7,8,9,10,11,12,13,14]
                    },
                },
                {
                    extend: 'pdf',//
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'MonthWise-Purchase';
                    },
                     message: function () {
                         var head = '' + $('#cname').val() + '\n' +
                          '' + $('#caddress').val() + '\n' +
                          ' Purchase Report (Month Wise) \n';
                         return head;
                     },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5,6, 7,8,9,10,11,12,13,14]
                    },
                    customize: function (doc) {
                        doc.pageMargins = [10, 10, 10, 10];
                        doc.defaultStyle.fontSize = 10;
                        doc.styles.tableHeader.fontSize = 10;
                        doc.styles.title.fontSize = 12;
                        // Header font and bg color
                        doc.styles.tableHeader.fillColor = '#d3d3d3';
                        doc.styles.tableHeader.color = 'black';
                        // Remove spaces around page title
                        doc.content[0].text = doc.content[0].text.trim();
                            doc.content[1].table.widths = [
                            '10%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '6%',
                            '10%'
                        ]

                        var objLayout = {};
                        // Horizontal line thickness
                        objLayout['hLineWidth'] = function (i) { return .5; };
                        // Vertikal line thickness
                        objLayout['vLineWidth'] = function (i) { return .5; };
                        //// Horizontal line color
                        //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                        //// Vertical line color
                        //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                        // Left padding of the cell
                        objLayout['paddingLeft'] = function (i) { return 4; };
                        // Right padding of the cell
                        objLayout['paddingRight'] = function (i) { return 4; };
                        // Inject the object in the document
                        doc.content[1].layout = objLayout;
                        // Footer font and bg color
                        doc.styles.tableFooter.fillColor = '#d3d3d3';
                        doc.styles.tableFooter.color = 'black';
                    }


                },

                ],

                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };




                    // Total over all pages
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );

                    // Total over all pages
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );


                    // Total over all pages
                    total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(
                         pageTotal.toFixed(2)
                        //'$' + pageTotal + ' ( $' + total + ' total)'
                    );


                    var table = $('#UserTable').DataTable();
                    if (!table.data().any()) {
                        $('#UserTable tfoot').hide();
                    } else {
                        $('#UserTable tfoot').show();
                    }

                }
            });
            $('#UserTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(this).addClass('dataTables_row');
                }
            });
        });
    </script>
}


