@{
    var sizeval = "";
    if (@ViewBag.Footer == null)
    {
        sizeval = "500px";
    }
    else
    {
        sizeval = "460px";
    }
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <div style="max-height:270px">
                        <div class="text-center">
                         @if (@ViewBag.HeadCheck != 0)
                             {
                            @Html.Partial("../Common/_CompanyHeader")
                              }
                        </div>
                        <div class="text-center">
                            <h4 style="margin-bottom: 1px;">
                                <strong>Purchase Order</strong>
                            </h4>
                        </div>
                        <table class="table table-noborder">
                            <tr style="border-top: 1px solid #898989 !important;">
                                <td width="50%" style="padding: 3px;border-right: 1px solid #898989 !important;">
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th><i><b>Supplier المورد</b></i></th>
                                        </tr>
                                        <tr>
                                            <td><label id="lblParty"></label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="lbladdress"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                TRN : <label id="lbltrn"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <th>Purchase Order No</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Date تاريخ</th>
                                            <td>: <label id="lblDate"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Sales Executive<br /> منفذ مبيعات</th>
                                            <td>: <label id="lblEmployee"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Payment Type</th>
                                            <td>: <label id="lblpaytype"></label></td>
                                        </tr>
                                        <tr id="crperiod">
                                            <th>Credit Period</th>
                                            <td>: <label id="lblcperiod"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>
        <tbody>
            <!-- Table row -->
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:@sizeval">
                        <table class="table table-bordered" id="itemtable" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>S/N مسلسل</th>
                                    <th id="PoNo">Part No</th>
                                    <th>Item <br />بند</th>
                                    <th>Unit وحدة</th>
                                    <th>Qty كمية</th>
                                    <th>Unit Price السعر</th>
                                    <th>Amount كمية</th>
                                    <th>Tax <span> (5.00%)</span><br />ضريبة </th>
                                    @*<th>Tax Amount برميل</th>*@
                                    <th>Total مجموع</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" style="width:50%;">
                                Receiver's Signature :<br />
                                توقيع المتلقي

                            </td>
                            <td colspan="3" rowspan="3">
                                For @ViewBag.CName
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <div class="text-center">
                        @Html.Partial("../Common/_CompanyFooter")
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>