@{
    ViewBag.Title = "Search Stock";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Brand Wise</h3>
    </div>
    <div class="box-body">
       @using (Html.BeginForm("BrandWise", "StockReport", FormMethod.Post, new { id = "popupForm" }))
       {
            <div class="form-group row">
                <div class="col-md-4">
                    @Html.Label("Brand", null, new { @class = "control-label col-md-4" })
                    @Html.DropDownList("ddlBrand", (SelectList)ViewBag.Brand, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-3 lblpadding">
                    <label class="control-label"><input type="checkbox" value="true" name="stockable" id="stockable" />  Include non-stockable Items</label>
                </div>

                @if (@ViewBag.EnableMCcheck == 0)
                {
                    <div class="form-group col-md-2">
                        @Html.Label("Material Center", null, new { @class = "control-label" })
                        @Html.DropDownList("ddlMC", (SelectList)ViewBag.MC, new { @class = "form-control input-sm" })
                    </div>
                }

                <div class="col-md-4 lblpadding">
                    <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                </div>
            </div>
       }
    </div>
</div>

@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            CallRepMCUser();

            $("#ddlBrand").select2({
                placeholder: 'Search Item Brand',
                minimumInputLength: 0,
                ajax: {
                    url: "/ItemBrand/SearchBrand",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            x: "all"
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },

            });
        });
        //$('body').on('change', '#ddlMC', function (e) {
        //    CallMCUser();
        //});
    </script>
}





