@{
    ViewBag.Title = "LPO BASE HIRE RETURN";
    ViewBag.SubTitle = "LPO BASE HIRE RETURN";
    ViewBag.Active = "Reports";
}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">HIRE RETURNS</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("lpobasehirereturn", "StockReport", FormMethod.Post, new { id = "popupForm" }))
        {
            <div class="form-group row">
                <div class="col-md-4">
                    @Html.Label("LPO NO", new { @class = "control-label col-md-4" })
                    @Html.DropDownList("ddllpo", (SelectList)ViewBag.Item, new { @class = "form-control input-sm" })
                </div>
               
                @*<div class="col-md-4 lblpadding">
                        <label class="control-label"><input type="checkbox" value="true" name="stockable" id="stockable" />  Include non-stockable Items</label>
                    </div>*@
                <div class="col-md-4 lblpadding">
                    <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Search</button>
                    <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddllpo").select2({
                placeholder: 'Search LPO',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Searchlop",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0,
                         
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },

            });
        });
        //$('body').on('change', '#ddlMC', function (e) {
        //    CallRepMCUser();
        //});
    </script>
}
