@{
    ViewBag.Title = "View Stock";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";
    var type = ViewBag.JewCheck == 0 ? "Stock Enquiry" : "Stock Moment";
}
<div class="box box-default" id="StockReport">
    <input type="hidden" id="cname" value="@ViewBag.CName" />
    <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
    <input type="hidden" id="itemname" value="@ViewBag.ItemName" />
    <input type="hidden" id="mcname" value="@ViewBag.MCSName" />
    <div class="box-header with-border">
        <h3 class="box-title">View @type</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="display table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <th>S/N</th>
                        <th>Date</th>
                        <th>Invoice No.</th>
                        <th>Type</th>
                        <th>Stock In </th>
                        <th>Stock Out</th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                    </tr>
                    <tr>
                        <th>Current Stock : </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="st"></th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        
        function searchData(data) {

            data.iditem = getQueryString1("itemid");
            data.datefrom = getQueryString1("datefrom");
            data.dateto = getQueryString1("dateto");
            data.ddmc = getQueryString1("ddmc");
        }
    $(document).ready(function () {
            oTable = $('#UserTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                //"deferLoading": 0, // disable default ajax loading
                "bLengthChange": false,
                "paging": true,
                "pageLength": 5000,
                responsive: true,
                "ordering": false,
                "ajax": {
                    "url": '/StockReport/GetMoment2',
                    "data": function (data) {
                        data = searchData(data);
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                     {
                         "data": "ItemID", "name": "ItemID",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                    {
                        "data": "Date", "name": "Date", "render": function (data) {
                            if (data != null) {
                                var date = convertToDate(data);
                                return date.toString();
                            }
                            else
                                return "";
                        }
                    },
                    { "data": "invoiceno", "name": "invoiceno" },
                    { "data": "Type", "name": "Type" },
                    {
                        "data": "StockIn", "data": function (data) {
                            if (data.StockIn != 0) {
                                return data.StockIn + " " + data.PriUnit;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "StockOut", "data": function (data) {
                            if (data.StockOut != 0) {
                                return data.StockOut + " " + data.PriUnit;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    { "data": "StockIn", "name": "StockIn", "visible": false, },
                    { "data": "StockOut", "name": "StockOut", "visible": false, },
                    { "data": "PriUnit", "name": "PriUnit", "visible": false, },

                ],
                buttons: [
            {
                extend: 'print',//
                title: "",
                footer: true,
                filename: function () {
                    return '@type';
                },
                exportOptions: {
                    columns: ':visible'
                },
                message: function()
                {
                    var head = '<table class="tblcompact table table-bordered"><thead>' +
                    ' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>@type</h4></th></tr>' +
                    ' <tr><th><span class="text-left">Item Name : ' + $('#itemname').val() + '</span><span class="text-right pull-right">' + $('#mcname').val() + '</span></th></tr></thead><tbody><tr><td>';
                    //+ '<tr><th>' + $('#mcname').val() + '</th></tr>';
                    return head;
                },
                customize: function (win) {
                    // $(win.document.body)
                    //.css('font-size', '10pt')
                    //.css('padding', '1px');
                    $(win.document.body).find('table, th,tr, td ')
                       // .css('border', 'inherit')
                        .css('font-size', '10pt')
                        .css('padding', '5px')
                        .addClass('compact');
                    $(win.document.body).append('</td></tr></tbody>')

                }
            }, 'copy', 'csv', //'excel',
            {
                extend: 'excel',//
                title: "",
                footer: true,
                filename: function () {
                    return '@type';
                },
                message: function () {
                    var head = '' + $('#cname').val() + '\n' +
                     '' + $('#caddress').val() + '\n' +
                     ' @type \n' +
                     'Item Name : ' + $('#itemname').val() + '\n' +
                       $('#mcname').val();
                    //'From :  ' + $('#From').val() + ' To :' + $('#To').val() + ''
                    return head;
                },
                pageSize: 'A4',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                },
            },
            {
                extend: 'pdf',//
                title: "",
                footer: true,
                filename: function () {
                    return '@type';
                },
                message: function () {
                    var head = '' + $('#cname').val() + '\n' +
                     '' + $('#caddress').val() + '\n' +
                     ' @type \n' +
                     'Item Name : ' + $('#itemname').val() + '\n' +
                        $('#mcname').val();
                    //'From :  ' + $('#From').val() + ' To :' + $('#To').val() + ''
                    return head;
                },
                pageSize: 'A4',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                },
                customize: function (doc) {
                    doc.pageMargins = [10, 10, 10, 10];
                    doc.defaultStyle.fontSize = 10;
                    doc.styles.tableHeader.fontSize = 10;
                    doc.styles.title.fontSize = 12;
                    // Header font and bg color
                    doc.styles.tableHeader.fillColor = '#d3d3d3';
                    doc.styles.tableHeader.color = 'black';
                    // Remove spaces around page title
                    doc.content[0].text = doc.content[0].text.trim();
                    doc.content[1].table.widths = [
                    '15%',
                    '15%',
                    '15%',
                    '15%',
                    '15%',
                    '15%'
                    ]
                    var objLayout = {};
                    // Horizontal line thickness
                    objLayout['hLineWidth'] = function (i) { return .5; };
                    // Vertikal line thickness
                    objLayout['vLineWidth'] = function (i) { return .5; };
                    //// Horizontal line color
                    //objLayout['hLineColor'] = function (i) { return '#aaa'; };
                    //// Vertical line color
                    //objLayout['vLineColor'] = function (i) { return '#aaa'; };
                    // Left padding of the cell
                    objLayout['paddingLeft'] = function (i) { return 4; };
                    // Right padding of the cell
                    objLayout['paddingRight'] = function (i) { return 4; };
                    // Inject the object in the document
                    doc.content[1].layout = objLayout;
                    // Footer font and bg color
                    doc.styles.tableFooter.fillColor = '#d3d3d3';
                    doc.styles.tableFooter.color = 'black';
                }
            },
                ],
                sDom: "lBfr<'datatable-scroll't>ip",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };
                    // computing column Total of the complete result 
                    var stockIn = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var stockOut = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var current = stockIn - stockOut;
                    var Unit = api.cell(0, 8).data();
                    Unit = Unit != null ? Unit : "";
                    $(api.column(4).footer()).html(stockIn.toFixed(2) + " " + Unit);
                    $(api.column(5).footer()).html(stockOut.toFixed(2) + " " + Unit);
                    $('#st').html(current.toFixed(2) + " " + Unit);
                }

            });


        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });

    });
    </script>
    }