@{
    ViewBag.Title = "View Stock";
    ViewBag.SubTitle = "Stock Report";
    ViewBag.Active = "Reports";

    var dtURL = "'/StockReport/GetItemWise'";

}
<div class="box box-default" id="StockReport">
    <input type="hidden" id="cname" value="@ViewBag.CName" />
    <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
    <input type="hidden" id="itemname" value="@ViewBag.ItemName" />
    <input type="hidden" id="PoNo" value="@ViewBag.PartNoCheck" />
    <input type="hidden" id="mcname" value="@ViewBag.MCSName" />

    <div class="box-header with-border">
        <h3 class="box-title">View Item Wise</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            @if (ViewBag.BusinessType  == "Scaffold")
            {
                @Html.Partial("_Scaffold/index", @dtURL)
            }
            else if (ViewBag.BOM != 0)
            {
                @Html.Partial("_Common/index", @dtURL)
            }
            else
            {
                @Html.Partial("_BOM/index", @dtURL)
            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        function searchData(data) {
            data.itemid = getQueryString1('itemid');
            data.ddmc= getParameterByName('ddmc')
        }
        $(document).ready(function () {
            dtTable();
        });

        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
    </script>

}