
<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    <div class="text-center" id="comHeader">
                        @if (@ViewBag.HeadCheck != 0)
                        {
                            @Html.Partial("../Common/_CompanyHeader")
                        }
                    </div>
                    <div class="text-center">
                        <style type="text/css">
                            @@media print {
                                body, .print {
                                    border: 0px !important;
                                }

                                body, .print {
                                    border: 1px !important;
                                }

                                .table-bordered td, .table-bordered th {
                                    border: 1px solid #898989 !important;
                                }
                            }

                            body .print {
                                font-size: 12px;
                            }

                            .print .table-nob tr th {
                                width: 40%;
                            }
                        </style>
                        <h4 style="margin-bottom: 1px;">
                            <strong><u><b>FINAL INDEMNITY</b></u></strong>
                        </h4>
                    </div>

                    <h4>

                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                @*<table class="table table-bordered">
                    <tr>
                        <td>*@
                @*<b> VOUCHER No:<label id="lblBillNo"></label></b>*@
                <div class="info">
                    <table class="table  table-bordered" id="addfield">
                        <tr>
                            <td style="width:50%;"><span><b>Employee Code :</b></span></td>
                            <td style="width:50%;"><label id="lblEmplCode"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Name :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblEmpName"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Designation :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblDesignation"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Date of Joining :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblJoiningDate"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Date of Release :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblLastworkingDate"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Total Service in Days :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblTotalDays"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>No: of Days Suspended :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblDesignation"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Deduction Days :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblDeductionDays"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>No. of Days Absent :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblNoDaysAbsent"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Net Service in Days :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblNoDaysWorked"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Type of Settlement :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblTypeofSettlement"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>No. of Gratuity Days Due :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblGratuityDays"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Basic :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblBasic"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Gratuity Amount :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblGratuityAmount"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Advance Taken/ Additional :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblAddition"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Deduction Amount :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><label id="lblDeduction"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Net Amount :</b></span><label id="lblDate"></label></td>
                            <td style="width:50%;"><b><label id="lblNetAmount"></label></b><br /><label id="NetAmountWord"></label></td>
                        </tr>
                        <tr>
                            <td><span><b>Remarks :</b></span></td>
                            <td style="width:50%;"><label id="lblRemarks"></label></td>
                        </tr>
                    </table>
                </div>


                <table class="table  table-bordered">
                    <tr>
                        <td>
                            <table class="table- noborder " id="addition">
                                <thead>
                                    <tr>Earnings</tr>
                                    <tr>
                                        <td>Payhead </td>
                                        <td></td>
                                        <td>Amount </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table- noborder " id="deduction">
                                <thead>
                                    <tr>Deductions</tr>
                                    <tr>
                                        <td>Payhead </td>
                                        <td></td>
                                        <td>Amount </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;"></td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                            <br />
                            <br />
                            Authorised Signatory

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (@ViewBag.HeadCheck != 0)
                {
                    @Html.Partial("../Common/_CompanyFooter")
                }
            </div>
        </div>
    </section>
</div>
