@model QuickSoft.ViewModel.SerialNoViewModel
@{
    ViewBag.Title = "BulkPriceUpdate";
    ViewBag.SubTitle = "Bulk Price Update";
    var TimeOut = @ViewBag.TMOut;
    int ci = 0;
    int SlNo = 1;


}
<style>
    .ribbon4 {
        width: auto;
        position: absolute;
        left: -11px !important;
        top: -5px;
        padding: 5px 20px 5px 10px;
        background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
        box-shadow: -1px 2px 3px rgba(0,0,0,.3);
        color: white;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
    }

        .ribbon4:before, .ribbon4:after {
            content: "";
            position: absolute;
        }

        .ribbon4:before {
            width: 10px;
            height: 117%;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background-image: linear-gradient(to bottom,#55a8e7,#0d83dd);
            border-radius: 6px 0 0 5px;
        }

        .ribbon4:after {
            width: 10px;
            height: 8px;
            bottom: -8px;
            left: -5px;
            background: #095b9a;
            border-radius: 5px 0 0 5px;
        }
    .btn-default {
        background-image: linear-gradient(to bottom,#eaf2fd,#c0d8f9);
        box-shadow: -1px 1px 1px rgba(0,0,0,.3);
        color: #2059a5 !important;
        border: none;
    }
    .btn {
        border-radius: 4px !important;
        /*height:32px;*/
        /*padding:4px 10px!important;*/
    }
    .sh-align {
        position: relative !important;
        top: 10px !important;
    }
/*    .temp2 {
        position: absolute !important;
        background-color: white !important;
        display: table;
        z-index: 1 !important;
        top: -13px !important;
        font-size: 11px !important;
        transition: 0.2s;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
        left: 13px;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }*/

    .form-control {
        height: 25px !important;
        border-radius: 4px !important;
        border: none !important;
        border-bottom: 1px solid #a3a3a3 !important;
        border-right: 1px solid #a3a3a3 !important;
        border-left: 1px solid #b7b7b7 !important;
        border-top: 1px solid #b7b7b7 !important;
    }
    .form-group {
        margin-bottom: 26px;
    }
    .form-control[disabled] {
        background-image: linear-gradient(to bottom,#ffffff,#e5e5e5);
    }

    .form-control[readonly] {
        background-image: linear-gradient(to bottom,#ffffff,#e5e5e5);
    }
</style>

@using (Html.BeginForm("BulkPriceUpdate", "Item", FormMethod.Post, new { id = "createform", autocomplete = "off", @enctype = "multipart/form-data" }))
{
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Bulk Price Update</h3>
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    @Html.HiddenFor(model => model.PurchaseEntryId)
    @Html.HiddenFor(model => model.Unit)
    @Html.HiddenFor(model => model.MfgDate)
    @Html.HiddenFor(model => model.ExpiryDate)
    <div class="form-group col-md-2">
        @Html.Label("Offer From", null, new { @class = "control-label" })
        <div class="input-group date">
            @Html.TextBoxFor(m=>m.MFG, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        @Html.Label("Offer To", null, new { @class = "control-label" })
        <div class="input-group date">
            @Html.TextBoxFor(m=>m.EXP, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                @{
                    if (Model != null && Model.itemUpdatess != null && Model.itemUpdatess.Count > 0)
                    {
                        foreach (var item in Model.itemUpdatess.ToList())
                        {

                            <div class="row" style="margin-top: 1rem;">
                                <div class="col-md-1 col-xs-12 col-sm-6" style="margin-right:-30px">
                                    <label class="control-label temp2"></label>
                                    <div class="input-group" style="margin-top:8px">
                                        @SlNo
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.itemUpdatess[ci].ItemID, new { @id = "ItemID" + @ci })
                            <div class="col-md-11 col-xs-12 col-sm-12" style="border: 1px solid #ccc; padding-top: 10px !important; border-radius: 4px; ">
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group">
                                    @Html.Label("Item Name", null, new { @class = "control-label temp2" })
                                    @Html.TextBoxFor(m => m.itemUpdatess[ci].ItemName, new { @id = "ItemName" + @ci, @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group hide1" style="height:46px!important;">
                                    <div class="input-group" style="height:25px!important;border:1px solid #ccc;border-radius:4px;margin-top:21px;">
                                        <span class="input-group-addon">
                                            @Html.CheckBoxFor(m => m.itemUpdatess[ci].status)
                                        </span>
                                        @Html.Label("Item Active ?", null, new { @class = "control-label", @style = "padding-top:4px!important;padding-left:4px!important;" })
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group">
                                    @Html.Label("Current Stock", null, new { @class = "control-label temp2" })
                                    @Html.TextBoxFor(m => m.itemUpdatess[ci].currstock, new { @id = "currstock" + @ci, @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group" style="margin-top:1px!important;">
                                    <a href="javascript:void(0)" onclick="LastSalePurList(@Model.itemUpdatess[ci].ItemID,1)" class="temp2">Selling Price</a>
                                    @Html.TextBoxFor(m => m.itemUpdatess[ci].SellingPrice, new { @id = "SellingPrice" + @ci, @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group" style="margin-top:1px!important;">
                                    @Html.Label("Offer Price", null, new { @class = "control-label temp2" })
                                    @Html.TextBoxFor(m => m.itemUpdatess[ci].offerprice, new { @id = "PurchasePrice" + @ci, @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group" style="margin-top:1px!important;">
                                    <a href="javascript:void(0)" onclick="LastSalePurList(@Model.itemUpdatess[ci].ItemID,2)" class="temp2">Purchase Price</a>
                                    @Html.TextBoxFor(m => m.itemUpdatess[ci].PurchasePrice, new { @id = "PurchasePrice" + @ci, @class = "form-control input-sm" })
                                </div>

                                <div class="col-md-2 col-xs-12 col-sm-6 form-group hide1" style="height:46px!important;">
                                    <div class="input-group" style="height: 25px !important; border: 1px solid #ccc; border-radius: 4px; margin-top: 21px;">
                                        <span class="input-group-addon">
                                            @Html.CheckBoxFor(m => m.itemUpdatess[ci].pricingstatagy, new { @class = "checkbox", @Id = "chkpricing" + @ci, @onchange = "calcprice(" + ci + "); calcprice2(" + ci + "); " })
                                        </span>
                                        @Html.Label("Pricing Strategy", null, new { @class = "control-label", @style = "padding-top:4px!important;padding-left:4px!important;" })
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-6 form-group" style="height:46px!important;">
                                    <div class="input-group" style="height: 25px !important; border: 1px solid #ccc; border-radius: 4px; margin-top: 21px;">
                                        <span class="input-group-addon">
                                            @Html.CheckBoxFor(m => m.itemUpdatess[ci].lockprice, new { @class = "checkbox", @Id = "chklockprice" + @ci, @onchange = "calcprice(" + ci + ")" })
                                        </span>
                                        @Html.Label("Lock Price", null, new { @class = "control-label", @style = "padding-top:4px!important;padding-left:4px!important;" })
                                    </div>
                                </div>
                                <div class='prcstg-@ci'>
                                    <div class="col-md-2 col-xs-12 col-sm-6 form-group">
                                        @Html.Label("Pricing Strategy Type", null, new { @class = "control-label temp2" })
                                        @Html.EnumDropDownListFor(m => m.itemUpdatess[ci].pricingstatagytype, new { @id = "pricingstatagytype" + @ci, @class = "form-control", @onchange = "calcprice(" + ci + ")" })
                                    </div>
                                    <div class="col-md-2 col-xs-12 col-sm-6 form-group">
                                        @Html.Label("Amount Type", null, new { @class = "control-label temp2" })
                                        @Html.EnumDropDownListFor(m => m.itemUpdatess[ci].amounttype, new { @id = "amounttype" + @ci, @class = "form-control", @onchange = "calcprice(" + ci + ")" })
                                    </div>
                                    <div class="col-md-2 col-xs-12 col-sm-6 form-group">
                                        @Html.Label("Value", null, new { @class = "control-label temp2" })
                                        @Html.TextBoxFor(m => m.itemUpdatess[ci].amount, new { @Id = "amount" + @ci, @class = "form-control input-sm", @onchange = "calcprice(" + ci + ")" })
                                    </div>
                                </div>
                            </div>

                            </div>
                            ci++;
                            SlNo++;
                        }
                    }
                }


            </div>
        </div>

        <div class="row text-center" style="margin-top:10px!important;">
            <button type="submit" id="save" class="btn btn-success" tabindex="5">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button> &ensp;
            <button type="button" class="btn btn-default can-btn" tabindex="6" onclick="@("window.location.href='/item/BulkPriceUpdate'");">Cancel</button>
        </div>
    </div>
</div>
    <div id="LastSalePur"></div>
}
@{var vModel = "modal-lg";}
@Html.Partial("../Common/_ModalCreate", @vModel)
@Html.Partial("../Common/_ModalEdit", @vModel)
@Html.Partial("../Common/_ModeItemCreate")
@Html.Partial("../Common/_ModelProject")
@Html.Partial("../Common/_ModalCustomer")
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section scripts{
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/jqueryval")
    <script>





    function LastSalePurList(result, dataid) {
        var Modal = "<div id='LastPurSale-" + result + "' class='modal fade' role='dialog' aria-hidden='true'><div class='modal-dialog modal-large'><div class='modal-content'>" +
            "<div class='modal-header bg-aqua'><button type='button' class='close' data-dismiss='modal' style='font-size:30px;color:red;'>&times;</button> <h4 class='text-left lastsalepur'>Sale </h4><input type='hidden' id='lps_itemName_" + result + "' value='" + result.ItemName + "'></div>" +
            "<div class='modal-body' style='padding-top:0px;padding-right:0px;'><p class='errormsg'></p>" +
            "<div id='lasts-" + result + "'><div id='pscustname'><h5><label id='lastcustname-" + result + "'></label></h5></div>" +
            "<table class='table table-bordered table-hover' id='LSale-" + result + "'><thead><tr class='bg-gray'>" +
            "<th class='text-center'>S/N</th><th class='text-center'>Date</th><th class='text-center'>BillNo</th><th class='text-center'>Customer</th> <th class='text-center'>Unit</th><th class='text-center'>Qty</th>" +
            "<th class='text-center'>Rate</th><th class='text-center'>Sub Total</th><th>Discount</th><th>TAX</th><th>Total</th>" +
            "</tr></thead><tbody></tbody><tfoot><tr><th></th><th></th><th></th><th></th><th></th><th class='text-right'></th><th></th><th></th><th></th><th></th></tr></tfoot></table></div>" +

            "<div id='lastp-" + result + "'>" +
            "<table class='table table-bordered table-hover' id='LPurchase-" + result + "'><thead><tr class='bg-gray'>" +
            "<th class='text-center'>S/N</th><th class='text-center'>Date</th><th class='text-center'>BillNo</th><th class='text-center'>Supplier</th> <th class='text-center'>Unit</th><th class='text-center'>Qty</th>" +
            "<th class='text-center'>Rate</th><th class='text-center'>Sub Total</th><th>Discount</th><th>TAX</th><th>Total</th>" +
            "</tr></thead><tbody></tbody><tfoot><tr><th></th><th></th><th></th><th></th><th></th><th class='text-right'></th><th></th><th></th><th></th><th></th></tr></tfoot></table></div>" +

            "<div id='salepurmsg' hidden><h4 class='text-red'>Not Found..!!</h4></div>" +

            "<div class='form-actions no-color text-center'>" +

            "</div></div></div></div></div>";
        $("#LastSalePur").append(Modal);
        addLastSPRow(result, dataid);


        var lastsale = "active";
        var lastpurchase = "active";
        if (lastsale == "active" || lastpurchase == "active") {
            var ID = "#LastPurSale-" + result;
            var bstlength = $(ID).length;
            if (bstlength != 0) {
                $(ID).modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        }
    }
    function addLastSPRow(ItemId, flag) {

        var salecount = 10;
        var purchasecount = 10;

        if (salecount > 0) {
            var customer = $('#ddlCustomer').val();
            if (customer != "") {
                $('#pscustname').show();
                $('#lastcustname-' + ItemId + '').text($('#ddlCustomer option:selected').text());
            } else {
                $('#pscustname').hide();
            }

            if ($.fn.DataTable.isDataTable('#LSale-' + ItemId + '')) {
                $('#LSale-' + ItemId + '').DataTable().destroy();
            }

            $('#LSale-' + ItemId + ' tbody').empty();

            var oTable = $('#LSale-' + ItemId + '').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "searching": false,
                "bInfo": false,
                "bSortable": true,
                "ajax": {
                    "url": '/CreditSale/GetLastSales',
                    "data": function (data) {
                        data.salecount = salecount;
                        data.ItemId = ItemId;
                        data.customer = customer;
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "SEItemsId", "name": "SEItemsId",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "SEDate", "name": "SEDate",
                        "render": function (data) {
                            var date = convertToDate(data);
                            return date.toString();
                        }
                    },
                    { "data": "BillNo", "name": "BillNo", "sClass": "headeralign" },
                    { "data": "CustomerName", "name": "CustomerName", "sClass": "headeralign" },
                    { "data": "ItemUnit", "name": "ItemUnit", "sClass": "headeralign" },
                    { "data": "ItemQuantity", "name": "ItemQuantity", "sClass": "headeralign" },
                    { "data": "ItemUnitPrice", "name": "ItemUnitPrice", "sClass": "headeralign" },
                    { "data": "ItemSubTotal", "name": "ItemSubTotal", "sClass": "headeralign" },
                    { "data": "ItemDiscount", "name": "ItemDiscount", "sClass": "headeralign" },
                    { "data": "ItemTax", "name": "ItemTax", "sClass": "headeralign" },
                    { "data": "ItemTotalAmount", "name": "ItemTotalAmount", "sClass": "headeralign" },
                ],
            });


        }
        if (purchasecount > 0) {

            if ($.fn.DataTable.isDataTable('#LPurchase-' + ItemId + '')) {
                $('#LPurchase-' + ItemId + '').DataTable().destroy();
            }

            $('#LPurchase-' + ItemId + ' tbody').empty();

            var oTable = $('#LPurchase-' + ItemId + '').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "orderMulti": false, // for disable multiple column at once
                "bStateSave": true,
                "paging": false,
                "searching": false,
                "bInfo": false,
                "bSortable": true,
                "ajax": {
                    "url": '/PurchaseEntry/GetLastPurchase',
                    "data": function (data) {
                        data.purchasecount = purchasecount;
                        data.ItemId = ItemId;
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                "order": [1, 'desc'],
                "columns": [
                    {
                        "data": "PEItemsId", "name": "PEItemsId",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "PEDate", "name": "PEDate",
                        "render": function (data) {
                            var date = convertToDate(data);
                            return date.toString();
                        }
                    },
                    { "data": "BillNo", "name": "BillNo", "sClass": "headeralign" },
                    { "data": "SupplierName", "name": "SupplierName", "sClass": "headeralign" },

                    { "data": "ItemUnit", "name": "ItemUnit", "sClass": "headeralign" },
                    { "data": "ItemQuantity", "name": "ItemQuantity", "sClass": "headeralign" },
                    { "data": "ItemUnitPrice", "name": "ItemUnitPrice", "sClass": "headeralign" },
                    { "data": "ItemSubTotal", "name": "ItemSubTotal", "sClass": "headeralign" },
                    { "data": "ItemDiscount", "name": "ItemDiscount", "sClass": "headeralign" },
                    { "data": "ItemTax", "name": "ItemTax", "sClass": "headeralign" },
                    { "data": "ItemTotalAmount", "name": "ItemTotalAmount", "sClass": "headeralign" },
                ],

            });

        }
        if (flag == 1) {
            $('#lasts-' + ItemId + '').show();
            $('.lastsalepur').text("Sales ");
            $('#lastp-' + ItemId + '').hide();
        }
        else {
            $('#lastp-' + ItemId + '').show();
            $('.lastsalepur').text("Purchase ");
            $('#lasts-' + ItemId + '').hide();
        }
    }
    function PSLastSubmit(ItemId) {
        var IName = $("#lps_itemName_" + ItemId).val();
        $('#lasts-' + ItemId + '').toggle();
        $('#lastp-' + ItemId + '').toggle();
        if ($('#lasts-' + ItemId + '').css('display') == 'none') {
            $('#plistbutton-' + ItemId + '').attr('value', 'Sales List');
            $('.lastsalepur').text("Purchase : " + IName);
        }
        if ($('#lastp-' + ItemId + '').css('display') == 'none') {
            $('#plistbutton-' + ItemId + '').attr('value', 'Purchase List');
            $('.lastsalepur').text("Sale : " + IName);
        }
    }




















        var RowCount;
        var PEEntryId = $("#PurchaseEntryId").val();
        $("#pid").val(PEEntryId);
        $(document).on('click', '.modal-create-lg', function (e) {
                e.preventDefault();
            var url = $(this).attr('href');
                modalshow(url, '#modal-create-lg');
                //$('#KeepStock').prop('checked', true);
                //$('#StockSection').show();
                //$("#SubUnitId").rules("remove", "required");
        });
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        //For DropDown Item, By Passing Purchase Entry Id
    $(document).ready(function () {
        for (let k = 0; k < 2000; k++) {
            if ($('#chkpricing' + k).prop('checked') == true) {
                $("#SellingPrice" + k).prop("readonly", true);

                $("#PurchasePrice" + k).prop("readonly", true);

            }
            else {
                $("#SellingPrice" + k).prop("readonly", false);

                $("#PurchasePrice" + k).prop("readonly", false);


            }
        }


            $("#ddlItem,#ddlItem2").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Search",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",

                        };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        return {
                            results: data,
                            pagination: {
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });
        });

    //To fill the details in Create Mode(Appending Rows)
    if ('@ViewBag.Mode' == "Create") {

        ItemId = $("#ddlItem").val();

        //Calling function to retrieve Item details based on PurchaseEntryId
        $.ajax({
            url: '/PurchaseEntry/GetSerialNoDtlInCreateMode',
            dataType: 'json',
            data: { PurchEntryId: PEEntryId, ItemId: ItemId },
            cache: true,
            success: function (data) {

                //To Set the RowCount For Appending Rows
                RowCount = data[0].Quantity;

                //Setting The Values
                $("#ExpiryDate").val(data[0].ExpiryDate);
                $("#MfgDate").val(data[0].MfgDate);
                $("#Unit").val(data[0].UnitId);

                $('.input_fields_wrap2').html('');

                //To Fill The Serial Number Details(Appending Rows According To Quantity)
                FillData()
            }
        });
    }
    else {
        $("#SerialNo").focus();
    }

     //To Fill The Serial Number Details in Create Mode
    function FillData() {

        var Date1   =   $("#ExpiryDate").val();
        var Date2   =   $("#MfgDate").val();

        //To Set value of Expiry Date
        var ExpDate = GetDateFormat(Date1);

        //To Set value of Manufactured Date
        var MfgDate = GetDateFormat(Date2);

        var wrapper2 = $(".input_fields_wrap2"); //Fields wrapper
        var SlNo = 1;
        for (var rowno = 0; rowno < RowCount; rowno++) {

            $(wrapper2).append('<div class="row" style="margin-top: 1rem;">' +

                                    '<div class="col-md-1" style="margin-right:-65px">' +
                                        '<label class="control-label"></label>' +
                                        '<div class="input-group" style="margin-top:8px">' +
                                            SlNo +
                                       '</div>'+
                                     '</div>'+

                                    '<div class="col-md-7">' +
                                        '<label class="control-label">Serial Number</label>' +
                                        '<div class="input-group">' +
                                            '<input type="text" Id = "SerialNo" name="SerialNoObjs[' + rowno + '].SerialNo" class="form-control" tabindex = 2>' +
                                        '</div>' +
                                    '</div>' +

                                    '<div class="col-md-2">' +
                                        '<label class="control-label">Manufacture Date</label>' +
                                        '<div class="input-group">' +
                                            '<input type="date" name="SerialNoObjs[' + rowno + '].MfgDate" value="' + MfgDate + '" class="form-control datepicker" required tabindex = 3>' +
                                        '</div>' +
                                    '</div>' +

                                    '<div class="col-md-2">' +
                                        '<label class="control-label">Expiry Date</label>' +
                                        '<div class="input-group">' +
                                            '<input type="date" name="SerialNoObjs[' + rowno + '].ExpiryDate" value="' + ExpDate + '" class="form-control datepicker" required tabindex = 4>' +
                                        '</div>' +
                                    '</div>' +
                                 '</div > '
            );
            SlNo++
        }
        $("#SerialNo").focus();
     }

    // Saving
    $('#createform').on('submit', function (e) {

             $.ajax({
                 async: true,
                 cache: false,
                 dataType: "json",
                 type: "POST",
                 contentType: "application/json; charset=utf-8",
                 url: "/Item/BulkPriceUpdate",
                 data: $('#createform').serialize(),
             });
    });

    //Function To Get New Date Format To Set In Appended Rows
    function GetDateFormat(Param) {

        var ConvDate = convertToDate(Param);

        var dateParts = ConvDate.split("-");
        var newdate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);

        //For Getting Date
        var date = newdate.getDate();

        if (date < 10)
            date = ("0" + date);

        //For Getting Month
        var Month = newdate.getMonth() + 1;

        if (Month < 10)
            Month = ("0" + Month);

        //For Getting Year
        var Year = newdate.getFullYear();

        //Setting New Date Format("yyyy-MM-dd")
        var RetValue = (Year + "-" + Month + "-" + date);
        return RetValue;
    }
    function calcprice2(i) {
        if ($('#chkpricing' + i).prop('checked') == true) {
            $("#SellingPrice"+i).prop("readonly", true);
            $("#PurchasePrice"+i).prop("readonly", true);
            //$("#BasePrice").prop("readonly", true);
            //$("#MRP").prop("readonly", true);
            //$("#pricingstatagytype").hide();
            //$("#amounttype").hide();
            //$("#amount").hide();
            $(".prcstg-" + i).show();
        }
        else {
            $("#SellingPrice"+i).prop("readonly", false);
            $("#PurchasePrice"+i).prop("readonly", false);
            //$("#BasePrice").prop("readonly", false);
            //$("#MRP").prop("readonly", false);
            //$("#pricingstatagytype").show();
            //$("#amounttype").show();
            //$("#amount").show();
            $(".prcstg-"+i).hide();

        }
    }

    function calcprice(i) {
            if ($("#chkpricing"+i).prop("checked") == true) {
                $.ajax({
                    url: '/PurchaseEntry/GetPrice',
                    type: "GET",
                    dataType: "JSON",
                    data: { itemid: $("#ItemID" + i).val(), pcategory: $("#pricingstatagytype"+i).val(), amounttype: $("#amounttype"+i).val(), amount: $("#amount"+i).val() },
                    success: function (data) {
                        $("#SellingPrice"+i).val(data.salprice);
                        $("#PurchasePrice"+i).val(data.purprice);
                        if ($("#pricingstatagytype"+i).val() == 3) {
                            $("#amounttype"+i).prop("disabled", true);
                            $("#SellingPrice"+i).val($("#amount"+i).val());
                        }
                        else {
                            $("#SellingPrice"+i).val(data.salprice);
                            $("#amounttype"+i).prop("disabled", false);
                        }

                    }
                });

            }
            else {
                var tags = @Html.Raw(Json.Encode(Model.itemUpdatess));
                $("#SellingPrice" + i).val(tags[i].SellingPrice);
                $("#PurchasePrice" + i).val(tags[i].PurchasePrice);

            }


        }



    //Function to load contact while selecting Customer
        function LoadSerialNo(values) {
        //var Item = $(obj).val();
            window.location.href = "/Item/BulkPriceUpdate?Items=" + values;
    }
    $('input').bind('paste', null, function (e) {

            $this = $(this);

            setTimeout(function () {
                var columns = $this.val().split(/\s+/);

                var i;
                var input = $('.SerialNo');
                var str = "";
                for (i = 0; i < columns.length; i++) {
                    //input.val(columns[i]);
                    //input = input.next()

                    $('input[name="SerialNoObjs[' + i + '].SerialNo"]').val(columns[i]);
                   // $(input[str]).val(columns[i]);
                }
            }, 0);
        });
    </script>
}

