@model QuickSoft.ViewModel.ItemViewModel
@{
    ViewBag.Title = "View Item";
    ViewBag.SubTitle = "Item";
    ViewBag.Active = "Master";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View Item</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Item Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item Code :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemCode)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Item Name in Arabic :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ItemArabic)
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-header with-border"></div>
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Category :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CategoryName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Brand :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.BrandName)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Sale Tax :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Tax)
                </div>
            </div>
            <div class="box-header with-border"></div>
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Primary Unit :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PUnit)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Secondary Unit :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.SUnit)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Convertion Factor  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.ConFactor)
                </div>
            </div>
            <div class="row with-border">
                <div class="col-md-6">
                    <div class="form-group">
                        <strong>Description : </strong><br />
                        @Html.Raw(Model.ItemDescription)
                    </div>
                </div>                
            </div>
            <div class="box-header with-border"></div>
            <div class="row">
                <div class="col-sm-2 form-group ">
                    @Html.Label("Opening Stock  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.OpeningStock)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Minimum Stock  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.MinStock)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Keep Stock  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.KeepStock)
                </div>
                <div class="col-sm-2 form-group ">
                    @Html.Label("Status  :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.Status)
                </div>
            </div>
        </div>
        <div class="box-header with-border"></div>
        <div class="row">
            <div class="col-sm-2 form-group ">
                @Html.Label("Selling Price  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.SellingPrice)
            </div>
            <div class="col-sm-2 form-group ">
                @Html.Label("Purchase Price  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.PurchasePrice)
            </div>
            <div class="col-sm-2 form-group ">
                @Html.Label("Base Price  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.BasePrice)
            </div>
            <div class="col-sm-2 form-group ">
                @Html.Label("MRP  :", null, new { @class = "control-label" })
                @Html.DisplayFor(m => m.MRP)
            </div>
        </div>        
</div>

