@model QuickSoft.Models.PriceCategoryPercentage
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Price Category</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "PriceCategory", FormMethod.Post, new { id = "createform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @*<div class="box-header with-border">
                <h3 class="box-title">Bill Of Material</h3>
                <div class="pull-right">


                        <a class="btn btn-success no-border" href="/BOM">
                            <i class="fa fa-fw fa-history"></i> Bill Of Material List
                        </a>
                    }
                </div>
            </div>*@
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })

    @*<div class="col-md-4">
        <div class="form-group">
            @Html.Label("Category Name", null, htmlAttributes: new { @class = "control-label" })
            <div class="input-group input-group-sm">
                @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Category, "", new { id = "ddlPricecategory", @class = "form-control select2", @required = "required" })

                <span class="input-group-btn">
                    <button type="button" href="/Category/Create" class="modal-create btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                </span>
            </div>
        </div>
    </div>*@


    @*<=======================================================================================>*@
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("Category Name", null, htmlAttributes: new { @class = "control-label" })
            <div class="input-group input-group-sm">
                @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Category, "", new { id = "ddlPricecategory", @class = "form-control select2", @required = "required" })

                @*<span class="input-group-btn">
                        <button type="button" href="/Category/Create" class="modal-create btn btn-success btn-flat"><i class="fa fa-1x fa-plus-circle"></i></button>
                    </span>*@
            </div>
        </div>
    </div>


    <div class="col-md-4">

    </div>
    <div class="col-md-12">
        <div class="form-group">
            <br />
            @Html.RadioButtonFor(m => m.PriceCategory, "SalesPrice")SalesPrice

            @Html.RadioButtonFor(m => m.PriceCategory, "PurchasePrice")PurchasePrice

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <br />
            @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "Enter Percentage", @required = "required" } })

        </div>
    </div>


</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("../Common/_ModalCreate")
@section scripts{
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap-datepicker")
    @Scripts.Render("~/js/additem")
    @Scripts.Render("~/js/bom")
    <script type="text/javascript">
        var minDate = $("#Start").val();
        var maxDate = $("#End").val();
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true,
            ////startDate: new Date(minDate),
            ////endDate: new Date(maxDate)
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }

        $(document).ready(function () {

            $("#ddlItem").select2({
                placeholder: 'Search Item by Name or Code',
                minimumInputLength: 0,
                ajax: {
                    url: "/Item/Search",
                    dataType: 'json',
                    type: "POST",
                    delay: 50,
                    data: function (params) {
                        return {
                            q: params.term || "",
                            page: params.page || 0
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;

                        return {
                            results: data,
                            pagination: {
                                //more: (params.page * 10) < 50
                                more: true
                            }
                        };
                    },
                    cache: true
                },
            });

            $("#ddlPricecategory").select2({
                placeholder: 'Select Vehicle Type',
                minimumInputLength: 0,
                
                ajax: {
                    
                    url: "/PriceCategory/SearchPriceCategory",
                    dataType: 'json',
                    delay: 50,
                    data: function (params) {
                        alert("ok");
                        return {
                            q: params.term,
                            page: params.page,
                            x: " Select PriceCategory"
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
            });







        });
        $('body').on('change', '#ddlItem', function (e) {
            var itemId = $(this).val();
            $.ajax({
                url: '/Item/GetItem',
                type: "GET",
                dataType: "JSON",
                data: { itemID: itemId },
                success: function (data) {
                    var newOption = $('<option></option>');
                    if ((data.PriUnit != data.SubUnit) && data.SubUnitId != null) {
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        var newOption1 = $('<option></option>');
                        newOption1.val(data.SubUnitId).html(data.SubUnit);
                        if (data.ItemUnit) {
                            if (data.ItemUnit == data.ItemUnitID)
                                newOption.attr("selected", "selected");
                            if (data.ItemUnit == c.SubUnitId)
                                newOption1.attr("selected", "selected");
                        }
                        $('#Unit').html('');
                        $('#Unit').append(newOption);
                        $('#Unit').append(newOption1);

                    } else {
                        $('#Unit').html('');
                        newOption.val(data.ItemUnitID).html(data.PriUnit);
                        $('#Unit').append(newOption);
                    }
                    $("#PrUnit").text("/ " + data.PriUnit);
                }
            });
        });

        $('body').on('change', '#Unit', function (e) {
            var textvalue = $("#Unit option:selected").text();
            $("#PrUnit").text("/ " + textvalue);
        });




        AddItemPopUp();
        ItemCategory();
        ItemBrand();
        //On Modal Create

        $('#modal-create-lg').on('shown.bs.modal', function (e) {
            //Item Category
            ItemCategory();
            ItemBrand();

            $('#KeepStock').click(function () {
                clickstock();
            });
            //ItemTax();
            //ItemUnit();
            //ItemSubUnit();
            Itemtype();

            //var ItemName =
            addbatsaleItem('addbatchItem', 'sale', ItemName, "0.00", "0.00", "");
        });
        // form submit
        $('#createForm').on('submit', function (e) {
            e.preventDefault();
            var fnval = $('input[type="submit"], button[type="submit"]', this).filter(':focus').attr('id');
            if ($("#createForm").valid()) {
                BOMSubmit(fnval);
            }
            else {
                $('.alert').prepend('<button type="button" class="close" data-hide="alert">×</button>');
            }
        });

        $('span').on('click', '.modal-create', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            modalshow(url, '#modal-create');
        });
                    //$('#modal-create-lg').on('submit', '#createitemform', function (e) {
                    //    e.preventDefault();
                    //    var url = $('#createitemform')[0].action;
                    //    var data = $('#createitemform').serialize();
                    //    createajax(url, data, '#modal-create-lg');
                    //});

    </script>
}


