@model QuickSoft.Models.ChequeBook
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create Book</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Create", "ChequeBook", FormMethod.Post, new { id = "createform" }))
    {
        <script type="text/javascript">
            $('form#popupFormSize').removeData("validator");
            $('form#popupFormSize').removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form#popupFormSize'));
        </script>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.bookname, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.bookname, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "", @required = "required" } })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.booktype, htmlAttributes: new { @class = "control-label" }) *
            @Html.DropDownListFor(model => model.booktype, new SelectList(new List<SelectListItem>
                        {
                         new SelectListItem() {Text = "Cheque", Value="0"},
                         new SelectListItem() {Text = "Reciept", Value="1"},
                            new SelectListItem() {Text = "Payment", Value="2"},
                        }, "Value", "Text"), new { @class = "form-control input-sm" })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.numberstarting, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.numberstarting, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "", @required = "required" } })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.endnumbering, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.endnumbering, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "", @required = "required" } })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.cancelledleaf, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.cancelledleaf, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "", @required = "required" } })

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.usedleaf, htmlAttributes: new { @class = "control-label" }) *
            @Html.EditorFor(model => model.usedleaf, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", @placeholder = "", @required = "required" } })

        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/js/jqueryval")
}
