@model QuickSoft.ViewModel.FileDocumentViewModel
@{
    int di = 0;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <h1>Download Files</h1>
    @using (Html.BeginForm("Create", "FileDocument", FormMethod.Post, new { id = "deleteform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-12">
            <div class="input-group">
                <h3>@ViewBag.document</h3>
            </div>
        </div>
        <div class="form-group input_fields_wrap3">
            <table class="table table-condensed table-hover" id="tblDcmnt">

                @{

                            int i = 1;
                            if (Model != null && Model.lstMultidocview != null && Model.lstMultidocview.Count > 0)
                            {
                                foreach (var item in Model.lstMultidocview.ToList())
                                {
                                <div class="row" style="margin-top: 1rem;">
                                    <div class="col-md-3" >
                                        <label class="control-label">Serial No : @i </label>
                                       
                                    </div>
                                    <div class="col-md-3" hidden>
                                        <label class="control-label">Document id</label>
                                        <div class="input-group">
                                            <input type="text" value="@item.Id" name="lstMultidocview[@di].DocumnetId" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" value="@item.Document" title="@item.Document" class="form-control file-upload-info downpress" onclick="newfn(@item.Document) readonly=" readonly>
                                            <input type="hidden" value="@item.Document" title="@item.Document">
                                            <img src="/uploads/GoogleReivew/@item.Document"  style="width:100%;"/>
                                       
                                        </div>
                                    </div>
                                </div>
                            di++;
                            i++;

                        }
                }
                }
            </table>
        </div>
        <div class="form-actions no-color text-center">

            @*<input type="button" class="btn btn-danger col-sm-offset-4 Alldownload" id="Alldownload" value="All Download"/>*@
            <input type="button" class="btn btn-default clss" value="Cancel" data-dismiss="modal">
        </div>
    }
</div>
<script>
    $(document).ready(function () {

        $("#Alldownload").click(function () {

            jQuery('.downpress').each(function () {
                var currentElement = $(this);
                var value = currentElement.val();
                window.open('/uploads/GoogleReivew/'+value,'');
            });


        });
    });
</script>



