@model QuickSoft.ViewModel.SalesEntryViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>View POS Details</h4>
</div>
<div class="modal-body">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">POS Entry</h3>
        </div>
        <div class="box-body">
            <div class="row">
                @Html.HiddenFor(m => m.CustomerType)
                @Html.HiddenFor(m => m.SENo)
                <div class="col-sm-2 form-group ">
                    @Html.Label("Invoice No :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.BillNo)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Bill Date :", null, new { @class = "control-label" })
                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.SEDate))
                    @*@Html.DisplayFor(m => m.SEDate)*@
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Waiter :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.EmployeeName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Customer Name :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.CustomerName)
                </div>
                <div class="col-sm-2 form-group">
                    @Html.Label("Payment Type :", null, new { @class = "control-label" })
                    @Html.DisplayFor(m => m.PayType)
                </div>
                <div class="clearfix"></div>
            </div>

            <div>
                <div class="table-responsive">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr style="background-color: #d2d6de">
                                    <th>Item</th>
                                    <th>Item Unit</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Tax</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                </tr>
                                @foreach (var salesum in Model.SEItem)
                                {
                                    var itemnote = "";
                                    if (@salesum.itemNote != "")
                                    {
                                        itemnote = "<br /><small>" + @salesum.itemNote + "</small>";
                                    }
                                    <tr>
                                        <td>@salesum.ItemCode - @salesum.ItemName @Html.Raw(itemnote.Replace(Environment.NewLine, "<br/>"))</td>
                                        <td>@salesum.ItemUnit</td>
                                        <td>@salesum.ItemUnitPrice</td>
                                        <td>@salesum.ItemQuantity</td>
                                        <td>@salesum.ItemSubTotal</td>
                                        <td>@salesum.ItemTax</td>
                                        <td>@salesum.ItemTaxAmount</td>
                                        <td>@salesum.ItemTotalAmount</td>
                                    </tr>
                                }
                                @*<tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>@Html.DisplayFor(m => m.SETotal)</td>
                                    </tr>*@
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Terms And Conditions </strong><br />
                            @Model.SENote
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<div class="form-group col-md-6 no-paddingleft">
                                @Html.Label("Discount :", null, new { @class = "control-label" })
                                @Html.DisplayFor(m => m.SEDiscount)
                            </div>*@
                        <div class="form-group col-md-6 no-padding">
                            @Html.Label("Grand Total :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEGrandTotal)
                        </div>
                        <div class="form-group col-md-6 no-paddingleft" id="paidamt">
                            @Html.Label("Paid Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEPaidAmount)
                        </div>
                        <div class="form-group col-md-6 no-padding" id="dueamt">
                            @Html.Label("Due Amount :", null, new { @class = "control-label" })
                            @Html.DisplayFor(m => m.SEDueAmount)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        //var custtype = $('#CustomerType').val();
        //if (custtype == 0) {
        //    $('#paidamt').show();
        //    $('#dueamt').show();
        //}
        //if (custtype == 1) {
        //    $('#paidamt').hide();
        //    $('#dueamt').hide();
        //}
    });
    </script>
}


