@using System.Linq
@model QuickSoft.ViewModel.UaeVatReportViewModel
@{
    ViewBag.Title = "Search UAE VAT Report";
    ViewBag.SubTitle = "UAE VAT Report";
    ViewBag.Active = "Tax Reports";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search UAE VAT</h3>
    </div>
    <div class="box-body">
        <form id="search-form">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <div class="form-group col-md-2">
                @Html.Label("From", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("From", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <button type="submit" class="btn btn-info col-sm-offset-5" id="btn">Submit</button>
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        </form>
    </div>
</div>


<div class="box box-default" id="SReport">
    <div class="box-header with-border">
        <h3 class="box-title">UAE VAT Report</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <input type="hidden" id="cname" value="@ViewBag.CName" />
            <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
            <table class="display table table-bordered" id="UserTable">
                    <thead>
                    <tr class="bg-gray">
                        <td>Details.</td>
                        <td>Taxable Amount.</td>
                        <td>Tax</td>
                        <td>Ret. Amount</td>
                        <td>Ret. Tax</td>
                        <td>Nett Amt.</td>
                        <td>Nett. Tax</td>
                    </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td><strong>Sales</strong></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="numberright">
                            <td class="text-left">Abu Dhabi</td>
                            <td><label id="AbuSETaxable"></label></td>
                            <td><label id="AbuSETaxAmt"></label></td>
                            <td><label id="AbuSRTaxable"></label></td>
                            <td><label id="AbuSRTaxAmt"></label></td>
                            <td><label id="AbuReturn"></label></td>
                            <td><label id="AbuTax"></label></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="text-left">Ajman</td>
                            <td><label id="AjmSETaxable"></label></td>
                            <td><label id="AjmSETaxAmt"></label></td>
                            <td><label id="AjmSRTaxable"></label></td>
                            <td><label id="AjmSRTaxAmt"></label></td>
                            <td><label id="AjmReturn"></label></td>
                            <td><label id="AjmTax"></label></td>
                        </tr>
                       
                        <tr class="numberright">
                            <td class="text-left">Dubai</td>
                            <td><label id="DubSETaxable"></label></td>
                            <td><label id="DubSETaxAmt"></label></td>
                            <td><label id="DubSRTaxable"></label></td>
                            <td><label id="DubSRTaxAmt"></label></td>
                            <td><label id="DubReturn"></label></td>
                            <td><label id="DubTax"></label></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="text-left">Fujairah</td>
                            <td><label id="FujSETaxable"></label></td>
                            <td><label id="FujSETaxAmt"></label></td>
                            <td><label id="FujSRTaxable"></label></td>
                            <td><label id="FujSRTaxAmt"></label></td>
                            <td><label id="FujReturn"></label></td>
                            <td><label id="FujTax"></label></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="text-left">Ras al-Khaimah</td>
                            <td><label id="RasSETaxable"></label></td>
                            <td><label id="RasSETaxAmt"></label></td>
                            <td><label id="RasSRTaxable"></label></td>
                            <td><label id="RasSRTaxAmt"></label></td>
                            <td><label id="RasReturn"></label></td>
                            <td><label id="RasTax"></label></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="text-left">Sharjah</td>
                            <td><label id="ShaSETaxable"></label></td>
                            <td><label id="ShaSETaxAmt"></label></td>
                            <td><label id="ShaSRTaxable"></label></td>
                            <td><label id="ShaSRTaxAmt"></label></td>
                            <td><label id="ShaReturn"></label></td>
                            <td><label id="ShaTax"></label></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="text-left">Umm al-Quwain</td>
                            <td><label id="UmmSETaxable"></label></td>
                            <td><label id="UmmSETaxAmt"></label></td>
                            <td><label id="UmmSRTaxable"></label></td>
                            <td><label id="UmmSRTaxAmt"></label></td>
                            <td><label id="UmmReturn"></label></td>
                            <td><label id="UmmTax"></label></td>
                        </tr>

                        
                        <tr>
                            <td><strong>Purchase</strong></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr class="numberright">
                            <td class="text-left">Abu Dhabi</td>
                            <td><label id="AbuPETaxable"></label></td>
                            <td><label id="AbuPETaxAmt"></label></td>
                            <td><label id="AbuPRTaxable"></label></td>
                            <td><label id="AbuPRTaxAmt"></label></td>
                            <td><label id="AbuPReturn"></label></td>
                            <td><label id="AbuPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Ajman</td>
                            <td><label id="AjmPETaxable"></label></td>
                            <td><label id="AjmPETaxAmt"></label></td>
                            <td><label id="AjmPRTaxable"></label></td>
                            <td><label id="AjmPRTaxAmt"></label></td>
                            <td><label id="AjmPReturn"></label></td>
                            <td><label id="AjmPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Dubai</td>
                            <td><label id="DubPETaxable"></label></td>
                            <td><label id="DubPETaxAmt"></label></td>
                            <td><label id="DubPRTaxable"></label></td>
                            <td><label id="DubPRTaxAmt"></label></td>
                            <td><label id="DubPReturn"></label></td>
                            <td><label id="DubPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Fujairah</td>
                            <td><label id="FujPETaxable"></label></td>
                            <td><label id="FujPETaxAmt"></label></td>
                            <td><label id="FujPRTaxable"></label></td>
                            <td><label id="FujPRTaxAmt"></label></td>
                            <td><label id="FujPReturn"></label></td>
                            <td><label id="FujPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Ras al-Khaimah</td>
                            <td><label id="RasPETaxable"></label></td>
                            <td><label id="RasPETaxAmt"></label></td>
                            <td><label id="RasPRTaxable"></label></td>
                            <td><label id="RasPRTaxAmt"></label></td>
                            <td><label id="RasPReturn"></label></td>
                            <td><label id="RasPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Sharjah</td>
                            <td><label id="ShaPETaxable"></label></td>
                            <td><label id="ShaPETaxAmt"></label></td>
                            <td><label id="ShaPRTaxable"></label></td>
                            <td><label id="ShaPRTaxAmt"></label></td>
                            <td><label id="ShaPReturn"></label></td>
                            <td><label id="ShaPTax"></label></td>
                        </tr>

                        <tr class="numberright">
                            <td class="text-left">Umm al-Quwain</td>
                            <td><label id="UmmPETaxable"></label></td>
                            <td><label id="UmmPETaxAmt"></label></td>
                            <td><label id="UmmPRTaxable"></label></td>
                            <td><label id="UmmPRTaxAmt"></label></td>
                            <td><label id="UmmPReturn"></label></td>
                            <td><label id="UmmPTax"></label></td>
                        </tr>
                        <tr>
                            <td class="numberleft"><strong>Expense</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                        <tr class="numberright">
                            <td class="numberleft">All</td>
                            <td><label id="PETaxable"></label></td>
                            <td><label id="PETaxAmt"></label></td>
                            <td></td>
                            <td></td>
                            <td><label id="PETaxable"></label></td>
                            <td><label id="PETaxAmt"></label></td>
                        </tr>
                        <tr>
                            <td>
                                Nett Tax Payable (Output - (Opening +
                                Input))
                            </td>
                            <td class="numberright">
                               <label id="PayableTax"></label>
                            </td>
                            <td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                Tax to be Paid (Nett Tax - Payment)
                            </td>
                            <td class="numberright">
                                <label id="PTax"></label>
                            </td>
                            <td></td><td></td><td></td><td></td><td></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            allowInputToggle: true
        })
        $(document).ready(function () {
            //for set default date
            $('#To').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            $('#From').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var priordate = new Date(new Date().setDate(today.getDate() - 30));
            $('#To').datepicker('setDate', today);
            $('#From').datepicker('setDate', priordate);
            //---
            $('#SReport').hide();
        });


        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            $("#UserTable").dataTable().fnDestroy();
            $('#UserTable').DataTable({
                "paging": false,
                "ordering": false,
                "info": false
            });

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/TaxReports/GetUaeVat",
                data: JSON.stringify({
                    fromdate: $('#From').val(),
                    todate: $('#To').val(),
                }),
                success: function (e) { 
                    $('#PETaxable').text(e.arr[0]);
                    $('#PETaxAmt').text(e.arr[1]);

                    //var AbuSETaxable = e.sales.Where(a => a.State == "Abu Dhabi").Select(a => (a.Subtotal - a.Discount)).DefaultIfEmpty(0).Sum();
                    $('#AbuSETaxable').text(e.arr[2]);
                    $('#AbuSETaxAmt').text(e.arr[3]); 
                    $('#AbuSRTaxable').text(e.arr[4]); 
                    $('#AbuSRTaxAmt').text(e.arr[5]);
                    $('#AbuReturn').text(e.arr[6]);
                    $('#AbuTax').text(e.arr[7]); 

                    $('#AjmSETaxable').text(e.arr[8]);
                    $('#AjmSETaxAmt').text(e.arr[9]);
                    $('#AjmSRTaxable').text(e.arr[10]);
                    $('#AjmSRTaxAmt').text(e.arr[11]);
                    $('#AjmReturn').text(e.arr[12]);
                    $('#AjmTax').text(e.arr[13]);

                    $('#DubSETaxable').text(e.arr[14]);
                    $('#DubSETaxAmt').text(e.arr[15]);
                    $('#DubSRTaxable').text(e.arr[16]);
                    $('#DubSRTaxAmt').text(e.arr[17]);
                    $('#DubReturn').text(e.arr[18]);
                    $('#DubTax').text(e.arr[19]);

                    $('#FujSETaxable').text(e.arr[20]);
                    $('#FujSETaxAmt').text(e.arr[21]);
                    $('#FujSRTaxable').text(e.arr[22]);
                    $('#FujSRTaxAmt').text(e.arr[23]);
                    $('#FujReturn').text(e.arr[24]);
                    $('#FujTax').text(e.arr[25]);

                    $('#RasSETaxable').text(e.arr[26]);
                    $('#RasSETaxAmt').text(e.arr[27]);
                    $('#RasSRTaxable').text(e.arr[28]);
                    $('#RasSRTaxAmt').text(e.arr[29]);
                    $('#RasReturn').text(e.arr[30]);
                    $('#RasTax').text(e.arr[31]);

                    $('#ShaSETaxable').text(e.arr[32]);
                    $('#ShaSETaxAmt').text(e.arr[33]);
                    $('#ShaSRTaxable').text(e.arr[34]);
                    $('#ShaSRTaxAmt').text(e.arr[35]);
                    $('#ShaReturn').text(e.arr[36]);
                    $('#ShaTax').text(e.arr[37]);

                    $('#UmmSETaxable').text(e.arr[38]);
                    $('#UmmSETaxAmt').text(e.arr[39]);
                    $('#UmmSRTaxable').text(e.arr[40]);
                    $('#UmmSRTaxAmt').text(e.arr[41]);
                    $('#UmmReturn').text(e.arr[42]);
                    $('#UmmTax').text(e.arr[43]);

                    $('#AbuPETaxable').text(e.arr[44]);
                    $('#AbuPETaxAmt').text(e.arr[45]);
                    $('#AbuPRTaxable').text(e.arr[46]);
                    $('#AbuPRTaxAmt').text(e.arr[47]);
                    $('#AbuPReturn').text(e.arr[48]);
                    $('#AbuPTax').text(e.arr[49]);

                    $('#AjmPETaxable').text(e.arr[50]);
                    $('#AjmPETaxAmt').text(e.arr[51]);
                    $('#AjmPRTaxable').text(e.arr[52]);
                    $('#AjmPRTaxAmt').text(e.arr[53]);
                    $('#AjmPReturn').text(e.arr[54]);
                    $('#AjmPTax').text(e.arr[55]);

                    $('#DubPETaxable').text(e.arr[56]);
                    $('#DubPETaxAmt').text(e.arr[57]);
                    $('#DubPRTaxable').text(e.arr[58]);
                    $('#DubPRTaxAmt').text(e.arr[59]);
                    $('#DubPReturn').text(e.arr[60]);
                    $('#DubPTax').text(e.arr[61]);

                    $('#FujPETaxable').text(e.arr[62]);
                    $('#FujPETaxAmt').text(e.arr[63]);
                    $('#FujPRTaxable').text(e.arr[64]);
                    $('#FujPRTaxAmt').text(e.arr[65]);
                    $('#FujPReturn').text(e.arr[66]);
                    $('#FujPTax').text(e.arr[67]);

                    $('#RasPETaxable').text(e.arr[68]);
                    $('#RasPETaxAmt').text(e.arr[69]);
                    $('#RasPRTaxable').text(e.arr[70]);
                    $('#RasPRTaxAmt').text(e.arr[71]);
                    $('#RasPReturn').text(e.arr[72]);
                    $('#RasPTax').text(e.arr[73]);

                    $('#ShaPETaxable').text(e.arr[74]);
                    $('#ShaPETaxAmt').text(e.arr[75]);
                    $('#ShaPRTaxable').text(e.arr[76]);
                    $('#ShaPRTaxAmt').text(e.arr[77]);
                    $('#ShaPReturn').text(e.arr[78]);
                    $('#ShaPTax').text(e.arr[79]);

                    $('#UmmPETaxable').text(e.arr[80]);
                    $('#UmmPETaxAmt').text(e.arr[81]);
                    $('#UmmPRTaxable').text(e.arr[82]);
                    $('#UmmPRTaxAmt').text(e.arr[83]);
                    $('#UmmPReturn').text(e.arr[84]);
                    $('#UmmPTax').text(e.arr[85]);

                    $('#NetSale').text(e.arr[86]);
                    $('#NetReturn').text(e.arr[87]);
                    $('#NetSaleTax').text(e.arr[88]);
                    $('#NetPurchase').text(e.arr[89]);
                    $('#NetPReturn').text(e.arr[90]);
                    $('#NetPurchaseTax').text(e.arr[91]);
                    $('#ExpTax').text(e.arr[92]);
                    $('#PayableTax').text(e.arr[93]);
                    $('#PTax').text(e.arr[94]);
                },

            });
            $('#SReport').show();

            
        });

        $('#UserTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $("#UserTable").dataTable().$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('dataTables_row');
            }
        });
    </script>
}